[2017-11-06 14:54] e-minguez commented on #6018
Shall we create an etcd container for CentOS and host it in the docker hub as we do with some other pods https://hub.docker.com/u/openshift/?

[2017-11-06 16:40] nodefourtytwo opened #6025 "master has not created a default cluster network"
#### Description

On a multi master setup, during install the origin-node doesn't restart and the playbook fails.

##### Version

[code]

##### Steps To Reproduce
1. configure the inventory with a 3 master / 3 etcd / 2 nodes
openshift_deployment_type=origin
openshift_master_cluster_method=native
openshift_use_openshift_sdn=true

2. ansible-playbook -i inventory playbooks/byo/config.yml

##### Expe

[2017-11-06 17:40] #5835 closed

[2017-11-06 17:50] deuther commented on #6018
hmm, but I'm configuring option `openshift_use_system_containers=False` so that `etcd_image` should be ignored, right?

[2017-11-06 18:10] boeboe opened #6028 "logging: allow specifying a pvc storage class name for ES deploy"
#As an openshift cluster admin, I would like to be able to specify a specific storage class name when going for a static VPC strategy. This is currently only possible with a non-documented internal ansible variable **openshift_logging_elasticsearch_pvc_storage_class_name**. Exposing it as a new public/documented variable **openshift_logging_es_pvc_storage_class_name** seems like an added value.

*

[2017-11-06 18:11] boeboe commented on #6028
PR created: https://github.com/openshift/openshift-ansible/pull/6029

[2017-11-06 18:57] deuther commented on #6019
Hmm, looks like the problem is related to the multiple `openshift_disable_check` lines. Should be something like this: `openshift_disable_check=docker_image_availability,disk_availability,memory_availability,docker_storage`

[2017-11-06 19:24] sdodson commented on #6014
We previously did this by marking the masters unschedulable but we can't do that any longer. I believe @derekwaynecarr and @pmorie were suggesting that we use taints and tolerations instead.

[2017-11-06 21:00] smarterclayton commented on #6013
@sdodson

[2017-11-06 21:03] sdodson commented on #6013
I need to reproduce this, QE filed a similar bug and we fixed this in OCP and that solution should've been general enough to work for origin as well. Can you get me `grep origin /var/log/yum*` from a host so that I can see what versions have been installed in the past?

[2017-11-07 02:10] wally-87 commented on #5909
I was changed file roles/openshift_facts/library/openshift_facts.py

    if 'master' in facts:
        deployment_type = facts['common']['deployment_type']
        openshift_features = ['Builder', 'S2IBuilder', 'WebConsole']
        if 'disabled_features' not in facts['master']:
            if facts['common']['deployment_subtype'] == 'registry':
                facts['master']['disabled_features']

[2017-11-07 03:13] inderchauhan76 opened #6038 "enshift 4.5"
#### Description

Provide a brief description of your issue here. For example:

##### Version

Please put the following version information in the code block
indicated below.

* Your ansible version per `ansible --version`

If you're operating from a **git clone**:

* The output of `git describe`

If you're running from playbooks installed via RPM or
`atomic-openshift-utils`

* The output of `rpm

[2017-11-07 08:04] gordonwisc commented on #5076
Same issue as well. It's the latest master branch. My env is a single master node, but I still got this error Unable to restart service origin-master-api

[2017-11-07 08:43] aizuddin85 commented on #6025
Is it possible to provide full inventory file? There are still missing main information like which commit.

[2017-11-07 09:10] nodefourtytwo commented on #6025
Sure.

[code]

[2017-11-07 09:18] aizuddin85 commented on #6025
Seems like you did not specify which origin version, hence master version.

This is my inventory file, very minimal but working. Prior to run checked out the revision first `git checkout release-1.5`.
[code]

[2017-11-07 09:32] nodefourtytwo commented on #6025
We're using the release-3.6 branch.

[2017-11-07 15:31] dustymabe commented on #6004
@jarrpa - can you PTAL. Also I haven't seen you in IRC.. Away?

[2017-11-07 15:35] jarrpa commented on #6004
@dustymabe Sure thing. And no, my IRC redirector has been down since last week, and I forget to reconnect to IRC directly when I rejoin the VPN. :)

[2017-11-07 15:36] dustymabe commented on #6004
@jarrpa ping me in IRC when you get reconnected. I have some other questions.

[2017-11-07 15:37] jarrpa commented on #6004
@dustymabe Ah, I see. Yes, this is a temp mount. We just need to mount the GlusterFS volume to set the GID on the root of the volume to something the registry process uses. I'm not sure what the exact solution is, but if you know it shul dbe simple enough to automate.

[2017-11-07 15:42] dustymabe commented on #6004
Do you just 1. mount, 2. set GID, 3. unmount? Or do we not actually do the unmount?

It looks like we should run the [mount](http://docs.ansible.com/ansible/latest/mount_module.html) module with `absent`.

Note I do see the mount in my fstab so that's why it's trying to get mounted:

[code]

[2017-11-07 15:43] dustymabe commented on #6004
looks like we need to do both `unmounted` and `absent`

[2017-11-07 16:03] jarrpa commented on #6004
Yeah, we unmount it around line 82 in the `glusterfs.yml` file. Sounds like a trivial fix, at least!

[2017-11-07 16:05] sudhiragarwal098 opened #6043 "In openshift-enterprise, getting docker-registry error while installing openshift"
#### Description

When i am running atomic-openshift-installer script, it is throwing an error saying "docker_image_availability" check failed. Following is the complete error:

Failure summary:
  1. Hosts:    openshift2
     Play:     Verify Requirements
     Task:     openshift_health_check
     Message:  One or more checks failed
     Details:  check "docker_image_availability":

[2017-11-07 16:11] dustymabe commented on #6004
Nice. I think we just need to convert the following into a `mount` module with state of `absent`. Since that will clean up the directory as well.

https://github.com/openshift/openshift-ansible/blob/c99bfde17bca322e8a89ba3e9dc4e4fdc2776448/roles/openshift_hosted/tasks/storage/glusterfs.yml#L87-L92

[2017-11-07 16:27] jarrpa commented on #6004
Not quite, you want this one:

https://github.com/openshift/openshift-ansible/blob/c99bfde17bca322e8a89ba3e9dc4e4fdc2776448/roles/openshift_hosted/tasks/storage/glusterfs.yml#L82-L85

[2017-11-07 16:54] jkroepke commented on #2823
It happends because rename isn't supported on overlayfs

[code]

Deleting is folder is a valid workaround for this issue. RedHat should maybe use move instead rename.

See: https://docs.docker.com/engine/userguide/storagedriver/overlayfs-driver/

[2017-11-07 17:30] jarrpa commented on #6004
...that doesn't make sense. If `specifying absent will remove the mount point directory` is true, that means the mount itself has to have been removed first...? Will an `absent` fail if an `unmounted` hasn't been set first?

[2017-11-07 17:32] jarrpa commented on #6004
Yeah, see here: https://github.com/ansible/ansible/issues/18948

[2017-11-07 18:08] dustymabe commented on #6004
makes sense. docs were wrong 🤷‍♂️ . I think we are both on the same page.

[2017-11-07 20:16] deuther commented on #5534
Similar issue for 3.7.0-rc.0

* $ git describe
`openshift-ansible-3.7.0-0.197.0`

* inventory file
[code]
[journalctl--no-pager-u_origin-master-api.log](https://github.com/openshift/openshift-ansible/files/1451500/journalctl--no-pager-u_origin-master-api.log)

[2017-11-07 20:34] ramato-procon opened #6049 "nfsnobody user and group should be created by openshift_storage_nfs"
#### Description

The ansible installer fails with openshift_hosted_registry_storage_kind=nfs, because user and group nfsnobody is expected, but not created by role openshift_storage_nfs.

##### Version

Please put the following version information in the code block
indicated below.

* ansible 2.4.0.0

If you're operating from a **git clone**:

* openshift-ansible-3.7.0-0.197.0-9-gdbf69689c

#####

[2017-11-07 21:19] kunallimaye commented on #2823
Another workaround is to create a persistent volume claim in the deployment
config like below

[code]

--
Kunal Limaye

On 8 November 2017 at 03:54:53, Jan-Otto Kröpke (notifications@github.com)
wrote:

It happends because rename isn't supported on overlayfs

Renaming directories: Calling rename(2) for a directory is allowed
only when both the source and the destination path are on the top
layer.

[2017-11-07 21:21] kunallimaye commented on #2823
Another workaround is to create a persistent volume claim in the deployment
config like below:

[code]

[2017-11-07 21:35] michaelgugino commented on #6019
@deuther That variable supports a yaml list.  If specifying in your inventory, it should look like this:

var1=['foo', 'bar']

[2017-11-07 22:17] jkroepke commented on #2823
It should be included into the standard xPASS Images

[2017-11-07 22:24] ramato-procon commented on #5517
+1 docker install on fedora 26 not possible.

Then I tried to install docker-ce manually, but it seems there was already version 1.13.1 installed before:

[code]
And it is already installed:
[code]
But I don't know how it was installed, I didn't install it.
I will retry from clean install tomorrow.

Additional there are some known issues with fedora 26+docker: https://github.com/docker/for-linux/i

[2017-11-07 23:00] michaelgugino commented on #6025
Thanks for the details.  I will see if I can replicate the issue.

[2017-11-08 01:11] nekop commented on #5349
Yes NetworkManager is required as described in the install doc https://docs.openshift.org/latest/install_config/install/prerequisites.html#prereq-networkmanager

Just remove NM_CONTROLLED=no from your NIC configuration.

[2017-11-08 06:54] davistran86 opened #6053 "Unable to install GlusterFS (status: in progress) when install openshift"
I'm trying to install a fresh Openshift 3.6 origin cluster including Glusterfs, everything went smooth but only Glusterfs install show errors. Please help, thanks.

Here is my ansible inventory:

[2017-11-08 08:38] zjagust commented on #5750
I'm having the exact same problem. Started with metrics v3.6.0, tried with "latest" also, but same thing happens. Here are my metrics ansible hosts definitions:

# Enable metrics
openshift_master_default_subdomain=openshift.local.lan
openshift_metrics_install_metrics=true
openshift_metrics_hawkular_hostname=hawkular-metrics.openshift.local.lan
openshift_metrics_image_version=v3.6.0
openshift_metri

[2017-11-08 09:04] deuther commented on #5534
Seems that adding `etcd_version=3.2.7` to the inventory file solves the problem for me

[2017-11-08 10:14] kbsingh commented on #6018
@bamachrn can we ensure that a full stack of origin containers, based on CentOS-PaaS-SIG content is available at registry.centos.org ?

cc @detiber @sdodson @tdawson

[2017-11-08 11:45] zjagust commented on #5750
Ok, I have managed to solve this by creating a PV called metrics-1 with label "storage: metrics" in openshift-infra namespace prior to executing ansible metrics playbook.

This, of course, makes me wonder why the playbook itself does not create a persistent volume before the claim is created. This would only be logical, as if there is no persistent volume present, there is no use for claim also as

[2017-11-08 11:59] zjagust commented on #5842
According to Kubernetes documentation, a storageClassName can have an empty value (does not have to be defined), which means that persistent volume claim without defined storage class will request a persistent volume which has no class define also.

Regarding OpenShift, claims have selector defined with matchLabel variable, and that variable needs to be the same as Label variable defined for persi

[2017-11-08 12:15] pgeorgiev333 commented on #2709
I'm hitting the same issue. How to fix it?

[2017-11-08 14:16] michaelgugino commented on #5534
@abutcher Can you take a look at the need to specify the etcd version here?

[2017-11-08 14:21] cello86 commented on #5931
Hi @abutcher,
I configured the openshift_master_named_certificates adding also the parameter "names" and this works fine.

[code]

Actually we have a problem after the console certificate upgrade, because the console certs is ok but the registry and registry console don't work correctly.

Marcello

[2017-11-08 14:31] pgeorgiev333 opened #6057 "Installation fails with latest master branch"
#### Description
Cannot install openshift origin from the master branch.

##### Version

[code]

##### Steps To Reproduce
1. Run the playbook

[code]

##### Expected Results
Install to be successful.

##### Observed Results
Installation fails on TASK [initialize_facts set_fact on openshift_docker_hosted_registry_network]

[code]

##### Additional Information

CentOs 7

I have 1 master, 2 nodes and

[2017-11-08 14:44] pgeorgiev333 commented on #6057
I noticed that there is another error before the last one:

TASK [Gather Cluster facts and set is_containerized if needed] ******************************************************************************************************************************************
Wednesday 08 November 2017  16:41:14 +0200 (0:00:00.160)       0:00:41.517 ****
ok: [oc-node-1.XXX.YYY]
ok: [oc-gluster-2.XXX.YYY]
fatal:

[2017-11-08 15:09] smarterclayton opened #6058 "Prometheus default namespace should be `openshift-metrics` not `prometheus`"
This must be changed prior to 3.7 ship.

[2017-11-08 15:09] smarterclayton commented on #6058
@zgalor

[2017-11-08 15:11] smarterclayton commented on #6058
openshift-metrics is the correct place to put it since it will be part of both monitoring and metrics pipelines.

[2017-11-08 15:15] sdodson commented on #6058
/assign zgalor

[2017-11-08 15:23] deuther commented on #5534
Nope, subsequent install failed again, so the above hint is rather irrelevant

[2017-11-08 15:29] deuther commented on #6019
@michaelgugino yep, I've figured this out, pls see my above comment. Thanks, anyway

[2017-11-08 15:37] abutcher commented on #5534
@deuther's API logs show that OpenShift is getting connection refused from etcd. Is there any info in the journal for etcd and is the service dying?

[2017-11-08 16:26] #6019 closed

[2017-11-08 17:54] deuther commented on #5534
@abutcher that refusal made me to think that specifying etcd version might help.
And yes, etcd is dying at some point:
[code]

but sometime later it recovers, so that origin-master-api and master controllers also recover.

[2017-11-08 18:10] deuther commented on #5534
As a quick workaround I'm considering to increase number of retries while waiting to restart master controllers:

[code]

[2017-11-08 19:24] michaelgugino opened #6066 "cleanup openshift_examples"
This role needs some cleanup.  For starters, no need to tar up the files before copying them.

[2017-11-09 05:40] aizuddin85 commented on #5534
When deployed in GCE, hit IP conflicts, going to re-run again with IP range declared. This is expected in GCE.

Error:
[code]

Inventory:
[code]

[2017-11-09 06:20] aizuddin85 commented on #5534
With below inventory, seems like the master controller is running, but stuck at different error:
[code]

Running master controller:
[code]

Current error:
[code]

[2017-11-09 11:17] balioune opened #6071 "Errors after deploying origin on Fedora 26"
#### Description

I deployed openshift all in one in Fedora Atomic 26 with openshift- ansible project, the install process run without any error but :

[code]
[code]

[code]
[code]

the deploiement of a simple rubby App fails with this message :

[code]
##### Version

Please put the following version information in the code block
indicated below.

* `ansible --version`
ansible 2.2.0.0

*  `git des

[2017-11-09 13:20] wozniakjan commented on #5497
We have introduced and released new tag v3.6. This tag will be updated regularly, will no longer have to wait for release engineers to push a new image. More info here https://github.com/openshift/origin-aggregated-logging/pull/758

This should be working now:
`openshift_logging_image_version=v3.6`

[2017-11-09 14:51] djdevin commented on #6071
since you only have one node with "Ready,SchedulingDisabled" it means pods will not get placed anywhere

there might be a way to do this with the ansible config but I know you can run this to get pods to be placed on it:

`oc adm uncordon 192.168.122.156`

[2017-11-09 15:09] sosiouxme commented on #6057
The earlier error causes the one that's reported at the end because nodes try to look up master variables that aren't set due to early failure. It's very confusing and unfortunate.

As far as the real error, I'm seeing it too and I have no idea why yet:

[code]

[code]

[2017-11-09 19:33] michaelgugino commented on #6057
This seems to be related to stale data on either the target host or the localhost (where ansible is run from) in the following file:

'/etc/ansible/facts.d/openshift.fact'

I'm unsure of the root cause as to why the logging variables are inject into that file, or if they are needed/desired in that file.

The work around for now is to back up that facts file (not sure if it's needed on subsequent r

[2017-11-09 20:07] sosiouxme commented on #6057
I have logging and metrics vars commented out in inventory:

[code]

I ran with them on an initial run and then commented them out later. Logging is in fact deployed.

[2017-11-09 20:46] michaelgugino opened #6080 "openshift_use_crio missing from node_upgrade"
Unit files are missing logic for openshift_use_crio.

[2017-11-09 22:09] dsutherland1492 opened #6083 "Gluster Deployment Fails on Initial Install Due To Python Error"
[hosts.txt](https://github.com/openshift/openshift-ansible/files/1459365/hosts.txt)
#### Description

Provide a brief description of your issue here. For example:

[code]

##### Version

Please put the following version information in the code block
indicated below.
* Your ansible version per `ansible --version`

If you're running from playbooks installed via RPM or
`atomic-openshift-utils`

* The

[2017-11-09 23:58] debianmaster commented on #3034
running into this exact same issue.   can anyone help with a resolution.  none of the above worked for me

[2017-11-10 02:01] kameshsampath commented on #5131
ow to know the right release version of this Bug in upstream. I am facing this issue in latest versions of atomic-openshift-utils installed via upstream centos-release-openshift-origin repo. I have rebounce the servers to see the `/etc/origin/node/resolv.conf` to be created. wondering ansible handlers queue is fired bit late than needed. This usually happens after node is restart handler is fired

[2017-11-10 02:18] kameshsampath opened #6085 "Origin Install Fails on Centos7-Azure"
#### Description

unable to perform successful openshift origin install on CentOS , install fails with inability to start the origin-node service

Related: https://github.com/openshift/openshift-ansible/issues/5131

##### Version

[code]

##### Steps To Reproduce
1. build 4 nodes on Azure Cloud
2. build a openshift single master and multi nodes ansible hosts like given in official docs https://doc

[2017-11-10 10:26] adelton opened #6086 "TASK [template_service_broker : Reconcile with RBAC file] fails"
#### Description

Provide a brief description of your issue here.

On a RHEL 7.4 machine, running

[code]

fails.

##### Version

Please put the following version information in the code block
indicated below.

* Your ansible version per `ansible --version`

[code]

If you're operating from a **git clone**:

* The output of `git describe`

[code]

If you're running from playbooks installed via RPM

[2017-11-10 10:33] adelton commented on #6086
In those passing jobs (until 2017-11-07) I see

[code]

which might be the reason why we did not see the failure earlier.

[2017-11-10 10:39] adelton commented on #6086
I have got

[code]

and `oc auth reconcile -f` seems to be a 3.7 thing: https://github.com/openshift/origin/issues/15412, https://github.com/openshift/openshift-docs/pull/5725/files.

But that origin-clients-3.6.1 was installed by the ansible playbook, so it should know it has installed old version ...

[2017-11-10 10:46] ramato-procon commented on #5517
Okay. I reinstalled Fedora 26.
Then I prepared the openshift installation, but did not install docker.
docker --> command not found
Then I executed the ansible script.
Result: Docker 1.13.1 was installed by ansible, but ansible cannot locate it.

`TASK [openshift_node_facts : Set node facts] ***********************************************************************************************************

[2017-11-10 12:03] mcanevet opened #6087 "Single etcd install fails on release-3.7"
#### Description

On a single etcd node install, ansible-playbook fails with

    "Unable to restart service origin-master-api: Job for origin-master-api.service failed because the control process exited with error code. See \"systemctl status origin-master-api.service\" and \"journalctl -xe\" for details.\n"

When connecting to the master, it looks like there is a certificate issue in etcd:
[code

[2017-11-10 12:38] mjudeikis commented on #5468
Both PR:
https://github.com/openshift/openshift-ansible/pull/6073
https://github.com/openshift/openshift-ansible/pull/5723
should make glusterfs role idempotent

We still seeing some strange behavior in swap and swapcopy behavior. this is next

[2017-11-10 14:45] mcanevet opened #6089 "ansible-service-broker deployment is not idempotent"
#### Description

Using release-3.7 branch I get this error when running twice:

[code]

##### Version

[code]

[2017-11-10 15:14] jkhelil commented on #5893
Hi @abutcher
What about the error related to etcd, I am getting the same error with openshift ansible relase 3.6
 uncher[9245]: TASK [etcd : Write etcd global config file] ************************************
uncher[9245]: fatal: [xxxxxxx]: FAILED! => {"changed": false, "failed": true, "msg": "AnsibleUndefinedVariable: 'dict
uncher[9245]: fatal: [xxxx]: FAILED! => {"changed": false, "failed": true

[2017-11-10 15:33] jarrpa commented on #5468
Of those, only #5723 seems relevant to this Issue. I'd say open another Issue to track idempotence for the GlusterFS playbook and track the other stuff there. That way we can close this Issue when the one PR merges. :)

[2017-11-10 15:45] mjudeikis commented on #5468
yes :) but #6073 makes storage goes down each time it runs...
We got another issue with registry health checks for this, but still checking if this is ansibe error or docker distribution :) lets say as soon as 5723 merges we close this one :)

[2017-11-10 15:47] jarrpa commented on #5468
WFM!

[2017-11-10 15:55] abutcher commented on #5893
The `etcd_hostname` error occurs because we skipped the step that sets `etcd_hostname` due to the original failure.

[2017-11-10 16:10] dustymabe commented on #6018
We opened an issue to see if we can do something like `registry.fedoraproject.org/latest/etcd`: https://pagure.io/atomic-wg/issue/376

[2017-11-10 20:17] mbarnes opened #6092 "AWS provisioning got'cha: subnet/vpc defaults"
Wanted to notify @kwoodson of something that tripped me up when trying to use his [AWS provisioning](https://github.com/openshift/openshift-ansible/tree/master/playbooks/aws).

Starting from [provisioning_vars.yml.example](https://github.com/openshift/openshift-ansible/blob/master/playbooks/aws/provisioning_vars.yml.example), I changed the `openshift_aws_region` from its default `us-east-1` to `ca

[2017-11-10 20:29] abutcher commented on #6087
We're mentioned here in this etcd issue for what seems to be the same problem although it's non fatal in their case. https://github.com/coreos/etcd/issues/8603#issuecomment-341508947

[2017-11-10 20:30] abutcher commented on #6087
cc: @ingvagabund

[2017-11-10 21:26] sosiouxme commented on #5675
LGTM thanks

[2017-11-10 21:57] abutcher commented on #6087
I thought I had reproduced this but I just had an old haproxy service blocking my master from listening on port 8443.

@mcanevet Does etcd report `"cluster is healthy"` testing `cluster-health` using the peer and master client certificates?

[code]

[code]

[2017-11-12 17:11] ccollicutt commented on #6086
I have this issue as well...any thoughts on how I can get past this? :)

[2017-11-12 19:00] mlbiam commented on #5249
Any updates on this?  I have the exact same issue on an `oc cluster up` on CentOS 7

[2017-11-12 23:17] ebracho opened #6096 "GlusterFS Provisioners fails on non-master nodes"
#### Description

BYO playbook fails on the `Load heketi toplogy` task. Some details about the infrastructure:
* 3 Node Cluster on AWS (1 master, 2 nodes)
* Containerized deployment, all hosts are running CentOS 7 Atomic Host
* Each host has a 100GB EBS volume mounted to `/dev/xvdg`

##### Version

* ansible 2.3.1.0
* openshift-ansible-3.6.173.0.70-1

##### Steps To Reproduce
1. [Provision cluster

[2017-11-13 06:44] eliu opened #6097 "Some required package(s) are available at a version that is higher than requested"
#### Description

Provide a brief description of your issue here. For example:

[code]

##### Version

Please put the following version information in the code block
indicated below.

* Your ansible version per `ansible --version`

[code]

If you're operating from a **git clone**:

* The output of `git describe`

[code]

Place the output between the code block below:

[code]

##### Steps To Reprod

[2017-11-13 09:52] rabem00 commented on #5233
Same issue here, I looked but cannot find a setting for using in the inventory. There should be a way to set a default storageclass from within the inventory.

[2017-11-13 12:07] eliu commented on #6097
Any updates on this please? This is very urgent for me ,cause my cluster is keeping down due to this error.. Kindly help.

[2017-11-13 15:56] enj opened #6098 "Force use of node authorizer in 3.8"
As a post upgrade step for `3.7 -> 3.8`, run:

`oc adm policy remove-cluster-role-from-group system:node system:nodes`

to force node actions to only be authorized by the node authorizer (and not RBAC).

Context:

https://github.com/openshift/openshift-docs/issues/4906#issuecomment-343227034
https://github.com/openshift/openshift-docs/issues/4906#issuecomment-343962733

cc @sdodson

[2017-11-14 05:04] eliu commented on #6087
I had the similar issue. Any updates on this?

[2017-11-14 05:29] tomassedovic commented on #6086
I haven't tested/verified this yet but this commit seems to have introduced the breakage:

https://github.com/openshift/openshift-ansible/commit/ad977b701124f5e134e8c2a0cbc6e907ce177366

[2017-11-14 06:09] tomassedovic commented on #6086
Yep, it's commit ad977b701124f5e134e8c2a0cbc6e907ce177366.

[2017-11-14 07:13] adelton commented on #6086
@tomassedovic, I don't think that's the one. Semantially, it's still `oc auth reconcile -f -`, before the commit and after that, which is bound to fail on 3.6.

That commit is part of some bigger branch which AFAICT causes `TASK [template_service_broker : Reconcile with RBAC file]` to be no longer skipped, like it was before.

[2017-11-14 07:58] eliu opened #6106 "etcd started with error: transport: remote error: tls: bad certificate; please retry"
#### Description

Try to install OpenShift Origin using openshift-ansible playbook with branch `release-3.6`. I got the following error at `enable and start origin-master` step during the installation process:

[code]

Check service log of origin-master, and get many `tls:handshake timeout` errors.

then check etcd logs using `journalctl -u etcd -lf` and got:

[code]

##### Version

Please put the

[2017-11-14 14:44] michaelgugino commented on #1492
Closing due to inactivity.

[2017-11-14 14:44] #1492 closed

[2017-11-14 14:54] michaelgugino commented on #4417
This is fixed now.https://github.com/openshift/openshift-ansible/pull/6046

[2017-11-14 14:54] #4417 closed

[2017-11-14 16:34] juanwolf opened #6111 "Glusterfs Storage: heketi-storage-copy-job Failing"
#### Description

On a hybrid gluster installation:
6 gluster nodes not in openshift (CentOS to be exact)
1 heketi pod on openshift

##### Version

[code]

##### Steps To Reproduce
1. Deploy the 6 nodes, and a working openshift cluster
2. run the playbooks/byo/openshift-glusterfs/config.yml

##### Expected Results

Heketi installed and configured on the openshift cluster using the external gluster

[2017-11-14 19:27] randy280872 opened #6112 "Tag 3.6.0 not found in repository"
#### Description

During the installation of openshift origin it tries to pull the openshift/origin:3.6.0 image from docker hub, I am getting "Tag 3.6.0 not found in repository docker.io/openshift/origin".
When I check docker hub it only has the "latest" tagged version of openshift origin.

##### Version

openshift 3.6.0

* Your ansible version per `ansible --version`
ansible 2.4.0.0

If you're op

[2017-11-14 19:50] abutcher commented on #5331
I haven't been able to reproduce this with centos7 + lb in the inventory.

[2017-11-14 19:52] xqianwang commented on #6085
We are facing exactly same issue.

[2017-11-14 19:55] xqianwang commented on #6085
@sdodson
Can you please look into this? After installation, all nodes dns are missing.
example:

db0          Ready                      27m       v1.6.1+5115d708d7
db1          Ready                      27m       v1.6.1+5115d708d7
db2          Ready                      27m       v1.6.1+5115d708d7
master0      Ready,SchedulingDisabled   27m       v1.6.1+5115d708d7
master1      Ready,SchedulingDi

[2017-11-14 21:34] michaelgugino opened #6116 "glusterfs role cleanup"
This role could use some cleanup in terms of this repository's 'coding standards'.

Item 1:  Limit use of set_fact, where possible.  Often, it is possible to avoid using set_fact, and that is preferable.

[2017-11-15 03:10] balioune commented on #6071
Thanks for you reply @djdevin. You suggestion works.
So how can can I configure that with the ansible config ?
BR,

[2017-11-15 07:54] eliu commented on #6106
More logs from journalctl as below:
[code]

[2017-11-15 08:10] #3082 closed

[2017-11-15 09:12] juanwolf commented on #6112
Hi @randy280872,

This issue happened to me before, you need to prefix the versions with a `v`.

Example of what I have in my inventory file:

[code]

Hope it helps.

[2017-11-15 13:36] ramato-procon commented on #5517
At Fedora 26 docker version 1.13.1 is installed in the master phase --> docker playbook.
Later the same playbook is executed for the node phase.
In the second phase docker has already been installed before (as we are running **master and node on the same machine**).

Master phase:
`TASK [docker : Install Docker] **************************************************************************************

[2017-11-15 13:48] juanwolf commented on #6111
Looks like some regression as the fix provided in ﻿https://github.com/heketi/heketi/issues/848 fixed my issue.

To summarize the `heketi-cli setup-openshift-heketi-storage` does not provide the `serviceAccount: heketi-storage-service-account` declaration and the copy job fail.

The fix was to leave the playbook running during the checks ` Wait for copy job to finish`, delete the job created and cr

[2017-11-15 18:21] fraenkel opened #6125 "Install examples does not accept a boolean value"
We switched our inventory to a yaml file and noticed that we could no longer control installing examples.

It seems that when evaluating openshift_install_examples is evaluated, it is the only case where default(true, true) is used which gives you true with a false value which is obviously wrong.

Given this is the only case where default(true, true) is utilized, I couldn't figure out why it isn't

[2017-11-15 18:35] sosiouxme opened #6126 "CNS deploy failing with heketi reporting glusterd failling to start"
#### Description

I tried to install OCP 3.7 with CNS support and couldn't get it started.

##### Version

[code]

##### Steps To Reproduce
1. `ansible-playbook playbooks/byo/config.yml` but have it break partway through the glusterfs setup. I think in my case it may have been the yum failure to install `iptables-services` or because the devices I gave gluster weren't clear of LVM partitions, or b

[2017-11-15 18:35] sosiouxme commented on #6126
@jarrpa for your consideration...

[2017-11-15 19:11] #6057 closed

[2017-11-15 20:49] jarrpa commented on #6126
@sosiouxme Where did the file `glusterfs-status` come from? I noticed this line:
[code]
Is that normal?

Since the playbooks fail at the GlusterFS portion, there should still be a temp directory on the machine running the playbooks with the files it was working with. Can you go to that directory and try manually running the topology load command? Both the directory name and the command should be i

[2017-11-15 21:04] sosiouxme commented on #6126
That comes from running `oc status` in the glusterfs project. Just an
overview of what's there (although it leaves out daemonsets among other
things).

It's normal if there's no router installed. I'm thinking the glusterfs
portion of the install happens before that.

That cluster is blown away now, sorry. I tried another install today and it
failed for several reasons other than glusterfs, will pr

[2017-11-15 21:53] pradeeppandeyy opened #6131 "Default interface issue."
#### Description

Provide a brief description of your issue here. For example:

##### Version

Please put the following version information in the code block
indicated below.

* Your ansible version per `ansible --version`

If you're operating from a **git clone**:

* The output of `git describe`

If you're running from playbooks installed via RPM or
`atomic-openshift-utils`

* The output of `rpm

[2017-11-15 21:53] pradeeppandeyy commented on #6131
have tow interfaces in all the Vms. How can I define which interface to use for configuration.

[2017-11-15 21:54] pradeeppandeyy commented on #6131
I have two interfaces in all the VMS. How can I define which interface to use for configuration?

[2017-11-16 00:40] djslavens opened #6133 "Openshift origin 3.6.1 install fails on rhel server 7.4"
#### Description

##### Version

* Your ansible version per `ansible --version`
  ansible 2.3.1.0

* The output of `git describe`
   openshift-ansible-3.7.5-1-36-gc5afbd8

Place the output between the code block below:

[code]

##### Steps To Reproduce
1. Install 2 rhel server 7.4 VMs on host using libvirtd - one as master/node, one as node
2. Use inventory below to install openshift origin 3.6.1

[2017-11-16 06:21] randy280872 commented on #6112
Hi @juanwolf ,

Thank you, that worked for me!

[2017-11-16 06:21] #6112 closed

[2017-11-16 07:18] #5567 closed

[2017-11-16 09:27] FengyunPan opened #6135 "Failed to reconcile with RBAC file"
#### Description
TASK [template_service_broker : Reconcile with RBAC file] *********************************************************************************************************************************************************
Thursday 16 November 2017  17:15:25 +0800 (0:00:04.932)       0:11:09.874 *****
fatal: [master.example.com]: FAILED! => {"changed": true, "cmd": "oc process -f \"/tmp/tsb-

[2017-11-16 11:13] mrsiano opened #6137 "tuneable prometheus"
this issue is more about RFE
based on the template
https://github.com/openshift/openshift-ansible/tree/master/roles/openshift_prometheus/templates

we want to have the ability to extend some prometheus args on demand e.g
https://github.com/mbruzek/ansible-openstack-setup/blob/9b7117eb97e868f96f46a10866ff687f5ba72e5f/templates/prometheus-high-performance.yaml#L147

so instead of using custom templa

[2017-11-16 11:13] mrsiano commented on #6137
@jeremyeder @mbruzek

[2017-11-16 11:16] mrsiano commented on #6137
@sdodson

[2017-11-16 13:35] DanyC97 commented on #4088
i'm interested too in this answer, thank you @dcbw

[2017-11-16 13:51] sdodson commented on #6137
Seems reasoanble to allow specifying a list of arbitrary args to be included by the template.
/assign zgalor

[2017-11-16 13:53] #438 closed

[2017-11-16 18:08] jaypoulz commented on #6133
So far in debugging this issue, we're determined that the DNS lookup fails because the node uses `node-openshift-vm-com` for it's curl base url instead of the correct url `node.openshift.vm.com`.

Using the correct URL on the server results in successfully pulling down the health check file, containing the contents `OK`.

Issues with similar behavior that have been logged in the past include #1662

[2017-11-16 23:40] matthewvalimaki commented on #6135
I got this as well today with brand new 1.6.1 (v1.6.1+5115d708d7). Out of three masters the first (master0) failed. I assume the other two would fail two but the script stops with the first.

[code]

[2017-11-16 23:42] matthewvalimaki commented on #6135
Oops this seems to be duplicate of #6086.

[2017-11-17 11:03] fanshengado opened #6166 "Create the Broker resource in the catalog Error!"
TASK [ansible_service_broker : Create the Broker resource in the catalog] *******************************************************
task path: /root/openshift-ansible-openshift-ansible-3.7.8-1/roles/ansible_service_broker/tasks/install.yml:459
fatal: [master01.openshift.local]: FAILED! => {"changed": false, "failed": true, "msg": {"cmd": "/usr/bin/oc create -f /tmp/brokerout-3D9eja -n default", "res

[2017-11-17 14:40] pradeeppandeyy commented on #6089
Same Issue

[2017-11-17 16:30] ramato-procon commented on #5517
Now I tried to install the master and node on separate Fedora 26 machines.
The same result: Docker was installed at the master, but the step failed on the node,
while executing the same dnf command.

[2017-11-17 18:41] ramato-procon commented on #5517
I discovered that the `docker excluder` "Install docker excluder - dnf"  openshift-ansible/roles/openshift_excluder/tasks/install.yml
is called after installing docker at the master,
**but before** installing docker at the node.
If I uncomment lines 22-28 in install.yml docker is installed at the node.

@abutcher or @sdodson Can you please take a look why the excluder is called before installing d

[2017-11-17 21:23] sosiouxme commented on #3479
I think a number of recent proposals are making strides toward fixing this. I am hopeful with the role refactoring we'll soon be able to establish a pattern of pre-run validation per role. I think we can close this particular issue (but someone reopen if you want to keep it as a reminder).

[2017-11-17 21:23] #3479 closed

[2017-11-18 12:53] glennswest commented on #2823
I have added the workaround the the ocp azure ref arch. The problem duplicates everytime without the fix.

[2017-11-19 13:30] zgalor commented on #6137
https://github.com/openshift/openshift-ansible/pull/6175 submitted

[2017-11-19 21:09] yamashi opened #6176 "DNS cannot resolve docker-registry.default.svc"
#### Description

On an origin 3.6.1 deployment, cluster specific names cannot be resolved.

##### Version

[code]

##### Steps To Reproduce
1. Deploy a multi-master, multi-node origin cluster.

##### Expected Results

[code]
Should be able to resolve docker-registry.default.svc.

##### Observed Results

[code]

##### Additional Information

[code]

[2017-11-19 21:52] yamashi commented on #6176
Fixed by appending to /etc/resolv.conf
[code]
Shouldn't ansible do that for us ?

[2017-11-19 21:52] #6176 closed

[2017-11-20 10:38] jkhelil opened #6177 "Fixup shared-resource-viewer role failing on upgrade 3.5 to 3.6"
#### Description

When upgrading from 3.5 to 3.6, we encounter the following issue
TASK [Fixup shared-resource-viewer role] ***************************************
fatal: [ose3-int-a-master-2.node.xxxxxx]: FAILED! => {"changed": false, "failed": true, "msg": {"cmd": "/bin/oc replace -f /tmp/shared_resource_viewer_role.yaml -n openshift", "results": {}, "returncode": 1, "stderr": "Error from server

[2017-11-20 10:51] jkhelil commented on #6177
we have 3 masters and it is failing on master2. Should we just run this once ?,

[2017-11-20 11:46] irozzo-1A commented on #4203
@stevekuznetsov Same issue has not been fixed for [release-1.5](https://github.com/openshift/openshift-ansible/blob/release-1.5/roles/openshift_logging/tasks/generate_jks.yaml#L23). In addition there are other `local_action`s which should have `become: no` as well (i.e.. [roles/openshift_logging/tasks/generate_jks.yaml](https://github.com/openshift/openshift-ansible/blob/release-1.5/roles/openshif

[2017-11-20 14:10] mbruzek commented on #6137
@mrsiano I believe the way to do this is use variables we can set before calling the byo playbook. Other contributors to the project have been asked to namespace the variables so they do not collide. So you could preface the variables with "`prometheus_`" or  something like that.

[2017-11-20 15:01] mrsiano commented on #6137
@mbruzek by this patch #6175 it will be easier, we can play the byo inventory as well.

[2017-11-20 15:26] stevekuznetsov commented on #4203
/cc @sdodson

[2017-11-20 15:26] stevekuznetsov commented on #4203
@irozzo-1A absolutely -- please submit a PR!

[2017-11-20 16:06] sdodson commented on #4203
/cherrypick release-1.5

[2017-11-20 16:08] sdodson commented on #4203
The cherry-pick failed, @irozzo-1A can you open a backport PR?

[2017-11-20 18:09] jkhelil commented on #5812
Hi,
I also have the issue , I am running upgrade  3.5 to 3.6
Could you provide a PR for fixing this
Thanks

[2017-11-20 19:15] AdwaitLele opened #6189 "Docker Image Availability error even though I can Docker pull images from Docker.io"
#### Description

Provide a brief description of your issue here. For example:

On a single master install, getting a "docker_image_availability" error. It seems that I can't access docker.io which is strange because I can docker pull images fine.

[code]

##### Version

[code]

##### Steps To Reproduce
1. Run install playbook (for openshift origin version 3.6)

##### Additional Information

OS in

[2017-11-20 19:43] AdwaitLele opened #6190 "Multiple Network Setup for 3 host (1 master) Cluster"
#### Description

- I want to create a 3 host cluster - 1 of them will be the master and the other 2 will be the nodes (slaves).
- They are each connected to the internet on a 1GB network but are also connected to each other on a private 10GB network.
- I want the hosts to communicate via the 10GB network when sending data between each other but use the 1GB network to access the internet. Their DN

[2017-11-20 21:14] davidaah opened #6191 "LDAP "ca" directive not set in master-config.yml when openshift_master_ldap_ca_file is configured"
#### Description

When setting `openshift_master_ldap_ca_file` I found that /etc/origin/master/master-config.yml does not contain the ldap_ca.crt directive.

https://docs.openshift.com/container-platform/3.6/install_config/configuring_authentication.html#LDAPPasswordIdentityProvider

The issue appears to be that openshift_master_ldap_ca_file is mapped to `ldap_ca` variable which is never passed to

[2017-11-20 22:19] michaelgugino opened #6192 "Organize include_role tasks"
Sometimes, it would be nice to group tasks from a role into sub directories.

While this is typically possible, it's not currently possible to call tasks in sub directories using include_role + tasks_from

Blocked on this by: https://github.com/ansible/ansible/issues/20077

[2017-11-21 03:27] ghoul008 commented on #6053
[glusterfs]
gluster-manager.yukun.com     glusterfs_ip=192.168.10.119   glusterfs_devices='[ "/dev/sda3" ]'
gluster-node-1.yukun.com     glusterfs_ip=192.168.10.118   glusterfs_devices='[ "/dev/sda5" ]'
gluster-node-2.yukun.com     glusterfs_ip=192.168.10.117   glusterfs_devices='[ "/dev/sda3" ]'

try it like that

[2017-11-21 03:35] ghoul008 commented on #5866
same issues。check your etcd service.

[2017-11-21 03:49] 7rack commented on #2879
does release-3.6 branch fix it?

[2017-11-21 12:52] bamachrn commented on #6018
yes we are already working to get all the origin images into registry.centos.org and getting them updated automatically. we need few things to be in place to get them in place  like https://github.com/openshift/origin/pull/17358 to get us through.

[2017-11-21 15:54] helletheone commented on #6086
i can confirm the problem, i have this problem too

[2017-11-21 16:14] #6018 closed

[2017-11-21 23:22] isansahoo commented on #4535
Having same issue while installing openshift 3.6 enterprise version. Could you please guide me?

[2017-11-22 00:12] ebracho commented on #6096
Solved the issue, it turned out to be an error in security group configuration. I neglected to attach the [internal security group](https://gist.github.com/ebracho/2cacc658ff7820d8ec5f5e00b633207e#file-os-sandbox-infra-tf-L94-L101) to both the master and node instances, so the glusterfs playbook was unable to `oc rsh` into other nodes.

Closing the issue now.

[2017-11-22 00:13] #6096 closed

[2017-11-22 01:05] knrc commented on #2823
In the past this issue has often occurred because of permission changes in one layer being overridden in another layer, it may be that this is happening within the SSO image and falling foul of the bug mentioned earlier.

I'll take a look at the SSO image and see if there's anything we can do to mitigate this issue.

[2017-11-22 01:36] knrc commented on #2823
The rename mentioned by @jkroepke does appear to be the issue, when SSO is installed into the EAP server is runs up the server and creates the standalone_xml_history directory.  The file being renamed is a few layers below the top layer.

I'll get this directory removed as part of the build, this should mitigate the issue and stop the bug being triggered.

[2017-11-22 01:47] knrc commented on #2823
https://issues.jboss.org/browse/CLOUD-2195

[2017-11-22 04:53] zonArt commented on #5928
Am I alone wanting to upgrade from 1.5 to 3.6 and falling in this issue ? Or did I miss some obvious things ?

[2017-11-22 09:32] jkhelil commented on #5812
@sdodson @dmsimard Any clue about the issue I still having the message because I have NM_CONTROLLED-no,  can you include nm playbooks where is needed ?

[2017-11-22 12:11] vrutkovs commented on #6071
Correct node param should be `openshift_schedulable=true` instead of `schedulable=true`

[2017-11-22 13:09] Asgoret opened #6218 "Installation failed at GlusterFS configuration"
#### Description

Provide a brief description of your issue here. For example:

Fails at configuring glusterfs cluster.

##### Version

[code]

##### Steps To Reproduce
1. Run ansible install
2. See output log

##### Expected Results
Succesfull installation.

[code]

##### Additional Information

[code]

Inventory file:

[code]

EXTRA INFORMATION GOES HERE
If i add
[code]
error is the same.

[2017-11-22 13:11] Asgoret commented on #6218
Hi, @jarrpa ! Can you look at this issue please?

[2017-11-22 14:03] adelton commented on #5517
Filed bug against ansible: https://github.com/ansible/ansible/issues/33187.

[2017-11-22 14:30] marekjelen opened #6222 "3.7 fails on etcd container pull"
#### Description

[code]

##### Version

Please put the following version information in the code block
indicated below.

[code]

If you're operating from a **git clone**:

[code]

##### Steps To Reproduce

[code]

##### Expected Results
The container pull should not fail.

##### Observed Results

[code]

##### Additional Information

[code]

[2017-11-22 14:32] Asgoret commented on #6218
@jarrpa
In version '3.6.173.0.78-1' work`s fine.
Download [https://github.com/openshift/openshift-ansible/archive/openshift-ansible-3.6.173.0.78-1.zip](link)

[2017-11-22 14:56] marcpopp commented on #4582
We are having the same problem.

[2017-11-22 14:58] marcpopp commented on #4582
See also Issues #2553 and #3844

[2017-11-22 14:59] marcpopp commented on #3844
See also Issues #2553

[2017-11-22 16:12] jarrpa commented on #6218
Your error message indicates you were trying to install 3.6. The playbook should work if you don't specify `openshift_release=v3.6`.

I'm not sure what the support policy is on these playbooks, e.g. if deploying 3.6 is something we support in 3.8. @sdodson?

[2017-11-22 16:53] sdodson commented on #6222
#6195 switched to using fedora images for origin can you please try with that change?

[2017-11-22 16:53] #6222 closed

[2017-11-22 20:14] #6004 closed

[2017-11-22 21:46] beevelop commented on #5893
@abutcher Can you elaborate on which exact step(s) needs to succeed in order to keep this from happening? Are there any side-effects of disabling the Docker storage check via `openshift_disable_check=docker_storage`?

[2017-11-22 22:45] AdwaitLele opened #6242 "Installation failed at Master Install (Unable to restart service origin-master-api)"
#### Description

I am installing OpenShift Origin across 3 servers (1 master, 2 slaves). The install quits at the Master Install step with this error:

[code]
This is the output of systemctl status -l origin-master-api.service:
[code]

This is the output of journalctl -xe:
[code]

##### Version

Ansible version:

[code]

##### Additional Information

Here are the open ports according to firewalld

[2017-11-22 23:26] sosiouxme opened #6243 "install hosted registry-console: 'dict object' has no attribute 'master'"
#### Description

After restarting a failed install by running playbook `` I received this error.

[code]

##### Version

[code]

The task in question looks like this:

[code]

So presumably `openshift.master` is what's not defined. Perhaps when running this playbook directly the facts are not all gathered? It could also be related to the fact that I had to delete `/etc/ansible/facts.d/openshift.f

[2017-11-23 06:23] Asgoret commented on #6218
@jarrpa First install i don't specify openshift version, then i try with specify version (3.6 and 3.7 *another error*).

[2017-11-23 06:46] RobMokkink opened #6244 "playbooks/byo/openshift-cluster/redeploy-certificates.yml does not configure namedCertificates"
#### Description

Playbook `playbooks/byo/openshift-cluster/redeploy-certificates.yml `does not configure namedCertificates in `/etc/origin/master/master-config.yaml`.

##### Version

[code]

##### Steps To Reproduce
1.Install openshift without openshift_master_named_certificates configuration in the inventory file
2.Create a custom certificate and configure openshift_master_named_certificates in

[2017-11-23 07:57] adelton commented on #5517
Filed workaround for this issue: https://github.com/openshift/openshift-ansible/pull/6227.

[2017-11-23 08:28] chinacoolhacker commented on #5941
release-3.6 can install OS 1.5 with gluster

[2017-11-23 08:28] #5941 closed

[2017-11-23 09:46] siamaksade commented on #5756
Is there any update on this? The same happens on Origin 3.7

[2017-11-23 11:17] jhaohai opened #6245 "Missing search"
The 'cluster.local' search won't append if there was no search configured.

https://github.com/openshift/openshift-ansible/blob/f879d554c44b529b26b9908cd61b0e7e7cebf102/roles/openshift_node_dnsmasq/files/networkmanager/99-origin-dns.sh#L117

[2017-11-23 11:21] #6245 closed

[2017-11-23 11:22] jhaohai commented on #6245
Sorry my fault. This bug  exists in release-3.6 branch

[2017-11-23 12:09] mcanevet opened #6247 "Missing v3.7/glusterblock-template.yml"
#### Description

When enabling `glusterfs` on `release-3.7` branch, I get this error message since 7f99212:
[code]

[2017-11-23 14:42] jarrpa commented on #6218
@Asgoret ....oh wait. Are you using the latest openshift-ansible against the currently available RPMs on CentOS? That would be a 3.6 deployment, yes. Again, I'm not sure what the support policy on this is... but I don't see why we couldn't fix it anyway. :)

I probably won't get to this this week (it's a holiday for me), but the fix is pretty straightforward so I'll get that in.

[2017-11-23 17:19] JoaoJoia commented on #2047
There is someone that can help me with the upgrade  of OpenShift Origin cluster from 1.2 to 1.3. the v3_4 upgrade?

[2017-11-23 17:26] JoaoJoia opened #6249 "OpenShift Origin cluster from 1.2 to 1.3. the v3_4"
There is someone that can help me with the upgrade of OpenShift Origin cluster from 1.2 to 1.3. the v3_4 upgrade?
Someone can guide me?
I want to get up to date to the new OpenShift Origin cluster version.

Cumps, João

[2017-11-23 17:33] JoaoJoia commented on #2227
There is someone that can help me with the upgrade of OpenShift Origin cluster from 1.2 to 1.3. the v3_4 upgrade?
Someone can guide me?
I want to get up to date to the new OpenShift Origin cluster version.

Cumps, João

[2017-11-23 17:33] JoaoJoia commented on #2214
There is someone that can help me with the upgrade of OpenShift Origin cluster from 1.2 to 1.3. the v3_4 upgrade?
Someone can guide me?
I want to get up to date to the new OpenShift Origin cluster version.

Cumps, João

[2017-11-23 23:03] vdbxavier commented on #6089
Same Issue

[2017-11-24 15:19] cello86 commented on #6133
I noticed the same issue on RHEL 7.4 and OSE 3.6.0

[2017-11-24 22:02] #5517 closed

[2017-11-24 23:15] #6125 closed

[2017-11-25 06:11] dmsimard commented on #5812
@jkhelil there is already a playbook that ensures NetworkManager is installed and that the primary interface is managed by it.

I haven't had time to push a PR which would give a friendly error message yet but you can find the playbook here: https://github.com/openshift/openshift-ansible/blob/master/playbooks/openshift-node/network_manager.yml

[2017-11-25 22:26] patronluther opened #6252 "fatal: [localhost]: FAILED! => {"changed": false, "failed": true, "msg": "Running etcd as an embedded service is no longer supported."
--I am new to OpenShift and ansible.

--In my attempt to install the Stand-alone Deployment of OpenShift Container Registry, specifically using all-in-one Stand-alone OpenShift Container Registry Inventory File, I receive a failure for which I cannot workaround yet. Note that I've followed both:
   https://docs.openshift.org/3.6/install_config/install/prerequisites.html
   https://docs.openshift.o

[2017-11-25 22:37] patronluther commented on #6252
I read about:
      https://github.com/Microsoft/openshift-origin/issues/30
but I even if I tried to find the 'masterInstanceCount' (if that's the problem here), it doesn't exist in my environment. Note that I run the VMs in vmware.

[2017-11-26 12:10] davivcgarcia opened #6253 "NodeSelector for Metrics are not created by ansible-openshift installer."
#### Description

The installer does not implement the 'node selector' for Metrics components when the options are present in the inventory file. The problem doesn't happen with Logging or Registry/Router.

##### Version

[code]
[code]

##### Steps To Reproduce
1. Include the following options in the inventory:

[code]

2. Check for openshift-infra pods:

[code]

##### Observed Results

Instead of

[2017-11-26 12:19] davivcgarcia commented on #6252
Looks like you forgot to declare the 'etcd' group in your inventory file. It should be like:

[code]

Also, you need to define who will host etcd. For most part of the deployments, etcd is hosted on master nodes. So, you need to add this piece too:

[code]

Please take a look on this example of inventory file for single master deployment, which seems your case.

[https://docs.openshift.org/latest/

[2017-11-26 12:24] davivcgarcia commented on #6247
It seems duplicate of #6218.

[2017-11-26 20:45] patronluther commented on #6252
It worked. Thank you very much Davi.

[2017-11-26 20:45] #6252 closed

[2017-11-27 06:59] jkhelil commented on #5812
@dmsimard @sdodson network_manager playbook  is not included anywhere, So should be we understand that we need to run it before everything ? Anyway seems that some information are missing, we should add to documentation that network interfaces should have the flag NM_controlled to yes

[2017-11-27 07:40] adelton opened #6255 "openshift_service_catalog : template AnsibleUndefinedVariable: 'dict object' has no attribute 'iteritems' on Fedora 27"
#### Description

On a all-on-one install on Fedora 27, the `python3 /usr/bin/ansible-playbook` fails with

[code]

error. The configured OpenShift however seems functional (probably not the service catalog).

##### Version

Please put the following version information in the code block
indicated below.

* Your ansible version per `ansible --version`

[code]

If you're operating from a **git clone

[2017-11-27 09:43] aizuddin85 opened #6256 "/etc/resolv.conf search domain, causing github.com changed to github.com.<domain>"
# BUG REPORT INFO

### Environment

- **Cloud provider**:  Alibaba Cloud

- **OS details** (`printf "$(uname -srm)\n$(cat /etc/os-release)\n"`):
[code]
- **Version of Ansible** (`ansible --version`):
[code]

- **Version of Jinja** (`pip freeze | grep -i jinja`):
[code]

- **The openstack-ansible-contrib version (commit)** (`git rev-parse --short HEAD`):
```c7ac1a2```

**Copy of inventory files and

[2017-11-27 10:42] nikolicjakov commented on #6086
I can also confirm this issue, just cloned the master branch and got this failure.

Fedora 27.1 Atomic Host

[2017-11-27 11:19] cello86 opened #6258 "Openshift Origin 3.6 FAILED - RETRYING: Wait for master API to become available"
#### Description
During a fresh installation of Openshift Origin 3.6.0 we noticed some failed steps related to the master api availability check:

`FAILED - RETRYING: Wait for master API to become available before proceeding (120 retries left).`

##### Version
[code]
##### Steps To Reproduce
1.  run the installation from ansible script
2. to fix the issue we restart the docker daemon where the rou

[2017-11-27 11:30] NoxHarmonium commented on #6242
Port 2379 is the port for the etcd client so your log indicates that the master API can't communicate with the etcd daemon.

I have the same problem and when I had a look at the etcd logs, it wasn't starting due to a

    "transport: remote error: tls: bad certificate"; please retry"

error which has been reported in https://github.com/openshift/openshift-ansible/issues/6106.

If you check your et

[2017-11-27 12:05] NoxHarmonium commented on #6106
I am having the same issue. etcd is unable to start and the OpenShift installation is halted with the message:

    Unable to restart service origin-master-api: Job for origin-master-api.service failed because the control process exited with error code. See "systemctl status origin-master-api.service" and "journalctl -xe" for details.

Log outputs (hostnames and IPs have been redacted):

[code]

[

[2017-11-27 12:07] adelton commented on #6086
@simo5, we seem to be hitting `oc auth reconcile` code path with 3.6 OpenShift Origin that origin-ansible is using. Do you have any insight what the proper solution might be? This is currently blocking my ansible-based tests.

[2017-11-27 12:09] NoxHarmonium commented on #6106
This also seems to be a similar, if not the same problem to this issue: https://github.com/openshift/openshift-ansible/issues/6087

[2017-11-27 12:19] Javatar81 opened #6260 "Upgrade OpenShift Origin 1.5 -> 3.6 fails due to missing package_docker.yml file"
#### Description

When upgrading a multi master installation from OpenShift Origin 1.5 to 3.6 via https://github.com/openshift/openshift-ansible/tree/master/playbooks/byo/openshift-cluster/upgrades/v3_6/upgrade.yml the installation fails because the expected file playbooks/common/openshift-cluster/upgrades/package_docker.yml does not exist.

##### Version

[code]

##### Steps To Reproduce
1. ansib

[2017-11-27 12:24] adelton commented on #6255
Filed https://github.com/openshift/openshift-ansible/pull/6259 to get rid of all `.iteritems()`.

[2017-11-27 15:30] elad661 opened #6263 "PV creation fails when trying to install openshift_metrics with external nfs storage"
#### Description

When trying to install openshift 3.7 with metrics enabled with external nfs, PV creation fails with the following error:

[code]

I've investigated this problem, and it seems that most of the metrics facts from the inventory get discarded and replaced with defaults, apart from `openshift_metrics_install_metrics` and `openshift_metrics_storage_kind`. This means the `host` is set t

[2017-11-27 16:36] jeremyeder commented on #6137
can this issue be closed now that #6175 is merged?

[2017-11-27 16:41] #6137 closed

[2017-11-27 16:41] sdodson commented on #6137
yes i think so, please open a new issue if anyone finds bugs

[2017-11-27 17:05] michaelgugino commented on #6080
Fixed with combined upgrades.

[2017-11-27 17:05] #6080 closed

[2017-11-27 17:09] AdwaitLele commented on #6242
@NoxHarmonium  I have the same "bad certificate" error in my etcd log, but the etcd server itself is "active (running)"

[2017-11-27 18:27] detiber commented on #6133
@sdodson ptal

[2017-11-27 18:46] runcom opened #6270 "installer isn't setting additional registries for CRI-O conf"
installer (master) isn't placing `openshift_docker_additional_registries=` in `/etc/crio/crio.conf` under `registries` key in the config. We need that for openshift-enterprise to install correctly. To reproduce just run the installer with 3.8, you'll see some component like openshift-registry fails to be pulled cause there's no registies (default) configured.

@giuseppe PTAL

[2017-11-27 18:47] runcom commented on #6270
would be awesome to add some testing around this to prevent any regression again (this used to work afaict)

[2017-11-27 18:48] runcom commented on #6270
insecure registries are empty as well but I haven't checked if those are broken as well

[2017-11-27 18:48] runcom commented on #6270
/assign @giuseppe

[2017-11-27 19:54] giuseppe commented on #6270
https://github.com/openshift/openshift-ansible/pull/6185 was just merged 3 hours ago.  Does it solve the issue reported?

[2017-11-27 20:57] NoxHarmonium commented on #6242
Oh actually now that you mention it, I've checked my etcd daemon again it actually does say running but is not accepting connections.

[2017-11-27 21:10] runcom commented on #6270
I'll test it out, thanks!!

[2017-11-27 21:24] NoxHarmonium commented on #6106
I have done some more investigation and found that:

1. If I start the `etcd` server manually with:
[code]
I don't get a cert error when the server starts.
2. Even with the cert error the etcd server is still in the running/active state. It does not crash.
3. When I manually do a health check with
[code]
If ETCD_CA_HOST is localhost or the hostname of my master the connection fails
If ETCD_CA_HOST

[2017-11-27 22:03] NoxHarmonium commented on #6106
@eliu Does your master host name resolve to an IPv6 address by any chance? Another theory I have is that certain services are listening on the masters's IPv4 address but the hostname is resolving to an IPv6 address so the connection is getting refused. I should be able to test this theory soon.

[2017-11-28 02:41] #6263 closed

[2017-11-28 04:47] DenverJ commented on #5657
I am also seeing this problem. Someone, please let me know if you would prefer I open a separate issue instead. I have in my inventory as below.
[code]
When this goes into openshift_facts it does not get interpolated. Then when the same variable name is set sourced from the openshift facts it gets set as the raw string. Here is a simplified playbook showing the problem.

[code]
And the output.
[co

[2017-11-28 06:44] rainmor commented on #4800
+1 here
no none to fix this?

[2017-11-28 08:43] jkhelil commented on #5812
@sdodson Would you mind explain why NM controlled needs to be enabled on interfaces, ok it is needed for the script generating /etc/origin/node/resolv.conf, but what are the architecture consideration for that, why not using /etc/resolv.conf
Thanks

[2017-11-28 08:59] piwi91 opened #6288 "CA certificate /etc/origin/master/ca.crt doesn't exist on CA host master-1"
#### Description

I get the following error on a clean CentOS 7 server when running the playbook `byo/config.yml`

`CA certificate /etc/origin/master/ca.crt doesn't exist on CA host master-1.openshift.xxx.cloud. Apply 'openshift_ca' role to master-1.openshift.xxx.cloud.`

uname -a

`Linux bastion.openshift.xxx.cloud 3.10.0-693.5.2.el7.x86_64 #1 SMP Fri Oct 20 20:32:50 UTC 2017 x86_64 x86_64 x86_64

[2017-11-28 09:01] piwi91 commented on #6288
Probably it fails because of this:

[code]

[2017-11-28 09:27] marekjelen commented on #6222
@sdodson OK, that worked, thanks! But now failing on

[code]

[2017-11-28 10:30] MCSH commented on #6166
I'm getting the exact same error and can't find a way around it

[2017-11-28 10:40] menardorama opened #6289 "ansible deploy fail when specifying vsphere parameters in the inventory file"
#### Description

I am trying to deploy openshift hosted on a esxi cluster, I have provisionned centos 7 VM with all the prerequists.
I use the playbook found in playbooks/byo/config.yml and tried different configurations.

Using Container Native storage is working fine, I can even deploy registry, logging and metrics on a dedicated nfs share. The install complete successfully and openshift is wor

[2017-11-28 11:12] menardorama commented on #6289
Additional information
`
[root@os-master1 tmenard]#  oc get clusternetwork default -o yaml
apiVersion: v1
hostsubnetlength: 9
kind: ClusterNetwork
metadata:
  creationTimestamp: 2017-11-28T09:42:38Z
  name: default
  resourceVersion: "310"
  selfLink: /oapi/v1/clusternetworks/default
  uid: 787683b7-d420-11e7-aa55-0050568a2c6e
network: 10.128.0.0/14
pluginName: redhat/openshift-ovs-multitenant
ser

[2017-11-28 13:02] piwi91 commented on #5812
I think the network_manager.yml include is a bug. Without running it, it won't work (I have the exact same issues).

[2017-11-28 13:41] #6270 closed

[2017-11-28 13:54] menardorama commented on #6289
Does anyone knows if setting up vsphere directly at the install is at least supported ?

[2017-11-28 15:02] #6255 closed

[2017-11-28 17:22] runcom opened #6296 "error processing PVC "openshift-ansible-service-broker"/"etcd": PVC openshift-ansible-service-broker/etcd has non-bound phase ("Pending") or empty pvc.Spec.VolumeName ("")"
openshift-ansible latest master

Installing openshift (enterprise) with CRI-O fails to create the ansible-service-broker:
[code]

[code]
[code]
[code]

/cc @mrunalp @giuseppe @sdodson

we don't have CRI-O errors, I think it's something we're not setting up from the installer, could you help?

[2017-11-28 17:28] runcom commented on #6296
/cc @pmorie

[2017-11-28 18:29] sdodson commented on #6296
@fabianvf For some reason i thought ASB would use emptydir for etcd volume if a storage type wasn't specified, did that break?

[2017-11-28 18:30] sdodson commented on #6296
@runcom what's the status of the api server in kube-service-catalog namespace?

[2017-11-28 18:56] runcom commented on #6296
@sdodson I thrown away that cluster but I can reproduce easily, I'll spin up another one and provide status asap

[2017-11-28 19:55] michalalter opened #6300 "Problem with getting images during installation"
#### Description
Problem with getting images during install

##### Version
* ansible version per `ansible --version`
[code]

* The output of `rpm -q atomic-openshift-utils openshift-ansible`
[code]

##### Steps To Reproduce
1. ansible-playbook -b -i /root/openshift/hosts /usr/share/ansible/openshift-ansible/playbooks/byo/config.yml

##### Expected Results
The installation process should complete c

[2017-11-28 20:00] sdodson commented on #5657
/assign michaelgugino

[2017-11-28 20:14] michaelgugino commented on #5657
FYI, the proper name is 'templating' for this problem.  This happens when a plugin (module, action, etc) uses a variable that is not passed in as a parameter.  This is an issue that plagues us in a variety of places.

[2017-11-28 20:47] NoxHarmonium commented on #6106
I managed to solve my problem by doing the following:

1. I removed AAAA/IPv6 records from my DNS records.
2. I created DNS entries for the internal IPs in my network and used the `openshift_hostname` to specify them in the inventory file.
[code]
This ensured that when the the origin-master-api.service tried to connect to the etcd daemon it resolved to the private IP that the etcd daemon was liste

[2017-11-28 21:37] runcom commented on #6296
@sdodson apiserver is running:
[code]

[2017-11-28 22:07] stevekuznetsov opened #6303 "tox: ansible_syntax doesn't seem to behave inside of a container"
I'm trying to run the `tox` tests in a container. I roughly do this:

 1. clone the repo, checkout correct refs for testing
 2. commit image
 3. run `/usr/bin/tox --notest`
 4. commit image
 5. run `./.tox/py27-ansible_syntax/bin/python setup.py ansible_syntax`

I can't use `tox` to run the tests since it can't be configured to _not_ refresh the `virtualenv` during the test and random UID in Origi

[2017-11-28 22:48] ewolinetz opened #6304 "Remove __deprecations_{logging|metrics}.yml files for 3.8"
#### Description

For 3.8 we should remove the two deprecation files for mapping values for logging and metrics:
- [ ] `openshift_sanitize_inventory/tasks/__deprecations_logging.yml`
- [ ] `openshift_sanitize_inventory/tasks/__deprecations_metrics.yml`

We should also fail fast for the logging|metrics entries in (probably move to a __fail_deprecated_vars variable?)

- [ ] `openshift_sanitize_inven

[2017-11-28 23:07] runcom commented on #6296
I think the thing is we don't even have any PV at all :confused:

[2017-11-28 23:47] garyyang6 opened #6305 "Openshift Origin ansible-playbook Installation Failed."
#### Description

Per Openshift Origin Installation Guide, https://docs.openshift.org/latest/install_config/install/advanced_install.html. "Running the RPM-based Installer". I run the command,

ansible-playbook ~/openshift-ansible/playbooks/byo/config.yml

I got,

fatal: [docker01.works.com]: FAILED! => {
    "changed": false,
    "failed": true,
    "invocation": {
        "module_args": {

[2017-11-29 01:08] fabianvf commented on #6296
The current behavior with ASB is that it will not come up without some kind of PV to bind to for etcd. @sdodson we could make it use emptydir by default, I think we avoided doing that earlier because losing the ASB data would cause the service catalog and broker metadata to diverge in a likely unrecoverable way (short of manually going through and deleting all the resources).

[2017-11-29 02:47] eliu commented on #6106
@NoxHarmonium nope, all i use is ipv4 only. and recently i found the main cause is not this etcd bad certificate issue, but the port conflict between master and lb. I setup master and lb sharing one server node. @NoxHarmonium nope, all i use is ipv4 only. and recently i found the main cause is not this etcd bad certificate issue, but the port conflict between master and lb. I setup master and lb s

[2017-11-29 03:21] michaelgugino commented on #5657
This has really lead down the rabbit hole: https://github.com/openshift/openshift-ansible/pull/6306

Cleaning up some openshift_facts items first, that will probably clear most of this right up.

[2017-11-29 08:51] zgalor commented on #6058
@smarterclayton @sdodson This can be closed

[2017-11-29 10:33] runcom commented on #6296
The same happens with docker, but docker pass the templateservicebroker tests :confused:

[2017-11-29 10:47] runcom commented on #6296
nevermind, this is a network issue in CRI-O port forwarding

[2017-11-29 10:47] #6296 closed

[2017-11-29 13:01] ibotty opened #6311 "ansible-service-broker image in docker.io/ansibleplaybookbundle/ansible-service-broker too old to support tls transport to etcd"
#### Description

The latest image on dockerhub (and the one used by openshift-ansible, sha256:23cda0229bf71debae77a87197cedb192d6c55882a61e57c6817d9662fc06ca4) is from 20170911 (according to skopeo). That is before the commit adding tls support to asbd. Grepping the binary for the config keys (`etcd_ca_file` etc.) fails.

Consequentially it fails to connect to etcd (trying to connect with http).

[2017-11-29 14:43] mtnbikenc opened #6312 "openshift_health_checker callback plugin zz_failure_summary.py fails when the failure message is a dict"
#### Description

openshift_health_checker callback plugin zz_failure_summary.py fails when the failure message is a dict.

##### Version
[code]

##### Steps To Reproduce
1. Configure hosts with broken yum repo
2. Run byo/config.yml

##### Expected Results
Failure summary should not fail on AttributeError

##### Observed Results
Task Failure:
[code]
Failure summary output:
[code]

##### Additional

[2017-11-29 14:45] #6058 closed

[2017-11-29 15:21] stevekuznetsov commented on #6303
Mostly looking to debug this with someone who understands what this task is doing and generally how it does it.

[2017-11-29 15:56] mtnbikenc commented on #6303
The test requires `ansible-playbook` to be in the path, which may be causing the generic `no such file`.

[2017-11-29 15:59] mtnbikenc commented on #6303
Try running:
[code]

This is essentially what the test is doing, however with a different host group list and it runs it for every entry point playbook it finds.

[2017-11-29 16:16] stevekuznetsov commented on #6303
@mtnbikenc good call, missing `ansible-playbook`!

[2017-11-29 16:16] stevekuznetsov commented on #6303
-100 to that error message :(

[2017-11-29 17:02] bakkou opened #6313 "Openshift container installation error"
#### Description

Hi,

I have problem when i try install openshift container with atomic-openshift-installer.

##### Version
[code]

[code]

##### Steps To Reproduce
1.i run atomic installer
[code]
##### Observed Results

[code]

##### Additional Information

I use Vagrant with 3 VMs (MASTER and 2 NODES).
i add the installer log file
[code]

[2017-11-29 17:04] stevekuznetsov commented on #6303
/close

[2017-11-29 17:04] #6303 closed

[2017-11-30 02:37] rberlind commented on #6086
Why does the release-3.7 branch even start by deploying 3.6 and then eventually upgrading to 3.7? It would seem better to start with 3.7.

[2017-11-30 18:04] aizuddin85 commented on #6256
Alibaba is not yet supported IaaS. Alibaba instance running with DHCP to provide network configuration and the `/etc/resolv.conf` will be overwritten by dhclient, hence the search domain and the behaviour seen.

[2017-11-30 18:07] #6256 closed

[2017-11-30 18:15] aizuddin85 commented on #6305
which origin version you are trying to install?

[2017-11-30 18:20] aizuddin85 commented on #6300
you might missing the RHSM cert package:

[code]

[2017-11-30 18:24] aizuddin85 commented on #6258
you are installing 3.6 and checking out the wrong branch.
[code]

[2017-11-30 18:29] aizuddin85 commented on #6189
can you run  `git describe`?

[2017-11-30 18:38] aizuddin85 commented on #6085
Do you mind to share the inventory file? And also the origin-node logging?

[2017-11-30 18:41] AdwaitLele commented on #6189
[code]

[2017-11-30 20:28] stevekuznetsov commented on #6086
We do both. The vast majority of clusters will be upgraded from the last release, so just doing a fresh install of the newest code simply doesn't give us the signal we need.

[2017-11-30 20:29] acossette1979 commented on #3034
any update on this issue ?

[2017-11-30 20:40] rberlind commented on #6086
Thanks, @stevekuznetsov Is there an option I can set that would start a new cluster on 3.7?  That might avoid the error discussed in this issue for some of us.

[2017-11-30 20:48] stevekuznetsov commented on #6086
I would not expect a brand new install to require a reconciliation. /cc @sdodson

[2017-11-30 22:10] rberlind commented on #6086
It might help if I explain that I was using openshift-ansible indirectly as part of https://github.com/dwmkerr/terraform-aws-openshift which first uses Terraform to provision some AWS resources and then uses openshift-ansible. The key interaction with openshift-ansible is in the install-from-bastion.sh script which invokes `ANSIBLE_HOST_KEY_CHECKING=False /usr/local/bin/ansible-playbook -i ./inven

[2017-11-30 22:17] sdodson commented on #6086
Do you have the ability to specify any openshift-ansible variables? Setting `openshift_repos_enable_testing=true` will enable the CentOS PaaS SIG testing repos which are currently the only source for 3.7 builds. It may be several days before they get 3.7.0 built and tested. Right now it's got 3.7.0 rc.0

[2017-11-30 22:26] rberlind commented on #6086
I could probably do that.  But isn't the release-3.7 branch of openshift-ansible pointing to some version of 3.7? even if rc?  My impression from the openshift-ansible README.md had been that using branch release-3.7 would use OpenShift 3.7 and therefore Kubernetes 1.7.x.

I'm not doing any of this for production. Just for being able to do a demo on OpenShift that uses HashiCorp's Terraform to pro

[2017-12-01 08:10] leseb commented on #6086
Same issue here on 6b6b422245be79dd3eec0c93a58875c646bbfba7.

[2017-12-01 08:31] isbalashov opened #6322 "Missing OpenShift RPMs v.3.7 during installation"
#### Description
Current version of openshift-ansible fails to download RPM origin-3.7, so the installation fails

Failure summary:
  1. Hosts:
     Play:     Determine openshift_version to configure on first master
     Task:     For an RPM install, abort when the release requested does not match the available version.
     Message:  You requested openshift_release 3.7, which is not matched by

[2017-12-01 09:03] menardorama commented on #6289
OK I reply to myself....

So the issue is related to the to_padded_yaml filter function in charge of converting the variables to a yaml syntax.

Defining the osm_controller_args (or osm_api_server_args or openshift_node_kubelet_args) in the inventory host file doesn't work when using double-quotes.

Even trying to escape them is not working.

The workarround is to define those variables in a group

[2017-12-01 09:03] #6289 closed

[2017-12-01 10:01] adelton commented on #6086
I confirm that using `openshift_repos_enable_testing=true` in the `[OSEv3:vars]` section of the inventory file makes things pass, and install

[code]

on my RHEL 7.4.

Is it expected that master branch no longer supports 3.6 and that `openshift_repos_enable_testing=true` has to be used? What do all the pull request tests use, that same `openshift_repos_enable_testing=true` setup?

[2017-12-01 11:21] Asgoret commented on #6218
@jarrpa so....i will re-run all install again, to install metrics for monitoring) i can use last master repo or i must use work version?

[2017-12-01 12:47] leseb commented on #6086
@adelton thanks, this is fixing my deployment too.

[2017-12-01 13:03] rberlind commented on #6086
Thanks for the solution @sdodson  and for testing @adelton

[2017-12-01 13:46] #4203 closed

[2017-12-01 14:28] sdodson commented on #6086
@adelton The CI tests build origin from source on every pull request.
@rberlind one would think that, but unfortunately right now it's really controlled by the repos that are enabled, i think we can fix this though. We'd previously never insisted on knowing which version you intend to install but we'll soon start requiring that the release is set so we can use that instead. We can also set a defau

[2017-12-01 14:57] jarrpa commented on #6218
@Asgoret I believe either latest master or latest release-3.7 should get you what you need. If you're planning on using GlusterFS to provide storage for Metrics, you'll want to deploy OpenShift without Metrics, create a **gluster-block** StorageClass, then run the standalone Metrics installation playbook specifying to use that SC for storage.

[2017-12-01 15:04] adelton commented on #6086
Ah, so they do not use the repos? Wouldn't it be nice, for the openshift-ansible repo, to (also) check that it works with the existing repo bits? After all, that's what users will see and use.

[2017-12-01 15:41] stevekuznetsov commented on #4203
@kargakis why no comment here?

[2017-12-01 15:46] kargakis commented on #4203
The bot is not handling issues.

[2017-12-01 15:58] stevekuznetsov commented on #4203
D'oh... this is an issue

[2017-12-01 16:49] #5468 closed

[2017-12-01 17:11] michaelgugino opened #6329 "undocumented / unused requirement of python-passlib"
This needs to be removed as requirement for deployment host most likely.

[2017-12-01 17:20] michaelgugino opened #6330 "remove localaction from metrics"
Running local actions can be problematic for end users, especially those running on Fedora + python3 + venv.

[2017-12-01 18:20] wenzowski commented on #6087
In my `/etc/orgigin/master/master-config.yaml` I see `etcdClientInfo.urls: [https://openshift.local:2379]`
...but in `/etc/etcd/etcd.conf` I see `ETCD_LISTEN_CLIENT_URLS=192.168.202.221:2379`
which is the ip assigned to `ens32` while `openshift.local` resolves to the ip of `ens33`

[2017-12-01 18:28] wenzowski commented on #6087
grepping for this, I see `etcdClientInfo.urls` is overridden in `roles/openshift_master/tasks/configure_external_etcd.yml` so no surprise it works on external etcd

[2017-12-01 18:33] wenzowski commented on #6087
seems like the problem is [here](https://github.com/openshift/openshift-ansible/blob/master/roles/openshift_facts/library/openshift_facts.py#L573)

[2017-12-01 19:33] rberlind commented on #6086
I just tested with git clone -b release-3.7 https://github.com/rberlind/openshift-ansible and openshift_repos_enable_testing=true in my inventory template cfg file.  I did not get the "Reconcile with RBAC file" error that I had previously seen  and which this ticket originally reported.  However, the next task "Verify that TSB is running" failed after 120 attempts.

The specific error was: (7) Fai

[2017-12-01 20:36] rberlind commented on #6086
One other possibility here is that my inventory.cfg file does not have openshift_template_service_broker_namespaces set.

https://docs.openshift.org/latest/install_config/install/advanced_install.html#configuring-template-service-broker suggests that it must be set:

"To configure the TSB, one or more projects must be defined as the broker’s source namespace(s) for loading templates and image stre

[2017-12-01 20:54] sdodson commented on #6133
What does master.openshift.vm.com think its hostname is? `hostname --long` on the host.

[2017-12-01 21:11] djslavens commented on #6133
Here it is:

[root@master-openshift-vm-com ~]# hostname --long
master-openshift-vm-com

[2017-12-01 21:18] sdodson commented on #6133
From the email thread I see that your hosts believe their hostnames are like `node-openshift-vm-com`. I've not kept up with libvirt but I believe this comes from the vm name but i'd expect it to also configure dnsmasq for that so it should resolve. You could try either stopping the vm and renaming the vm in virt-manager/libvirt or you can override the hostname for each host in your inventory like

[2017-12-01 21:38] sosiouxme commented on #6126
I'm not seeing this again; may have been due to the non-idempotent nature of the playbook. Can close unless you want to investigate more.

[2017-12-01 21:38] #6126 closed

[2017-12-01 23:03] rberlind commented on #6086
That did not help, but I was able to install OpenShift Origin 3.7 by disabling the service catalog and TSB with:

openshift_enable_service_catalog=false
template_service_broker_install=false

[2017-12-02 00:52] fraenkel opened #6332 "openshift-logging fails to install properly"
I believe I have found at least 2 issues with how openshift logging is installed into my environment.
Deploying Origins 3.7 into a containerized 1 Etcd, 1 Master, 1 Infra and 1 Node.

1. Installing with openshift_install_logging_install: true
Usually one or more of the deploy pods end in an Error state.
The last phase of the install is to update the logging URL on the Master. The Master is then re

[2017-12-02 04:26] nnachefski commented on #4582
I think there has been a regression with this bug.  I ran into this with 3.7.  I'm using an ansible hosts file that worked fine in 3.6.  I dont have an [nfs] section because i have an external storage whitebox that serves nfs.  It seems that using the 'openshift_hosted_registry_storage' options without having an [nfs] is causing this bug.  This was not the case in <=3.6.

[2017-12-02 13:15] jkaurredhat commented on #6332
Can you share the error messages that you see at first.

[2017-12-02 20:44] benemon commented on #3034
Come across this in an OCP 3.7 install on AWS:

[code]

[2017-12-03 13:18] albarki commented on #2114
I had the same issue, and I solved it by passing an extra variable to overwrite the variable `etcd_ip` as follows:
`ansible-playbook /usr/share/ansible/openshift-ansible/playbooks/byo/config.yml -e "etcd_ip=192.168.205.10"`

[2017-12-03 16:09] elad661 opened #6333 "openshift_management timeout should be configurable"
In `roles/openshift_management/tasks/main.yml`, there's a task "Wait for the app to come up".
It waits for a maximum of 10 minutes until ManageIQ / CFME is ready before it reports success.

This timeout is too low in some cases, because it's a big docker image and downloading it takes quite a while. It'd be best if this timeout would be configurable in the inventory file instead of being hardcoded

[2017-12-03 16:37] bazulay commented on #6333
@sdodson  this issue was opened because when we enable manageiq deployment in the initial inventory file it is almost always fails on timeout (well on 20 retries = 10 min). this happens because of the size of the image.

[2017-12-03 21:09] jkroepke opened #6334 "pv-provisioners should be run before service catalog and hosted playbook"
#### Description

I want to setup a Openshift v3.7 Cluster on our AWS infrastructure. I also want to use the efs provisioner so I configured this in our inventory:

[code]

But it looks like the hosted and service catalog playbooks come earlier so the ansible tries to setup a service catalog without an working pv service.

##### Version

Please put the following version information in the code blo

[2017-12-03 22:02] michalalter commented on #6300
@aizuddin85 Thanks for response. But I have this package already installed - also when I'm trying to install images using docker pull command (the same situation like with skopeo) - it works.

I suppose that skopeo has a problem with PROXY settings?

Regards,
Michal

[2017-12-04 04:38] srirammageswarank opened #6336 "Error Enabling Calico"
Hi ,

I get the below error when installing enabling calico on Atomic Host

Destination /lib/systemd/system not writable

Can we create these fines in /etc/systemd dir.?

@ozdanborne
@ingvagabund
@VincentS

Thanks ,
Sriram Mageswaran.

[2017-12-04 05:19] juzhao opened #6337 "wrong default value for openshift_logging_fluentd_buffer_size_limit, openshift_logging_mux_buffer_size_limit and openshift_logging_fluentd_buffer_queue_limit"
https://github.com/openshift/openshift-ansible/blob/master/roles/openshift_logging/README.md
Default value for openshift_logging_fluentd_buffer_size_limit, openshift_logging_mux_buffer_size_limit and openshift_logging_fluentd_buffer_queue_limit is wrong.

openshift_logging_fluentd_buffer_size_limit default value is 8m
openshift_logging_fluentd_buffer_queue_limit default value is 32
openshift_loggi

[2017-12-04 08:08] adelton commented on #6086
Unfortunately, on Fedora 27, the `openshift_repos_enable_testing=true` does not help -- I still see

[code]

installed and I still get the same `oc auth reconcile -f -` error.

[2017-12-04 08:12] pgeorgiev333 opened #6339 "cannot deploy openshift 3.7 - glusterfs issue"
#### Description

Trying to install openshift 3.7 from the master branch but it fails on the glusterfs part

##### Version

[code]

##### Steps To Reproduce
1. Configure and run the playbook:

[code]

##### Expected Results
Installation IS OK

##### Observed Results
Installation fails

[code]

##### Additional Information

* CentOS 7

[code]

[2017-12-04 09:37] Asgoret commented on #6218
@jarrpa  Well...at this point i don't need to save metrics history. Can you help with commands a little bit?
I will use my inventory old invetory, just add to _[OSEv3:vars]_
[code]

Create gluster block (i will find command in previous issues :)

And start process with command:
[code]

[2017-12-04 09:54] plaimbock commented on #6086
@adelton koji only seems to have origin-3.6.0 for F27 so that would explain why you are getting 3.6.0. See https://koji.fedoraproject.org/koji/packageinfo?packageID=21564

[2017-12-04 11:12] kpritam commented on #6305
Seems like you are trying to install latest openshift origin, here is mine inventory.erb file which works fine and installs Origin v3.8

`[OSEv3:children]
masters
nodes
etcd
nfs

[OSEv3:vars]
ansible_ssh_user=root
openshift_deployment_type=origin
openshift_master_identity_providers=[{'name': 'htpasswd_auth', 'login': 'true', 'challenge': 'true', 'kind': 'HTPasswdPasswordIdentityProvider', 'filenam

[2017-12-04 11:34] mfojtik opened #6342 "Exception: Tag openshift-ansible-3.8.1-1 already exists"
Seems like this error is breaking GCE install and other jobs:

[code]

@stevekuznetsov @kargakis

[2017-12-04 11:56] kargakis commented on #6342
master is yet to be updated with the new tag for tito to work correctly but the tag exists globally and breaks tito.

https://github.com/openshift/openshift-ansible/blob/b62ec2d2e587e55efca930c7919dfe31d3d45edb/.tito/packages/openshift-ansible

[2017-12-04 11:57] kargakis commented on #6342
/priority P0

[2017-12-04 13:50] ingvagabund commented on #6336
Checking the `calico` role the path is really hard-coded: https://github.com/openshift/openshift-ansible/blob/master/roles/calico/tasks/main.yml#L50

I don't think we have ever tested the calico deployment in AH.

Something like this could do:
[code]

@ozdanborne @VincentS WDYT?

@srirammageswaran8 can you applied it and test if it works for you?

[2017-12-04 13:51] WoLfulus commented on #6086
Anyone managed to get this working? We just started evaluating OpenShift and this is totally breaking our experience. We thought we were doing something wrong at first :(

[2017-12-04 14:04] jkroepke opened #6343 "Unable to setup custom extensionScripts for console"
#### Description

I'm unable to define custom assets for the openshift web console.

My Inventory:

[code]
results into this:

[code]

Looks like my value get overwritten here:
https://github.com/openshift/openshift-ansible/blob/012be35217f7415d50afe5e74b7e2e995feea6b5/playbooks/openshift-master/private/tasks/wire_aggregator.yml#L170

##### Version

Please put the following version information in

[2017-12-04 14:30] sdodson commented on #6333
@elad661 That's fine with me, can you open a PR?

[2017-12-04 14:42] rberlind commented on #6086
As I mentioned, I was able to get OpenShift 3.7 installed and running, but I had to set the following flags to disable the service catalog and template service

openshift_enable_service_catalog=false
template_service_broker_install=false

In that sense, I did not get OpenShift 3.7 fully deployed.

[2017-12-04 14:43] jarrpa commented on #6218
@Asgoret Those variables are based on the NFS configs, which does not apply here. You want at least the following:
[code]
Then run `ansible-playbook -i <INVENTORY> <OPENSHIFT_ANSIBLE_DIR>/byo/openshift-cluster/openshift-metrics.yml`. I assume you're already there, but look through [the docs](https://access.redhat.com/documentation/en-us/openshift_container_platform/3.7/html-single/installation_and

[2017-12-04 15:09] bogdando commented on #6086
`openshift_repos_enable_testing: true` didn't help for Centos 7.4 case as well

[code]

[2017-12-04 15:27] mfojtik commented on #6342
@sdodson PTAL

[2017-12-04 15:27] stevekuznetsov commented on #6342
/assign @sdodson
@deads2k did we not make sure to make the tag before cutting the new branch?

[2017-12-04 15:27] michaelgugino commented on #6086
It appears CentOS has not pusblished a 3.7.0 RPM for openshift yet, even in the testing repo  (I only see alpha and rc0).  We will have to investigate the work-around with the older client as @adelton noted, we want 3.6 to be deployable on 3.7.

@WoLfulus in the mean time, if you a just trying to test out openshift and openshift-ansible, 3.6 is already available, I recommend starting with that bra

[2017-12-04 15:29] stevekuznetsov commented on #6342
`master` here needs 3.9.0 if `release-3.8` is on `3.8.x`

[2017-12-04 15:29] sdodson commented on #6342
This is fixed now but should be part of the branching process.

[2017-12-04 15:30] #6342 closed

[2017-12-04 15:39] bogdando commented on #6086
@michaelgugino there is openshift-clients listed in https://buildlogs.centos.org/centos/7/paas/x86_64/openshift-origin/
yet it can't be picked up by yum update. I'm not a packaging guy to say what is wrong here though.

[2017-12-04 15:42] michaelgugino commented on #6086
@bogdando When I view that page, I only see an alpha and rc release for that package.  The package version derived from the release, I'm not sure it will pick up alpha and rc packages by default.

[2017-12-04 15:55] fraenkel commented on #6332
https://gist.github.com/fraenkel/21b8ce1b72097017a03ee6b5ee986a6b

[2017-12-04 16:14] bogdando commented on #6086
@michaelgugino with centos 7.4, `yum provides oc` shows the client 3.7, so I hope this is that I wanted

[2017-12-04 16:23] sdodson commented on #6086
@deads2k Can you pinpoint which release would resolve this error? It seems that `oc auth` may not have always had the -f flag?

[code]

The task that it's running is the following
[code]

[2017-12-04 16:38] jupierce commented on #6342
Added bumping this version to our release cut SOP.

[2017-12-04 17:20] ozdanborne commented on #6336
Calico has not been tested much with containerized openshift. I'm not sure if the suggested change is the only one that will be needed.

[2017-12-04 18:05] srirammageswaran8 commented on #6336
++

@kprabhak

[2017-12-04 19:21] adelton commented on #6086
vendor/k8s.io/kubernetes/pkg/kubectl/cmd/auth/reconcile.go is new in OpenShift 3.7.

[2017-12-04 19:44] stevekuznetsov commented on #6342
I had talked with @deads2k about this when he asked what the process was for branching -- I think there may have been a poor communication on my end, this should not have been an issue this time around.

[2017-12-04 23:19] fraenkel commented on #6332
Here is the aftermath on prometheus, this is most likely something that should be reported to origins.
https://gist.github.com/fraenkel/882898500b8308eff33c71685bb08839

[2017-12-05 01:00] sjenning opened #6347 ""Create credentials for registry auth" task running before docker is installed"
[code]

This command is being run on the master before docker is installed.

Running on release-3.8.

[2017-12-05 03:10] sjenning commented on #6347
/cc @sdodson

[2017-12-05 07:37] cello86 commented on #6133
If you configure the installation if the LB and during this phase you restart the docker engine, the master APIs become available. I noticed this issue only with the version 3.7.0 and not 3.6.1

Marcello

[2017-12-05 07:38] cello86 commented on #6258
@aizuddin85 I confirm that with the branch 3.6 it works fine.

Thanks for the tips.

Marcello

[2017-12-05 07:38] #6258 closed

[2017-12-05 08:54] kargakis commented on #6342
Do we have any docs about this branching process?

[2017-12-05 11:53] jupierce commented on #6342
@kargakis - This is what it looks like for build focus group: https://github.com/openshift/aos-cd-jobs/blob/master/docs/sop/cut-new-release.md . Doc is a placeholder for automation.

[2017-12-05 13:36] jffz opened #6351 "Installation issue with multiple master and LB"
Load Balancer is not provisioned using multiple masters / nodes and a loadbalancer setup

##### Version
master

##### Steps To Reproduce
 ansible-playbook -i hosts playbooks/byo/config.yml

##### Current Result
[code]

[code]
##### Expected Result

Expect the loadbalanccer to be up

##### Additional Information
hosts file
[code]

[2017-12-05 13:53] sdodson commented on #6347
Ansible is pretty horrible about "No such file" errors. Can you tell if it's complaining about the absence of `docker` or `/var/lib/origin/.docker` or its parents?
/assign michaelgugino

[2017-12-05 13:54] sdodson commented on #6347
Nevermind, you'd already diagnosed it's because docker isn't installed.

[2017-12-05 14:03] michaelgugino commented on #6347
Currently, docker is required to be installed before running openshift-ansible

https://docs.openshift.org/latest/install_config/install/host_preparation.html#installing-docker

[2017-12-05 15:15] sosiouxme opened #6353 "Could not find or access 'v3.8/glusterfs-registry-endpoints.yml.j2'"
#### Description

When installing CNS against v3.8, it looks like some glusterfs templates for 3.8 haven't been created.

##### Version

[code]

##### Steps To Reproduce

See [attached inventory and logs](https://github.com/openshift/openshift-ansible/files/1531633/ansible_logs.tar.gz) -- last run is where this occurred.

##### Observed Results

[code]

##### Additional Information

Test cluster i

[2017-12-05 15:16] sosiouxme commented on #6353
@jarrpa @mjudeikis

[2017-12-05 15:48] cello86 opened #6354 "Openshift Origin 3.7 FAILED - RETRYING: wait for api server to be ready (120 retries left)."
#### Description
During the installation of Openshift Origin the playbook fails on this step:

`FAILED - RETRYING: wait for api server to be ready (120 retries left).
`
Provide a brief description of your issue here. For example:

The problem seems to be related with service catalog present on the newer Openshift Origin version.

[2017-12-05 15:53] michaelgugino commented on #6354
There is not enough information provided to attempt to reproduce the problem.

Please file a new issue and fill out the template provided therein.  Any extra details are helpful.

[2017-12-05 15:53] #6354 closed

[2017-12-05 16:05] cello86 opened #6355 "Openshift Origin 3.7 FAILED - RETRYING: wait for api server to be ready"
#### Description
During the installation of Openshift Origin the playbook fails on this step:

`FAILED - RETRYING: wait for api server to be ready (120 retries left).`

The problem seems to be related with service catalog present on the newer Openshift Origin version.

##### Version
[code]

##### Steps To Reproduce
1. Download the latest version of openshift-ansible and use branch release-3.7
2. E

[2017-12-05 17:43] sjenning commented on #6347
This discussion about whether the installer is responsible for installing docker sounds very familiar.  I think we've had it before.  In the past, it did do the installation.  If the installer does not want to support this, I can just adapt my procedure.

[2017-12-05 18:26] #5657 closed

[2017-12-05 19:18] sosiouxme commented on #6353
I think this is working today. Hard to tell because my test cluster is totally broken but I think it got past this.

[2017-12-05 19:24] michaelgugino commented on #6347
@sjenning The master branch will now install docker.  We are refactoring that role heavily currently.  3.7 and below need to have docker installed before running openshift-ansible.

[2017-12-05 22:03] sosiouxme commented on #6353
Oops, spoke too soon. Yeah, still there today.

[2017-12-06 03:39] davistran86 opened #6367 "Adding new etcd node to existing cluster ?"
I'm running a multi master cluster with 3 master and 3 etcd, So if I want to add 1 more etcd node to cluster can I use openshift ansible to do it like adding new node with [new_etcd] ?

[2017-12-06 03:40] #6367 closed

[2017-12-06 04:52] micah commented on #6355
I ran into this same problem.

[code]

I decided to try and run the playbook again, it got to this point:

openshift_service_catalog : oc_process

which seemed hung, but then 33 minutes later, it went to the next step, which seems to be back to oc_process again:

[code]

I was using the `release-3.7.0day` branch because it seemed to have a couple of fixes on top of 3.7.0 that seemed reasonable.

[2017-12-06 05:26] micah commented on #6355
I rebooted my master, and the nodes, and now the oc commands return right away, because at the summary at the end it said:

[code]

I attempted to do that, and things went a lot faster, but I'm still getting back to the

[code]

If I try to do the curl command manually:

[code]

[2017-12-06 09:26] elasti-ronenc commented on #6222
Hello,
i am getting the same error

 FAILED! => {"changed": false, "cmd": ["docker", "pull", "registry.access.redhat.com/rhel7/etcd"], "delta": "0:00:00.203028", "end": "2017-12-06 09:24:50.662535", "failed": true, "rc": 1, "start": "2017-12-06 09:24:50.459507", "stderr": "open /etc/docker/certs.d/registry.access.redhat.com/redhat-ca.crt: no such file or directory", "stderr_lines": ["open /etc/doc

[2017-12-06 13:08] sdodson commented on #6222
The installer should no longer be using that image for etcd, we switched it in 85efc9cffc. Are you running the latest code?

[2017-12-06 14:50] lcarva commented on #6177
I'm also hitting this.

[2017-12-06 15:45] farshid3003 commented on #6222
I have the same problem with the latest version

[code]

[2017-12-06 15:46] elasti-ronenc commented on #6222
same error:
fatal: [console.ronenc.io]: FAILED! => {
    "changed": false,
    "cmd": [
        "docker",
        "pull",
        "registry.access.redhat.com/rhel7/etcd"
    ],
    "delta": "0:00:00.117533",
    "end": "2017-12-06 15:45:59.475021",
    "failed": true,
    "rc": 1,
    "start": "2017-12-06 15:45:59.357488"
}

STDOUT:

Using default tag: latest
Trying to pull repository registry.acc

[2017-12-06 16:52] flyingP0tat0 opened #6374 "etcd image not found"
#### Description

[code]

##### Version

ansible 2.4.1.0

openshift-ansible-3.7.13-1-2-gdf61aec

##### Steps To Reproduce
1. inventory file below
2. `ansible-playbook -i inventory openshift-ansible/playbooks/byo/config.yml`

##### Expected Results
Pull etcd image successfully.

##### Observed Results
etcd image not available.

##### Additional Information

inventory file (with obviously changed FQ

[2017-12-06 17:30] farshid3003 commented on #6222
add following line to the ansible file:
`osm_etcd_image=registry.fedoraproject.org/f26/etcd`
but now fedora is not available too

[2017-12-06 17:57] tracestats commented on #6086
I try to install the OpenShift 3.6 too and i have this issue as well, can anybody help to solve this issue?

[2017-12-06 18:07] HoogWater commented on #6374
I have exactly the same issue,

it seems that registry.fedoraproject.org is no longer serving the containers tha tis defined in the ansible playbook, actually none of the images are available anymore.

[2017-12-06 18:17] HoogWater opened #6375 "origin37 repo not in release-3.7"
#### Description

Provide a brief description of your issue here. For example:

##### Version

Please put the following version information in the code block
indicated below.

* Your ansible version per `ansible --version`
2.4.1.0

If you're operating from a **git clone**:

* The output of `git describe`

If you're running from playbooks installed via RPM or
`atomic-openshift-utils`

* The output

[2017-12-06 18:26] farshid3003 commented on #6374
registry.fedoraproject.org is not available

[2017-12-06 18:34] michaelgugino commented on #6086
@tracestats use the release-3.6 branch.  We recommend using the release branch that corresponds to the release of openshift you desire to deploy.

[2017-12-06 21:16] megian opened #6377 "no matches for servicecatalog.k8s.io"
Version

oc v3.7.0+7ed6862
kubernetes v1.7.6+a08f5eeb62
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://master1:8443
openshift v3.7.0+7ed6862
kubernetes v1.7.6+a08f5eeb62
Steps To Reproduce

ansible-playbook -i hosts playbooks/byo/openshift-cluster/service-catalog.yml
Current Result

TASK [ansible_service_broker : Create the Broker resource in the catalog]
fatal: [master1]: FAILED! =>

[2017-12-06 22:31] tracestats commented on #6086
@michaelgugino thank you! It works :)

[2017-12-07 09:24] RobMokkink commented on #6244
My bad, i see i forgot option:

`openshift_master_overwrite_named_certificates=true`

[2017-12-07 09:24] #6244 closed

[2017-12-07 13:17] jtower525 commented on #4582
same here nick, my inventory hosts file that worked with 3.6 fails with 3.7.

[2017-12-07 15:11] davistran86 opened #6383 "Origin 3.7 - Failed to deploy Registry Console pod - Error: Failed create pod sandbox"
#### Description

I have succeeded installing origin 3.7 with multi master setup with no error, but I got registry-console pod stuck at Container Creating forever while docker-registry and router pod are running. I did an oc rollout latest but still stuck at Container Creating

[code]

When I checked with oc get event I saw this error:

`44s        9m          7         registry-console-2-deploy

[2017-12-07 15:38] Asgoret commented on #6218
Problem isn't in storage part.

[2017-12-07 15:38] #6218 closed

[2017-12-07 15:42] Asgoret commented on #6218
@jarrpa  Hi, error isn't in storage part, but maybe you know something about it?
[code]

Versions:
[code]
Also i try install from release version.

[2017-12-07 15:58] danielkucera commented on #6222
this helped to me:
`rm -f /etc/docker/certs.d/registry.access.redhat.com/redhat-ca.crt`

[2017-12-07 16:01] xelfe opened #6384 "Cannot advanced install with gluster"
#### Description
Trying to do a advanced install with native gluster without success.

##### Version
[code]

##### Steps To Reproduce
1. git clone https://github.com/openshift/openshift-ansible
2. edit the ansible hosts
3. ansible-playbook ~/openshift-ansible/playbooks/byo/config.yml

##### Expected Results
A working andvanced install with native gluster
error message from ansible;
[code]

##### O

[2017-12-07 16:08] davistran86 commented on #6383
Restarted node solved my problem, don't know why after installing origin my docker get error when pulling image.

[2017-12-07 16:08] #6383 closed

[2017-12-07 16:15] malagant commented on #6222
Don't delete stuff that's needed for pulling securely from a secure registry ;)

Just install `yum install python-rhsm-certificates -y` on all nodes and it works.

[2017-12-07 16:18] xelfe commented on #6384
sorry I think I make a duplicate  with #6339

[2017-12-07 18:35] jarrpa commented on #6218
Unfortunately not. :( Maybe raise another issue about it, it looks like some includes are missing.

[2017-12-07 19:39] sosiouxme opened #6390 "cfme/manageiq in v3.8: StatefulSet in version "v1beta1" cannot be handled"
#### Description

Failure to create statefulset as needed for management in v3.8.

##### Version

[code]

##### Steps To Reproduce
1. Attempt 3.8 install with management

##### Observed Results

[Inventory and logs attached](https://github.com/openshift/openshift-ansible/files/1540350/ansible-logs.tar.gz) (last timestamp is where error occurred).

[code]

[2017-12-07 19:43] sosiouxme commented on #6390
Since this looks like it might be related to origin 3.8 changes I thought it's worth getting ahead of this.

[2017-12-07 19:55] sosiouxme opened #6392 "prometheus install does not use PVs defined"
#### Description

When installing prometheus with NFS PVs, the PVs are created but never used. Pod created with EmptyDir.

##### Version

[code]

##### Steps To Reproduce

See attached [inventory and logs](https://github.com/openshift/openshift-ansible/files/1540350/ansible-logs.tar.gz).

Relevant inventory items:

[code]

##### Observed Results

[code]

[2017-12-07 23:48] xelfe commented on #6339
@pgeorgiev333 Did you find something to make it work ?

[2017-12-08 06:49] pgeorgiev333 commented on #6339
Yep. Here are the changes:

[code]

Then for every node i also added "containerized=true" , i.e.

[code]

Honestly i'm not sure you need the "containerized=true" setting everywhere as i have not tested all other options without setting it but you can try and send feedback. I think the most important option is **"openshift_repos_enable_testing=true"** because i noticed that although i run the playb

[2017-12-08 11:04] Asgoret commented on #6218
@jarrpa
Solved porblem. I install openshift cluster from release 3.6, so if you want add something in future (in my case it was metrics) you need to use same version. I clone master branch and install failed, but when clone branch 'release-3.6' install end with succes.
And there was some problem with docker image:
https://github.com/openshift/origin/issues/15851

[2017-12-08 15:44] #5586 closed

[2017-12-08 19:44] zak-hassan-hs opened #6410 "When doing an install I get the following error:"
#### Description
[code]

##### Version

Latest from master as of Dec 8, 2017

* Your ansible version per `ansible --version`
2.4.1.0 version of ansible is being used.
If you're operating from a **git clone**:

* The output of `git describe`

[code]

If you're running from playbooks installed via RPM or
`atomic-openshift-utils`

* The output of `rpm -q atomic-openshift-utils openshift-ansible`

Pla

[2017-12-08 21:03] ghost opened #6412 "Fails to Verify API - 3.7"
#### Description

I too am having this problem with the ansible installer. I am installing to VirtualBox VMs on my laptop for a testing environment. No problem on other platforms.

Version: 3.7.0

Grabbed via git

fatal: [master.training.crossvale.io]: FAILED! => {"attempts": 120, "changed": false, "cmd": ["curl", "--silent", "--tlsv1.2", "--cacert", "/etc/origin/master/ca-bundle.crt", "https://ma

[2017-12-08 21:16] jeffcpullen opened #6413 "openshift_storage_nfs_lvm role with_sequence formatting error"
#### Description

Attempts to use the the openshift_storage_nfs_lvm role results in an error

`unrecognized arguments to with_sequence: [u'_raw_params']`

##### Version

[code]

##### Steps To Reproduce
1. Create a playbook to run the role
[code]
2. Run it against an NFS server

##### Observed Results
Describe what is actually happening.

[code]

##### Additional Information

I was able to work ar

[2017-12-09 03:51] #6384 closed

[2017-12-09 03:51] xelfe commented on #6339
Well evrything was fixed with commit 2bf65cdab4aa88f160d005d3b7649b22a6dceba8  I think the issue can be close

[2017-12-10 08:30] zgalor commented on #6392
inventory is missing the following variables:
`openshift_prometheus_storage_type=pvc`
`openshift_prometheus_alertmanager_storage_type=pvc`
`openshift_prometheus_alertbuffer_storage_type=pvc`

This is why 'emptydir' is used by default.
documentation:
https://github.com/openshift/openshift-ansible/tree/master/roles/openshift_prometheus#pvc-related-variables

example:
https://github.com/openshift/ope

[2017-12-10 14:20] megian opened #6417 "glusterfs privileged host access problem"
#### Description

Unable to deploy glusterfs with openshift-ansible branch 3.7. The namespace glusterfs is created but unable to start the glusterfs containers until more permissions are given.

[root@host ~]# oc describe ds/glusterfs-storage
Name:		glusterfs-storage
Selector:	glusterfs=storage-pod
Node-Selector:	glusterfs=storage-host
Labels:		glusterfs=storage-daemonset
Annotations:	description=

[2017-12-10 22:26] elajoie commented on #6247
Same issue:
failed: [master1.lajoie.org] (item=glusterblock-template.yml) => {
    "changed": false,
    "failed": true,
    "item": "glusterblock-template.yml",
    "msg": "Could not find or access 'v3.7/glusterblock-template.yml'\nSearched in:\n\t/usr/share/ansible/openshift-ansible/roles/openshift_storage_glusterfs/files/v3.7/glusterblock-template.yml\n\t/usr/share/ansible/openshift-ansible/rol

[2017-12-11 02:49] micah commented on #6355
I think I got this to go away by re-enabling NetworkManager, which I had previously disabled because I did not need it running.

[2017-12-11 06:24] ToroNZ opened #6419 "Heapster fails due to inability to reach hawkular-metrics (Curl code 28)"
#### Description

Provide a brief description of your issue here:

**Heapster keeps bouncing because it cannot reach 'hawkular-metrics'.**
Metric tab not available in console `(metricsPublicURL: https://hawkular-metrics.apps.example.com/hawkular/metrics)`

Multi-master cluster (3x Master, 2x Infra, 3x etcd, 4x App nodes)

##### Version

Ansible version:
`ansible 2.4.1.0`

Openshift-ansible version

[2017-12-11 08:14] cello86 commented on #6355
@micah could you confirm if you restarted it during the failed retries? Into my installation the NM is enabled before the installation startup.

Thanks,
Marcello

[2017-12-11 09:28] pennpeng opened #6420 "[ERROR] client: etcd cluster is unavailable or misconfigured; error #0: malformed HTTP response "\x15\x03\x01\x00\x02\x02""
##### Version

Please put the following version information in the code block
indicated below.

* Your ansible version per `ansible --version`
[code]

If you're operating from a **git clone**:

* The output of `git describe`
[code]

If you're running from playbooks installed via RPM or
`atomic-openshift-utils`

* The output of `rpm -q atomic-openshift-utils openshift-ansible`

Place the output bet

[2017-12-11 14:04] sosiouxme commented on #6392
Ah, thanks for clearing that up.

If I may make a suggestion... I don't think it's completely obvious which of those parameters are required and which I can just leave as the defaults for a trial install. I imagine this will improve as more types of storage become supported at install but it could be helpful to explain that you need both the `kind` and the `type` and they correspond to the PV (if

[2017-12-11 14:24] jarrpa commented on #6247
Should be resolved by: https://github.com/openshift/openshift-ansible/pull/6273

Could someone verify?

[2017-12-11 14:50] jarrpa commented on #6247
This should have been fixed as of https://github.com/openshift/openshift-ansible/commit/e48474a8a4c584fd5655ba3eb1bde3208300a545#diff-68bfeac0f198eba097e4881930f48c8c

[2017-12-11 14:56] micah commented on #6355
@cello86 I initially disabled NM when I installed the base system (centos atomic). I did the deployment a few times and was getting this error, and then I re-enabled NM, and since then I have not been getting the errors during deployment.

[2017-12-11 15:50] ctron opened #6424 "Metrics setup configures non-existing HOSA image"
#### Description

On an installation enabling the metrics system and deploying the hawkular openshift agent (HOSA) a non-existing HOSA image gets configured, resulting in ImagePullBack errors:

[code]

Configured image: docker.io/openshift/origin-metrics-hawkular-openshift-agent:latest

[code]

##### Version

Please put the following version information in the code block
indicated below.

* Your a

[2017-12-11 16:50] micah commented on #6377
I'm getting the same error, using openshift-ansible branch release-3.7 with latest commit 8e4c88a7ad27107d2fa4741beed0243abba8ff90

here is a -vvvv output:

[code]

[2017-12-11 19:20] helletheone opened #6429 "Install fails with Command not found error Urgent"
#### Description
sorry but i create this problem here:
https://github.com/openshift/origin-aggregated-logging/issues/839
And i was asked to create this ticket here again:  soo :)

Hey, i want to activat the logging on our cluster. But i get this error:

Openshift Origin version 3.6:
OS: Centos 7
Setup: Multi-Master Setup( 1 LB Native & 3 Masters & 3 Worker Nodes) :

TASK [openshift_logging : Run J

[2017-12-11 20:22] sdodson commented on #6429
keytool is provided by the jdk, can you try installing java-1.8.0-openjdk-headless on your control host?
/assign ewolinetz

[2017-12-11 20:29] jitendra01mishra opened #6430 "'dict object' has no attribute 'version'"
#### Description

while installing openshift origin i am facing below issues :  'dict object' has no attribute 'version'

Below is the command which i am running:

ansible-playbook -i ansible-inventory/inventory.erb ./openshift-ansible/playbooks/byo/openshift-cluster/upgrades/v3_9/upgrade.yml -vvvv

please find my ansible inventory file :

[code]

##### Version

Please put the following version in

[2017-12-11 20:35] dustymabe opened #6431 "glusterfs containers can't start on 3.7 with docker 1.13+"
In Fedora we currently have `docker-1.13.1-42.git4402c09.fc27.x86_64`. There was a change in kube 1.7 to use shared PID namespaces in a pod if docker > 1.13+. It causes issues with our gluster pods (systemd in a container):

[code]

This specific issue with gluster is documented [upstream](https://github.com/kubernetes/kubernetes/issues/48937) and they actually [reverted the change](https://github

[2017-12-11 20:48] jitendra01mishra commented on #6430
Hi Team, Please help on this .. its bit urgent

[2017-12-11 20:55] sdodson commented on #6431
@dustymabe I assume you have no reasonable way to downgrade to docker-1.12 on this as it's atomic host?
@sjenning assuming ^^ is "no" what should we tell folks who are in the situation where docker-1.13 is the only version of docker available?

[2017-12-11 20:58] dustymabe commented on #6431
We've had docker 1.13 in Fedora for some time now and going backwards is not desirable.

hi @sjenning :)

[2017-12-11 21:00] sdodson commented on #6431
Even if it weren't atomic host Docker 1.12 was never available for Fedora 27.

[2017-12-11 21:08] micah opened #6434 "etcdserver/membership: cluster cannot be downgraded (current version: 3.1.9 is lower than determined cluster version: 3.2)."
On a single master, multiple node install, I've attempted to deploy the release-3.7 branch and I'm unable to bring up the etcd_container.service, and thus the api cannot also start.

[code]

##### Steps To Reproduce
1. ansible-playbook -vvv -i <path_to_hosts> ./openshift-ansible/playbooks/byo/config.yml
2. wait for failures

##### Expected Results
I expect etcd to be upgraded to 3.2

##### Observe

[2017-12-11 21:15] helletheone commented on #6429
@sdodson big thx you save me day ;-) but i guess this was useful in the Documentation that java is needed ;)

[2017-12-11 22:45] #5467 closed

[2017-12-11 23:00] lucamaf commented on #2553
had similar issue with v1.5.0 origin and switching to v.3.6.1 solved it, but unsure what was the issue

[2017-12-11 23:45] micah commented on #6434
I destroyed my etcd directory and re-deployed from scratch to resolve the issue.

[2017-12-11 23:45] #6434 closed

[2017-12-12 00:57] ozdanborne opened #6435 "openshift-ansible uses a tag of docker.io/ansibleplaybookbundle/ansible-service-broker that does not exist."
#### Description

My fresh v3.7 cluster is provisioning successfully but the `openshift-ansible-service-broker` pod is stuck in `ErrImagePull`.

[code]
Seems that by default (https://github.com/openshift/openshift-ansible/blob/master/roles/ansible_service_broker/vars/default_images.yml#L4) they use the tag `latest` which doesn't exist on dockerhub: https://hub.docker.com/r/ansibleplaybookbundle/an

[2017-12-12 05:38] sjenning commented on #6431
PR opened to backport the revert from upstream https://github.com/openshift/origin/pull/17722

[2017-12-12 09:30] wanghaoran1988 opened #6437 "Add default labels for the node"
#### Description
oc get node will always print <none> for the node roles:

[code]

the "ROLES" colum are generated by the node label "kubernetes.io/role", see the [code](https://github.com/openshift/origin/blob/master/vendor/k8s.io/kubernetes/pkg/printers/internalversion/printers.go#L1169)

We need add a default label for the node, master, so we can list the correct role when we run "oc get node",

[2017-12-12 12:33] ctron commented on #6424
In addition to that the start command seems to be wrong as well:

The correct one would be:

[code]

Instead it is:

[code]

[2017-12-12 13:46] plaimbock commented on #6086
Using branch release-3.6 to deploy oo36 worked (thanks for the tip!) but using branch release-3.7 to deploy oo37 fails because it installs 3.6 RPMs which causes the RBAC reconcilliation task to fail. Any chance branch release-3.7 can be patched to install 3.7 RPMs? The 3.7 RPMs are now available at   http://mirror.centos.org/centos/7/paas/x86_64/openshift-origin/

[2017-12-12 18:43] plaimbock opened #6448 "Deployment of origin 3.7 on Azure fails in TASK [set masters as unschedulable]"
#### Description

Deployment of OpenShift Origin 3.7 on Azure with branch release-3.7 of openshift-ansible fails in TASK [set masters as unschedulable]

##### Version

Please put the following version information in the code block
indicated below.

* Your ansible version per `ansible --version`

If you're operating from a **git clone**:

* The output of `git describe`

If you're running from playb

[2017-12-12 19:23] mbruzek commented on #6355
I also have this error on an OpenStack cloud with Red Hat Enterprise Linux Server 7.4 (Maipo) as the base VM image.
OpenShift version: v1.7.6+a08f5eeb62
Kernel version: 3.10.0-801.el7.x86_64
[code]
I attempted to re-run only the `openshift-ansible/playbooks/byo/openshift-cluster/service-catalog.yml` playbook and got the following error:
[code]

I would be happy to provide more information, just le

[2017-12-12 21:18] joelddiaz opened #6455 "allow conditionally setting/applying cloudforms/miq scc actions"
#### Description

When running through the roles/openshift_management role, it unconditionally grants some elevated operations for the cloudforms/miq 'ansible' pod (https://github.com/openshift/openshift-ansible/blob/master/roles/openshift_management/tasks/accounts.yml ).

The 'ansible' pod isn't enabled by defaults (ie the deployementconfig has it set to replicas: 0), so it would be great if duri

[2017-12-13 02:22] pennpeng commented on #6420
i have fixed this bug:
the image shoud be "ansibleplaybookbundle/origin-ansible-service-broker",not "ansibleplaybookbundle/ansible-service-broker"

[2017-12-13 03:00] davistran86 opened #6457 "How to replace corrupted master node with new one ?"
Hi guys, I would like to know how to replace a master node in existing openshift cluster ? for example if one master down, and I would like to add new one to replace it, so how can I do this using openshift ansible ? thanks alot.

[2017-12-13 08:54] saurabhdevops commented on #5324
We face this too while trying to upgrade from 1.5 to 3.6. The same upgrade worked last week flawless. But with the release of 3.7, the upgrade brakes with the similar error. The workaround by @disappear89 doesn't work for us.

[2017-12-13 10:53] rahnarsson opened #6459 "openshift_facts.py should convert booleans to strings?"
#### Description

I set the 'logging-infra-fluentd': true label on upgrade from 3.5 to 3.6 and that worked without problems and fluentd is deployed correctly.

I then tried to run minor configuration change using
/usr/share/ansible/openshift-ansible/playbooks/byo/config.yml playbook

this causes ansible-run to fail .

##### Version

[code]

##### Steps To Reproduce
1. Set 'logging-infra-fluentd':

[2017-12-13 11:10] nemethhh opened #6460 "v3_7 upgrade.yml playbook fails if master servers added to [etcd] section"
#### Description

openshift-ansible/playbooks/byo/openshift-cluster/upgrades/v3_7/upgrade.yml playbook fails with error message
[code]
Inventory file like this
[code]
I have 3 dedicated etcd nodes and use 2 of the masters for etcd. If I comment masters (phx01sbosm0[2:3]) in the [etcd] section the upgrade does not fail.
##### Version

[code]

##### Steps To Reproduce
1. Clone openshift-ansible
2. R

[2017-12-13 11:58] ksemaev commented on #5324
OK, the problem is like @adbaldi mentioned - they've split repos. So we gave old basic repo /etc/yum.repos.d/CentOS-OpenShift-Origin.repo in our system with new /etc/yum.repos.d/CentOS-OpenShift-Origin36.repo.
All you need is rm -f /etc/yum.repos.d/CentOS-OpenShift-Origin.repo on all nodes and masters, so the won't be able to find this 3.7 excluder

[2017-12-13 12:50] plaimbock commented on #6448
The error was fixed by adding openshift_schedulable=false to the master nodes in the inventory

[2017-12-13 12:50] #6448 closed

[2017-12-13 13:26] rahnarsson commented on #6459
labels_str = list(map(lambda x: '='.join(x), facts['node']['labels'].items()))

Should be:
labels_str = list(map(lambda x: '='.join(str(x)), facts['node']['labels'].items()))

[2017-12-13 14:48] ksemaev commented on #4496
+1

[2017-12-13 15:26] michaelgugino commented on #6457
@davistran86 You should remove the down node from your inventory.

Next, you can use the steps to add a node to the new_master group here: https://docs.openshift.org/3.6/install_config/adding_hosts_to_existing_cluster.html

Steps may vary depending on your version of openshift, ensure you use the docs for your version.

[2017-12-13 15:32] adelton opened #6464 "Running playbooks/deploy_cluster.yml fails on RHEL 7.4"
#### Description

Provide a brief description of your issue here. For example:

On a all-on-one setup on RHEL 7.4, running

[code]

fails.

##### Version

Please put the following version information in the code block
indicated below.

* Your ansible version per `ansible --version`

[code]

If you're operating from a **git clone**:

* The output of `git describe`

[code]

##### Steps To Reproduce

[2017-12-13 15:48] jtudelag opened #6465 "Journald logs are persistent now. No way to override default values"
#### Description
Since 3.7 version, journal logs are persistent by default. But there is no easy way to override its conf variables, because they are defined in the /vars/main.yaml of the role. There might be scenarios where these default values dont fit.

- https://github.com/openshift/openshift-ansible/blob/release-3.7/roles/openshift_master/vars/main.yml#L29

- https://github.com/openshift/open

[2017-12-13 16:56] adelton commented on #6464
Bisecting the commits in master, the last commit where this part of playbook passes is 0beab180d22f28f3f529ca0252f23bb92a7b69a7. So it looks like the regression comes from 8b484281b6052b82869da8cc691e427ec9e1a0fc, https://github.com/openshift/openshift-ansible/pull/6316.

[2017-12-13 18:37] michaelgugino commented on #6464
@adelton playbooks/prerequisites.yml must now be run before deploy_cluster on new clusters.

[2017-12-13 18:43] mazzystr opened #6471 "Inconsistent openshift_release values detailed in aws deployment and openshift-ansible example inventory file"
#### Description
I have been peer reviewing AWS deployment code getting ready to integrate the procedure into the e2e reference documentation.  I've come across a situation where we set a vars file containing key openshift_release.

I would expect this key to align with the values in an openshift-ansible inventory file so that it's not being defined twice, overwritten or overridden and creating a

[2017-12-14 03:01] davistran86 commented on #6457
hi @michaelgugino , thanks for your reply, I'm using version 3.7 but when I removed 1 master from inventory ( etcd, master, node groups) I got error that cannot use embedded etcd, need one or three host in etcd group. So 2 are not possible, is setting openshift_master_unsupported_embedded_etcd=true ok for future use ?

[code]

[2017-12-14 04:43] eliu opened #6475 "Upgrade to 3.7.0 Failed at Task 'Upgrade all storage' with Error 'x509: certificate signed by unknown authority' and 'service-catalog-signer'"
#### Description

Trying to upgrade my existing openshift origin cluster (3 nodes) to `v3.7.0` using openshift-ansible's `release-3.7` branch and get the following error:

[code]

##### Version

Please put the following version information in the code block
indicated below.

* Your ansible version per `ansible --version`

[code]

If you're operating from a **git clone**:

* The output of `git desc

[2017-12-14 08:14] elad661 opened #6477 "Add a way to specify storage options for all components only once"
openshift-ansible can install a lot of components, such as logging, promethues, metrics, logging ops, and management.
Each of these must have their storage options listed individually in the inventory, so you end up with rather long inventory files which a lot of similar lines - which makes it easier to make mistakes.

The fact that some of the components (eg. management) use slightly different in

[2017-12-14 10:48] adelton commented on #6464
Thanks, will try that.

It however seems a bit unfortunate -- why can't everything be setup with one step?

[2017-12-14 12:02] ctron opened #6478 "release-3.7 installs OpenShift 3.6.1"
#### Description

Provide a brief description of your issue here. For example:

Installing from branch `release-3.7` actually installs OpenShift 3.6.1.

##### Version

Please put the following version information in the code block
indicated below.

* Your ansible version per `ansible --version`

If you're operating from a **git clone**:

* The output of `git describe`

Place the output between the

[2017-12-14 12:52] giuseppe commented on #6464
@adelton does running `playbooks/prerequisites.yml ` solve the issue or is it still something that should be investigated in #6316?

[2017-12-14 15:24] Gl4di4torRr commented on #3213
I am still getting: `ERROR: Exception caught: org.freedesktop.PolicyKit1.Error.Failed: Action org.fedoraproject.FirewallD1.config.info is not registered`

Here is my `/var/log/firewalld` output:

[code]

Is there a workaround for this?

[2017-12-14 15:27] michaelgugino commented on #6457
@davistran86 try putting the new host in both master/new_master and etcd_newetcd.

You don't want to use the embedded option.

[2017-12-14 15:58] sdodson commented on #3213
It's believed that this is a race condition in polkit and firewalld, can you make sure those packages are at their latest revisions?

[2017-12-14 16:04] Gl4di4torRr commented on #3213
@sdodson

Here is my ansible task:

[code]

The output says I am at the latest for both but still getting the error.

[2017-12-14 16:53] sosiouxme commented on #6189
As you can see:

`Checked with: skopeo inspect [--tls-verify=false] [--creds=<user>:<pass>] docker://<registry>/<image>`

... the check is not using `docker pull` to check whether it can pull the image, but rather doing a quick check with skopeo. So the environment is a bit different. In this case:

[code]

It seems skopeo is failing to connect to docker.io at all. What might be configured into do

[2017-12-14 17:03] sosiouxme commented on #6300
@michalalter There is indeed a problem with skopeo not picking up proxy settings when run via openshift-ansible. I haven't dug in deep enough to figure out why yet. Where/how are you setting the proxy configuration?

In the meantime, you can of course disable the check to get past it. The check exists to warn you about problems; if they're not actually problems, you can ignore the check (however I

[2017-12-14 17:07] sosiouxme commented on #6043
You are correct that disabling the check doesn't solve the problem, just ignores it so that it manifests later in the install.

If docker pull doesn't work then this is alerting you to a legitimate problem, and there's really nothing the installer can do about it - it's up to you to have docker pull working.

The reported problem here is `Configured registries: registry.access.redhat.com (unreacha

[2017-12-14 17:22] michaelgugino commented on #6464
@adelton Currently, our documentation specifies that a lot of things need to be setup manually before running openshift-ansible, docker (or other container runtime) being one of them.

We currently have a chicken and egg problem when it comes to docker.  We need docker to be installed and configured for health checks, version detection, and image availability to work.  We need all of these steps t

[2017-12-14 17:25] sosiouxme commented on #6002
It does look like you're falling victim to transient outages in reaching the registries. There is some retry logic that merged with https://github.com/openshift/openshift-ansible/pull/5365 so it ought to be in openshift-ansible 3.7 (and [backported to 3.6](https://github.com/openshift/openshift-ansible/pull/5393)). But it does quit trying after it's failed to reach a registry 3 times (otherwise th

[2017-12-14 18:00] adelton commented on #6464
Running `playbooks/prerequisites.yml` fails with

[code]

but the subsequent `playbooks/deploy_cluster.yml` then passes. Should we try to solve that `prerequisites.yml` failure here or in https://github.com/openshift/openshift-ansible/pull/6316 or should I file separate issue?

[2017-12-14 18:04] michaelgugino commented on #6464
@adelton Are you using an ansible.cfg file that points to the filter plugins directory?

I am currently refactoring filter plugins into a role that in included via meta-depends by other roles, so we shouldn't see this in the future in any case.

[2017-12-14 18:09] adelton commented on #6464
Docker has been a separate prerequisite which could be met outside of ansible -- for example it already is there on Atomic hosts. But this new `prerequisites.yml` step was not needed previously, so it seems like and extra complication. Among others, people might need to change the ansible invocation logic and stuff to now process list of two playbooks rather than just one `deploy_cluster.yml`. It

[2017-12-14 18:09] adelton commented on #6464
I don't use any nonstandard `ansible.cfg` file, my invocation is

[code]

[2017-12-14 18:47] michaelgugino commented on #6464
@adelton I appreciate your feedback.  The information I provided was kind of high-level synopsis.  As you are probably well aware, there are lots of moving pieces to deal with.

Currently, we're working towards 3 main functional areas:
1) prerequisites - things that need to be in place to install openshift.
2) install openshift - the control plane (etcd, masters) and nodes
3) install add-ons - thi

[2017-12-14 19:30] kincl commented on #6343
I can confirm I am also seeing this bug.

[2017-12-15 05:22] milad-soufastai commented on #6435
I see the same behavior on my fresh 3.7 install.

[2017-12-15 10:24] nodefourtytwo commented on #6374
I'm facing the same problem today.

Does anyone have an etcd 3.2.7 image available?

[2017-12-15 13:20] varac opened #6487 "First single-node installation fails with etcd error"
#### Description

On a single-node installation (master+node on the same host), `TASK [openshift_service_catalog : wait for api server to be ready]` fails with: `[-]etcd failed: reason withheld` (full error below).

##### Version

[code]

##### Steps To Reproduce

1. Install atomic host 7.1711
2. Allow direct ssh access to root
3. Increase root filesystem to 50GB
3. Clone openshift-ansible, checko

[2017-12-15 13:39] varac commented on #6487
Another issue is that explicitly specifying the host ip as endpoint returns a cert error:

[code]

[2017-12-15 14:13] varac commented on #6487
[code]

[2017-12-15 14:15] cello86 commented on #6355
I tried to replicate the issue and after the

[2017-12-15 14:16] varac commented on #6487
This is the systemd etcd_container service:

[code]

[2017-12-15 15:25] adelton commented on #6464
I confirm that setting `ANSIBLE_CONFIG` environment variable to point to `ansible.cfg` in the `openshift-ansible` checkout directory makes `playbooks/prerequisites.yml` pass.

What I see then failing is `playbooks/deploy_cluster.yml` in

[code]

[2017-12-15 15:29] michaelgugino commented on #6464
@ewolinetz latest item is tsb failing to deploy on master.  Could you shed any light on this?

[2017-12-15 16:43] ewolinetz commented on #6464
@adelton Can you `oc describe` the template service broker pod and provide the output here?

[2017-12-15 17:05] adelton commented on #6464
Not sure which pod you have in mind exactly because I don't see a namespace/pod with `template` in name but I see

[code]

and I assume we are after that `asb-1-deploy` which describes as

[code]

[2017-12-15 20:34] bkkhoo opened #6500 "Advanced installation failed with advance audit policyFile"
#### Description

Openshift v3.7 supports advanced audit which can be configured using either an embedded `policyConfiguration` in master-config.yaml or using a `policyFile`.

During openshift advanced installation, the following cluster variable in the inventory file is used to configure advanced audit:
[code]

Advanced installation created the correct auditConfig stanza in /etc/origin/master/mas

[2017-12-15 20:53] ewolinetz commented on #6464
There should be a namespace created in the template_service_broker role called `openshift-template-service-broker`.

The pod name should be something like `apiserver`.

Do you get anything back from `oc get ds -n openshift-template-service-broker` ?
Is it possible to rerun just the service-catalog playbook (as described in your error output) but with `-vvv` and provide the output of the task `TASK

[2017-12-15 22:06] pravisankar commented on #5291
@jsuchenia  I think you might have figured out the fix.
When we create node config we could provide all hostnames and IPs that will communicate with the 'openshift-infra' node.

[code]

[2017-12-15 22:37] rharveyva opened #6503 "Missing config.yml from /openshift-ansible/playbooks/byo/"
The openshift install guid states to run
# ansible-playbook [-i /path/to/inventory] \
    ~/openshift-ansible/playbooks/byo/config.yml
based on
https://docs.openshift.org/latest/install_config/install/advanced_install.html#running-the-advanced-installation-rpm

The config.yml does not exist anymore.

output from ls -l
[server/]$ ls -l /openshift-ansible/playbooks/byo/
total 12
lrwxrwxrwx. 1 root r

[2017-12-16 02:38] GloriaPG commented on #6503
Hi @rharveyva  the new way to do this is  using deploy_cluster https://github.com/openshift/openshift-ansible/tree/master/playbooks , https://github.com/openshift/openshift-ansible/blob/master/playbooks/deploy_cluster.yml

Example :
 ansible-playbook -i /tmp/openshift-ansible-master/inventory/x /tmp/openshift-ansible-master/playbooks/deploy_cluster.yml

Cheers!

[2017-12-16 08:50] jsuchenia commented on #5291
@pravisankar Yes, so there is a workaround - my proposal in this ticket was to fix that in an ansible scripts, to unify behaviour of kubelet code and deployment scripts. If you are using ansible only you can just provide both parameters in an inventory file (https://github.com/openshift/origin/issues/15910#issuecomment-351947767)

[2017-12-17 21:05] varac commented on #6487
I ran into this error when the atomic host VM was behind NAT using iptables.
When I changed my libvirt setup to bridged networking I had no problems. So I'll close this issue.

[2017-12-17 21:05] #6487 closed

[2017-12-17 21:24] varac opened #6506 "Ansible-service-broker: no route to host"
#### Description

On a single-node installation (master+node on the same host), the ansible deploy succeeds but I get an event warning that the ansible-service-broker is unreachable:

[code]

##### Version

[code]

##### Steps To Reproduce

1. Install atomic host 7.1711 as a libvirt VM in bridged networking mode
2. Allow direct ssh access to root
3. Increase root filesystem to 50GB
3. Clone opensh

[2017-12-17 23:33] gordillo-ramon-redhat commented on #5756
Same happens with minishift and ocp v3.7.9:

  | failed: [192.168.99.100] (item=iproute) => {"changed": false, "failed": true, "item": "iproute", "msg": "No package matching 'iproute' found available, installed or updated", "rc": 126, "results": ["**No package matching 'iproute' found available, installed or updated**"]}
  | ok: [192.168.99.100] => (item=dbus-python) => {"changed": false, "item":

[2017-12-18 01:38] gordillo-ramon-redhat commented on #5756
Checked this is the problem. Installing iproute in the container (v3.7.9) the playbook moves forward, but other dependencies (hostname) also needs to be added:

TASK [Gather Cluster facts and set is_containerized if needed]
  | fatal: [192.168.99.100]: FAILED! => {"changed": false, "cmd": "hostname -f", "failed": true, "msg": "[Errno 2] No such file or directory", "rc": 2}

[2017-12-18 01:59] gordillo-ramon-redhat commented on #5756
And with hostname installed:

  | TASK [openshift_version : Get available atomic-openshift version]
  | ok: [192.168.99.100] => {"changed": false, "check_mode": false, "results": {"cmd": "/usr/bin/repoquery --plugins --quiet --pkgnarrow=repos --queryformat=%{version}\|%{release}\|%{arch}\|%{repo}\|%{version}-%{release} --config=/tmp/tmplqhoNi atomic-openshift", "package_found": false, "results": "

[2017-12-18 07:19] adelton commented on #6464
[code]

I guess the issue might be with that `region=infra` selector because I don't have any nodes with that label. How does one change the selector used by that `ds`?

[2017-12-18 07:43] ganhuang commented on #6464
The original issue which is being reported is exactly matching https://bugzilla.redhat.com/show_bug.cgi?id=1525357

From the [readme](https://github.com/openshift/openshift-ansible/blob/master/playbooks/README.md), currently we're unable to know what should be run first to deploy the cluster. Hopefully we could add the documentations to clarify the entry playbooks to make it more clear.

[2017-12-18 08:48] davistran86 commented on #6457
@michaelgugino thanks, I succeed replacing new master as you suggested using playbook scaleup.yaml from openshift-master. But I'm facing a new problem that only new master is ready, the rest are NotReady, checking log I saw that it's something due to certificate problems, . Is there any playbooks I must run after replacing master ?

`http: TLS handshake error from 192.168.70.111:42906: remote erro

[2017-12-18 09:09] davistran86 commented on #6457
I solved above problems with running redeploy-openshift-ca and redeploy-certificates playbook. But now I'm getting error with running app inside:

[code]

[2017-12-18 09:27] kprabhak commented on #6336
Was trying out Calico with Atomic host a few weeks ago, prior to 3.7 launch, with https://github.com/kprabhak/openshift-ansible/commit/011a22b48ae1aa4ca9fab5ee83727eeea23c3540

I hadn't had a chance to test more thoroughly at the time, or since, with 3.7. Will echo @ozdanborne comment above. Feedback or input from additional testing would be welcome.

[2017-12-18 10:28] cello86 commented on #6355
On our case we have identified the problem with the proxy settings. In fact we have the https_proxy environment configured and the no_proxy variable isn't set with the exclusione for "svc" domani. We added it and actually the step is ok.

[2017-12-18 16:25] fabianvf commented on #6506
Is the broker up? If there is no PV for the broker's etcd to consume the broker will not be able to start.

[2017-12-18 16:33] varac commented on #6506
@fabianvf What do you mean with `PV` ?

[2017-12-18 16:36] fabianvf commented on #6435
Actually that's pulling the wrong image entirely... It should be pointing at ansibleplaybookbundle/origin-ansible-service-broker instead. As a workaround, you can set the variable `ansible_service_broker_image_prefix` to `ansibleplaybookbundle/origin-`, and I'll get a fix for this in ASAP.

[2017-12-18 16:48] fabianvf commented on #6506
Sorry, persistent volume. Because the broker stores important information about the cluster state, it requires a persistent volume to be configured in order to come up. There are some more details in the [Install Guide](https://docs.openshift.com/container-platform/latest/install_config/install/advanced_install.html#configuring-openshift-ansible-broker) for the broker about how to ensure the broke

[2017-12-18 20:35] varac commented on #6506
I just did a complete redeploy from scratch, and I could reproduce the problem:

[code]

Indeed I didn't configure a PV. Will do this soon and report back if the problem is solved by this.

[2017-12-18 20:47] fabianvf commented on #6506
It looks like you'll also see #6435 , to avoid that you'll want to set `ansible_service_broker_image_prefix` to `ansibleplaybookbundle/origin-`

[2017-12-18 21:12] varac commented on #6506
@fabianvf thx, I'll try that later.

I configured a PV following ["Configuring the OpenShift Ansible Broker" docs](https://docs.openshift.com/container-platform/latest/install_config/install/advanced_install.html#configuring-openshift-ansible-broker)
[code]
  rpm-ostree install nfs-utils
  systemctl reboot
[code]
TASK [openshift_storage_nfs : Install nfs-utils] ************************************

[2017-12-18 22:09] davidaah opened #6521 "Error during openshift hosted registry installation"
#### Description

During the 3.7 installation, the following play is run to install a gluster backed openshift hosted docker registry https://github.com/openshift/openshift-ansible/blob/release-3.7/roles/openshift_hosted/tasks/storage/glusterfs.yml

We are seeing the following error during install:

TASK [openshift_hosted : Activate registry maintenance mode] *******************
<date> *******
fat

[2017-12-18 22:39] detiber commented on #3213
@jeffdyoung can you see if this is the same issue that you were hitting with firewalld enabled?

[2017-12-18 22:49] jeffdyoung commented on #3213
@detiber Not Exactly the same, but very similar
3.10.0-693.11.1.el7.ppc64le
firewalld-0.4.4.4-6.el7
polkit-0.112-12.el7_3.ppc64le

`Dec 18 17:43:27 firewalld[7161]: WARNING: COMMAND_FAILED: '/usr/sbin/iptables -w2 -t nat -D OUTPUT -m addrtype --dst-type LOCAL -j DOCKER' failed: iptables: No chain/target/match by that name.
Dec 18 17:43:27 firewalld[7161]: WARNING: COMMAND_FAILED: '/usr/sbin/iptabl

[2017-12-19 11:31] adelton commented on #6464
@ewolinetz, what is the correct way to specify different node selector than that `region=infra`? Assuming I want to run that `apiserver` on nodes with `node-app=true`, how do I do that?

I've tried to use `template_service_broker_selector='node-app=true'` in the inventory file but I get

[code]

[2017-12-19 13:25] milad-soufastai commented on #6464
@adelton I've been getting the same sort of errors with the template_service_broker which to me seem like an idempotence issue. I uninstalled my entire cluster using the uninstall.yml file in the adhoc folder, did some docker-storage cleanup, and am rerunning my setup which has worked in the past.

My errors in that step are mainly around the server asking the client to login.

[2017-12-19 15:55] pradeepnss commented on #5484
@tbielawa In this readme https://github.com/openshift/openshift-ansible/tree/master/roles/openshift_management i see that this role will be available as of now in manageIQ and it will be available in CFME after release 4.6. Please can you tell in which release of CFME it will be supported and also any idea on tentative release dates of CFME 4.6 and later releases ?

[2017-12-19 19:18] milad-soufastai commented on #6464
Following up on this: Once I uninstalled the cluster, running the prereq.yml with the ansible.cfg included in the repo and running deploy_cluster.yml works on first run.

[2017-12-19 19:35] adelton commented on #6464
@milad-soufastai, do you have any node with `region=infra` label?

[2017-12-19 19:38] milad-soufastai commented on #6464
@adelton I do, I run one master and one node. My master is my infra node.
`osmaster openshift_node_labels="{'region': 'infra','zone': 'default'}" openshift_schedulable=true
osnode1 openshift_node_labels="{'region': 'primary', 'zone': 'east'}"`

[2017-12-19 19:49] adelton commented on #6464
Well, I don't (as a matter of principle). The output I get in https://github.com/openshift/openshift-ansible/issues/6464#issuecomment-352344496 suggests that the `apiserver` wants to run on `region=infra` node, so that's why it fails for me. You might be hitting some other bug down the road.

[2017-12-20 01:34] fabianvf commented on #6506
Hmm, I've never tried setting up the NFS roles on atomic host. @sdodson do we know a good way to do this?

[2017-12-20 08:37] varac commented on #6506
I'm fine with picking a different backend as long as it's working mostly out of the box. I picked NFS because it was the documented default. Could you recommend sth else ? I'm learning openshift now and there's tons of new stuff for me so sth easy as PV backend would be appreciated.

[2017-12-20 14:00] sdodson commented on #6506
I'm afraid that using an atomic host for the nfs storage service may not work. Can you try using a normal RHEL/Centos/Fedora host as your NFS storage host?

[2017-12-20 14:11] varac commented on #6506
@sdodson That's too bad. Unfortunatly, I don't like to switch the host system for two reasons: I spent a lot of time understanding both atomic host and openshift, and am still a bit overwhelmed by this combination. That's why I don't want to introduce a third factor that I need to take care of. And the second reason is I really like the idea of a stripped down,immutable host.

Why don't nfs backen

[2017-12-20 15:57] fraenkel opened #6535 "Cannot set the master api server's runtime-config"
I am trying to enable Dynamic Admission Control which requires the following:
--runtime-config=admissionregistration.k8s.io/v1alpha1

If I try to configure the runtime-config  osm_api_server_args.
However, the openshift_master wire_aggregator.yml, will always reset the runtime-config to the value it has provided.

[2017-12-20 18:42] mazzystr commented on #6471
The problem appears to be caused by the following file...
/Users/ccallega/git/openshift-ansible/roles/openshift_sanitize_inventory/tasks/main.yaml
[code]

**Scenario 1 : 'openshift_release: v3.7' - Fails**
Task 'Normalize openshift_release' is being casted to a string.  The v gets removed but it appears the local fact isn't being pushed up to the Ansible global inventory.  Task 'Abort when openshi

[2017-12-20 18:58] delubi opened #6537 "TASK [template_service_broker : Apply template file] failed"
#### Description

Building an openshift cluster on Azure. Encountered error in the following task:

TASK [template_service_broker : Apply template file] ***************************
Wednesday 20 December 2017  16:39:16 +0000 (0:00:00.214)       0:01:40.878 ****
fatal: [OpenShiftMaster1]: FAILED! => {"changed": true, "cmd": "oc process -f \"/tmp/tsb-ansible-vdDFY9/apiserver-template.yaml\" --param A

[2017-12-20 18:58] gamkiller77 opened #6538 "upgrade v3_7 from master branch fails"
#### Description

Provide a brief description of your issue here. For example:

Upgrading to v3.7 via ansible keeps failing with the below error.
I did the pull from the master tag.

[code]

##### Version

Please put the following version information in the code block
indicated below.
[code]
If you're operating from a **git clone**:

* The output of `git describe`
openshift-ansible-3.9.0-0.10.0-40

[2017-12-20 19:14] gamkiller77 commented on #6538
i deleted the git pull i had and re pulled and it working now.

[2017-12-20 19:14] #6538 closed

[2017-12-20 19:29] sdodson commented on #6471
/assign kwoodson

[2017-12-20 20:53] fraenkel opened #6540 "Prereqs are not applied to masters or etcd when containerized"
If you run containerized the new prereqs are only applied to nodes. The install fails pretty quickly when you run containerized.

I also noticed that the container-runtime playbooks refer to openshift_containerized_host_groups which isn't set anywhere and will only configure the l_containerized_host_groups to be nodes only.

[2017-12-20 20:57] michaelgugino commented on #6540
@fraenkel Yes, this is a bug in our documentation for a few feature.

openshift_containerized_host_groups should be a list (as in, a yaml or json list) of host groups that are containerized.

Masters should be part of the nodes group.

[2017-12-20 22:03] fraenkel commented on #6540
@michaelgugino For some reason the masters aren't appearing in the oo_nodes_to_config.

[2017-12-21 10:52] davistran86 opened #6543 "Missing openssl.cnf in /etc/etcd/ca"
Hi guys, I'm trying to add new etcd host on origin 3.6, after following this guide https://access.redhat.com/articles/2650151 I saw that openssl.cnf is missing in /etc/etcd/ca/ . where can I get this file if it's missing ?

[2017-12-21 12:00] sector2000 opened #6544 "Installation fails when ansible_become=yes is in all group"
#### Description

The inventory defines hosts for Openshift (OSEv3 group) but also non-Openshift hosts. For this reason some common variables are defined in the [all:vars] group.
In [all:vars] group are defined the following variables:

ansible_user=ansible
ansible_become=yes
ansible_become_user=root

The Openshift installation fails with:

Failed to fetch the file: [Errno 13] Permission denied

d

[2017-12-21 14:45] fraenkel commented on #6540
@michaelgugino
I have tried setting openshift_containerized_host_groups to a variety of things like oo_all_hosts, g_master_hosts, and etcd, but it still only installs docker on the nodes. I think the evaluation of hosts isn't occurring after the variables are defined.

[2017-12-21 15:07] michaelgugino commented on #6540
@fraenkel openshift_containerized_host_groups should be a list.

Please post your inventory and I'll see if there's any issues and try to replicate.

[2017-12-21 16:04] fraenkel commented on #6540
@michaelgugino The relevant part taken from our default.yml which is under group_vars/OSEv3/

For testing I did,
openshift_containerized_host_groups: [ 'oo_all_hosts', 'etcd', 'g_master_hosts']

And when I add debug statements to the playbooks/container-runtime/private/conffig.yml
I see that l_containerized_host_groups has oo_nodes_to_config:oo_all_hosts:etcd:g_master_hosts, however I only see the

[2017-12-21 16:30] flyingP0tat0 commented on #6374
I tried again today and it worked.

[2017-12-21 16:30] #6374 closed

[2017-12-21 17:12] michaelgugino commented on #6540
@fraenkel Thank you for the information.  I was able to figure out what's happening.  I have a patch open to fix the issue of openshift_containerized_host_groups not working as intended.

You can now define openshift_containerized_host_groups in all group_vars or any group that the first master is a part of (such as OSEv3).

Also, all masters should be included in the nodes group, either directly

[2017-12-21 17:34] fraenkel opened #6547 "Node fails to start with AWS"
Running containerized....

The only relevant bit in my inventory is that the cloudprovider=aws.  I am using a profile which I did previously for 3.7.

Now when the node restarts, it fails because it cannot find /etc/origin/aws.conf
I believe this should be /etc/origin/cloudprovider/aws.conf

This probably isn't the only place where its an issue but the first one I hit.

[2017-12-21 20:50] #6540 closed

[2017-12-21 22:26] mbruzek opened #6555 "OpenStack installs result in 'unicode' object has no attribute 'items'"
#### Description
Running a multiple master install on OpenStack fails with an ansible error:
[code]

##### Version

* Your ansible version per `ansible --version`
[code]

* The output of `git describe`: `openshift-ansible-3.9.0-0.10.0-50-gfbf32e8`

* The output of `rpm -q atomic-openshift-utils openshift-ansible`

Place the output between the code block below:

[code]

##### Steps To Reproduce

I

[2017-12-22 10:06] ngreen64 commented on #6300
Regarding the Skopeo proxy issue it appears to be because Skopeo isn't able to pick up the shell variables for proxies.  I'm working with a customer who developed a patch to resolve this.  I've tested this on 3.6 behind a proxy and it got past the issue myself.  Attaching the patch below for reference.

[code]

[2017-12-22 19:12] markllama commented on #6555
I'm finding the same thing when attempting to install both RHEL and CentOS on OpenStack. Also can attach ansible logs if needed.

[2017-12-22 19:24] kalise commented on #6503
good to know but why not update the docs?

[2017-12-22 22:40] markllama commented on #6555
Not sure if this is relevant but these were introduced here: https://github.com/openshift/openshift-ansible/commit/42d3824ba0d5a1e2cff3dc3a179cf02e735bc5da

[2017-12-23 02:04] hetzbh opened #6560 "fail install with latest openshift-ansible"
I'm using CentOS 7.4 and @gshipley ansible configuration along with the latest update to use deploy_cluster.yml.

My inventory.erb file is the same as @gshipley just different host & domain name. When I run the command: ansible-playbook -i installcentos/inventory.erb openshift-ansible/playbooks/deploy_cluster.yml it stops after a minute or so with the following message:

`TASK [openshift_version :

[2017-12-23 06:11] linzhaoming commented on #6377
I meet the same problem
Download from the release links: openshift-ansible-3.7.15-1

[code]

[2017-12-23 08:49] linzhaoming commented on #6377
The cluster is still working, except the `ClusterServiceBroker` can not register.

When I print the logs of the Pod `controller-manager` in the project 'kube-service-catalog'
It shows the  `x509: certificate signed by unknown authorit`

[code]

I have checked with the ways by  https://github.com/openshift/openshift-ansible/issues/3784, and ensure my CA is working.

[2017-12-23 13:31] wookie41 commented on #2610
@Shyckymn Have you managed to fix the issue? If yes, what was causing it?

[2017-12-23 14:14] ybaumy commented on #6133
can somebody tell me what to set if i have 3 masters / a oad balancer and the same problem?

i tried several combinations.

Thats my initial setup...

[masters]
ocp-master-1.vdc1-ext.local
ocp-master-2.vdc1-ext.local
ocp-master-3.vdc1-ext.local

[etcd]
ocp-etcd-1.vdc1-ext.local
ocp-etcd-2.vdc1-ext.local
ocp-etcd-3.vdc1-ext.local

[lb]
ocp-lb-1.vdc1-ext.local

[nodes]
ocp-master-[1:3].vdc1-ext.loca

[2017-12-23 16:12] #6543 closed

[2017-12-23 16:32] nirdshabo commented on #6555
same here. latest CentOS with Openstack Pike

[2017-12-23 22:08] nirdshabo commented on #6560
`sudo yum install -y centos-release-openshift-origin`
fixed for me this issue (but not others) on latest cloudimg CentOS7...
from a very brief view its some regression that the playbook is not adding the yum repos anymore. Again, atleast on CentOS7

[2017-12-23 22:27] hetzbh commented on #6560
[inventory.txt](https://github.com/openshift/openshift-ansible/files/1584476/inventory.txt)
I thought about it too and I added it. Didn't help much. I enabled NFS (since I use it for ETCD) and .. same thing.

Here's my file:

[2017-12-24 05:49] ybaumy commented on #6133
this is how i got it to work for ppl who have the same problem...

openshift_public_hostname=ocp-lb1-1.vdc1-ext.local
openshift_master_cluster_hostname=ocp-lb-1.vdc1-ext.local
openshift_master_cluster_public_hostname=ocp-lb-1.vdc1-ext.local

[masters]
ocp-master-1.vdc1-ext.local openshift_hostname=ocp-master-1.vdc1-ext.local
ocp-master-2.vdc1-ext.local openshift_hostname=ocp-master-2.vdc1-ext.loca

[2017-12-24 13:13] fraenkel opened #6561 "openshift_logging fails to install"
This might be more prevalent than just openshift_logging, but the current openshift-ansible/roles/openshift_logging_elasticsearch/tasks/restart_cluster.yml references oc rather than {{ openshift_client_binary }}.

[2017-12-25 02:26] #5127 closed

[2017-12-25 02:27] #2968 closed

[2017-12-25 10:32] subodhp commented on #6560
I am facing the same error, I tried to install using -vvv.

Using module file /root/openshift-ansible/roles/lib_utils/library/repoquery.py
<mymaster.local.com> ESTABLISH SSH CONNECTION FOR USER: root
<mymaster.local.com> SSH: EXEC ssh -C -o ControlMaster=auto -o ControlPersist=60s -o KbdInteractiveAuthentication=no -o PreferredAuthentications=gssapi-with-mic,gssapi-keyex,hostbased,publickey -o Pas

[2017-12-25 10:45] subodhp opened #6565 "openshift-ansible installation failing on RHEL 7.4 for Origin 3.7 (not OCP)"
#### Description

I am trying to install Openshift Origin 3.7 (Not OCP) on RHEL 7.4 using Advanced Installation Method.

ansible-playbook -vvv -i /etc/ansible/hosts ~/openshift-ansible/playbooks/deploy_cluster.yml fails to execute.

Brief error - "module_stderr": "Shared connection to mymaster.local.com closed.\r\n",

BTW, the documentation at https://docs.openshift.org/latest/install_config/insta

[2017-12-25 11:27] nirdshabo commented on #6560
i can confirm i pass openstack installation with release `openshift-ansible-3.9.0-0.4.0`
From quick review of the deploy process, on latest openshift ansible its seems to skip major chunk of the requirements/facts installation, hence its also not installing the required repos and libs, but only that, its not putting in many important deployment facts required for the deployment to succeed...

[2017-12-25 11:30] nirdshabo commented on #6555
see my comment on #6560. seems to relevant to this issue as well. especially to @markllama last comment on the regression pointed on commit 42d3824, seems relevant to me as well.

[2017-12-26 03:21] eliu commented on #6355
I got the same error during the advanced installation, but I did not use any extra proxy settings.

There're 2 strange things that i've found:

1. url can be accessed from host if postfixed with `cluster.local`

[code]

2. the original url can also be accessed if i exchange the appearance of the search domain in `/etc/resolv.conf` like this:

[code]
and get accessed:

[code]

I've got confused abo

[2017-12-26 03:44] linzhaoming commented on #6377
I solved this problem By disable` Ansible Service Broker` component the Inventory
[code]

**Uninstall** and **reinstall** the openshift in the same environment.

The Service Catalog is installed normally

[2017-12-26 23:03] Tirke opened #6566 "Error: docker-ce conflicts with docker-1.12"
#### Description

I'm trying to deploy a one master / two nodes + two infra nodes cluster with every node running docker `17.09.1-ce`.
Install of the master node was successful after setting `openshift_disable_check=docker_storage,package_availability,package_version`.

Node install is failing in `openshift-ansible/roles/openshift_node/tasks/install.yml` with :
`Error: docker-ce conflicts with 2:d

[2017-12-27 10:41] ChinmayanP opened #6568 "ERROR! the playbook: /root/openshift-ansible/playbooks/byo/config.yml could not be found"
#### Description
While running the RPM based installation i get the error  "ERROR! the playbook: /root/openshift-ansible/playbooks/byo/config.yml could not be found" . The command i ran was # ansible-playbook [-i /path/to/inventory] \
    ~/openshift-ansible/playbooks/byo/config.yml which as given https://docs.openshift.org/latest/install_config/install/advanced_install.html#running-the-advanced-i

[2017-12-28 10:19] jcperezamin commented on #6568
Same error when I tried to test origin 3.7!.

[2017-12-28 12:32] hareeshrao4839 commented on #6568
openshift-ansible/playbooks/deploy_cluster.yml

[2017-12-28 13:05] subodhp commented on #6565
I was able to resolve this issue, I was referring to latest build, switched to 3.7 release and byo/config.yaml is working fine. Closing this.

Thanks,
Subodh Pachghare
thesubodh.com

[2017-12-28 13:05] #6565 closed

[2017-12-28 13:09] subodhp commented on #6568
Please mention the version of the RPM, I faced the same error, but it was resolved when I referenced to correct release version.

[2017-12-28 13:16] jcperezamin commented on #6568
Yes, still failing:
TASK [openshift_version : Get available origin version] **********************************************************************************************************************************
fatal: [openshift.educanube.com]: FAILED! => {"changed": false, "module_stderr": "Shared connection to openshift.educanube.com closed.\r\n", "module_stdout": "Traceback (most recent call last):

[2017-12-28 13:48] ChinmayanP commented on #6568
That config.yml is missing from the master baranch. buts it was present there till Release 3.7 branches

[2017-12-28 21:34] speedfl opened #6570 "Redirected to master-openshift:8443"
#### Description

When installing openshift 3.7 with ansible it fail with issue:

[code]
When looking at the log:

[code]

##### Version

[code]

##### Steps To Reproduce
1. Use host file:

[code]

2. ansible-playbook playbooks/byo/config.yml

##### Expected Results
Installation success:

##### Observed Results

[code]

##### Additional Information

When I try to access to the console with : ```ht

[2017-12-28 21:43] davidaah commented on #6570
@speedfl had a similar issue, I think you will need to set the following variable(s):

* `openshift_master_cluster_hostname` (must resolve to master in non-HA install or LB in multi-master install)

  * From `hosts.example`:

* `openshift_master_cluster_public_hostname` (should only be required in multi-master installs per below comment)

  *  From `ooinstall/cli_installer.py`:

[2017-12-29 06:59] ChinmayanP commented on #6568
Tried the "openshift-ansible/playbooks/deploy_cluster.yml" in master branch and the installation stated. But it failed in logging installation .

Failure summary:

  1. Hosts:
     Play:     OpenShift Aggregated Logging
     Task:     Waiting for logging-es-data-master-4huwyyl1 to finish scaling up
     Message:  Failed without returning a message.

[2017-12-29 10:59] speedfl commented on #6570
Thanks it is fixing the issue. Howevernow I am not able to install the service catalogue... I will open a new issue.

[2017-12-29 10:59] #6570 closed

[2017-12-29 11:06] speedfl opened #6572 "Service Catalog Install failed after the 120 attempts"
#### Description

Service catalogue installation failed with:

[code]
and
[code]

##### Version

[code]

##### Steps To Reproduce
1. On single master installation:

[code]

2. As not working follow procedure indicates at the end (but failling as well)
[code]

##### Expected Results

Should work

[code]

[2017-12-30 02:05] hetzbh commented on #6568
@jcperezamin yeah, this fails because it tried to use Cockpit, so remove from your configuration file any line that mention cockpit ;)
Also, you'll need to install the package python-rhsm-certificates or else it won't be able to pull a redhat image (forgot what it's name)

[2017-12-30 02:07] hetzbh commented on #6560
Ok, looks like I found the issue. the config file mentioned osm_use_cockpit=true while my machine doesn't have cockpit installed. Removed this line and it works.

[2017-12-30 17:55] jcperezamin commented on #6568
Is working out if you change to branch 3.7.

[2017-12-30 17:56] hetzbh commented on #6568
yup ;)

[2017-12-31 12:10] mahsa-frj opened #6573 "set certificate for url of openshift"
#### Description

Hi, I install openshift with ansible and without ssl certificate and everything is ok, I can deploy registry and router pod and other application.
But, when I set certificate after installation on master-config.yaml file, in two section based on this url: https://docs.openshift.com/enterprise/3.1/install_config/certificate_customization.html,

[code]
I get below error:

Failed to

[2017-12-31 14:39] ghaskins opened #6574 "ansible release-3.7 fails with docker 17.12-0-ce"
#### Description

Attempting to install Origin v3.7 on Centos 7.4 with docker upgraded to latest stable (17.12-0-ce) fails due to version parsing problem in playbook.

TASK [Gather Cluster facts and set is_containerized if needed] *****************
task path: /var/lib/awx/projects/_7__upstream_openshift/playbooks/common/openshift-cluster/initialize_facts.yml:130
Sunday 31 December 2017  14:26:50 +

[2018-01-02 08:23] adelton commented on #6464
@ewolinetz, do you have any hints about seeing the TSB running even if the cluster does not have any nodes with `region=infra`? What configuration should be used to force different selector?

[2018-01-02 08:40] Rocking80 opened #6575 "AGAIN: Aborting, target uses selinux but python bindings (libselinux-python) aren't installed"
#### Description

In my role there is a step using `copy` module, but it reports selinux error as below.

I installed libselinux-python on my control server (CentOS 6.5) but it does NOT work.
Also I tried to set selinux status to 'Permissive' on remote server using `setenforce 0` (CentOS 6.5), also cannot fix the issue. As suggested by others, should be work if disable selinux which need a reboot.

[2018-01-02 09:18] Rocking80 commented on #6575
Sorry, seems wrong place. close it now.

[2018-01-02 09:18] #6575 closed

[2018-01-02 11:30] david-martin opened #6576 "Mismatch between prometheus docs & Vars for resource limits"
#### Description

The readme shows an example var like this
[code]

https://github.com/openshift/openshift-ansible/tree/master/roles/openshift_prometheus#additional-variables-to-control-resource-limits

However, in the defaults, the var names take this format
[code]

https://github.com/openshift/openshift-ansible/blob/master/roles/openshift_prometheus/defaults/main.yaml#L49-L60

Raising this issue

[2018-01-02 13:49] tomassedovic commented on #6555
I can reproduce this as well. Looking into it.

[2018-01-02 14:10] bortek commented on #6377
Same issue here, any progress ?

[2018-01-02 15:20] tomassedovic commented on #6555
This PR should fix the issue: github.com/openshift/openshift-ansible/pull/6580

note that you will have to start using the updated dynamic inventory from: openstack/sample-inventory/inventory.py

[2018-01-02 16:21] feizeikesi commented on #6190
+1

[2018-01-02 16:51] ewolinetz commented on #6464
@adelton apologies, I've been on holiday. To specify that in your inventory you would use the json format `template_service_broker_selector={"node-app": "true"}`

This follows the same pattern as specified in the defaults: https://github.com/openshift/openshift-ansible/blob/master/roles/template_service_broker/defaults/main.yml#L6

[2018-01-02 17:49] parthashp opened #6584 "ansible-openshift installation fails Unknown short_version 0.0"
On a Single master multi node environment installation fails with error "Unknown short_version 0.0"

ansible 2.3.2.0

I am using `atomic-openshift-utils version 3.2.65-1.git.0.3e894ed.el7` with RPM installation.
[code]
 Steps To Reproduce
1. RHEL 7.4 updated on 02/Jan/17
2. ansible-playbook /usr/share/ansible/openshift-ansible/playbooks/byo/config.yml -i /root/.config/openshift/hosts

##### Expect

[2018-01-03 09:30] jmencak opened #6593 "3.9 templates missing from glusterfs role"
#### Description
3.9 templates are missing from glusterfs role, which breaks an installation.

##### Version

[code]

##### Expected Results
Successful install of cns on 3.9.

##### Observed Results

[code]

##### Additional Information

Simply copying 3.8 templates to 3.9 templates fixes the problem for me.
[code]

[2018-01-03 11:44] slaterx commented on #6083
Reproducible under centos 7 and openshift 3.7 origin.

[2018-01-03 12:16] fraenkel commented on #6547
Fixed

[2018-01-03 12:16] #6547 closed

[2018-01-03 13:25] adelton commented on #6464
@ewolinetz, thank you, I confirm that the installation now passes.

Is there a patch in the works against https://github.com/openshift/openshift-docs to make people aware of `template_service_broker_selector`?

[2018-01-03 13:27] adelton commented on #6464
To summarize, adding `playbooks/prerequisites.yml` (documentation change https://github.com/openshift/openshift-docs/pull/6668) and `template_service_broker_selector` (due to my setup and tests not using `region=infra`) resolved this issue.

[2018-01-03 13:27] #6464 closed

[2018-01-03 14:02] vrutkovs commented on #6083
`openshift_storage_glusterfs_nodeselector` should be set to a `=`-separated string, as default value is `'glusterfs=storage-host'`

[2018-01-03 14:09] sosiouxme commented on #6471
I *think* what's going on is that because you are supplying these values in "extra" variables (`-e @provisioning_vars.yml`) on the command line, they override everything else, including what set_fact is trying to set them to. @michaelgugino does that sound right? Ansible variable precedence is a bit weird like that. Typically these values are given in an inventory file or group/vars file so everyt

[2018-01-03 14:50] michaelgugino commented on #6471
@sosiouxme Yes, and I believe we discussed this briefly in IRC before the holiday.  Nothing can override a value set by extra_vars.

[2018-01-03 15:37] jkhelil opened #6594 "Redeploy node certificate playbook restarts docker"
#### Description
Docker is restarted when we redeploy node certificates, this restarts docker containers and does not gracefully terminate them
we need to either not restart docker when we redeploy nodes certs because its is not required, or drain nodes before

##### Version

* Your ansible version per `ansible --version`
ansible 2.3

##### Steps To Reproduce
1. [step 1]
redeploy certificate via r

[2018-01-03 19:05] sosiouxme commented on #6471
Right, so any attempt to normalize a variable like this will fail if it's specified as an extra variable. The only way we could do it is to normalize it into a differently-named variable and use that everywhere internally without advertising it in the docs. Which is perhaps not a bad idea, but I'm not sure there will be much appetite for doing that in the near future.

For the present, @mazzystr I

[2018-01-03 19:56] michaelgugino commented on #6471
Right, that's where a lot of the l_x variables come in.  Using set_fact to attempt to overwrite a user-provided value (or any value, really) is not a good practice for this reason.

I know we have kicked around the idea of making a single value mandatory, such as openshift_release.  I don't think we'll get to that this cycle.

[2018-01-04 08:08] ShiWei-L commented on #5076
Same issue as well. It's the latest master branch. My env is a single master node, but I still got this error Unable to restart service origin-master-api

[2018-01-04 15:15] dougbtv opened #6606 ""Package origin not found" using deploy_cluster.yml"
#### Description

During a deploy using `./playbooks/deploy_cluster.yml` the `openshift_version` play fails with "Package origin not found", such as:

[code]

##### Version

Ansible version `ansible 2.4.2.0`

`git describe`: `openshift-ansible-3.9.0-0.16.0`

##### Steps To Reproduce
1. use the inventory in the "Additional Information" section
2. Run using the deploy_cluster playbook, e.g.:

[code]

[2018-01-04 19:00] dougbtv commented on #6606
Turns out this is due to not running the `./playbooks/prerequisites.yml` playbook first.

[2018-01-04 19:00] #6606 closed

[2018-01-04 20:40] davidaah commented on #6568
More details are in https://github.com/openshift/openshift-ansible/issues/6503

[2018-01-04 20:44] ashcrow commented on #5290
👋 😄

[2018-01-04 21:43] jmencak commented on #6593
Fixed by: https://github.com/openshift/openshift-ansible/pull/6596

[2018-01-04 21:43] #6593 closed

[2018-01-04 23:10] cooktheryan commented on #5290
Misfire

[2018-01-05 01:51] joelddiaz opened #6612 "using playlists/aws/* to bulid AMIs is failing"
#### Description

Following along with the instructions in https://github.com/openshift/openshift-ansible/blob/master/playbooks/aws/README.md , the steps for building a base AMI fail
Provide a brief description of your issue here. For example:
After filling out provisioning-inventory.ini and provisioning_vars.yml with appropriate information, I can successfully run "Step 0" (the per-prequisites).

[2018-01-05 03:32] jeffcpullen commented on #3874
This has been a nightmare to understand, and now work around. Would love to see a docker proxy configuration broken off.

[2018-01-05 10:08] p17n opened #6616 "openshift-logging install fails on ES handler"
#### Description

When running the `openshift-cluster/openshift-logging.yml` playbook it fails with the error

[code]
##### Version

[code]

[2018-01-05 10:45] hemmop commented on #6616
BTW: I'm using the `release-3.7` branch

[2018-01-05 14:57] vrutkovs opened #6621 "AWS playbooks verify instance tags incorrectly"
#### Description

openshift_ansible master accepts instances with tags `Key=kubernetes.io/cluster/xxxx`. This brekas AWS volume provisioning, as correct tag is `kubernetes.io/cluster/xxxx=true` (or `owned/shared`)

##### Version

[code]

##### Steps To Reproduce
1. Setup AWS instances with incorrect tag - e.g. `Key=kubernetes.io/cluster/xxxx`
2. Setup openshift
3. Create a PVC

##### Expected Resu

[2018-01-05 15:37] ghost opened #6622 "Error in installing Openshift Origin 3.7, DNSMasq Configuration"
## Using RHEL 7.4 to install OpenShift Origin 3.7
####  Installation Steps:

1.  Installed DNSMASQ:
     cat /etc/dnsmasq.d/*
     strict-order
     domain-needed
     local=/master-server.com/
     bind-dynamic
     log-queries
    address=/.master-server.com/192.168.68.73
------------------------------------------------------------------

2.  Networking Configuration look like this:
     cat /et

[2018-01-05 17:18] mlbiam opened #6625 "Issues installing Origin 3.7 on AWS"
#### Description

I'm attempting to install Origin 3.7 on AWS.  I want to use s3 as the registry store and EBS for PVs but I'm building out my own instances.  This same setup worked in 3.6.  I'm running into two issues.  The first issue appears that the `Zone` from the `Global` section of the inventory:

[code]
In order to get past this error, I had to replace `{{ openshift.provider.zone }}` with

[2018-01-05 20:34] lilithfr commented on #6574
I have the same issue, seems that openshift assumes the default output format of "docker version" as YAML but there is nothing in the doc about the default output format.
YAML format doesn't support "tab" and the new docker uses tab to be more human readable.
But even after fixing this issue, there is a conflict between the docker-ce and docker package.
It seems that OpenShift rely only on the def

[2018-01-05 22:27] jsanda opened #6632 "termination grace period not set correctly hawkular_cassandra_rc.j2"
#### Description

```terminationGracePeriodSeconds``` is supposed to be set to 1800 (i.e., 30 minutes); however, the indentation is off resulting in the default of 30 seconds.

##### Version

`ansible --version`
2.3.2.0

`git describe`
openshift-ansible-3.9.0-0.16.0-7-g31d19c5e6

[2018-01-06 00:05] davivcgarcia opened #6635 "DaemonSet 'apiserver' template is incompatible with 'osm_default_node_selector' configuration"
#### Description

When **Service Catalog is enabled** and the cluster is using **osm_default_node_selector** to set default NodeSelector to app nodes label, pods created by the **DaemonSet get stuck on pending state** on nodes that are not labeled (master and infra nodes).

##### Version

[code]

##### Steps To Reproduce

1. Use a inventory like:

[code]

##### Expected Results

All pods created b

[2018-01-06 11:09] ravitri commented on #5756
Hi, any update on the issue? Facing it for `docker.io/openshift/origin-ansible:v3.7` image
[code]

[2018-01-07 14:15] chenqifeng28 opened #6639 "[OCP 3.7]FAILED - RETRYING: wait for api server to be ready"
#### Description

During my installation of OCP 3.7 all-in-one, when I executed the command:
[code]
there will be the following error
[code]

##### Version
[code]

##### Additional Information

[code]

[2018-01-08 02:27] #6135 closed

[2018-01-08 06:37] rackergs commented on #6622
What do you get when you run

[code]

[2018-01-08 10:42] j00p34 opened #6645 "ose-web-console container image not available redhat registry"
#### Description

Openshift enterprise install fails because ose-web-console image is not available:

When doing a fresh install of openshift enterprise on Atomic host the web-console never becomes available

TASK [openshift_web_console : Verify that the web console is running] **********
FAILED - RETRYING: Verify that the web console is running (120 retries left).

It seems the image is not in th

[2018-01-08 14:58] wozniakjan opened #6648 "deploying release-3.6 branch"
#### Description
Deploying using release-3.6 branch started to fail with
[code]

The exact same inventory and release-3.7 branch succeeds without an issue

##### Version

Please put the following version information in the code block
indicated below.

* Your ansible version per `ansible --version`
[code]

* The output of `git describe`
[code]

##### Steps To Reproduce
1. ansible-playbook playbooks

[2018-01-08 14:58] mwringe commented on #6632
This also needs to be fixed from 3.5 to the present version. Without the proper termination grace period, Cassandra can cause some bad issues due to corrupted files during writes.

[2018-01-08 15:54] sbrefort-pro commented on #4800
+1 here.
Did anyone resolve this issue since November ?

[2018-01-08 16:15] jeffrey4l commented on #6435
Get follow errors after use @fabianvf solution

[code]

[2018-01-08 16:21] naveenbdevops commented on #6622
Hi Rackergs,

openssl s_client -connect 192.168.68.73:2379
CONNECTED(00000003)
depth=0 CN = ohtwapida20z.nss.vzwnet.com
verify error:num=20:unable to get local issuer certificate
verify return:1
depth=0 CN = ohtwapida20z.nss.vzwnet.com
verify error:num=21:unable to verify the first certificate
verify return:1

[2018-01-08 16:22] fabianvf commented on #6435
@shawn-hurley do you recognize this?

[2018-01-08 16:25] shawn-hurley commented on #6435
That fix is being built for latest today.

The bug was merged here: https://github.com/openshift/ansible-service-broker/pull/618

You can test this by using the canary tag but as previously stated we are releasing a new latest today that should fix this problem.

[2018-01-08 16:27] jeffrey4l commented on #6435
cool, thanks guys.

[2018-01-08 17:11] gregswift commented on #6622
So I dont know what `ohtwapida20z.nss.vzwnet.com` is but it seems like my guess was right. Can you create a dns entry for 192.168.68.73 and start from the beginning?

[2018-01-08 17:22] naveenbdevops commented on #6622
Sure Greg, thanks.
is my dnsmasq configuration locking good
vim /etc/dnsmasq.conf
    resolv-file=/etc/resolv.dnsmasq
    host-record=ohtwapida20z.nss.vzwnet.com,192.168.68.73
    # Wildcard DNS for OpenShift Applications - Points to Router
    address=/ohtwapida20z.nss.vzwnet.com/192.168.68.73
    # Forward .local queries to SkyDNS
    server=/local/127.0.0.1#8053
    # Forward reverse queries fo

[2018-01-08 17:24] gregswift commented on #6622
i dont know enough about dnsmasq but as long as that syntax is right that looks reasonable

[2018-01-08 20:13] naveenbdevops commented on #6622
Hi Greg,

I am getting this error.

systemctl restart origin-node.service
Job for origin-node.service failed because the control process exited with error code. See "systemctl status origin-node.service" and "journalctl -xe" for details.

journalctl -xe
Jan 08 13:05:30 ohtwapida20z origin-node[10122]: F0104 23:05:30.918203 10122 start_node.go:159] could not start DNS, unable to read config file: o

[2018-01-08 20:33] rackergs commented on #6622
I'm not sure whats going on with teh install not setting up a good verion. Have you re-reviewed the DNS prereqs? https://docs.openshift.com/container-platform/3.7/install_config/install/prerequisites.html#prereq-dns

[2018-01-08 20:46] #6555 closed

[2018-01-08 21:34] megian commented on #6377
It seams to occur, if there is no StorageClass defined, asb-etcd in the namespace openshift-ansible-service-broker is waiting for permanent storage and does fail. This causes asb to fail and adding the resource is not possible.

[2018-01-09 01:34] vhosakot commented on #3463
`pip install --upgrade Jinja2` resolved this error for me.

[2018-01-09 06:38] silentwu commented on #6377
I solved this problem by these command

[code]

[2018-01-09 10:16] smossber opened #6661 "OCP 3.7, GlusterFS, wiping fails during "Unlabel any existing GlusterFS nodes""
#### Description
After a failed GlusterFS deployment I wanted to wipe everything as I've understood that the config playbook is not idempotent.

But when running /usr/share/ansible/openshift-ansible/playbooks/byo/openshift-glusterfs/config.yml
with openshift_storage_glusterfs_wipe set to true, I get an error similar to https://github.com/openshift/openshift-ansible/issues/5548 on the task "Unlabel

[2018-01-09 12:10] olsib opened #6663 "Upgrade from 1.5.1 to v3.6 fails with "Storage backend in /etc/origin/master/master-config.yaml must be set to 'etcd3'"
I'm trying to upgrade to openshift origin v3.6 from openshift origin v1.5.1 using release-3.6 branch.

Version
oc v1.5.1+7b451fc
kubernetes v1.5.2+43a9be4
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://t1.mdevlab.com:8443
openshift v1.5.1+7b451fc
kubernetes v1.5.2+43a9be4

Steps To Reproduce
Run:
ansible-playbook openshift-ansible/playbooks/byo/openshift-cluster/upgrades/v3_6/upgrade.

[2018-01-09 12:20] olsib commented on #6663
ignore

[2018-01-09 12:20] #6663 closed

[2018-01-09 15:59] tomassedovic commented on #6645
I'm seeing the same when trying to deploy Origin on CentOS.

git describe: `openshift-ansible-3.9.0-0.16.0-49-g4ac04c4`

[2018-01-10 03:20] sjenning opened #6678 "servicecatalog.k8s.io/v1beta1 *List kinds not registered during storage upgrade"
https://github.com/openshift/openshift-ansible/pull/6634 fixed this issue I mentioned in https://github.com/openshift/openshift-ansible/pull/6634#issuecomment-355877008.

However I just fell through to another error on the same step:
[code]

Seems that the storage migration is trying to operate on *List kinds.  Might be a issue in `oc adm migrate storage`.  Is that a new thing?

[2018-01-10 03:22] sjenning commented on #6678
Looks similar to https://github.com/openshift/origin/issues/17460

[2018-01-10 09:31] vegai commented on #3024
This seems to still be an issue. It happens for me when trying to provision boxes created with Vagrant.

[2018-01-10 09:40] nodefourtytwo opened #6680 "LB can't run on masters"
#### Description

On a multimaster installation, with native HA, it should be made clear in the documentation or it should be tested in the playbook that you can't use the same machines for the LB and the masters.

Both the master api and the load balancer use the same port (8443 by default), resulting in a conflict.

[2018-01-10 10:17] tomassedovic commented on #6645
A workaround if you don't need the web console is setting:

    openshift_web_console_install: false

[2018-01-10 10:46] tomassedovic commented on #6645
@j00p34 it looks like maybe your issue is a little different, but this fixed it for me:

https://github.com/openshift/openshift-ansible/pull/6675

[2018-01-10 11:16] j00p34 commented on #6645
Yeah I'm installing Enterprise Openshift and the image is actually not in the registry. Installation works when I just specify the origin one from docker hub :-)
But thanks anyway

[2018-01-10 15:06] olsib opened #6686 "etcd v2 ->v3 migrate fails at "Verify cluster is stable" task"
#### Description
Upgraded to openshift origin v3.6.1 from openshift origin v.1.5.1.
Ultimately need to upgrade to openshift origin v.3.7. For the latter it is mandatory to migrate ETCD from v2 to v3.
I followed steps in https://docs.openshift.org/3.6/install_config/upgrading/migrating_etcd.html

##### Version

oc v3.6.1+008f2d5
kubernetes v1.6.1+5115d708d7
features: Basic-Auth GSSAPI Kerberos SPNE

[2018-01-10 16:35] jsanda commented on #6632
I have submitted [PR 6688](https://github.com/openshift/openshift-ansible/pull/6688) for this.

@mwringe will we need PRs for multiple branches? If so, can you please tell me which branches?

[2018-01-10 19:01] #6131 closed

[2018-01-10 19:01] pradeeppandeyy commented on #6131
closed

[2018-01-10 19:09] spadgett commented on #6645
/assign

[2018-01-10 20:02] spadgett commented on #6645
@j00p34 You should use the `release-3.7` branch to install 3.7. `master` will attempt to install the web console as a pod, which only works in 3.9. There's no 3.7 image for the console, so the install fails (as you've discovered :)

cc @sdodson

/close

[2018-01-10 20:02] #6645 closed

[2018-01-10 20:51] jpeeler commented on #6544
FWIW, I was experiencing this issue as well. Although I suspect there should be some configuration that makes this unnecessary, running as root as indicated here: https://github.com/ansible/ansible/issues/15933#issuecomment-220657744, solved the issue for me.

[2018-01-10 22:32] mmckinst commented on #3855
I was also getting this error message on OCP 3.7. The problem is related to openshift_facts.py as described in https://github.com/openshift/openshift-ansible/issues/6263 . The problem was fixed in https://github.com/openshift/openshift-ansible/pull/6272 .

If you run your installer with `-vvv` and look at the logs, look for `ansible_facts` and inside that you'll find a section for metrics where th

[2018-01-11 00:21] navidaro commented on #6475
some solution?

[2018-01-11 21:40] sosiouxme commented on #6300
@ngreen64 thanks for looking into this and finding a workaround. Basically you're just specifying proxies with explicit env vars, which requires running via shell instead of the safer command. We need to be careful to escape parameters properly to prevent errors in shell interpretation. I'll work on adapting this for an official patch.

[2018-01-12 03:20] idefav commented on #6572
You can try to increase the machine memory, and re-run the install task

[2018-01-12 03:38] idefav opened #6710 "Master machine restarted after a downtime, how to restart openshift"
Openshift will not start when my host is restarted, how to start openshift manually.
[code]

and run with next command:
[code]

[2018-01-12 07:44] speedfl commented on #6572
I already have 30 gb of memory

[2018-01-12 09:25] idefav commented on #6572
The official configuration:
<https://docs.openshift.org/latest/install_config/install/advanced_install.html#single-master>
[code]
Is it possible that this config 'etcd'

[2018-01-12 09:54] speedfl commented on #6572
I will have a look

[2018-01-12 13:41] gbaufake commented on #6572
I got the same problem on 'release-3.7' branch using a playbook similar to https://docs.openshift.org/latest/install_config/install/advanced_install.html#single-master

[2018-01-12 14:47] olsib commented on #6686
same as:
https://bugzilla.redhat.com/show_bug.cgi?id=1501752

[2018-01-12 14:47] #6686 closed

[2018-01-12 19:01] creiche commented on #6572
I am running into the same issue.  Just upgraded from OCP 3.7.9 to 3.7.14 and the service catalog was no longer available.  I tried running the service catalog playbook and it's failing.  It appears to be related to the OAB etcd not the Openshift ETCD.

The etcd pod is up and running but I do see the following error in the logs:

etcdserver/api/v3rpc: Failed to dial 0.0.0.0:2379: connection error:

[2018-01-12 20:23] sosiouxme commented on #6300
@ngreen64 https://github.com/openshift/openshift-ansible/pull/6716 should handle when you specify proxies in ansible variables.

@michalalter as the same patch switches to using a shell, in my testing it picks up env vars for proxies if set in `/etc/environment` (not requiring ansible vars). Not from `/etc/profile.d` as ansible is using a non-interactive sudo shell, but if the vars are set somehow

[2018-01-12 20:59] sdodson commented on #6002
@mbruzek has this happened again, if not do you mind closing it?

[2018-01-12 21:11] gbaufake commented on #6572
Similar to https://github.com/openshift/openshift-ansible/issues/6639

[2018-01-12 21:29] creiche commented on #6572
apiserver logs:

I0112 20:44:21.253370 1 logs.go:41] http: TLS handshake error from 10.128.0.1:46922: remote error: tls: bad certificate
I0112 20:44:22.048865 1 logs.go:41] http: TLS handshake error from 10.128.2.1:38006: remote error: tls: bad certificate

[2018-01-13 13:30] jeffrey4l opened #6717 "tuned-profiles-origin-node can not be removed."
#### Description
When running `ansible-playbooks openshift-ansible/playbooks/adhoc/uninstall.yml` get following error message

[code]

I have to remove  tuned-profiles-origin-node packages manually.

[code]

##### Version

Here is what i am using.

[code]

[2018-01-13 20:23] mbruzek commented on #6002
Yes of course! I haven't seen this specific error in quite some time.

[2018-01-13 20:23] #6002 closed

[2018-01-14 18:11] jsuchenia opened #6720 "docker_image_availability failure even if osm_etcd_image set"
#### Description
To use local mirror of all needed OpenShift components I'm setting `oreg_url`, `osn_ovs_image` and `osm_etcd_image` variables.
But looks like address to ETCD image is hardcoded in docker check, no matter if etcd_image was overwritten or not
https://github.com/openshift/openshift-ansible/blob/release-3.7/roles/openshift_health_checker/openshift_checks/docker_image_availability.py#L

[2018-01-14 22:25] Neikius commented on #6377
@megian: That doesn't look to be the case with me:
[code]
[code]

Controller-manager has the same logs about certificates being bad...

[2018-01-14 23:40] davidaah commented on #6377
I suspect this is related to https://github.com/openshift/openshift-ansible/pull/6687/files

[2018-01-15 09:58] idefav opened #6725 "The templates lost after machine restart"
After the installation is complete all the templates
![image](https://user-images.githubusercontent.com/6405415/34936581-ec3e4fda-fa1c-11e7-8cfa-359a541fd2fe.png)
But when I restart the machine, the template is a lot less
![image](https://user-images.githubusercontent.com/6405415/34936641-27de8686-fa1d-11e7-8943-4dc319e5b22e.png)
But use the oc command shows:
[code]
my ansible config
[code]

[2018-01-15 14:16] pschiffe opened #6729 "Optionally expose master health check via HTTP"
#### Description
Some cloud providers under some configurations require health check for LB to be available via HTTP instead of HTTPS.

I'm thinking about creating PR with new role based on https://github.com/openshift/openshift-ansible-contrib/tree/master/reference-architecture/gcp/ansible/playbooks/roles/master-http-proxy

Any thoughts?

[2018-01-15 15:59] sosiouxme commented on #6189
I'm happy to look into this further with a bit more information. Feel free to re-open as needed. Also there is further development work going on [here](https://github.com/openshift/openshift-ansible/pull/6716) that might be relevant.

[2018-01-15 15:59] #6189 closed

[2018-01-15 16:08] sosiouxme commented on #4608
Just doing some issue cleanup here. I think this is... working as designed? Feel free to re-open if this issue is still relevant.

[2018-01-15 16:08] #4608 closed

[2018-01-15 16:31] sosiouxme commented on #6288
There are a number of places where something running on a node consults something that was supposed to be set up on a master, and fails confusingly if it's not there. When Ansible execution for one host is considered failed, it still continues for other hosts that have not (yet) failed.

This is normal Ansible operation; but there is probably a better way to handle this particular kind of cross-ho

[2018-01-15 16:36] sosiouxme commented on #6043
I'm closing this as inactive since the error seems to be reporting a legitimate problem, but feel free to re-open this issue and provide further information so I can help.

[2018-01-15 16:36] #6043 closed

[2018-01-15 17:38] sosiouxme commented on #6720
This appears to be a duplicate of https://github.com/openshift/openshift-ansible/issues/6720 (though that was for 3.6). I'll plan to track it there.

[2018-01-15 17:38] #6720 closed

[2018-01-15 18:47] jsuchenia commented on #6720
@sosiouxme To be honest #6720 is an Id of this ticket, could you point a reference to proper bug

[2018-01-15 22:56] isansahoo commented on #6572
I'm having same issue. Is there any resolution for this?

[2018-01-16 08:03] piwi91 commented on #6288
Fixed this. My OpenStack host had a bug in the network layer causing requests to fail.

[2018-01-16 08:03] #6288 closed

[2018-01-16 13:57] elad661 opened #6740 "openshift-ansible-3.7.23-1 "no action detected in task" in openshift_logging_elsasticsearch"
#### Description
When trying to install a cluster with logging, openshift_ansible exits with an error after 15 minutes.

##### Version

[code]

##### Expected Results
openshift_ansible should finish without an error
##### Observed Results
Describe what is actually happening.

[code]

[2018-01-16 14:19] elad661 commented on #6740
This error seems to have been introduced in commit a02e68a5a3b4c32e205d6184cfb5579d416adbe7 by @ewolinetz

This is probably because I'm using Ansible 2.3, and [include_tasks](https://docs.ansible.com/ansible/2.4/include_tasks_module.html) is new in Ansible 2.4

afaik, openshift-ansible is supposed to support Ansible 2.3 in the openshift-ansible 3.7 branch, so this should be changed to `import_task

[2018-01-16 20:18] davidaah commented on #6191
This is an issue with 3.7 as well. a quick and dirty fix was to add `ca: ldap_ca.crt` to the identity provider config which is the default value for LDAPPasswordIdentityProvider in the advanced installer

[code]

[2018-01-16 20:49] omphe commented on #6092
I experienced this as well.  I found that `roles/openshift_aws/defaults/main.yml` contained the following stanza:

[code]

In my case, I was targeting the Ireland region so I was receiving a dreaded failure of "dict object has no attribute eu-west-1"

My working fix was to add the following to my `provisioning_vars.yml` file:

[code]

With this in place I got a successful run of the prerequisites.

[2018-01-16 22:01] DanyC97 commented on #6457
@michaelgugino shouldn't `redeploy-openshift-ca` & `redeploy-certificates` or am i missing s'thing here?

[2018-01-16 22:03] DanyC97 commented on #6680
@nodefourtytwo what has made you believe that you can deploy 2 roles: master & lb into one node?

[2018-01-16 22:24] DanyC97 commented on #6574
where did you get that openshift docker version support is 17.x ? in any docs/ code i've only seen 1.12.x

[2018-01-16 22:32] nodefourtytwo commented on #6680
I'm also deploying etcds and masters on the same nodes and it's working fine. It never actually occurred to me that I could not.

[2018-01-16 23:06] lucastheisen commented on #3360
This also adds an additional dependency not mentioned in the [Host Preparation](https://docs.openshift.org/latest/install_config/install/host_preparation.html) documentation...  Specifically that you need to add `yum-utils` to your _Install the following base packages_ instruction.

[2018-01-17 03:52] jpeeler commented on #6377
This could be solved by https://github.com/openshift/openshift-ansible/pull/6687

[2018-01-17 10:32] Neikius commented on #6725
Happened to me too, template broker died after restart and didn't come back. Tried reinstalling, now won't even instal...

[2018-01-17 15:53] cynepco3hahue opened #6756 "Containerized deployment fails on RPM check"
#### Description
[code]

##### Version

[code]

##### Steps To Reproduce
Run `ansible-playbook -v -i inventory openshift-ansible/playbooks/deploy_cluster.yml` with inventory
[code]

##### Expected Results
I think in case of `containerized` deployment we need just skip `Fail if rpm version and docker image version are different` check because we do not really use any `rpms`

##### Observed Results

[2018-01-17 16:49] sosiouxme opened #6758 "Missing POM for io.fabric8.elasticsearch openshift-elasticsearch-plugin"
The logging CI test has failed a few times with this maven error ([for example](https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-ansible/6753/test_pull_request_openshift_ansible_logging/4752/)):

[code]

I'm guessing it's a timing issue with plugin updates being published, or flakiness in the maven dependency download, or something like that. Could this

[2018-01-17 19:29] gbaufake commented on #6717
Same thing is happening with me.

Removed manually with yum --setopt=tsflags=noscripts remove tuned-profiles-origin-node

[2018-01-17 19:30] gbaufake commented on #6572
@sdodson Can you check this issue?

[2018-01-17 20:23] michalalter commented on #6300
@sosiouxme Thanks for your info. It makes really good theoretical sense, I have to test it out. I will do it in the near future - during installation the next environment in 1-2 weeks

[2018-01-17 20:33] marekjelen opened #6761 "TSB validation fails for single-node cluster"
#### Description

It seems like everything is deployed correctly, but the validation fails, because connection to `apiserver.openshift-template-service-broker.svc` can not be opened from the node.

[code]

[code]

https://github.com/openshift/openshift-ansible/blame/release-3.7/roles/template_service_broker/tasks/install.yml#L61

##### Version

[code]

##### Observed Results

[code]

##### Additio

[2018-01-17 21:13] JayKayy commented on #6639
Can you paste the description of those failed pods. `oc describe pod <pod
name>`

[2018-01-17 22:57] nnachefski opened #6764 "standardize image variable names"
When performing a disconnected install (with a local registry mirror) i have to set a bunch of image variables (ie, image_prefix and image_tag).  For instance:

### these are fine
oreg_url=repo.home.nicknach.net:5000/openshift3/ose-${component}:${version}
openshift_metrics_image_prefix=repo.home.nicknach.net:5000/openshift3/
openshift_metrics_image_version=v3.9.0
openshift_logging_image_prefix=rep