[2015-11-06 16:10] detiber commented on #825
Submitted https://github.com/openshift/openshift-ansible/pull/830 for the previously discussed apiLevels changes.

Will use https://github.com/openshift/openshift-ansible/issues/725 for tracking the addition of disabledAPIGroupVersions at a later time, since it isn't a blocker for 3.1

[2015-11-06 21:41] detiber commented on #825
@brenton this issue can now be closed since https://github.com/openshift/openshift-ansible/pull/830 was merged.

[2015-11-06 21:47] #825 closed

[2015-11-07 14:39] smarterclayton opened #840 "Python dependency problem with OpenSSL crypto"
http://stackoverflow.com/questions/33555776/openshift-ansible-fails-since-2-days-with-no-module-named-openssl-crypto

Not sure if there is a fix on our side, but wanted it visible here

[2015-11-07 15:50] Morriz opened #841 "Vagrant up error"
Hi, I have followed the readme and installed the necessary prerequisites, however I get the following output on osx 10.11.1 with vagrant 1.7.4:

[code]

[2015-11-07 22:06] christian-posta opened #842 "Installing on GCE, no OVS"
I've noticed when I do an installation against GCE, OVS doesn't get installed and the minimum requirement for networking for kubernetes (flat network space for pods and nodes) is not satisfied. Am I missing something? Are we supposed to do something manually to make this happen? Why is OVS explicitly turned off for GCE? How do we get this to work on GCE?

[2015-11-08 02:42] detiber commented on #840
PR to address this is here: https://github.com/openshift/openshift-ansible/pull/826

[2015-11-08 13:37] dakky commented on #841
Had the same problem. I deleted my ~/.vagrand.d directory and reinstall die hostmanger plugin.
Now it works again

[2015-11-08 13:39] dakky opened #843 "Configure network?"
Is it possible to configure the network settings used by the ansible installer? The preconfigured are colliding with my lokal network :(

[2015-11-08 15:42] detiber opened #844 "ansible-playbook installation failed with etcd_client_flannel_certs_missing"
It looks like etc_client_flannel_certs_missing is only defined when use_flannel is true, but in the later check that sets etcd_needing_client_certs does not have a conditional on use_flannel or take into account that etc_client_flannel_certs_missing may not be set on a host.

As a workaround, you could change line 72 of https://github.com/openshift/openshift-ansible/blob/master/playbooks/common/op

[2015-11-09 01:15] detiber commented on #843
@dakky Which network settings do you mean?

Assuming you mean the service network (portal_net):
If using inventory/byo/hosts.example as a guide, under [OSEv3:vars]:
[code]

For the network used by openshfit_sdn:
[code]
In the above, osm_host_subnet_length is the subnet length (in bits) to be assigned to each node that is a member of the cluster.

[2015-11-09 04:29] nak3 opened #846 "quickstart template should use rhel 7's images instead of ceontos's for enterprise deployment"
- https://github.com/openshift/openshift-ansible/blob/master/roles/openshift_examples/files/examples/quickstart-templates/jenkins-ephemeral-template.json#L138
- https://github.com/openshift/openshift-ansible/blob/master/roles/openshift_examples/files/examples/quickstart-templates/jenkins-persistent-template.json#L161
- https://github.com/openshift/openshift-ansible/blob/master/roles/openshift_exam

[2015-11-09 09:31] catherinesword commented on #607
@lorenzvth7 I'm currently trying to install OpenShift with CentOS on EC2 (1 master + 2 nodes), but got stuck at "TASK: [openshift_node | Start and enable node]". Most of the time all 3 nodes fail, sometimes 1 or 2 nodes can pass but not all. I followed the instructions here: https://docs.openshift.org/latest/install_config/install/advanced_install.html#installing-ansible .
Could you please give me

[2015-11-09 11:11] catherinesword opened #847 "OpenShift installation issue: TASK: [openshift_node | Start and enable node] fails"
I'm trying to install OpenShift with CentOS on EC2, following the instructions https://docs.openshift.org/latest/install_config/install/advanced_install.html#installing-ansible of 1 master + 2 nodes.

However each time I got stuck at TASK: [openshift_node | Start and enable node] fails. Here's error message (only node1 is activated):
[code]
I saw this http://stackoverflow.com/questions/32715712/op

[2015-11-09 13:06] eighilaza commented on #827
@abutcher thanks for your reply. Indeed there was an issue in the /root/.kube/config file. The hostname of the master was something like PRIVATE_IP.xip.io and the master could not resolve that hostname for some reason. Anyway I changed that to the actual hostname and it fixed the problem.
I think the error message a bit misleading, as I thought it could not resolve registry.access.redhat.com

[2015-11-09 13:06] #827 closed

[2015-11-09 13:44] abutcher commented on #847
Hey @catherinesword could you post the output of `journalctl -u origin-node.service -l` on the failing nodes

[2015-11-09 15:16] abutcher commented on #813
@brenton This is covered by the new upgrade playbook - please close

[2015-11-09 15:18] abutcher commented on #732
@brenton this can be closed

[2015-11-09 15:19] abutcher commented on #701
@brenton this can be closed

[2015-11-09 15:21] abutcher commented on #710
@brenton I believe this one can be closed unless we're referring to the 3.x branch in any documentation. openshift-docs points to master branch atm

[2015-11-09 15:23] abutcher commented on #696
@brenton This was added in #734 and can be closed

[2015-11-09 15:24] abutcher commented on #665
@brenton This can be closed - added in #743

[2015-11-09 15:25] #665 closed

[2015-11-09 15:26] menren commented on #842
Is OVS an alternative to Openshift SDN ?
On GCE openshift_sdn is enabled for the overlay network

[2015-11-09 15:28] abutcher commented on #578
@brenton This issue can be closed - default is now 1 year and I'm not sure we'll want to change that.

[2015-11-09 15:29] catherinesword commented on #847
Hi @abutcher it works now!! :D
I just chose another subnet instead of 172.30.0.0/24, so the host can create its own network.. Thanks!

[2015-11-09 15:31] abutcher commented on #847
@catherinesword nice :tada: :100:

[2015-11-09 15:31] detiber commented on #842
We specifically do not enable the sdn by default  on gce installs. In the past there was some kubernetes automagic that allowed it to work, but it appears that is no longer the case.

To enable the sdn, you can use the openshift_use_openshift_sdn variable in your inventory (if using the  byo playbooks):
[code]

[2015-11-09 15:36] christian-posta commented on #842
Thanks @detiber ... i've tried that, and it does install SDN/OVS but doesn't configure it properly. going with AWS at the moment cause I have a hard deadline for this, but will try it again with SDN explicitly set to true and see what else is missing (might be something easy...)

[2015-11-09 15:37] abutcher commented on #554
@brenton This one can be closed

[2015-11-09 15:40] detiber commented on #842
@christian-posta make sure that there are no network conflicts with the default values for the sdn network and the host networking.

osm_cluster_network_cidr can be used to change the default (10.1.0.0/16)
osm_host_subnet_length can change the size of the subnet assigned to each host (8 by default)

openshift_master_portal_net can be used if the conflict is with the service network (172.30.0.0/16

[2015-11-09 15:41] #813 closed

[2015-11-09 15:41] #732 closed

[2015-11-09 15:41] #701 closed

[2015-11-09 15:42] christian-posta commented on #842
awesome, thanks @detiber will give that a shot (when i get a sec) and report back

[2015-11-09 15:42] #710 closed

[2015-11-09 15:44] brenton commented on #578
Closing.  We have other BZs tracking the addition of documentation and tools to make regenerating certificates easier:

https://bugzilla.redhat.com/show_bug.cgi?id=1259150

[2015-11-09 15:44] #578 closed

[2015-11-09 15:44] #696 closed

[2015-11-09 15:44] #554 closed

[2015-11-09 15:48] abutcher commented on #847
@brenton This one can be closed.

[2015-11-09 15:58] abutcher commented on #844
@brenton This one can be closed

[2015-11-09 16:06] #847 closed

[2015-11-09 16:07] #844 closed

[2015-11-09 19:57] abutcher commented on #479
@brenton This issue can be closed

[2015-11-09 20:04] abutcher commented on #396
@brenton This issue can be closed

[2015-11-09 20:05] #396 closed

[2015-11-09 20:07] #479 closed

[2015-11-09 20:11] abutcher commented on #213
@brenton This issue can be closed. Fixed in #635 https://bugzilla.redhat.com/show_bug.cgi?id=1258243

[2015-11-09 20:33] #213 closed

[2015-11-09 20:42] abutcher commented on #607
@brenton This issue can be closed.

[2015-11-09 20:43] #607 closed

[2015-11-09 20:43] #627 closed

[2015-11-09 20:55] abutcher commented on #591
@brenton I believe this one can be closed w/ the updated doc locations & automatic service account creation. We haven't documented the conditions for automatic router / registry creation but that seems like something we'd want in the main docs once the feature has been fleshed out?

[2015-11-09 20:57] abutcher commented on #545
@brenton This issue can be closed. Fix added in #609

[2015-11-09 20:57] #545 closed

[2015-11-09 21:05] abutcher commented on #579
@detiber Any objections to making this configurable? I can see the benefit in making this difficult to change...

[2015-11-09 21:05] brenton commented on #591
Yeah, that will happen in the official docs.

[2015-11-09 21:05] #591 closed

[2015-11-09 21:11] detiber commented on #579
@abutcher I'm not aware of a way to override the default expiration date for the certs created by the openshift CA.

I'm definitely not against overriding the default if possible though.

[2015-11-09 21:32] abutcher commented on #579
@detiber Yep doesn't seem to be an option

[2015-11-10 08:37] rosseland opened #853 "Upgrade fails: 'dict object' has no attribute 'master'"
Installed using mutimaster/multietcd hosts similar to the one from https://docs.openshift.org/latest/install_config/install/advanced_install.html#multi-master-multi-etcd-multi-node.
And the cluster is running fine on 1.0.7
So trying to upgrade to 1.0.8:

ansible-playbook playbooks/adhoc/upgrades/upgrade.yml then fails with

TASK: [Generate etcd backup] *********************************************

[2015-11-10 13:56] nak3 commented on #780
I got same issue and filed here https://bugzilla.redhat.com/show_bug.cgi?id=1279925

@sureddy Please let us know. Did you add "openshift_master_portal_net" to your `/etc/ansible/hosts`? I can't reproduce this issue 100%. When I got this issue, I put it. So please let me confirm it.

[2015-11-10 13:58] readonly commented on #568
Seems to be fixed since at least v1.0.6's installer. So I'm closing the issue...

[2015-11-10 13:58] #568 closed

[2015-11-10 14:46] abutcher commented on #853
Looks like this is related to #850

[2015-11-10 14:49] dgoodwin commented on #853
Yes sorry, this is my mistake yesterday, I didn't test a late change in a PR during review properly. Fixed in PR #850.

[2015-11-10 14:58] chmouel opened #855 ""No module named yum" on fedora23"
On fresh Fedora 23 install I am getting :

<pre>
TASK: [openshift_facts | Ensure python-netaddr and PyYaml are installed] ******
failed: [master.local.openshift.chmouel.com] => (item=python-netaddr,PyYAML) => {"failed": true, "item": "python-netaddr,PyYAML", "parsed": false}
Traceback (most recent call last):
  File "/root/.ansible/tmp/ansible-tmp-1447167427.32-7785535173678/yum", line 27, in <mod

[2015-11-10 14:59] VolkerKozlowski opened #856 "Setting up environment with vagrant fails during rsync"
It seems that this is an image issue in cents/7 box. I faced this error on Mac OS and Windows.

Has anyone a clue what the problem could be?

[code]

Thanks and kind regards,
Volker

[2015-11-10 15:02] chmouel commented on #855
workaroundL: ```dnf install yum``` would 'fix' it

[2015-11-10 15:23] abutcher commented on #853
@dgoodwin Trying this out and with #850 etcd_data_dir is only being set on masters

[2015-11-10 17:41] detiber commented on #856
@VolkerKozlowski I've submitted https://github.com/openshift/openshift-ansible/issues/859 to address this.

[2015-11-10 17:45] detiber commented on #855
@chmouel unfortunately, we may just need to add dnf install yum to the prereqs in the README for now unless we can get the community to contribute a proper fix for conditionalizing the package installation steps to use dnf if on fedora and yum on centos7 and rhel7.

@abutcher if you are looking for other tasks, this one may be a candidate.

[2015-11-10 18:52] meier-christoph opened #861 "bad certificate issue during startup"
I am running into some certificate issues preventing the installation to complete and the master from starting up.

[code]

here is the host file we are using:

[code]

Note: we had to add the etcd group to the hosts file as otherwise it would not install etcd at all and the installation would fail. When we did some previous tests last week it was installing etcd as exected using just masters and

[2015-11-10 19:23] chmouel commented on #855
yep i was guessing so :( There was other things to do as well we need to
prereq python-dnf too and that was to install as well on the nodes (not
sure if that could be done directly from ansible)  after that the install
seemed to install until I hitted bug
https://github.com/openshift/origin/issues/5828

On Tue, Nov 10, 2015 at 6:45 PM, Jason DeTiberus <notifications@github.com>
wrote:

[2015-11-10 19:30] abutcher commented on #345
@brenton This one can be closed

[2015-11-10 19:42] abutcher commented on #855
@detiber with ansible 2.0 we could use the package module https://docs.ansible.com/ansible/package_module.html

[2015-11-10 19:51] #345 closed

[2015-11-10 20:49] abutcher commented on #861
Hey @meier-christoph, etcd will be embedded with the master when an `[etcd]` group has not been defined and you won't see etcd being installed or a standalone etcd process running. If you encountered issues during the install it's possible that you currently have mis-matched certificates. I'd recommend uninstalling and starting from a blank state to ensure that the certificates are in order.

To u

[2015-11-10 22:01] VolkerKozlowski opened #864 "provisioning fails when setting up origin with vagrant"
Hello,

Provisioning with vagrant fails  with the output below. It seems that ansible has not been installed.
[code]

Kind regards, Volker

[2015-11-10 22:16] arrawatia opened #865 "Router deployment fails with TLS Handshake error."
I installed origin on a new cluster using the latest commit for openshift-ansible. The installation completed successfully but I am not able to launch the router or the registry. The router-deploy-* pods get into a "Error" state.

[code]
I am getting the following error in the master logs :

[code]

The hosts file is

[code]

[2015-11-10 23:52] arrawatia commented on #865
Worked with release : openshift-ansible-3.0.7-1 and openshift_pkg_version=-1.0.8

[2015-11-10 23:52] #865 closed

[2015-11-11 14:36] meier-christoph commented on #861
Uninstalling and reinstalling origin did solve the certificate issue.
Thanks for the quick help,
Chris

[2015-11-11 14:36] #861 closed

[2015-11-11 16:25] detiber commented on #864
According to the docs here: https://docs.vagrantup.com/v2/provisioning/ansible.html It appears that you just need to install ansible on the machine you are running vagrant.

I've submitted https://github.com/openshift/openshift-ansible/pull/871 to address the fact that the README_vagrant.md file was missing listing ansible as a dependency.

[2015-11-11 16:31] #864 closed

[2015-11-11 16:43] abutcher commented on #737
@brenton This issue can be closed

[2015-11-11 16:46] #737 closed

[2015-11-11 16:46] detiber commented on #797
@miminar are you able to reliably reproduce this?

The failure from that ansible task seems to indicate that systemd reported the startup as failed. In the past we've seen this arise from the daemon taking longer to startup than the DefaultTimeoutStartSec value in the systemd config (defaults to 90s).

If you are seeing repeatable startup times > 90s, then we can update the systemd unit file that

[2015-11-11 16:48] abutcher commented on #538
@pstinghua Closing this issue since it seems you've got it working or the issue is resolved in a recent release. Please re-open if this is not the case. Thanks!

@brenton Please close this issue.

[2015-11-11 16:50] #538 closed

[2015-11-11 16:51] detiber commented on #855
@abutcher without knowing when 2.0 is going to be released or what issues we'll run into for 2.0 compatibility, I wonder how well the package_module would work using 1.9...  we might be able to just ship the package_module in our repo as a workaround until we can fully support 2.0

[2015-11-11 16:53] abutcher commented on #575
@jimmidyson Believe this is resolved - can this issue be closed?

[2015-11-11 17:06] VolkerKozlowski commented on #856
works fine now with ansible installed on vagrant host.
Thanks.

[2015-11-11 17:06] #856 closed

[2015-11-11 17:26] jimmidyson commented on #575
Haven't a test tbh but if you're happy, I'm happy :)

[2015-11-11 17:26] #575 closed

[2015-11-12 08:59] miminar commented on #797
No, not anymore with recent versions (atomic-openshift-3.1.0.4-1.git.2.c5fa845.el7aos.x86_64). Closing.

[2015-11-12 08:59] #797 closed

[2015-11-12 16:24] cw1 opened #879 "Can't list aws instances"
Using following command:
`bin/cluster -v list aws ''`
Output:

[code]

Version from git commit 597ba24415d6b7faa7ca02d200c8aed3c08b925a

[2015-11-12 16:26] detiber commented on #879
@twiest related to the aws inventory script change?

[2015-11-12 16:54] twiest commented on #879
@detiber that change hasn't been merged, it's still an open PR, so I don't think so.

This seems like a creds issue. @cw1 did you either put your creds in your environment, or in the ec2.ini file?

@cw1 try running the ec2 inventory by itself like this:
[code]

It's an auth issue if it errors with:
[code]

[2015-11-12 17:01] cw1 commented on #879
Performing:
[code]
Seems to work:
[code]

[2015-11-12 17:17] twiest commented on #879
@cw1 ah, I think it's because we aren't expecting 0 instances.

@cw1 I'm assuming that the output is what you expect (you have 0 instances in that account), right?

@detiber I think this is a real bug. It's probably been in there for awhile.

[2015-11-12 17:17] detiber commented on #879
On further review, it looks like the error is that args.provider isn't being set right.

@cw1 what version of python are you running? I'm wondering if different versions of python may parsing the arguments differently.

[2015-11-12 17:21] detiber commented on #879
@cw1 bin/cluster with the arguments you passed should be invoking ansible-playbook as follows:
`ansible-playbook -v -i inventory/aws/hosts  playbooks/aws/openshift-cluster/list.yml -e "cluster_id='' deployment_type=origin"`

There shouldn't be any issues related to the inventory being returned being empty (since we are listing localhost in a static inventory file in the inventory/aws/hosts directo

[2015-11-12 17:21] cw1 commented on #879
Using python 2.6.6 on centos 6.7
@twiest Yes, there are 0 running instances (only stopped ones)

[2015-11-12 17:23] detiber commented on #879
@cw1 ah, I suspect the issue may be with the backported version of argparse and python 2.6.

Any possibility of running under python 2.7?

[2015-11-12 17:29] cw1 commented on #879
FWIW, trying python 2.7 now
[code]

[2015-11-12 17:36] menren commented on #879
Got the exact same error on AWS with python 2.6.9. AWS creds are given correctly. It was working with an old revision of openshift-ansible

[2015-11-12 20:23] detiber commented on #879
@abutcher I believe your python-fu is greater than mine. Any ideas?

[2015-11-12 20:23] detiber commented on #879
@jwhonce maybe you can take a look?

[2015-11-12 21:21] abutcher commented on #879
@cw1 Can you try with this diff?

[code]

[2015-11-12 21:43] jwhonce commented on #879
@twiest Because of issues with the gce libraries there is a stopped vm on GCE named jhonce-do-not-delete to prevent 0 instance failures.  I never worked on the AWS code so I don't know if the same issue exists in that library.

[2015-11-12 21:49] abutcher commented on #879
This is failing before it even does anything. Checking an empty or invalid cluster_id on AWS should result in the following:

[code]

I think this is failing because python 2.6 requires field numbers w/ format. The field names/numbers can be omitted post 2.7.

[2015-11-12 22:01] detiber opened #887 "Add support for specifying activation_key for rhsm/satellite installs"
Per @codificat's comment here: https://github.com/openshift/openshift-ansible/pull/706#issuecomment-156245891

[2015-11-13 22:41] adellape opened #896 "Updating atomic-openshift-utils didn't update openshift-ansible* pkgs"
Installing `atomic-openshift-utils` from scratch does successfully pull in `ansible` and the `openshift-ansible*` packages automatically:

https://gist.github.com/adellape/d503e23c7362eb14c550

However, on a system that already had it installed, I tried updating `atomic-openshift-utils` because I knew there was a newer version available, and expected it to automatically update the `openshift-ansib

[2015-11-14 14:11] detiber commented on #896
The spec file doesn't set the version in the requires for the subpackages.

It shouldn't be an issue for the first release, but we'll want to address it for the async release. @brenton

[2015-11-14 16:51] jtslear commented on #686
Or organization has started to use version 2 for newer feature/modules ansible is providing.  So this had started to hold us up.  Unfortunately I'm not well into the world of python.  I took a stab at this and ended up here:

[code]

See my branch above for the  changes made thus far.  Aside from the error above, doesn't look too far away.

[2015-11-14 19:45] detiber commented on #686
@jtslear thanks for digging into this.

The error you are seeing is because the sequence plugin in our repo (which we added as a workaround to a specific bug in one of the 1.9.x releases) is not compatible with 2.0.

Since the latest 1.9.4 release no longer needs this fix, I think we should just set the minimum supported version to 1.9.4 and then we can remove the sequence lookup plugin from our r

[2015-11-16 11:08] cw1 commented on #879
@abutcher I've tried your diff, but still same behavior with python 2.6.6.

[2015-11-16 14:17] detiber commented on #879
@cw1 it looks like @abutcher's diff was for the create method and not the list method in bin/cluster.

I created a PR to address this for all of the subcommands: https://github.com/openshift/openshift-ansible/pull/899

[2015-11-16 14:18] abutcher commented on #879
Derp nice @detiber

[2015-11-16 14:34] liggitt opened #900 "Ensure support for identity provider mappingMethod"
https://github.com/openshift/origin/pull/5060 added a new configuration field named `mappingMethod` to all identity providers (peer to the `login` and `challenge` fields). The default value is `claim`, which means identities from the provider will map to a user with their preferred username unless it is already mapped to a different identity.

* **lookup**
  * Administrator wants to manually confi

[2015-11-16 19:09] detiber commented on #900
@liggitt is the limitation of only having a single identity provider configured for login=true still the case?

[2015-11-16 19:17] liggitt commented on #900
@detiber yes, still true

[2015-11-16 19:19] liggitt commented on #900
this is useful now in the following scenarios:
1. they want to use one provider for web login (login: true) and one for CLI auth (challenge: true), but map identities from both providers to the same set of users
2. they want to change identity providers, and map identities from the new provider to users that were originall provisioned under the old one (e.g. anypassword -> htpasswd)

[2015-11-16 19:31] detiber commented on #900
@liggitt thanks, taking this time to do some validation on openshift_master_identity_providers as well

[2015-11-16 20:31] sdodson opened #908 "Ensure pre-upgrade steps are run using admin kubeconfig"
The preupgrade scripts need to add --config=/etc/origin/master/admin.kubeconfig in order to ensure they're run with cluster admin rights as the user that ansible uses may have logged in as a different user.

https://github.com/openshift/openshift-ansible/blob/master/playbooks/common/openshift-cluster/upgrades/files/pre-upgrade-check#L64

@adellape found this

[2015-11-16 21:06] detiber commented on #908
@sdodson We have to be careful about using the admin kubeconfig...  If we do anything that requires changing the user or project we can still get into trouble.

That said, what we should really be doing is copying the admin kubeconfig to a temporary location (with secure permissions, of course) and then using our copy.

[2015-11-17 13:54] dgoodwin commented on #908
So if one were looking for any usages of cli tools without kube config, what would you grep for?

I see openshift.common.admin_binary and client_binary, any others that I might miss?

[2015-11-17 15:39] detiber commented on #908
@dgoodwin all uses should be using those variables, but it is possible there may be some hardcoded references to oadm or oc layting around.

[2015-11-17 15:46] cw1 opened #915 "AWS: export ec2_instance_type='t2.micro' has no effect"
Using the enviroment variable ec2_instance_type (='t2.micro') has no effect (ansible still launches m4.large instances). Python version is 2.7.10 (Fedora 23).

Using openshift-ansible from git, commit 426aa0a1613bdfc5547abde43ab1130ba027126e.

[2015-11-17 15:52] detiber opened #916 "Provisioning on aws using bin/cluster fails with a timeout on starting docker on master host"
The master instance does not have a separate docker volume like the node instances do and lvm-loop provisioning causes the docker daemon to timeout on first start, which then causes the subsequent configuration of the cluster to fail.

[2015-11-17 15:53] detiber commented on #916
Previous discussion of this issue: https://github.com/openshift/openshift-ansible/pull/862#issuecomment-157400973

@menren

[2015-11-17 15:55] sils1297 commented on #915
@cw1 looking at https://github.com/openshift/openshift-ansible/search?utf8=%E2%9C%93&q=m4.large there seem to be some configuration yml files for those clusters, maybe we need to provide own yml files for that? Maybe we can workaround at least for now by changing those yml files?

[2015-11-17 15:56] cw1 commented on #879
@detiber Still not working with python 2.6.6 on Centos 6 but working on python 2.7.10 on Fedora 23.

[2015-11-17 15:59] detiber commented on #916
@menren in addition to the changes you proposed for playbooks/aws/openshift-cluster/tasks/launch_instances.yml

The following changes would also be needed:
- filter_plugins/oo_filters.py - oo_ec2_volume_definition would need to be updated to add the docker volume you specified to conditionally perform the operations on the docker volume for a host_type of master as well.
- https://github.com/opens

[2015-11-17 16:05] cw1 commented on #915
Changing deployment vars in playbooks/aws/openshift-cluster/vars.yml is working.

[2015-11-17 16:06] detiber commented on #915
@cw1 was just getting ready to recommend that.

[2015-11-17 16:08] detiber commented on #915
A proper solution would be to check the env var ec2_{master,node,etcd,infra}_instance_type to allow overriding via environment is possible for the different host types.

I'm going to throw together a pr to show what I'm thinking.

[2015-11-17 16:22] detiber commented on #915
Only tested for syntax errors so far: https://github.com/openshift/openshift-ansible/pull/918

[2015-11-17 20:22] abutcher commented on #879
@cw1 Does it fail on the exact same line? I see more format's used in `bin/cluster` - opened #927 to cover the rest.

[2015-11-17 22:01] abutcher opened #930 "Create how-to guide on speeding up the deployment of a large cluster"
This is a pretty common ask and I know that @detiber and @jeremyeder have a lot of experience increasing the performance of openshift-ansible tasks. Maybe this isn't the best place for a doc like this or maybe it could start here?

[2015-11-17 22:21] detiber commented on #930
Some preliminary notes copied from a different discussion on the topic:

The ansible.cfg file I've been using for testing:
[defaults]
forks = 10
host_key_checking = False
remote_user = root
roles_path = roles/
gathering = smart
fact_caching = jsonfile
fact_caching_connection = /tmp/ansible/facts
fact_caching_timeout = 600

[privilege_escalation]
become = False

[ssh_connection]
ssh_args = -o Contr

[2015-11-18 00:48] jeremyeder commented on #930
1) use ansible.cfg where forks > nodes (I never did try pipelining)
2) Pre-seed everything possible into your AMI/KVM image
  - In my case this was a full yum update, docker was pre-installed/thinLVM configured and I pre-cached my docker test images to each node
3) Ansible is extremely chatty over the wire.  There are tons of tcp sessions (ssh) and with everything done in parallel, this can mean a

[2015-11-18 03:33] jradtke-rh commented on #747
@JaredBurck - hey Jared - I have run in to the same issue this evening myself.  However, this is on my laptop.  This is the first time that I have attempted to have any functions colocated (i.e. master and etcd on one Node).  I have not had any issues like this in the past.  I will return to using single-function nodes using the same base code of the ansible-playbooks (Oct 31 release).
the current

[2015-11-18 06:02] detiber commented on #747
@jradtke-rh The only time I've seen this reproduced is when ansible is being run on one of the hosts that are being configured. Can you confirm this was the case for your run this evening?

If so, then modifying the inventory to set ansible_connection=local for the host you are running ansible on should do the trick.

[2015-11-18 06:29] JaredBurck commented on #747
@detiber - my apologies it's been a while. And thank you for all your assistance and patience!!  FYI, my testing so far seems to agree with what you have said about when ansible is being run on one of the hosts that are being configured.

However, as you suggested (and in workaround 2 from 3 comments above) to modify the inventory to set `ansible_connection=local` and `ansible_sudo=no` to your mas

[2015-11-18 10:10] cw1 opened #932 "Docker service on master could not be started"
After running `bin/cluster create aws my_super_cool_cluster` the script executes, but failed at starting the docker service on master node:
[code]

Output of `systemctl status docker.service`:
[code]
journald's output is only `No journal files were found.`

I'm also unable to start the docker service manually with `sudo systemctl start docker.service` -> same status.
After reboot, docker daemon is

[2015-11-18 10:34] menren commented on #932
Hello Cw1, we discussed about this issue earlier : https://github.com/openshift/openshift-ansible/issues/916
I created a PR to fix that : https://github.com/openshift/openshift-ansible/pull/933

[2015-11-18 11:23] jeremyeder commented on #930
@detiber could we do something in the installer that sets forks=node_count at runtime?

[2015-11-18 11:33] jeremyeder commented on #930
Seems that RHEL6 doesn't support ControlPersist.

[2015-11-18 13:29] jradtke-rh commented on #747
@detiber - Unfortunately I did not see this in time.  I killed the process running ssh (PID:  6764 in my example above) which let the ansible script continue... which finished but failed.  I then re-ran the playbook and everything worked.  I will be repeating my installation using this configuration a few times so I can try a few of the suggestions in this thread and gather more data.

[2015-11-18 14:45] detiber commented on #930
That is one of the items we have on the installer roadmap (that said, we are looking at that for the packaged installer and not bin/cluster, but we could apply it to bin/cluster as well).

Unless we override the default transport  (which is `smart`) The RHEL versions prior to 6.6 would fall back to paramiko. There will be a performance penalty compared to OpenSSH with ControlPersist, but not nearl

[2015-11-18 14:46] detiber commented on #932
@brenton please close, as this is a duplicate of https://github.com/openshift/openshift-ansible/issues/916

[2015-11-18 14:51] #932 closed

[2015-11-18 14:53] detiber commented on #747
@JaredBurck For workaround 1, I have no idea what I was thinking when I typed that. I was trying to say that you should run ansible from a separate host (one that is not part of the OpenShift deployment).

For workaround 2, I should have provided an example rather than try to explain it. Modifying your original inventory:
[code]

[2015-11-18 14:57] detiber commented on #747
@jradtke-rh We perform some operations on 'localhost' in order to copy items from one remote host to another. The main use case is for copying the generated certificates from the CA host to the host that needs the certs. There are other various uses as well, but any operations on localhost would only create temporary files and/or variables.

[2015-11-18 20:02] detiber opened #935 "bin/cluster aws - Review docs and make sure overrides actually override"
The README_AWS.md doc has become stale and some of the variables specified for overriding default values no longer work.

[2015-11-19 00:28] urashidmalik commented on #391
+1

[2015-11-19 06:55] gr3x commented on #447
Just for your information, I got the same problem :
python-jinja2-2.2.1-2.el6_5.x86_64
Python 2.6.6

I know it's a bad thing I did but it works and it's a dedicated management VM with openshift ansible:
1) yum uninstall python-jinja2 (& ansible because of dependencies)
2) reinstall a newer unoficial version of python-jinja2 (python-jinja2-2.7.2-1.el6.noarch.rpm)
3) reinstall ansible

[2015-11-19 15:33] detiber commented on #447
@abutcher any thoughts on a way to easily replace the map filter with something that is available in jinja 2.2.1 ?

[2015-11-19 16:10] abutcher commented on #447
@detiber replace every `map` with `oo_collect`?

[2015-11-19 17:35] semprunl commented on #391
+1

[2015-11-19 20:47] vnugent opened #941 "Ansible error on RHEL 6.5 + ansible 1.9.4"
Do we support Ansible 1.9.4 on rhel 6.5?

Master/nodes are RHEL 7.2

inventory file
[code]

ansible output
[code]

[2015-11-19 20:55] abutcher commented on #941
Failure is related to the version of python-jinja2 see #447

[2015-11-20 00:16] urashidmalik opened #942 "Vagrant Setup : Registry failure with I/O timeout"
Steps to Repro:

System (Vagrant/Virtualbox on Mac OS X)
1. Clone repo
2. Follow https://github.com/openshift/openshift-ansible/blob/master/README_vagrant.md
3. vagrant up --no-provision
4. vagrant provision

Once finished, able to access openshift from MAC chrome https://ose3-master.example.com:8443/
1. SSH into Master
2.  Follow Guide on https://docs.openshift.org/latest/install_config/install/d

[2015-11-20 00:17] urashidmalik commented on #942
@smarterclayton Tagged

[2015-11-20 00:29] urashidmalik commented on #942
Not sure if this helps: https://github.com/openshift/training/blob/master/deprecated/beta4/dnsmasq.conf

[2015-11-20 08:41] simon3z opened #943 "Setting the nodeIP is affecting the node kubernetes.io/hostname label"
In PR #815 it was added:

    +nodeIP: {{ openshift.common.ip }}

to `node.yaml.v1.j2`. This creates nodes that self-register using the IP instead of the hostname. In fact from the OpenShift code:

        if len(options.NodeIP) > 0 {
                server.HostnameOverride = options.NodeIP
        } else {
                server.HostnameOverride = options.NodeName
        }

https://github.com/op

[2015-11-20 09:17] VolkerKozlowski commented on #942
I am having the same problems as described above on my Mac with Origin 1.0.7. I am using landrush as a plugin for Vagrant to act as a DNS. But this does not help. I am not sitting behind a proxy.

[2015-11-20 12:53] chmouel opened #944 "Getting disabled features by default with openshift-ansible"
Installing OSE with the latest package or from latest GIT, I am getting :

<pre>
disabledFeatures: ["Builder", "S2IBuilder", "WebConsole"]
</pre>

which disabled the console/s2i and builder by default. I don't think that's the UX the user would be expecting.

[2015-11-20 13:13] chmouel commented on #944
I believe it's because I had the wrong installation type

[2015-11-20 13:14] #944 closed

[2015-11-20 14:50] vnugent commented on #941
The workaround fixes it for me

workaround: https://github.com/openshift/openshift-ansible/issues/447#issuecomment-157970279

[2015-11-20 14:50] #941 closed

[2015-11-20 17:03] vnugent opened #948 "feature request: be able to customize master-config.yaml"
Is there a way to override values in master-config.yaml?  Specifically I want to be able to set the service subdomain name:

[code]

[2015-11-20 17:53] detiber commented on #948
@vnugent osm_default_subdomain is the variable you are looking for.

The master-config.yaml file is compiled from the following template: https://github.com/openshift/openshift-ansible/blob/master/roles/openshift_master/templates/master.yaml.v1.j2 which uses values set through openshift_facts

Most of the variables that can be overridden in the config are updated through this block: https://github

[2015-11-20 18:36] sdodson opened #949 "Update roles/docker/meta/main.yml"
@kwoodson when you get a moment can you fixup roles/docker/meta/main.yml it looks like you added it

[2015-11-20 19:40] sdodson commented on #949
Sorry, should've linked to the file https://github.com/openshift/openshift-ansible/blob/master/roles/docker/meta/main.yml

Just need to actually fill out the info, in particular author and license.

[2015-11-21 03:51] detiber opened #953 "Idempotency issues to fix"
[code]

[2015-11-23 04:38] sada-okamura opened #955 "invalid parameter specified: '_ortr_selector'"
### Symptom
When I try to run ansible-playbook command, it fail with the following error.
[code]

### My environment
[code]

### Possible cause
According to Ansible [source code](https://github.com/ansible/ansible/blob/devel/lib/ansible/parsing/splitter.py), ansible doesn't allow parameters starting with underscore ('_').
Wheras openshift-ansible's [task config for routers](https://github.com/open

[2015-11-23 14:29] abutcher commented on #955
Hey @sada-okamura the openshift-ansible playbooks are not compatible with ansible 2.0 yet. We're tracking updating the playbooks for 2.0 in #686.

[2015-11-23 14:57] detiber commented on #955
@sada-okamura the variables with leading underscores are the number one known issue with 2.0 compatibility currently.

[2015-11-23 15:12] liggitt opened #956 "Add serviceAccountConfig.masterCA during upgrade"
https://github.com/openshift/openshift-ansible/pull/378/files added serviceAccountConfig.masterCA to new configs, but old configs should have that value set during an upgrade.

[2015-11-23 18:36] abutcher commented on #916
@brenton Please close - fixed in #933

[2015-11-23 18:38] abutcher commented on #853
@brenton Please close - fixed in #893

[2015-11-23 18:46] abutcher commented on #840
@brenton Believe this one can be closed. This is now addressed in our docs.

[2015-11-23 19:01] detiber commented on #956
@brenton this can be closed now that https://github.com/openshift/openshift-ansible/issues/957 has merged.

[2015-11-23 19:02] #956 closed

[2015-11-23 19:44] #916 closed

[2015-11-23 19:44] #853 closed

[2015-11-23 19:44] #840 closed

[2015-11-23 21:06] thoraxe opened #961 "validate that timestamps on servers are within reasonable amounts (seconds)"
A user reported an issue where the installer happily marched along even with the servers having timestamps that were more than 10 minutes out.

Should we validate that server TZs and times are reasonably in sync?

[2015-11-23 21:19] detiber commented on #961
@thoraxe it's a tricky issue to solve that depending on the cluster size we may not have a good way to handle it. Specifically, when the number of host instances exceeds the number of ansible forks.

We could verify each server time against the client time, but that has little relevance to the service working.

We could also require that the user set an ntp source and force a sync of the local tim

[2015-11-23 21:38] sada-okamura commented on #955
Thanks @abutcher & @detiber!

I close this and will follow #686 and wait for a fix to come.

[2015-11-23 21:38] #955 closed

[2015-11-24 02:27] thoraxe commented on #961
I'm not saying we have to solve it. I'm just saying that we should check/verify/warn and then bomb if not.

Since we are generating and consuming SSL certificates, there can be issues with time sensitivity. For example, if we generate a cert whose validity starts at 10:00:00AM but one of the machines has a clock set to 9:50:00AM then the cert it is going to talk to isn't even valid for another ten

[2015-11-24 02:44] pravisankar commented on #943
upstream issue: https://github.com/kubernetes/kubernetes/issues/17704

[2015-11-24 18:56] sdodson opened #969 "RFE: Upgrade non default named routers"
We only upgrade routers if they're named 'router'. Because we only recently started deploying routers automatically and we only do so when zone=infra nodes are provided it's likely that someone's router is named something else. We should consider upgrading all routers in the default name space or potentially all namespaces.

[2015-11-24 19:00] sdodson commented on #943
@pravisankar Can you describe the effects on an existing environment if externalID changes from a hostname to IP?

[2015-11-24 19:09] detiber commented on #943
submitted https://github.com/openshift/openshift-ansible/pull/970 to address this (as a workaround)

[2015-11-24 19:23] ibotty opened #972 "support --dry-run and --diff"
It would be great to automatically check whether there is something to be done (get a mail whenever it would change something).

I plan to tackle that myself after #808 lands.

[2015-11-24 19:25] ibotty opened #973 "support tags"
It would be great to restrict what happens with tags.

This would be great for debugging openshift-ansible itself as well.

[2015-11-24 22:30] catherinesword opened #979 "OpenShift installation issue: TASK: [openshift_examples | Import RHEL streams ] fails"
Hi, about 2 weeks ago I managed to set up a OpenShift cluster (1 master + 3 nodes) with EC2 instances, however when I tried it again it didn't work out. It failed at the step importing RHEL streams (however once it passed this step but failed at next step importing CentOS streams), error message:
[code]
I'm installing from my local machine, so for ansible inventory I used public DNS of instances f

[2015-11-25 07:15] ubreu opened #981 "Is it possible to upgrade origin 1.0.7 to 1.1 via ansible playbook?"
This document states that it should be possible:
https://docs.openshift.org/latest/install_config/upgrades.html#upgrade-playbook

However, that playbook does not exist on the master branch.

I am currently running:
openshift v1.0.7-2-gd775557-dirty
kubernetes v1.2.0-alpha.1-1107-g4c8e6f4
etcd 2.1.2

[2015-11-25 10:59] catherinesword commented on #979
I've tried again, and it failed at a different place (a bit further)
[code]
Is it the problem that 8443 is not listening or occupied?

[2015-11-25 11:09] catherinesword commented on #979
Also I've tried ``wget`` port 8443 on master to itself, sometimes it shows connected, sometimes failed
[code]

[2015-11-25 14:22] abutcher commented on #979
Hey @catherinesword there is definitely an issue communicating with the master (via its internal DNS entry) on port 8443 and from your last comment it seems to be an intermittent problem. Just to confirm, which subnet are you using for your services subnet?

Also, are you able to connect to the public entry of the master more consistently? You can configure the hostnames the installer uses by sett

[2015-11-25 15:05] abutcher commented on #981
Hey @ubreu, sorry it seems we need to update that doc. We recently updated the upgrade playbooks to separate them into minor and major upgrades for the releases so far. The playbook here should work for going from 1.0.7 to 1.1.1.

https://github.com/openshift/openshift-ansible/blob/master/playbooks/byo/openshift-cluster/upgrades/v3_0_to_v3_1/README.md

[2015-11-25 15:19] detiber commented on #979
@catherinesword also, please check the master logs to see if there is anything indicating that the service has crashed and has been restarted.

If it is an enterprise install: journalctl -u atomic-openshift-master -l
For an origin install: journalctl -u origin-master -l

[2015-11-25 15:20] detiber commented on #969
I would vote on all routers in the default namespace. I don't think we should be touching any routers in other namespaces (unless we have the user provide namespaces to do so for).

[2015-11-25 15:21] detiber commented on #969
Also, we should probably verify that the router we are updating is using the default image and not a custom image as well, otherwise we could break their custom router.

[2015-11-25 15:32] detiber commented on #972
@ibotty This one will be quite difficult, given that I don't believe the templates provide meaningful output (other than that the file will be changed, though I could be wrong) and we rely on quite a few command/shell tasks which will not provide meaningful output for --dry-run.

[2015-11-25 15:34] detiber commented on #973
@ibotty are you thinking of tags on the different playbooks? or further down into the roles as well?

I love the idea, I just suspect that it'll be quite tricky to get right and to verify that task dependencies are kept along with the tagging.

[2015-11-25 15:45] catherinesword commented on #979
@detiber Thanks!
It says no journal files were found, but I could see the master is running:
[code]

[2015-11-25 15:55] detiber commented on #979
@catherinesword the docker service being stopped/inactive on a master is not an issue. The node configuration steps have not be started at the point that your installation has failed.

I find it odd that there are not entries in the journal for the origin-master unit...  do you see any origin-master related entries with `journalctl -l` or in /var/log/messages (if enabled)?

[2015-11-25 15:56] detiber commented on #979
@catherinesword also, it looks like you were running the systemctl status command using the centos user, if so, you'll need to invoke journalctl using sudo to see the logs for the origin-master service.

[2015-11-25 16:17] catherinesword commented on #979
@abutcher Thanks for your reply!
I've tried public DNS with 8443, but basically the same as private..
I'm actually not sure if I'm using the "right" subnet, in VPC subnets, it looks like this:
[code]
I used the second one 172.30.1.0/24 for all instance and volumes.
Here's the facts of the master (sorry it's quite long..), and a bit odd that the facts of other 2 nodes are either incomplete or broke

[2015-11-25 16:20] ibotty commented on #973
I used these only in a coarse sense, e.g. I want to run the master-nodes
certificates part, or only configure openshift-sdn.

I concur with your assessment regarding tags within roles. Most of the
time when I used tags on task level I forgot to add some `always_run`
annotations to some tasks.

[2015-11-25 16:30] abutcher commented on #979
@catherinesword `"portal_net": "172.30.0.0/16` would interfere with your AWS subnets. This can be overridden by setting `openshift_master_portal_net: 173.30.0.0/16` or so.

[2015-11-25 16:32] ibotty commented on #972
Regarding the shell tasks, afaict there are two classes of shell tasks.
 * oc/oadm create/edit, etc: These might benefit from a module that
   checks whether something changed. I did something like that with some
   etcd keys for flannel, so I am sure that approach will work.
 * diagnostics, tarball copies, etc.: These might be hard indeed. I am
   positive, there is a possibility to do these with

[2015-11-25 16:34] abutcher commented on #981
@ubreu Documentation has been updated in the linked PR which will land in the nightly build. If you have any issues with the upgrade please re-open this issue or submit a new one. Thanks!

@twiest @brenton Please close

[2015-11-25 16:37] catherinesword commented on #979
@detiber Thank you!
Yes you're right, if I sudo it, I can see the logs and this appears many times:
[code]

[2015-11-25 16:46] catherinesword commented on #979
@abutcher I see...May I ask what is the portal_net? If it interferes AWS subnets, what is other options for it? Thanks!

[2015-11-25 16:46] detiber commented on #972
checks whether something changed. I did something like that with some
   etcd keys for flannel, so I am sure that approach will work.

I fully agree, long term we want to move a lot of that type of functionality into modules as opposed to command execution.

   positive, there is a possibility to do these with --check though.

Diagnostics shouldn't be too hard to run in check mode, really those sh

[2015-11-25 16:55] abutcher commented on #979
@catherinesword `openshift_master_portal_net` is the subnet in which [services](https://docs.openshift.org/latest/architecture/core_concepts/pods_and_services.html#services) will be created within the OpenShift SDN. `172.30.0.0/16` covers `172.30.0.0->172.30.255.255`

Setting `openshift_master_portal_net: 173.30.0.0/16` in your host inventory should solve the issue.

[2015-11-25 17:23] catherinesword commented on #979
@abutcher Thanks a lot! Now I finally passed that step, but another issue arises. The failed one is the master.
[code]
And the result of ``systemctl status docker.service``:
[code]
and for ``journalctl -xn``
[code]

[2015-11-25 18:27] dgoodwin opened #984 "oo_filters error performing HAProxy Install with atomic-openshift-installer"
Installation fails with:

[code]

My atomic-openshift-installer config file:

[code]

Installer is running on a separate system, not used as one of the install hosts.

[2015-11-25 18:54] liggitt commented on #631
or just specify the namespace with `-n ...` rather than running commands that mutate the kubeconfig

[2015-11-25 19:12] abutcher commented on #979
@catherinesword Can you post `sudo systemctl status docker` or `sudo journalctl -u docker -l`

[2015-11-25 21:27] detiber commented on #631
@liggitt that is indeed an option, but doesn't prevent the user from doing something like oc login that would muck with ~/.kube/config

I'm still keen on copying the admin kubeconfig to a temporary location and using that to avoid mutating the admin kubeconfig as well as ensuring that we are in a known starting state for each set of operations.

We may also want to make sure that the current conte

[2015-11-25 21:36] detiber commented on #984
The installer running on a separate host shouldn't affect the variable being set...
It looks like for some reason openshift_facts wasn't run against the master hosts at the point the filter was called.

As far as I can see though, the playbooks/common/openshift-master/config.yml playbook has a play that applies the openshift_facts role to the master hosts prior to the step that invokes that filter

[2015-11-25 21:40] detiber commented on #979
@catherinesword There is a known issue with the current version of docker that we ship, that if the host is configured for lvm-loop it will timeout on the first startup of the docker daemon.  Do you get the same issue when re-running ansible as well?

[2015-11-25 22:30] wiza opened #989 "Cannot create cluster on aws with bin/cluster"
Older version (month ago or so) worked, running on CentOS 7.1, this is the log:

$ bin/cluster -vvvvv create aws test
RUN [time ansible-playbook -vvvvv -i inventory/aws/hosts -e 'num_masters=1 num_nodes=2 cluster_id=test num_etcd=0 num_infra=1 deployment_type=origin' playbooks/aws/openshift-cluster/launch.yml]

PLAY [Launch instance(s)] ****************************************************\*
localh

[2015-11-25 23:02] matt-deboer opened #990 "Is it possible to dynamically get a list of all packages needed to install origin?"
This is more of a question than issue--is there any simple way to get a full manifest of the packages required as part of an os-origin install?
The use case is to pre-package a partial private repository/mirror containing those packages for distribution inside a limited-egress environment.

[2015-11-26 00:15] benbarclay commented on #989
Also seeing this behaviour where AWS instances cannot be created with the error: "msg: Instance creation failed => InvalidParameterCombination: Non-Windows instances with a virtualization type of 'hvm' are currently not supported for this instance type."

[2015-11-26 04:05] detiber commented on #989
Try exporting the following env variable:
[code]

I believe the issue is related to ec2 limiting access to certain instance sizes in classic mode.

[2015-11-26 04:25] benbarclay commented on #989
I already export the subnet (as we have quite a few, and need to select the correct one)

[2015-11-26 04:52] detiber commented on #989
@benbarclay are you overriding any of the default instance types through env variables as well?

ec2_instance_type will set a default override
ec2_master_instance_type will override master hosts only
ec2_node_instance_type will override node hosts only
ec2_infra_instance_type will override infra node hosts only
ec2_etcd_instance_type will override ec2 hosts only

It could be an issue with m4.large

[2015-11-26 04:54] detiber commented on #990
I'm not aware of a way to get the list dynamically, but you can `git grep yum` from within a checkout of openshift-ansible to get a list of all the yum tasks in the playbooks/roles.

From there, naively I would attempt a yum install from a minimal install to gather the full list of packages needed to build up the private mirror.

[2015-11-26 04:54] benbarclay commented on #989
ec2_region='ap-southeast-2' \
ec2_keypair='REDACTED' \
ec2_image='ami-d38dc6e9' \
ec2_vpc_subnet="REDACTED" \
ec2_assign_public_ip='true' \
bin/cluster -v create aws --deployment-type=origin openshift

It was working for me a few days ago, then I started getting the above error after a git pull brought me up to date with master.

[2015-11-26 05:04] benbarclay commented on #989
Having said that, I checked out out the previous version I was on and can't deploy from it either now.

[2015-11-26 05:06] detiber commented on #989
@benbarclay have you tried reverting to your previous checkout?  I saw the same issue a couple of weeks ago, and resolved it by setting ec2_vpc_subnet, which then provisioned the hosts inside of a vpc instead of ec2 classic, which is the default for my account.

Do you see the same error when attempting to spin up a m4.large instance using the same image in the same vpc subnet within the same regi

[2015-11-26 05:08] benbarclay commented on #686
Ansible 2.0 support would be awesome. My team has to use SAML auth (which was never released into any Ansible 1.x branches) to deploy against a number of AWS accounts.

As it is, we are running Ansible from a git checkout that exists somewhere 1.9.x and 2.0, that has the SAML auth additions, but not the plugin breaking changes.

[2015-11-26 05:14] detiber commented on #686
@benbarclay you may want to give https://github.com/openshift/openshift-ansible/pull/991 a try to see if it works for you.

I suspect there will be other issues along the way, but any testing we can get the better.

It'll probably be another few weeks before I get around to testing with 2.0

[2015-11-26 09:05] ubreu commented on #981
@abutcher: Thanks for the pointer. I was able to run that playbook

[2015-11-26 09:23] catherinesword commented on #979
@detiber  @abutcher  I simply re-run ansible and it works now! Thank you very much for your help!

[2015-11-26 11:22] ivanthelad opened #994 "Ansible should perform a check if its using the correct project/namespace when perform ing operations against api"
Hi,
it can happen when running the ansible installer a second time that the user's config  (root) on the target master has switch to another project. This results in the ansible install reporting that it cannot find the kubernetes project.

the installer could
- Perform a check.
- Switch to project default
- Execute the command on the default namespace

[2015-11-26 11:24] jkroepke commented on #994
This error happens, if I'm not in the default namespace (oc project returns a custom project)

[code]

[2015-11-26 11:59] wiza commented on #989
I changed the region (was deploying to eu-west-1 before) so I unsetted and tried to ran with defaults. It has worked before. Should I remove all vpcs, keypairs, etc. These scripts have previously launched instances inside vpc by default?

[2015-11-26 12:23] #979 closed

[2015-11-26 12:41] ivanthelad opened #995 "Allow addition of specific node without a entire rerun ansible installer script"
-1 This takes too longs in a large cluster
-2 introduces downtime in cluster
-3 unnecessary restart and update of components which have nothing to with adding a node

[2015-11-26 16:44] abutcher commented on #994
Thanks! PR #985 submitted yesterday for this issue.

[2015-11-26 17:42] detiber commented on #995
The playbooks/byo/openshift-cluster/scaleup.yml playbook is meant to do just that. Any nodes in the new_nodes group will be configured, without configuring any other hosts in the cluster.

If not using a static inventory, a wrapper playbook around playbooks/common/openshift-cluster/scaleup.yml can be created to do the same.

[2015-11-26 17:57] detiber commented on #989
@wiza it will use the default VPC if configured for accounts that don't have access to ec2 classic.

Have you tried using m3.large instances instead?
[code]

[2015-11-26 18:19] wiza commented on #989
@detiber no help on changing instance_type, also no use of specifying existing vpc subnet or changing region.

[2015-11-26 18:51] detiber commented on #989
@wiza it looks like the error message I was looking at was the wrong one.

This appears to tell me that the centos image we are referencing is no longer available.

Could you verify the ami id for the latest CentOS image?

[2015-11-26 21:38] ivanthelad commented on #995
Thanks, Does this work currently(ose3.1) and have you a example config file?

[2015-11-26 22:35] wiza commented on #989
ami-33734044 @ eu-west-1

[2015-11-26 23:49] wiza commented on #989
Log has ami-96a818fe @ us-east-1, which are the defaults in the script. But it's the same error, what ever the variables...

[2015-11-27 01:03] detiber commented on #995
Using the same inventory file that you installed with (assuming advanced install). You would simply add the new nodes under a section called new_nodes:

[code]

You'll also want to add new_nodes under the [OSEv3:children] section.

After completing the run, you would want to move the new nodes to the [nodes] group.

There was a bug with the installer wrapper where it didn't correctly limit the nod

[2015-11-27 08:47] ReSearchITEng commented on #210
I need to add more nodes to an existing and running OpenShift cluster on local network (not AWS, etc)

I was planning to try and update the hosts file with the new nodes and re-trigger the install.
a) What would be left to be modified on the master to adopt the new node? (if anything left)
b) Any clue how safe would be for the existing/running cluster ? (I expect etcd will be updated live - maximu

[2015-11-27 14:13] dakky opened #997 "Ansible run fails @sudo via ansible"
I get the following error when trying to run the latest version:

[code]

Any Idea?

[2015-11-28 22:05] eformat commented on #842
i tried this without any luck on GCE. setting

openshift_use_openshift_sdn=True

and checking the facts generation:

ansible-playbook playbooks/byo/openshift_facts.yml

results in

       "use_openshift_sdn": false,

i've ensured the local default network in GCE is not conflicting. how can i further debug this ?

Thx
Mike

[2015-11-28 22:09] eformat commented on #842
here's my config for reference (hooked up to OSE3.1 enterprise repos)

[code]

[2015-11-29 08:56] eformat commented on #842
commenting out this line allows for sdn to install and interfaces and bridge to be configured in gce using byo playbook

roles/openshift_facts/library/openshift_facts.py

line:191-192

    # Default to no sdn for GCE deployments
    facts['use_openshift_sdn'] = False

will give it a test ..

[2015-11-30 13:27] #981 closed

[2015-11-30 16:03] detiber commented on #989
I'll attempt to replicate today.

[2015-11-30 16:11] detiber commented on #210
The master does not need to be modified.

Re-running the ansible playbooks on the cluster is non-destructive. The bigger issue is the length of time to deploy a new node for larger environments. If you have a 100 node deployment, then having to wait for ansible to run on the etcd hosts, masters, and all 100 existing nodes just to deploy the 101st node is a bit of a waste.

There is now a common sc

[2015-11-30 16:23] detiber commented on #842
@eformat There must be a bug with the way that we are merging facts. I'll investigate further today.

[2015-11-30 16:45] detiber commented on #997
@dakky I've noticed some odd behavior depending on the version of ansible used around using host: localhost. I've submitted https://github.com/openshift/openshift-ansible/pull/1000 to address these issues.

[2015-11-30 17:21] loshkovskyi opened #1001 "Tag not found when pulling pod image"
Hello,

I deploy my testing OpenShift installations from [openshift-ansible-3.0.15-1](https://github.com/openshift/openshift-ansible/releases/tag/openshift-ansible-3.0.15-1). Today, I'm not able to create registry and router because of the following issue:

Nov 30 16:06:23 vm-node-01 origin-node[13893]: I1130 16:06:23.830351   13893 docker.go:159] Pulling image openshift/origin-pod:v1.1.0 without

[2015-11-30 17:42] detiber commented on #1001
@sdodson are you familiar with this at all? It looks like it's trying to pull version v1.1.0 and the tag for origin-pod is v1.1, is it a mismatch between the way the binary reports the version and the tagged images?

[2015-11-30 18:07] sdodson commented on #1001
Yeah, I built v1.1.0 but it should've been v1.1. I've had the v1.1.0 build deleted from copr.

@loshkovskyi on your hosts can you run the following

[code]

[2015-11-30 18:48] jtslear opened #1002 "Making Examples Optional"
Good Morning,  would it be worthwhile to provide the capability to optionally disable the loading of the openshift_examples?  In our environment, we aren't using them and are rather useless.  I'm merely trying to remove a bit of cruft from our overall installation.

[2015-11-30 20:07] sdodson commented on #1002
@jtslear For now, you can stop them from being installed into the namespace by setting the following, however I agree we should add a variable that disables the entire role.

[code]

If you also want to disable the image streams
[code]

[2015-11-30 21:28] detiber commented on #855
https://github.com/openshift/openshift-ansible/pull/966

[2015-11-30 21:28] detiber commented on #526
https://github.com/openshift/openshift-ansible/pull/966 addresses this

[2015-11-30 21:32] pravisankar commented on #943
ExternalID was originally introduced to return the cloud provider ID of the specified instance.
For non cloud provider cases, ExternalID defaults to kubelet hostname. Since we don't run in cloud provider mode, I don't think this field is relevant to us.
Currently, ExternalID is deprecated in favor of ProviderID (can take value of this format: <ProviderName>://<ProviderSpecificNodeID>)

[2015-11-30 22:30] detiber commented on #989
It looks like the env lookups we were doing to set the defaults for the instance types is the issue. I submitted https://github.com/openshift/openshift-ansible/pull/1003 to address it.

The big thing was that the env lookup plugin was returning an empty string for a non-existent environment variable which prevented the template from returning the right instance type, and was instead passing the em

[2015-12-01 05:46] detiber commented on #842
still digging into this, ran into some issues when I attempted to spin up a cluster using the bin/cluster script and didn't get far enough to test the SDN configuration.

[2015-12-01 08:57] loshkovskyi commented on #1001
Sure, but it's not working:
[code]

I need OpenShift based on Kubernetes 1.1 to test the new persistent storage feature.

[2015-12-01 09:22] dakky commented on #997
thank you. I'll report back here, when your pull request is merged back to the master.

[2015-12-01 12:20] ReSearchITEng commented on #528
+1

[2015-12-01 15:51] sdodson commented on #1001
@loshkovskyi

Two things, first origin-pod isn't a package that you should be installing, its purpose is only to be installed into the origin-pod Docker image.

Second, the root of the problem is that yesterday I built a package with version 1.1.0 which was incorrect and the appropriate images for that version don't exist on dockerhub. I've removed that build from the COPR and built the proper ver

[2015-12-01 16:54] loshkovskyi commented on #1001
Thank you, it works now.

[2015-12-01 16:54] #1001 closed

[2015-12-02 21:41] detiber commented on #842
I've created https://github.com/openshift/openshift-ansible/pull/1007 to address this issue (as well as others that I hit when using bin/cluster to deploy to GCE).

If I can get second hand validation of it, I'll go ahead and cleanup the PR and work on getting it merged.

[2015-12-02 23:30] simon3z commented on #943
@detiber I think this can be closed, IIUC #17731 is setting `openshift_node_set_node_ip` to `False` right?

[2015-12-03 03:21] detiber commented on #943
@simon3z that is correct, by default openshift_node_set_node_ip is False now. Feel free to close this issue.

[2015-12-03 09:04] chunyunchen opened #1014 "The --confirm-def-push flag should be turned off for docker instance"
We need set --confirm-def-push=false for docker instance due to bug: https://bugzilla.redhat.com/show_bug.cgi?id=1245472

[2015-12-03 09:18] simon3z commented on #943
#970 is fixing this issue. Thanks.

[2015-12-03 09:18] #943 closed

[2015-12-03 15:59] detiber commented on #1014
@chunyunchen If I'm reading the bug correctly, this flag is needed to be able to push images to dockerhub from the OpenShift hosts.

If that is the case, is that something that we want to set by default? It seems like this is something that we would want to document, provide a flag for at install time, and possibly provide a utility for updating a running cluster with this setting.

@bparees what

[2015-12-03 16:26] bparees commented on #1014
personally i'd say we should set it, you don't accidentally push to dockerhub, you'd have to provide credentials and choose that push spec.

but since rhel felt it was important not to allow it by default, i guess we should abide that and not override it, so I guess i'd agree w/ document+provide option at install time.

[2015-12-04 09:41] eformat commented on #842
will give it a try over next 48hrs .. just on the road at mo ...

[2015-12-04 11:35] detiber commented on #485
I don't think we need to worry about the second two items anymore.

[2015-12-04 11:39] detiber commented on #318
@brenton this issue can be closed.

[2015-12-04 11:42] detiber commented on #855
@brenton this issue can now be closed

[2015-12-04 14:22] #855 closed

[2015-12-04 14:22] #318 closed

[2015-12-04 14:49] lypht commented on #842
We have a GCE requirement, so I've been hoping bin/cluster would become stable and we'd be able to gain idempotence.  I was happy to see the updates in #1007, and cloned the branch to test.  However, despite previously being able to attach GCE_PD through PersistentVolumeClaim (unformatted, unattached, and unbound) I am now no longer able:
**Could not attach GCE PD "docker-registry". Timeout waitin

[2015-12-04 15:31] erinboyd commented on #842
In general you have to have the persistent volume claim as BOUND or else it
won't create the mount paths. Do you have both a pv and pvc created?

On Fri, Dec 4, 2015 at 7:49 AM, Josh Hull <notifications@github.com> wrote:

[2015-12-04 16:07] detiber opened #1024 "Style guide does not cover playbook temporary variables"
The style guide doesn't cover temporary variables used in playbooks, which I would suggest should be tmp_<playbook_id>_<var_name> with playbook_id being a short playbook descriptor based on where the playbook is located...  something like c_oc_config could be used for playbooks/common/openshift-cluster/config.yml.

[2015-12-04 16:07] detiber commented on #1024
@twiest

[2015-12-04 16:13] detiber opened #1026 "Style guide - role variable names"
Browsing galaxy.ansible.com, I came across the following: https://galaxy.ansible.com/intro#variables

The suggestion is that all role variables (including vars/main.yml) should be prefixed with the role name. This contradicts our style guide suggestion to use shortened prefixes.

As much as the long descriptive naming is a pain to work with, I think sticking with the galaxy best practices and more

[2015-12-04 16:13] detiber commented on #1026
@twiest

[2015-12-04 16:33] lypht commented on #842
Sorry, I should have been clearer.  Both the pv and pvc are created and point to a clean (unformatted, unattached, not *previously* bound) disc.  Without which the error becomes **PVC not found**.

I attempted to run *bin/cluster create gce 'project_name'* again this morning using the gceFixes branch previously mentioned, and noted in the GCE developer console that, once created, all VMs were issu

[2015-12-04 16:46] suryaveerc opened #1027 "Ansible failing assertion openshift.common.deployment_type for Origin"
I am trying to install OpenShift Origin V3 on OpenStack IceHouse  using the ansible installer.

Ansible version is 1.9.4 and I cloned the openshift-ansible yesterday.

**Below is the error log:**
TASK: [openshift_facts | Ensure PyYaml is installed] **************************
ok: [192.168.144.132] => (item=PyYAML)

TASK: [openshift_facts | Gather Cluster facts] ********************************
ok:

[2015-12-04 17:00] detiber commented on #842
@lypht The persistent disk issue sounds like a separate issue to me.

Can you provide the steps you are using to configure the persistent volume, create the registry and attach the pvc to the registry?

Issues that I can think of off the top of my head:
- If the method used to access the volumes is relying on the kubernetes native cloud support, which we aren't currently configuring with openshift

[2015-12-04 18:28] #472 closed

[2015-12-04 20:16] lypht commented on #842
Noted.  For BYO pre-flight, I run /usr/share/google/safe_format_and_mount, but had only created the disk through the developer console for my test of bin/cluster.  I am able to mount a persistent docker-registry through that method.

[2015-12-04 21:55] detiber commented on #1027
Is this a typo? it should be [OSEv3:children] and that could explain why the variable is reported as being unset...

[2015-12-05 01:36] chunyunchen commented on #1014
@detiber @bparees  I agree with document+provide option at install time.

[2015-12-05 05:04] suryaveerc commented on #1027
OMG!! Where to hide.. :(

Copy pasted from tutorial and never noticed. Why did it not failed for other things like it did read master, node details and created fact file..

Can you please confirm if I can install OSO V3 using this on OpenStack IceHouse.

Anyways, sorry to open this issue. Closing.

[2015-12-05 05:04] #1027 closed

[2015-12-05 05:42] detiber commented on #1027
@suryaveerc no problem on opening the issue at all.

You should not have an issue installing on OpenStack, you will probably have an issue using the *.novalocal names for openshift_hostname and openshift_public_hostname though, since with nova networking those names will not be resolvable between cluster hosts if they are provisioned on different hypervisor hosts.

If possible, you may want to ass

[2015-12-05 06:21] suryaveerc commented on #1027
Thanks for the comments. It installed.
**[centos@master ~]$ oc get nodes**
NAME              LABELS                                                            STATUS    AGE
node1.novalocal   kubernetes.io/hostname=node1.novalocal,region=primary,zone=east   Ready     1h
node2.novalocal   kubernetes.io/hostname=node2.novalocal,region=primary,zone=west   Ready     1h
Let's see if it works further.

T

[2015-12-06 07:38] dlbewley commented on #942
Looks like dupe of #391 ?

[2015-12-07 17:43] rrati opened #1031 "Support migrating from non-HA deployment to HA"
The installer should support upgrading an existing deployment from non-HA to an HA deployment.

[2015-12-07 21:45] sdodson commented on #949
This got rolled into #808

[2015-12-07 21:45] #949 closed

[2015-12-08 05:31] ivanthelad opened #1033 "make http_proxy, no_proxy etc configurable via ansible"
Files outlined
docker
node
api,
controller
https://docs.openshift.com/enterprise/3.1/install_config/http_proxies.html

[2015-12-08 06:41] detiber commented on #1031
@rrati, I suspect it will be a while for this still.

The first major issue us rekeying certs for the lb host.

Second is updating all references to the master URL and master public URL through the clustr.

Third is migration of etcd data from the embedded etcd to an external ha etcd.

We have been talking about using an external etcd even for single master deployments, so that should make #3 a bi

[2015-12-08 13:50] kastork opened #1034 "Docs could include more ami info"
For AWS cluster creation... (With Origin)

Is there a list of recommended ami ids by region and cluster role maintained somewhere?  I've been digging around and only find ids for us-east-1

Alternatively, is there a set of playbooks  that build a Centos or Fedora host for each role (which could then be saved privately as an ami)

[2015-12-08 21:00] suryaveerc commented on #1027
@detiber
As mentioned by you I am facing the DNS problem. I hope it's fine to state my problem here.

This is the error I get:
F1208 20:49:33.402074       1 deployer.go:65] couldn't get deployment default/docker-registry-1: Get https://master.novalocal:8443/api/v1/namespaces/default/replicationcontrollers/docker-registry-1: **dial tcp: lookup master.novalocal: no such host**

my inventory file has

[2015-12-09 14:45] dgoodwin commented on #984
Looks like it was caused by earlier errors due to repos not being available. Likely system didn't have the correct pkgs installed to trigger collection of master facts.

[2015-12-09 14:45] #984 closed

[2015-12-09 16:31] timothysc opened #1041 "ntp"
I saw no references in the manual on setting up clock synchronization.

Does the installer setup and configure some sane defaults?  If not, it really should.

e.g. chrony on atomic ntpclient on EL7

/cc @scollier

[2015-12-09 16:37] sdodson opened #1042 "Error in session secret generation"
@spinolacastro ran into this when they had set `openshift_master_session_auth_secrets` and `openshift_master_session_encryption_secrets` in their hosts file. It skips the generation but then for some reason it's falling into the default() where we expect the output from the openssl commands.

[code]

https://github.com/openshift/openshift-ansible/blob/master/playbooks/common/openshift-master/confi

[2015-12-09 16:56] sdodson commented on #1042
@spinolacastro what version of ansible is this?

[2015-12-09 17:06] spinolacastro commented on #1042
Hi, i'ts ansible 1.9.4

2015-12-09 13:56 GMT-03:00 Scott Dodson <notifications@github.com>:

[2015-12-09 17:14] abutcher commented on #1042
@spinolacastro Can you try the attached PR out?

[2015-12-09 18:43] detiber commented on #1027
@abutcher we should create a bug/issue to track detecting common DNS and IP issues.

[2015-12-09 18:50] spinolacastro commented on #1042
@abutcher Working as expected with this patch. Thank you!

[2015-12-09 18:53] detiber commented on #1041
Can we rely on the default config for both?

At a minimum, we'll want to provide a flag to disable ntp config.

[2015-12-09 19:04] detiber commented on #1034
You should be able to use the official Fedora 23, CentOS 7, and RHEL 7 AMIs for each region.

[2015-12-09 19:20] abutcher commented on #1042
Cool

[2015-12-09 21:31] timothysc commented on #1041
I believe there are sane defaults, but we'll likely need to document.

[2015-12-09 21:38] abutcher commented on #1042
@brenton This one can be closed.

[2015-12-09 21:40] #1042 closed

[2015-12-09 21:53] sdodson commented on #1041
In addition to enabling ntp should we add a task early on that ensures
they're no more than $x seconds off of each other? What's the maximum diff
we can handle?

On Wed, Dec 9, 2015 at 4:31 PM, Timothy St. Clair <notifications@github.com>
wrote:

[2015-12-09 22:03] detiber commented on #1041
@sdodson how do we ensure time diff though?

Remember that hosts may not run fully in parallel depending on the configured number of forks. Also, there are any number of SSH related issues that could cause the tasks to run at different times on each host.

The most accurate test I can think of is to ensure they are all using the same time server and use the ntp client to get the skew from the serv

[2015-12-09 22:07] timothysc commented on #1041
I believe the defaults are sane.  +1 for flag.

[2015-12-10 02:10] kastork commented on #1034
Perhaps I'm reading too much into the pre-reqs and so forth.  (I haven't taken the plunge and tried a deployment yet.)

It seems like a stock Centos image has quite a bit that needs to be done to it before it can be used as a master or node.  I figured there might be AMIs in each region that are already configured to be masters or nodes, or else there might be an ansible playbooks to do that work.

[2015-12-10 04:26] suryaveerc commented on #1027
@detiber I thought it may be problem in my setup, so, didn't opened an issue. Anyways, I'll open it as a issue.

Thanks

[2015-12-10 22:00] twiest commented on #1026
@detiber hmm, yeah, this is something we should definitely consider. I always prefer to use the conventions of the community. I'll think about this further.

[2015-12-10 22:01] twiest commented on #1024
In Ansible 2.0, variables can be scoped using blocks. We might want to use that instead of prefixes for these temporary variables. It's much more intuitive IMO. I'll think about this further.

[2015-12-10 22:49] eformat commented on #842
@detiber - tested your branch #gceFixes OK (sorry for delay !) sdn is properly configured now. thanks

[2015-12-10 23:28] eformat commented on #842
@lypht - i just got PD working in GCE .. there are a few things you need to ensure

- in gce, when creating vm instances - set the checkbox - project access: "Allow API access to all Google Cloud services in the same project". this cannot be set after creation !

- don't leave the separate disk mounted on any host after formatting it. OSE will format it as well (although i didn't try this) if unfo

[2015-12-11 03:17] automatikdonn commented on #386
Issue was resolved some time ago. Please mark as closed

[2015-12-11 03:17] #386 closed

[2015-12-11 07:13] detiber commented on #1034
@kastork I'm not sure which pre-reqs you are referring to. We test against the stock images for Origin, if using the bin/cluster script it will even pre-configure the Docker storage on a separate EBS volume.

[2015-12-11 07:14] detiber commented on #1034
There are times we've used custom AMIs, but that is generally to pre-install packages in order to shorten provisioning time.

[2015-12-11 07:42] kastork commented on #1034
Ok got it.  Thanks.  I'll give it a go with Centos AMIs.

I think the confusion for me came from thus early paragraph in the "advanced installation" area of the docs.
(https://docs.openshift.org/latest/install_config/install/advanced_install.html)

"Prerequisites
Before installing OpenShift, you must first see the general Prerequisites topic to prepare your hosts, which includes verifying system a

[2015-12-11 07:45] #1034 closed

[2015-12-11 15:03] lypht commented on #842
Thanks @eformat.  I have been working from an ansible playbook that builds the prereqs for the advanced installation, which includes a stanza that adds /mnt/foo to /etc/fstab to ensure the mount point exists at reboot.  From your instruction, however, I gather that you ran *umount* after *safe_format_and_mount* to unattach the PD from the host instance?

Unfortunately in my use of ansible, libclou

[2015-12-11 19:26] ryanj opened #1053 "README_AWS needs more details re ec2_vpc_subnet config setting"
I'm not sure how to configure this setting, and leaving it unconfigured returns the following error:

[code]

[2015-12-12 19:51] eformat commented on #842
yes, manually formatted the disk for starters.

the gce API is accessible from the vm by default (if you give it access *before* creating the vm)

i too went hunting for auth access args, but they are not required, or there :)

Cheers
Mike

[2015-12-13 17:48] smarterclayton opened #1056 "In non SDN setups, ensure NodePort iptables rules are open on all nodes"
The SDN bug needs to be fixed first for SDN - I don't think the rules will be identical.  But if SDN isn't in play it needs to be open by default for non-SDN setups for the port range

http://stackoverflow.com/questions/34125954/openshift-external-access-using-nodeport/34254192#34254192

[2015-12-14 22:42] ryanj commented on #1053
oops, accidentally posted to the wrong repo. This issue was for [2015-Middleware-Keynote/demo-ansible](https://github.com/2015-Middleware-Keynote/demo-ansible)

[2015-12-15 13:53] dgoodwin opened #1066 "Transient Installer Error: the provided resource version does not match"
Hit while installing from released OSE 3.1 repos:

-- Logs begin at Tue 2015-12-15 06:22:19 EST, end at Tue 2015-12-15 07:18:39 EST. --
Dec 15 06:47:07 ip-172-18-7-81.ec2.internal systemd[1]: Starting Atomic OpenShift Master API...
Dec 15 06:47:07 ip-172-18-7-81.ec2.internal atomic-openshift-master-api[15596]: I1215 06:47:07.665675   15596 start_api.go:96] Using a masterIP override "172.18.7.81"
D

[2015-12-15 20:28] abutcher commented on #1002
@brenton This one can be closed. ( Or @jtslear can close it if he gets here first :smiley_cat: )

[2015-12-15 20:32] #1002 closed

[2015-12-16 15:53] sdodson opened #1071 "Containerization Followup: htpasswd on atomic host when using htpasswd auth provider"
Followup for #808
In RHEL installs we install http-utils for users so that when they're using htpasswd auth it's easy to generate password files. It'd be cool if we were able to do this on atomic host as well perhaps using rhscl/httpd-24-rhel7

[2015-12-16 18:10] sdodson opened #1072 "Registry and router image version mangled during upgrade"
Seems like two different folks have run into this.

First case
Error: image openshift3/ose-docker-registry:vmanager 3.1.0.4 not found
Error: image openshift3/ose-haproxy-router:vmanager 3.1.0.4 not found

Second case from @cooktheryan yielded
Error: image openshift3/ose-docker-registry:vsystem 3.1.0.4 not found

[2015-12-16 18:11] sdodson commented on #1072
@cooktheryan The upgrade scripts do some version checking of packages that are currently installed and those that are available. `grep openshift /var/log/yum.log` would be helpful in debugging what those values were at the time of upgrade. Also can you confirm which playbook you ran?

[2015-12-16 18:28] cooktheryan commented on #1072
The update was ran on the system pre-openshift-ansible

Jun 29 19:09:27 Installed: openshift-3.0.0.0-0.git.25.235b0e7.el7ose.x86_64
Jun 29 19:09:27 Installed: openshift-master-3.0.0.0-0.git.25.235b0e7.el7ose.x86_64
Jun 29 19:12:54 Installed: tuned-profiles-openshift-node-3.0.0.0-0.git.25.235b0e7.el7ose.x86_64
Jun 29 19:12:54 Installed: openshift-node-3.0.0.0-0.git.25.235b0e7.el7ose.x86_64
Jun 29 1

[2015-12-16 18:38] cooktheryan commented on #1072
Registry started correctly this time. Registry version openshift3/ose-docker-registry:v3.0.2.0

yum output
Sep 07 16:31:03 Installed: openshift-3.0.1.0-1.git.529.dcab62c.el7ose.x86_64
Sep 07 17:03:04 Installed: openshift-master-3.0.1.0-1.git.529.dcab62c.el7ose.x86_64
Sep 07 18:31:56 Installed: tuned-profiles-openshift-node-3.0.1.0-1.git.529.dcab62c.el7ose.x86_64
Sep 07 18:31:58 Installed: openshif

[2015-12-16 19:08] lypht commented on #842
Success story: Openshift is working in GCE using BYO, and our developers are autonomously publishing in multiple projects with working github hooks.  Thanks to everyone for their help.

[2015-12-16 19:36] abutcher commented on #1072
[code]

[code]

@sdodson @cooktheryan

[2015-12-16 19:55] abutcher commented on #1072
Simplest fix might be to just add a `| grep -v 'RHN Classic' | grep -v 'manager' |` to the versions script or we can rework the logic.

[2015-12-16 20:27] detiber commented on #1072
@abutcher agreed, we should probably use the yum/dnf api for gathering the info rather than attempting to parse the output of yum list.

That said, a quick workaround for `| grep -v 'system' | grep -v 'manager' |` is probably a good idea.

[2015-12-16 20:34] sdodson commented on #1072
`-e 0` seems to clean things up quite a bit PR incoming

[2015-12-16 20:36] abutcher commented on #1072
@sdodson I'll close #1075 in favor of yours if you have some extra sauce.

[2015-12-16 21:04] detiber commented on #1053
@ryanj The ec2_vpc_subnet needs to be a pre-existing subnet id (subnet-xxxxxxxx). It should not be needed if using ec2 classic or if your account is configured with a default vpc though.

I'm not sure where the value `example` is coming from on your invocation though.

[2015-12-16 21:40] detiber opened #1080 "update README_OSE.md and README_origin.md"
Both of these READMEs have become stale, I'm thinking we should have some basic notes and link to the docs for each instead of trying to duplicate the content in the readme.

[2015-12-16 23:26] #780 closed

[2015-12-16 23:46] sureddy opened #1082 "Issue with named certificates"
we are trying to install third party signed certificates into OpenShift installation. used openshift_master_named_certificate variable to include the certfile and keyfile. Installation is failing with unknown certificate authority and bad certificate errors. Here are the some relevant sections of the ansible host file:

<pre>
[OSEv3:children]
masters
nodes

openshift_pkg_version=-1.1.0.1

openshif

[2015-12-17 00:10] abutcher commented on #1082
Hey @sureddy, it looks like the custom certificate is being provided for the internal master hostname.

Have you set `openshift_master_cluster_hostname` and `openshift_master_cluster_public_hostname` in the ansible inventory? The named certificate should only be used for the `openshift_master_cluster_public_hostname`.

[2015-12-17 00:48] sureddy commented on #1082
yes. here is the relevant parts of the hosts:
<pre>
openshift_master_cluster_hostname=master-host.com
openshift_master_cluster_public_hostname=master-host.com
</pre>

I uninstalled and reinstalled again. same problem.
<pre>
Dec 17 00:38:17 master journal: http: TLS handshake error from *.*.*.* :35920: remote error: bad certificate

Dec 17 00:38:17 master journal: http: TLS handshake error from *.*

[2015-12-17 01:14] abutcher commented on #1082
Changing `openshift_master_cluster_hostname` to a different name will solve the problem. OpenShift is expecting installer generated certificates for inter-cluster requests and since the public name is the same as the internal name, the API is serving the custom certificate for both.

I think we could do more validation here and provide an error during install when named certificates are supplied a

[2015-12-17 05:11] sureddy commented on #1082
@abutcher thank you so much. it did the magic. it worked now.

[2015-12-17 05:12] abutcher commented on #1082
Great!

On Thursday, December 17, 2015, Surendra Reddy <notifications@github.com>
wrote:

[2015-12-17 07:50] #1082 closed

[2015-12-17 12:25] zroubalik opened #1083 "Add XPaaS v1.2 templates and image streams"
Templates and image streams for XPaaS v1.2 release should be added.
https://github.com/openshift/openshift-ansible/tree/master/roles/openshift_examples/files/examples

[2015-12-17 16:14] sdodson commented on #1083
@zroubalik can you please review #1086

[2015-12-17 18:28] smunilla commented on #784
Idea based off our meeting:

[code]

[2015-12-17 18:45] detiber commented on #784
@smunilla only critique I have with your suggestion is that I would like to see roles be under deployment instead of at the same level.

Also, I think we'll need to make sure that the roles entries aren't necessarily required (that way if a role is mentioned for a host, and doesn't have an entry under roles we don't error out).

[2015-12-17 19:01] smunilla commented on #784
@detiber I definitely meant to put roles under deployment. Copy-paste fail on my part.

And I agree. We should have sensible defaults for all the roles and the user can overwrite or add additional stuff only if they want to.

[2015-12-18 02:57] nak3 commented on #846
Please close this issue after https://bugzilla.redhat.com/show_bug.cgi?id=1292621 was closed

[2015-12-18 17:33] ezlee opened #1093 "Docker-storage-setup issue on GCE"
I built a cluster on GCE successfully, but the problem is that the nodes created are not configured with LVM, so when a new disk is attached and docker daemon is restarted, don't know why docker-storage-setup service will by default look for /dev/sda instaed of /dev/sdb which I designated for the docker storage.

  Volume group "sda1" not found
  Cannot process volume group sda1

my /etc/sysconfig

[2015-12-18 18:02] lypht commented on #1093
GCE will always throw the "sda1" error for the boot disk, but should configure your persistent disk regardless if attached and unformatted.  The disk should not be mounted.  However, if you do not see output similar to

**Checking that no-one is using this disk right now ...
OK
...
/dev/sdb...
...
Converted docker-vg/docker-pool to thin pool.
  Logical volume "docker-pool" changed.**

after runnin

[2015-12-18 20:24] detiber commented on #1093
It should be noted that the docker-storage-setup service "fails" for subsequent runs after the initial run as well.

More importantly, how did you stand up the GCE cluster and then add the additional volume? If you are adding the volume after the initial install and if the original docker install used a driver other than the lvm-direct driver, then you will most likely also need to delete the cont

[2015-12-21 03:02] ezlee commented on #1093
I think by default, gce cluster will use root disk (the boot one) as the docker storage. If the docker-storage-setup service is no longer a dependency for docker service, docker service can start without any issue. It seems that it can never use a new block device and create any vg and use as new docker storage with this gce ansible build. Byo on gce, maybe, or create customize boot image with roo

[2015-12-23 13:36] ibotty commented on #1071
Isn't that image a little heavy?

[2015-12-23 14:14] sdodson commented on #1071
It was the only httpd image on registry.access.redhat.com when I looked. Did you have another image in mind?

I guess as an alternative to pulling an apache httpd image we could find a python implementation of htpasswd and copy that to /usr/local/bin/.

[2015-12-23 14:48] ibotty commented on #1071
I did not have one in mind. I would have rolled a minimal one or
let users use rhel-tools (or fedora-tools) and install it there.

Most seem to use passlib, which is not installed on atomic hosts afaict.

[2015-12-23 14:58] ibotty opened #1102 "setting version on containerized installs"
Right now, all docker-using units use `:latest` images.

A short-term fix is to use e.g. `{{ openshift.node.node_image }}{{ openshift_version | replace('-',':v', 1) }}` as image to run. That will work when setting, e.g. `openshift_pkg_version=-1.1`.

That leaves two problems I am aware of.

First, afaict, these are not always the images one wants. Atm the latest released openshift/node image is v1

[2015-12-25 14:27] PiotrKlimczak opened #1104 "Internal DNS does not start thinking port is in use"
1st of all really great work with openshift project.
I just started to learn it and I definitely love it.

Now, I think I am facing some kind of DNS issue.
My env: latest openshift-ansible master, origin deployment on CentOS 7.1 hosts.
My ansible hosts/inventory configuration: [hosts.txt](https://github.com/openshift/openshift-ansible/files/72191/hosts.txt)

Tried on my pods:
root@03e20b3e6518:/#

[2015-12-25 15:50] PiotrKlimczak commented on #1104
Ok, was testing whether has local DNS server with telnet anything 127.0.0.1.
But found there was some dnsmasq running on one of virtual interfaces.
As origin-master was configured to bind DNS port on 0.0.0.0, it was failing.

My bad.
Hope it will help someone if there will be anybody with same problem :)

[2015-12-25 15:50] #1104 closed

[2015-12-30 16:04] jkroepke opened #1106 "Added option for resource-quota-sync-period"
Hi,

if you want to use quotas, you have to set resource-quota-sync-period on kubernetesMasterConfig/controllerArguments (Documentation: https://docs.openshift.com/enterprise/3.1/dev_guide/quota.html#configuring_quota_sync_period).

It should be configurable via ansible.

[2016-01-04 20:38] abutcher commented on #1106
Hey @jkroepke this will be configurable via `osm_controller_args` once #1110 merges. I added some examples to the byo inventory files in the PR as well.

[2016-01-04 21:05] #1106 closed

[2016-01-04 21:19] cooktheryan opened #1111 "I believe AMI ID needs changed"
< TASK: fail msg="Could not find requested ami" >
 -----------------------------------------------
        \   ^__^
         \  (oo)\_______
            (__)\       )\/\
                ||----w |
                ||     ||

failed: [localhost] => {"failed": true}
msg: Could not find requested ami

FATAL: all hosts have already failed -- aborting

***** I believe it should be
     # centos-7, requir

[2016-01-04 22:31] cooktheryan commented on #1111
Created PR  Incorrect AMI id #1112

[2016-01-05 14:32] snafuprinzip commented on #705
Hi, I have encountered the same or similar problem with a single master on a kvm virtual machine and two hardware nodes as well (all three running RHEL 7.2, but to be honest I am not sure if this a bug or just something I forgot to configure correctly before installing from the master node.

Anyway, any help is greatly appreciated!  (-:

I should mention that I had aborted the installation the fir

[2016-01-06 16:44] detiber commented on #1111
@twiest @brenton this can be closed now that https://github.com/openshift/openshift-ansible/issues/1112

[2016-01-06 16:46] #1111 closed

[2016-01-06 17:02] detiber commented on #1093
@ezlee ah, I think I'm following a bit more now. The block device being attached should be unpartitioned, if the disk that GCE is presenting is pre-partitioned the docker-storage-setup script will fail to create the docker volume.

That said, the gce playbooks would need to be updated for the proper volume config (adding the additional volume) and any bootstrapping that would be needed for ensurin

[2016-01-06 17:16] detiber opened #1125 "Remove hostname detection for OpenStack hosts"
Currently we query hostnames from the OpenStack metadata (in openshift_facts), however the values returned from the metadata are unreliable and have to be overridden by users.

Until we can figure out a reliable way to query this information from the OpenStack metadata (if it is even possible), we should just use the normal non-cloud defaults for hostnames.

[2016-01-06 19:30] #953 closed

[2016-01-08 03:59] sdodson commented on #896
I think this was fixed via #959

[2016-01-08 04:19] sdodson opened #1138 "ansible-1.9.4 and yum-3.4.3-125 and yum-utils-1.1.31-29 may skip installing packages"
@wshearn and I were looking into an issue where the installer was silently failing to install packages. This problem will manifest itself as an access denied error when ansible attempts to start a service that's provided by an RPM that was being silently skipped. The verbose (-vvv) output will show something similar to this

[code]

This seems to be https://github.com/ansible/ansible-modules-core/

[2016-01-08 04:30] detiber commented on #1138
@sdodson, I don't think that we can enforce a minimum version of yum and/or subscription-manager, since we are supporting RHEL 7.1 for deployments/upgrades still.

That said, I suspect that if we can track down a way to identify when we have a bad combination of packages that exhibit the issue, then we can fail only when that condition is met.

[2016-01-08 14:09] #896 closed

[2016-01-11 19:39] timothysc opened #1161 "Generated cert invalid when changing 'openshift_master_portal_net'"
We had run into an issue where the certificate that was generated did not allow pods to connect back to the internal kubernetes service endpoint.

[code]

when running e2e-networking tests (https://github.com/openshift/origin/issues/6577#issuecomment-170023459) we uncovered:

``` 2016/01/08 14:34:25 Unable to get server version: Get https://172.24.0.1:443/version: x509: certificate is valid for 10

[2016-01-11 20:34] cooktheryan opened #1164 "When deploying Atomic Enterprise the atomic-openshift-master.service won't start correctly"
Jan 11 15:17:48 ae-e364319a-9037-4ae6-8a3a-158593e1cc0d.os1.phx2.redhat.com systemd[1]: Starting Atomic OpenShift Master...
Jan 11 15:17:49 ae-e364319a-9037-4ae6-8a3a-158593e1cc0d.os1.phx2.redhat.com atomic-openshift-master[1336]: Invalid MasterConfig /etc/origin/master/master-config.yaml
Jan 11 15:17:49 ae-e364319a-9037-4ae6-8a3a-158593e1cc0d.os1.phx2.redhat.com atomic-openshift-master[1336]: dis

[2016-01-11 20:39] detiber commented on #1164
@cooktheryan What build version?

@liggitt Was there a change upstream that changed behavior for the strings accepted for disabledFeatures?

[2016-01-11 20:43] cooktheryan commented on #1164
@detiber
atomic-openshift-3.0.1.100-0.git.105.6fa8487.el7aos.x86_64
atomic-openshift-master-3.0.1.100-0.git.105.6fa8487.el7aos.x86_64
atomic-openshift-clients-3.0.1.100-0.git.105.6fa8487.el7aos.x86_64

[2016-01-11 20:45] detiber commented on #1164
@cooktheryan oh, that is quite an old buiild...  The public preview bits should have been 3.1

[2016-01-11 20:54] detiber commented on #1164
@brenton please close. We never tested against the 3.0.1 builds of AEP.

[2016-01-11 20:59] #1164 closed

[2016-01-11 21:27] detiber commented on #1161
@brenton ready to close now that #1162 merged

[2016-01-11 21:40] timothysc commented on #1161
closing, thx for the quick fix!

[2016-01-11 21:40] #1161 closed

[2016-01-11 22:42] detiber opened #1167 "Use delegate_to in roles instead of the playbook orchestration tasks"
I've just tested with all of the rhel7 openssh client versions and the current version on my f22 box (openssh-6.9) and cannot replicate the previous issues with delegate_to that appeared to be a race condition on accessing the control persist socket.

Since we technically only support RHEL-7.1+ as the installer platform, I think we should go ahead and update the areas we worked around the issue, a

[2016-01-12 18:07] dak1n1 opened #1170 "Set nodeName to internal DNS by default for ec2"
The openshift-ansible installer currently creates node-config.yaml using the internal IP as the nodeName. This causes the following error when a node is [configured for AWS.](https://docs.openshift.com/enterprise/3.1/install_config/configuring_aws.html)

Jan 12 12:39:18 ip-172-20-1-226.ec2.internal atomic-openshift-node[32871]: E0112 12:39:18.979571   32871 kubelet.go:925] Unable to construct api.

[2016-01-12 18:48] Tebro opened #1171 "No APIServer or Controller arguments lead to invalid YAML"
So I am using the byo/config.yaml playbook to install a Openshift cluster and it failed when starting the Openshift Master.

Turns out, after some time reading various source files, that the settings for apiServerArguments and controllerArguments got extra line with "...". This cause it all to fail, I fixed it by modifying the templates (removed the whole variable insertion and just used "null" as

[2016-01-12 18:53] Tebro commented on #1171
Same goes for kubeletArguments in the node's configuration.

[2016-01-12 18:54] abutcher commented on #1171
This should be fixed by #1168

[2016-01-12 18:55] Tebro commented on #1171
Oh wow, my clone is older. Well setting the values to null worked for me.

[2016-01-12 19:08] #1171 closed

[2016-01-13 18:40] jwforres opened #1180 "New master config options for identity provider selection page"
See docs changes here https://github.com/openshift/openshift-docs/issues/1422  and code changes here https://github.com/openshift/origin/pull/6596

The page isn't super useful yet unless you want to make sure you have a branded page the user sees before being redirected off to some login flow, e.g. if you want to see an "OpenShift" branded page before the user gets taken to GitHub's login page.  E

[2016-01-13 22:09] detiber opened #1181 "Fix non-idempotent tasks"
[code]

[code]

[code]

[code]

[code]

[2016-01-14 17:41] twiest commented on #1167
I totally agree, thanks!

:+1:

[2016-01-14 17:42] jayunit100 opened #1184 "Two bin/cluster failures on os x ."
Error 1: This is easy to fix.  Ive put the hack below:

I `bin/cluster` script seems to blow up for me on osx

The first two errors were related to `Forbidden` errors, which make sense, since some folks running EC2 instances may not be allowed to use some services (like elasticache).  This can be easily fixed like so.
[code]

Error 2: Not sure how to fix this.

But the next issue seemed a little t

[2016-01-14 17:48] ncdc commented on #1184
@jayunit100 what version of ansible do you have? How did you install it?

[2016-01-14 17:50] jayunit100 commented on #1184
ansible 1.9.4   ; i used brew  .  i ll see if i can get a newer one ?

[2016-01-14 17:50] ncdc commented on #1184
I filed the bug to get it fixed, and it should be in a newer 1.9.4 release in brew

[2016-01-14 18:01] jayunit100 commented on #1184
let me reinstall w/ homebrew, ill see if that fixes.  thanks!

[2016-01-14 18:06] jayunit100 commented on #1184
ah ok.  I had to `brew update` and then `brew upgrade ansible` seemed to fix it

[2016-01-14 18:13] jayunit100 commented on #1184
[code]

Now gives the following error.

[code]

[2016-01-14 18:14] ncdc commented on #1184
Did homebrew upgrade you to ansible 2?

[2016-01-14 18:15] jayunit100 commented on #1184
yes.  its 2x .  So, progress, the new error is around the `cluster_id` stuff check i guess.

[2016-01-14 18:33] abutcher commented on #1184
The playbooks don't work with ansible 2x yet, we're tracking that (slowly) here https://github.com/openshift/openshift-ansible/pull/991

[2016-01-14 19:44] detiber commented on #1184
@jayunit100 you'll want to run with ansible 1.9.4

If you see that cryptography error again, it is probably just that you are missing pyOpenSSL.

[2016-01-14 19:51] detiber commented on #1184
https://github.com/openshift/openshift-ansible/pull/1187 Updates the ec2.ini file we ship to disable rds and elasticache.

[2016-01-14 21:29] timothysc opened #1188 "Enabling multiple etcds for sharding different resource objects."
https://trello.com/c/CM3C5Wak/8-sharding-to-an-auxillary-etcd-users-projects-events

The upstream enablement already exists for events, but it will require the following several changes:
- creation of potentially multiple etcds for different resource objects
- add the configuration to the api-server options
- ensure proper shared keys are populated
  ...? @rrati

/cc @abhgupta

[2016-01-14 22:23] detiber opened #1189 "Improve error checking of openshift_pkg_version"
openshift_pkg_version should provide better error checking, instead of just faililng at the yum install tasks...

For example, specifying '-3.0' results in:
[0;31mfailed: [ose30-node02.ose.local] => {"changed": false, "failed": true, "rc": 0, "results": []}[0m
[0;31mmsg: No Package matching 'openshift-3.0' found available, installed or updated[0m

[2016-01-17 16:36] donovanmuller commented on #1184
@jayunit100 I had issues with the brew installed Ansible (1.9.4) and ended up using the `pip` installed version, which worked without issue. Wrote about it [here](http://blog.switchbit.io/osx-el-capitan-and-ansible-opensslerror). If you're still stuck...

[2016-01-18 08:46] akram opened #1195 "Cannot use image_name with space character in name on OpenStack"
Hi,

I am trying the a cluster on OpenStack with an image which contains space ' ' caracter in image name name:

[code]

The creation fails with the OpenStack heat message:

[code]

The image_name and probably other options needs to be escaped. moreover the .split function used in bin/cluster python script is called with a second parameter split("=", 1) , which should cut the number of parameters

[2016-01-18 10:53] donovanmuller opened #1196 "README_AWS refers to PrivateKey, which seems to not exist"
The paragraph on "[(Optional) Setup your $HOME/.ssh/config file](https://github.com/openshift/openshift-ansible/blob/master/README_AWS.md#optional-setup-your-homesshconfig-file)" refers to adding the `PrivateKey` entry in your `.ssh/config`.

However, the `PrivateKey` option does not seem to [exist](http://linux.die.net/man/5/ssh_config) and fails with the following error when running the "Wait fo

[2016-01-18 11:46] donovanmuller opened #1198 "AWS bin/cluster created cluster does not deploy router, no matching node label"
If you create an AWS cluster with `bin/cluster create aws <cluster_id>`, the region label is set to `region=us-east-1`, if using the default value.

However, the default `nodeSelector` for the router deployment is [`region=infra`](https://github.com/openshift/openshift-ansible/blob/master/inventory/byo/hosts.origin.example#L130).
This means that the router does not get deployed:

[code]

because t

[2016-01-18 13:57] donovanmuller opened #1200 "ImportError: No module named yum"
This seems to be the same error as #855.

Using the [Fedora 23 GP2 HVM AMI](https://getfedora.org/cloud/download/) (ami-518bfb3b) on AWS I'm getting the following *after* successfully running `playbooks/adhoc/bootstrap-fedora.yml`:

[code]

Seems `ansible_pkg_mgr` is picking up as `yum` and not `dnf`:

[code]

This looks related to https://github.com/ansible/ansible-modules-core/issues/1797 but [t

[2016-01-18 14:33] jayunit100 commented on #1184
Thanks donovan, likewise ; Looks like this works, after doing the following threww things.

- update ansible version to 1.9.4, running from source (its really easy , just clone ansible, checkout the 1.9.4 tag, run `source  source ./hacking/env-setup` and then `bin/ansible` just works.
- update to latest head of openshift-ansible
- `pip install pyOpenSSL`

Will close this issue, will create a new i

[2016-01-18 14:33] #1184 closed

[2016-01-18 14:38] abutcher commented on #1196
@donovanmuller Yes, that should definitely be `IdentityFile` :+1:

[2016-01-18 15:12] donovanmuller opened #1202 "Docker volume provisioning on AWS as BYO install causes Docker start failure first time"
This is the same issue as #916 and friends.

The fix (#933) seems to have been made for users creating a cluster via `bin/cluster`, however I am facing the same issue using the BYO playbook (`playbooks/byo/config.yml`).

I'm using Terraform to stand up my infrastructure and then running the BYO playbook to install.
Basically provisioning the volumes takes too long:

[code]

 because of formatting

[2016-01-18 15:15] #1196 closed

[2016-01-18 15:41] barkerd427 opened #1203 "Trouble creating cluster in us-west-2"
Hi all,

I'm having trouble creating a cluster in us-west-2. It seems the AMI doesn't exist there, and the others I've tried haven't worked. One didn't have python installed and the other didn't have yum. Is there a preferred AMI for that region? Thanks.

[2016-01-18 16:51] jayunit100 opened #1208 "[EC2] subnet unavailable / Need instructions for specifying Availability Zones"
There might be a few mandatory directives that aren't shown in the README AWS doc.  In particular: Around making sure that you launch your cluster in a place where it can see the VPC.

For example,  `export ec2_region=us-east-1` followed by `bin/cluster create aws jay-1-cluster-test-1` leads to the error: `The subnet ID 'vpc-69705d0c' does not exist`.  The VPC, by definition, is in an availability

[2016-01-18 17:42] jayunit100 commented on #1208
FYI I created a related issue to prevent myself from making the mistake of trying to use an AZ as a region : https://github.com/boto/boto/issues/3467.

[2016-01-18 18:00] jayunit100 commented on #1208
Closing. @abutcher has duly noted that , this works as is , and in my case, I was using the vpc id instead of the subnet id ! :) :) :)

[2016-01-18 18:00] #1208 closed

[2016-01-18 20:07] lypht opened #1213 "Should the load balancer be included as a non-schedulable infra node in the node inventory group in byo/config.yml?"
I've noted that [host.origin.example ](https://github.com/openshift/openshift-ansible/blob/master/inventory/byo/hosts.origin.example) does not include the load balancer `[lb]` in the list of `[nodes]` with masters and nodes.  Once byo/config runs successfully, haproxy is running (and can be tested at *lb.foo.com:9000*) yet origin is not installed on this VM.  Should the load balancer be included a

[2016-01-18 20:34] abutcher commented on #1213
Hey @lypht, the `[lb]` host group represents a separate infrastructure component just for balancing the master API when using [multiple masters](https://docs.openshift.org/latest/install_config/install/advanced_install.html#multiple-masters). The router isn't meant to live on the load balancer by design. That being said, I don't think you would have any problems configuring the load balancer insta

[2016-01-18 21:08] lypht commented on #1213
Thanks for the quick reply.  Perhaps I'm taking [this instruction](https://docs.openshift.org/latest/install_config/routing_from_edge_lb.html#including-lb-in-sdn) out of context, where it's indicating, when possible, to run a node on the load balancer itself.  I'll continue with routers assigned on the nodes.

[2016-01-18 21:17] abutcher commented on #1213
@lypht Ahhh, thanks for pointing that out. We have two different "load balancer" concepts it seems.

[2016-01-18 21:24] lypht commented on #1213
No worries.  The documentation on this project is superlative; and yet there are a ton of moving parts.  Thanks again.

[2016-01-18 21:24] #1213 closed

[2016-01-18 21:59] abutcher commented on #1203
Assuming centos, this image looks like the right one for us-west-2: `ami-d440a6e7`.

[2016-01-19 12:42] jkroepke opened #1224 "As a user, i want to configure kubernetesMasterConfig.podEvictionTimeout"
Hi,

Openshift require 5 minutes to rescheulde a pod, if the node is dead. I want to configure via value via ansible..

https://github.com/openshift/openshift-ansible/blob/ec643bee6b4de6d26f5aea346d73e8158f10939e/roles/openshift_master/templates/master.yaml.v1.j2#L94

[2016-01-19 13:11] barkerd427 commented on #1203
I'm now getting this error during the 'wait for user setup' stage:
[code]

I have mostly been trying fedora images due to errors like this when I initially started trying to use this project.

[2016-01-19 17:24] detiber commented on #1203
@barkerd427 It looks like you are running bin/cluster to provision the hosts?

Do you have the private key associated with your ec2 account loaded in your ssh agent (or configured in ~/.ssh/config)?

[2016-01-19 17:29] detiber commented on #1198
https://github.com/openshift/openshift-ansible/pull/1146 should address your issue. We weren't properly handling bin/cluster created hosts.

[2016-01-19 18:46] barkerd427 commented on #1203
Yes. It all connects normally when I try a fedora image, but I'm unsuccessful at picking the correct fedora image. The scripts seem to use the fedora user, which isn't set up in the centos AMI. Each AMI I pick for fedora seems to lack some part that ansible eventually needs. I was hoping for a quick and easy solution to spin up a cluster in AWS for prototyping, but this is turning into a much long

[2016-01-19 18:47] barkerd427 commented on #1203
@detiber Also, the ssh check is successful in the step immediately prior where it connects as the centos user.

[2016-01-19 19:03] detiber commented on #1203
@barkerd427 For CentOS images, we assume the CentOS image from the AWS Marketplace.

That said, the official Fedora AMIs should be fine, but you would need to modify playbooks/aws/openshift-cluster/vars.yml to set deployment_vars.origin.ssh_user to fedora as opposed to centos.

This PR addresses some known issues with the AWS provisioning using bin/cluster as well: https://github.com/openshift/ope

[2016-01-19 20:58] detiber commented on #1202
The options available in bin/cluster are not really available in the byo playbooks (since they do not handle provisioning of the instances).

Instead, you could provision the instance with an additional EBS volume and user data modeled after the one we use in bin/cluster: https://github.com/openshift/openshift-ansible/blob/master/playbooks/aws/openshift-cluster/templates/user_data.j2

The key part

[2016-01-20 05:47] nak3 opened #1241 "Please rename directory v1.1 and v1.0 for OpenShfit Enterprise"
There are `imagestream` and `template` files under `openshift-ansible/roles/openshift_examples/files/examples/v1.{0,1}/`. There are some confusion and issues due to this versioning.

Issue1. The confusion of documentation

ref: https://github.com/openshift/openshift-docs/issues/1454

Issue2. v1.1's quick-start template(cakephp-mysql) doesn't work for OSE v3.1.

ref: http://post-office.corp.redhat.

[2016-01-20 07:42] wenskys opened #1242 "how to change the docker options from openshift-ansible"
Hi，
   when i use openshift-ansible,the docker options is "OPTIONS='--selinux-enabled --insecure-registry 172.30.0.0/16'[1] ". selinux-enabled and storage-driver=overlay conflict when i change this.
    if i want to change the docker device-mapper to overlay such as "storage-driver=overlay",what can i do at "/etc/origin/hosts"?
    thank!
    by the way,what the openshift-orign:v1.1.1 and docker:1

[2016-01-20 14:39] ncdc commented on #1066
Upstream bug: https://github.com/kubernetes/kubernetes/issues/19848. Once https://github.com/kubernetes/kubernetes/pull/16067 is merged upstream, we can apply a proper fix there.

For now, we have an Origin-only fix: https://github.com/openshift/origin/pull/6737.

[2016-01-20 15:54] barkerd427 commented on #1203
I've gotten a lot further. My vars.yml was set to fedora in the current version I'm using, but I've bounced around because some don't recognize my environment variables. It is still failing here:
[code]

I modified the dns entry in the above output. I'm on this commit: cf1fb0b

[2016-01-20 16:00] barkerd427 commented on #1203
`openshift-master` doesn't exist, but `origin-master` does. Not sure if that's an error. I'll try to run this with master soon to see if that will work for me.

[2016-01-20 22:29] donovanmuller commented on #1202
Got it, will add a `user_data` with above options to my Terraform config. Thanks

[2016-01-20 22:30] #1202 closed

[2016-01-21 01:54] barkerd427 commented on #1203
When I checkout master, I get this error, which is why I tried tagged versions instead.
[code]

[2016-01-21 03:16] barkerd427 commented on #1203
Everything appears to work starting at this tag: `openshift-ansible-3.0.20-1`. From that point to master gives me the above error. I didn't understand the changing versioning system. I'll open an issue around that if there isn't one.

[2016-01-21 03:23] barkerd427 opened #1249 "ERROR: become is not a legal parameter at this level in an Ansible Playbook"
Discovered this error during my investigation on #1203. I get this error when I use tags from `openshift-ansible-3.0.21-1` to `openshift-ansible-3.0.35-1` and on master:
[code]

Everything works fine with tag `openshift-ansible-3.0.20-1`. I haven't looked into the issue at all at this point. I will try to if I can get some bandwidth in the next couple weeks.

[2016-01-21 03:24] barkerd427 commented on #1203
Closing and opening #1249.

[2016-01-21 15:40] detiber commented on #1249
@barkerd427 what version of Ansible are you running? We've started testing against 1.9.4 only to start work on Ansible 2.0 compatibility.

It seems I need to update our version check and docs to take that into account though.

[2016-01-21 15:59] detiber commented on #1249
Created https://github.com/openshift/openshift-ansible/pull/1253 to address the requirement for ansible 1.9.4

[2016-01-21 16:10] detiber commented on #1242
Right now, we don't support setting any other options in docker, but it seems like it could be added by adding a new variable and setting it in the 'Secure Registry and Logs Options' task in roles/openshift_docker/tasks/main.yml

I'm not sure I fully understand the second question though:
[code]

[2016-01-21 19:49] anweiss commented on #283
Also seeing this issue. I can resolve this hostname with no issues from all of my nodes/master. Have also tried setting `openshift_ip` in the Ansible config to no avail.

[2016-01-21 22:06] brettneese opened #1260 "Regenerating etcd certificates?"
Our openshift master node crashed, and I'm having problems recovering it. We're running on AWS with elastic IPs, so I figured I could just deploy an image we created onto a new instance, but that didn't work because the internal IP is different.

When trying to reconfigure using the original hosts file, however, I get ```msg: Job for origin-master.service failed. See 'systemctl status origin-maste

[2016-01-21 22:39] abutcher commented on #1260
Hey @brettneese - If the master has a new IP you're going to need new server certificates for the master and etcd.

I think this will do the trick in w/ the least amount of steps:
[code]

Then re-run the ansible playbook and this will re-create the missing certificates without overwriting anything in place.

I'm on freenode irc as abutcher if you have any questions.

[2016-01-21 22:45] abutcher commented on #1260
The manual steps are also covered [here](https://docs.openshift.org/latest/install_config/upgrades.html#updating-master-certificates)

[2016-01-21 23:19] brettneese commented on #1260
That worked, but I'm having other problems. That was very useful information, though! :)

Closing and following up on IRC.

[2016-01-21 23:19] #1260 closed

[2016-01-22 02:30] wenskys commented on #1242
At the releases of openshift-ansible-3.0.35-1,we use openshift-orign-v1.1.0.1 and docker-1.8.2，at openshift-orign-v1.1.1 and docker-1.9.1 that have more Changes,so i want to know something about the new releases for openshift-ansible which use origin-v1.1.1 and docker-1.9.1.
thank!

[2016-01-22 08:35] AlbertoPeon opened #1261 "No hostsubnets created after a successfull Ansible run"
Hi,

We are trying to install OpenShift Origin using the Ansible playbook on a few Openstack VMs. We are following https://docs.openshift.org/latest/install_config/install/advanced_install.html to have an installation with multiple masters and a standalone etcd cluster.

Running the playbook as stated in the docs works and finishes without any error.
The problem is that the hostsubnets are not cre

[2016-01-22 12:59] spinolacastro opened #1262 "Docker is being installed where it shouldn't"
I've discovered that the docker has being installed on etcd even though we run a non-atomic install

<pre>
- name: Configure docker hosts
  hosts: oo_masters_to_config:oo_nodes_to_config:oo_etcd_to_config
</pre>

[2016-01-22 13:07] spinolacastro opened #1263 "Wrong fact when applying playbooks with SUBSET"
As far as i know it only happens with dedicated etcd servers. If i try to apply the playbook as following:

<pre>
ansible-playbook -i hosts -l masters openshfit-ansible/playbooks/byo/config.yml
</pre>

The etcd cluster config is overwritten for the builtin etcd server and the cluster goes down.

[2016-01-22 14:49] detiber commented on #1263
Adding additional context.. The problem comes from the fact that we are dynamically setting the facts in openshift_facts and not persisting them.  The following variables should be set when invoking the openshift_master role:
- `openshift_master_embedded_dns`
- `openshift_master_etcd_urls`

An alternative to setting `openshift_master_etcd_urls` is to set the following variables:
- openshift_master

[2016-01-22 14:53] detiber commented on #1261
@AlbertoPeon are there any errors in the node logs? `journalctl -u origin-node -l`?

[2016-01-22 14:55] detiber commented on #1242
openshift-ansible by default will install the latest version of origin available. You can change the version installed by setting `openshift_pkg_version` in your inventory file.

[2016-01-22 14:57] abutcher commented on #1261
This looks like it may be a problem with the `origin-master-controllers` service (assuming native ha), any logs there? `journalctl -u origin-master-controllers -l`

[2016-01-22 15:09] detiber commented on #283
Are there any IP conflicts between the SDN network, The Service Network and the Host networks?

The default SDN network is 10.1.0.0/16 (can be overridden with `osm_cluster_network_cidr`)
The default Service network is 172.30/0.0/16 (can be overriden with `openshift_master_portal_net`)

[2016-01-22 16:17] anweiss commented on #283
In my case, I allocated the 10.0.0.0/16 address space to my hosts... My master(s) sit in a 10.0.0.0/28 subnet and my node(s) sit in a 10.0.1.0/24 subnet. I left the default SDN and service networks at 10.1.0.0/16 and 172.30.0.0/16 respectively by not overriding them in the Ansible config

[2016-01-22 16:43] shah-zobair commented on #283
What is your environment details (how many masters, infranodes and nodes)
Can you try to check all nodes status from any master by

[code]

And from your default project, can you check the router status

[code]

Thanks.

[2016-01-22 16:52] anweiss commented on #283
1 master. 2 nodes. Status below:

[code]
If I include the `openshift_ip` setting in the Ansible config, the pod still fails to deploy, but with the `no route to host` error instead of `no such host`.

[2016-01-22 18:02] detiber commented on #283
@anweiss ah, okay...  There are two different issues at play here...  for no such host, that means that the pod is not able to resolve dns for the master.

For the no route to host error, that would lead me to believe it would be a routing/connectivity related issue.

Can you provide some more information on the way you are provisioning the hosts, and what type of environment the hosts are in?

Co

[2016-01-22 18:54] anweiss commented on #283
- All hosts running CentOS 7.2.1511
- VMs are all running on Azure
- 1 Master is in 10.0.0.0/28 subnet
- 2 Nodes are in 10.0.1.0/24 subnet
- DNS server configured for `oscluster.local` domain (including a record for `oscluster.local`)
- All hostnames are resolvable
- All hosts can communicate with one another
- No routing issues between the master and node subnets
- I can also resolve and connect

[2016-01-22 19:04] detiber commented on #283
@ncdc any ideas on this one?

[2016-01-22 19:06] ncdc commented on #283
@detiber no time to look at this today, but it sounds like a networking issue?

[2016-01-22 19:08] detiber commented on #283
@ncdc I was thinking possibly network issue, possibly SDN issue, possibly dns injection issue. Is there anyone that you'd recommend to take a look?

[2016-01-22 19:11] ncdc commented on #283
cc @openshift/networking

[2016-01-22 19:15] knobunc commented on #283
Can you please follow the troubleshooting guide to try to isolate it.  https://docs.openshift.com/enterprise/3.1/admin_guide/sdn_troubleshooting.html

There are steps to follow at the end if you can't work out the issue yourself.

[2016-01-22 20:30] barkerd427 commented on #1249
[code]

[2016-01-22 20:34] GrahamDumpleton commented on #1014
If this is going to be optionally enabled, would it likely be enabled for OpenShift Online?

I was trying to use ability to push to Docker Hub as a way of replacing Docker Hub's automated build system and use OpenShift to manage that. It would be nice to be able to do that on OpenShift Online.

[2016-01-22 20:49] bparees commented on #1014
I would assume so, but @abhgupta would be the one to know for sure.

[2016-01-22 23:48] rteabeault commented on #686
I started looking at this. It appears commit
67b3fff8257072095ebdebfdfe5c429efea3a8d8 has added `vars_files` to playbook includes. This does not seem to be supported in ansible 2.0:

`ERROR! 'vars_files' is not a valid attribute for a PlaybookInclude`

[2016-01-23 06:17] detiber commented on #1249
@barkerd427 that would explain it then. Unfortunately, there really isn't a good way to maintain backward compatibility with 1.8 as we are working towards supporting 2.0

[2016-01-23 14:10] goern opened #1267 "etcd certs use first interface's ip by default"
On a host with two network interfaces, https://github.com/openshift/openshift-ansible/blob/master/roles/etcd_certificates/tasks/server.yml#L21 seem to use only the first IP. This may lead to problems if all traffic should go thru the second interface.

[2016-01-23 21:57] goern opened #1268 "openssl not installed on etcd?"
openssl seems not to be installed by default on RHEL71
[code]

[2016-01-24 11:58] goern commented on #1268
here is the https://github.com/goern/openshift-ansible/blob/testing/Vagrantfile and https://github.com/goern/openshift-ansible/blob/testing/inventory/byo/hosts.testing I used

[2016-01-25 04:39] smarterclayton commented on #283
Can you include the generated /etc/resolv.conf from inside one of your containers here?  Most cloud providers inject their own dns resolvers - I haven't seen an Azure one but there may be too many name servers / search paths in the container causing libc to choke.

[2016-01-25 11:04] jae2 commented on #705
I also hit this problem.
If you look on each guest machine you'll notice one of the interfaces is down (eth1):

[code]

To resolve I had to restart my virtual boxes:

``` vagrant halt ```

``` vagrant up ```

Then when you ssh onto the box you'll see that theres a load of new interfaces all of which are up. Not sure, why this.

[2016-01-25 14:46] anweiss commented on #283
Here is `/etc/resolv.conf` from inside one of the containers:

[code]

[2016-01-25 16:38] spinolacastro commented on #283
@anweiss i've seen this for two reasons:

1) DNS, since you are using your own dns server. Are you able to resolve the node names properly?
Run this on osmaster01:
<pre>
ping -c 2 osnode01.oscluster.local
</pre>

And this on osnode01:
<pre>
ping -c 2 osmaster01.oscluster.local
</pre>

2) SDN plugin:
Have you changed the sdn plugin between the playbook execution? If so, you have to redeploy your po

[2016-01-25 18:42] anweiss commented on #283
osmaster01:

[code]

osnode01:

[code]

[2016-01-25 19:02] spinolacastro commented on #283
What about your Security groups and firewall rules? SDN requires port 4789 UDP to be open.

[2016-01-25 19:10] anweiss commented on #283
I let the playbook configure all of the default rules and groups.

osmaster01:

[code]

osnode01:

[code]

osnode02:

[code]

[2016-01-25 19:15] spinolacastro commented on #283
Ok, iptables rules looks fine.
As far as i can tell, Azure default security group only allow SSH connection, can you paste your current rules?

A good place to start is figure out which security group the network interface is attached.

[2016-01-25 19:24] anweiss commented on #283
I do not have any Azure Network Security Groups assigned to my subnets/network interfaces. As such, traffic is allowed for all TCP/UDP ports by default. I have also verified this using netcat between my master and nodes.

[2016-01-25 20:02] detiber commented on #283
@anweiss The iptables output shows that there is no VXlan traffic being seen by the hosts:
[code]

If you are able to create a netcat connection between the nodes using udp/4789, then I would try to do the following to see if it clears up the error:
[code]

[2016-01-25 20:24] anweiss commented on #283
[code]

Is this the right service?

[2016-01-25 20:26] detiber commented on #283
@anweiss I had assumed you were deploying OpenShift Enterprise 3.1...

If you are deploying Origin, then it would be `origin-node` instead of `atomic-openshift-node`

[2016-01-25 20:36] anweiss commented on #283
Thanks @detiber. That seemed to do the trick. Any reason as to why these services aren't started upon execution of the playbook? If I execute the `uninstall.yaml` playbook, and then re-install the cluster to verify this, I get the same error. It isn't until I restart those services after I first deploy the cluster that I have a working environment.

[2016-01-25 21:01] detiber commented on #283
@anweiss that is definitely not expected...  Are you configuring docker-storage-setup prior to running openshift-ansible? If not, then I suspect you are hitting the udev timeout issue when docker first starts and and attempts to create the lvm loop storage backend.

If that is the case, you can set docker_udev_workaround=True in your inventory under [OSEv3:vars] and it will override (and shorten)

[2016-01-25 21:38] anweiss commented on #283
Ah, ok. Yea, I'm simply using the default thin pool on loopback device that Docker sets up by default to start. I have gone ahead and re-installed the cluster with the `docker_udev_workaround` setting and am still seeing the same issue. It's not until I restart the services that it works.

[2016-01-25 21:41] detiber commented on #283
@anweiss can you provide the following:
- ansible inventory file used
- `journalctl -u origin-node --since=<time last install as started in HH:MM:SS> -l`
- `journalctl -u origin-master --since=<time last install as started in HH:MM:SS> -l`

[2016-01-25 21:53] anweiss commented on #283
Sure thing. Gist [here](https://gist.github.com/anweiss/f10f86a75e9b7bc7d93b)

[2016-01-25 22:00] anweiss commented on #283
Just updated the gist with logs showing attempted pod deployment.

[2016-01-25 22:06] detiber commented on #283
@anweiss The hairpin errors in the logs are misleading, but I do see this, which seems odd:
[code]
@knobunc ^

[2016-01-25 22:12] detiber commented on #283
@anweiss actually, what version of origin do you have deployed? If 3.1.1, It could very likely be related to this issue: https://github.com/openshift/origin/pull/6684

[2016-01-25 22:14] anweiss commented on #283
3.1.1... yep

[2016-01-25 22:26] anweiss commented on #283
It also looks like restarting origin-node resolves the issue intermittently

[2016-01-25 22:30] detiber commented on #283
I suspect that there will be a bugfix release after the fix is merged. @smarterclayton can you confirm?

[2016-01-25 22:33] detiber commented on #705
@jae2 I suspect the issue may be related to the way that we attempt to restart the network (which was needed previously to work around a different networking related bug): https://github.com/openshift/openshift-ansible/blob/master/Vagrantfile#L47

Unfortunately, I do not have a VirtualBox host to test against.

[2016-01-25 22:46] detiber commented on #1267
@goern indeed, we also do not make it easy to override the names used for the etcd certs. Ideally, we should be using the same openshift_ip and openshift_hostname variables as the other roles.

I created https://trello.com/c/2tygIgBm/163-fix-etcd-hostname-ip-address-handling to address the issue.

[2016-01-25 23:25] brettneese opened #1271 "Etcd failing to install"
When running the Ansible installer pointing at a master, a node, and a etcd node on AWS, I get:

[code]

Not sure how to debug this more fully; journalctl shows nothing of interest.

[2016-01-26 00:00] abutcher commented on #1271
This error is saying that the ansible version doesn't match what openshift-ansible requires.

We're updating this check to ensure the version is greater than or equal to `1.9.4` and less than `2.0` in https://github.com/openshift/openshift-ansible/pull/1253

[2016-01-26 00:17] brettneese commented on #1271
Hmm. How do I fix it?

On Monday, January 25, 2016, Andrew Butcher <notifications@github.com>
wrote:

--
Brett Neese
563-210-3459

[2016-01-26 00:31] abutcher commented on #1271
What is your ansible version? It should be `1.9.4` to pass the upcoming check.

[code]

[2016-01-26 01:52] brettneese commented on #1271
Yep, it is, and all other tasks work as wll. Do I need to check on the etcd
server as well?
[image: Inline image 1]

Brett Neese
563-210-3459

On Mon, Jan 25, 2016 at 6:31 PM, Andrew Butcher <notifications@github.com>
wrote:

[2016-01-26 01:53] abutcher commented on #1271
Can you post your inventory?

On Monday, January 25, 2016, Brett Neese <notifications@github.com> wrote:

[2016-01-26 02:12] brettneese commented on #1271
Yep, here you go.

[hosts.txt](https://github.com/openshift/openshift-ansible/files/104322/hosts.txt)

[2016-01-26 02:16] detiber commented on #1271
Ansible version would only matter on the host you are running it from.  That said, when reworking the version checking @abutcher did discover that using ansible_version as is being done in the existing master does not work as expected.

@abutcher I wonder if there is a platform related bug in how the test works.

@brettneese What OS and python version are you using?

[2016-01-26 02:18] brettneese commented on #1271
OSX 10.11.2, python 2.7.11.

Everything else works. It's just adding in the etcd server that is causing things to fail. Deploying on https://aws.amazon.com/marketplace/pp/B00O7WM7QW.

[2016-01-26 02:30] abutcher commented on #1271
@detiber Yep, definitely weird.

[code]

[2016-01-26 02:36] brettneese commented on #1271
Is there an easy way to skip the version check? Not totally convinced that's what's causing it, I think it actually has to do with the etcd certs.

[2016-01-26 02:46] abutcher commented on #1271
Yeah, the `FATAL: no hosts matched or all hosts have already failed -- aborting` makes me think there's another issue. Were there any errors prior to what you first posted in the issue? The version check could be commented out but I suspect it will fail on the next task.

[2016-01-26 02:51] detiber commented on #1271
One thing that would definitely bomb out the check is if the fact gathering
failed to run successfully (or gather_facts is set to 'no' like some of our
localhost runs).

On Mon, Jan 25, 2016 at 9:46 PM, Andrew Butcher <notifications@github.com>
wrote:

--
Jason DeTiberus

[2016-01-26 03:15] brettneese commented on #1271
Reconfiguring right now. The only thing I noticed -- and this may actually
be getting somewhere -- is that Docker is taking an absurdly long time to
install.

Brett Neese
563-210-3459

On Mon, Jan 25, 2016 at 8:51 PM, Jason DeTiberus <notifications@github.com>
wrote:

[2016-01-26 03:25] brettneese commented on #1271
Docker install is still hanging. Hmmm....

Brett Neese
563-210-3459

On Mon, Jan 25, 2016 at 9:15 PM, Brett Neese <brneese@brneese.com> wrote:

[2016-01-26 04:06] brettneese opened #1272 "Docker failing to enable itself"
I was having a problem with #1271, but now, on a fresh install, I'm running into

[code]

`systemctl` and `journalctl` don't yield anything interesting.

Host for ansible is OSX 10.11.2, python 2.7, ansible 1.9.4. Servers are https://aws.amazon.com/marketplace/pp/B00O7WM7QW. I've attached my inventory file.
[hosts.txt](https://github.com/openshift/openshift-ansible/files/104428/hosts.txt)

Not sur

[2016-01-26 04:07] brettneese commented on #1271
Hanging tight on this until I can figure out #1272. Not sure what's going up there, but could be related: I was having problems earlier today with that step as well.

[2016-01-26 06:11] detiber commented on #1272
Do you only hit this on the first time through, or does this continue to fail for subsequent runs as well?

[2016-01-26 10:04] AlbertoPeon commented on #1261
Hi @detiber @abutcher,

I think we've understood where the problem comes from. The cause is that the IP addresses of the nodes are empty.
[code]
These values are populated as a result of a query to the Openstack API (using openstack as cloud provider). Apparently, OpenShift is not able to parse them correctly. We've tracked the error upstream and the exact problem seems to be: https://github.com/k

[2016-01-26 10:40] lorenzvth7 commented on #600
I actually want to reopen this issue. This issue was fixed by performing the steps manually but now I'm in an environment with so many nodes that it's not possible to copy-paste them manually.
I just tried it as before and again the permission denied.

[2016-01-26 11:26] jae2 commented on #705
Just tried commenting out this line, the problem unfortunately still persists:

[code]

[2016-01-26 14:32] brettneese commented on #1272
Running a second time causes the etcd node to timeout and become
inaccessible, somehow (can't even get to it via SSH manually). Deleting
just that etcd instance and creating a new instance in its place works, but
I get stuck on #1271.

On Tue, Jan 26, 2016 at 12:11 AM, Jason DeTiberus <notifications@github.com>
wrote:

[2016-01-26 15:01] anweiss commented on #1189
Running in to this as well. What is the correct way to specify a package version? I've tried `openshift_pkg_version=-1.1` with `deployment_type=origin` and am seeing the error.

[2016-01-26 17:00] #1268 closed

[2016-01-26 17:00] brettneese commented on #1272
Commenting out the etcd server, configuring, and reconfiguring I get stuck on:

[code]

There's specifically something funky going on with etcd.

[2016-01-26 20:05] timothysc commented on #1188
xref: https://github.com/openshift/origin/pull/6838

[2016-01-26 20:20] detiber commented on #1188
I've created the following trello card for this: https://trello.com/c/oHzBQDjU

[2016-01-26 21:37] detiber commented on #1189
@anweiss This PR should have addressed the issue you were seeing with openshift_pkg_version: https://github.com/openshift/openshift-ansible/pull/1276

[2016-01-27 03:32] smarterclayton commented on #283
Hot fixed in https://github.com/openshift/origin/releases/tag/v1.1.1.1

[2016-01-27 14:54] sdodson commented on #283
RPMs for v1.1.1.1 are now available. You can run
playbooks/byo/openshift-cluster/upgrades/v3_1_minor/upgrade.yml to update
your environment

On Tue, Jan 26, 2016 at 10:32 PM, Clayton Coleman <notifications@github.com>
wrote:

[2016-01-27 17:25] anweiss commented on #283
Just tried re-installing with v1.1.1.1 and still seeing this issue. Should I still be using the `docker_udev_workaround` variable in my Ansible config?

[2016-01-27 17:29] spinolacastro commented on #283
Confirming the issue is gone with v1.1.1.1.

[2016-01-27 17:42] detiber commented on #283
@anweiss docker_udev_workaround can be used whenever separate docker storage is not provided.

Can you provide updated master/node logs for the v1.1.1.1 deployment?

[2016-01-27 17:53] anweiss commented on #283
@detiber just created a new Gist with the logs for v1.1.1.1 [here](https://gist.github.com/anweiss/5a45330dd1a81b1fe393)

[2016-01-27 18:03] detiber commented on #283
@anweiss and the error is still 'no route to host' for the output of `oc logs docker-registry-1-deploy`

[2016-01-27 18:06] anweiss commented on #283
It's a `no such host` error

[code]

[2016-01-27 18:12] detiber commented on #283
@anweiss ah okay, that leads me to believe it's DNS related...

The /etc/resolv.conf from the node is injected into the pod and pre-pended with the skydns address.

What does the /etc/resolv.conf on the node look like? If there are multiple, it could be an issue related to the dns client not searching the whole list. Otherwise, it could be that skydns is returning the error because it believes it

[2016-01-27 18:14] anweiss commented on #283
@detiber I double-checked my settings to ensure there weren't multiple search domains and they are as follows:

[code]

[2016-01-27 18:27] detiber commented on #283
@anweiss I'd like to rule out a skydns issue. If you update the logging level, we should be able to see if it is attempting to answer for oscluster.local.

You can update the log level in /etc/sysconfig/origin-master, you'll want to set it to 4 and then restart the origin-master service.

[2016-01-27 18:44] anweiss commented on #283
@detiber See below for log snippet from around the time the registry was re-deployed after modifying the log level:

[code]

[2016-01-27 21:13] detiber commented on #283
@anweiss well, skydns looks to be doing the right thing in this case...

Does the problem persist if you remove `search oscluster.local` from /etc/resolv.conf?

[2016-01-27 23:26] brettneese commented on #1272
Any more thoughts on this? cc: @abutcher

[2016-01-27 23:57] anweiss commented on #283
@detiber Same error still occurs even after removing the search list in `/etc/resolv.conf`.

[2016-01-28 14:16] harobed opened #1289 "etcd isn't installed with Vagrant + Ansible + OpenShift Origin"
Hi,

what I did :

[code]

I look in ```/etc/``` I found nothing about etcd, etcd package isn't installed

[code]

this is my Ansible log output : https://gist.github.com/harobed/a9bfa7ae0bcdbd8d34e3

Are there a bug ?

Best regards,
Stéphane

[2016-01-28 14:23] anweiss commented on #283
I've also noticed these errors consistently in the `origin-node` log:

[code]

But not sure if it's related.

[2016-01-28 14:37] detiber commented on #1289
We only install an external etcd for HA installations, for single master
installs we use the embedded etcd service provided by the openshift binary.
On Jan 28, 2016 9:16 AM, "Stéphane Klein" <notifications@github.com> wrote:

[2016-01-28 14:50] abutcher commented on #1272
@brettneese Are you able to start docker manually after this or does it start on its own given some time?

[2016-01-28 15:08] brettneese commented on #1272
No, actually, the weirdest thing happens: the etcd node becomes completely inaccessible, which may actually be why? Except that I don't see any ssh errors.

[2016-01-28 15:16] brettneese commented on #1272
grr, just tried reconfiguring using the old master and a new etcd a minute ago. got past this, and its accessible, but ran into the cert issue in #1271.

seems inconsistent which problem I run into, wondering if there's a race condition going on somewhere or something.

these have to be related, right?

[2016-01-28 15:21] abutcher commented on #1272
@brettneese Yeah, what I think is happening is that the etcd node becomes unavailable at some point after starting docker and when we attempt to gather facts on the etcd node (for certificate generation) it's inaccessible.

What version of docker is being installed? Kernel version? What is the AMI ID?

[2016-01-28 15:30] brettneese commented on #1272
https://aws.amazon.com/marketplace/pp/B00O7WM7QW

`Docker version 1.8.2-el7.centos, build a01dc02/1.8.2`

Interestingly when the cert generation fails, the machine is still accessible for a hot second (it somehow became inaccessible while I was logged into it trying to get docker version and kernel version!)

Not sure if there's a window after docker fails when it's still accessible.

[2016-01-28 15:33] brettneese commented on #1272
Nope, I was wrong, it's back online somehow

Kernel version: 3.10.0-229.14.1.el7.x86_64

[2016-01-28 15:46] abutcher commented on #1272
Could you try with `docker_udev_workaround=True` in your inventory under `[OSEv3:vars]`. This will override (and shorten) the default udev timeout for the system if you're hitting an issue where docker starts the first time and times out creating the lvm loop storage backend.

[2016-01-28 16:48] brettneese commented on #1272
Nope. :-\

I did scroll through the logs, and it looks like Docker is definitely failing before #1271. Not sure why it's working fine on the master - they're the same AMI.

[2016-01-28 16:55] abutcher commented on #1272
What do you have in the logs? Please gist/pastebin and that should give us a better idea what is happening.

`journalctl -u docker --since=<time last install as started in HH:MM:SS> -l`

[2016-01-28 17:03] brettneese commented on #1272
Well, for one, it would help if I did `sudo journalctl` ;-P

Thought they were just empty, or I'd have posted them earlier.

Here we go: http://pastebin.com/1Xstq3pS

[2016-01-28 17:54] abutcher commented on #1272
Alright, seems related to loopback storage initialization.

If you start the docker daemon manually, let that complete and then stop the daemon are you then able to restart the docker service via systemd.

[code]

[2016-01-28 18:30] brettneese commented on #1272
[code]

[2016-01-28 18:42] abutcher commented on #1272
@brettneese Ok docker started. Have you retried the ansible playbooks?

[2016-01-28 20:11] timothysc commented on #1041
/cc @ncdc

xref : https://access.redhat.com/documentation/en/red-hat-enterprise-linux-atomic-host/version-7/getting-started-with-containers/#preparing_to_deploy_containers_with_kubernetes

"Configure Network Time Protocol: All systems in the cluster (master and nodes) need to have their time synced together. Refer to the RHEL 7 System Administrator’s Guide for instruction on setting up Network Tim

[2016-01-28 20:20] ncdc opened #1297 "Add docs on how to retain the registry's service IP if you delete and recreate the docker-registry service"
Until we've switched to referencing the integrated registry via DNS, we should add docs on how to retain the IP address the docker-registry service uses in the event users delete and recreate the service. I believe @smarterclayton suggested doing this:

1. make note of the ClusterIP for the service
1. `oc delete svc/docker-registry`
1. `oadm registry ... -o json > registry.json`
1. edit `registry.

[2016-01-28 21:02] detiber commented on #1297
@ncdc did you intend to file this under openshift-docs instead?

[2016-01-28 21:02] ncdc commented on #1297
grrr, sorry

[2016-01-28 21:02] #1297 closed

[2016-01-28 21:41] vishpat opened #1298 "Ansible changes for nuage seem to be broken"
Ran the upstream openshift installer as follows

ansible-playbook -vvvv -i nodes playbooks/byo/config.yml

<pre>
# nodes file
# Create an OSEv3 group that contains the masters and nodes groups
[OSEv3:children]
masters
nodes

# Set variables common for all OSEv3 hosts
[OSEv3:vars]
# SSH user, this user should allow ssh based auth without requiring a password
ansible_ssh_user=root

# If ansible_ssh_

[2016-01-28 22:08] abutcher commented on #1298
Looks like `openshift_node_master_api_url` needs to be available in vars for the play that includes the `nuage_node` role.

Something like this:
[code]

[2016-01-28 22:17] vishpat commented on #1298
@abutcher I will try out that change and if it works, send a PR for the same.

[2016-01-28 22:50] vishpat opened #1299 ""restart node" handler not found"
Setup is similar to issue #1298 , the node setup for nuage is failing since it is unable to find "restart node" handler.

2016-01-28 14:49:09,000 p=28536 u=ovs-7 |  TASK: [nuage_node | Set the vsp-k8s.yaml] *************************************
2016-01-28 14:49:09,056 p=28536 u=ovs-7 |  <node1.nuageopenshift.com> ESTABLISH CONNECTION FOR USER: root
2016-01-28 14:49:09,057 p=28536 u=ovs-7 |  <node1

[2016-01-28 22:51] vishpat commented on #1299
@abutcher @detiber Any suggestions how do I fix this

[2016-01-28 22:56] abutcher commented on #1299
The `nuage_node` role needs the handler defined.

[code]

[2016-01-28 23:03] brettneese commented on #1272
Sorry, got pulled away to a meeting.

Yep, that does work. Is this something that needs to be fixed in the script itself?

[2016-01-28 23:12] vishpat commented on #1299
@abutcher Will make the change and send it for review

[2016-01-28 23:30] abutcher commented on #1272
There a couple things going on here:
* We shouldn't be installing docker on etcd for non-containerized installs.
* [loopback storage is not recommended for production environments](http://www.projectatomic.io/blog/2015/06/notes-on-fedora-centos-and-docker-storage-drivers/). We've seen this issue before (https://github.com/openshift/openshift-ansible/issues/916) and have worked around it in the cur

[2016-01-29 02:31] rrati opened #1302 "examples fail to load"
The installer fails to load the examples:

failed: [192.1.0.3] => {"changed": false, "cmd": ["oc", "create", "-n", "openshift", "-f", "/usr/share/openshift/examples/image-streams/image-streams-centos7.json"], "delta": "0:00:00.606947", "end": "2016-01-28 16:05:39.297060", "failed": true, "failed_when_result": true, "rc": 1, "start": "2016-01-28 16:05:38.690113", "stdout_lines": [], "warnings": []}

[2016-01-29 06:08] detiber commented on #1272
I wouldn't be opposed to setting the udev workaround by default until we
release a newer Docker version.
On Jan 28, 2016 6:30 PM, "Andrew Butcher" <notifications@github.com> wrote:

[2016-01-29 06:13] detiber commented on #283
@anweiss I just compared to a working installation, and I am not seeing similar errors there. Can you verify if you have the docker-selinux package installed?

[2016-01-29 06:43] detiber commented on #600
@lorenzvth7 If you are running ansible from a remote machine (not one of the ec2 instances), then you will want to make sure that the key associated with the instances in aws is loaded into your ssh agent:
[code]
alternatively, you could run ansible-playbook with the `--private_key_file=<path_to_private_key>` option , setting private_key_file in an ansible.cfg file, or the ANSIBLE_PRIVATE_KEY_FILE

[2016-01-29 06:44] detiber commented on #1224
@brenton this can be closed now that https://github.com/openshift/openshift-ansible/issues/1243 has been merged.

[2016-01-29 06:47] detiber commented on #1241
@sdodson

[2016-01-29 13:40] #600 closed

[2016-01-29 14:12] #1224 closed

[2016-01-29 14:18] sdodson commented on #1302
Which version of openshift is this?
`oc version`

[2016-01-29 14:22] Tebro opened #1306 "Fedora Atomic does not have PyYAML"
Trying to install a Multi-Master Openshift Origin cluster on a bunch of Vagrant machines using the official Fedora Atomic Vagrant Box.

The error output is this (for each node it's own copy):

[code]

sudo atomic host status outputs:

[code]

[2016-01-29 14:36] detiber commented on #1302
Scott,

This was a build from origin master.

The bigger issue is that the variables for disabling a subset of the
examples do not use the bool filter and fail to take effect.

Other than that, a heads up that the next Enterprise update will have this
issue.

On Jan 29, 2016 9:18 AM, "Scott Dodson" <notifications@github.com> wrote:

[2016-01-29 14:39] sdodson commented on #1241
We could symlink them.

Which scheme makes the most sense?
Just add symlinks for the version numbers
v3.1 -> v1.1
v3.0 -> v1.0

Or, make the paths depend on `deployment_type` ? We'd need to add atomic-enterprise and online too I guess.
openshift-enterprise-v3.1 -> origin-v1.1
openshift-enterprise-v3.0 -> origin-v1.0
atomic-enterprise-v3.1 -> origin-v1.1
online-v3.1 -> origin-v1.1

[2016-01-29 14:45] detiber commented on #1241
@sdodson thoughts on shipping the examples (at least the ones in the origin repo) as a subpackage?

Then we could track the package version installed and update the examples when the package version has changed.

In general, it probably wouldn't be a bad idea to track the package versions in openshift_facts in general.

[2016-01-29 14:48] sdodson commented on #1306
From IRC discussions in #openshift-dev

Python 2 in Fedora Atomic Host lacks PyYAML however Python 3 has it. Not sure how to determine which interpreter to run our facts through and we'd also need to make sure that our code is compatible with Python 3.

[2016-01-29 16:00] abutcher commented on #1299
@brenton This one can be closed. Resolved by #1301

[2016-01-29 16:08] #1299 closed

[2016-01-29 16:09] abutcher commented on #1272
Issue for fixing docker install on non-containerized etcd https://github.com/openshift/openshift-ansible/issues/1262

[2016-01-29 17:57] anweiss commented on #283
hey @detiber, the docker-selinux package is installed. In fact, I recently just completely deleted and re-created the virtual machines, initiated a new deployment and ran in to the exact same error.

[2016-01-29 18:06] abutcher commented on #283
Pretty sure the `Unable to get network stats from pid` errors are related to the quickly-exiting deploy pods.

[2016-01-29 18:24] abutcher commented on #283
@anweiss Can you post your inventory for a full picture of the variables being used if any.

[2016-01-29 18:29] detiber commented on #283
@anweiss I'm attempting to deploy a CentOS/origin cluster to aws and gce currently to test a PR, so I'll see if I can replicate the issue there.

Unfortunately, I do not currently have an Azure account to test with.

[2016-01-29 18:59] spinolacastro commented on #283
@anweiss @detiber I have bunch of azure machines and i couldn't reproduce your error.
The only thing i keep in mind is your custom DNS, could you try deploy using Azure's default dns ?

[2016-01-29 19:27] #1298 closed

[2016-01-29 19:31] brettneese commented on #1271
Yeah, this was actually because of #1272. Closing.

[2016-01-29 19:31] #1271 closed

[2016-01-29 20:00] sdodson commented on #1302
Also happening with containerized installs on origin because origin:latest is a daily build.

[2016-01-29 20:24] sdodson commented on #1302
@rrati if you have a second can you try this PR?

`git pull https://github.com/sdodson/openshift-ansible is-sync` in your checkout

[2016-01-29 20:34] anweiss commented on #283
@abutcher inventory below:

[code]

@detiber let me know if you're able to replicate

@spinolacastro hmmm, I can try reconfiguring my environment to use Azure-managed DNS and re-run the deployment. However, adding wildcards to Azure-managed DNS is not possible (per prereqs [here](https://docs.openshift.org/latest/install_config/install/prerequisites.html#prereq-dns))

[2016-01-29 20:46] spinolacastro commented on #283
I meant internal name resolution.
Yes, Azure's DNS doesn't allow wildcard, so for now my domain for application routes is in AWS Route53 forwarding to my TrafficManager endpoint.

[2016-01-29 20:51] detiber commented on #1306
@sdodson we have some known issues with python3 currently. do you know if a transitional library like python-six is available on both RHEL Atomic and Fedora Atomic?

[2016-01-29 20:51] detiber opened #1312 "Update inventory examples to use /etc/origin/master for htpasswd file."

[2016-01-29 21:05] anweiss commented on #283
@spinolacastro yea, I'll go and ahead reconfigure it to use Azure's internal DNS and see if I get the same result

[2016-01-30 20:40] barkerd427 commented on #1249
Upgrading to 1.9.4 fixed this issue.

[2016-01-30 20:40] #1249 closed

[2016-02-01 06:10] Tebro commented on #1306
Is this also an issue on RHEL Atomic with OpenShift Enterprise?

[2016-02-01 14:19] timothysc opened #1314 "DNS out-of-the-box configuration."
Post deployment our default configuration leaves DNS in a state where pods can not communicate with the outside world.

When running upstreams networking conformance tests the pods fail to resolve google.com.  In order to rectify, I had to setup dnsmasq on the master.  http://developerblog.redhat.com/2015/11/19/dns-your-openshift-v3-cluster/

This is not spelled out as a separate step post install

[2016-02-01 14:20] sdodson commented on #1306
No, RHEL Atomic is fine in this regard. That's where we've done all of our
development work. I know RHEL Atomic inherits many things from Fedora
Atomic but I don't think they'll pick up switching default python to python
3 anytime soon.

On Mon, Feb 1, 2016 at 1:10 AM, Richard Weber <notifications@github.com>
wrote:

[2016-02-01 14:23] detiber commented on #1314
Trello card associated with this issue: https://trello.com/c/uIvwy5Yj

[2016-02-01 14:53] #1302 closed

[2016-02-01 16:07] anweiss commented on #283
@spinolacastro So just re-deployed the cluster using Azure-internal DNS and I didn't run in to the issue. This is now looking more like a misconfiguration in the way I set up the oscluster.local zone and configured the hosts.

Thanks all for your help in troubleshooting this issue and correlating a few other bugs along the way.

This can probably be closed

[2016-02-01 16:10] detiber commented on #283
@anweiss great news, thanks for the feedback!

@brenton please close.

[2016-02-01 16:38] timothysc commented on #1302
We'll give it another try once we scale up the node count.

[2016-02-01 16:42] #283 closed

[2016-02-01 16:50] #1170 closed

[2016-02-01 18:38] sdodson commented on #1302
It's merged already btw.

[2016-02-01 20:43] brettneese commented on #1272
So doing #1202 works on the master, but is #1262 why it's failing on the etcd?

Is there a quick and dirty way to force Docker to only install on the master?

[2016-02-01 20:47] abutcher commented on #1272
The quick and dirty way would be to edit `playbooks/common/openshift-docker/config.yml` and remove `:oo_etcd_to_config` from the end of the hosts line, so that it looked like:

[code]

I think we'll need to setup a new group like `oo_docker_to_config` and conditionally include containerized hosts in that group to fix it.

[2016-02-01 21:02] sdodson commented on #1314
The article you've linked to solves many problems but it shouldn't be directly related to this unless google.com overlaps with your default subdomain, overlaps with your host's search path, or your hosts themselves cannot resolve google.com. Can you post the contents of a pod's `/etc/resolv.conf`?

Below you can see that the pod has skydns listed as its first resolver and then the host's resolvers

[2016-02-01 21:04] sdodson commented on #1314
Also, what is the dnsPolicy of the pod?

[2016-02-01 21:22] timothysc commented on #1314
nameserver 172.24.0.1
nameserver 10.1.4.30

pod was run via:
sudo ./e2e.test --provider="local" --ginkgo.v=true --ginkgo.focus="should provide Internet connection for containers" --kubeconfig="/etc/origin/master/admin.kubeconfig" --repo-root="/home/cloud-user/kubernetes"

It Got SERVFAIL reply from 172.24.0.1 ,  but then bailed.  Once the dnsmasq was enabled, all was well.

[2016-02-01 21:31] sdodson commented on #1314
I suspect this was introduced in the recent rebase

Introduced via
https://github.com/kubernetes/kubernetes/pull/18089

issue being discussed at
https://github.com/kubernetes/kubernetes/issues/20090

On Mon, Feb 1, 2016 at 4:22 PM, Timothy St. Clair <notifications@github.com>
wrote:

[2016-02-01 22:37] timothysc commented on #1314
yup.

[2016-02-01 23:01] jstuever commented on #1312
I have a patch mostly ready for this. I want to clarify a few things. This change is for all three byo examples? Any others?

inventory/byo/hosts.aep.example
inventory/byo/hosts.origin.example
inventory/byo/hosts.ose.example

[2016-02-01 23:33] brettneese opened #1322 "Setting etcd volume on AWS manually"
I'm noticing in https://github.com/openshift/openshift-ansible/blob/master/playbooks/aws/openshift-cluster/templates/user_data.j2#L15 that the etcd volume is being set by user-data.

I'm provisioning by hand, but I'd like to use an external ebs volume on my etcd node. Do I just need to create a ebs volume, attach it, and copy that first stanza into my user data, or do I need to configure etcd else

[2016-02-02 01:34] detiber commented on #1312
In openshift-ansible, yes.

There are probably also some references in the openshift-docs repo

[2016-02-02 02:26] detiber commented on #1322
@brettneese That is the default location for the non-embedded etcd service. If you are using the embedded etcd provided by the master service (available for non-ha environments only), then there is a different location used by default (somewhere under /var/lib/origin).

If you are not creating the disk at provisioning time, then you would most likely need to manually configure the volume for use r

[2016-02-02 02:28] brettneese commented on #1322
Right, we're running our own etcd node. Do I just need to mount the
EBS device under /var/lib/etcd before provisioning?

On Monday, February 1, 2016, Jason DeTiberus <notifications@github.com>
wrote:

--
Brett Neese
563-210-3459

[2016-02-02 05:44] jstuever commented on #1312
@detiber Thanks. I have another question regarding the path. I noticed my master configs always land in /etc/origin/* regardless of the deployment_type I choose when running the byo/config.yaml playbook. This contradicts ${subject}, which led me to realize the intended path might be different for each deployment_type. If so, this is a bug with [openshift_facts.py](https://github.com/openshift/open

[2016-02-02 07:57] detiber commented on #1312
As of Origin 1.1 and OSE 3.1 the path is indeed /etc/origin.

The title is incorrect.

[2016-02-02 14:56] sdodson commented on #1314
@liggitt or @smarterclayton Do you guys know yet what we intend to do about the change to ClusterFirst dnsPolicy? Will this be critical for 3.2?

[2016-02-02 15:01] #1312 closed

[2016-02-02 15:16] liggitt commented on #1314
I thought we were carrying a patch to preserve the old behavior... are you seeing a change in behavior in origin?

[2016-02-02 15:20] timothysc commented on #1314
I deployed origin/master:

[code]

and I'm seeing the behavior outlined.

[2016-02-02 15:20] liggitt commented on #1314
Our tests routinely clone from github.com, etc, inside pods...

[2016-02-02 15:21] liggitt commented on #1314
https://github.com/openshift/origin/commit/7d76e2e6880c1c9dfddb37e5c270bc1930c059a6 is the carry, which preserves the pre-rebase behavior of including the clusterDNS in the search path

[2016-02-02 15:41] liggitt commented on #1314
@timothysc can you also show the output of `oc get service kubernetes -n default -o yaml` and `oc get endpoints kubernetes -n default -o yaml`? Trying to figure out why you're seeing a behavior change

[2016-02-02 16:09] timothysc commented on #1314
@liggitt details requested are here: https://paste.fedoraproject.org/317540/42926714/

I'm guessing the fact that we are running on openstack may have something to do with it.

[2016-02-02 16:27] liggitt commented on #1314
was this setup working previously (and if so, when)? trying to nail down what changed

[2016-02-02 16:29] sdodson commented on #1314
I think this is a problem with the busybox image in question not moving to
the next nameserver on SERVFAIL, this fails on my OSE 3.1.1.6 cluster as
well.

On Tue, Feb 2, 2016 at 11:27 AM, Jordan Liggitt <notifications@github.com>
wrote:

[2016-02-02 16:29] liggitt commented on #1314
So that is likely the issue with inconsistent resolver behavior with multiple non-overlapping nameservers, which was the reason upstream removed the clusterDNS+hostDNS chaining.

[2016-02-02 16:36] sdodson commented on #1314
172.30.0.1 is my kubernetes svc

[code]

[2016-02-02 16:41] liggitt commented on #1314
and that works correctly with another image, like one of our origin images?

[2016-02-02 16:44] sdodson commented on #1314
Yeah, it's fine with fedora/rhel based images which use glibc's resolver.

On Tue, Feb 2, 2016 at 11:41 AM, Jordan Liggitt <notifications@github.com>
wrote:

[2016-02-02 16:48] liggitt commented on #1314
so. @smarterclayton, ruling on this? turn our dns into an open resolver, break non-glibc resolvers, or require additional setup of dnsmasq?

[2016-02-02 16:49] sdodson commented on #1314
Also works with latest docker.io/busybox image

On Tue, Feb 2, 2016 at 11:48 AM, Jordan Liggitt <notifications@github.com>
wrote:

[2016-02-02 16:52] timothysc commented on #1314
imo end user experience is what matters most here, not a fan of (B).

[2016-02-02 17:12] detiber commented on #1314
@liggitt @smarterclayton

Instead of turning skydns into an open resolver, could we just configure forwarders to a provided set of dns hosts through the master config?

I don't like the idea of potentially inconsistent behavior for the user, especially if we are advertising running upstream docker containers.

I'm not sure we want to travel down that path just yet...  Unless there was no other cho

[2016-02-02 17:19] detiber commented on #1314
From this: https://github.com/skynetservices/skydns#configuration it looks like configuring the forwarders is possible and it defaults to the entries in /etc/resolv.conf (which should be a good fallback).

[2016-02-02 17:26] liggitt commented on #1314
Right... turning on no_rec was explicitly done in https://github.com/openshift/origin/commit/8ff419a71968caf36dde8501112e7a37c982bc81... hence needing a ruling

[2016-02-02 20:43] sdodson commented on #1314
If we switch to upstream behavior I don't need to write the filtering to prevent duplicate entries in pod resolv.conf when we add the kubernetes svc ip to the host's resolv.conf because clusterFirst is really cluster only upstream.

[2016-02-03 21:28] jayunit100 opened #1329 "We should install and configure etcdctl along side kube"
After a few hours of trying a myriad of combinations of certs, keys, etc, I finally found out that the only way to connect to etcd on my cluster was

- using the fqdn
- with 4001 as the port
- using `https://` on the `-C` option to etcdctl

Lets

- install etcdctl as part of the ansible setup
- configure `/etc/etcd/...` so that users can easily run `etcdctl` from the master without any fuss.

[cod

[2016-02-03 21:30] timothysc commented on #1329
dupe of https://github.com/openshift/openshift-ansible/issues/814

[2016-02-03 21:30] #1329 closed

[2016-02-03 22:04] jayunit100 commented on #814
just want to voice a big vote for this.  spent a few hours trying to get etcdctl to talk correctly to etcd, required both https and couldnt use 127 or 0.0.0.0 + the 3 certs mentioned at the beggining of this thread.

[2016-02-03 22:19] detiber commented on #814
I created the following trello card so this doesn't fall off the radar again: https://trello.com/c/z7ryCqMH

[2016-02-03 22:54] jayunit100 commented on #814
awesome thanks !

[2016-02-04 01:28] dlbewley commented on #814
i was planning to install an otherwise unused `etcd` package on my masters (where i expect do do most cli admin) just to make `etcdctl` available, and alias commands like:

[code]

i just realized that the following works (updated cert paths) from the dedicated etcd hosts, so maybe i'll rethink the above. it feels a bit messy.

[code]

[2016-02-04 12:00] ebalsumgo opened #1331 "Cockpit does not work with 2-step auth"
So this is just a "heads up", but it seems Cockpit does not like machines that have 2-step auth https://github.com/cockpit-project/cockpit/issues/3678 I will be working on a specific PAM file today but gonna guess that it might be good to have that as an option in the playbooks. Will update with working PAM file

[2016-02-04 15:45] sdodson commented on #1314
@brenton This is the issue we discussed during standup, in particular we need to reach a decision on Jordan's 3 proposed options.

My opinion is that we have proof positive that at least some resolvers screw up and that we should go with option A while attempting to secure skydns in a way that it's only accessible to the cluster.

[2016-02-04 16:16] smarterclayton commented on #1314
We can make this an optional configuration for admins and tell them to
block external DNS traffic into the cluster.  They turn on open resolver,
they need to close the resolver loop.

On Thu, Feb 4, 2016 at 10:45 AM, Scott Dodson <notifications@github.com>
wrote:

[2016-02-04 16:16] smarterclayton commented on #1314
I don't want C - I don't think it helps us in the short term, and the long
term this is a cluster problem.

On Thu, Feb 4, 2016 at 11:16 AM, Clayton Coleman <ccoleman@redhat.com>
wrote:

[2016-02-04 16:22] detiber commented on #1314
@smarterclayton the issue with B is that it'll require further custom logic to handle not duplicating the DNS resolver on the hosts.

The simple use case is easy, where the host DNS resolver is pointed at the service IP for skydns. The other use cases are more difficult (where they are pointed to skydns through an IP on a master host or a public IP assigned to a master).

For A, we can always defa

[2016-02-04 16:28] sdodson commented on #1314
The service network is just local nat on a node to IP node ips for the master. So wouldn't we have to ensure it's open to all subnets where nodes exist? This seems challenging without having a deny all and having the api-servers add allow rules for each known node ip.

[2016-02-04 16:38] gaelL opened #1332 "s3 registry template fail with ose-docker-registry:v3.1.1.6"
Hello,

I tried to run s3 registry on the new `v3.1.1.6` version. But it fail because a config is missing
[code]
.

Referring to a diff between `v3.1.0.4` and `v3.1.1.6`  :
[code]

How you want to deal with the template and docker image version ?

If you want to stick to the last version, I can do a pull request to add this parameter. If not, I let you decide show to maintain multiple version of t

[2016-02-04 16:40] detiber commented on #1314
That is true...  you would need a deny all for 53 and add an entry for each node on the master.

The plus side, is that you could limit the impact on the other rules by pushing port 53 into it's own chain for processing.

As an alternative, since we already require the masters be on the pod network, we could potentially expose it that way.

[2016-02-04 16:47] detiber commented on #1332
@gaelL I'm assuming this is for the playbooks/adhoc/s3_registry.yml playbook.

If so, do you know if the `delete` param is backwards compatible with the previous version of the registry that we deployed?

@dak1n1 This will most likely cause you issues at some point.

[2016-02-04 16:52] gaelL commented on #1332
yes sorry it's for `playbooks/adhoc/s3_registry.yml`. I will check if the param is backwards compatible.

[2016-02-04 17:07] gaelL commented on #1332
The param not seems to be backwards compatible :
[code]
My pod go into a bad state :
[code]

[2016-02-04 17:13] detiber commented on #1332
@gaelL thanks, that complicates things a bit. We either have to:

- Sacrifice older version compatibility (or fork the playbook for compatibility)
- Add conditional logic so that the playbook checks what version of {ose,aep,origin}-docker-registry is installed and and a condition the template accordingly.

@dak1n1 @wshearn since Ops is the primary consumer of this playbook, thoughts on the above?

[2016-02-04 18:01] dak1n1 commented on #1332
Hmm. My docker registry is running fine on version 3.1.1.6, without the delete option.

[root@osevg-master-e6297 ~]# oc get pods docker-registry-7-0fqq2 -o yaml |grep image
    image: registry.access.redhat.com/openshift3/ose-docker-registry:v3.1.1.6

[root@osevg-infra-6a7a7 ~]# cat /var/lib/origin/openshift.local.volumes/pods/20d2b04b-cad3-11e5-9296-1218e6d608d7/volumes/kubernetes.io~secret/docke

[2016-02-04 18:28] smarterclayton commented on #1314
Ultimately nodes and ramp nodes will have to access DNS as well - both of
those need access to the pod network as well.

On Thu, Feb 4, 2016 at 11:40 AM, Jason DeTiberus <notifications@github.com>
wrote:

[2016-02-04 19:11] gaelL commented on #1332
When you say running fine, you are talking about the registry status ? or you tried to push image in the registry ?

For us, the registry was running without the delete part but we was not able to push image in.

[2016-02-04 19:41] sdodson opened #1336 "cockpit-bridge needs to be installed on nodes"
In order for full cockpit functionality we need to install cockpit-bridge on all nodes.

@ebalsumgo

[2016-02-04 19:43] gaelL commented on #1332
I rollback again all changes and test it again on our customer platform. It seems to work.
Maybe a side effect from an other component. We are on a aws environment with proxy and restricted access. I will check with the customer if he did some changes this afternoon. Sorry for the noise, I close this issue

[2016-02-04 19:43] #1332 closed

[2016-02-04 19:51] sdodson commented on #1336
That said, cockpit is limited to adding 5 remote hosts so the value here may not be that great. The real reason that cockpit is installed is for cockpit-kubernetes and that only need to be installed wherever you're running cockpit-ws and the user you're logged into cockpit as needs to have a ~/.kube/config that grants cluster-admin access.

[2016-02-04 19:55] detiber commented on #1336
Maybe make it optional, with a default of not installing it?

[2016-02-04 20:09] ebalsumgo commented on #1336
Cockpit is limited to only being able to monitor 5 servers total? yeah thats sub optimal in a prod environment

[2016-02-04 22:14] sdodson commented on #1314
While working on adding cluster DNS to hosts I discussed with the networking team how best to automate reconfiguring host's resolv.conf etc. They actually suggested using NetworkManager's dns=dnsmasq setting and providing a dnsmasq config to selectively resolve cluster dns zones via the kubesvc IP.

Perhaps Option C the best way forward given it's probably how we'll end up giving host processes ac

[2016-02-04 22:21] sdodson commented on #1314
This would also mean we'd require NetworkManager, which is slightly controversial but if it's the right tool...

[2016-02-04 22:21] detiber commented on #1314
I'm not sure we're going to be able to sell our customer base on using NetworkManager.

[2016-02-04 22:22] detiber commented on #1314
I'm of the thinking that if all of the hosts that need to talk to DNS are all on/have access to the pod network, then maybe that is the best option for securing access and having a centralized authoritative DNS solution.

[2016-02-04 23:03] alincalinciuc opened #1338 "The PROD branch fails at Import Centos Image streams]"
TASK: [openshift_examples | Import Centos Image streams] *********************\*
failed: [xxx.xxx.xxx.xxx] => {"changed": false, "cmd": ["oc", "create", "-n", "openshift", "-f", "/usr/share/openshift/examples/image-streams/image-streams-centos7.json"], "delta": "0:00:00.353184", "end": "2016-02-04 23:01:39.702001", "failed": true, "failed_when_result": true, "rc": 1, "start": "2016-02-04 23:01:39.

[2016-02-05 01:16] kunallimaye opened #1339 "Error running bin/cluster create on openstack "vars_files" is not a valid attribute"
## Command used to create OSE cluster

[code]
## Returns an error

[code]

[2016-02-05 01:28] kunallimaye commented on #1339
## Environment information

+ OS X El Capitan version <kbd>10.11.3</kbd>
+ bin/cluster version <kbd>0.3</kbd>
+ Ansible version <kbd>2.0.0.2</kbd>
+ Python version <kbd>2.7.9</kbd>

[code]

[2016-02-05 06:40] nak3 opened #1340 "Need `scaledown` playbook to un-install a node"
I am wondering that some users want to use the `scaledown` playbook to cleanup when `scaleup` playbooks failed. It also can use for clean installation of a node.

As you know, current `openshift-ansible/playbooks/adhoc/uninstall.yml` will uninstall all nodes.

[2016-02-05 12:28] #1289 closed

[2016-02-05 12:31] harobed opened #1341 "Vagrant ssh error after provisioning + vagrant halt; vagrant up"
After provisioning, if I execute `vagrant halt; vagrant up` I've have ssh connection error.

 understand why :
- before provisioning, vagrant configure private_network on interface `eth1`
- after provisioning vagrant configure private_network on interface `eth0` instead `eth1` because there are `br0` in result of `ls /sys/class/net | egrep -v lo\|docker`

How can I say to vagrant to use eth1 and n

[2016-02-05 14:18] detiber commented on #1339
@kunallimaye We haven't yet updated the playbooks/roles to support Ansible 2.0 yet, currently we support running using Ansible 1.9.4.

We are tracking the Ansible 2.0 support here: https://github.com/openshift/openshift-ansible/issues/686

[2016-02-05 14:20] detiber commented on #1338
@alincalinciuc This has already been fixed in master. The int, stage, and prod branches are used internally by OpenShift Operations and aren't tested for general use.

[2016-02-05 14:47] jae2 commented on #1272
For me even running from that fork gives the same problem mentioned in this issue:

Feb 05 14:46:50 ip-172-31-10-33 docker-storage-setup[23162]: Volume group "xvda1" not found
Feb 05 14:46:50 ip-172-31-10-33 docker-storage-setup[23162]: Cannot process volume group xvda1
Feb 05 14:46:50 ip-172-31-10-33 docker-storage-setup[23162]: No volume group has been specified and root device volume group coul

[2016-02-05 14:58] thoraxe opened #1343 "installer doesn't remove labels that are not present"
For example, given the following node status:

[code]

And the following line from `/etc/ansible/hosts`:

[code]

If the installer is run the region label will not be removed from the master node.

This is generally contra to what the user expects, given that the installer will, for other aspects, remove/alter what's already there.

[2016-02-05 15:14] detiber commented on #1343
This one is a bit tricky...  generally we persist facts to make sure that if a person runs Ansible without setting the variables to ensure that we don't clobber something the user expects.

[2016-02-05 15:32] abutcher commented on #1343
@detiber We could make these an additive fact with overwrite behavior?

[2016-02-05 15:44] abutcher commented on #1343
But even then it comes back to having some modules to maintain openshift resource state

[2016-02-05 16:03] detiber commented on #1343
@abutcher yeah, whatever it would be would be much more involved than a quick fix.

[2016-02-05 16:40] alincalinciuc commented on #1338
Thank you @detiber !

[2016-02-05 18:46] thoraxe opened #1344 "some tasks that should be verifying user/namespace are not"
I was running playbooks and got this error:

[code]

I realized quickly that this is because the root account on master1 is not logged in as `system:admin` presently and/or is not in the default project, which explains why the `kubernetes` service isn't found.

So, we may need to scrub to make sure that tasks that need to be performed as `system:admin` are, and that we prefix with namespaces.

[2016-02-05 18:48] sdodson commented on #1344
dupe of #631

[2016-02-05 19:33] abutcher commented on #1344
This task was removed in https://github.com/openshift/openshift-ansible/pull/1012

[2016-02-06 04:56] liggitt opened #1346 "oauthConfig.templates.error - custom error page template"
See docs changes at https://github.com/openshift/openshift-docs/pull/1552 and code changes at https://github.com/openshift/origin/pull/7057

Admin can set a custom error page template for rendering errors during the authentication flow in

[code]

[2016-02-08 17:28] vitaliedicusara commented on #1338
Getting the the same issue with the latest code from the master.

TASK: [openshift_examples | Import Centos Image streams] **********************
failed: [10.2.2.5] => {"changed": false, "cmd": ["oc", "create", "-n", "openshift", "-f", "/usr/share/openshift/examples/image-streams/image-streams-centos7.json"], "delta": "0:00:00.163222", "end": "2016-02-08 12:23:40.585800", "failed": true, "failed_w

[2016-02-08 18:54] lypht opened #1348 "oadm prune images command fails with malformed HTTP response"
Hello,

I am able to successfully prune *deployments* and *builds* with `oadm prune <object_type> <options>`.  However, although I receive detail of the *images* to prune using `oadm prune images --keep-tag-revisions=3 --keep-younger-than=60m`, any attempt to actually perform the operation with the `--confirm` argument results in **error: error communicating with registry: Get http://{{ registry-i

[2016-02-08 21:05] sdodson commented on #1348
@miminar does `oadm prune images` need special instructions to work against
a secured registry?

On Mon, Feb 8, 2016 at 3:27 PM, Josh Hull <notifications@github.com> wrote:

[2016-02-09 11:37] miminar commented on #1348
No, `https` schema is tried first. `http` is used as a fallback. Just confirmed on current master that prune with confirm flag works on secured registry out of the box.

@lypht is your registry's certificate signed by the same certificate authority the openshift is using? If not, you'll need to pass also `--certificate-authority=` option.

What does `curl --cacert {{ master-config-dir }}/ca.crt -f

[2016-02-09 14:46] thoraxe opened #1349 "[RFE] load balancer ansible option doesn't support port"
It looks like the default config for haproxy when having Ansible install it for you is to use port 8443.
There does not appear (in the hosts example) to be an option to set the port (eg: to 443).

[2016-02-09 14:57] harobed opened #1350 "« Warn user about bad openshift_hostname values » failed on Vagrant"
« Warn user about bad openshift_hostname values » failed on Vagrant :

[code]

Why ?

[code]

Ansible check first IP found.

[2016-02-09 15:14] harobed commented on #1350
Fix :

[code]

at https://github.com/openshift/openshift-ansible/blob/34b68829e36f7151c6c09411585b25b2340d2823/playbooks/common/openshift-cluster/validate_hostnames.yml#L18

[2016-02-09 15:18] sdodson commented on #1350
@harobed Out of curiosity have you deployed a router in this environment using Origin v1.1.1? Did the liveness probes work properly there?

Do you not get a prompt exposed via Vagrant? Does this happen immediately or does it sit on this task until it times out?

[2016-02-09 15:30] harobed commented on #1350
I've deployed nothing, it's fresh install.

No, nothing.

[2016-02-09 16:14] detiber commented on #900
@brenton this can be closed

[2016-02-09 16:27] #900 closed

[2016-02-09 17:37] thoraxe opened #1358 "[RFE] add variable for configuring the default project's node selector"
We have a config yaml option for configuring the default node selector (all created projects).

We do not have an installer option for post-configuration of a node selector for the default, openshift-infra, and other proejcts.

This would be nice (saves a manual step that most folks will probably end up doing).

[2016-02-09 17:49] ivanthelad commented on #995
@detiber
Shouldn't this be closed as its solved by the new variable "g_new_node_hosts"
 https://github.com/openshift/openshift-ansible/blob/b808eb073e53b0bd3910b75466ef32539a0250c9/playbooks/aws/openshift-cluster/scaleup.yml

[2016-02-09 17:51] lypht commented on #1348
It was in fact a faulty certificate reference.  Thank you both for the input.

[2016-02-09 17:51] #1348 closed

[2016-02-09 18:11] detiber commented on #995
@ivanthelad yes it should, thanks for bringing it to my attention.

@brenton please close

[2016-02-09 18:13] jkroepke commented on #995
This feature should be documented.

[2016-02-09 18:15] brenton commented on #995
@jkroepke, we should have a PR to openshift-docs for this within a week.

[2016-02-09 18:15] #995 closed

[2016-02-09 18:17] detiber commented on #995
Bugzilla bug for documenting the scaleup playbook: https://bugzilla.redhat.com/show_bug.cgi?id=1304954

[2016-02-09 20:11] liggitt opened #1360 "GitHubIdentityProvider organization config"
https://github.com/openshift/origin/pull/7161 adds the ability to optionally limit GitHub logins to specific GitHub organizations.

Example config to allow members of `myorgname` or `anotherorgname` to log in:
[code]

[2016-02-09 23:29] simon3z opened #1366 "Adding inventory pre-validation"
It would be useful to add a playbook to validate that the hosts in the inventory can be used for the deployment in order to identify early the most trivial errors or conflicts.

Probably also having these checks right after the gathering of the facts would be good enough.

@detiber is there already something like that? Are there some trivial errors that can be caught early?
Thanks.

[2016-02-10 03:21] detiber commented on #1366
@simon3z We started adding some validation to openshift_facts to catch some errors, but we don't do nearly enough...  some things I can think of off the top of my head that we should be doing:
- check for networking conflicts with the service network and the sdn network
- validate that hostnames are resolvable

[2016-02-10 03:49] detiber commented on #1360
@liggitt will previous builds of OpenShift/Origin ignore the organizations attribute if it's missing? or will it cause an error if it is present?

[2016-02-10 03:55] liggitt commented on #1360
They'll ignore it, though we should be super clear which version the setting applies to so people don't think their install is more locked down than it really is

[2016-02-10 03:59] detiber commented on #1360
Indeed, however we don't really document the options available for each of the identity providers within openshift-ansible itself, so the product documentation is probably the best place to address that.

[2016-02-10 14:37] abutcher commented on #1349
These should update ports on haproxy lb and elsewhere.

[code]

[2016-02-10 15:33] thoraxe commented on #1349
Are you saying that if those are used that it affects the port that lb gets configured for?

What if I want my LB on 443 but I don't want to move the rest of the things from 8443?

[2016-02-10 15:35] abutcher commented on #1349
Yeah, we need separate variables.

[2016-02-10 16:32] detiber commented on #1349
@thoraxe remember that the lb is not meant for production use...  I'm not sure we want to spend too much development time on it unless there is a functionality bug...

[2016-02-10 18:54] ebalsumgo opened #1376 "master.server.crt in multi master setup does not contain expected value"
I dont think this is a problem but did notice it while researching and tackling a different issue. The master.server.crt contains the CN of one of my masters as an IP rather than what I would have expected and have my lb hostname or at the very least my public_hostname. The SAN contains... well everything including the lb and both masters hostnames and their IPs.

Either way, not sure that it is e

[2016-02-10 19:04] abutcher commented on #1376
The certificates are currently just flat out copied from the first master to all other masters and the SANs include all hostnames (all other master ip/hostnames and all service names). I'm changing this behavior in https://github.com/openshift/openshift-ansible/pull/1337 so that we generate the certificates per master using the first master's CA.

[2016-02-10 20:49] jtslear opened #1378 "Infra Selector Question"
Hey guys, we are transitioning from using our own playbooks to create a docker registry and router to using what you guys have provided and ran into a rather lame problem.

https://github.com/openshift/openshift-ansible/blob/master/playbooks/common/openshift-master/config.yml#L178

Is manually configured to look for infra nodes with specific tags.  But you allow this to be configurable.  So if I d

[2016-02-10 20:56] detiber commented on #1378
@jtslear it was an oversight on my part.

[2016-02-10 21:03] detiber commented on #1378
@jtslear basically, the byo playbook assumes that 'infra' nodes will have the {region: infra} label, and that is carried through to the playbook.

On the other hand, the aws,gce, openstack and libvirt playbooks do not use the region label by default and use the {type: infra} label instead, but they override openshift_infra_nodes.

One way to achieve the same result in your inventory file would be

[2016-02-10 23:16] jayunit100 opened #1381 "try again all hosts"
Problem:
Ansible needs to waits till machines are all available and reachable to start.
- why? idempotance not gauranteed really, and
- the larger the cluster, the less the gaurnatee that all inventories will be readily available.
- example: On EC2 using our internal accounts, I ran this 5 times today, and 5 times, the first pass failed because of inventories not being available the first time....

[2016-02-10 23:17] jayunit100 commented on #1381
cc @timothysc

[2016-02-11 02:19] jtslear commented on #1378
After testing what you noted above, I'm not able to get it to work.  The way I want too at least.  During testing, we have 3 nodes to dedicate to routing and 3 nodes dedicated to being application hosts.  We don't spin up nodes tagged infra, so for the sake of testing all of these became infra nodes.  What we ended up with is 3 deployed and running router pods, with 3 stuck in pending because they

[2016-02-11 03:55] detiber commented on #1378
@jtslear In that case, you should be able to use the openshift_router_selector and openshift_registry_selector variables to override the default value. You will still need to define openshift_infra_nodes to non-empty to trigger the deployment. The length of infra_nodes will affect the number of replicas created when the router and/or registry are created, but the _selector variables will override

[2016-02-11 12:01] thoraxe opened #1382 "[RFE] api-only hosts group for masters that aren't running the controllers service"
Currently we only have a generic "masters" group that results in every system in the group being configured for both controller and api duties.

It would be nice if we added an [api] group for systems that only performed api duties, and left the [masters] for systems that would run the controllers service

[2016-02-11 12:50] #1360 closed

[2016-02-11 13:46] jtslear commented on #1378
You are correct, and just as you noted, the replicas are configured in a way that I don't find to be very legit. I end up with something like I described above where Pods try to be scheduled and fail due to the selector not matching an appropriate node and too many replicas are configured.

[code]

[code]

And this using the following selectors:
[code]

[2016-02-11 14:28] sdodson commented on #1382
Why would one want to do that? What's the use case?

[2016-02-11 14:39] detiber commented on #1378
@jtslear It sounds like what we need then is a variable to override the replicas logic for each of the hosted services.

I'm thinking something like openshift_router_replicas and openshift_registry replicas that would default to the current behavior, but allow it to be overridden if needed.

@abutcher thoughts?

[2016-02-11 14:41] detiber commented on #1382
@thoraxe I'm finding a use case for this hard as well. I fully expect that over time the controllers will actually become pods running within OpenShift in a way that is similar to the upstream Kubernetes model.

[2016-02-11 14:43] abutcher commented on #1378
@detiber I like that - when we add them we can put all of these options together in the byo inventories with some explanation

[2016-02-11 14:53] detiber commented on #1381
@jayunit100 can you provide some more info on how the clusters you are using are provisioned?

While we currently only "support" the byo playbooks the main reason is for conformity in troubleshooting and documentation. For cloud provisioning there are much better ways to invoke the playbooks and you can leverage dynamic inventory scripts that would negate this issue completely.

In general I'd be

[2016-02-11 15:02] detiber commented on #1358
@thoraxe what are your thoughts on the format for providing it?

would you expect it to be something like this (assuming ini format):
[code]
or something more involved like this (assuming yaml format):
[code]
which in ini format would look like this monstrosity:
[code]

[2016-02-11 15:06] detiber commented on #1338
@vitaliedicusara So, the error is complaining about connecting to the api server. Are there any errors in the master logs? `journalctl -u origin-master -l`

[2016-02-11 15:10] detiber commented on #1341
@harobed is this using VirtualBox, if so the documentation for the networking options are a lacking and I do not have enough experience with it to recommend a good solution for the interface config.

[2016-02-11 15:13] detiber commented on #1261
@AlbertoPeon this should be fixed in the latest origin release (1.1.2)

[2016-02-11 15:14] detiber commented on #1200
@donovanmuller are you still running into this issue?

[2016-02-11 15:19] detiber commented on #1195
@akram do you have a suggested fix for this? I'm not sure when the internal team would be able to address it.

[2016-02-11 15:20] detiber commented on #1102
@brenton didn't you have a PR recently that addressed part of this?

[2016-02-11 15:22] detiber commented on #1093
@ezlee are you still having issues with this?

[2016-02-11 15:39] sdodson commented on #1102
This shouldn't be the case or maybe I'm misunderstanding your point here. These all show v1.1, v1.1.0.1, v1.1.1, v1.1.2.
https://hub.docker.com/r/openshift/openvswitch/tags/
https://hub.docker.com/r/openshift/origin/tags/
https://hub.docker.com/r/openshift/node/tags/

I agree that we need to come up with a strategy for figuring out version availability and pinning for containerized installs.

[2016-02-11 16:01] brenton commented on #1102
@detiber, my PR is only to allow `openshift_pkg_version` to work with upgrades.

[2016-02-11 16:11] cben opened #1384 "[playbooks/libvirt] CentOS-7-x86_64-GenericCloud doesn't match sha256"
[followup to #954]
`bin/cluster create libvirt foo` currently fails out of the box due to CentOS-7-x86_64-GenericCloud.qcow2.xz failing sha256sum check.

http://cloud.centos.org/centos/7/images/ dir is presently in a confusing state (which I don't know where to report):

- The current expected checksum, last updated in #954 (9461006300d65172f5668d8875f2aad7b54f7ba4e9c5435d65a84a5a2d66e39b)
matches

[2016-02-11 16:57] detiber commented on #1384
@cben thanks for the heads up.

@akram @codificat are either of you able to test which CentOS image would be best to use?

@kbsingh can you help out with the CentOS image related issues mentioned here?

[2016-02-11 17:30] kbsingh commented on #1384
Hi Folks, @detiber thanks for pulling me in.

Firstly, report any issues with the images or contents around them to the centos-devel list ( https://lists.centos.org/ ) if you want to talk through anything, or hit bugs.centos.org if you know there is a problem. Do both if needed.

Secondly, the non versioned images are meant to point at the latest released images ( in this case, that would have bee

[2016-02-12 02:28] jayunit100 commented on #747
I just saw this hang in EC2.  The hang was several minutes , and it happened multiple times.

[2016-02-12 02:47] jayunit100 commented on #747
Thanks for the workaround info.  So,
- by `ansible_sudo=no` , did we mean `=false` ?
- what is the purpose of modding `ansible_sudo` here ?

[2016-02-12 13:17] jayunit100 commented on #747
By the way, on AWS , I think workaround 2 works, without sudo=no.

[code]

[2016-02-12 14:29] donovanmuller commented on #1200
@detiber Haven't tried in a while, will try again tomorrow...

[2016-02-12 14:58] simon3z opened #1389 "Deploying Hawkular Metrics"
I am trying to deploy metrics (hawkular sink), so far this is the inventory is:

[code]

but metrics are not deployed:

[code]

Am I missing something? Is it supported? Thanks.

cc @detiber

[2016-02-12 15:29] detiber commented on #1389
@simon3z We don't yet support deploying the metrics or logging services yet. The trello card tracking it is here: https://trello.com/c/pQ2cmWhG

[2016-02-12 15:36] simon3z commented on #1389
@detiber what about the registry and the router(s)? Are those covered? If not, should we have different issues or could we cover it renaming this one? (E.g. Deploying infrastructure services)

[2016-02-12 15:47] detiber commented on #1389
@simon3z The router will be deployed if there are any "infrastructure" nodes defined in the inventory (nodes that have the `openshift_node_labels` variable that includes `'region': 'infra'`.

The registry will be deployed if there are any 'infrastructure' nodes defined and either an nfs host defined in the inventory or the openshift_hosted_registry_storage_* variables defined.

[2016-02-12 15:48] sdodson commented on #1382
@timothysc Any scalability testing that indicates separation of API and Controller services is necessary?

[2016-02-12 15:53] detiber commented on #747
@jayunit100 That is correct, you shouldn't need ansible_sudo=no.

As an aside, Ansible uses a pretty loose definition of true/false and yes/no are commonly used in the Ansible documentation rather than true/false, so in general we use yes/no to conform with what Ansible users would expect.

[2016-02-12 16:49] timothysc commented on #1382
@sdodson Always a nice-to-have, it depends on what scale.  This is an ops-flexibility as well for piecemeal upgrades.

[2016-02-12 16:54] detiber commented on #1382
@timothysc Will we ever move towards the upstream model where the controllers are always containerized whether or not the api server is?

Basically, if there is anything on the roadmap for the cluster to manage the controllers independently, then there would be little value of splitting them out with the current method.

[2016-02-12 16:56] jeremyeder commented on #747
@jayunit100 workaround pls use the jumpbox we have setup inside our VPC on EC2.

[2016-02-12 16:57] timothysc commented on #1382
@detiber The long-term trend will aim towards self-hosting the components.  api-sever + etcd + node will been needed for boot-strapping, then everything else will be self-hosted... hopefully/eventually.

[2016-02-12 18:58] lypht commented on #1389
FWIW, with a new build from openshift/openshift-ansible#master last night, I have one node with `openshift_node_labels="{'region': 'infra'}"` and two nfs hosts defined, as well as the following key value pairs in my static inventory file: ```openshift_nfs_exports_dir=/var/export
openshift_nfs_registry_volume=regvol
openshift_nfs_export_options='*(rw,sync,all_squash)'```

Neither the router nor the

[2016-02-12 19:27] donovanmuller commented on #1200
Just tried again. Yup, still an issue (using current master).

[code]

[2016-02-12 19:47] abutcher commented on #1200
I'm seeing dnf on this AMI with 1.9.4

[code]

[2016-02-12 19:52] detiber commented on #1200
@abutcher I want to headdesk so bad right now....

@donovanmuller I just realized the issue...  the playbooks/adhoc/bootstrap-fedora.yml playbook disables fact gathering (`gather_facts`: false), so it never gathers the ansible_pkg_mgr fact from the host and defaults to yum.

I'll submit a PR to remove `gather_facts: false`

[2016-02-12 19:53] abutcher commented on #1200
@detiber nice :sunglasses:

[2016-02-12 19:55] donovanmuller commented on #1200
@detiber :+1:

[2016-02-12 20:00] #1200 closed

[2016-02-12 20:10] detiber commented on #1389
@lypht a couple of unrelated things to your issue:
1. Only a single nfs host is currently supported (it's meant for dev/demo/poc uses only)
2. If specifying an nfs host, you shouldn't need to configure any of the openshift_hosted_registry_storage_* variables, the defaults should be sufficient.

I'm trying to replicate the issue to see if I can figure out what is going on though.

@abutcher any ide

[2016-02-12 20:23] abutcher commented on #1389
I'd expect a router to be created when at least one node has `openshift_node_labels="{'region': 'infra'}"`.

Adding an `[nfs]` host group automatically sets `openshift_hosted_registry_storage_kind=nfs` which is the flag for creating a registry (in addition to infra nodes being present). All of the other registry storage variables will be used with default values.

One nfs host is enforced here htt

[2016-02-12 20:40] donovanmuller commented on #1200
Pulled my master branch and now am getting the below on fresh installs on AWS with AMI ass above:

[code]

Am I doing something dumb or ?

[2016-02-12 21:16] lypht commented on #1389
I've stripped my inventory to one nfs server, and pulled all variables referencing nfs out of OSEv3:vars.  Neither are getting built.  After running config once more, `oc status` shows *dc/docker-registry deploys docker.io/openshift/origin-docker-registry:v1.1.2
    #3 deployment new 2 hours ago - 0/1 pods growing to 1*