[2018-05-05 07:06] paidhi commented on #7487
It looks like `--metrics` and `--logging` has been broken for some time and will not be fixed any time soon. The options have been remove from minishift as of v1.16.0.
https://github.com/minishift/minishift/releases/tag/v1.16.0
https://github.com/minishift/minishift/issues/2234

[2018-05-05 07:06] #7487 closed

[2018-05-05 08:40] vrutkovs commented on #8264
I think I sorted it out, this only happens on a single master, which is also a node. When SDN is setting up iptables rules, the node is being setup - and it restarts docker. In the end SDN reports it has done it job, but the node is not Ready.

https://github.com/openshift/openshift-ansible/pull/8265/commits/b61d0e7d0f6b90184cc73d7da1c633a8c91e7e93 should fix it

[2018-05-05 10:51] brlbil commented on #7019
@mjudeikis I am seeing a similar issue. The issue is closed but I do not see any resolution mentioned.
Is there a resolution or a workaround for this.

[2018-05-06 11:43] hendrikhalkow opened #8276 "Provide a mechanism to customise the registry console certificate and URL"
#### Description

According to the documentation at <https://docs.openshift.org/3.9/install_config/install/advanced_install.html#advanced-install-configuring-registry-console>, there is no way to customise the registry console installation at the initial installation (deploy_cluster.yml). To use a custom hostname and a valid certificate, I need to re-deploy it according to <https://docs.openshift.

[2018-05-06 16:10] mrsiano opened #8279 "node-exporter dashboard needs queries update."
In continuing to https://github.com/openshift/openshift-ansible/pull/8263
we need to tune some of the queries in order to have reliable dashboard.
some of the graphs shows N/A data.

@jeremyeder

[2018-05-07 00:01] hendrikhalkow commented on #8218
Even worse, the documentation https://docs.openshift.org/latest/install_config/install/advanced_install.html#running-the-advanced-installation-individual-components makes you think that you can do it, which I just tried. The playbook fails when it tries to discover the GlusterFS IP addresses.

[2018-05-07 00:22] hendrikhalkow opened #8280 "Build deployments to internal registry fail due to wrong host name."
#### Description

When running the demo apps that execute a build, e.g. Django + Postgres and Node + Mongo, the builds fail because they cannot push to the internal registry due to a TLS certificate error:

[code]

This is the certificate is the one that I configured at openshift_hosted_registry_routecertificates.

##### Version

[code]

##### Steps To Reproduce
1. Install OpenShift Origin 3.9 acc

[2018-05-07 06:40] dusansusic commented on #8194
I am also experiencing this issue. Tried aws regions `us-east-1` as well as:
`rhui2-cds02.eu-central-1.aws.ce.redhat.com` and `rhui2-cds01.eu-central-1.aws.ce.redhat.com`.
EC2 instances have their EIPs, opened all ports and nothing works

[2018-05-07 06:59] eye0fra commented on #8279
Hi @mrsiano,

As you see on the prometheus.yml config:

https://github.com/openshift/openshift-ansible/blob/master/roles/openshift_prometheus/templates/prometheus.yml.j2#L185

all the important metrics used by the node exporter dashboard have action: drop.
That's the reason of the N/A.
If you comment them everything works as expected.

[2018-05-07 09:49] mrsiano commented on #8279
I tried it, but we when redeploy it I faced this:
level=error ts=2018-05-07T09:47:55.715218931Z caller=main.go:582 err="Error loading config couldn't load configuration (--config.file=/etc/prometheus/prometheus.yml): parsing YAML file /etc/prometheus/prometheus.yml: relabel configuration for replace action requires 'target_label' value"

[2018-05-07 10:05] mrsiano commented on #8279
Right,
we need to understand if we can get rid of this.

I see @smarterclayton submit this change.
https://github.com/openshift/origin/commit/30516b58a23e247cef8efa084fb403e1750ecc0e#diff-d834a5fd4c91cb4a584e1113a1db37a5

any thoughts ?

[2018-05-07 10:31] eye0fra commented on #8279
Yes that change is already on release-3.9.
So I have to change it like this:

[code]

[2018-05-07 12:31] dusansusic opened #8283 "Openshift 3.9 provision fails"
#### Description

I have single master and two nodes cluster, all 3 instances are at AWS, all ports opened, amazon ami is in used.

##### Version

* Your ansible version per `ansible --version`
[code]
If you're operating from a **git clone**:

* The output of `git describe`
[code]
Error:

[code]
##### Steps To Reproduce
1. [step 1] Run
`ansible-playbook -i inventory/instanatest playbooks/prerequis

[2018-05-07 12:35] dusansusic commented on #8194
Seems that `/etc/resolv.conf` is wrong.

[2018-05-07 12:46] dusansusic commented on #8283
even if i set `/etc/resolv.conf` to:
[code]

it will continue to install stuff but in some point of time, `/etc/resolv.conf` file will be overridden.

[2018-05-07 13:02] vrutkovs commented on #8283
Don't expose your AWS keys in public bugs :)

Any ideas why second nameserver is required?

[2018-05-07 14:02] dusansusic commented on #8283
well, good point, already changed them, thanks :)

ansible instal `dnsmasq` and then pods in OPC should be able to resolve internal dns queries. I guess that's reason why is first nameserver used.

second one, ` 172.31.0.2` is default for AmazonProvidedDNS and if I don't use it, I won't be able to resolve anything.

[2018-05-07 14:17] PaulVanStaden commented on #5008
In my experience I got the same error. `'not installed' not in passlib_result.stdout` Installing the `python-passlib` in the executing machine made the test pass. Can it be that the test runs against the wrong machine?

[2018-05-07 14:51] crmarques commented on #5008
Same erro in openshift-ansible-3.9.28-1-2-g8cb69c9a3.

[2018-05-07 14:53] crmarques commented on #6429
I had the same error. Solved by installing java-1.8.0-openjdk-headless on your control host too. Shouldn't this be in the doc?

[2018-05-07 15:07] sdodson opened #8285 "Rebase GCE inventory to upstream"
inventory/dynamic/gcp/hosts.py has local customizations for filtering out instances that aren't tagged with a specified value. This is now supported by upstream and we should rebase this script in order to bring ourselves back inline with upstream's latest fixes.

Filtering support was added here https://github.com/ansible/ansible/pull/35770

[2018-05-07 15:44] vrutkovs commented on #8283
I don't think resolv.conf is being changed before node packages install. Do you have the full ansible run logs?

[2018-05-07 18:25] jfmatth commented on #3543
Can i add that i have yet to get Fedora Atomic to work correctly on an openshift-ansible deployment with logging and metrics?

Comparing Centos and Fedora atomic deployments seems to revolve around the fact that python3 is mandated in fedora not centos.

HTH

[2018-05-07 19:01] mjudeikis commented on #7019
@brlbil let me dig something for you what we did.

[2018-05-07 21:06] oatmealraisin opened #8292 "OpenShift fails to provision using AWS flow"
# AWS Playbooks fail to set up working cluster

__Description__

Coming from no AWS infrastructure to the full 8 node cluster provided by the
`playbooks/aws/` flow, there are a series of errors that prevent the cluster
from functioning.

__Versions__

[code]

[code]

__Steps to Reproduce__

Create an SSH key to use w/ AWS, get a pair of AWS IAM API keys, and insert them as env variables as per [th

[2018-05-08 02:32] dharmit opened #8296 "RPM based cluster setup using openshift-ansible rpm fails on CentOS"
#### Description

I'm trying to setup a 2-node cluster (1 master, 1 node) using the openshift-ansible RPM available in centos-openshift-origin37 repo. It ends with failure to start the `origin-node` service on node.

##### Version

* Your ansible version per `ansible --version`

[code]

If you're running from playbooks installed via RPM

* The output of `rpm -q openshift-ansible`

[code]

##### St

[2018-05-08 02:52] dharmit commented on #8296
I think the issue is because of missing entry in `/etc/hosts` file. Adding entries for hosts in `/etc/hosts` file and starting the service worked fine. Trying again on fresh nodes to see if it indeed is the issue.

[2018-05-08 03:32] dharmit commented on #8296
That was indeed the issue. Adding relevant entries to `/etc/hosts` fixed the issue.

[2018-05-08 03:32] #8296 closed

[2018-05-08 14:42] leifmadsen commented on #6897
I can reproduce this as well. It works fine if you provide only the `region` and `zone` node labels, but if you add another one, it seems to fail.

[code]

[2018-05-08 14:49] leifmadsen commented on #6897
Disregard my comment. I see that I used commas in 2 spots when I should have used a colon.

[2018-05-08 15:10] ewolinetz commented on #6429
This is documented in the README of the openshift-logging role and the openshift-ansible repo:
https://github.com/openshift/openshift-ansible/#setup

[2018-05-08 15:12] #6429 closed

[2018-05-08 15:47] jmontleon opened #8298 "Service Catalog Health Check fails"
#### Description
This isn't resolving on my host:
https://github.com/openshift/openshift-ansible/blob/master/roles/openshift_service_catalog/tasks/start.yml#L5

Shouldn't it check `https://apiserver.kube-service-catalog.{{ openshift_master_default_subdomain }}/healthz` ?

##### Version
[code]

##### Observed Results

[code]

[2018-05-08 19:52] #8298 closed

[2018-05-08 20:25] jcantrill opened #8300 "Unable to Set rolebinding-reader permissions for ES"
On maser branch, after uninstalling logging and trying to reinstall.  I get the following:
[code]
Looking at the task it defines 'user' but it looks like the module is expecting something else?

[2018-05-08 20:25] jcantrill commented on #8300
@ewolinetz ?

[2018-05-08 20:53] nccurry commented on #6625
I am able to successfully deploy OpenShift on M5 instances, so I do not think that is the root cause.

[2018-05-09 04:42] jeffrey4l opened #8305 "need doc to explain what the l_ and r_ prefix meaning."
#### Description

There are lots of variable with `l_` and `r_` prefix, but can not get the real meaning.

##### Expected Results
Need add doc to explain what the prefix is and when to use it.

[2018-05-09 06:29] jlsalmon opened #8306 "Cannot use custom images with diagnostics health check"
#### Description

The `oc adm diagnostics` commands provide options to allow using a custom image for the diagnostics that deploy pods as part of the process. There are no such equivalent inventory options when using the openshift health check playbook.

##### Version
[code]

##### Steps To Reproduce
1. Run the health check playbook on a cluster without access to docker hub

##### Expected Results

[2018-05-09 07:27] dusansusic commented on #8283
Nodes are unable to resolve registry-1.docker.io and it cannot pull images from registry.
Seems that dnsmasq configuration is wrong on nodes.

Someone?

[2018-05-09 08:54] dusansusic commented on #8283
also, I am running into:
[code]

[2018-05-09 09:35] vrutkovs commented on #8292
Your inventory has no nodes, tagged with `region=infra`

Add `openshift_node_labels="{'region': 'infra'}"` to the nodes you'd like to dedicate to infra components

[2018-05-09 10:53] vrutkovs commented on #8264
SDN failures still occur
[code]

[2018-05-09 12:14] vrutkovs commented on #8264
Since sync pod is the first one to pull node image it may take a long time to pull it. So SDN would be crashlooping before sync pod is started. If it didn't start before web console startup comes the installation would fail

https://github.com/openshift/openshift-ansible/pull/8172 should fix that

[2018-05-09 12:53] jmontleon opened #8310 "With 3.10 all pods come up with nameserver 0.0.0.0 in their resolv.conf"
#### Description
With 3.10 all pods come up with nameserver 0.0.0.0 in their resolv.conf

##### Version

[code]

##### Steps To Reproduce
1. deploy openshift v3.10 with openshift-ansible

##### Expected Results
Pods have a proper nameserver configured

##### Observed Results
pods have `nameserver 0.0.0.0` in their resolv.conf

##### Additional Information
In 3.9 it looks like the template being us

[2018-05-09 13:40] allen13 commented on #6921
The openshift web console in 3.9 makes this problem irrelevant.

[2018-05-09 13:40] #6921 closed

[2018-05-09 13:41] #6904 closed

[2018-05-09 13:41] allen13 commented on #6904
Moving to prometheus operator. No longer relavent.

[2018-05-09 15:37] oatmealraisin commented on #8292
@vrutkovs From the `playbooks/aws/README.md`:

Since the directions start from no nodes running, there is no way to label any instance with any labels, unless I'm supposed to add them in between steps. According the directions, the inventory is built dynamically by querying AWS

[2018-05-09 18:42] #8300 closed

[2018-05-09 19:15] gfvirga commented on #8246
Hello,
The yum repo is still missing origin- packages for me. Is there any work around for this?

$ yum --disablerepo="*" --enablerepo="centos-openshift-origin37" list available | grep ^origin
origin-cluster-capacity.x86_64
origin-docker-excluder.noarch
origin-excluder.noarch      3.7.2-1.el7.git.0.cd74924  centos-openshift-origin37
origin-federation-services.x86_64
origin-service-catalog.x86_64
o

[2018-05-09 20:27] michaelcourcy commented on #8283
openshift-ansible do not change the dns directly but through /etc/NetworkManager/dispatcher.d/99-origin-dns.sh.

If you didn't set your dns in dhclient.conf or in /etc/sysconfig/network-scripts/ifcfg-?? or in  your own network manager the values in resolv.conf will be overwritten.

[2018-05-09 21:35] michaelcourcy opened #8315 "openshift_examples_modify_imagestreams has no effect on origin install"
#### Description

Provide a brief description of your issue here. For example:

openshift_examples_modify_imagestreams has no effect on origin install.

##### Version

Please put the following version information in the code block
indicated below.

* Your ansible version per `ansible --version` : 2.5.2

If you're operating from a **git clone**:

* The output of `git describe` : openshift-ansible-3

[2018-05-09 22:26] jmontleon opened #8316 "Upgrade from 3.9 w/o ASB to 3.10 w ASB does not work"
#### Description
The migrate.yml tasks try to operate on the non existent deployment config

##### Version

[code]

##### Steps To Reproduce
1. Install 3.9 without ASB
2. Upgrade to 3.10 with ASB

##### Expected Results
Upgrade succeeeds

##### Observed Results
[code]

##### Additional Information

If 3.9 was installed with ASB the upgrade works OK.

[2018-05-10 06:10] dusansusic commented on #8283
here is new inventory file i am using:
[code]

installation will pass with `ONE` master + `ONE` node and master specified in node block. If I add second node `ip-172-31-38-104.ec2.internal openshift_schedulable=True openshift_node_labels="{'region': 'infra'}"`, installation will fail because of:

[code]

the EC2 intance is provisioned from clean RH AMI, with this command executed before playing an

[2018-05-10 09:44] michaelcourcy commented on #8283
(disclaim I've never worked on amazon)

On node1 node2 or master what happens if you

    dig registry-1.docker.io

Does it resolves ?

From my understanding once openshift basic is installed when you make a dns request it's done locally to dnsmak which then forward it to your real dns or to the internal openshift dns for resolution on *.cluster.local

When I see you output

     lookup registry-1

[2018-05-10 13:44] mrogers950 opened #8321 "Don't create front-proxy-ca.crt manually"
The run of oc adm create-master-certs already generates the aggregator proxy CA as frontproxy-ca.crt, and the master config should point to this file name for authConfig.requestHeader.clientCA

[2018-05-10 14:01] euprogramador opened #8323 "Calicoctl is not found"
#### Description

Why calicoctl not found in cluster? why not install calicoctl?

##### Version

Openshift version 3.9 (tag 3.9.29-1)

##### Steps To Reproduce

1 install cluster
2 execute calicoctl in master node

##### Expected Results

expected command success execution.

##### Observed Results

command not found

##### Additional Information

N/A

[2018-05-10 15:12] ericlake commented on #4415
Defaulting to `registry.access.redhat.com` seems to make it difficult to install openshift-enterprise in an air gaped network. I have tried setting oreg_url to our internal docker registry and when doing so containers fail to pull during installation. Looking at the deployment config it seems to be trying to pull from `registry.access.redhat.com` still as opposed to our internal server.

I'm not e

[2018-05-10 15:37] michaelcourcy opened #8327 "Nodes has no role"
#### Description

Provide a brief description of your issue here. For example:

After a fresh install of origin 3.9 the node that should have a compute role has actually no roles. Master is ok.

    [vagrant@workstation ~]$ oc get nodes
    NAME                     STATUS    ROLES     AGE       VERSION
    master.lab.example.com   Ready     master    1h        v1.9.1+a0ce1bc657
    node1.lab.examp

[2018-05-10 15:49] vrutkovs commented on #8327
`openshift_manage_node` role should have done that, what's in your inventory and what's the output of `ansible-playbook -vv ..`?

[2018-05-10 16:40] JayKayy commented on #8076
I am getting this issue as well. I found the following information:

- that the template being used to create the daemonsets in my case seems to be using the wrong etcd value for `etcd_servers`. it looks like its using the msaters[0] host but my etcd isnt co-located.
- i have been unable to overwrite this `etcd_servers` variable in the inventory file.
- This issue didnt occur when our etcd servers

[2018-05-10 16:50] JayKayy commented on #7639
I had a similar issue see if it is similar to my comment here: https://github.com/openshift/openshift-ansible/issues/8076

[2018-05-10 16:51] JayKayy commented on #7611
see my comment here as i found similar behavior: https://github.com/openshift/openshift-ansible/issues/8076

[2018-05-10 16:52] JayKayy commented on #7578
I found similar behavior with my install. See my comment here: https://github.com/openshift/openshift-ansible/issues/8076

[2018-05-10 18:22] nalet opened #8332 "Update from 3.7 to 3.9 failed with the openvswitch task"
#### Description

I'm trying to update an ansible installation from 3.7 to 3.9 using the upgrade playbook.

openshift-ansible/playbooks/byo/openshift-cluster/upgrades/v3_9/upgrade.yml

I get the following error on step openshift_node : download openvswitch upgrade rpm:
[code]

##### Version

CentOS 7.4

* Your ansible version per `ansible --version`
[code]
* The output of `git describe`
openshift-

[2018-05-10 19:48] michaelcourcy commented on #8327
Thanks for your hint it helps me.

In my inventory I have 3 nodes 1 master and 2 nodes which are labeled infra.

    # host group for masters
    [masters]
    master.lab.example.com openshift_ip=172.25.250.10

    # host group for etcd
    [etcd]
    master.lab.example.com openshift_ip=172.25.250.10

    # host group for nodes, includes region info
    [nodes]
    master.lab.example.com openshift

[2018-05-10 19:48] #8327 closed

[2018-05-10 21:01] vrutkovs commented on #8327
`'region': 'infra'` is deprecated, now `node-role.kubernetes.io/compute: infra` is used instead. Its a bit weird that the code didn't mark all the other nodes as compute but it depends on the inventory settings

[2018-05-10 23:15] michaelcourcy commented on #8327
Ah ...

    node-role.kubernetes.io/compute: infra

is a way to say that the node is both infra and compute ?

[2018-05-11 07:57] #8264 closed

[2018-05-11 08:13] vrutkovs commented on #8327
Its considered deprecated, IIRC openshift-ansible would automatically mark these with `node-role.kubernetes.io/role: infra`.

Sorry, there was a typo in my previous comment (`s/compute/role`).

Its the other way around - by default any non-master non-infra node would be marked as compute, so in order to make the node both infra and compute it should have both labels.

[2018-05-11 10:27] MarWestermann opened #8342 "Upgrade from 1.5 to 3.6 fails on "Verify docker upgrade targets""
#### Description

Upgrading from 1.5 to 3.6 using ansible playbook
Branch: release-3.6

##### Version
[code]
##### Steps To Reproduce
1. Have openshift 1.5 installed
2. run ansible-playbook playbooks/byo/openshift-cluster/upgrades/v3_6/upgrade.yml

##### Expected Results
Update should succeed

##### Observed Results
The upgrade fails with docker version error

[code]

##### Additional Information

[2018-05-11 10:35] vrutkovs commented on #8342
Make sure your nodes didn't get docker 1.13 from RHEL / CentOS 7.5 installed - you may need to downgrade it and set includers

Also note that ansible 2.5.2 may not work with 1.5/3.6 code, so its recommended to use ansible 2.3

[2018-05-11 11:24] lukas-vlcek opened #8343 "Invalid Prometheus REST endpoint URL for ES nodes"
The logging-es-prometheus [service is set invalid path](https://github.com/openshift/openshift-ansible/blob/61cdb65cdc5967589bac8329ccd668be408119dd/roles/openshift_logging_elasticsearch/tasks/main.yaml#L398). In particular the `prometheus.io/path` is set to `_prometheus/metrics`. This leads to issues, see https://github.com/openshift/openshift-ansible/issues/7986#issue-314965955 for example.

It

[2018-05-11 11:28] MarWestermann commented on #8342
Hi @vrutkovs
Thank you for your quick response.
No it did not install 1.13.. it is still on 1.12.6.. But I'm not sure what you mean with setting includers. Can you please point me to the right direction?
I also downgraded ansible to 2.3

[2018-05-11 11:49] vrutkovs commented on #8342
Sorry, I meant "excluders". These should be enabled by default.

It seems the play can't find docker RPM. Do you have repos setup correctly? What's your inventory and the output of ansible-playbook?

[2018-05-11 11:51] lukas-vlcek commented on #7986
The `prometheus.io/path` for Elasticsearch prometheus service is invalid. I opened a ticket for this https://github.com/openshift/openshift-ansible/issues/8343 and linked relevant PR.

However, there is another issue, the path `/_prometheus/metrics` **SHOULD** be used only in connection to port `9200`. There is no point in making Prometheus scrape ports `9300` or `4443`. How can we fix that?

[2018-05-11 12:07] MarWestermann commented on #8342
This is my inventory: https://github.com/openshift/openshift-ansible/issues/8342
and this the last lines of ansible playbook log: https://pastebin.com/SzM7zhF8

[2018-05-11 12:16] vrutkovs commented on #8342
The inventory looks good, so I suspect something is wrong with repos on machines

Could you rerun the playbook with `ansible-playbook -vvv`?

[2018-05-11 12:41] MarWestermann commented on #8342
here is the log of playbook -vvv:
https://gist.github.com/MarWestermann/21fe94de7331a0f71963308ac26f75e6

[2018-05-11 13:00] vrutkovs commented on #8342
I see the facts list docker 1.12 installed, but the log doesn't have the error part, could you attach last 100 lines of the log with `-vvv`?

[2018-05-11 13:01] MarWestermann commented on #8342
at the top of the output there is a hint that the output is truncated but when you click on the link provided there you'll see the hole file..

maybe error is that the command:
[code]
does not have output.. but it would have for "docker-ce"

[2018-05-11 13:08] vrutkovs commented on #8342
Oh, that explains it. Docker CE is not supported, so you'll need to enable a repo, which has `docker` package - this would be installed instead

[2018-05-11 13:18] MarWestermann commented on #8342
ok, but cannot find informations about which repo to add to centos for the correct docker version?!

[2018-05-11 13:36] MarWestermann commented on #8342
does that mean one needs a docker-ee subscription?

[2018-05-11 13:37] vrutkovs commented on #8342
`docker` package should be available in (extras)[http://mirror.centos.org/centos/7/extras/x86_64/Packages/]

[2018-05-11 13:55] MarWestermann commented on #8342
OK, thank you very much for your help!

[2018-05-11 14:16] lukas-vlcek commented on #7986
To make it more clear, this is what I am talking about:
![screen shot 2018-05-11 at 15 27 41_edit](https://user-images.githubusercontent.com/205174/39928635-34cd81ac-5536-11e8-848e-b4743a751579.jpg)
If we make it work via proxy (4443) then we should stop scraping other ports (9200 and 9300).

I had a quick discussion about this with @jcantrill and he had an idea of creating a new extra Prometheus

[2018-05-11 18:08] pat2man commented on #7986
@lukas-vlcek you can annotate the service with prometheus.io/port to restrict it to the correct port

[2018-05-11 19:13] #8316 closed

[2018-05-11 19:51] jim-minter opened #8353 "azure image builds broken after `install: verify that at least one master is schedulable`"
[code]

relevant PRs are:
https://github.com/openshift/openshift-ansible/pull/7911
https://github.com/openshift/openshift-ansible/pull/8341

[2018-05-11 19:52] jim-minter commented on #8353
Need a fix for release-3.9 and may have a knock-on effect on the master work in progress

@kwoodson please can you work on this?

[2018-05-11 19:53] jim-minter commented on #8353
/assign kwoodson

[2018-05-12 05:41] rydeng opened #8357 "there is no origin-control-plane:v3.9"
why there is no origin-control-plane:v3.9？

[2018-05-12 15:06] michaelcourcy commented on #8327
ok thanks

[2018-05-12 19:37] jfmatth opened #8358 "Image tags aren't consistent"
The image tags for 3.6, 3.7, 3.8 all have vX.Y.0 behind them, but 3.9 does not.

The images on docker.io for 3.9 is 3.9, not 3.9.0 like other builds.

Consequently, when you specify 3.9.0 in your inventory, it will build, but metrics and logging won't pull down until you adjust to 3.9 on the image tag.

Hope this makes sense.

[2018-05-13 03:38] okamototk opened #8359 "oc replace"
#### Description

Provide a brief description of your issue here. For example:

##### Version

Please put the following version information in the code block
indicated below.

* Your ansible version per `ansible --version`

If you're operating from a **git clone**:

* The output of `git describe`

If you're running from playbooks installed via RPM

* The output of `rpm -q openshift-ansible`

Place

[2018-05-14 07:53] MarWestermann commented on #8342
FYI: I found the main reason why the update fails.. In yum.conf there was a line exclude= tuned-profiles-origin-node  origin-tests  origin-sdn-ovs  origin-recycle  origin-pod  origin-node  origin-master  origin-dockerregistry  origin-clients-redistributable  origin-clients  origin  docker*1.20*  docker*1.19*  docker*$

I'm quite sure this comes from installation of origin 1.5

[2018-05-14 08:46] vrutkovs commented on #8353
Which groups does Azure use? Given that we test against AWS and GCP there are only two groups: `oo_masters_to_config` and `oo_nodes_to_bootstrap` (for GCP)

[2018-05-14 08:58] vrutkovs commented on #8357
Images were renamed in 3.10 cycle, this change won't be applied to 3.9

[2018-05-14 08:58] #8357 closed

[2018-05-14 09:02] vrutkovs commented on #8359
Duplicate of #5987

[2018-05-14 09:02] #8359 closed

[2018-05-14 09:38] ntfs32 commented on #7883
@adawolfs  thinks , openshift origin version 3.7, must `openshift_metrics_image_version=v3.7.1`...

and you should nerver forget set Readiness Probe delay, initstal db need some times.

[2018-05-14 11:04] kargakis opened #8362 "Update ansible service borker api to run as a kubernetes deployment"
@jim-minter I am observing the etcd asb deployment is always slow to come up compared to the rest of the components. This may lead in a failed rollout of the api server because of the 10m timeouts DeploymentConfigs use by default. I am suggesting to switch `asb` to run as a kubernetes Deployment since that does rely on a controller loop and will eventually ensure that the api server gets deployed.

[2018-05-14 11:23] a-zcomp opened #8363 "Cant upgrade Origin 3.7 - 3.9 using playbook"
#### Description

When trying to perform an upgrade from Origin 3.7 to 3.9 using playbooks/byo/openshift-cluster/upgrades/v3_9/upgrade.yml an error saying I need to upgrade from 3.8 is shown

##### Version

Please put the following version information in the code block
indicated below.
[code]
##### Steps To Reproduce

1. Run 3.9 upgrade playbook against 3.7 install

##### Expected Results

Openshi

[2018-05-14 11:30] vrutkovs commented on #8363
Upgrade from 3.7 to 3.9 requires both 3.8 and 3.9 repos to be enabled. Make sure you have https://cbs.centos.org/repos/paas7-openshift-origin38-release/x86_64/os/Packages/ repo enabled

[2018-05-14 14:26] vrutkovs commented on #8353
@kwoodson okay, I see. #8364 has the fix for that and should be merged soon

[2018-05-14 14:34] MarWestermann commented on #8342
I investigated further:
when I remove docker* excludes from yum.conf the problem occurres again cause docker*1.13* is excluded by the playbook itself again.
But then no docker version can be found.. and the extras repository responses with 1.13.1 when not excluded.

[2018-05-14 14:39] kwoodson commented on #8353
@vrutkovs, test against #8364 and it worked on 3.9.  Please also open against master.

[2018-05-14 16:28] MarWestermann opened #8369 "update from 1.5 to 3.6 fails with No package matching 'origin-3.6.1'"
#### Description

Upgrading from 1.5 to 3.6 using ansible playbook
Branch: release-3.6

##### Version
[code]
##### Steps To Reproduce
1. Have openshift 1.5 installed
2. run ansible-playbook playbooks/byo/openshift-cluster/upgrades/v3_6/upgrade.yml

##### Expected Results
Update should succeed

##### Observed Results
Error: No package matching 'origin-3.6.1' found available, installed or updated

L

[2018-05-14 17:13] anroots commented on #8332
Similar case - upgrading from `3.7.0` to `3.9` (`release-3.9` branch as of cb1183bcfa4f4f3ecd7702f59af05f6cd6dc974e) on a CentOS box. Upgrade stopped at an error about `openvswitch`.

Looked at [the task that was failing](https://github.com/openshift/openshift-ansible/blob/release-3.9/roles/openshift_node/tasks/upgrade/rpm_upgrade.yml#L22) - was surprised to find the variable suffix `-sdn` to be w

[2018-05-14 18:11] MarWestermann commented on #8369
I found out that the origin package is excluded on master via yum.conf:
[code]
But this exclude was added by the playbook itself.. wondering why it excludes a package it wants to install later.

[2018-05-14 19:26] jim-minter commented on #8362
+1.  Thanks for opening.  Presumably the underlying issue is speed of create/attach of the underlying Azure disk.

[2018-05-14 20:58] #8343 closed

[2018-05-14 21:53] ben-le opened #8371 "Bare-metal image builds broken after run playbooks/prerequisites.yml"
#### Description
I got the following error message when running playbooks/prerequisites.yml on Bare-metal host

TASK [openshift_sanitize_inventory : At least one master is schedulable] *********************************************************************************************************
Monday 14 May 2018  21:31:02 +0000 (0:00:00.553)       0:00:26.673 ************
fatal: [10.11.200.11]: FAILED

[2018-05-14 22:07] michaelgugino commented on #6457
Perhaps just doing the new_master first (not adding the host to etcd or new_etcd), then after scaling masters complete, add that host to the new_etcd group and run scale etcd play.

[2018-05-15 05:28] listening-j opened #8372 "can't upgrade from origin 3.6 to 3.7"
#### Description
I have a openshift origin version 3.6.0 cluster before.and now I want upgrade it to version 3.7

upgrade command:
ansible-playbook ./playbooks/byo/openshift-cluster/upgrades/v3_7/upgrade.yml  -vvv

something wrong:
TASK [etcd : Check selinux label of '/var/lib/etcd/'] ************************************************************************************************
task path: /root/

[2018-05-15 14:24] MrBones757 opened #8376 "Openshift Origin 3.9 Install Failure - origin-master-api restart failure"
#### Description

On a single node install (and single master multiple node) of origin using awx, the install fails with the message:
[code]
##### Version
Ansible Version (running inside awx_task container)
[code]

Git Describe
[code]

##### Steps To Reproduce
1. Fresh install of CentOS 7 Minimal W/ pass-wordless sudo and ssh key (machine credential within AWX)
1. run the prerequisites playbook
2.

[2018-05-15 14:44] vrutkovs commented on #8353
Fixed by https://github.com/openshift/openshift-ansible/pull/8364

[2018-05-15 14:44] #8353 closed

[2018-05-15 14:45] #8371 closed

[2018-05-15 14:55] vrutkovs commented on #8376
What's the output of `journalctl -b -l --unit=origin-master-api` on the failing node?

[2018-05-15 15:08] MrBones757 commented on #8376
From what i cant see. The following is repeated over and over again:
It is registering like 23,000 Lines or something
[code]

[2018-05-15 15:53] aveshagarwal opened #8379 "Remove ServiceAntiAffinity priority function from default configuration"
I'd recommend to remove ServiceAntiAffinity priority function from default configuration. That means removing following: https://github.com/openshift/openshift-ansible/blob/master/roles/lib_utils/lookup_plugins/openshift_master_facts_default_priorities.py#L47-L56

And the reason for removal is that:

1. By default, SelectorSpreadPriority work on `region` (failure-domain.beta.kubernetes.io/region)

[2018-05-15 17:10] sdodson commented on #8379
I think that exists to support zones outside of cloudproviders which would provide the labels you're talking about. If `zone` is not defined in the labels for a host where kubernetes provides `failure-domain.beta.kubernetes.io/region` does that create a problem?

[2018-05-15 17:44] sdodson commented on #8379
Yes, they deliberately label their hosts `region=primary,zone=east` `region=primary,zone=west`, `region=infra,zone=east`, `region=infra,zone=west`. https://docs.openshift.com/container-platform/3.9/install_config/install/advanced_install.html#configuring-node-host-labels

Maybe we should make region and zone mutually exclusive with any configured cloudprovider or a list of known cloud providers?

[2018-05-15 18:14] #7075 closed

[2018-05-16 03:14] #8372 closed, assigned to nobody

[2018-05-16 04:04] robbmanes commented on #7952
I missed it at first too; it looks like `ansible_python_interpreter=/usr/bin/python3` is uncommented later on in the sample file provided, it is the last line in the `[OSEv3:vars]` section.

For anyone else who comes across this and you continue to experience this error despite having `ansible_python_interpreter=/usr/bin/python3` in your inventory, you have to ensure that the host you're running t

[2018-05-16 05:36] BigBlueWhale0 opened #8385 "Adding new node Failure - "/bin/lsblk --list --noheadings --paths --output NAME,UUID --exclude 2, Timer expired""
#### Description
Hi, everybody. Can you help me?
I have got some cluster which includes 3 master nodes and 6 action nodes  on Openshift origin 3.6.
When I'm trying to add new node to existing cluster through openshift ansible, I get  error:
[code]
I'm executing playbook /usr/share/ansible/openshift-ansible/playbooks/byo/openshift-node/scaleup.yml from master-02 by my private user, who has got perm

[2018-05-16 06:37] lentzi90 commented on #4950
Could this check be done by the prerequisites.yml playbook? It seems strange to be able to run through the prerequisites and then fail on this when running deploy_cluster.yml.

[2018-05-16 08:48] vrutkovs commented on #8385
Looks like https://github.com/ansible/ansible/issues/10779#issuecomment-228258891 to me - the task times out and facts are corrupted

[2018-05-16 10:02] DanyC97 commented on #8363
@a-zcomp can we close this issue now that @vrutkovs provided the correct answer ?

[2018-05-16 10:35] #7009 closed

[2018-05-16 11:41] jkroepke commented on #8267
We got the same error.

Ansible 2.5.2
Commit: 5c1207cd2c63736e93168e77c30a6b0fbd05afc9

Host: Ubuntu 18.04
[code]

[2018-05-16 13:10] tusharsanas commented on #7744
Hi ,

We are also facing the same issues, we are not able to see deploy_cluster.yml in dropdown list.
Please can anyone suggest what are the action steps to be taken for add deploy_cluster.yml in dropdown list.

[2018-05-16 13:21] hansmi opened #8388 "etcd role references non-existent binary in quay.io image"
#### Description

Commit 5d5d25bf1 changed the default etcd image for containerized Origin installations from `registry.fedoraproject.org/latest/etcd` to `quay.io/coreos/etcd:v3.2.15`. The generated systemd service contains `--entrypoint=/usr/bin/etcd`:

[code]

That binary doesn't exist, however:

[code]

##### Version

`master` branch as of May 16, 13:20 UTC, `openshift-ansible-3.10.0-0.47.0-4-g

[2018-05-16 13:42] tusharsanas commented on #7744
Hi,

If i require it now, to continue with my openshift3.9 deployment through anisble tower , i need to put the file ansible.pyc file in tower, but may i know in tower in which path should i place this file?
Sorry!!!, being new in Ansible Tower please can you provide me more details

[2018-05-16 13:52] kargakis opened #8389 "azure: integrate image build process with launch"
GCE deployments support running the node build process as part of launch.yml via `openshift_gcp_build_image`. We should do something similar in Azure (at least going to simplify our PR jobs).
[code]
@jim-minter @kwoodson @pweil-

[2018-05-16 14:58] vrutkovs commented on #8267
Does it work with ansible 2.4?

[2018-05-16 15:06] vrutkovs commented on #8388
This systemd is being removed during install and won't be used anymore. Instead a static pod with etcd image would be setup

[2018-05-16 15:06] #8388 closed

[2018-05-17 06:51] ubwa commented on #8363
Tried the above, added the above repo to the servers however it still fails for the same reason.

BTW - is the above in the documentation? The documentation for origin also seems to have a line that says:

"Ensure the openshift_deployment_type parameter in your inventory file is set to openshift-enterprise."

Is this accurate?

[2018-05-17 07:06] joseorpa commented on #6941
The same issue here, have you take any action to perform the upgrade?

[2018-05-17 07:40] lentzi90 opened #8398 "Wrong resturl in StorageClass glusterfs-registry-block (3.9)"
#### Description

Both storage classes have the same `resturl` when deploying a cluster with `[glusterfs]` and `[glusterfs_registry]`.

##### Version

Version information in the code block below.

[code]

##### Steps To Reproduce
1. Follow [this](https://redhatstorage.redhat.com/2018/03/28/container-native-storage-3-9/) guide for the inventory file, but make the `...glusterfs_storageclass_default=

[2018-05-17 07:42] stzilli commented on #6941
I've changed the failing command in `playbooks/common/openshift-cluster/upgrades/v3_7/validator.yml` adding `--config={{ openshift.common.config_base }}/master/admin.kubeconfig` (I think the admin.kubeconfig path was this one .. I hope my memory is not failing me) to have it authenticate as system:admin.

[2018-05-17 08:02] BigBlueWhale0 commented on #8385
Great. This is right for solution to the my problem. I set 'gather_timeout = 20' in ansible.cfg and ' timeout(seconds=20, error_message="Timer expired"):' in ./lib/ansible/module_utils/facts.py. At the moment it's working, but the all process takes much longer.
Thank you!

[2018-05-17 08:10] #8385 closed

[2018-05-17 08:39] Caplost commented on #7866
When I list etcd as OSEv3 group , but still failed!
centos 7.4 , use openshift 3.7.2

my inventory file
 `[OSEv3:children]
masters
nodes
etcd

# Set variables common for all OSEv3 hosts
[OSEv3:vars]
ansible_ssh_user=root
openshift_deployment_type=origin
openshift_release=3.7.2
openshift_disable_check=disk_availability,docker_storage,memory_availability,docker_image_availability
openshift_hostname_

[2018-05-17 08:51] gbenhaim opened #8399 "Failed to install Openshift 3.10 because of missing packages"
#### Description

Failed to install Openshift 3.10 because of missing packages.

##### Version

[code]

##### Steps To Reproduce

Run `deploy_cluster.yml` playbook

##### Expected Results
[code]

##### Observed Results
[code]
[code]

##### Additional Information

* Centos 7.5
* https://gist.github.com/gbenhaim/1f816581e2b1d3d0db2dd7c6796d3ddd

- I also didn't see that origin-*-3.10* is available i

[2018-05-17 09:40] nak3 opened #8400 "Upgrade playbook reconciles SCCs and destroy existing clusters"
#### Description

- Upgrade playbook reconciles SCCs and destroy existing clusters.

##### Steps To Reproduce

(Just one of examples)

1. Adds `nfs` to `restricted` scc as:

[code]

2. Run upgrade playbook

- `nfs` is dropped from volumes after running playbook.

[code]

##### Expected Results

- If upgrade playbook makes critical change like this, playbook should stop and let users notice it.

##

[2018-05-17 10:50] skunkr opened #8401 "Fluentd - unexpected error error="hostname \"kubernetes.default.svc.cluster.local\" does not match the server certificate""
#### Description

On a fresh installation, logging-fluentd pod is not starting, nor kibana ui can be accessed.

##### Version

Please put the following version information in the code block
indicated below.

If you're operating from a **git clone**:

openshift-ansible-3.9.29-1-34-g1ecdd23

If you're running from playbooks installed via RPM

* The output of `rpm -q openshift-ansible`

Place the out

[2018-05-17 13:11] jkroepke commented on #8267
It works with Ansible 2.5 on Python 2:

[code]

[2018-05-17 13:12] skunkr commented on #8401
Once I have configured
openshift_master_logging_public_url=https://_openshift.console.public.url_:8443
and
openshift_logging_master_url=https://kubernetes.default.svc
logging seemd to be fine...

[2018-05-17 13:49] riponbanik commented on #8130
Do you guys care about building a working software or is it just a platform for us to do trial and error so that you guys can fix the issue for the Enterprise? Fixing one issue and coming up with another. The same ansible run behaves differently at different time. It sucks!!!

[2018-05-17 14:03] victorvoronin opened #8410 "Origin 3.7 installation failed"
#### Description

Simple 1 master and 2 nodes install.

##### Version

ansible --version
ansible 2.5.2

git describe
openshift-ansible-3.7.48-1-4-g1283ae7

##### Steps To Reproduce
1. set inventory values to install 3.7.2 version:
openshift_release=v3.7
openshift_pkg_version=-3.7.2-1.el7.git.0.cd74924
2. run config.yml playbook

##### Expected Results
Openshift origin 3.7.2 cluster installed

####

[2018-05-17 14:38] vrutkovs commented on #8130
`openshift_dns_ip` might work

Did the deploy finish? Were pods in `openshift-web-console` namespace created?

[2018-05-17 14:42] camjoex opened #8413 "Installing openshift origin 3.9 by using ansible playbook failed"
#### Description
Hello
I'm trying to deploy openshift origin version 3.9 on my infa.
3 Masters
3 Nodes
3 Separate Nodes for ETCD cluster

I'm using the release tag 3.1.0-0.47.0 for openshift-ansible for deploy my stack.

Playbook prerequisite.yml has no return any problem of my all server configuration and needed packages.

When i start the playbook deploy_cluster.yml, it failed after long minutes

[2018-05-17 14:48] camjoex commented on #8413
No pb with IPs, it just locally dns
oc-master1 -> 1.0.12.21

[2018-05-17 15:06] camjoex commented on #8413
Kubelet is launched by script origin-node.service on that server
[code]

[2018-05-17 15:10] victorvoronin commented on #8410
Sorry, forgot to write
TASK [openshift_node : Install Node package] updates version to 3.9 (that couldn't take place with expected behavior)
Then
TASK [openshift_node : Install sdn-ovs package] have been failed

[2018-05-17 15:16] vrutkovs commented on #8413
This is from 3.10 tag / master, is that the branch you're using? It won't run 3.9 package, use `release-3.9` branch for that

[2018-05-17 15:16] #8413 closed

[2018-05-17 15:17] vrutkovs commented on #8410
A forced update to 3.9 should be mitigated by excluders - do you have those enabled?

[2018-05-17 15:32] AlbertoPeon commented on #7691
I am also hitting this with 3.9 branch. Is there any know fix/workaround?

CC/ @wshearn @abutcher

[2018-05-17 15:47] MrBones757 commented on #8376
Have you found a way around this? If anyone wants me to try anything I'd be more than happy to. I can snapshot my vm and revert it back to the current state for trying many things. :)

[2018-05-17 19:13] lomori commented on #7247
Did you figure out the problem? I'm hitting the same issue...

[2018-05-17 20:14] kwoodson opened #8422 "openshift_service_catalog unknown flag --enable-admission-plugins"
#### Description

Provide a brief description of your issue here. For example:
When deploying the openshift_service_catalog in 3.10 the container fails.

##### Version

Please put the following version information in the code block
indicated below.

* Your ansible version per `ansible --version`
[code]
Place the output between the code block below:

[code]

##### Steps To Reproduce
1. Call the ope

[2018-05-17 20:18] kwoodson commented on #8422
@jboyd01, It looks like you added this option recently.  Is this working on latest?

[code]

[2018-05-17 20:54] jboyd01 commented on #8422
@kwoodson  yes, this is working in master.  My guess is you have an older service-catalog image running with a newer OpenShift.  Can you ensure your service-catalog is current, within the last week or so?

The service-catalog API Server and Controller pods both dump the catalog version at the start of their log files, or you can run the image with the -v flag to get the version.
either of these sh

[2018-05-17 21:00] jjbeber commented on #7247
Yes, in my case was the external load balancer that was not in SSL pass trough mode, I was trying to use the ACM certificate, but that's not possible.

Closing this issue.

[2018-05-17 21:00] #7247 closed

[2018-05-17 21:01] kwoodson commented on #8422
@jboyd01,

I have torn down this cluster.  This was at the top of the docker logs:

[code]
I will redeploy and get back to this.  Is it possible our image on docker hub is out of date?

[2018-05-17 21:12] jboyd01 commented on #8422
Yeah, v3.10.0 is old (I'd like to say really old, but its all relative) and definitely not compatible with current OpenShift builds which are starting catalog apiserver with the newish flag `--enable-admission-plugins`.

Sorry for the issues, upstream introduced this breaking change and we didn't realize it until it was too late to make it a non-breaking flag change.

[2018-05-18 02:17] sdodson commented on #8267
Yeah, we probably need to set a static locale when looking at the time if we're attempting to parse the time.

[2018-05-18 05:01] riponbanik commented on #8130
@vrutkovs Thanks. I know about that, although origin documents discourage using it as below. I have resolved the issue by seeing dnsIP instead in /etc/origin/node/node-config.yaml. Deployment did not finish but could now build image, upload to internal registry and deploy the container by manually modifying some config.

"Instead, allow the installer to configure each node to use dnsmasq and forwa

[2018-05-18 06:18] bortek commented on #5466
I am hitting this only on some of the nodes after I upgraded from 3.6 to 3.7.42-1. I potentially have the same issue on one 3.6 node too as it's resolv.conf looks different than the others.

In my case it was fixed by just restarting NetworkManager. I rebooted the node too to see if it was still ok and it was OK. Apparently some race condition still going on.

[2018-05-18 06:42] victorvoronin commented on #8410
No, could you please clarify how to do it?

[2018-05-18 07:17] #8400 closed

[2018-05-18 07:36] vrutkovs commented on #8130
It discouraged in general, but it seems to do what's required in this case

127.0.0.1 is specified as a server in dnsmasq, in /etc/dnsmasq.d/ configs, is it being set there?

Lets create one ticket per problem, for instance previous comments list at least three different not linked issues

[2018-05-18 07:39] vrutkovs commented on #8410
These should be enabled by default - `openshift_enable_excluders` var would make sure your yum would exclude origin packages with other version.

Make sure you have it set to `true` and please include inventory and the output of `ansible-playbook -vvv` output if the issue still occurs

[2018-05-18 07:50] AlbertoPeon commented on #7691
I can see that the check for node availability [is gone for v1.10](https://github.com/openshift/openshift-ansible/blob/openshift-ansible-3.10.0-0.47.0/roles/template_service_broker/tasks/install.yml). Could you issue a release of 3.9 with this?

The commit seems to be [this](https://github.com/openshift/openshift-ansible/commit/1832c8e3037443ba9379f8e61513723ff65e90ea). Would it be possible to bac

[2018-05-18 08:09] vrutkovs commented on #7691
Which version of `oc` is installed there?

ASB is now running on master, but the check remains for other components (e.g. Prometheus). Which component threw this error?

[2018-05-18 09:43] riponbanik commented on #8130
ya sure.

[2018-05-18 09:43] #8130 closed

[2018-05-18 09:47] riponbanik opened #8430 "Openshift Service Catalog - 500 Internal Server error"
#### Description

Provide a brief description of your issue here. For example:

It is a single master and 2 nodes deployment using ref in using rpm package instead of docker image

https://docs.openshift.org/latest/install_config/install/advanced_install.html#single-master

##### Version

Please put the following version information in the code block
indicated below.

* Your ansible version per `a

[2018-05-18 09:51] vrutkovs commented on #8430
Duplicate of #8195

[2018-05-18 09:51] #8430 closed

[2018-05-18 10:49] #7195 closed

[2018-05-18 11:03] #8159 closed

[2018-05-18 11:07] vrutkovs commented on #8229
I don't think there is any difference. This issue is that an incorrect certs are being issued.

Has there been any luck with getting more details, like inspecting a cert or router container logs?

This should at least be a separate issue, although I'm not following which option is causing this uninstall playbook to fail

[2018-05-18 12:35] vrutkovs commented on #7691
`origin-clients` should have been updated by the time ASB update hits. Do you have a full update log?

[2018-05-18 12:51] AlbertoPeon commented on #7691
We are actually running the service-catalog playbook on its own, not the full upgrade playbook (sorry for not clarifying this first).

Do you think it will make a difference to havethe  `oc` client upgraded to 3.9 first?

[2018-05-18 12:51] lukas-vlcek opened #8431 "Specify service port for Prometheus scraping"
We shall specify `prometheus.io/port` for `logging-es-prometheus` service in `openshift-logging` project. This will stop Prometheus [scraping on ports `9200` and `9300`](https://github.com/openshift/openshift-ansible/issues/7986#issuecomment-388376960).

[2018-05-18 12:57] lukas-vlcek commented on #7986
@pat2man right, there is PR to fix that: https://github.com/openshift/openshift-ansible/pull/8432

[2018-05-18 13:01] vrutkovs commented on #7691
Yes, its necessary to make this error go away

[2018-05-18 13:13] AlbertoPeon commented on #7691
Thanks @vrutkovs ! I will give it a try with the updated clients!

[2018-05-18 13:16] camjoex opened #8433 "Installation openshift 3.9 failed using ansible"
#### Description
Hello

I'm trying to install openshift 3.9 with 3 Master / 3 Etcd / 2 Nodes with openshift-ansible release-3.9.
Task playbook seems ok until "Service Catalog Install"

[code]

On master, i have problem when i'm trying to list node
[code]
Hostfile Ansible
[code]
Label com5sctnt601 and oc-master1 are identically ip

Any idea for help ?
Thank you

[2018-05-18 13:47] fmq opened #8434 "Failed to Install Openshift 3.9 using Ansible."
#### Description

I'm trying to install Openshift release 3.9 using Ansible and it fails with the following message:

[code]

I did previously ran the prerequisites for 3.10, but before executing prerequisite for 3.9 again I ran

[code]

##### Version

[code]

##### Steps To Reproduce
First configure /etc/ansible/hosts

1. git clone https://github.com/openshift/openshift-ansible
2. cd openshift-an

[2018-05-18 13:57] leseb commented on #6574
I'm hitting this on the latest docker-ce because I ran into an issue where openshift-ansible was complaining about the current docker version on CentOS. So I decided to take wether is the most recent, but encountered this issue too.

Do we have a clear list somewhere of the supported version of Docker?

[2018-05-18 14:23] lomori opened #8437 "Where is openshift/origin-node v3.9?"
Trying to install Origin locally but install fails when it can't pull that image.

[2018-05-18 14:33] vrutkovs commented on #8433
This report contains 2 different report - wrong certs for nodes and service catalog issue.
Also, in 3.9 all masters need to be listed as nodes.

Please open new tickets, including full inventory and the output of `ansible-playbook -vvv`. Don't forget to specify which repos, install type and openshift-ansible branch / commit you are using

[2018-05-18 14:33] #8433 closed

[2018-05-18 14:35] vrutkovs commented on #8434
This directory is present in master branch only, you need a clean 3.9 checkout (or at least `git clean -fdx`)

[2018-05-18 14:35] #8434 closed

[2018-05-18 14:36] vrutkovs commented on #6574
Yes - https://docs.openshift.com/container-platform/3.7/install_config/install/host_preparation.html#installing-docker

[2018-05-18 14:36] camjoex commented on #8433
Thank you i solve my firt problem certificat by generating another and purge content file .kube/config an regenerate playbook

[2018-05-18 14:36] #6574 closed

[2018-05-18 14:40] vrutkovs commented on #8437
Use `release-3.9` to install 3.9 (it would use `openshift/node`), it won't work with master.

[2018-05-18 14:40] #8437 closed

[2018-05-18 14:42] lomori commented on #8437
/open
 I'm using release-3.9.

[2018-05-18 14:45] kwoodson commented on #8422
@jboyd01,

Looks like 3.10.0 was updated 4 hours ago.  Does this reference the correct version?
https://hub.docker.com/r/openshift/origin-pod/tags/

[2018-05-18 14:50] maxamillion opened #8438 "the cockpit-ui role deploys to compute nodes and not infra nodes"
#### Description

Registry Console deployed via `openshift-ansible`'s `roles/cockpit-ui` role which uses the `registry-console` template as deployed via the `roles/openshift_hosted_templates` role and that template does not have a `nodeSelector` field in it as of the `openshift-ansible` `3.9.29` release. I'm unsure of how to resolve this in the best way because I'm unfamiliar with the implications

[2018-05-18 14:50] maxamillion commented on #8438
Also, for reference this originated here -> https://github.com/Azure/acs-engine/issues/2895

[2018-05-18 14:53] leseb commented on #6574
@vrutkovs thanks.

[2018-05-18 15:04] vrutkovs commented on #8437
What's the output of `ansible-playbook -vvv` then? 3.9 branch should use `openshift/node` instead

[2018-05-18 15:26] fmq commented on #8434
@vrutkovs, exactly, thats my point.

I do not know from where Ansible has decided it needs to install v3.10 of the examples when it's trying to run the additional packages, that's the error I'm reporting, this directory will never be found, but I do not know why it's trying to install it, except that my previous attempt to install MASTER left something laying around that I can't find.

here's what

[2018-05-18 15:29] vrutkovs commented on #8438
The best way would be extending the template with `NODESELECTOR` parameter - and filling it in with `openshift_hosted_registry_console_nodeselector`, which would default to `openshift_hosted_infra_selector`

[2018-05-18 15:34] lomori commented on #8437
Humm, what is the best way to do it? Tried an attachment but it bounced back. The output has 78K+ lines, 5MB uncompressed.
Regards,Luiz
    On Friday, May 18, 2018, 11:04:32 AM EDT, Vadim Rutkovsky <notifications@github.com> wrote:

What's the output of ansible-playbook -vvv then? 3.9 branch should use openshift/node instead

—
You are receiving this because you authored the thread.
Reply to this

[2018-05-18 15:37] vrutkovs commented on #8434
Maybe facts cleanup would fix it?

[2018-05-18 15:39] vrutkovs commented on #8437
gist.github.com should probably work. A tar.gz with logs is okay too

[2018-05-18 15:40] lomori commented on #8437
...and  I'm on RHEL 7 server with atomic package installed through yum and trying to install containerized=true.

  Humm, what is the best way to do it? Tried an attachment but it bounced back. The output has 78K+ lines, 5MB uncompressed.
The error:
TASK [openshift_node : Pre-pull node image when containerized] ***************************************************************************************

[2018-05-18 15:41] lomori commented on #8437
Here it is. See attached.
    On Friday, May 18, 2018, 11:39:19 AM EDT, Vadim Rutkovsky <notifications@github.com> wrote:

gist.github.com should probably work. A tar.gz with logs is okay too

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-05-18 15:47] jpeeler commented on #8422
For the record, the catalog images are here:
https://hub.docker.com/r/openshift/origin-service-catalog/tags/

For origin, v0.1 is the latest release.

[2018-05-18 15:59] fmq commented on #8434
I'm no Ansible expert.. so any suggestions on how to run cleanup ?
I only run the uninstall between runs:
[root@origin-m openshift-ansible]# ansible-playbook playbooks/adhoc/uninstall.yml

Regards

[2018-05-18 16:13] atiato opened #8440 "Openshift after upgrading from 3.7 to 3.9 failed to run my own micro-services due to manifist not found."
#### Description

when I Upgrade my openshift origin cluster from 3.7 to 3.9 using :

ansible-playbook -i /etc/ansible/hosts /usr/share/ansible/openshift-ansible/playbooks/byo/openshift-cluster/upgrades/v3_9/upgrade.yml

Everything went successful except that all my pods that i had deployed on 3.7 origin isn't up due to manifist not found , can't find images although images are available on docker

[2018-05-18 16:38] riponbanik commented on #8195
I have fixed the issue, the issue lies with the resolution of name,

# wait to see that the apiserver is available
- name: wait for api server to be ready
  uri:
    **url: https://apiserver.kube-service-catalog.svc/healthz**

Among other things I have configured my interface ( /etc/sysconfig/network-scripts/ifcfg-ens33) to have cluster.local in search order,

DOMAIN="cluster.local vm.local"
DNS1=

[2018-05-18 17:04] onknows commented on #1444
This problem can be reproduced with https://github.com/drhelius/terraform-azure-openshift easily.

Yaml is a key component of Ansible. If Ansible cannot properly import a yaml this is reason for concern. Yaml works everywhere except in a certain specific task?

[2018-05-18 17:24] adawolfs opened #8444 "Missing arguments CentOS Atomic Host"
I'm trying to install openshift 3.9 over CentOS Atomic but I get the error
`
missing required arguments: image, backend
`

The error was while running the task **Install nfs-utils** can you please help me to figure out how to fix it?

**Command used**
`
atomic install --system --storage=ostree \
--set INVENTORY_FILE=/root/hosts \
--set PLAYBOOK_FILE=/root/openshift-ansible/playbooks/deploy_cluster

[2018-05-18 18:26] #8422 closed

[2018-05-18 22:40] fmq commented on #8434
@vrutkovs, so I re installed the server from scratch (from the OS up) and I get the same behavior.

Any ideas?

[2018-05-19 04:01] prasenforu opened #8452 "/usr/bin/openshift-node-config: No such file or directory"
#### Description
Installing Openshift Origin CentOS7 with following infrastructure.

OS : `CentOS Linux release 7.5.1804 (Core)`

1 MASTER
3 ETCD
2 Infra
3 Nodes

At the end of installation its fails with

`
TASK [openshift_control_plane : fail] ***********************************************************************************
fatal: [ose-master]: FAILED! => {"changed": false, "msg": "Node start

[2018-05-19 07:57] vrutkovs commented on #8452
You should run `prerequisites` first

[2018-05-19 07:57] #8452 closed

[2018-05-19 07:59] vrutkovs commented on #8440
It seems the registry is not accessible from the pod.

Is `docker-registry` running in `default` namespace? Is `docker-registry.default.svc,cluster.local` resolvable from other pods? Does `/etc/resolv.conf` has `search cluster.local` on all nodes?

[2018-05-19 10:39] atiato commented on #8440
I'm able to curl docker registry from master and all nodes see snapshot:

![image](https://user-images.githubusercontent.com/652472/40267699-0d8c67a4-5b6a-11e8-8128-39d2e302a107.png)

[2018-05-19 15:53] fmq opened #8453 "Installing cluster fails with "Control plane install failed.""
#### Description

I'm trying a new installation of MASTER branch and it's failing when installing the Master with:

[code]

##### Version
[code]

##### Steps To Reproduce

1. Follow all pre-requisits
2. git clone https://github.com/openshift/openshift-ansible
3. cd openshift-ansible
4. ansible-playbook playbooks/prerequisites.yml
5. ansible-playbook playbooks/deploy_cluster.yml

##### Expected Res

[2018-05-20 18:04] #7959 closed

[2018-05-21 08:19] atiato commented on #8440
![image](https://user-images.githubusercontent.com/652472/40297392-5dc0293e-5ce8-11e8-8b8a-3423db6e3035.png)

looks like my metadata for micro-services are saved inside ephemeral place so when Docker registry for 3.7 been replaced by docker registry 3.9 , all my images information has been disappeared .

I will simulate the case and let you know , Can you confirm this ?

Thanks,
Omar Atia

[2018-05-21 08:27] #8431 closed

[2018-05-21 08:32] vrutkovs commented on #8440
Yes, the registry seems to run, but since it was not backed by a persistent storage it was replaced by an empty registry during upgrade

[2018-05-21 08:32] #8440 closed

[2018-05-21 13:00] lentzi90 opened #8455 "gluster-block command not present in default glusterfs image (3.9)"
#### Description

The default (non-enterprise) docker image (gluster/gluster-centos) for glusterfs-storage does not include the gluster-block command needed for block storage. This results in failure to provision persistent volumes and a crash loop back off for the heketi pod when following [this](https://docs.openshift.org/3.9/install_config/persistent_storage/persistent_storage_glusterfs.html#in

[2018-05-21 13:25] tdudgeon opened #8456 "Logging fails to install when using a cinder volume"
#### Description

When deploying logging when using a PVC backed by a cinder volume the elasticsearch container fails to start due to permissions problem. When using NFS or GlusterFS backed volumes it works fine.

##### Version

[code]

##### Steps To Reproduce
1. create pvc/pv using this:
[code]

2. run the playbook:
[code]
Here is the relevant part of the inverntory file:
[code]

##### Expected

[2018-05-21 13:49] fmq commented on #8434
@vrutkovs I found my issue, as part of my pre installation steps I installed an origin repo (not sure why) and that repo was messing up the versions.

Thanks for your time.

[2018-05-21 16:35] DanyC97 commented on #8399
@gbenhaim correct the rpms for 3.10 are not yet built, am planning to work on it this week however it won't be published on official repo in the next 2 week. Once will be available as candidate i'll tag you, sorry for delay

[2018-05-21 16:54] DanyC97 commented on #8363
@ubwa regarding the documentation for origin, best place to bring the issue is on docs repo itself. In this particular case deployment_type takes 2 values as mentioned [here](https://github.com/openshift/openshift-ansible/blob/master/inventory/hosts.example#L45-L47)

if you got the same erro as @a-zcomp can you please share your inventory file ?

[2018-05-21 19:10] mrmStack commented on #7304
I have the same problem, someone can help me?

INSTALLER STATUS **************************************************************************
Initialization             : Complete (0:01:07)
	[DEPRECATION WARNING]: The following are deprecated variables and will be no longer be used in the next minor release. Please update your inventory accordingly.
	openshift_hosted_metrics_deploy
Health Check

[2018-05-21 19:13] mrmStack commented on #7304
I have followed the steps of vrutkovs but it doesn't work.

[2018-05-21 19:43] vrutkovs commented on #7304
We need logs from this service (`journalctl -b -el --unit=origin-master-api`) to find out why API server didn't start

[2018-05-21 20:02] mrmStack commented on #7304
May 21 21:59:52 master-node.opnsft.es atomic-openshift-master-api[16970]: I0521 21:59:52.976786
May 21 21:59:52 master-node.opnsft.es atomic-openshift-master-api[16970]: I0521 21:59:52.977425
May 21 21:59:52 master-node.opnsft.es atomic-openshift-master-api[16970]: I0521 21:59:52.978735
May 21 21:59:52 master-node.opnsft.es atomic-openshift-master-api[16970]: I0521 21:59:52.980036
May 21 21:59:52

[2018-05-21 20:03] mrmStack commented on #7304
May 21 21:59:52 master-node.opnsft.es atomic-openshift-master-api[16970]: I0521 21:59:52.976786
May 21 21:59:52 master-node.opnsft.es atomic-openshift-master-api[16970]: I0521 21:59:52.977425
May 21 21:59:52 master-node.opnsft.es atomic-openshift-master-api[16970]: I0521 21:59:52.978735
May 21 21:59:52 master-node.opnsft.es atomic-openshift-master-api[16970]: I0521 21:59:52.980036
May 21 21:59:52

[2018-05-21 20:10] mrmStack commented on #7304
it's possible that the problem could be the user?  which is diferent to root;  because I have created a user named origin with root permisions.

thanks @vrutkovs

[2018-05-21 22:12] gbenhaim commented on #8399
@DanyC97 thanks.

[2018-05-22 00:06] mshutt opened #8467 "Openshift upgrade 3.7.x -> 3.9 croaks miserably if there is an issue with repodata on a master"
##### Description

Openshift upgrade 3.7.x -> 3.9 croaks miserably if there is an issue with repodata on a master

A step that is trying to ensure that an `excluder` is available first does an ansible `repoquery` and registers the result as repoquery_out.  If it fails, it simply adds the host to the ansible `unreachable` list and stops all execution of tasks on that host.  Unfortunately, it never

[2018-05-22 01:47] anpingli commented on #8456
Is there any special configuration in nodes or openstack? We never hit such issue when deploy logging using cinder volume.

[2018-05-22 06:51] tdudgeon commented on #8456
Nothing I can think of. We're only a tenant on the openshift environment so can't comment on things deep down, but we're just using the cloud provider as is described in the docs and cinder volumes are working for other things, so it does look to be a strange permissions problem with the elacticsearch container.
I can show this in action if that helps.

[2018-05-22 09:25] b2cc commented on #8267
I managed to work around this issue by setting the locale to 'en_US.utf8' on the system where I run the playbooks from.
@jkroepke : you can run the certificate-expiry playbook to test this, as it only collects certificate information from the openshift nodes and doesn't change anything.

[2018-05-22 10:34] smapjb opened #8469 "These handy aliases do not work in a 'shortname' dns environment - also dollar better than backticks"
When I run etcdctl2 cluster-health on my 8 node cluster I get an error
etcdctl2 cluster-health
cluster may be unhealthy: failed to list members
Error:  client: etcd cluster is unavailable or misconfigured; error #0: x509: certificate is valid for openshift-master-0.example.com, not openshift-master-0

error #0: x509: certificate is valid for openshift-master-0.example.com, not openshift-master-0

[2018-05-22 10:56] jkroepke commented on #8267
I'm wounder why it has worked on a Mac with de_DE.UTF-8.

But maybe brew does magic.

I'll try to test it on a colleague workstation, since I can't get this error on my mac.

[2018-05-22 10:57] camjoex opened #8470 "Origin 3.9 cluster installation Failed"
#### Description

Hello
I'm trying to setup a cluster openshift origin 3.9 but some errors occurred.

##### Version
[code]
[code]
inventory file
[code]

##### Steps To Reproduce
[Step 1] Listing nodes
[code]
[Step 2] Listing pods
[code]

Ansible playbook error on verbose mode
[code]
[code]
[code]

##### Additional Information

Provide any additional information which may help us diagnose the
issue

[2018-05-22 14:15] megastallman opened #8476 "Glusterfs installation breaks the playbook"
#### Description

I'm using the containerized openshift-ansible installer. It breaks on containerized Glusterfs and Heketi installer part.

##### Version

The container versions are:
[code]

##### Steps To Reproduce
[code]
Or rerun the whole playbooks/deploy_cluster.yml playbook. Results are the same.

##### Expected Results
I expect the playbooks to run up to the end. That is what happens without

[2018-05-22 14:57] ctron opened #8477 "3.9.x installation tries to pull recycler:v1.9.1"
#### Description

Provide a brief description of your issue here. For example:

OpenShift Origin tries to pull the wrong recycler version:

[code]

##### Version

Please put the following version information in the code block
indicated below.

* Your ansible version per `ansible --version`

If you're operating from a **git clone**:

* The output of `git describe`

Place the output between the code

[2018-05-22 15:23] AndreaFerraresi opened #8478 "Upgrade from 3.6 to 3.7 fails draining node"
#### Description

When running `playbooks/byo/openshift-cluster/upgrades/v3_7/upgrade.yml` process fails with the following error

##### Version

Please put the following version information in the code block
indicated below.

* Your ansible version per `ansible --version` 2.5.2

If you're operating from a **git clone**:

* The output of `git describe`:

[code]
##### Steps To Reproduce
1. Ansible-

[2018-05-22 17:00] ianmiell commented on #7593
I'm also getting this error message and do not have the `hosts` problem listed above.

[2018-05-22 17:32] DanyC97 commented on #8478
@AndreaFerraresi i've just pushed https://github.com/openshift/openshift-ansible/pull/8428 but there is no 3.7 release being cut recently which includes it

[2018-05-22 17:41] DanyC97 commented on #8478
wait, looking again in your output i see
[code]

but that code only got merged a day ago so no way you can have that in the release `openshift-ansible-3.7.48-1-12-g012dd4b8a` ...very confused

[2018-05-22 17:45] DanyC97 commented on #8467
@mshutt i think this is related to https://github.com/openshift/openshift-ansible/pull/8446 but that PR is not yet merged in 3.9

[2018-05-22 18:40] mshutt commented on #8467
@DanyC97  I do not believe it is, no.  I just checked that PR and it would seem that a failure in "repoquery" would still result in the same outcome...

Again, the underlying issue was a broken yum cache...  with broken cached repo metadata from a broken repository.  While these are not specifically in the purview of `openshift-ansible` to handle, if `openshift-ansible` has a dependency on somethi

[2018-05-22 18:54] jkroepke commented on #8267
Yup, I can reproduce that behavior on a Centos Docker Container. (LANG=en_US.UTF-8 works, de_DE not)

[2018-05-22 20:51] bitwurx commented on #8455
I have encountered this exact same issue.  I am using the latest gluster-centos.

[code]

I can confirm that the gluster-block cli utility nor the gluster-blockd systemd unit is present.
[code]

[2018-05-23 02:35] sciarrilli commented on #6622
I am having a similar issue with openshift 3.7 install on rhel 7.4. dnsmaq gets installed and then breaks all of my connectivity. I cannot get to the internet or resolve hosts by fqdn.

[2018-05-23 05:12] DanyC97 commented on #8467
@mshutt thx for the info. I do suggest to open a PR starting with master branch and then once you can

a) wait till is merged and ask a core contributor to kick bot for cherry pick in other release branches
b) you create PRs for the other branches like 3.9/3.7

[2018-05-23 05:48] atiato commented on #8440
I have added persistent storage to docker registry using the following command :
1- create volume then claim it in default name space :
![image](https://user-images.githubusercontent.com/652472/40405588-eb33f38a-5e65-11e8-98a2-cdac61ec810c.png)

oc volume dc/docker-registry --add --overwrite -t persistentVolumeClaim --claim-name=nfs-pvc --name=registry-storage

then docker registry has been automa

[2018-05-23 05:57] ianmiell commented on #7593
This is driving me nuts.... I have compared the master config to a working one, and run openssl by hand to the etcd servers from masters on both. openssl works fine on both hosts files are identical, etcd config is identical, master config is identical, but I see the 'context cancelled' error in the master-api. I must be missing something, or making some other mistake but I'm out of debug options.

[2018-05-23 06:55] prasenforu opened #8493 "ETCD not showing metric & version"
Wrong window

[2018-05-23 07:07] lentzi90 commented on #8455
Same image here:
[code]

[2018-05-23 08:56] AndreaFerraresi commented on #3498
I was able to reproduce _and_ fix the problem.

For whoever is using Mac to install the cluster, you can find two files in the  `/usr/share/openshift/hosted/` both with the `._.` prefix, please feel free to remove them.
as shown by the command `file ._.*` you can see that those have been created by spotlight somehow.

If you are still experiencing a problem on the conversion of that registry-conso

[2018-05-23 09:03] AndreaFerraresi commented on #8478
@DanyC97 I am very confused as well, seems that the `openshift.common.admin_binary` wasn't set to oc but to oadm on my installation. (I haven't perform the installation, so can't exactly tell what happened) to workaround the problem I modified `playbooks/common/openshift-cluster/upgrade_control_plane.yaml` line 410 to remove `adm` and I was able to go forward.
Therefore other colleagues did not ex

[2018-05-23 10:48] mrmStack commented on #7304
Now fail in other situation...it's posible the fail could be bellow " to create listener: failed to listen on 0.0.0.0:8443"?

may 23 12:35:34 che-master.es systemd[1]: Failed to start Atomic OpenShift Master API.
-- Subject: Unit origin-master-api.service has failed
-- Defined-By: systemd
-- Support: http://lists.freedesktop.org/mailman/listinfo/systemd-devel
--
-- Unit origin-master-api.service h

[2018-05-23 11:35] ianmiell commented on #7593
I managed to work around this challenge by co-locating etcd and master instances. So I must have had some kind of dns lookup/ip problem I guess.

[2018-05-23 11:45] ianmiell commented on #7593
I spoke too soon - same error returns and API won't start up.

[2018-05-23 13:01] Reamer commented on #3478
I have done this in my ansible-inventory. A stupid dummy frontend and backend.
[code]
A redirect to https makes only sense if the api-server listens on port 443, default is 8443.

[2018-05-23 13:01] stecanu opened #8500 "Ubuntu 16.04 compatility"
Hi guys,

Anyone was able to run openshift-ansible in unbuntu? i walk through .yml file and i noticed that some package name are only available for centos/fedora distribution, in ubuntu they have others name.

thanks

[2018-05-23 13:13] ianmiell commented on #7593
I spoke too soon about speaking too soon (I think). Re-running ansible twice seemed to kick it into life.

Eventually this started working, which was my clue:

[code]

even though all the files were there and etcd was up, something made this work (possibly a reboot, I'm trying to confirm).

[2018-05-23 13:22] ianmiell commented on #7593
On a related but somewhat tangential side-note - is there a way to speed up the ansible build? It's literally taking me about 6 hours to complete a build on a 5-node system (within Vagrant).

[2018-05-23 13:26] vrutkovs commented on #8500
Ubuntu / Debian OS are currently not supported, see https://docs.openshift.org/latest/install_config/install/prerequisites.html

[2018-05-23 13:26] #8500 closed

[2018-05-23 13:30] stecanu commented on #8500
HI vrutkovs,

i just seen some seconds before your answer, buy the way i was able to run oc origin in ubuntu with the standard installation from github, so the limit is only for the advanced installation with ansible?

thanks

[2018-05-23 13:59] DanyC97 commented on #8478
can you please do a `git log --oneline -n 5` from within the `openshift-ansible` directory?

[2018-05-23 14:08] AndreaFerraresi commented on #8478
[code]

[2018-05-23 14:22] DanyC97 commented on #8455
so i just checked on my 3.7 cluster where i have the same `gluster-centos` image and yes there is no `gluster-block` however that is as expected since in my cluster i do have the `openshift_storage_glusterfs_block_storageclass=True` and

[code]

Note that i'm not deploying a registry based on gluster so ...

[2018-05-23 14:23] DanyC97 commented on #8455
maybe @jarrpa has any thoughts on it

[2018-05-23 14:36] megastallman commented on #8229
Yes. Looks like it should be a separate issue about external /var/lib/docker. Should I create one? At the moment I'm using some pre-uninstall and post-uninstall playbooks to unmount and clean /var/lib/docker.

[2018-05-23 15:54] ianmiell commented on #8363
[code]

error

[code]

[2018-05-23 16:55] bitwurx commented on #8455
My deploy isn't using the dedicated registry block storage (ie. glusterfs_registry) since I don't have enough devices.

I did a test with just glusterfs_registry storage to see if the installer would deploy a different version of the gluster container that included gluster-block and it still did not have the gluster-block command.  The resources for glusterfs_registry deployed into the default pro

[2018-05-23 17:07] jorgemoralespou commented on #8376
I have the same problem as you guys. Any solution/tip?

[2018-05-23 19:30] RobMokkink opened #8503 "openshift_storage_glusterfs : Label GlusterFS nodes"
#### Description

The task "openshift_storage_glusterfs : Label GlusterFS nodes" fails
##### Version
[code]

##### Steps To Reproduce
1. [step 1]
2. [step 2]

##### Expected Results
Describe what you expected to happen.

[code]

##### Observed Results
Describe what is actually happening.

[code]

For long output or logs, consider using a [gist](https://gist.github.com/)

##### Additional Informati

[2018-05-23 21:56] foosinn commented on #7611
I'm running into the same issue.

[code]

node 1 to 6 are fedora atomic, lb is centos 7. All on the latest version.

I have done all the prepare commands and setup a fully working dns (inluding wildcard, they point to the lb).

I noticed that 1 of 3 `curl -k https://apiserver.kube-service-catalog.svc/healthz` will return ok.

Is there anything i can provide to give you a clue what could be wrong?

[2018-05-23 22:54] mshutt commented on #8467
@DanyC97 after looking deeper, there are myriad places where a single host might fail during the upgrade play...  Pursuant to https://github.com/openshift/openshift-ansible/pull/7225/files, would it make better sense to simply add "all_errors_fatal: true" to the root of the upgrade playbooks?  Is there any possible reason that a failure would be desirable on a single master or node and for the pla

[2018-05-23 23:40] jmontleon opened #8506 "Rerunning openshift-logging fails on patch command when rerunning"
#### Description
Rerunning openshift-logging fails on patch command when rerunning:

##### Version

[code]

##### Steps To Reproduce
1. Install openshift-logging with the openshift-logging modules
2. Rerun the modules

##### Expected Results
Rerunning the modules to complete successfully.

##### Observed Results

[code]

[2018-05-24 06:14] ianmiell commented on #8363
After some debugging it seems that the run is failing because master1 is on 3.8 due to a previously failed upgrade, so the scripts think that all the servers are on that version.

I assume that the recipes can't handle a failed upgrade, therefore. I'm not sure what I'm supposed to do to resolve this. Either hack the ansible code directly, or downgrade by hand?

[2018-05-24 07:00] fasho commented on #7866
@Caplost did you get through the installation?

[2018-05-24 07:26] DanyC97 commented on #8503
it will help if you would provide info as to which openshift-ansbile version (`git describe` will help from within the directory) you running

[2018-05-24 07:27] DanyC97 commented on #8478
right @AndreaFerraresi , you running 3.6 and not 3.7 ...

[2018-05-24 08:50] vponomaryov commented on #8453
I suspect you faced this -> https://github.com/openshift/openshift-ansible/issues/8133
And it has been fixed in "openshift-ansible-3.10.0-0.51.0".
So, just try this latest version.

[2018-05-24 08:54] kargakis opened #8507 "Allow bypassing web console health verification"
Trying to verify things run on the spot does not play well when node bootstrapping is used and even the master node may take some time to come up. We should have a mode where all the verification checks are bypassed. Similar issue to https://github.com/openshift/openshift-ansible/issues/8028.

@jim-minter @pweil- @kwoodson @spadgett

[2018-05-24 09:18] AndreaFerraresi commented on #6625
Same here, any clue?

[2018-05-24 11:02] simonpasquier commented on #7986
FYI I've submitted a PR to get the router's metrics back, see #8512

[2018-05-24 12:15] ianmiell commented on #7593
A rebuild with the same script triggered the same error again:

[code]

I don't understand how I can use openssl to connect to any of the servers fine with the same settings as in the master-config.yaml and yet get a failed to dial when coming from the origin-master-api process.

[2018-05-24 13:06] prasenforu commented on #8493
Fixed

[2018-05-24 13:06] #8493 closed

[2018-05-24 13:24] ksemaev opened #8516 "Openshift upgrade playbook sets different versions for master and nodes"
#### Description

Typical automated update from v3.7 to v3.8 installs v3.9 on nodes

##### Version
oc version
oc v3.8.0+dd1558c-1
kubernetes v1.8.5+440f8d36da
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://opsmaster.elpass:8443
openshift v3.8.0+dd1558c-1
kubernetes v1.8.5+440f8d36da

##### Steps To Reproduce
1. My inventory is:

[code]

2. Run typical upgrade:
` ansible-playbook playb

[2018-05-24 13:34] vrutkovs commented on #8516
openshift-ansible follows OSE policy, where 3.8 is a transitional point between 3.7 and 3.9 and used only during install.

So the playbooks for 3.8 upgrade (in `release-3.8` branch) were probably not updated

[2018-05-24 13:36] vrutkovs commented on #8467
Its certainly possible to have some nodes (or even masters) setup or updated and have a working install. The remaining parts could be fixed later on.

In this particular step its complicated for `repoquery` to detect if its a temporary issue or missing/incorrect repos

[2018-05-24 13:45] ianmiell commented on #7593
I think the certs are fine. If I wait for almost exactly ten minutes the errors stop and I can re-run the install. I'm just confirming whether this is the case with some repeated tests.

[2018-05-24 13:58] ksemaev commented on #8516
@vrutkovs  Please tell - where can I read about this OSE policy regarding Openshift? You are saying that I shouldnot use version 3.8 and update from 3.7 to 3.9 (through transition via 3.8)?

[2018-05-24 14:11] themidnightfox opened #8517 "Allow running playbooks on nodes with noexec on /tmp"
#### Description

Our machines have /tmp/ mounted with noexec impeding the installation of the openshift_logging infrastructure (among others).

##### Version

Please put the following version information in the code block
indicated below.

[code]

##### Steps To Reproduce
1. Set up openshift cluster
2. Install logging: ansible-playbook playbooks/openshift-logging/config.yml

##### Expected Result

[2018-05-24 16:15] RobMokkink commented on #8503
Hi,

It is version openshift-ansible-3.9.29-1

[2018-05-24 16:46] mshutt commented on #8467
@vrutkovs Sure, but given that this is the 3.7 -> 3.9 upgrade, once the first master is upgraded to 3.9 and the play abends, the playbook is no longer able to do the 3.7 -> 3.9 upgrade.  Perhaps this is a better thing to fix than to ask the upgrade to fail entirely before trying if one of the masters cannot be upgraded?  In our case, I manually upgraded the origin-master-{api,controllers} to v3.8.

[2018-05-24 17:48] vrutkovs commented on #8467
Ah, yes, 3.7 -> 3.9 is special, probably `any_errors_fatal` would be required to make it pass.

@sdodson @michaelgugino @mtnbikenc  WDYT?

[2018-05-24 18:14] mshutt commented on #8467
@vrutkovs Yeah, my first look thought was to add any_errors_fatal to the next task in the `verify_excluder.yml` and to `failed_when: false` the repoquery step, but then I looked through all of the upgrade stuff and I saw that this is only one of many potential pitfalls wherein some random environmental issue unrelated to openshift might cause this same problem.

Maybe it would be better to handle

[2018-05-24 19:59] ewolinetz commented on #8506
We've seen this before, it is due to `patch` not being available on the control host.
Its strange if this manages to run the first time but fails on a second execution (I haven't seen that locally...)

[2018-05-24 23:00] ewolinetz opened #8523 "Logging Elasticsearch handler should warn on node disk utilization"
As part of doing an upgrade for Elasticsearch, we should check and warn on the current disk utilization for the ES nodes.

At 85% the node will stop accepting replica writes
At 90% it will stop accepting all

Ideally we would warn (print a message to display at the end) if we are at least 80%.

This would be a nice to have for the handler role. It will eventually be enforced in the operator though

[2018-05-24 23:43] foosinn commented on #7611
On a retest from scratch with an external load balancer i got stuck in exactly the same error.

[inventory](https://paste.f2o.at/rr3ENVgy)
[error messsage](https://paste.f2o.at/CMZtCmKq)

The healthz url seems to only work on a single node. It fails in ~66% of the curls.

[code]

[2018-05-25 01:49] prasenforu commented on #7986
Can anyone explain how to fix in existing (running) 3.9 ?
What are the steps need to take to fix this router metric issue.

[2018-05-25 05:44] lentzi90 commented on #8455
For reference: there is a pull request for this in the gluster/gluster-containers repo [here](https://github.com/gluster/gluster-containers/pull/53). As soon as it can be merged, this issue should be solved.

[2018-05-25 07:56] DanyC97 commented on #8455
excellent, thank you for the info @lentzi90 !

[2018-05-25 08:00] DanyC97 commented on #8467
is a tricky situation however i wouldn't "rewind" the initial decision and go to _but then you'd have the issue(s) wherein users would be running 3.8_

[2018-05-25 08:03] DanyC97 commented on #8363
@ianmiell i think your problem is same to https://github.com/openshift/openshift-ansible/issues/8467

[2018-05-25 08:07] DanyC97 commented on #8516
@vrutkovs why you think the issue is valid ? does this happen when running upgrade from 3.7 to 3.9  or is it just on _green deployment_ which is a user error since it shouldn't happened ?

[2018-05-25 08:08] DanyC97 commented on #3478
@Reamer which openshift-ansbile version we are talking about here ?

[2018-05-25 08:38] ksemaev commented on #8516
@DanyC97 it is not a user error. Since we have playbook that upgrades from 3.7 to 3.8 - it should upgrade to 3.8.
Either upgrade both nodes and masters to same version

[2018-05-25 09:32] vrutkovs commented on #8516
This happens only when 3.7 -> 3.8 is being upgraded. Its not supported in OSE, so playbooks in `release-3.8` branch were neglected. I don't mind approving a PR which fixes that though.

[2018-05-25 09:42] ksemaev commented on #8516
@vrutkovs my main question is - can I leave cluster in that state where masters and nodes are different versions?
Upgrade to 3.9 requires ansible 2.4.3.x which is not avaliable in centos official repos, and I do not want to install something in production with pip)

[2018-05-25 10:52] simonpasquier commented on #7986
@prasenforu I think you can get around it by fixing a couple of permissions. At least it worked for me using `oc cluster up`.

First, create the following cluster role:

[code]

Then assign this cluser role to the `prometheus` service account.
Finally you need to add the `system:auth-delegator` cluster role to the `router` service account.

[2018-05-25 11:44] vrutkovs commented on #8516
Its fine to have master version `n` and nodes `n-1` version, but the reverse is not supported and dangerous.

Correct, extras were not yet updated. You might want to enable EPEL to install a newer version (2.5.2 might work, but 2.4.3 is recommended)

[2018-05-25 13:07] ianmiell commented on #8363
FWIW I hacked the ansible code directly by forcing the 3.8 upgrade everywhere:

[code]

specifically, changing < 3.8 in the test to < 3.9

[2018-05-25 13:26] kargakis opened #8526 "oreg_url does not work for asb on centos"
There is no asb docker image in openshift on dockerhub.

https://github.com/openshift/openshift-ansible/pull/8479#discussion_r190890246

@michaelgugino @jwmatthews

[2018-05-25 13:26] ianmiell commented on #8363
How do I clear the facts?

I have a fully reproducible environment on vagrant in code - if you request
it, I can provide it.

On Fri, May 25, 2018 at 2:23 PM, Vadim Rutkovsky <notifications@github.com>
wrote:

[2018-05-25 13:27] kargakis commented on #8526
/kind bug

[2018-05-25 13:42] prasenforu commented on #7986
@simonpasquier

Let me try,
Though I am not so familiar with RBAC but again checking last two execution, please verify and let me know.

[code]

[2018-05-25 13:47] michaelgugino commented on #8467
@vrutkovs any_errors_fatal true on the play level should do it for any master plays.

I know we tolerate some level of failure for nodes.

[2018-05-25 13:55] vrutkovs commented on #8363
Remove `$HOME/ansible/facts` on the control host and `/etc/ansible/facts.d` on the VMs

[2018-05-25 13:57] mshutt commented on #8363
@vrutkovs I believe the problem with "clearing facts" (at least with the containerized install) is that the facts are programmatically generated using `roles/openshift_facts/library/openshift_facts.py`

https://github.com/openshift/openshift-ansible/blob/f8f497e2bcb088553447c36974779a7c43483384/roles/openshift_facts/library/openshift_facts.py#L895

Basically, it will detect the version of the cont

[2018-05-25 13:59] dav1x opened #8528 "Installer does not configure vsphere cloudprovider in master service"
#### Description
 Installer does not configure vsphere cloudprovider in master service

##### Version
3.10

Please put the following version information in the code block
indicated below.

* The output of `git describe`

[code]

##### Steps To Reproduce
1. vSphere installation with cloud provider
2. Nodes are configured but master is not (this was previously done in a master role that was removed

[2018-05-25 14:01] vrutkovs commented on #8363
Yes, version detection is tricky here. Does it get updated earlier than actual containers land?

Master now uses static pod deployment, its entirely different now

[2018-05-25 14:09] simonpasquier commented on #7986
@prasenforu I used:

[code]

Not sure if it makes a difference.

[2018-05-25 14:20] ksemaev commented on #8516
@vrutkovs Thank you for responce! If correction of playbooks is not planned - please close the issue

[2018-05-25 14:23] DanyC97 commented on #8478
hmm, i'll try to go over an upgrade myself this weekend if times allows

@vrutkovs @michaelgugino  you have any thoughts ?

looking in 3.7 branch [here](https://github.com/openshift/openshift-ansible/blob/release-3.7/playbooks/common/openshift-cluster/upgrades/upgrade_nodes.yml#L37) we have

`{{ hostvars[groups.oo_first_master.0].openshift.common.admin_binary }} drain {{ openshift.node.nodename |

[2018-05-25 14:27] DanyC97 commented on #8516
@ksemaev sorry but i personally disagree with

because as @vrutkovs said, it happens

which nobody should go to, 3.8 should just be transient stage hence my disagreement.

[2018-05-25 14:44] tusharsanas commented on #2271
Hi,

I am facing the same issues FAILED - RETRYING: HANDLER: openshift_master: Verify API Server (120 tries left)

Few details of my setup:
3 Master, 3 Compute, 3 Infra and 3 GlusterFS.
1 External LB and another 1 Internal LB

I did check with below curl command
curl -k -vvv https://master002-internal.amosdemo.io:8443/healthz/ready

But my master is not able to connect internal load balancer.
My i

[2018-05-25 14:46] ksemaev commented on #8516
@DanyC97 I understand your position. Hers is mine: if something is nobody should do - don't make playbook for it. If you do have playbook for something - make it work properly

Regarding this situation - we need either to remove upgrade_to_v3_8 version directory in repo (with moving all functional to upgrade_to_v3_8 version directory), so nobody would do this upgrade. Or make it upgrade masters an

[2018-05-25 14:46] prasenforu commented on #7986
@simonpasquier

tnx ... will try & let know.

[2018-05-25 14:47] dav1x commented on #7345
Howdy @clcollins

You can always use:
openshift_storageclass_default=False

https://github.com/openshift/openshift-ansible/blob/master/roles/openshift_default_storage_class/tasks/main.yml#L6

[2018-05-25 15:02] vrutkovs commented on #8478
@DanyC97 good catch, probably the facts are picking a wrong binary for `oadm`

@AndreaFerraresi could you check which `admin_binary` is stored in the facts?
`fgrep "admin_binary" $HOME/ansible/facts/*` would show that

[2018-05-25 15:11] DanyC97 commented on #8478
on my 3.7 i get

[code]

which one you have @AndreaFerraresi ?

[2018-05-25 15:42] Reamer commented on #3478
@DanyC97 I work with branch "release-3.7", but "release-3.9" should also work.
Lines in branch "release-3.9":
- https://github.com/openshift/openshift-ansible/blob/release-3.9/playbooks/openshift-loadbalancer/private/config.yml#L21
- https://github.com/openshift/openshift-ansible/blob/release-3.9/playbooks/openshift-loadbalancer/private/config.yml#L26

Lines in"master" branch
- https://github.com/

[2018-05-25 17:16] RobMokkink commented on #8503
My bad made a typo in the inventory.

[2018-05-25 17:16] #8503 closed

[2018-05-25 17:56] jim-minter opened #8535 "azure: launch.yml playbook in master should use unstable scripts"
around line https://github.com/openshift/openshift-ansible/blob/master/playbooks/azure/openshift-cluster/launch.yml#L30
yedit should set to use the unstable scripts

a separate PR needed for the release-3.9 branch to hard code the 3.9 scripts

ideally start a document indicating what things need to be fixed up when we branch (I can now think of two things: this, and also the group_vars RPM repo re

[2018-05-25 17:56] jim-minter commented on #8535
https://ci.openshift.redhat.com/jenkins/job/test_branch_origin_extended_conformance_azure/15 is an example failure because of this

[2018-05-25 18:04] kwoodson commented on #8535
doc here: https://docs.google.com/document/d/1_LkfO2SxzMI83QY0ivW5cZE2GidYTnKKFwrJv28CnjA/edit

PR here: https://github.com/openshift/openshift-ansible/pull/8536

[2018-05-25 18:06] #8229 closed

[2018-05-25 18:10] kwoodson commented on #8535
release-3.9 here: https://github.com/openshift/openshift-ansible/pull/8537

[2018-05-25 18:20] jim-minter commented on #8535
sorry, I was unclear, by doc I meant a section in a README under playbooks/azure

[2018-05-27 20:02] mrmootu commented on #4760
How did you resolve the problem?

[2018-05-28 00:10] tomzheng opened #8544 "After upgrade from 3.6->3.7->3.9, cannot view any container log"
#### Description
After upgrade from 3.6->3.7->3.9, cannot view any container log. Run oc logs got below error:

Error from server: Get https://sgvlapaacopsn01.bcc.ap.abn:10250/containerLogs/cicd/gogs-postgresql-1-mzxrc/postgresql: Forbidden

There is error in master log:

May 28 09:53:33 sgvlapaacopsm01 atomic-openshift-master-api: E0528 09:53:33.619594    1998 status.go:64] apiserver received an

[2018-05-28 09:39] ephracis opened #8546 "Deployment breaks SELinux for SSH daemon"
#### Description

After a successful deployment on Fedora 28 Atomic Host, sshd can no longer accept interactive sessions. The following error appears in the audit log:

This happens directly after the task **Start and enable self-hosting node** in `roles/openshift_control_plane/tasks/main.yml`.

##### Version

[code]

##### Steps To Reproduce
1. Install Fedora 28 Atomic Host
2. Deploy OpenShift
3.

[2018-05-28 09:39] ephracis commented on #8546
This could be related to https://bugzilla.redhat.com/show_bug.cgi?id=1464770

[2018-05-28 11:48] simonpasquier commented on #7986
@prasenforu right so I've checked again and IIUC what's missing is that the `kubernetes-service-endpoints` job doesn't provide any token to authenticate against the scraped endpoints.

Can you check whether this command succeeds after you've added the permissions?

[code]

If it does, I'd recommend adding another scrape configuration specifically for the router (loosely adapted from https://github

[2018-05-28 14:21] foosinn commented on #7611
I think i found the reason why its not working:

some of the api servers do not work:

[code]

a quick look with describe showed me that hey try to reslove the etcd servers:

[code]

i exec into the contianer and run the following commands:

[code]

that is clearly wrong. Notice the point on the end on the next command.

[code]

oh interesting!

[code]

as far as i understand it, the `ndots:5` opt

[2018-05-28 14:24] cynepco3hahue opened #8550 "Can not deploy Origin 3.10 with packages from CBS repository"
#### Description

I am trying to deploy OpenShift origin with packages from CBS repository(https://cbs.centos.org/repos/paas7-openshift-origin310-candidate/x86_64/os/), but deployment fails on
[code]
I checked the cluster and I can see that `apiserver-5t2n4` fails to run
[code]

Under the `apiserver-5t2n4` log I can see:
[code]

##### Version

[code]

##### Steps To Reproduce
1. Install relevant p

[2018-05-28 17:38] debianmaster commented on #1444
running into same issue

[2018-05-28 20:01] ksemaev commented on #7866
same for me, can't start router on fresh install:

[code]

git describe --tags
openshift-ansible-3.9.30-1-2-g1ca919a

Fails on task "TASK [openshift_hosted : Poll for OpenShift pod deployment success] "

[2018-05-28 20:03] ksemaev commented on #7866
**oc logs router-1-deploy**
/usr/bin/openshift-deploy: error while loading shared libraries: libpthread.so.0: cannot open shared object file: Permission denied

[2018-05-28 23:37] abessifi commented on #7967
@tdudgeon do you still have the same issue. If not please close this issue.
Otherwise, I confirm that, according to @dcbw explanation, the root cause of a such issue would be a communication problem between the node(s) and the master (apiserver).

[2018-05-29 01:11] prasenforu commented on #7986
@simonpasquier

I created new scape (haproxy)

[code]

And modify the kubernetes-service-endpoints job to drop the router endpoints by adding the following rule to the relabel_configs section:

[code]

Its working.

But still red error in "kubernetes-service-endpoints" and as a result I am getting mail alert as alert is configured in prometheus.

![image](https://user-images.githubusercontent.com/

[2018-05-29 02:21] f1gjam opened #8552 "Sudo / non root user"
I have been trying to install 3.9, and I found that I had more issues trying to install via non root user and sudo/become.

I tried again, just using root user and everything worked as expected, except for the Python-Passlib failing and having to manually install it (python2-passlib)

still the install is failing

penshift_storage_glusterfs : Deploy glusterblock provisioner -----------------------

[2018-05-29 02:47] f1gjam commented on #8552
just remembered that the python-passlib has to be installed on the machine running the ansible playbook, in this case, my laptop. (I don't if this is in the pre-requisites section or not)

[2018-05-29 04:50] kamigerami opened #8553 "enable multipath - no such file or directory"
#### Description

Provide a brief description of your issue here. For example:

While running the playbooks/deploy_cluster.yml the playbook fails on task :

`TASK [openshift_node : Enable multipath] *********************************************************************************************
Monday 28 May 2018  15:03:01 +0200 (0:00:00.826)       0:10:19.796 ************
fatal: [myhostname]: FAILED

[2018-05-29 07:12] vrutkovs commented on #8553
Which OS is that and why would `/usr/sbin` not be in `$PATH` there?

[2018-05-29 07:16] kamigerami commented on #8553
@vrutkovs Red Hat Enterprise Linux Server release 7.5 (Maipo)

[2018-05-29 07:30] vrutkovs commented on #8553
Default PATH there already includes this - `/sbin:/bin:/usr/sbin:/usr/bin`. Did you modify the default path?

[2018-05-29 07:33] kamigerami commented on #8553
no you are correct @vrutkovs the path is there and nothing has been modified. Any ideas as to why this happens?

[2018-05-29 07:36] simonpasquier commented on #7986
@prasenforu can you double-check the configuration of the `kubernetes-service-endpoints` job from the Prometheus UI (Status > Configuration page) and share it? It should drop the router targets unless I missed something.

[2018-05-29 07:45] DavidTinoco opened #8556 "Can't deploy openshift cluster with openstack provision_install"
#### Description

On a openstack's provision_install, can't get my cluster working (1 master, 1 infra and 2 node), always fail in the same step, when, still in the playbook, try to restart the unit **origin-master-api.service**

##### Version

* My `ansible --version`
[code]

* My `git describe`
[code]

* My `openstack --version`
[code]

##### Steps To Reproduce
1. Configure inventory (OSE_v3.yml

[2018-05-29 08:03] prasenforu commented on #7986
Here is the configuration from Prometheus UI Console

[code]

[2018-05-29 08:05] tdudgeon commented on #7967
Yes, this is most certainly still happening, and I can easily reproduce it.
I see it when using both OpenStack and AWS.
Others have confirmed they see the same problem.

[2018-05-29 08:32] vponomaryov commented on #7967
@abessifi
Yes, it exists. Happens, approximately, in 1 of 2 deployments. I use VMWare cloud platform.

[2018-05-29 09:13] prasenforu commented on #7986
@simonpasquier

Yes, now it works..

Thanks for your valuable continuous support :+1:

[2018-05-29 09:53] ksemaev commented on #7866
@vrutkovs solution described in https://github.com/openshift/origin/issues/19441 resolved problem. May be we should overwrite this option in docker with playbooks?
Or it is crtical for it to be in "--selinux-enabled" in order for openshift to work correctly

[2018-05-29 09:57] vrutkovs commented on #7866
@ksemaev its not required, but strongly recommended.

This 'permission denied' most likely means your host system is not updated and/or selinux policies there are too strict

[2018-05-29 10:47] ksemaev commented on #7866
**sestatus**
SELinux status:                 enabled
SELinuxfs mount:                /sys/fs/selinux
SELinux root directory:         /etc/selinux
Loaded policy name:             targeted
Current mode:                   enforcing
Mode from config file:          enforcing
Policy MLS status:              enabled
Policy deny_unknown status:     allowed
Max kernel policy version:      31

[2018-05-29 10:51] vrutkovs commented on #7866
RPM output of `rpm -qa container-selinux selinux-policy` would be helpful

In any case, this looks like CentOS issue (as SELinux rules are inherited from the host), not openshift-ansible playbooks issue. Please file a new issue at https://bugs.centos.org/main_page.php, specifying selinux policies are causing this

[2018-05-29 10:51] #7866 closed

[2018-05-29 10:57] ksemaev commented on #7866
**rpm -qa container-selinux selinux-policy**

[code]

i am not sure wat exactly to file to https://bugs.centos.org/main_page.php, because I do not know what policies are causing the problem, and what is the problem exactly((

[2018-05-29 13:12] AndreaFerraresi commented on #8478
@DanyC97 @vrutkovs I don't have that folder actually

[2018-05-29 15:53] kwoodson commented on #8535
/close

[2018-05-29 15:53] #8535 closed

[2018-05-29 17:46] cynepco3hahue commented on #8550
@DanyC97 No worries, I will wait with patience :smile:

[2018-05-29 17:48] tusharsanas opened #8562 "Unable to load nodes: oc get nodes"
Description: Unable to get all nodes: oc get nodes

 Brief description of your issue here.
 I am installing, multi master nodes in AWS environment through RPM.

Below are the list of my nodes... ( 12 Nodes )

amos002-master1.amosdemo.io
amos002-master2.amosdemo.io
amos002-master3.amosdemo.io
 
amos002-compute1.amosdemo.io
amos002-compute2.amosdemo.io
amos002-compute3.amosdemo.io
 
amos002-infra1.a

[2018-05-29 18:13] foosinn commented on #7611
I finally got it to work. The cause of the issue was that i had a **wildcard A record** on the domain i used.
If there is no wildcard entry `node1.k8s.unigs.de.k8s.unigs.de` gets not resolved and it will try to resolve the correct name.

I redeployed the same stuff on another domain, without a wildcard record and it worked!

this may also works for these issues:
#8195 #7611 #6572 #8076 #7639 #7578

[2018-05-29 19:40] unxmaal opened #8565 "Hardcoded references to docker.io should be cleaned up"
#### Description

https://github.com/openshift/openshift-ansible/blame/release-3.9/roles/openshift_web_console/defaults/main.yml#L9

Hardcoded references to docker.io in the image prevent deploys on enterprise networks behind firewalls.

##### release-3.9

Please put the following version information in the code block
indicated below.

* Your ansible version per `ansible --version`

If you're oper

[2018-05-29 21:45] skynardo opened #8567 "node_cpu metrics not available in prometheus UI dropdown, though available from Node Exporter"
#### Description

Unable to select node_cpu metrics from prometheus UI metrics selection, however node_cpu metrics are available via curl http://localhost:9100/metrics

##### Version

Place the output between the code block below:

[code]

##### Steps To Reproduce
1. On an existing Openshift v3.9.0+ba7faec-1 cluster installed using advanced install
2. Set OSEv3 vars:
#Prometheus
openshift_hosted_p

[2018-05-30 05:19] DanyC97 commented on #8478
are you going to close this issue then @AndreaFerraresi ?

(and thanks for raising the issue and being patient with us ;) )

[2018-05-30 05:43] jerryhan77 opened #8569 "Origin 3.9 scale-up etcd node fails with dict object has no attribute etcd_ip error"
#### Description

Openshift Origin 3.9 cluster, current 2 etcd and 2 master node, when add one new etcd, fails with dict object has no attribute etcd_ip error.

##### Version

[code]

openshift-ansible playbook version - `openshift-ansible-3.9.30-1-4-g1513080`

OS - CentOS 7.5.1804

##### Steps To Reproduce

Inventory file for scaleup etcd:
[code]

Run scaleup playbook but failed:
[code]

##### Ob

[2018-05-30 06:32] bluesky255 commented on #7639
Problem solved by resolve add apps_.domain.com_ in DNS record.

[2018-05-30 06:54] #8478 closed

[2018-05-30 08:40] tusharsanas commented on #8562
Hi Team,

Can anyone help me to resolve my issues ?

[2018-05-30 11:42] aioue commented on #8410
Same error, with or without excluders.

Package versions:
[code]

Partial config from `/etc/ansible/hosts`:
[code]

Verbose output:
[code]

[2018-05-30 13:09] camjoex commented on #8470
Bad parameters routers

[2018-05-30 13:09] #8470 closed

[2018-05-30 13:09] camjoex commented on #8470
Bad parameters routers

[2018-05-30 13:16] skynardo commented on #8567
I'm thinking I should have opened this under Openshfit / Origin rather than openshift-ansible since I am not sure at this point if this is an installation issue or something else.

[2018-05-30 13:45] kamigerami commented on #8553
The issue was resolved (on the host) by setting the /etc/sudoers  secure_path to /usr/sbin since ansible command module causes commands to be executed with a new, minimal environment (env_reset).

[code]

[2018-05-30 13:55] kamigerami commented on #8553
this issue was resolved outside of openshift-ansible by setting secure_path for the ansible_user in /etc/sudoers to /sbin:/usr/sbin

`Defaults:ansible_user secure_path=/usr/local/bin:/usr/bin:/usr/sbin:/sbin`

[2018-05-30 14:14] #8553 closed

[2018-05-31 08:11] irozzo-1A opened #8579 "OCP3.7 configuration fails when OpenShift packages are preinstalled"
#### Description

The byo/config.yml playbook fails when atomic-openshift-master package is preinstalled on hosts.

##### Version

[code]

##### Steps To Reproduce
1. Prepare the hosts as described [here](https://docs.openshift.com/container-platform/3.7/install_config/install/host_preparation.html#installing-base-packages), and pre-install as well atomic-openshift-node and atomic-openshift-master

[2018-05-31 08:43] jocelynthode opened #8580 "CRI-O RPM missing"
#### Description

When having:
[code]
CentOS does not find the crio rpm.

##### Version

Openshift 3.9
openshift-ansible on release-3.9 branch

##### Steps To Reproduce
1. Run the prerequisite playbook

##### Expected Results

cri-o getting installed

##### Observed Results

cri-o unavailable in the repos

##### Additional Information

I'm using http://mirror.switch.ch/ftp/mirror/centos/7/ as my r

[2018-05-31 11:52] tomassedovic commented on #8556
Which version of OpenShift are you trying to install? Based on your git describe output, it should be 3.9 (in general, openshift-ansible is only able to install the corresponding version and your git describe says 3.9.

Here's a few things I'd like to verify:

1. What's the output of `rpm -qa | grep origin` run on the master nodes? (try to check it on the other ones as well, but it should be more

[2018-05-31 12:23] dusansusic opened #8582 "cannot find: Package 'origin-.9.0*' not found"
#### Description

unable to install containerized openshift 3.9

##### Version

Please put the following version information in the code block
indicated below.

* Your ansible version per `ansible --version`
2.4.3.0

If you're operating from a **git clone**:

* The output of `git describe`
openshift-ansible-3.9.30-1-6-gf76a396

If you're running from playbooks installed via RPM

* The output of `r

[2018-05-31 12:38] vrutkovs commented on #8582
`openshift_release=v3.9` would fix that

[2018-05-31 12:38] #8582 closed

[2018-05-31 12:52] dusansusic commented on #8582
No, it doesn't. Still fails on nodes.
[code]

[2018-05-31 15:28] DavidTinoco commented on #8556
Hi @tomassedovic thanks for help,

I tried to deploy it making the change that you said me (`openshift_release: v3.9`), but still have the same error. Here you have what you ask me:

1. The output of  `rpm -qa | grep origin` its:
[code]
2. The output of  `hostname --long` its:
[code]
3. The outputs of  `oc status -v`, `oc get nodes`, `oc get all` are:
*   `oc status -v`
[code]
* `oc get nodes`
[co

[2018-05-31 15:57] ben-le commented on #8025
Thanks @michaelgugino, your workaround solution is working fine with my cluster environment.

[2018-05-31 16:12] kwoodson commented on #8389
@kargakis,  if you could expound on this I could probably do this work.  We have a `launch.yml` and we just need to call it.  Thanks in advance.

[2018-05-31 16:49] kargakis commented on #8389
Planning to work on this at some point soon

/assign

[2018-05-31 18:00] shawkins opened #8587 "docker hub example references old playbook path"
#### Description

https://hub.docker.com/r/openshift/origin-ansible/ shows an example with PLAYBOOK_FILE=playbooks/certificate_expiry/default.yaml

It looks like that was moved back in November to playbooks/openshift-checks/certificate_expiry/default.yaml

##### Steps To Reproduce

Run the example as shown:

[code]
##### Observed Results

ERROR! the playbook: playbooks/certificate_expiry/default.y

[2018-05-31 20:09] shawkins opened #8588 "Running docker image certificate expiry results in an error"
#### Description

Moving past #8587 by supplying the correct path, there is an error running the certificate expiry playbook through docker.

##### Version

The latest (v3.10.1) origin-ansible image.

##### Steps To Reproduce

Run:

[code]
##### Observed Results

A command not found fatal error:

[code]

[2018-06-01 05:46] petergardfjall opened #8593 "Allow adding additional ports to the loadbalancer firewall"
#### Description

This is really a feature request.

It is great to be able to add additional HAProxy loadbalancer frontends/backends via the `openshift_loadbalancer_additional_frontends` and `openshift_loadbalancer_additional_frontends` ansible variables.

_However_, this functionality needs to be complemented by an ability to specify additional ports to open in the server's firewall.

At the mom

[2018-06-01 06:03] rabem00 opened #8594 "Dynamic volume provisioning of gluster-block is not working on OCP3.9"
Dynamic volume provisioning of gluster-block is not working on OCP3.9

[code]

##### Steps To Reproduce
Used the following information: [persistant storage glusterfs block install example full](https://docs.openshift.org/3.9/install_config/persistent_storage/persistent_storage_glusterfs.html#install-example-full)

##### Expected Results
When using the storageclass glusterfs-registry-block to creat

[2018-06-01 06:39] rabem00 commented on #8594
`# oc describe storageclass glusterfs-registry
Name:            glusterfs-registry-block
IsDefaultClass:  No
Annotations:     <none>
Provisioner:     gluster.org/glusterblock
Parameters:      chapauthenabled=true,hacount=3,restsecretname=heketi-registry-admin-secret-block,restsecretnamespace=infra-storage,resturl=http://heketi-registry-infra-storage.infracloudapps.ont.example.com,restuser=admin
Re

[2018-06-01 06:42] rabem00 commented on #8594
[code]

[2018-06-01 07:39] nak3 opened #8595 "Node Labels should be configured in /etc/origin/node/node-config.yaml, some labels have the potential to disappear"
#### Description

- Node is different from other resources like DC, Pods etc. It reads labels from `/etc/origin/node/node-config.yaml`.
- Hence, when Node was re-joined, its labels could be dropped. Please see:

[code]

- As you can see, `node-role.kubernetes.io/compute=true,node-role.kubernetes.io/master=true,openshift-infra=apiserver` are dropped.
- While `region=infra,zone=default` are persistn

[2018-06-01 07:48] nak3 commented on #8595
cc @smarterclayton @fabianvf @vrutkovs
Especially labels added [here](https://github.com/openshift/openshift-ansible/blob/2722c903d54e1591138d7d235fe895b752272545/roles/openshift_manage_node/tasks/set_default_node_role.yml) cause critical issue when these were disappeared due to this issue.

[2018-06-01 08:58] woland7 commented on #8194
I had same error as you when installing origin 3.9.

Try this before starting ansible playbook

[code]
Apparently there's a problem with dbus, which needs to be restarted.

See here [https://github.com/waynedovey/quickstart-redhat-openshift/commit/1f02d28f38e633ffd0895aad55024dd1c40f8a0b](url)

[2018-06-01 09:02] woland7 commented on #8283
I had similar error as you when installing origin 3.9.

Try this before starting ansible playbook

[code]
Apparently there's a problem with dbus, which needs to be restarted.

See here https://github.com/waynedovey/quickstart-redhat-openshift/commit/1f02d28f38e633ffd0895aad55024dd1c40f8a0b

[2018-06-01 10:03] mayorova commented on #6028
I guess this can be closed?

[2018-06-01 10:42] chenqifeng28 opened #8597 "TASK [openshift_control_plane : Start and enable self-hosting node] --Unable to restart service origin-node"
#### Description
I get the openshift-ansible from github,but when i excute the deploy_cluster.yml,it failed.
git clone https://github.com/openshift/openshift-ansible.git

when i excute the prerequisites.yml without any problems
PLAY RECAP *****************************************************************************************************************************************************************

[2018-06-01 11:16] nehaberry opened #8598 "Multipathd service is not started by the playbook."
#### Description
Found this necessary as part of OCP+CNS installation. I'll be using the set up for gluster block related testing which requires multipathd service running. It'll be beneficial to not have any manual commands to be run, if it can be achieved by the playbook itself.
The following yaml file enables multipath but does not start the multipath daemon. It needs to start the daemon as wel

[2018-06-01 11:35] dougbtv opened #8599 "openshift/origin-node:v3.9 not found"
#### Description

Using an inventory based on the provided [inventory/hosts.example](https://github.com/openshift/openshift-ansible/blob/master/inventory/hosts.example) fails during a deployment. With the `openshift_node : Check status of node image pre-pull` play failing, with a complaint that the image `openshift/origin-node:v3.9 not found`.

This is being deployed to CentOS atomic hosts.

#####

[2018-06-01 12:13] rabem00 commented on #8599
Also add the openshift_image_tag in the inventory that way it can find the right container image version:
openshift_release=3.9
**openshift_image_tag=v3.9.0**

[2018-06-01 12:53] dougbtv commented on #8599
@rabem00 -- still get a similar error, this time with a more specific tag:

[code]

[Here's the modified inventory](http://pasteall.org/981208) including the added `openshift_image_tag=v3.9.0`.

[2018-06-01 12:55] midekra commented on #8599
+1
I get the same error. Seems like the images do not exists on docker hub

[2018-06-01 13:47] lukas-vlcek opened #8602 "Add Prometheus scrape config for openshift-logging"
To make it possible for Prometheus to scrape Elasticsearch nodes running in Openshift logging project working correctly we need to provide barer token in Prometheus job configuration.

This work started in https://github.com/openshift/origin/pull/19789 and for the needs of OCP 3.9 backport we are going to update the prometheus configuration by declaring a new job for logging only.

In later OCP re

[2018-06-01 14:09] dougbtv commented on #8599
For what it's worth, this is a recently introduced issue, I had a friend who's been having successful deploys from a forked openshift-ansible, and I took the basis commit of that fork, and I can have a success if I roll back to that commit, using the same inventory... It's fairly old (late April), but, this is the version I used and had a successful deploy:

[code]

[2018-06-01 14:11] dougbtv commented on #8599
Taking a further look at the `docker images` on the master of this successful deploy, it looks like a change in the naming convention for the node image name:

[code]

Whereas with the current master@HEAD openshift-ansible, it's looking for another name:

[code]

[2018-06-01 15:46] abn opened #8606 "System Container container-engine fails to start on CentOS installation [origin/3.9]"
#### Description

Using `release-3.9` branch with `openshift_deployment_type: origin` executing on `CentOS 7.4`, the following task failure is observed when the specified configuration is set.

##### Configuration
[code]

##### Failure
[code]

This particular deployment is on Azure, using the `OpenLogic:CentOS:7.4:latest` image.

#### Version
[code]

#### Steps To Reproduce
1. Deploy infrastructur

[2018-06-01 15:48] JamesDrummond commented on #8599
Same issue. Please fix soon :)

[2018-06-01 15:56] JamesDrummond commented on #8599
Current workaround.
docker pull docker.io/openshift/origin-node:v3.10.0
docker tag docker.io/openshift/origin-node:v3.10.0  docker.io/openshift/origin-node:v3.9.0

[2018-06-01 16:22] DanyC97 commented on #8580
@sdodson where is the source code for  cri-o ? i suspect this is a 3rd party to Origin/ ansible repos and as such we can't take care of it ?

any feedback much appreciated !

[2018-06-01 16:28] jocelynthode commented on #8580
I saw on the official cri-o website a link to a rc repo but it is for cri-o 1.10 which is not what we would want on openshift 3.9.

If an other repo is needed the playbook should either install it or have it as a requirement when the variable is enabled.

[2018-06-01 19:35] balpert89 commented on #6296
Hi, so what is a possible fix to run the ASB successfully on 3.9?
I tried creating a valid PVC after the cluster installation:

´´´
oc scale dc/asb-etcd --replicas=0 -n openshift-ansible-service-broker
oc volume dc asb-etcd --remove --confirm --name=etcd -n openshift-ansible-service-broker
oc delete pvc etcd -n openshift-ansible-service-broker
oc set volume dc/asb-etcd --add --name=etcd --claim-na

[2018-06-01 19:52] skynardo commented on #8567
I found the following in the prometheus.yml configmap provided by the current ansible installation:
      metric_relabel_configs:
      - source_labels: [__name__]
        action: drop
        regex: 'node_cpu|node_(disk|scrape_collector)_.+'

Why drop node_cpu ? Are there other/better metrics that I should be looking at?

[2018-06-01 21:53] vrutkovs commented on #8283
dbus package was updated recently in RHEL/CentOS 7.5, so if you haven't rebooted since updating dbus you should. IIRC restarting dbus service wasn't sufficient

[2018-06-02 09:43] #8556 closed

[2018-06-03 16:01] abn commented on #8606
Looks like this issue has been resolved with the latest image build `registry.centos.org/projectatomic/docker:fc6c55a87940`.

[code]

I am assuming an updated image was the resolution here.

[2018-06-03 16:01] #8606 closed

[2018-06-03 20:51] dusansusic commented on #8599
Similar thing here but closed too fast without any reason. https://github.com/openshift/openshift-ansible/issues/8582

[2018-06-04 05:54] DanyC97 commented on #8580
@vrutkovs @michaelgugino your thoughts on my comment above ? thx

[2018-06-04 08:29] MarWestermann opened #8614 "Installation of containerized OpenShift 3.9 origin fails on Verify API Server"
#### Description

Installation of OpenShift Origin fails on Phase: Verify API Server

I tried to install the containerized version of openshift 3.9 on CentOS. But that fails as it cannot connect to the api server.

##### Version

lsb_release -d
[code]

ansible-version:
[code]
git describe:
[code]

##### Steps To Reproduce
use hosts file provided under additional informations. checkout openshift-an

[2018-06-04 09:43] judavi commented on #7983
@davidvossel how you use this ansible env var when your openshift is already running?

[2018-06-04 10:02] vrutkovs commented on #8599
3.10 playbooks are using static pods to install the cluster, its not applicable to 3.9.
/close

[2018-06-04 10:03] #8599 closed

[2018-06-04 11:30] dusansusic commented on #8599
@vrutkovs but what is the solution here? You're just closing issues without answer about solution.

[2018-06-04 12:01] judavi commented on #7983
Answering my own question but could be handy for a newbie like me:
1. Edit /etc/origin/master/master-config.yaml (or your config file)
2. Add
admissionConfig:
  pluginConfig:
        ValidatingAdmissionWebhook:
            configuration: {kind: DefaultAdmissionConfig, apiVersion: v1, disable: false}
3. restart the service
systemctl restart atomic-openshift-master-api atomic-openshift-master-contro

[2018-06-04 12:50] ewerk-pnahratow opened #8620 "This playbook requires access to Docker 1.12 or later"
#### Description

I'm trying to upgrade OpenShift Origin v3.7.2 to v3.9.0. The playbook stops at

`TASK [container_runtime : Required docker version not available (non-atomic)]`

with the Message `This playbook requires access to Docker 1.12 or later`

##### Version

ansible: 2.5.0
openshift-ansible: a31b673c4ecab2ed2f0bcd4635f7740d9bb3d8e5

##### Additional Information

OS: CentOS Linux release 7

[2018-06-04 13:11] MarWestermann commented on #8620
Hi,
do you have exludes on /etc/yum.conf
I had a similar issue with updating openshift.
Have a look here: https://github.com/openshift/openshift-ansible/issues/8342#issuecomment-388728273

[2018-06-04 14:17] dougbtv commented on #8599
+1, is there a recipe for how to specify that you'd like to install 3.9 with openshift-ansible in your inventory?

[2018-06-04 14:44] MarWestermann commented on #8614
I reinstalled all master and nodes and tested again with the same result.
So the actual issue seems to be, that the master-api container cannot connect to etcd container with error message: bad certificate (see last line of log from etcd container)

[2018-06-04 15:37] ewerk-pnahratow commented on #8620
Closing the issue. I versionlocked docker as part of the host preparation some time ago and I just forgot.

[2018-06-04 15:37] #8620 closed

[2018-06-04 15:58] jocelynthode opened #8623 "Openshit Webconsole Install fails"
#### Description

On a clean multi master setup install with  'redhat/openshift-ovs-multitenant' sdn. Openshift webconsole cannot start

##### Version
[code]

##### Steps To Reproduce
1. start `./openshift-ansible/playbooks/deploy_cluster.yml` playbook

##### Expected Results
Webconsole should come up

##### Observed Results
Console if failing to start due to CNI errors

[code]

I also get this wh

[2018-06-04 17:15] michaelgugino commented on #8580
I'm unsure where CentOS users would obtain crio.

[2018-06-04 18:59] DanyC97 commented on #8580
oh i see ... i'll try to keep looking then

[2018-06-04 22:31] stobias123 commented on #8614
Seeing this exact same issue.
cc @jwmatthews

[2018-06-05 04:43] midekra commented on #8599
Master branch should reflect the correct version in the hosts.example inventory file. It is configured for v3.9 (instead of v.3.10).
So it doesn't work out-of-the-box apparently.

I got it working by just simply switching to the release-3.9 branch and run the appropriate  playubooks, e.g.:  prerequisites.yml and deploy_cluster.yml

[2018-06-05 07:28] lixwlixw opened #8630 "openshift3.6 ovs-networkpolicy error"
#### Description

Provide a brief description of your issue here. For example:

OS version centos7.4
openshift version 3.6.0
ansible version 2.4.2.0
git clone https://github.com/openshift/openshift-ansible.git -b release-3.6

[code]

[2018-06-05 08:29] jocelynthode commented on #8623
Wrong selinux context on /var/lib/containers/docker

[2018-06-05 08:29] #8623 closed

[2018-06-05 08:45] vrutkovs commented on #8623
IIRC running `prerequisites.yml` before `deploy_cluster.yml` should fix the SELinux context

[2018-06-05 08:47] jocelynthode commented on #8623
@vrutkovs I ran the prerequisites.yml but it didn't fix my selinux context. maybe becuase I had my docker in /var/lib/containers/docker and a symbolic link pointing to /var/lib/docker.

[2018-06-05 09:47] CoaxVex opened #8631 "Metrics playbook fails with deploy user !=root due to incorrect usage of "become: false""
#### Description

The "playbooks/openshift-metrics/config.yml" fails when executed by a non-root user on the deploy host.

##### Version

Ansible Version
[code]

Git describe
[code]

##### Steps To Reproduce
1. Peform installation prerequisites
2. Run installer as a non-root user

##### Expected Results
Successful run of playbook.

[code]

##### Observed Results
The playbook fails with the followi

[2018-06-05 12:01] cynepco3hahue commented on #8550
@DanyC97 Hi Doni, do you have any updates?

[2018-06-05 12:29] MarWestermann commented on #8614
The issue seems to be that etcd binds to the wrong interface:

netstat -tulpn

[code]

The etcd configuration looks the following:

[code]

But the openshift-api container resolves master1.testcloud.mycompany.de to localhost (::1)
This is because this host is listen in /etc/hosts (not sure if this was added by openshift ansible installation):

[code]

And the master-configuration:
[code]

I'm not

[2018-06-05 12:45] MarWestermann commented on #8614
ok after thinking about it, I just removed the lines from /etc/hosts so that the domain resolves to the external IP and now it can connect to etcd ;-)
@stobias123 maybe that will help you too

[2018-06-05 12:45] gbenhaim commented on #8399
@nellyc

[2018-06-05 13:23] MarWestermann opened #8635 "containerized installation of origin 3.9 fails on "restart node""
#### Description

Installation of OpenShift Origin 3.9 fails on Phase: restart node

I tried to install the containerized version of openshift 3.9 on CentOS. But that fails as it cannot connect to the api server.

##### Version

lsb_release -d
[code]

ansible-version:
[code]
git describe:
[code]

##### Steps To Reproduce
use hosts file provided under additional informations. checkout openshift-ans

[2018-06-05 14:34] bbeaudoin commented on #7922
When testing deployments where variables are added to or removed from an inventory, subsequent installations may fail due to host facts not being removed from a previous execution. Suggesting cleaning up cached host facts stored on install.

ansible-playbook all -i <inventory> -m file -a 'path=/etc/ansible/facts.d/openshift.fact state=absent'

[2018-06-05 14:36] lsm5 commented on #8580
So, I just joined the PaaS SIG and built cri-o 1.9.12 for `paas7-openshift-origin39-candidate` tag at
https://cbs.centos.org/koji/buildinfo?buildID=22911 and doing the same for cri-tools at https://cbs.centos.org/koji/taskinfo?taskID=441657 . Let me know if that unblocks you or anything else needed /cc @runcom

[2018-06-05 14:42] runcom commented on #8580
isn't CRI-O for 3.9 an RPM? I thought we just used RPMs? @ashcrow @mrunalp

[2018-06-05 14:46] lsm5 commented on #8580
@runcom yup those are rpms, see the URLs for rpm links. Or am I reading your question wrong?

[2018-06-05 14:56] lsm5 commented on #8580
going forward, I'll stop building cri-o for Virt SIG, rather build it for different branches of PaaS SIG

[2018-06-05 14:56] runcom commented on #8580
I meant, do we support installing cri-o via RPM in 3.9? I though it was something supported from >3.10

[2018-06-05 14:59] lsm5 commented on #8580
@ashcrow ack, so the above CentOS builds are good for 3.9, yes?

[2018-06-05 15:28] jocelynthode commented on #8580
@ism5: These builds will eventually make it to the paas7-openshift-origin release repo right ?

[2018-06-05 16:04] ashcrow commented on #8580
@lsm5 :arrow_up:

[2018-06-05 17:01] #2841 closed

[2018-06-05 17:05] #4204 closed

[2018-06-05 17:09] #4456 closed

[2018-06-05 17:12] JamesDrummond commented on #8599
Why was this issue closed? @dougbtv are you able to open it again. @vrutkovs Can you open this item back up? I cannot use openshift ansible until there is a solution.

[2018-06-05 17:22] lsm5 commented on #8580
@jocelynthode do you have rules on when to push something to -release? like get acks from 3 people or wait 2 weeks or whatever? Or is that whenever the maintainer feels like? I don't mind if these get pushed to -release in bulk along with other packages if there's such a thing

[2018-06-05 17:37] lsm5 commented on #8580
@kbsingh @ashcrow could you comment on ^^ please? /cc @runcom

[2018-06-05 17:48] lsm5 commented on #8580
@jocelynthode is the problem you were facing about getting the wrong version of cri-o (1.10 instead of 1.9) ... those should be taken care of by the recent PaaS SIG builds I did. Previously the Virt SIG builds were getting picked up which had all versions mixed up, but PaaS SIG builds are segregated based on openshift versions.

[2018-06-05 18:29] dougbtv commented on #8599
Unfortunately I don't have the permissions to do so @JamesDrummond -- did you try a deployment from the `release-3.9` branch yet? ...I personally haven't yet either.

[2018-06-05 20:05] DanyC97 commented on #8580
@jocelynthode when i got the baton from @tdawson the rule for promoting to -release was / is to announce on dev/ users mailing list, wait 1/2 weeks during which we were waiting for folks to confirm the tests worked and then promote it.

Tomorrow in the weekly PaaS meeting i'll bring it up for discussion and an email notification will be sent out.
If you are willing to test it from -candidate repo

[2018-06-06 00:44] jlozadad opened #8644 "why are roles been called like this?"
#### Description

I'm going through the roles/playbook to try to understand what is happening but, I keep seeing this like this https://github.com/openshift/openshift-ansible/blob/master/playbooks/init/roles. Why are they been called like that? it seems to be a waste and not best practices.

[2018-06-06 06:16] prasenforu commented on #7986
@simonpasquier

Coming back again on this issue. Looks like its not AUTO discovering services endpoints.

Recently I add RabbitMQ with attachment MQ-exporter. I can see all metrics are exposed but not visible in prometheus console.

After I added another scrape similar like haproxy (router) then all metrics are visible.

[2018-06-06 07:11] simonpasquier commented on #7986
@prasenforu

The `kubernetes-service-endpoints` job is only for the infrastructure services (see https://github.com/openshift/openshift-ansible/blob/release-3.9/roles/openshift_prometheus/templates/prometheus.yml.j2#L140) so yes, you'll have to add another scrape definition for user applications.

[2018-06-06 08:09] dusansusic commented on #8599
I tried deployment from `release-3.9` branch - it doesn't work at all.

[2018-06-06 09:01] ReSearchITEng commented on #6899
Using the 3.9 on non-atomic and the issue is still there.
Documentation states that it's containerized is officially support, but we fail with the above.
IMHO this issue must be reopen.

[2018-06-06 09:14] jocelynthode commented on #8580
@lsm5 My problem was not getting any rpm at all
@DanyC97 I'm not sure I will have time to test these as I'm under certain time constraints unfortunately.

[2018-06-06 09:40] wjiangjay opened #8646 "All pre-pull images operation is based on docker runtime but will not be used for cri-o"
[code]

[2018-06-06 09:45] thakurmhn commented on #8452
I am facing the same issue;   prerequisites.yml completed successfully

TASK [openshift_control_plane : debug] *****************************************************************************************
task path: /root/openshift-ansible/roles/openshift_control_plane/tasks/main.yml:185
Wednesday 06 June 2018  15:11:26 +0530 (0:00:00.659)       0:05:32.907 ********
ok: [ocmaster.mhntest.com] => {

[2018-06-06 10:03] thakurmhn commented on #8452
Additional info

[root@ocmaster openshift-ansible]# rpm -qa | grep origin
origin-excluder-3.9.0-1.el7.git.0.ba7faec.noarch
origin-docker-excluder-3.9.0-1.el7.git.0.ba7faec.noarch
origin-3.9.0-1.el7.git.0.ba7faec.x86_64
origin-node-3.9.0-1.el7.git.0.ba7faec.x86_64
origin-clients-3.9.0-1.el7.git.0.ba7faec.x86_64

[root@ocmaster openshift-ansible]# cat /etc/redhat-release
CentOS Linux release 7.4.170

[2018-06-06 12:08] jocelynthode commented on #7305
@jlsalmon : This is possible although not documented, using `ansible_service_broker_install=false` and `ansible_service_broker_remove=true` if already installed.

https://github.com/openshift/openshift-ansible/blob/master/roles/ansible_service_broker/tasks/main.yml

[2018-06-06 13:23] michaelgugino commented on #8452
@thakurmhn use the 3.9 branch to install 3.9 release.

[2018-06-06 13:36] kargakis opened #8650 "can't read /etc/sysconfig/origin-master-api: No such file or directory"
[code]
https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_conformance_azure/309/consoleFull#42262949858b6e51eb7608a5981914356

@openshift/sig-azure

[2018-06-06 13:38] kargakis commented on #8650
[code]

[2018-06-06 13:39] kargakis commented on #8650
This is on the 3.10 job which seems like a fair failure since we have removed `/etc/sysconfig/origin-master-api` from the node image.

[2018-06-06 13:45] arthurlogilab opened #8651 "The task includes an option with an undefined variable. The error was: 'dict object' has no attribute 'oo_first_master'"
#### Description

Provide a brief description of your issue here. For example:

##### Version

[code]

##### Steps To Reproduce

##### Observed Results
Describe what is actually happening.

[code]

[2018-06-06 13:54] kwoodson commented on #8650
@kargakis, It appears that this job is running a 3.9 release as the `openshiftmasterscript.sh` that `sed` the value in `/etc/sysconfig/origin-master-api` only exists in 3.9.

https://github.com/Azure/acs-engine/blob/master/parts/openshift/release-3.9/openshiftmasterscript.sh#L45-L47

[2018-06-06 15:52] arthurlogilab commented on #8452
Am getting a similar problem am on 3.10 release and when it fails to install origin doing a manual yum install shows me that the version available is 3.9...

[2018-06-06 16:57] michaelgugino commented on #8452
@arthurlogilab 3.10 isn't released yet, it's still in development.

I recommend using v3.9, that is the latest released and packaged code.  Use 3.9 branch of this repo, or instlal openshift-ansible 3.9 from your distro/repo of choice.

[2018-06-06 18:15] MarWestermann commented on #8635
Could solve the issue.
It was caused by wrong network interface configuration. I double checked the properties:
NM_CONTROLLED="yes"
PEERDNS="yes"

Then the installation was successful

[2018-06-06 18:15] #8635 closed

[2018-06-06 18:16] #8614 closed

[2018-06-06 18:16] #8369 closed

[2018-06-06 18:17] #8342 closed

[2018-06-06 20:50] stobias123 commented on #8614
For the record... Changing /etc/hosts did not help me.

[2018-06-06 20:55] kargakis commented on #8526
/assign jwmatthews

[2018-06-06 20:55] kargakis commented on #8650
/sig azure

[2018-06-06 20:55] kargakis commented on #8650
/kind bug

[2018-06-06 20:57] kargakis opened #8662 "object of type 'builtin_function_or_method' has no len()"
Moved from https://github.com/openshift/aos-cd-jobs/issues/1431

@openshift/sig-azure
/kind bug

[2018-06-06 20:57] kwoodson commented on #8650
The root cause of this is the image query.  It returns an image that is out of date.  We need to be able to return the latest image that matches the version.

[2018-06-06 21:00] kargakis commented on #8389
/kind feature

[2018-06-07 03:10] etoews commented on #7305
Thanks a lot for the pointer @jocelynthode.  I opened an issue to update the docs at https://github.com/openshift/openshift-docs/issues/9889

[2018-06-07 05:08] dharmit opened #8665 "Adding insecure registry doesn't work"
#### Description

I'm adding following to my hosts file to ensure that insecure registry is added to my cluster:
[code]

##### Version

* Your ansible version per `ansible --version`

* The output of `rpm -q openshift-ansible`

[code]

##### Steps To Reproduce
1. Add `openshift_docker_insecure_registries` and `openshift_docker_additional_registries` parameters to hosts file
2. Execute the playbook

[2018-06-07 06:07] jacobjohnanda opened #8666 ""openshift_logging_es_ops_pvc_storage_class_name" not setting the value appropriately during OpenShift Logging Install using Advanced Install Ansible Scripts."
#### Description
Ansible  Variable "openshift_logging_es_ops_pvc_storage_class_name" not setting the value appropriately during OpenShift  Cluster Logging Install using Advanced Install Ansible Scripts.

I am trying to install  OpenShift  Cluster Logging Install using Advanced Install Ansible Scripts.
I deployed the following command:-

ansible-playbook -i inventory.ini /root/openshift-ansible/pla

[2018-06-07 07:11] arthurlogilab commented on #8452
@michaelgugino thanks for the tip. I started doing that yesterday (which needed to backport a fix for openstack on the 3.9 branch). Maybe the README of the project should indicate the current stable version recommended for new users (who don't necessarily know which version of origin is the current release).

[2018-06-07 07:12] #8516 closed

[2018-06-07 07:13] thakurmhn commented on #8452
Using V3.9 branch its failes to pull etcd image from registry.fedoraproject.org/latest/etcd
setting below variable even doesnt work.

osm_etcd_image=registry.fedoraproject.org/f26/etcd

[2018-06-07 07:19] ksemaev opened #8667 "Openshift upgrade playbook fails because of using short hostnames"
#### Description

Upgrade to 3.9 fails on step - TASK [openshift_manage_node : Set node schedulability]

fatal: [**opsmaster01.elpass** -> opsmaster01.elpass]: FAILED! => {"attempts": 10, "changed": false, "msg": {"results": [{"cmd": "/usr/bin/oc get node **opsmaster01** -o json", "results": [{}], "returncode": 1, "stderr": "Error from server (NotFound): nodes \"opsmaster01\" not found\n", "stdout

[2018-06-07 07:33] prasenforu commented on #8452
[code]

[2018-06-07 07:43] gbenhaim commented on #8399
@DanyC97 any updates?

[2018-06-07 09:18] jacobjohnanda commented on #5076
I am hitting the same issue as well.
oc version
oc v3.9.0+46ff3a0-18
kubernetes v1.9.1+a0ce1bc657

[2018-06-07 13:14] DanyC97 commented on #8399
@gbenhaim sorry no, just got back to work. is on my top priority list, just please bear with me a bit.

[2018-06-07 14:23] michaelgugino commented on #8452
@arthurlogilab please see https://github.com/openshift/openshift-ansible#getting-the-correct-version

We don't control when each distribution packages our latest released code.  We are the upstream project; each distribution packages the software as they see fit.

@thakurmhn I was able to pull the image registry.fedoraproject.org/latest/etcd just fine.

[2018-06-07 14:29] jnach commented on #7874
Noticed this in my environment as well, it seems the OS is trying to auto-optimize storage devices by assigning them to an multipath group (verified with 'lsblk'). I had a successful workaround by removing with 'multipath -f {multipathName}', but also noticed that the installer enables this service by design.

[2018-06-07 14:34] ksemaev commented on #8667
@vrutkovs you are my only hope) Please advice

[2018-06-07 15:19] DanyC97 commented on #8644
that is just a symlink pointing to roles/ dir.

[2018-06-07 16:42] jim-minter commented on #8650
I think @pschiffe's work should resolve this as it will accept a hard-coded input VM rather than use the image query?

[2018-06-07 16:56] jlozadad commented on #8644
but, why ? seems like a terrible idea.

[2018-06-07 18:00] ksemaev commented on #8667
seems like the same here: https://bugzilla.redhat.com/show_bug.cgi?id=1558466

[2018-06-07 18:02] ksemaev commented on #8667
maybe like this: https://github.com/openshift/openshift-ansible/issues/2471

[2018-06-07 21:13] ksemaev commented on #8667
Problem solved by fixing hostname -f output (DNS problem)

[2018-06-07 21:13] #8667 closed

[2018-06-07 21:54] DanyC97 commented on #8644
because in this way you can have playbooks and roles dirs at same level - easier to go to - and with the symlink you don't have to alter the role_path in ansible.cfg

[2018-06-07 22:04] jim-minter commented on #8389
do we definitely want to do this? and should it be a trello card?

[2018-06-07 23:56] dyasny opened #8681 "A configurable timeout for openshift_service_catalog : Verify that the catalog api server is running is required"
#### Description

When using CRI-O the service catalog takes longer to come up and the hardcoded timeout of 60 retries is not enough.

To test this, I've increased to 150 retries and completed a CRI-O based deployment with only 16 retries left to spare

##### Version
3.10.0.47

* Your ansible version per `ansible --version`
[code]

[code]

##### Steps To Reproduce
1. Deploy 1 master  and 2 nodes,

[2018-06-08 00:09] smarterclayton commented on #8681
This seems like a problem with cri-o - I know of no reason for it to take twice as long.

[2018-06-08 00:12] dyasny commented on #8681
Could this be due to the fact I have to resort to an RPM install with CRI-O instead of containerized?

[2018-06-08 05:38] blueholes commented on #5008
Same erro in openshift-ansible release-3.9

[2018-06-08 08:53] kargakis commented on #8389
@jim-minter the main motivation is to try to reuse the same manifests used for e2e tests when we switch to the ci operator although we will probably need to configure our own additional variables in ansible.

https://github.com/openshift/release/blob/c5042b87283939c927fa35d64f357746016df3bf/cluster/ci/config/prow/jobs/cluster-launch-e2e.yaml#L166

We may also want to just copy-paste the job and re

[2018-06-08 08:58] runcom commented on #8681
do you have kubelet logs during the failing tests? would be nice to understand where that's failing

[2018-06-08 10:35] tomassedovic opened #8683 "OpenStack playbooks fail with `openshift_node_group_name must be defined`"
#### Description

Running the `playbooks/opentack/provision_install.yml` playbook fails because `openshift_node_group_name` is not set.

This check has been introduced in https://github.com/openshift/openshift-ansible/pull/8639. We must update our inventory to set the right vars.

Provide a brief description of your issue here. For example:

##### Version

Please put the following version informat

[2018-06-08 12:06] jim-minter commented on #8389
trello'd

[2018-06-08 12:06] #8389 closed

[2018-06-08 13:14] dzianis-shkindzerau commented on #8410
Similar error while scaling up origin 3.6 nodes for already worked (1 year) cluster

Partial config:
`
deployment_type: origin
openshift_deployment_type: origin
openshift_release: v3.6
openshift_image_tag: v3.6.1
openshift_pkg_version: -3.6.1
`

Ansible output:
`
TASK [openshift_node : Install Node package] *******************************************************************************************

[2018-06-08 13:41] smarterclayton commented on #8681
Rpm crio if anything should be faster than containerized.

[2018-06-08 13:43] dyasny commented on #8681
@runcom thing is, nothing is failing, it simply takes longer to bring the service up. If you guys are on the RH internal network, I can give you ssh access to poke at it directly

[2018-06-08 13:51] kargakis opened #8687 "the field 'args' has an invalid value ([]), and could not be converted to an dict"
[code]
https://ci.openshift.redhat.com/jenkins/view/All/job/test_pull_request_origin_extended_conformance_azure/370/console
@openshift/sig-azure
/kind bug

[2018-06-08 14:08] dyasny commented on #8681
@smarterclayton I've submitted a PR for this: https://github.com/openshift/openshift-ansible/pull/8689

[2018-06-08 14:56] touchardv commented on #8477
I also have the same issue: a fresh installation of 3.9 on CentOS.
Initially I though that was the Docker registry proxy that was wrong, but indeed, a non-existing Docker image is being pulled without success.

[2018-06-08 15:56] sferich888 commented on #3652
https://curl.haxx.se/libcurl/c/libcurl-errors.html

CURLE_COULDNT_CONNECT (7)
Failed to connect() to host or proxy.

Have you opened up the fire wall to make sure that port is accessible?

[2018-06-08 19:54] cevn commented on #8623
having the same issue. where my docker is symlinked somewhere else for space concerns. If prereqs doesn't fix it should that be a bug?

[2018-06-08 21:19] cevn opened #8698 "Error creating default registry service"
#### Description
On running a deploy_cluster playbook, there is an error creating the default registry service. This didn't happen before I added `openshift_master_cluster_public_hostname` to the `inventory/hosts.localhost` file (right now it's a single master cluster).
##### Version

Please put the following version information in the code block
indicated below.

* Your ansible version per `ansib

[2018-06-08 21:20] #8683 closed

[2018-06-09 03:29] mrunalp commented on #8681
@dyasny Can you send details to connect to your deployment to @runcom and me? Thanks!

[2018-06-09 10:47] akram opened #8703 "Openshift Web Console not installed for origin in all in one installation"
#### Description

Openshift Web Console not installed for origin
on an all in one installation, the openshift web console (origin web console) does not install

Tried both of these:
#openshift_web_console_nodeselector={'region':'infra'}
openshift_web_console_install=true

The namespace never gets created

[2018-06-09 10:49] akram opened #8704 "All in one installation fails because of missing file /etc/origin/node/resolv.conf"
#### Description

Origin all in one installation fails complaining about /etc/origin/node/resolv.conf missing.

Creating the file manually, and then launching the installation makes things working

[2018-06-10 19:15] stewartshea commented on #8410
I was running into the a similar (or the same) issue and this link helped: [](https://github.com/openshift/openshift-ansible/issues/8030
)

In my case, I had originally tested without the `openshift_release` variable, which caused the current release repo to hang around, even after adding the variable after the fact. So, with that, ensure that the only openshift repo enabled is `CentOS-OpenShift-O

[2018-06-11 05:15] jerryhan77 commented on #8569
Hi

Latest version ( openshift-ansible-3.9.30-1-27-g7423bb1  ) seems fix the bug.

Thanks!

[2018-06-11 05:15] #8569 closed

[2018-06-11 06:18] jerryhan77 opened #8705 "How to uninstall service catalog"
#### Description

I have a running openshift origin 3.7 cluster with service catalog. The cluster are installed by openshift-ansible. I cannot find the information on how to uninstall the service catalog.

I have try to set 'openshift_enable_service_catalog=false' in inventory file, and run the playbooks/byo/openshift-cluster/service-catalog.yml, but with no luck.

[2018-06-11 06:29] ganhuang commented on #8705
@jerryhan77 Please try to set `openshift_service_catalog_remove=true`.

 You have to set `openshift_enable_service_catalog=true` at the same time to ensure role `openshift_service_catalog` is called.

[2018-06-11 09:20] vrutkovs commented on #8567
@simonpasquier might know why `node_cpu` is being dropped (note that Grafana dashboards are using it IIUC)

[2018-06-11 09:22] vrutkovs commented on #8665
Which playbooks are being run? IIRC `prerequisites` would restart docker and the changes to `INSECURE_REGISTRY` would be applied

[2018-06-11 09:28] vrutkovs commented on #8598
@mjudeikis PTAL

[2018-06-11 09:44] vrutkovs commented on #3652
Right, `default_r_openshift_master_os_firewall_allow` should include `openshift_master_console_port`

[2018-06-11 09:46] vrutkovs commented on #8598
Fixed in #8610

[2018-06-11 09:46] #8598 closed

[2018-06-11 10:04] vrutkovs commented on #8703
Could you attach the logs for the install? Which branch and Origin version is being installed?

[2018-06-11 11:23] dharmit commented on #8665
I'm running only this playbook - `/usr/share/ansible/openshift-ansible/playbooks/deploy_cluster.yml`

[2018-06-11 11:32] vrutkovs commented on #8665
Does it work if both `/usr/share/ansible/openshift-ansible/playbooks/prerequisites.yml` and `/usr/share/ansible/openshift-ansible/playbooks/deploy_cluster.yml` are run?

[2018-06-11 12:06] simonpasquier commented on #8567
AFAICT the decision to drop some of the node_exporter metrics comes originally from https://github.com/openshift/origin/pull/18174 which added the scraping of node-exporter to the Prometheus Origin template. At the time, the rationale was to filter out metrics with high cardinality which otherwise it could make Prometheus unusable with large clusters. That being said, a flag is probably needed to

[2018-06-11 12:10] dzianis-shkindzerau commented on #8410
@stewartshea thanks! This helped me to.

[2018-06-11 13:38] dyasny commented on #8681
@mrunalp I've already let @runcom in, ping him or me when you're online to join the party

[2018-06-11 13:41] jarrpa commented on #8476
Sorry for the delay, this fell off my radar. I have never seen this particular error before. Is this still a reproducible issue? If so, are you able to deploy any other hosted components like the registry, logging, or metrics, or any other app in general?

[2018-06-11 13:45] jarrpa commented on #8455
Sorry for the delay, this fell off my radar.
I will start by saying that this issue was indeed valid: for the longest time, the upstream had no reasonable way to deploy gluster-block anywhere. @lentzi90 was right to look at the gluster-containers repo, but the particular PR linked is long-dead. Thankfully some recent changes allowed me to submit [this PR](https://github.com/gluster/gluster-contain

[2018-06-11 14:50] yuanlinios opened #8711 "How to restart a failed deployment?"
#### Description
Just a generic question regarding to deployment. If the ansible playbook at some stage, how can I restart the deployment?

Usually, I will get message like
* "to retry, use: --limit @aaa.retry" under the failed task
* "This phase can be restarted by running: bbb.yml" under installer status

Shall I retry the failed task, rerun the phase, or rerun the deploy_cluster.yml playbook? I

[2018-06-11 16:04] kwoodson commented on #8526
@jwmatthews,  @michaelgugino

According to the defaults section, https://github.com/openshift/openshift-ansible/blob/master/roles/ansible_service_broker/defaults/main.yml#L25-L30, we need to ignore the `oreg_url` when `openshift_deployment_type` is `origin`.

When the `oreg_url` variable is set the correct origin URL is _not_ used:

Inventory:
[code]

[code]

[2018-06-11 16:25] MohamedHedi opened #8712 "Wait for Node Registration"
#### Description
try to create origin cluster with ansible in aws (1 master + 2 nodes)

And I have this error on TASK [openshift_manage_node : Wait for Node Registration] :

`fatal: [everysenscloud.com -> everysenscloud.com]: FAILED! => {"attempts": 50, "changed": false, "results": {"cmd": "/bin/oc get node ip-10-0-0-5.eu-west-3.compute.internal -o json -n default", "results": [{}], "returncode":

[2018-06-11 16:30] kwoodson commented on #8526
Just trying a few things.  This did work and set the image correctly when `oreg_url` was set.

[code]

Thoughts?

[2018-06-11 17:11] vrutkovs commented on #8711
`deploy_cluster.yml` should be started in order to restart the deployment as a whole. Some stages could restarted by running particular playbooks. `--limit` with retry files might not work in most cases and its not recommended

[2018-06-11 17:11] #8711 closed

[2018-06-11 19:39] arewm opened #8717 "WebConsole install fails"
#### Description

I know that there are a couple other issues that might be related, but not sure (#8703). If any are closely related, I can close this and continue discussion there.

On a single master, single etcd, and multiple node install (4 nodes, one of which is master), the playbook fails when trying to start the webconsole. I saw some other solutions that got it to work by specifying `open

[2018-06-11 20:04] arewm commented on #8717
While I do not think that this is related to #8565 since I am not installing `origin`, I do not know why the installer is trying to go to `docker.io`.

[2018-06-12 04:10] jerryhan77 commented on #8705
@ganhuang  Thanks for the tip!

I'm using following setting to remove the service catalog and related service.
[code]

[2018-06-12 04:10] #8705 closed

[2018-06-12 05:08] daleking opened #8722 "Deployment on OpenStack fails due to floating ip address not part of security groups"
#### Description

I am unable to deploy on openstack (in particular, OSP 12 or RDO queens) because the DNS names used in the config point to the external floating IP network rather than the internal network addresses.  There are two main places where this happens:

1.  etcdClientInfo urls in /etc/origin/master/master-config.yaml generated from playbooks/init/cluster_facts.yml

The urls here are ge

[2018-06-12 07:59] carct commented on #6222
Hi,

Same error is happening to me when trying to build / pull from e RHEL image (registry.access.redhat.com/rhel6:6.9-100):

Step 1/44 : FROM registry.access.redhat.com/rhel6:6.9-100
Trying to pull repository registry.access.redhat.com/rhel6 ...
open /etc/docker/certs.d/registry.access.redhat.com/redhat-ca.crt: no such file or directory

[root@agent registry.access.redhat.com]# ls -alh
total 0
dr

[2018-06-12 08:05] danielkucera commented on #6222
@carct you can try to download the cert from here: https://github.com/candlepin/python-rhsm/blob/master/etc-conf/ca/redhat-uep.pem

[2018-06-12 08:12] nak3 opened #8724 "RFC: Support ansible-playbook to dry run (with --check option) by addding "check_mode: no""
#### Description

- When we install/upgrade OpenShift, we would like to test run by `ansible-playbook <PLAYBOOK> --check` (with --check option).
- However, current playbook does not add "check_mode: no" to tasks in many places, so the dry run fails.
- It is possible to support it by adding `check_mode: no` to some module such as:
   - command:
   - yedit:
   - repoquery:
   - .. etc

But, would li

[2018-06-12 09:31] alexxa commented on #8453
@vponomaryov, I have just tried "openshift-ansible-3.10.0-0.51.0" a couple of times and it also fails with `Control plane install failed`. Any other ideas, please?

[2018-06-12 10:32] kargakis commented on #8650
/assign pschiffe

On Thu, Jun 7, 2018, 19:42 Jim Minter <notifications@github.com> wrote:

[2018-06-12 13:59] DavidTinoco opened #8729 "openshift-ansible-service-broker"
#### Description

Hi, im having problems with openshift-ansible-service-broker, i have a pod in a continuous CrashLoopBackOff. Im deploying
* 1 LB
* 2 Masters
* 2 Infra
* 2 Apps

##### Version
[code]
[code]
##### Steps To Reproduce
[code]

#### Pods, pv, pvc, logs Status

[code]
I was having problems with the apiserver and solved it editing (inside de containter) the `options ndots:5` to `options

[2018-06-12 14:46] dharmit commented on #8665
Yes, running the `prerequisites.yml` before `deploy_cluster.yml` does the trick. Thanks for your help!

[2018-06-12 15:46] lukas-bednar commented on #8453
@vponomaryov I am running with `openshift-ansible-3.10.0-0.66.0` and I am getting this issue as well.
Here are logs from docker
[code]

[2018-06-12 15:47] alexxa commented on #8453
cc @vrutkovs

[2018-06-12 16:46] vrutkovs commented on #8453
This looks like docker issue to me, see https://bugzilla.redhat.com/show_bug.cgi?id=1584909

What's your current docker version? Does downgrading it helps?

[2018-06-12 18:46] jboyd01 commented on #8076
@JayKayy, @ewolinetz  - do you recall if this issue was seen in Origin or OCP or what specific version you were working with at the time?  Or have you seen it since?   We had several fixes in this area, the latest was fixed in openshift-ansible-3.9.21-1 which was tagged on April 13.

https://github.com/openshift/openshift-ansible/pull/7915 - **Add oo_etcd_to_config to service_catalog**
https://git

[2018-06-12 18:58] JayKayy commented on #8076
@jboyd01 I had this issue on OCPv3.9.14. I have not performed another install to verify a fix unfortunately. I will update when i do perform another although no more are currently planned in the coming weeks.

[2018-06-12 19:51] jboyd01 commented on #8076
@JayKayy that's a great answer, thanks very much.

[2018-06-12 19:55] ewolinetz commented on #8076
@jboyd01 I can't remember at this time, unfortunately. I did find that I was having some DNS related issues in my local environment, so I'm not sure if they were due to that or something else.

I will try to do another fresh 3.9 install and report back.

[2018-06-12 20:01] arewm commented on #8717
[These](https://bugzilla.redhat.com/show_bug.cgi?id=1583500#c24) steps solved the issue. No need to maintain the issue in more than one place, so closing this issue.

Add the following lines to the inventory file

[code]

[2018-06-12 20:01] #8717 closed

[2018-06-12 20:34] nwsheppard opened #8737 "Missing bootstrap.kubeconfig"
#### Description

Performing a new deployment to AWS, running the provision_nodes.yml playbook, I am getting a failure to find the /etc/origin/master/bootstrap.kubeconfig.

`TASK [openshift_aws : slurp down the bootstrap.kubeconfig] ***************************************************************************************************************
task path: /home/user/Git/github/openshift-ansible/role

[2018-06-12 20:36] michaelgugino commented on #8076
This was definitely an issue previously and should be fixed in the latest versions.

[2018-06-12 20:37] hetzbh opened #8738 "'openshift_hostname' is undefined"
#### Description

Provide a brief description of your issue here.

Testing the prerequisites.yml with a simple hosts file I created (below)

Ansible version - 2.5.3 (CentOS 7, using EPEL repo)

If you're running from playbooks installed via RPM

* The output of `rpm -q openshift-ansible`
openshift-ansible-3.9.0-0.53.0.git.1.af49d87.el7.noarch

Place the output between the code block below:

#####

[2018-06-12 20:47] michaelgugino commented on #8738
@hetzbh looks like osnode3.hetzlabs.io is not resolvable on the host.  The error message would indicate that, but looks like we included an undefined variable in the error message we're trying to show users, and since it's undefined you get the undefined error message instead.

[code]

[2018-06-12 20:53] hetzbh commented on #8738
Weird, it's surely resolvable on the master (where I run the ansible playbooks):

[code]

[2018-06-12 23:04] hetzbh opened #8740 "short_version 3.9 error"
Hi,
Trying on CentOS 7.5 + EPEL Repo with atomic package atomic-openshift-utils-3.7.43-1.git.1.ed51ddd.el7.noarch to install Openshift origin 3.7.

My inventory/host file:

[code]
As you can see, I have set things as much as possible to install the latest 3.7 version (3.7.2) and yet the ansible playbook fails with this error:

[code]

Anything I forgot? I tried first to install the 3.9 (using the

[2018-06-12 23:14] michaelgugino commented on #8738
@hetzbh should be resolvable from the node itself, as well.

[2018-06-13 07:22] viv816 commented on #6222
@danielkucera

I am facing similar problem in OpenShift Origin cluster on CentOS 7.

It worked intermittently for a while in the morning but now continuously getting the below error

![error](https://user-images.githubusercontent.com/10990387/41335819-b8110264-6f1c-11e8-9fd2-8a83cfb5166b.PNG)

*************************************
oc v3.9.0+a96a520-22
kubernetes v1.9.1+a0ce1bc657
features: Basic-A

[2018-06-13 08:29] lukas-bednar commented on #8453
@vrutkovs we are running higher version of docker `docker-1.13.1-66.gitdded712.el7.x86_64`.

[2018-06-13 10:15] vrutkovs commented on #8740
If these are the same hosts you've used to try 3.9, then ansible facts should be cleaned.

Make sure you've removed `/etc/ansible/facts.d` on the hosts and `$HOME/ansible` on the ansible hosts - and try again

[2018-06-13 11:22] hetzbh commented on #8740
I removed the directory $HOME/.ansible and removed the openshift.fact from /etc/ansible/facts.d and yet, it doesn't help...

[2018-06-13 12:29] abhaynayak24 commented on #8599
I'm facing the same issue, why is this thread closed without any solution?

I've was able to run openshift 3.9 in my lab previously, but had re install everything due to some issue. I didn't face this issue previously but now i'm having this trouble. Any suggestions on how to overcome this issue? Im not sure but the fix seems to be in the inventory file

[2018-06-13 13:17] abhaynayak24 commented on #8599
I also noticed this one update from noarch 0:3.9.27 to 0:3.9.30. Not sure if this should affect the process but still I would try to install 3.9.27 using rpms if its possible and get back.

[code]

[2018-06-13 13:46] ironcladlou commented on #8567
/cc @brancz

[2018-06-13 14:38] brancz commented on #8567
That's correct, the future stack doesn't filter at all (currently), but also node-exporter since https://github.com/openshift/origin/pull/18174 now ignores a number of filesystems that were producing high cardinality before, so I think we should be good. Scalability tests also haven't shown to have dropping these metrics to be necessary so far (this may change in the future, but seems ok right now

[2018-06-13 15:16] sdodson commented on #7999
https://bugzilla.redhat.com/show_bug.cgi?id=1563888 on this too

[2018-06-13 15:37] touchardv commented on #8477
This issue is not related to the Ansible scripts. See https://bugzilla.redhat.com/show_bug.cgi?id=1550372

[2018-06-13 15:51] simonpasquier commented on #8567
There is #8279 which points out that filtering of the node_exporter metrics breaks the Grafana dashboard.

Regarding the original reason for dropping `node_cpu` metrics @smarterclayton is probably the most qualified to answer.

[2018-06-13 17:13] smarterclayton commented on #8567
We filter it out explicitly because we already have it from cadvisor, and
they are incredibly high cardinality.

On Wed, Jun 13, 2018 at 11:51 AM, Simon Pasquier <notifications@github.com>
wrote:

[2018-06-13 17:14] smarterclayton commented on #8567
The extra 5GB of memory they use are not worthwhile.

[2018-06-13 17:45] megastallman commented on #8476
Yes, all other apps get deployed. We are using this cluster in production now. So only the glusterfs playbooks break everything.

[2018-06-13 18:56] pruan-rht opened #8745 "patch module needs to be back ported for OCP < 3.10 for openshift/origin-ansible"
#### Description
According to the requirements for installation, the patch module is needed.  For OCP >= 3.10, it is there in the docker image.  For OCP < 3.10, that module is not there for  openshift/origin-ansible  The openshift3/ose-ansible has that patch, it's the master version that is missing that module.

##### Version

OCP < 3.10

[2018-06-13 19:42] enham commented on #7967
IHAC who is seeing this also during upgrades from a functional 3.7 cluster to 3.9 (AWS, 1x1x2, unremarkable configuration). Seems like there's some weird race condition going on, a simple reboot of the errant node clears it up and it's able to register properly with the SDN.

[2018-06-13 20:35] jarrpa commented on #8476
...this is so weird. If it's consistently the same error, I'm not sure where to begin debugging this. The thing that's failing is the deployer pod (not `deploy-heketi-X` but `deploy-heketi-X-deploy`), which should be no different for heketi than anything else.

If you can, please reproduce the problem and report the following:

1. Are the GlusterFS pods running and ready?
2. What is the output of

[2018-06-13 21:50] hetzbh commented on #8740
At the end I recreated those VM's and used the github version (not the RPMs) using the 3.7 branch and it works.

[2018-06-13 21:51] hetzbh commented on #8738
You're right. Fixed ;)

[2018-06-13 22:04] hetzbh opened #8747 "No external access to pods/services"
#### Description

I'm using openshift-ansible github 3.7 branch to install OpenShift 3.7.2 on CentOS 7.5 (plus EPEL).
All the machines (Master, infra, 3 nodes) have internal IP and can access the internet without any issue.
No configuration changes were made (other then SELinux enable NFS) to the Linux on those machines.

I'm deploying a pretty simple inventory file and it deploys successfully. I

[2018-06-13 23:15] hetzbh commented on #8747
Big oops. I pointed the wildcard to the master instead of infra. Please close.

[2018-06-14 06:36] STROHMEYER commented on #4383
I have same problem with Openshift Origin 3.9
OS: Centos 7 Project Atomic
[code]

[2018-06-14 08:49] alexxa commented on #8550
@cynepco3hahue The same error on a different oc command: https://github.com/openshift/origin/issues/19590 Maybe it's connected.

[2018-06-14 08:52] vrutkovs commented on #8745
This has been backported in https://github.com/openshift/openshift-ansible/pull/8421. There is no new 3.9 release yet though

[2018-06-14 08:52] #8745 closed

[2018-06-14 08:55] #8747 closed

[2018-06-14 08:55] #8738 closed

[2018-06-14 08:55] #8740 closed

[2018-06-14 08:59] vrutkovs commented on #4383
The proper fix for this is to install `python-passlib` on the control host, the one you're running ansible on.

There are few problems why its not done automatically:
* its dangerous to request root permissions to install the RPM from the ansible script. It would also complicate the CLI, as sudo settings on control host and target hosts might be different
* since both `ansible-playbook` and `ansib

[2018-06-14 10:18] tomassedovic commented on #8651
I've been able to reproduce this error, but only if there are no nodes in the `masters` ansible group. I didn't see anything wrong in the code so more details about the environment you're trying to install would be appreciated.

Could you paste the contents of your inventory/group_vars/all.yml?

Also if you can, what's the output of `openshift-ansible/playbooks/openstack/inventory.py --list` after

[2018-06-14 10:19] tomassedovic commented on #8651
Obviously, if you've got any sensitive data  (e.g. the DNS configuration) censor that out.

[2018-06-14 11:31] carct commented on #6222
a little mention i forgot, i was experiencing this issue described here, but different environment, no openshift context at this stage - was just building a docker image on a custom-vsts-agent (AzureVM) and was encountering that missing cert. error on pulling RHEL docker image from RedHat Registry.

[2018-06-14 11:56] dhanugithub commented on #5076
Hello,
I am also getting same error. I am deploying Openshift directly on VMs on a server. I have 1 master and 1 node.
§ git describe
openshift-ansible-3.6.173.0.124-1
§ ansible-playbook -i /etc/ansible/hosts /home/stack/openshift-ansible/playbooks/byo/config.yml --ask-pass -v
These are my commands.

Failure summary:

    Hosts: openshift-master.bips.com
    Play: Configure masters
    Task: resta

[2018-06-14 12:21] chenqifeng28 commented on #8597
How can i  i look for the openshift version?

[2018-06-14 13:56] pschiffe commented on #8650
This should be fixed now by https://github.com/openshift/openshift-ansible/pull/8751 and https://github.com/openshift/openshift-ansible/pull/8756

[2018-06-14 13:59] pweil- commented on #8650
Awesome!  Please verify and close when ready.

[2018-06-14 14:14] malagant commented on #7885
I'm also heavily interested in this. Did you find any new insights?

[2018-06-14 15:07] vrutkovs commented on #8438
See https://bugzilla.redhat.com/show_bug.cgi?id=1425022#c16 - Clayton requires registry-console to run on masters only

[2018-06-14 15:59] pschiffe commented on #8650
@pweil- yep, it's working, but I don't have perm. to close this.

https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_conformance_azure/517/

[2018-06-14 16:08] #8650 closed

[2018-06-15 00:19] nj3110 opened #8775 ""msg": "The task includes an option with an undefined variable. The error was: 'dict object' has no attribute"
#### Description
Getting below mentioned error while executing playbook.
"msg": "The task includes an option with an undefined variable. The error was: 'dict object' has no attribute

Provide a brief description of your issue here. For example:
[root@c7m1 playbook]# ansible-playbook proxy_etc_env1.yml --check

PLAY [db] ******************************************************************************

[2018-06-15 00:20] isansahoo commented on #3160
Getting same issue as above:
[code]
Some details:
- Installing openshift 3.7
- Ansible version:

[code]

Could you please let know how to solve this issue?

[2018-06-15 01:02] eyhanna opened #8776 "specify a build server"
hello i am trying to specify one server to run build, so as by the documentation i have changed to master config adding  nodeSelector under buildoverride and builddefault. as the following

admissionConfig:
  pluginConfig:
    BuildDefaults:
      configuration:
        apiVersion: v1
        env: []
        kind: BuildDefaultsConfig
        nodeSelector:
          build-node: true
        resourc

[2018-06-15 07:19] #8775 closed

[2018-06-15 09:18] DanyC97 commented on #8550
@cynepco3hahue not sure if you are subscribed to openshift dev mailing list or centos-devel (where the PaaS meetings logs are being shared) but this week i've announced that we've built a 3.10 origin rpm from Origin master branch (note there is not RC candidate for 3.10 origin yet) for playing a bit and get ourselves ready from PaaS pov when a release will be cut out.

The rpm are located https://

[2018-06-15 09:21] DanyC97 commented on #8455
nice one @jarrpa ! +1 on closing it

[2018-06-15 09:33] Fezaii commented on #5076
the same issue as well.
oc v3.9.0+ba7faec-1
kubernetes v1.9.1+a0ce1bc657

[2018-06-15 15:14] stzilli opened #8784 "redeploy_certificates does not update the web console ones"
#### Description

I was replacing the master CA and certificates using the documentation here: https://docs.openshift.org/latest/install_config/redeploying_certificates.html

After running redeploy-openshift-ca.yml and redeploy-certificates.yml playbooks the various services were up and running except the webconsole.

Looking at the logs the master-api was failing to connect to the webconsole cont

[2018-06-15 16:21] tdudgeon commented on #7967
Rebooting the failed nodes has not worked for me. Once a node is 'tainted' is stays tainted and the only solution is to replace it with a new one and try the install again.

Please could someone who understands the networking setup take ownership of this issue.
I can very easily demonstrate it to anyone who wants to see it happening.

[2018-06-15 16:57] orgcandman opened #8788 "Open vSwitch SELinux domain is set to 'permissive'"
#### Description

Provide a brief description of your issue here. For example:

As can be seen in https://github.com/openshift/openshift-ansible/blob/master/roles/contiv/tasks/ovs.yml the installer sets the openvswitch_t domain to permissive, making it effectively unconfined_t.

##### Expected Results
Describe what you expected to happen.

I expect that openvswitch_t domain is always running at th

[2018-06-15 18:31] dak1n1 opened #8792 "oc_group module errors if group doesn't exist"
#### Description

When using the `oc_group` module to create a new group, the module errors and does not create the group.

[code]

##### Version

Please put the following version information in the code block
indicated below.

* Your ansible version per `ansible --version`

If you're operating from a **git clone**:

* The output of `git describe`

If you're running from playbooks installed via RP

[2018-06-15 20:09] potthastbenjamin commented on #8597
I have this problem with a checked out version of release-3.9. It passes prereq.yml then proceeds to crash because the OpenShift Node service can't start.

`
TASK [openshift_control_plane : Start and enable self-hosting node] *********************************************************************************
fatal: [10.30.1.38]: FAILED! => {"changed": false, "msg": "Unable to restart service origin-

[2018-06-15 20:27] nemonik commented on #8477
I'm seeing the same problem

Openshift repeatedly tries to pull

 openshift/origin-recycler:v1.9.1

to recycle my nfs PVs.

[2018-06-15 22:03] mbruzek opened #8799 "OpenStack playbooks fail with `openshift_node_group_name must be defined for all nodes`"
#### Description

Running the `playbooks/opentack/provision_install.yml` playbook fails because `openshift_node_group_name` is not set on the cns nodes.

This check has been introduced in #8639. Addressed in #8683 but needs additional work for cns nodes.

##### Version

* Your ansible version per `ansible --version`:  ansible 2.4.3.0

* The output of `git describe`: openshift-ansible-3.10.0-0.63.0

[2018-06-16 00:19] eyhanna commented on #8776
hello,

thanks a lot for your answer, actually i am trying to have a specific build server i have 2 nodes both of them region=infra and the default nodeselector  is region=infra

and i have node2 labeled as build-node=true

also i have tainted node2 as the following

 oc adm taint node node.xxxxx.com build-node=true:NoSchedule

and i have edited my master config file to have

admissionConfig:
  pl

[2018-06-16 01:33] eyhanna commented on #8776
as i saw that the alpa annotations are not supported anymore and as i am running on version 3.9

i tried the following also with no luck

admissionConfig:
  pluginConfig:
    BuildDefaults:
      configuration:
        apiVersion: v1
        env: []
        kind: BuildDefaultsConfig
        nodeSelector:
          build-node: "true"
        resources:
          limits: {}
          requests: {}

[2018-06-16 08:55] vrutkovs commented on #8776
It seems ansible is generating a correct BuildOverrides section, so I guess its an Origin issue, please file a new bug in `openshift/origin` repository

[2018-06-17 06:46] cynepco3hahue commented on #8550
@DanyC97 Thanks for the update, I will try to deploy 3.10 with packages from the link.

[2018-06-17 07:45] dmetzler commented on #8784
I had the same problem here : https://github.com/openshift/origin/issues/20005

A quicker way to fix it is to remove the cert secret and rollout the webconsole again (or delete the pods):

[code]

[2018-06-17 07:57] cynepco3hahue commented on #8550
@DanyC97 I tried to deploy Origin `3.10` with packages from https://cbs.centos.org/koji/taskinfo?taskID=449606 and with openshift-ansible branch `v3.10.0-rc.0`, but `origin-node.service` failed to start with the error message
[code]
Does this file must be part of some package or does it must be created dynamically via ansible execution?

[2018-06-18 05:39] daleking commented on #8722
This was my fault, it came about because I didn't realise I had configured both private and public dns sections.  The docs are clear https://github.com/openshift/openshift-ansible/blob/master/playbooks/openstack/configuration.md#dns-configuration

[2018-06-18 05:39] #8722 closed

[2018-06-18 10:46] rgolangh commented on #5076
Same here, all in one master + node + etcd. Installed using ansible deploy_cluster.ym.l
oc v3.9.0+b8265d6-31
kubernetes v1.9.1+a0ce1bc657
Centos 7.5.1804

[2018-06-18 11:03] vrutkovs opened #8808 "PAPR flake: API pod gets removed during 3.10 -> 3.11 upgrade"
For some reason API pod gets removed and won't come up:
[code]

Logs: https://s3.amazonaws.com/aos-ci/ghprb/openshift/openshift-ansible/c363deb2cfdd2c0feb61f00173ba9dc525838807.2.1529317463725068466/artifacts/journals/index.html

[2018-06-18 11:59] gtema opened #8817 "glusterfs topology load exits after first processed node"
#### Description

Provide a brief description of your issue here. For example:

While trying to install glusterfs (mostly for registry) the step of loading topology always fails after processing first node, resulting in further steps to fail

[code]

In order to be able to proceed I need to manually execute command multiple times till all hosts would be processed

##### Version

Please put the fol

[2018-06-18 13:30] ggnanasekaran77 opened #8819 "last_checked_host: master.example.com, last_checked_var: openshift_node_group_name;openshift_node_group_name must be defined for all nodes"
#### Trying to Setup One Master One Node and One Infra Node

Provide a brief description of your issue here. For example:

##### Version

`[root@master openshift-ansible]# ansible --version
ansible 2.5.3
  config file = /root/openshift-ansible/ansible.cfg
  configured module search path = [u'/root/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location =

[2018-06-18 13:44] vrutkovs commented on #8819
This is required now, see https://github.com/openshift/openshift-ansible/pull/8639

[2018-06-18 13:44] #8819 closed

[2018-06-18 13:52] bostrt commented on #3815
https://bugzilla.redhat.com/show_bug.cgi?id=1592421

[2018-06-18 14:24] victorvoronin opened #8824 "AWS installation readme 3.9 is outdated"
#### Description

Openshift AWS installation changed from 3.7 to 3.9 and README.md is outdated, because provision_install.yml now contains one more step:

[code]

##### Version
Openshift Origin 3.9

##### Steps To Reproduce
1. Get 'release-3.9' repository branch
2. Perform step-by-step installation with
https://github.com/openshift/openshift-ansible/blob/master/playbooks/aws/README.md

##### Expec

[2018-06-18 15:54] tomassedovic commented on #8799
Right, I can fix this. I didn't realise the CNS nodes are also treated as OpenShift nodes and need a group.

So you'd like to set their group name to `node-config-compute`, right?

[2018-06-18 16:05] luis5tb opened #8832 "infra nodes labelled with node-role.kubernetes.io/compute=true"
#### Description
When deploying OCP on top of OpenStack VMs, with kuryr enabled, and the next 'openshift_node_groups' setting at the inventory/group_vars/OSEv3.yaml:
openshift_node_groups:
  - name: node-config-master
    labels:
      - 'node-role.kubernetes.io/master=true'
      - 'pod_vif=nested-vlan'
    edits: []
  - name: node-config-infra
    labels:
      - 'node-role.kubernetes.io/infra=t

[2018-06-18 17:23] mbruzek commented on #8799
Correct that is how I set them in the glusterfs.yml group file.

[2018-06-18 22:12] #8799 closed

[2018-06-19 00:30] mrunalp commented on #8681
I tried running ansible and I see this error. I will look into it further.
[code]

[2018-06-19 07:00] touchardv commented on #8477
Well, for now, I think: don't use the "Recycle" persistent volume reclaim policy. At least until a new version of the RPMs is published with the fix.

[2018-06-19 08:40] DanyC97 commented on #8550
@cynepco3hahue that is a v good question and i'm afraid i don't know the answer.

@vrutkovs @sdodson do you guys have any insights into this? is `build-rpms.sh` not building an rpm which we need ?

[2018-06-20 11:15] gtema commented on #8817
After I have removed `openshift_image_tag=3.9.0` from inventory it started working.

[2018-06-20 11:15] #8817 closed

[2018-06-20 14:49] ghost opened #8869 "Error while deploying glusterfs on OpenShift Origin 3.9"
#### Trying to install GlusterFS on OpenShift Origin 3.9

while I am deploying using
[code]

[code]

Error: failed to allocate new volume
[code]
[code]
[code]
##### Version
Please put the following version information in the code block
indicated below.
* Your ansible version per `ansible --version`
`ansible 2.5.2`

If you're operating from a **git clone**:

* The output of `git describe`
`openshif

[2018-06-20 16:02] #8776 closed

[2018-06-20 16:02] eyhanna commented on #8776
thanks for your help vrutkovs.  it works with the playbook

[2018-06-20 16:12] eyhanna opened #8871 "host file parameters"
hello,

many cloud provider process a host file with some parameters that i cannot find any explanation for them in any document

like
openshift_override_hostname_check=true
openshift_install_examples=true
openshift_cloudprovider_kind=azure

would you please clarify for what are these parameters needed , i mean in what cases i may need for example to set openshift_override_hostname_check=true

###

[2018-06-20 16:52] penglongli opened #8873 "openshift_node_group_name must be defined for all nodes"
### Version

ansible: 2.5.5
openshift: 3.9

### Description
I want to use openshift-ansible to make a openshift-cluster.

First, i get 3 vms as follows:
- master 10.104.179.111
- node1   10.104.145.201
- node2   10.104.92.38

I add them into `/etc/hosts` for each vm, so they can access each other by an alias, such as
[code]

#### Here is my inverntory
inventory/hosts.cluster
[code]

After i execut

[2018-06-20 16:53] penglongli commented on #8873
/sig need-help

[2018-06-20 16:53] DanyC97 commented on #8550
hmm that is interesting then @vrutkovs  i'll need to dig in to see what is going on

[2018-06-20 17:10] sdodson commented on #8550
openshift-node-config is a new binary, building 3.10-rc.0 should make this problem go away.

[2018-06-20 17:40] naveenbdevops commented on #8869
below error for `Unable to create node: New Node doesn't have glusterd running`
[code]

[2018-06-20 19:54] fabianvf commented on #7809
I'm seeing this when deploying 3.10 from the origin-ansible container

[2018-06-20 23:13] DanyC97 opened #8886 "CI job for 3.7 branch does screw the spec file Version"
@jupierce fyi  it seems the CI job which cuts a new release for 3.7 branch no longer update the [spec](https://github.com/openshift/openshift-ansible/blob/release-3.7/openshift-ansible.spec#L12) file and that has an impact on us - PaaS when we create the rpms.

any chance you can correct it please?

[2018-06-20 23:13] DanyC97 commented on #8886
@sdodson fyi

[2018-06-21 02:26] keir-rex opened #8887 "Understand how MASTER_URL is populated from"
#### Description

Provide a brief description of your issue here. For example:

Running OCP 3.5 on RHEL in AWS.
I see inside our Heapster pod that running `ps aux` shows the parameters passed to heapster contains unresolved variables (`MASTER_URL` and `HEAPSTER_PASSWORD`) but
[code]

The pod starts with this log line `Starting Heapster with the following arguments: --source=kubernetes.summary_api:

[2018-06-21 02:41] penglongli commented on #8873
Redirecting code-version to `release-3.9` is ok, `openshift_node_group_name` is only for 3.10 or newer accoding to the document.

I'm still not clear about `openshift_node_group_name `. Issue closed

[2018-06-21 02:41] #8873 closed

[2018-06-21 06:15] cynepco3hahue commented on #8550
@sdodson Thanks, I can confirm that deployment of `3.10-rc.0` with docker succeeds, with CRI-O we have `cri-tools` dependency issue.

@DanyC97 Where can I check for Origin release dates?

[2018-06-21 08:21] debianmaster opened #8888 ""msg": "No package matching 'origin-node-3.10*' found available"
#### Description

TASK [openshift_node : Install node, clients, and conntrack packages] *********************************************************
Thursday 21 June 2018  08:17:17 +0000 (0:00:00.392)       0:00:52.116 *********
FAILED - RETRYING: Install node, clients, and conntrack packages (3 retries left).
FAILED - RETRYING: Install node, clients, and conntrack packages (2 retries left).
FAILED -

[2018-06-21 08:40] vrutkovs commented on #8888
Does it work with pre-release CentOS builds at https://cbs.centos.org/repos/paas7-openshift-origin310-candidate/x86_64/os/Packages/ ?

[2018-06-21 08:43] debianmaster commented on #8888
i will give a try

[2018-06-21 10:45] debianmaster commented on #8888
failed with ` master1 origin-node[29090]: /usr/local/bin/openshift-node: line 17: /usr/bin/openshift-node-config: No such file or directory`

[2018-06-21 11:46] vital-st1x commented on #8268
I have the same problem -  via proxy it doesn't work.

[2018-06-21 12:55] jupierce commented on #8886
@DanyC97  @markllama should be able to help here. For future build related work, @tbielawa is the new technical lead for the team.

[2018-06-21 13:52] sdodson commented on #8886
/assign @markllama @tbielawa

[2018-06-21 14:00] cynepco3hahue commented on #8550
@sdodson Sure
[code]

[2018-06-21 14:00] tbielawa commented on #8886
Only 3.7?

[2018-06-21 14:13] leifmadsen commented on #8888
I actually have the same issue with Origin 3.9 as well:

[code]

[2018-06-21 14:17] leifmadsen commented on #8599
I get the same issue on the latest release-3.9, with a previously working release-3.9 branch. This shouldn't be closed.

[2018-06-21 14:19] vrutkovs commented on #8888
`/usr/bin/openshift-node-config: No such file or directory`
@DanyC97 is there a tracking issue for 'CentOS builds don't include openshift-node-config`? The builds our CI is producing this binary is there - i.e. https://storage.googleapis.com/origin-ci-test/logs/test_branch_origin_extended_conformance_gce_310/3/artifacts/rpms

[2018-06-21 14:51] leifmadsen commented on #8888
Yea I just noticed that openshift-ansible doesn't install the `centos-release-openshift-origin39` package, which results in the installation progressing...

[2018-06-21 16:09] DanyC97 commented on #8888
yes, i'm working on @vrutkovs , expect to have new rpms announced early next week on openshift dev mailer

[2018-06-21 16:14] DanyC97 commented on #8550
@sdodson i think we need to tag the cri-o to CentOS release repo  too. I'll try to sort it soon.

@cynepco3hahue if the question is about _how long do i need to wait for the centOs origin rpms once a new Origin release was cut_ the answer is: we doing all we can to improve the time and iron few things as we go on in parallel to our daily job

[2018-06-21 16:15] DanyC97 commented on #8888
@debianmaster @leifmadsen i'd suggest to close this issue in favour of https://github.com/openshift/openshift-ansible/issues/8550

[2018-06-21 16:16] DanyC97 commented on #8886
@jupierce thank you for the info, i ack the change.

@tbielawa yes, only 3.7, 3.9 looks okay so far.

[2018-06-21 16:17] DanyC97 commented on #8886
and note @tbielawa that up until 3.7.52 it was all good so recently something went south.
thank you for looking at btw

[2018-06-21 20:05] MrFishFinger commented on #7324
i encountered a similar issue on atomic with glusterfs - and I can confirm that adding the config below to my inventory also solved this issue for me.

`openshift_storage_glusterfs_storageclass_default=true`

thanks @leifmadsen for the info!

[2018-06-21 21:05] cynepco3hahue commented on #8550
@DanyC97 :smile: Just want to be aware of exact dates, because our testing strongly bounded with OpenShift, so I want to be sure that our code works correctly on k8s and OpenShift.

[2018-06-22 02:55] debianmaster commented on #8888
closing in favor of #8550

[2018-06-22 02:55] #8888 closed

[2018-06-22 02:59] yuanlinios commented on #8594
Exactly the same result. And I don't even see any message related to the pvc from heketi log.

[2018-06-22 09:10] jeffmaury opened #8913 "fis image stream not updated to FUSE7"
#### Description

the fis image stream is still based on fuse6 where fuse7 is now available

##### Version

* Your ansible version per `ansible --version`

Not relevant for use, this is for Minishift/CDK addons

* The output of `git describe`
Not relevant

* The output of `rpm -q openshift-ansible`

Not relevant

##### Steps To Reproduce
1. minishift start

##### Expected Results
Describe what you

[2018-06-22 10:06] tomassedovic commented on #8832
I've just tried this on `openshift-ansible-3.11.0-0.1.0-112-g1b45b6abd` and the label is no longer there.

Can you verify?

[2018-06-22 14:03] markllama commented on #8886
@jupierce can you give me a spec for what should be happening compared to what is?

[2018-06-22 14:06] tbielawa commented on #8886
This should be filed on the CI jobs page. I opened an issue there

[2018-06-22 14:38] markllama commented on #8886
@DanyC97 I'm not sure what was being done to the spec file prior to a recent change to standardize package builds.  What change are you expecting and what are you seeing?  It's possible that you were depending on a side effect that should not have gotten downstream to you.  If so we'll have to talk about how to resolve it.

[2018-06-22 14:43] ephracis commented on #4163
Also hitting this on Fedora 28 Atomic Host and OpenShift Origin 3.10.

[2018-06-22 17:40] markllama commented on #8886
@DanyC97 can you point me at where/how you're seeing a failure? What condition is failing that depends on the spec file updating for each build?

[2018-06-22 18:09] kwoodson opened #8930 "azure: error persisting oreg_url"
This issue is failing our current builds.  Looks like we need to handle when oreg_url is undefined.

[code]

Two options:
1. `        "{{ oreg_url | default('UNDEFINED') }}"
2. Add a when clause and only write the file when it is set.

[2018-06-22 19:43] #8930 closed

[2018-06-22 20:13] zensonic commented on #8398
I have the same problem. I have tried to edit the storage class resturl to point to heketi-registry, but I am not allowed. Can you share how you did "After changing the resturl to heketi-registry instead of heketi-storage I get this problem instead"?

Thomas

[2018-06-22 21:40] kwoodson opened #8938 "azure: pull request testing is currently failing due to sync options"
The `test_pull_request_openshift_ansible_extended_conformance_azure` job is currently failing due to invalid sync options:

[code]

[2018-06-22 21:41] kwoodson commented on #8938
@jim-minter @kargakis

We need to tackle this one for pull request testing.

[2018-06-22 21:43] DanyC97 commented on #8886
@markllama so here is the story.

In PaaS what we do for `openshift-ansbile` is to [checkout](https://github.com/CentOS-PaaS-SIG/paas-sig-ci/blob/master/playbooks/openshift/roles/bfs/tasks/build_openshift-ansible_srpm.yml#L25-L29) the repo  and then we build the src rpm using tito. Once that is done then CBS is building the rpms.

Now up until now we have not changed the [spec](https://github.com/

[2018-06-22 21:46] DanyC97 commented on #8886
now of course i can modify the spec file if i know what the plan is moving fwd - ie you guys are stopping updating the version/ release with each tag release.

Frankly to me it makes sense to have the version in the spec file since you are cutting the tag release but i guess i don't have the full picture on why that is a bad thing to do

[2018-06-23 14:18] anthonysiano opened #8950 "Issue during containerized deployment mentions "possible bug", but I'm not so sure."
#### Description

##### Version

Whatever ansible version is in the atomic container, I don't know how to check.

##### Steps To Reproduce
1. atomic install --system --storage=ostree --set INVENTORY_FILE=/opt/osc-dev-build/inventory.yml --set PLAYBOOK_FILE=/usr/share/ansible/openshift-ansible/playbooks/prerequisites.yml --set OPTS="-vvv" docker.io/openshift/origin-ansible:v3.9

##### Observed Resu

[2018-06-24 05:13] lentzi90 commented on #8398
I deleted the old storage class and created a new with the correct url.
[code]
Edit `storage-class.yaml` and then do
[code]

[2018-06-24 20:44] onknows opened #8951 "No module named yaml"
#### Description

Provision of cluster fails on message No module named yaml. This is the second GitHub Ansible OpenShift project that I came across that bases provision on module yaml without including the installation of this module. So provision fails fails with message similar to

[code]

[2018-06-24 20:46] onknows commented on #8951
I can btw install it on bastion using pip install pyyaml. This doesn't fix the issue obviously.

[2018-06-24 23:11] steven-ellis commented on #5671
I'm seeing the same issue with a more recent release of OpenShift when trying an all-in-one localhost install

- RHEL 7.5
- ansible-2.4.4.0-1.el7ae.noarch
- openshift-ansible - release-3.9

[code]

[2018-06-24 23:28] steven-ellis commented on #5671
Re-synced the ansible playbook which pulled in changes to

- roles/openshift_node/defaults/main.yml

I'm no longer seeing the error

-

[2018-06-25 07:21] sammarland-rh opened #8954 "Scaling the logging stack fails on fresh OCP 3.9.27 install"
#### Description

After installing a fresh 3.9.27 cluster I try and scale the logging stack to 3 nodes by adding this `openshift_logging_es_cluster_size=3` line to the inventory and running `ansible-playbook -i /etc/ansible/ocp-hosts /usr/share/ansible/openshift-ansible/playbooks/openshift-logging/config.yml`

##### Version

Please put the following version information in the code block
indicated

[2018-06-25 08:38] vrutkovs commented on #8950
This looks like an ansible issue, is this transient or reproducible all the time in your case?

[2018-06-25 13:51] anthonysiano commented on #8950
Not sure, I ended up switching the RPM method instead and it gets past this part and prerequisites actually completed so now I'm further along tracking down another issue with the deploy_cluster.yml instead.

[2018-06-25 16:30] kargakis commented on #8938
/assign

[2018-06-25 16:31] kargakis commented on #8938
Fixed by https://github.com/openshift/aos-cd-jobs/pull/1495

/close

[2018-06-25 16:31] #8938 closed

[2018-06-25 17:13] #4163 closed

[2018-06-25 17:18] DanyC97 commented on #8886
@markllama do you need any other info from me ? if possible i'd like to resolve this issue soon so any help much appreciated

[2018-06-25 21:15] xrow opened #8969 "3.8 Tag missing on docker hub"
#### Description

I did try to install version 3.8 and it failed, because https://hub.docker.com/r/openshift/origin-docker-registry/tags/ has no tagged version 3.8

[2018-06-25 21:17] DanyC97 commented on #8969
that is expected since 3.8 is been released only to be used as an intermediate step in the upgrade process from 3.7 to 3.9.

3.8 has never been released on green deployments

[2018-06-25 21:18] xrow commented on #8969
ah sorry. didn't know please close

[2018-06-26 10:32] mjudeikis commented on #7866
seeing same:
[code]

[2018-06-26 12:45] lajchon opened #8983 "Origin v3.7 to v3.9 Upgrade - Web Console Error"
#### Description

Previous install of OpenShift Origin v3.7. Upgraded control-plane first. Ansible playbooks fail while waiting for webconsole Pods to startup.

##### Version

Please put the following version information in the code block
indicated below.

* Your ansible version per `ansible --version`

If you're operating from a **git clone**:

* The output of `git describe`

If you're running fr

[2018-06-26 12:52] vrutkovs commented on #8983
This is caused by a wrong selinux label for this container.

Make sure you have latest updates installed and run `restorecon -R /var/lib/docker`

[2018-06-26 12:52] #8983 closed

[2018-06-26 16:30] jfchevrette commented on #8477
I have the same issue and I could not find a way to tell openshift to use image tag 'v3.9' instead. I need the Recycle policy because I use NFS volumes.

[2018-06-27 06:38] grealish commented on #5083
Is this fixed in branch release-3.6-hotfix ?
Also it would be good to pin ansbile versions to your releases, otherwise people burn hours of time trying to figure that stuff out

[2018-06-27 11:05] kargakis opened #8994 "Use origin-cli as a base image for the bootstrap autoapprover"
Doesn't seem to require origin-node

@smarterclayton

[2018-06-27 12:49] antarass opened #8996 "FluentD daemonset issue"
#### Description

Deploying Origin 3.9 Logging stack the FluentD cannot read any of the logs. Having a look inside the pod I noticed that the path to the files is actually missing:

Sample file:
`/var/log/containers/apiserver-k2jvf_kube-service-catalog_apiserver-5e47edd43931317c9389e2d05fce4a31e6538bc2c6e699186c72b4757f882e43.log -> /var/log/pods/dd2bd1cc-790b-11e8-8d0b-fa163e6bd299/apiserver_0.lo

[2018-06-27 14:54] wozniakjan commented on #6648
support for 3.6 ended, closing

[2018-06-27 14:54] #6648 closed

[2018-06-27 16:19] pomverte opened #9000 "Readme broken link"
#### Description

On the README file, the link to OpenShift Origin is broken : https://docs.openshift.org/latest/install_config/install/advanced_install.html

[2018-06-27 16:55] markllama commented on #8886
@DanyC97: I have what I need for now.  I'm waiting for @smarterclayton  to decide on the best course of action.

[2018-06-28 02:45] smarterclayton commented on #8994
Yes, this was added before we added origin-cli.

[2018-06-28 02:46] smarterclayton commented on #8886
At this point it would be better if you modify the spec file.  For common components, we pass variables to the spec file rather than updating them and committing them.

[2018-06-28 08:29] #8784 closed

[2018-06-28 10:50] HelenCousins opened #9009 "Network configuration"
I need help with what opiions I need to edit to change the network range that is used for internal networking.  We use 172.30.0.0/16 for other things (like our ldap server...) , and having openshift use that same range is a problem (I know how to change the docker config to use a different bip).  We are running openshift on top of openstack.

[2018-06-28 12:04] kargakis opened #9010 "No package matching 'atomic-openshift-docker-excluder-3.10**' found available, installed or updated"
Happens in the azure 3.10 jobs

https://ci.openshift.redhat.com/jenkins/job/azure_build_node_image_rhel_310/4/consoleFull#211314771258b6e51eb7608a5981914356
https://ci.openshift.redhat.com/jenkins/job/test_pull_request_openshift_ansible_extended_conformance_azure_310/56/consoleFull#-20592301058b6e51eb7608a5981914356

@openshift/sig-azure

@sdodson any ideas?

[2018-06-28 13:30] AndreaFerraresi opened #9014 "I would like this to be configurable, in case I want to use faster ssd"
https://github.com/openshift/openshift-ansible/blob/c2402293747796ba251e3e847fe597159bce86d0/roles/etcd/defaults/main.yaml#L66

[2018-06-28 14:29] vrutkovs commented on #9014
It is configurable, you can redefine this var to any other dir

[2018-06-28 14:29] #9014 closed

[2018-06-28 15:37] srgvg opened #9018 "missing /etc/etcd/ca/openssl.cnf on extra etcd nodes"
#### Description

I'm trying a 3 node install:
[code]
and consistently get an error when deploying the etcd certificates.

As far as i can tell, this looks like a bug, but I can't imagine this wouldn't have been detected earlier.
Perhaps I'm trying an unsupported configuration, or am I missing something?

##### Version

* Your ansible version per `ansible --version`
[code]

Working with the https: