[2017-02-16 11:10] jaryn commented on #3379
Another requirement is  `cryptography>=1.1`.
The problem seems to be present on RHEL 7.4 as well

[2017-02-16 11:20] jaryn commented on #3379
Maybe this is rather an downstream issue. Created BZ: https://bugzilla.redhat.com/show_bug.cgi?id=1422832

[2017-02-16 13:29] detiber commented on #3379
With the callback plugin, we can probably remove the Ansible version check task. I'm not sure if we'd hit the pyasn issue elsewhere.

I suspect we'd hit the cryptography error regardless.

@sdodson I'm wondering if we need to have Ansible update the RPM dependencies or if they are optional if we should update our spec deps.

[2017-02-16 13:41] sdodson commented on #3379
That playbook no longer exists in master or release-1.4 branches. Can you please use the latest code and re-open if the problem still exists?

[2017-02-16 13:52] sdodson commented on #3379
Where do you see the dep on python-cryptography?

[2017-02-16 17:22] tdawson commented on #3357
The repo you are pointing to is the "released" repo.  That means it's only for rpms that have been released by origin upstream, built into rpms on CentOS, passed tested, then released.
Since origin 1.5.0 is still in it's alpha stage, it's going to be a while before you see it in there.

Now for the better news.  We're going to start having seperate repo's for each release.  So version 1.3, 1.4, an

[2017-02-16 18:29] cgutshal commented on #3357
@tdawson Good to know! Appreciate the info this.

[2017-02-16 21:20] enj opened #3388 "Dead code in `roles/lib_openshift/src/lib/base.py`"
I believe the [following lines](https://github.com/openshift/openshift-ansible/blob/04ea66c4ab6cd1e5daa217526d7c9591aa164f10/roles/lib_openshift/src/lib/base.py#L123-L124) are never run.

The original intent may have been to do something like:

[code]

That being said, fixing this would break existing code, so it may be best to just delete it.

cc @sdodson @kwoodson

[2017-02-16 21:57] ewolinetz commented on #3256
@glamperi can you try to rerun your installation using `openshift_hosted_logging_deploy=true` in your inventory. We have updated to no longer use the deployer image to do the logging installation so you should no longer encounter the error you saw above.

[2017-02-16 22:01] djdevin opened #3390 "htpasswd: could not determine temp dir when deploying metrics"
#### Description

Metrics setup seems to go smoothly from ansible but then the deployer pod dies:

[code]

##### Version

openshift v1.4.1+3f9807a
kubernetes v1.4.0+776c994
ansible 2.2.0.0
CentOS 7 on all masters/nodes

##### Steps To Reproduce
1. Set `openshift_hosted_metrics_deploy=true` in inventory

##### Expected Results
Metrics are installed

##### Observed Results
The deployer pod fails and

[2017-02-16 22:02] glamperi commented on #3256
Eric,

  I am using an older fork because of the python issue with metrics and
RHEL 7.3, so I would not be able to do this now.  If I want to try this, I
would do another git clone and then only use logging and set metrics to
false. Correct?

Thanks,
Gary

Gary Lamperillo
Principal Solutions Architect
glamperi@redhat.com
(M) 310-896-5282 <callto:310-896-5282>

On Thu, Feb 16, 2017 at 1:57 PM, Eric

[2017-02-16 22:09] ewolinetz commented on #3256
By default metrics shouldn't install, but correct -- you would use deploy logging true and deploying metrics false.

[2017-02-17 00:08] glamperi commented on #3256
I reran the installation with "openshift_hosted_logging_deploy=true" and
still getting this error:

fatal: [master.192.168.1.222.xip.io]: FAILED! => {"changed": false,
"failed": true, "msg": "No package matching 'python-ruamel-yaml' found
available, installed or updated", "rc": 126, "results": ["No package
matching 'python-ruamel-yaml' found available, installed or updated"]}

Sudheer Chekka
Middl

[2017-02-17 01:25] cgwalters opened #3394 "Fedora (AH): python (core) yaml"
I was looking at a run on current Fedora AH, which fails very quickly with:

[code]

Now...I think this is partly a Python 2 vs 3 thing, since on a current CentOS AH, we have:

[code]

Yet on Fedora AH:

[code]

However, what confuses me is I know we at least had *some* runs since e.g. www.projectatomic.io/blog/2016/12/part1-install-origin-on-f25-atomic-host/  I even tried deploying the version of

[2017-02-17 01:25] cgwalters commented on #3394
/cc @dustymabe

[2017-02-17 05:35] dustymabe opened #3396 "oc_serviceaccount module error on Fedora 25 Atomic Host"
`ansible-2.2.0.0-3.fc24.noarch`
openshift-ansible at 6490024
#### Description

I hit what I think is a python3 error on Fedora Atomic Host commit 5a9de04163a60c5f2771b3d307601fa4e2234f12b662c97e28290b7bcbdb43f0. I'm running using the python3 interpreter like so: `ansible-playbook -i myinventory playbooks/byo/config.yml -e 'ansible_python_interpreter=/usr/bin/python3'`. Here is the error:

[code]

[2017-02-17 05:35] dustymabe commented on #3394
just ran this with latest upstream `openshift-ansible` 6490024 repo and I did [hit an error](https://github.com/openshift/openshift-ansible/issues/3396) but it was way into the install and not this issue at all. Are you running with python3 like I did in the blog post?

[code]

[2017-02-17 10:30] cmoulliard opened #3397 "Unknown short_version {{ openshift_pkg_version"
#### Description

Creation of the cluster on GCE fails when execute this command

[code]

The error reported is

[code]

##### Version

* Ansible

[code]

* Git

[code]

[2017-02-17 13:52] cgwalters commented on #3394
Ah, was requiring Python 3 for Fedora decided as The Plan or it just happens to work better today?

[2017-02-17 14:30] dustymabe commented on #3394
I just assumed it was the way forward since one of the critical libraries was missing in python2 form (`PyYaml`). I figured rather than trying to convince people to add python2 packages back we should just forge ahead. If you'd like to revisit this then we can certainly do that.

[2017-02-17 14:32] cgwalters commented on #3394
I submitted https://github.com/openshift/openshift-ansible/pull/3402 - let's move the discussion there.

[2017-02-17 14:32] #3394 closed

[2017-02-17 14:52] ashcrow commented on #3396
@dustymabe looks like you are correct.

@kwoodson you should be able to use ``decode()`` to ensure strings across both 2 and 2.

Example:

[code]

[2017-02-17 19:11] dustymabe commented on #3396
patched the code to workaround the first issue. here is the next one that popped up:

[code]

[2017-02-17 19:18] dustymabe opened #3408 "error in `openshift_manage_node Wait for Node Registration` on Fedora 25 Atomic Host"
`ansible-2.2.0.0-3.fc24.noarch`
openshift-ansible at 6490024
#### Description

After working around https://github.com/openshift/openshift-ansible/issues/3396 I hit this error when running on Fedora 25 atomic host:

[code]

Looks like this code was added recently in 8fd0bcf. cc @mtnbikenc

Note that I am running against Fedora 25 Atomic Host (so running with python3) with a command like `ansible-p

[2017-02-17 19:21] detiber commented on #3396
@kwoodson @ashcrow:

It looks like one thing that will need to be done is to replace any cases of comparing or converting to `str` to use `six.text_type` instead.

[2017-02-17 19:30] ashcrow commented on #3396
@detiber that or decode should do it.

[2017-02-17 19:30] detiber commented on #3396
@ashcrow I wonder if we are going to have an issue with not encoding when using `open` to write a file.

[2017-02-17 19:32] detiber commented on #3396
@ashcrow I'm also wondering if we should just default to unicode everywhere, to avoid any potential issues with conversion. I'm not sure if the k8s api supports non-ascii characters.

[2017-02-17 19:37] ashcrow commented on #3396
Defaulting to unicode would be fine IMHO. decode will convert bytes and strings to unicode by default on both implementations.

In terms of writing files, I'm not totally sure.

[2017-02-17 19:52] detiber commented on #3396
It looks like it might be better to use `io.open()` rather than the builtin `open()` for consistent reading/writing of files between py2 and py3

[2017-02-17 21:23] kwoodson commented on #3408
@dustymabe,

This essentially performs an oc get node "{{ openshift.node.nodename }}".  Is it possible for you to dump `oc get nodes -o json` and verify the output returns nodes?  If you are on irc, please ping me and we can look at this issue.  I'm not sure why the results were not returned.

[2017-02-17 21:25] dustymabe commented on #3408
i'm @dustymabe in #openshift-dev

[2017-02-17 21:43] dustymabe commented on #3396
looks like this may have been at least partially solved in a4834fc / #3403

[2017-02-17 22:03] kwoodson opened #3410 "oc binary not in path"
Provide a brief description of your issue here. For example:

On certain installs such as AH, or by running as different users in the ansible inventory the oc binary is not in the PATH.  This is causing errors when attempting to run the modules:

`FileNotFoundError: [Errno 2] No such file or directory: 'oc'\n"`

##### Version

ansible 2.2

##### Steps To Reproduce
1. In the inventory file set your

[2017-02-17 22:05] dustymabe commented on #3410
yeah the key to this is that `/usr/local/bin/` isn't in the $PATH when running `sudo` so it doesn't work with some random user and `ansible_become=true`.

[2017-02-17 22:19] sdodson commented on #3410
@thoraxe is the previous comment what you're running into?

[2017-02-17 22:21] detiber commented on #3410
We can probably leverage the `get_bin_path` method from AnsibleModule to help:
[code]

[2017-02-17 22:30] cgwalters commented on #3410
I'll work on this.

[2017-02-17 22:30] cgwalters commented on #3410
Unless you are @kwoodson ?

[2017-02-17 22:37] cgwalters commented on #3302
I'm not sure whether to overload this bug, but we need to choose how to handle this new dependency for Atomic Host.

[2017-02-17 22:38] sdodson commented on #3302
For now we've chosen to fall back to using PyYAML which is currently available on atomic host, right? https://github.com/openshift/openshift-ansible/pull/3383

[2017-02-18 15:24] cgwalters commented on #3410
PR in https://github.com/openshift/openshift-ansible/pull/3413

[2017-02-18 15:51] thoraxe commented on #3410
@sdodson if going sudo to root counts (as opposed to running a command with sudo) then yes I suppose it's the same problem. I didn't actually try to su to root.

[2017-02-18 23:54] vnugent opened #3415 "named_certificates causes byo playbook to fail"
#### Description
BYO playbook failed when I added `openshift_master_named_certificates=...` to inventory file

##### Version
[code]

##### Steps To Reproduce
1.in [OSEv3:vars]
[code]

2. ansible-playbook -i inventory pathto byo/config.yml

##### Expected Results
playbook completes.

##### Observed Results

[code]

##### Additional Information
master/node: centos7
ansible vm: fedora 25
certs genera

[2017-02-19 13:05] rhcarvalho opened #3417 "Write code coverage HTML report to separate dirs py2/py3"
We're overwriting the HTML coverage report when we run tests with py2 and py3, both go to the same place.

[2017-02-19 14:25] rhcarvalho commented on #3354
In the effort of documenting what is in each top-level dir, this is what we got about utils:

[code]

@detiber, IMHO an indirect name would still cause confusion. One would need to map from `installer_wrapper` (or any other generic name) to `atomic-openshift-installer` or `oo-install` (executable names found in `openshift-ansible.spec`).

[2017-02-19 16:45] detiber commented on #3417
@rhcarvalho I think this might be another use case for coveralls, since I believe it can handle this for us: https://github.com/coveralls-clients/coveralls-python#usage-tox--v20

[2017-02-19 17:41] detiber commented on #3354
We could always just go with oo-install

[2017-02-19 20:06] rhcarvalho commented on #3354
`oo-install` is good. I've seen the "oo" prefix in several places, including Ansible variable names, what does it stand for? Hmm OpenShift Ops?

[2017-02-20 06:16] vnugent commented on #3211
I was able to work around this issue by completely removing yum/dnf ansible and instead using pip to install ansible.
`pip install ansible==2.2.0.0`
You might need to pip upgrade MarkupSafe and jinja2 if encountered errors.

[2017-02-20 06:16] #3211 closed

[2017-02-20 11:28] cmoulliard opened #3420 "OpenShift All-in-one VM"
The existing documentation shows how to configure openshift [with different VMs](https://docs.openshift.com/enterprise/3.2/install_config/install/advanced_install.html#single-master); master, note, etcd, ...  using ansible script

but

Is it possible to configure an all-in-one VM as we can do with minishift or [vagrant](https://github.com/obsidian-toaster/platform/blob/master/tooling/openshift/pro

[2017-02-20 12:03] cmoulliard commented on #3420
My project has ben created using this project "https://github.com/sallyom/online/tree/no_aws".

Manual steps have been defined here : "https://issues.jboss.org/browse/OBST-110" but I must sync with Sally (she is PTO today) to see if my manual steps are required or not.

[2017-02-20 13:22] sdodson commented on #3420
An inventory with a single host that's part of masters, nodes, and etcd would give you what you want. The only thing you have to do in order to use just one host is set openshift_schedulable=true for the node as by default nodes that are also masters will be set unschedulable.

[2017-02-20 14:17] cmoulliard commented on #3420
@sdodson Can you share an example of such inventory file ? Is it an ENV variable to be set ("openshift_schedulable=true") ?

[2017-02-20 14:28] detiber commented on #3420
It is set on the host definition in the inventory: https://github.com/openshift/openshift-ansible/blob/master/inventory/byo/hosts.ose.example#L705

[code]

[2017-02-20 15:14] ashcrow commented on #3396
@dustymabe the specific stacktrace from this issue should be solved. I'm taking a gander at ``io.open`` right now.

[2017-02-20 15:31] ashcrow commented on #3396
I found a few more updates that need to happen. Working them now.

cc @kwoodson

[2017-02-20 15:54] alangibson commented on #2030
I'm having the same problem with openshift-ansible 3.4.63. I can't override osm_image in the inventory or on the command like with -e.

That master_image value does not make it into openshift.fact on the master.

[code]

[2017-02-20 16:38] cmoulliard commented on #3420
@detiber Do I have only to set [nodes] as you proposed with openshift_schedulable=true within the file to deploy the all-one stuffs within my VM ?

[2017-02-20 17:31] detiber commented on #3420
@cmoulliard no, you will need to set `[masters]`, `[nodes]`, `[etcd]` and `[storage]` (storage only if you want a nfs server to provide nfs-based persistent volumes).

I tried to be a bit too terse by just limiting it to setting the variables for the node entry.

This is more of a full minimal example:
[code]

I might have missed something, though. I have not tested this inventory.

[2017-02-20 18:46] ashcrow commented on #3396
@dustymabe I believe #3434 and #3403 should fix the Py3 issues, at least where these modules are concerned.

[2017-02-20 18:51] cmoulliard commented on #3420
If I use this inventory file and the openshift ansible boy script, I get this error

[code]

[2017-02-20 18:55] sdodson commented on #3420
Is 10.0.2.15 an ip address that belongs to the vm? If it's not that's the only thing I can think of that would cause problems.

[2017-02-20 19:31] cmoulliard commented on #3420
10.0.2.15 is an IP address of the VM.

IF I comment the cluster lines within the config, then etcd can start

[code]

[2017-02-20 19:57] DanyC97 commented on #3111
@sdodson can you please confirm if the ansible verion in `centos-openshift-origin` repo is been patch to cover the above issue?

in `epel` i see version `2.2.1.0-1.el7`
in `centos-openshift-origin` repo i see `2.2.1.0-2.el7`

[2017-02-20 19:59] sdodson commented on #3111
Yes, 2.2.1.0-2.el7 is patched, there may be openshift-ansible code paths that still have problems, if you're using 2.2.1.0-2.el7 and hit a problem with latest master lets get an issue open for those.

[2017-02-21 07:53] cmoulliard commented on #3420
I have replayed the following new inventory and no cluster section has been added within the `/etc/etcd/etcd.conf` file

[code]

But now atomic fails to start

[code]

Remarks:
- This is strange as the atomic service name ends with -api suffix. I'm wondering why
- atomic fails to start as it uses the hostname vagrant.ocp and not the private address 10.0.2.15
- master has been created but unfortuna

[2017-02-21 09:15] cmoulliard opened #3433 "Add iptables allow rules fails"
#### Description

Inventory file used

[code]

Error reported

[code]

##### Version

- Ansible 2.0.0

[2017-02-21 09:54] DanyC97 commented on #3111
sure will do indeed, thanks @sdodson !

[2017-02-21 11:17] rhcarvalho commented on #3410
@kwoodson in this case, `~` should expand relative to what user?

---

Perhaps instead of changing the PATH of arbitrary users, or finding executables outside of PATH, wouldn't it be possible to arrange the playbooks in such a way that `oc`, etc, is in the PATH? I think that would be less puzzling, as it corresponds to how Linux works.

Imagine a potential future bug report when the version of `oc

[2017-02-21 11:22] cmoulliard commented on #3433
As this problem is intermittent and can't be easily reproduced, I will close it.

[2017-02-21 11:22] #3433 closed

[2017-02-21 13:45] detiber commented on #3410
The problem is that for containerized installs we copy the client from the container to /usr/local/bin to avoid conflicting with the rpm managed binary, which we should prefer when deploying to a mixed environment (think master containerized, node not on same host).

The main issue, though, is that sudo does not pass through the PATH environment variable in the default config. This leaves us with

[2017-02-21 13:49] #2498 closed

[2017-02-21 13:49] #2970 closed

[2017-02-21 13:49] cmoulliard commented on #3420
Even if there are still some minor issues (we can't access a service using its route outside of the VM), the following steps are working for me

https://gist.github.com/cmoulliard/b4228a22ec11d541783393a2b61a3dde

[2017-02-21 14:24] rhcarvalho commented on #3410
@detiber would it be correct than to summarize as:

- First, try to find `oc` (or `oadm` or anything else) in $PATH.
- If found, use it.
- If not found, then search it on `/usr/local/bin` and then `~/bin`

?

That sounds easy to explain in docs to me. I'm still not clear on what user's HOME should `~` expand to.

[2017-02-21 14:39] detiber commented on #3410
That is the behavior I would expect. I would add one other item as a fallback:
- If not found after searching /usr/local/bin or ~/bin, then just attempt to execute 'oc' without the path specified.

That would allow us to fallback to allowing the system to try and find the binary if we were not able to find it.

For ~/bin I would expect to to expand to the user executing the module, so depending on

[2017-02-21 14:46] sdodson commented on #3420
If you make these changes, namely not ducplicating the host in the ETCD_INITIAL_CLUSTER value, does it start correctly?

[code]

[2017-02-21 15:21] thoraxe commented on #3410
Is there a particular reason we are putting this in `/usr/local/bin` instead of `/usr/local/sbin` which is in `root`s path when using sudo?

[2017-02-21 15:37] cgwalters commented on #3410
@thoraxe Not here:

[code]

[2017-02-21 15:55] thoraxe commented on #3410
So then perhaps we should be putting it in `/usr/sbin` ?

It seems like we are trying to go the long way around in order to get the file into the path...

[2017-02-21 16:00] detiber commented on #3410
@thoraxe I'm not sure we'd want to limit oc to "admin" users anyway.

[2017-02-21 16:00] dustymabe commented on #3410
`/usr` is a read only filesystem on some platforms (i.e. Atomic Host) by design.

[2017-02-21 16:01] cmoulliard commented on #3420
How can I avoid the repetition as the script (ansible/openshift-ansible/playbooks/aws/openshift-cluster/roles/etcd/templates/etcd.conf.j2) calls this function `ETCD_INITIAL_CLUSTER={{ initial_cluster() }}` ?

[2017-02-21 16:08] sdodson commented on #3420
Just trying to debug, can you change that by hand and if that fixes it we can fix initial_cluster() ?

[2017-02-21 16:23] rhcarvalho commented on #3410
Implementation-wise, that's exactly what `subprocess.Popen` does when we specify a name and not a full path.
Thus my suggestion in the PR to augment the PATH and simply call `oc` as it is in master.

[2017-02-21 17:09] cmoulliard opened #3439 "templates \"project-request\" already exists"
This error is reported

[code]

when I play a all-in-one scenario : https://github.com/obsidian-toaster/platform/blob/master/tooling/ansible/README.md

[2017-02-21 18:03] jaryn commented on #3379
Never mind. I fixed this by using RHEL 7.4 __and correct repos__. I forgot to switch to newer repos before.

[2017-02-21 18:03] #3379 closed

[2017-02-21 22:37] sdodson commented on #3439
That play/task doesn't exist in this repo so I'm closing this. FYI @sallyom

[2017-02-21 22:37] #3439 closed

[2017-02-22 02:56] OldCrowEW commented on #3111
`pip install ansible==2.2.0.0 --upgrade` fixes for me

[2017-02-22 07:33] cmoulliard opened #3450 "Error from server: No API token found for service account \"metrics-deployer\"
When we set this property `openshift_hosted_metrics_deploy=true`, the following error is reported when the oc command to deploy metrics (= Hawkular) is executed

[code]

[2017-02-22 10:52] jkhelil opened #3451 "Scaleup hanging if the node being added is destroyed"
### <HTPASSWD_AUTH>

We are aware of the current issues related to htpasswd_auth failures
Please downgrade to ansible 2.2.0.0 until a fix is released.
You can track the status of the bug fix in this issue:
https://github.com/openshift/openshift-ansible/issues/3111
Please erase this <HTPASSWD_AUTH> section if it does not apply to you.

Thanks - 2017-01-31

### </HTPASSWD_AUTH>

#### Description

Pr

[2017-02-22 15:07] ingvagabund opened #3455 "OpenStack cloud-init resets hostname to default value"
When deploying OpenShift on cluster provisioned inside OpenStack with `openshift_public_hostname`/`openshift_hostname` set to different name than VM's original hostname, `cloud-init` resets the hostname back to its original name after each reboot.

The reasoning for the behaviour is described here [1]. So when running deployment/upgrade of a cluster, hostnames of all cluster nodes are reset to the

[2017-02-22 17:30] detiber commented on #3455
@ingvagabund We shouldn't be overriding the system hostname by default as of 1.2/3.2.

Is `openshift_set_hostname` being set in the inventory?

[2017-02-22 18:00] shane-dev opened #3456 "oc_serviceaccount fails to create directory/file for TASK [openshift_manageiq : Create Admin and Image Inspector Service Account]"
Trying a containerized based deployment and running into these issue

[code]

No directories or files are being created on the server from the task , although I do see other  directories are created successfully

Trying to apply
**openshift_release=v1.5.0-alpha.3**
Due to the known issue around htpasswd_auth using
**ansible 2.2.0.0**
**On branch release-1.5**
Is there any more information I can at

[2017-02-22 19:35] sdodson commented on #3450
Please make sure to provide the openshift-ansible version information from the template. This task no longer exists so we'd need to know which version of the code you're using. From the issue template ->

##### Version

Please put the following version information in the code block
indicated below.

* Your ansible version per `ansible --version`

If you're operating from a **git clone**:

* The ou

[2017-02-22 20:37] gihad commented on #3397
I just hit this issues as well while deploying to AWS.

[code]

[code]

[code]

[2017-02-22 21:21] gihad commented on #3397
@cmoulliard I moved past this by not using the master branch. I used release-1.4
Looking at the source code I believe the code in the master branch can't find a corresponding short version.

[2017-02-22 21:33] ingvagabund commented on #3455
`openshift_public_hostname` and `openshift_hostname` are.

The issue comes from https://bugzilla.redhat.com/show_bug.cgi?id=1419465

You are saying changing of hostname is depricated? If not, in what situations is it allowed?

[2017-02-22 21:42] detiber commented on #3455
relevant tasks are here: https://github.com/openshift/openshift-ansible/blob/7374505de2a11b94d22672b8da7e405b919a15bc/roles/openshift_common/tasks/main.yml#L40-L48

I'm not sure that is related to the bug at hand, though.

[2017-02-22 22:20] cameron-scrace commented on #3415
I would try removing the cafile parameter entirely instead of leaving it blank.

`openshift_master_named_certificates=[{"certfile": "/root/ssl/master.fullchain.pem", "keyfile": "/root/ssl/master.privkey.pem", "names": ["master.cloud1.**redacted**"]}]`

[2017-02-23 03:04] cameron-scrace opened #3463 "no test named 'equalto' - Can't update to Jinja 2.8"
#### Description
I'm using Centos 7 and when running the upgrade playbook I get the error message: no test named 'equalto'. The lines that cause this were only added to the playbook a few days ago. The equalto test is provided by Jinja 2.8 but even after running yum update the python2-jinja2 package remains at version 2.7. Is there a clean way to install Jinja 2.8 on Centos 7?

##### Version
[code

[2017-02-23 03:33] sdodson commented on #3463
We need to ensure that we don't depend on anything newer than what's available in Jinja 2.7.

[2017-02-23 04:17] detiber commented on #3463
@sdodson @mtnbikenc If needed we can ship a custom test plugin to work around the issue: https://docs.ansible.com/ansible/dev_guide/developing_plugins.html#test-plugins

[2017-02-23 07:53] cmoulliard commented on #3450
@sdodson @sallyom As I'm working with the project openshift-ansible online of Sally, the branch that we are using is based on latest code of the upstream branch. This is why this error has been reported. We could maybe close it and open it within this [repo](https://github.com/openshift/online) ?

[2017-02-23 09:43] shane-dev commented on #3456
So I found the issue. It's because the oc and oadm isn't in the PATH

In this method
`def openshift_cmd(self, cmd, oadm=False, output=False, output_type='json', input_data=None):`

It doesn't specify the path and be default , the oc/oadm tools are installed in /usr/local/bin which is outside the

Temporary fix would be to run on master nodes
[code]

[2017-02-23 09:43] #3456 closed

[2017-02-23 14:02] #3410 closed

[2017-02-23 14:02] sdodson commented on #3456
Fixed in #3416

[2017-02-23 14:39] dustymabe commented on #3408
@kwoodson no. I'll close and re-open if I hit it again

[2017-02-23 14:39] #3408 closed

[2017-02-23 14:43] sdodson commented on #3450
Yeah, I think that's best.

[2017-02-23 14:43] #3450 closed

[2017-02-23 15:43] xiaoping378 commented on #3302
the issue is also met at master.

[2017-02-23 16:18] #3463 closed

[2017-02-23 17:13] sdodson opened #3469 "We should squash openshift-ansible into one package"
We either need to make openshift-ansible depend on all the subpackages or simply get rid of them all. Users will more than likely install openshift-ansible rpm and expect things to work. In my opinion the subpackages individually provide almost no value so I'd prefer we squash them into one package unless there's some reason not to do so. The quick-installer aka `atomic-openshift-utils` can remain

[2017-02-23 17:15] sdodson commented on #3469
FYI @stevekuznetsov

[2017-02-23 20:30] sdodson commented on #3469
Looking for consensus/discussion from those assigned, not actual implementation.

[2017-02-23 20:45] tbielawa commented on #3469
I support this.

Note that `atomic-openshift-utils` will be funny though, because to actually operate I believe it would need to have a `Requires` for `openshift-ansible` to be able to use the roles/playbooks/etc.

[2017-02-23 21:31] detiber commented on #3469
+1 to squashing it down.

This was brought up recently in a separate PR around testing, but it might make sense to break utils out into it's own repo.

[2017-02-23 21:41] stevekuznetsov commented on #3469
Yeah, today `yum install openshift-ansible` gives you this...

[code]

Which is a useless collection of nothing

[2017-02-23 22:38] detiber commented on #3469
I like how there is a sub-directory of playbooks in there...

[2017-02-24 00:09] lmello commented on #3410
This needs to be merged to release-1.5 branch also.
Tried to install Openshift version 1.5 alpha.3 with release-1.5 branch and it failed because of this issue.

[2017-02-24 00:56] cameron-scrace opened #3478 "Option to add http to https redirect to loadbalancer hosts HAProxy config."
When a user tries to access the openshift web console via http it would be nice to redirect to https. This is straightforward to add to the HAProxy config, however when re-running ansible to apply other configuration changes the HAProxy config is overwritten and the redirect is removed. Would it be possible to add an ansible hosts file option that would add the http to https redirect to the HAProx

[2017-02-24 08:14] detiber opened #3479 "Common way of handling fail-fast validation checks that affect multiple roles needed"
#3475 highlights an example where we need to apply common validation checks that apply to multiple roles. The scope of the PR is for providing a way to test that installations on atomic host fail early if the version of docker does not meet the requirements for install, but I believe it provides a complex enough example of some of the challenges that we face in moving from the existing openshift-a

[2017-02-24 09:11] xiaoping378 opened #3480 "how to change the kubernetes/default service IP"
#### Description
I  want to run 1024 pods per node.  so i changed the the ip range.
[code]

but i got a error and origin-master can't start up.
[code]

so how do i change the kubernetes/default service IP ``172.16.0.1`` ?

using origin ``v1.4.1``,  openshift-ansible ``openshift-ansible-3.4.17-1``

[2017-02-24 11:42] ingvagabund commented on #3455
And yes, ``openshift_set_hostname `` is set as well.

[2017-02-24 12:01] myllynen commented on #3263
Since it turned out that the deployer is going away (https://bugzilla.redhat.com/show_bug.cgi?id=1425020#c2) it might be best just to close this one.

Thanks.

[2017-02-24 12:12] jaloren opened #3482 "playbook does not handle installation of docker versions properly"
#### Description

by default, the playbook installs docker engine 1.10. The name of the rpm is docker. I want the playbook to install docker engine 1.12.6. So I attempted to set the docker version in my hosts OSEv3:vars like so

docker_version=1.12.6

This failed because the repo that the playbook is configured to pull docker engine from does not have version 1.12.6 of an rpm named docker. I then

[2017-02-24 12:41] ingvagabund commented on #3455
The bug is the OpenStack's VM metadata provides old hostname instead of the new one. Since the hostname is used to name a node, the node is registered with the new hostname but the metatada still returns the old hostname. So the node can not be found on master.

[2017-02-24 13:02] sdodson commented on #3482
https://github.com/openshift/origin/issues/8508 needs to be fixed before we can address this. Are you ok with me closing this?

[2017-02-24 13:44] jaloren commented on #3482
I'd like to understand the issue a little better. Here's my understanding: if anyone wants to use docker engine 1.12 with openshift origin and they want to use the playbooks to deploy it, they are left with the following options: 1) hack the ansible playbook so it will repoquery properly or 2) hack the rpms

The reason its like this is to due to a upstream packaging issue that is outside the ansib

[2017-02-24 14:06] sdodson commented on #3482
docker 1.12.5 is available in Centos 7 and RHEL 7. Fedora 25 has 1.12.6. Are you specifically looking for 1.12.6 or just 1.12? 1.12.6 is still being tested with openshift and bugs are being resolved before it's released to Centos/RHEL.

We can amend the rpmquery commands but as soon as you try to install the origin or OCP RPMS those too have dependencies that Require 'docker' rather than 'docker-e

[2017-02-24 14:55] detiber commented on #3480
@xiaoping378 Are you seeing this error on a fresh install with those provided variables, or are you updating the variables and running the playbook against an existing installation?

[2017-02-24 18:51] jaloren commented on #3482
docker 1.12.5 is perfectly acceptable. Its tracking down the RPM that was the challenge. Once I located it, here http://mirror.centos.org/centos/7/extras/x86_64/, it worked fine.

So here's my two cents for whatever its worth. This might be simple minded but it seems like the canonical way to install docker via rpms is documented here:

https://docs.docker.com/engine/installation/linux/centos/
htt

[2017-02-24 18:54] sdodson commented on #3482
Do you think it's acceptable for us to enable the centos extras repo by default when installing Origin? We could do that as well.

[2017-02-24 20:20] ewolinetz commented on #3479
+1 @detiber

Since we want smaller, composable roles couldn't the first thing a role does is gather any required facts  and fail if certain facts aren't available or their values are incorrect. I would argue we want to make a role gather its own facts as much as possible -- this may not be possible in all cases where a fact is global enough i.e. is_atomic. It may increase verbosity of our roles, a

[2017-02-24 20:26] mtnbikenc opened #3491 "oc_route module usage idempotence"
In order for the use of the 'oc_route' module to be idempotent the 'host' parameter must be specified.  Currently the 'cockpit-ui' role uses 'oc_route' and reports changed for those tasks on each run.

For an example of an idempotent 'oc_route' task please see:
https://github.com/mtnbikenc/openshift-ansible/blob/7cf5cc141d04a14096f26132998f28ece077eaa6/roles/openshift_hosted/tasks/registry/secure.

[2017-02-24 20:41] jaloren commented on #3482
Yes but :) Sorry for being difficult. My company goes to great length to curate and have a local mirror of all rpms we use. This ensures 1) that we know what's actually be deployed, 2) avoids service interruption if we loose access to an external mirror and 3) reduces network latency and speeds up installation.

If ansible playbook is going to add this "extra" repo (pun intended sorry couldn't res

[2017-02-25 00:16] ngpestelos opened #3494 "Failed task: Ensure various deps are installed"
#### Description

It seems OpenShift's package repo is unavailable.

##### Version

Please put the following version information in the code block
indicated below.

* Your ansible version per `ansible --version`

[code]

If you're operating from a **git clone**:

* The output of `git describe`

[code]
##### Steps To Reproduce

1. run `ansible-playbook -i hosts playbooks/byo/config.yml -vvvv`

####

[2017-02-25 01:26] jberkus opened #3495 "Cannot install v1.5.0a3 on Fedora Atomic Host"
I attempted to test v1.5.0a3 by installing it on a cluster of Fedora Atomic 25 servers running on AWS.

##### Version
v1.5.0a3

##### Steps To Reproduce
1. Deploy a set of AWS hosts running Fedora Atomic 25 2017-02-21
2. Install OpenShift Origin v1.5.0a3 by following the instructions here: http://www.projectatomic.io/blog/2016/12/part1-install-origin-on-f25-atomic-host/
3. Get failure at openvswit

[2017-02-25 11:23] xiaoping378 commented on #3480
@detiber Thank you for your reminder， i retry a fresh install, it is OK.
Thanks again.

[2017-02-25 11:23] #3480 closed

[2017-02-25 14:45] portante opened #3496 "Consider changing auto_expand_replicas to 0-2"
Currently, in the [elasticsearch.yml.j2 template](https://github.com/openshift/openshift-ansible/blob/master/roles/openshift_logging/templates/elasticsearch.yml.j2#L11), we have `auto_expand_replicas: 0-3`, which means that when we have four data nodes, we'll have 1 primary index, and 3 replicas.

It is not clear that by default we need 4 copies of an index for stability.  At most, by default, thr

[2017-02-25 15:36] portante opened #3497 "The logic for handling USE_JOURNAL seems confusing"
From PR #3293, it would seem the logic used to handling the `USE_JOURNAL` parameter settings is confusing.  Below is a `bash` script which attempts to emulate how that logic works:

[code]

When one runs this, it yields the following behavior:
[code]

If somebody makes a mistake, and does not specify '`false`' correctly, they'll get a value of '`true`'.

Wouldn't we want the opposite behavior?  Fo

[2017-02-25 15:50] portante commented on #3496
See PR #3468.

[2017-02-25 20:01] sdodson commented on #3495
This is most likely fixed by https://github.com/openshift/origin/pull/13092 but i'd like to see a complete `journalctl -lu openvswitch` if possible.

[2017-02-25 20:06] sdodson commented on #3494
This should be fixed by https://github.com/openshift/openshift-ansible/pull/3487

[2017-02-27 11:54] nusnewob opened #3498 "hosted templates yaml error: control characters are not allowed"
#### Description
On a multi master with separate router and etcd nodes install on EC2,
[code]

##### Version
[code]

##### Steps To Reproduce
1. on fresh instances
2. run ansible
`ansible-playbook playbooks/aws/openshift-cluster/config.yml -D -e openshift_release='1.4.1' -vvv`

##### Expected Results
Warning message from stdout/stderr are ignored.

##### Observed Results
Ansible run fails, however

[2017-02-27 14:02] rhcarvalho opened #3500 "Some Python files being ignored by `setup.py lint`"
While making changes to `roles/lib_openshift/src/test/unit/test_oadm_manage_node.py`, I noticed that it and other files are not being linted.

Seems that the logic in [`setup.py OpenShiftAnsiblePylint.find_all_modules`](https://github.com/openshift/openshift-ansible/blob/641b7c93b1d5ce5388fce66d737704d00a83ec68/setup.py#L128) excludes directories named "test", what might be an oversight.

I believ

[2017-02-27 16:12] harobed opened #3505 "Suggest: add in README if OpenShift Enterprise x to y work for origin version"
Hi,

in this upgrade [README](https://github.com/openshift/openshift-ansible/tree/master/playbooks/byo/openshift-cluster/upgrades) page I read:

[code]

questions: do this upgrade playbooks work with origin version?

If the answer is yes, can you update with this:

[code]

What do you think about this suggestion?

Best regards,
Stéphane

[2017-02-27 16:16] harobed commented on #3505
I see that: https://github.com/openshift/openshift-ansible/blob/master/playbooks/byo/openshift-cluster/upgrades/v3_5/upgrade.yml#L15

then I think that the answer is yes. So, I'm going to create a pull request.

[2017-02-27 16:38] Jooho opened #3507 "Fail to find Metrics template path."
### openshift_hosted_metrics

#### Description
I am not sure which value will be used for template path in the future between following :
  - The previous path : /usr/share/openshift/examples/infrastructure-templates/enterprise//metrics-deployer.yaml
  - New path          : /usr/share/openshift/hosted/metrics-deployer.yaml

At the moment, openshift_examples copy the metrics template file to "/usr/

[2017-02-27 17:34] ewolinetz commented on #3497
This belongs under the `openshift/origin-aggregated-logging` repo as this logic is contained with the Fluentd image (https://github.com/openshift/origin-aggregated-logging/blob/master/fluentd/run.sh#L17-L32)

[2017-02-27 17:36] #3497 closed

[2017-02-27 18:00] detiber commented on #3500
@rhcarvalho I'm good with enabling linting on test files, I'd like to get some agreement from others prior to flipping the switch, though.

[2017-02-27 18:16] tbielawa commented on #3500
[code]

**THATS** where we're defining exclusions‽ I have racked my brain attempting to figure out where that was being controlled.

* I propose that we also add "move excludes out of CODE and into DATA" as part of this (a future?) change.

[2017-02-27 18:20] rhcarvalho commented on #3500
FWIW I have a WIP to fix this.

[2017-02-27 18:24] rhcarvalho commented on #3500
Unfortunately `pylint` only handle exclude patterns on the basename, not on paths. Because of that we need to find files / filter out excludes when calling `pylint` (or write in down in some non-standard config?).
(same thing we were doing in utils/Makefile some weeks/months ago before tox).

[2017-02-27 18:26] tbielawa commented on #3500
I noticed that just now when I ran a test and looked at the coverage stuff. I'm sure we can do a simple `os.path.walk` or something and exclude those 'test'ish directories from further descent if we wanted to.

[2017-02-27 18:29] rhcarvalho commented on #3500
@tbielawa I'd doing for now:

[code]

- `git ls-files` makes it easy to ignore files that are ignored by git
- `grep` to filter out `utils/` and the `src` dir of roles with code generation

[2017-02-27 18:40] detiber commented on #3500
I've been meaning to move that into setup.cfg, but haven't gotten to it yet.

[2017-02-27 19:32] tbielawa opened #3513 "Ansible can not communicate with remote AWS Atomic host using default settings in ansible.cfg"
# Description

Installing OCP on an Atomic host in AWS fails with currently shipped [`ansible.cfg`](https://github.com/openshift/openshift-ansible/blob/master/ansible.cfg#L28-L30).

##### Version

[code]

##### Steps To Reproduce
1. Create an atomic host in AWS. For example, w/ the AMI `ami-b7ec23a1` (RH Private AWS only)
2. Create your inventory file, ensure `containerized=true` is present
3. Run

[2017-02-27 19:49] detiber commented on #3479
Yes, I think in the general case the role should gather it's own facts. I'm just thinking that as we continue to break out larger roles into smaller roles we are going to hit the issue of 'common' facts/variables even more than we do today.

So, the fun part is differentiating between facts and variable defaults as well. I don't want to get back into a situation where we have another `openshift_fa

[2017-02-27 21:51] ngpestelos opened #3516 "Unable to push images to registry (cannot validate certificate)"
#### Description

I've setup a cluster using the BYO playbook. When I tried to build an image, I am unable to push the resulting image to the registry (please refer to screenshot below).

##### Version

* ansible 2.2.0.0
* openshift-ansible-3.5.3-1-410-g77c7b1c2

##### Steps To Reproduce
1. Create an app (e.g. ruby postgresql ephemeral)
2. Watch the build logs

##### Expected Results

<img width="

[2017-02-27 22:00] ngpestelos commented on #3494
It works now; thank you 👍

[2017-02-27 22:00] #3494 closed

[2017-02-27 22:01] ngpestelos commented on #3366
@201sandeep I ran into the same [problem](https://github.com/openshift/openshift-ansible/issues/3494) with the repo. Can you try again?

[2017-02-27 22:30] jberkus commented on #3495
@sdodson sorry, terminated the test instances before your message.  I'll retest as soon as I have a change.

[2017-02-28 01:28] djdevin commented on #3390
I can't reproduce this so maybe it was just a fluke from installing/reinstalling many times.

[2017-02-28 01:28] #3390 closed

[2017-02-28 04:49] xiaoping378 commented on #930
maybe we should take a way to create a local yum repo

[2017-02-28 12:16] esuomi commented on #3111
Hi,

We also were hit by this issue earlier this week and indeed downgrading to 2.2.0.0 as @OldCrowEW suggested worked for us too.

[2017-02-28 12:35] jeremyeder commented on #930
Some of the methods we use for scale-out deployments are covered in a blog from last year

https://www.cncf.io/blog/2016/08/23/deploying-1000-nodes-of-openshift-on-the-cncf-cluster-part-1

[2017-02-28 14:50] shane-dev opened #3521 "[openshift_logging : Applying /tmp/openshift-logging-ansible- .... ] Fails json: expect char '"' but got char '0'"
#### Description

Task [openshift_logging : Applying /tmp/openshift-logging-ansible-  ....] Fails at trying to decode the yaml file.

##### Version

[code]

##### Steps To Reproduce
1. ansible-playbook -i ../hosts playbooks/byo/config.yml -vvv

##### Expected Results

Expected result is PASS

[code]

##### Observed Results
I believe the issue might be caused by the previous  task which although pa

[2017-02-28 21:52] sdodson commented on #3366
We do not currently have 1.5 RPMs.

[2017-02-28 21:53] sdodson commented on #3516
Fixed in https://github.com/openshift/openshift-ansible/pull/3512

[2017-02-28 21:53] #3516 closed

[2017-02-28 23:01] tdawson commented on #3366
The repo you are pointing to is for finaished, released packages.
Origin 1.5 has not been released yet, only an Alphas and Betas have been released, so you will not see rpm's for 1.5 in that repo.
Right now, we have a version of origin-1.5 in our testing area.
https://buildlogs.centos.org/centos/7/paas/x86_64/openshift-origin/

[2017-03-01 00:27] jberkus commented on #3111
Incidentally, ansible 2.2.0.0 is not available as a package for Fedora 25.  So at this point, there is no packaged version of ansible for Fedora 25 which works with Openshift-Ansible.

[2017-03-01 07:00] debianmaster commented on #2068
@andriyfomenko  how did you add back nodes?   delete is simple but how did you add?

[2017-03-01 14:03] DanyC97 commented on #3111
@jberkus if you read what i mentioned few comments above you can get the patched version from `centos-openshift-origin` and you are all good

[2017-03-01 16:46] liggitt opened #3530 "servingInfo minTLSVersion and cipherSuites overrides"
https://github.com/openshift/origin/pull/13167 allows overriding minimum tls version and cipher suites in any servingInfo config stanza.

It should be possible for a customer to override those values via ansible

[2017-03-01 17:02] sdodson commented on #3530
What's the likelihood of someone wanting to set these per servingInfo?

[2017-03-01 17:03] sdodson commented on #3530
Like if I give them two knobs and that sets the values for all is that good enough for 99%?

[2017-03-01 17:10] sdodson opened #3531 "Need to enable origin in quick installer when either building or running on centos"
Currently the quick installer SRPM needs to be patched in order to enable origin deployment types because the quick installer has traditionally targetted OCP installs. However this package also ships in Centos so we should make sure that the version shipped there has origin installs enabled and we should do so in a manner which doesn't require SRPM patching which is error prone and often forgotten

[2017-03-01 17:10] sdodson commented on #3531
CC: @tdawson

[2017-03-01 19:26] liggitt commented on #3530
splitting api and console (asset) doesn't seem useful, since a browser needs to access both

having different ones for the node could *maaaaybe* make sense, since basically only the apiserver talks to the node, so you could keep it at default levels and just relax the API if required for some legacy load balancer or something (the people who want to tighten our defaults would likely want to do it

[2017-03-01 19:33] jberkus commented on #3111
@DanyC97 well, I used a Fedora 24 container, which worked.  But it does show that there's a deadline on fixing this one way or the other.

[2017-03-02 00:12] detiber commented on #2068
@debianmaster the nodes self-register. You may need to restart the node service.

[2017-03-02 01:50] jberkus commented on #3495
here you go:

[code]

[2017-03-02 01:51] jberkus commented on #3495
BTW, that was the latest openshift-ansible, updated today.

[2017-03-02 02:25] sdodson commented on #3495
Yeah this is an image problem, Clayton said he'd be able to rebuild the
image. If he hasn't already just pull 'latest' and re tag it.

See https://github.com/openshift/origin/issues/13069

On Mar 1, 2017 8:51 PM, "Josh Berkus" <notifications@github.com> wrote:

[2017-03-02 11:51] DanyC97 opened #3537 "Question around openshift_portal_net parameter"
Hi all,

I'm running Origin 1.3 without any router deployed however with some services defined as `type: LoadBalancer`. (note this is a lab only for now)

Now my questions are around the `openshift_portal_net` parameter which by default (as per doc) is set to `172.30.0.0/16`.

Now my questions are:

* looking through the code [1] and [2] i am trying to understand how this parameter `openshift_port

[2017-03-02 14:23] aerialls opened #3540 "Registry - getsockopt: connection refused"
#### Description

After deploying a new staging all-in-one server with the latest openshift-ansible, impossible to connect to the registry service : "getsockopt: connection refused"

##### Version

* ansible 2.2.0.0
* openshift-ansible-3.5.3-1-462-g2d52f7c

##### Steps To Reproduce
1. Use this config file https://gist.github.com/aerialls/317f7543ceaf430c82ab0600a0425d0a
2. Try to build "Node.js +

[2017-03-02 14:26] sdodson opened #3541 "Need to deliver roles/contiv/files/loopback via contiv packaging"
Can we move roles/contiv/files/loopback somewhere else? We shouldn't be using openshift-ansible to deliver binary files if there's any other way that we could include that in the contiv distribution. This has broken our RPM build process because our ansible playbooks are noarch packages so I'm going to temporarily remove the contiv role from our RPMs.

[2017-03-02 14:27] sdodson commented on #3541
@srampal @jcpowermac @danyc97 thoughts?

[2017-03-02 14:46] srampal commented on #3541
@sdodson  We will look into options for this and get back to you.

[2017-03-02 14:52] DanyC97 commented on #3537
And situation gets even more interesting where i've added as per doc `openshift_portal_net=10.1.111.192/27` and redeployed anything and what i got is again not as per my expectation:

[code]
My expectation was for the external-ip to match the cluster-ip subnet - i.e 10.1.111.x

[2017-03-02 16:15] php-coder opened #3543 "Requirement of Python 3 on Fedora isn't documented"
Requirement of using Python 3 on Fedora isn't documented https://github.com/openshift/openshift-ansible#setup but without it installation fails:

[code]
Also when there is two versions of Python installed, we have to tell ansible which one it should use by adding to inventory file the following:
[code]

[2017-03-02 16:52] php-coder opened #3544 "Install python3-dbus package instead of python-dbus when Python3 is used"
I'm using Fedora on my host and Fedora on the managed hosts. I'm using Python3 (see #3543).

Installation fails with:
[code]

It turns out (thank you @rhcarvalho!) that installer installs `python-dbus` package on the nodes while it should install `python3-dbus` package in case of using Python3.

[2017-03-02 16:59] php-coder commented on #3544
Workaround 1:
install `python3-dbus` package manually with command `ansible all -i my.inventory -m shell -a 'dnf install -y python3-dbus'`

Workaround 2:
[code]

[2017-03-02 17:07] tbielawa opened #3545 "openshift_certificate_expiry test coverage is low"
#### Description

`openshift_certificate_expiry` test coverage is low

![expiry-coverage](https://cloud.githubusercontent.com/assets/33121/23517963/c07b356c-ff26-11e6-870c-1e99ad8b4b5f.png)

**272** statements, **170** missing test coverage, **37%** coverage.

##### Version

[code]
... as ran from https://github.com/openshift/openshift-ansible/pull/3449

##### Steps To Reproduce

[code]

##### Exp

[2017-03-02 18:49] sdodson commented on #3541
Also, is contiv only built and supported on x86_64? Origin will soon work on other arches such as ppc64 and aarm64

[2017-03-02 19:00] sdodson commented on #3544
Perhaps
`  - "{{ 'python3-dbus' if ansible_distribution == 'Fedora' else 'python-dbus' }}"`
Unfortunately RHEL7 doesn't have python3-dbus nor does it have python2-dbus

[2017-03-02 19:47] php-coder commented on #3544
I was thinking about using distribution-specific vars files (https://ansible-tips-and-tricks.readthedocs.io/en/latest/os-dependent-tasks/variables/). Or it is an overkill here?

[2017-03-02 19:52] sdodson commented on #3544
I think that'd work well.

[2017-03-02 20:30] sdodson commented on #3022
@djosborne sorry for the delay in getting to this, but loopback plugin is a standard kubernetes CNI plugin?
@dcbw Is this something we should be shipping in our openshift packages?

[2017-03-02 21:37] sdodson commented on #3537
openshift_portal_net sets the kubernetes service subnet, I don't believe this is actually subnetted instead as services are created and updated the kubelet is responsible for defining iptables nat rules which map to the pod ip addresses. I expect that the external-ip field is the list of pod ip addresses which would all be ip addresses assigned to the pods by the SDN. The SDN is routed and each ho

[2017-03-02 22:13] DanyC97 commented on #3537
thanks for the info @sdodson !!

While i was trying to get to the bottom of it i came across https://github.com/redhat-cop/openshift-playbooks/blob/master/playbooks/operationalizing/ingress.adoc which suggest that

`allocate External IP addresses using ingress is enabled by default within OpenShift and configured to use the 172.46.0.0/16 range.`

and then found that this is set by default by `open

[2017-03-03 05:57] DanyC97 commented on #3537
And to slowly but surely close the loop i found the PR which implemented the code and has tons of v useful comments, including the usecase.

https://github.com/openshift/origin/pull/9454

[2017-03-03 06:38] DanyC97 commented on #3541
@sdodson what time window are you guys looking for others arches ? (just curious to see how far are you from it)

[2017-03-03 08:39] aerialls commented on #3540
This is fixed with version `openshift-ansible-3.5.3-1-481-g4630305`.

Thanks!

[2017-03-03 08:39] #3540 closed

[2017-03-03 11:36] marconesns commented on #3111
Hello everyone,

It was like same problem, I decided to configure the master server in hours, in the case in a CentOS 7 with chrony. I have the version of ansbile 2.2.1.0

[2017-03-03 12:39] srampal commented on #3541
@sdodson contiv is only built and supported on x86_64 currently.

From: Scott Dodson <notifications@github.com<mailto:notifications@github.com>>
Reply-To: openshift/openshift-ansible <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Thursday, March 2, 2017 at 1:50 PM
To: openshift/openshift-ansible <openshift-ansible@noreply.github.com<mailto:openshift-ansible@noreply.github.com>>
Cc:

[2017-03-03 13:38] danwinship commented on #3537
Right. Kubernetes just treats openshift_portal_net as a single subnet, essentially, and allocates IPs out of it randomly. (Though, nitpick: it's kube-proxy that defines the iptables rules, not kubelet.)

[2017-03-03 14:13] detiber commented on #3111
@jberkus @maxamillion the current situation is far from ideal by any means.

To give a bit more context:
- After the initial issue was discovered, we started playing whack-a-mole with trying to work around the issue in openshift-ansible before realizing it was a bug in Ansible.
- The Ansible team provided us with a patched 2.2.1 build that resolved the issues we were seeing and we expected a 2.2.1

[2017-03-03 14:14] sdodson commented on #3213
@mwoodson saw this a few days ago on a fully updated host.

If we see this again ansible verbose logs -vvv, `journalctl -l` and `/var/log/firewalld` would be what I'd grab.

[2017-03-03 14:20] detiber commented on #3213
@sdodson I'm wondering if we should add a wait loop that tests that the dbus address is available before adding/removing firewalld rules.

[2017-03-03 14:26] sdodson commented on #3213
Is that DBUS address predictable? that seems like a good check to add.

The only other thing I could think of was to ensure that polkitd was installed and enabled before enabling firewalld. I saw some old fedora bugs that seemed to indicate this condition may happen if polkitd weren't running, based on the logs from the affected host I suspect it was running but I wasn't able to verify that it was

[2017-03-03 14:41] johnr-spindance opened #3553 "Cannot do OpenShift Origin Disconnected Install - custom yum repo file for alt repo host is being overwritten"
#### Description

Trying to do a disconnected install of OpenShift Origin... When I run the openshift ansible byo config.yml playbook, it keeps overwriting /etc/yum.repos.d/openshift-ansible-centos-paas-sig.repo on all my nodes. I'm trying to have a custom version of that file that points to a repo server instead of the internet (which OpenShift nodes won't have access to). Any ideas on what to do

[2017-03-03 14:43] detiber commented on #3213
It is predictable, I'll take a look at adding a check for it.

I would expect polkitd to be a requirement for firewalld and not something we should have to handle.

[2017-03-03 14:45] johnr-spindance commented on #3553
Perhaps I answered my question... the latest commit on this playbook has a new boolean in there that I may be able to use: https://github.com/openshift/openshift-ansible/blob/master/roles/openshift_repos/tasks/main.yaml#L45

[2017-03-03 14:49] detiber commented on #3553
You can set `openshift_enable_origin_repo=false` in your inventory.

On a side note, you can use`openshift_additional_repos` to setup your custom repo: https://github.com/openshift/openshift-ansible/blob/master/inventory/byo/hosts.origin.example#L118

[2017-03-03 14:55] php-coder commented on #3302
The workaround that worked for me with Fedora 24:
[code]

[2017-03-03 14:57] nusnewob commented on #3498
No one has this issue?

[2017-03-03 15:21] johnr-spindance commented on #3553
So I just tried this with the latest release (openshift-ansible-3.3.68-1) and `openshift_enable_origin_repo=false` doesn't seem to prevent the overwrite.

Is the `useopenshift_additional_repos` supposed to override the repos that ansible deploys or are they "in addition to"?

[2017-03-03 15:30] johnr-spindance commented on #3553
Ok, here is an update to the issue:

`openshift_enable_origin_repo=false` only works if I remove the `| default(True)' in this line:
https://github.com/openshift/openshift-ansible/blob/openshift-ansible-3.3.68-1/roles/openshift_repos/tasks/main.yaml#L50

[2017-03-03 15:40] johnr-spindance commented on #3553
So ultimately, this is what worked (reworking the when statement and removing the `| default(true)` filter on the `openshift_enable_origin_repo` var
[code]

[2017-03-03 15:40] johnr-spindance commented on #3553
The same should be done to the gpg block above this block

[2017-03-03 15:54] sdodson commented on #3541
No specific timeline, I know the whole toolchain needs to be vetted and I believe golang bits are now ready. Next would be origin itself.

[2017-03-03 17:33] johnr-spindance commented on #3553
Ok, looks like it was fixed here: https://github.com/openshift/openshift-ansible/commit/709cb6561930f8b73d51c61dcc5dc4d821ca0eba

[2017-03-03 18:05] johnr-spindance commented on #3553
So fixing this just means I need to use openshift-ansible >= 3.4.x / openshift origin >=1.4.x

[2017-03-03 18:05] #3553 closed

[2017-03-03 18:09] sdodson commented on #3553
That commit cherry-picks cleanly into release-1.3, feel free to do that and open a PR against that branch.

[2017-03-03 21:18] DanyC97 commented on #3537
will close this issue as i got all the answers, thanks @sdodson & @danwinship

[2017-03-03 21:18] #3537 closed

[2017-03-04 01:49] jberkus commented on #3111
Well, personally, I think we should ship an Openshift-ansible container which has all the bits.

[2017-03-04 03:34] detiber commented on #3111
@jberkus kind of like this: https://github.com/openshift/openshift-ansible/pull/3382 ?

There are some tricky problems with containerizing the install bits, though. The two biggest being:
- Getting all the remote access config in place. ssh keys, ssh config, proxy config, etc
- Having a containerized install that works on one of the hosts being installed

The second reason is the biggest reason we

[2017-03-04 19:50] alvaroaleman opened #3559 "Adding roles/lib_openshift/library to ansible_library breaks ansible-doc -l"
#### Description

Adding `roles/lib_openshift/library` to ansible_library breaks `ansible-doc -l`

##### Version

openshift-ansible 6ecb86b2fcc36e3383d86395d3be0a443e12981e
ansible 2.2.0.0

##### Steps To Reproduce
1. git clone git@github.com:openshift/openshift-ansible.git
2. export ANSIBLE_LIBRARY=$(pwd)/openshift-ansible/roles/lib_openshift/library
3. ansible-doc -l

##### Expected Results

A l

[2017-03-05 01:14] jberkus commented on #3111
I generally solve the first problem by mounting my .ssh into the container.  Not sure about proxy config, though, hasn't been an issue I had to solve.

Yes, self-bootstrapping by being able to run the installer on one of the target hosts would be ideal.  However, until we solve that problem, a container we can run elsewhere would still be an improvement.

[2017-03-05 03:47] detiber commented on #3559
@alvaroaleman thanks for reporting this issue, I've created #3560 to address it.

[2017-03-05 21:27] mcapuccini opened #3561 "Add tags to prepare immutable image"
#### Description

Hello! The installation through Ansible takes quite a bit of time, so I was trying to understand if it would be possible to create an immutable image in my cloud providers in order to speed up a bit the process. Does exist any tag in your roles to run only tasks that can be executed before the cluster deployment (e.g. packages installation, images pull)? Or if it doesn't exist is

[2017-03-06 03:55] andrewklau opened #3562 "Add option configure jenkinsPipelineConfig"
The Jenkins pipeline config should be added to the master-config.yaml configurable so eg. jenkins-persistent could be used instead of jenkins-empheral

https://docs.openshift.org/latest/install_config/configuring_pipeline_execution.html

[2017-03-06 13:49] sdodson commented on #3562
@bparees Any reason not to automate this during installation? What points of configuration would we need to provide?

[2017-03-06 13:53] bparees commented on #3562
@sdodson no particular reason not to, no.

we'd probably want to allow configuration of all the fields shown in that example.

[2017-03-06 13:53] sdodson commented on #3561
Not currently, we'd like to break the installation into two parts enabling folks to bake gold images and then configure the host assuming that everything is pre-installed. We haven't yet looked into it so I'm not sure the approach we'd take.

[2017-03-06 14:10] mcapuccini commented on #3561
@sdodson what about using `containerized=true` and prepull:
- openshift/origin
- openshift/node
- openshift/openvswitch
- registry.access.redhat.com/rhel7/etcd
reference: https://docs.openshift.org/latest/install_config/install/rpm_vs_containerized.html

[2017-03-06 15:37] juanvallejo opened #3564 ""ansible_facts" empty when used to output module result"
#### Description

When using an ansible module, such as [docker_container](https://docs.ansible.com/ansible/docker_container_module.html), the module's output is placed under a key named [ansible_facts](https://github.com/ansible/ansible-modules-core/blob/devel/cloud/docker/docker_container.py#L1672) in the dictionary that it returns. However, that key returns with an empty value by the time it ha

[2017-03-06 15:46] rhcarvalho commented on #3564
@juanvallejo perhaps this is a better fit for https://github.com/ansible/ansible/issues?
And then, replace the reference to our OpenShiftCheck class with a direct use of an action plugin:

[code]

[2017-03-06 15:53] detiber commented on #3564
@rhcarvalho It looks like it is by design:
https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/action/__init__.py#L776-L834

[2017-03-06 15:57] detiber commented on #3564
@juanvallejo @rhcarvalho: actually, I think it's getting sanitized because of the Encoding/Decoding issue in 2.2.1.0: https://github.com/ansible/ansible/blob/devel/lib/ansible/vars/unsafe_proxy.py

[2017-03-06 17:04] rastakajakwanna commented on #3111
I already use containerized Ansible-controller and it really needs a lot of tweaking to cover e.g. ansible-vault secrets, .ssh/{config,id_rsa} (ssh bastion host is not an issue), aws api credentials and all possible adjustments to /etc/ansible/ansible.cfg. However, it's worth it, especially in situations like this.

Btw, how do you solve such situations within Ansible Tower?? Would you be ever abl

[2017-03-06 17:05] #3376 closed

[2017-03-06 17:07] smarterclayton commented on #3017
We can potentially punt this from 1.5 if we can fix it in 1.6.  It's not a regression per se (it regressed in 1.4).

[2017-03-06 17:58] sdodson commented on #3017
Leaving as P1, setting milestone as 1.6.

[2017-03-06 23:17] Delmonte3161 commented on #3111
I'm having an issue and not sure if it is the same or not.

I am using:
`ansible.noarch                          2.2.1.0-1.el7            @epel`

Does this version have the fix or not?

The issue I am seeing is during: TASK [openshift_master : set_fact]
Error message contains: cannot represent an object: allow_all

Is this the result of the same bug or do I have a unique issue?

[2017-03-07 01:11] sdodson commented on #3111
@Delmonte3161 That's the same problem. You can get ansible-2.2.1.0-2.el7 from the Centos PaaS SIG repo at http://mirror.centos.org/centos/7/paas/x86_64/openshift-origin/

[2017-03-07 11:31] php-coder opened #3577 "playbooks/adhoc/uninstall.yml: should also remove /etc/origin directory"
After running `playbooks/adhoc/uninstall.yml` I see that it didn't remove empty `/etc/origin` directory from the master. I expected that it should get removed.

[2017-03-07 13:33] apupier commented on #3017
Do you have a workaround for this issue?

[2017-03-07 14:23] sdodson commented on #3017
@apupier you'd need to configure the node's dnsBindAddress and point dnsmasq at that rather than at the kube service ip. That's all manual at this point, that cannot be done via openshift-ansible today.

[2017-03-07 14:53] jhadvig commented on #3111
@sdodson so I've installed the `ansible-2.2.1.0-2.el7` from repo you suggested but I still can see the issue

An exception occurred during task execution. To see the full traceback, use -vvv. The error was: RepresenterError: cannot represent an object: allow_all
fatal: [localhost]: FAILED! => {
    "failed": true
}
MSG:
Unexpected failure during module execution.

[2017-03-07 16:42] vishpat opened #3583 "Nuage Installation breaks during serviceaccount creation"
### <HTPASSWD_AUTH>

We are aware of the current issues related to htpasswd_auth failures
Please downgrade to ansible 2.2.0.0 until a fix is released.
You can track the status of the bug fix in this issue:
https://github.com/openshift/openshift-ansible/issues/3111
Please erase this <HTPASSWD_AUTH> section if it does not apply to you.

Thanks - 2017-01-31

### </HTPASSWD_AUTH>

#### Description
Ins

[2017-03-07 17:57] Office-Manager opened #3584 "es_pvc_pool is being left empty causing fail later on in openshift_logging : Applying /tmp/openshift-logging-ansible-"
#### Description

On a multi master with co located etcd install we notice an issue regarding the claim_name variable not being set correctly for the logging.
In the README.md we see
/openshift_logging/README.md:- `openshift_logging_es_pvc_prefix`: The prefix for the generated PVCs. Defaults to 'logging-es'

However when running the playbook without defining it we see the yaml for the claim will f

[2017-03-07 17:58] #3521 closed

[2017-03-07 18:01] vishpat commented on #3583
@ashcrow Any idea how can I debug this further ?

[2017-03-07 18:52] ashcrow commented on #3583
@vishpat I'm taking a look at the output now.

[2017-03-07 19:08] ashcrow commented on #3583
@vishpat the following stands out to me:

```'error: error when creating "/tmp/nuage-CulDIi```

This seems to indicate that ansible was unable to write the temporary file.

Here is the [code reference](https://github.com/openshift/openshift-ansible/blob/master/roles/lib_openshift/library/oc_serviceaccount.py). Search for ``create_tmpfile``.

Can you verify that your user as access to the kubeconfi

[2017-03-07 19:09] ashcrow commented on #3583
/cc @kwoodson

[2017-03-07 19:45] askstack opened #3587 "task path: /root/openshift-ansible/roles/openshift_builddefaults/tasks/main.yml:20"
#### Description

On a one master, two nodes install, it failed with

task path: /root/openshift-ansible/roles/openshift_builddefaults/tasks/main.yml:20
fatal: [atomicqc1.pt-virt]: FAILED! => {
    "failed": true,
    "msg": "the field 'args' has an invalid value, which appears to include a variable that is undefined. The error was: {u'BuildDefaults': {u'configuration': {u'kind': u'BuildDefaultsCo

[2017-03-07 22:51] travisrogers05 commented on #3017
@sdodson How would someone on 1.4 get around this?  Where do they set dnsBindAddress and does dnsmasq config have to be altered on each node?

[2017-03-07 23:10] jberkus commented on #3111
@rastakajakwanna  oh, hey, how did you deal with secrets?

[2017-03-08 00:01] djosborne commented on #3022
@sdodson Yes. For example, `registry-console-1-deploy` fails to deploy when networking mode is set to CNI:

`oc describe pod registry-console-1-deploy` shows the following:
[code]

[2017-03-08 00:14] Delmonte3161 opened #3591 "Issue with Console after install"
I have run the ansible installation (latest master) on a stack consisting of 3 masters, 3 etds, 1 lb, 3 nodes, and 1 installer node.  After much work, including running the older version of ansible and adding host prep steps to enable NetworkManager, the installation completed successfully.  However, I'm having issues verifying the install and need help figuring out what the issue is.

The nodes v

[2017-03-08 00:27] rastakajakwanna commented on #3111
@jberkus some of them are parsed from known locations and exposed as env vars in the container, ansible-vault secret is mounted to the container user home location, that's the easiest solution.

[2017-03-08 03:02] msavlani commented on #3341
My systems are sitting behind proxy and thus  it was unable to reach my registry if i set proxy variables.
I added above endpoint to no proxy and it worked like silk.

Thanks for looking into my issue.

[2017-03-08 03:02] #3341 closed

[2017-03-08 09:31] veyesecurity opened #3592 "Origin hosted templates deploy 'latest' images"
"IMAGE_VERSION=latest" in all hosted templates
 /roles/openshift_hosted_templates/files/v1.4/origin

[2017-03-08 11:11] codificat opened #3594 "[healthchecks] the package_version check always checks for master/node packages regardless of host group"
#### Description

When running `playbooks/byo/openshift-preflight/check.yml`, the `package_version` check reports failures on hosts that can't access the `atomic-openshift-{master,node}` packages even when this is expected, e.g. on etcd or lb hosts.

##### Version

[code]

##### Steps To Reproduce
1. Have a cluster with `[etcd]`, `[lb]` and/or additional "auxiliary" host groups
2. Run the `playboo

[2017-03-08 12:22] nusnewob commented on #3498
I know this error message comes from Go `yaml.v2` package in [Origin repo](https://github.com/openshift/origin/blob/master/vendor/gopkg.in/yaml.v2/readerc.go#L348), but surely there's something in the template causing this.

[2017-03-08 14:33] sdodson commented on #3592
We need to check to see if `v1.4` tags exist for all the origin images. Previously they lacked this supplemental tag which prevented us from matching at a release level.

[2017-03-08 15:08] vishpat commented on #3583
@ashcrow I tried an install with an older release (release-1.4) on the same setup and it went through fine. I don't think there any permission issues on /tmp directory

[2017-03-08 16:35] Delmonte3161 commented on #3591
I initially had my master nodes not schedulable.  I corrected that and now the pods look good.

[code]

But the console still doesn't work.  I get the OpenShift banner/logo and "Loading..." in the center of the window.

[2017-03-08 16:44] sdodson commented on #3591
Regarding etcdctl, you're probably running embedded etcd because a host wasn't defined in the etcd group, so you need to install etcd for the client tools.  `yum install etcd`

For the console, I bet it's redirecting you to an ouath page or something and that's failing. Can you post the contents of /etc/origin/master/master-config.yaml? Feel free to redact any sensitive info but there's usually no

[2017-03-08 18:43] Delmonte3161 commented on #3591
I'll gather the config (and follow up with another comment).

Regarding the etcd, no I am not running embedded etcd.  They are running on dedicated hosts and the etcd service is running on them (and etcdctl is available on those nodes).  etcdctl is just not available on the master nodes and the verification step had you executing it FROM a master node.

[2017-03-08 18:47] Delmonte3161 commented on #3591
Here's the master config (I just grabbed it from the first master node).  All the URLs in this config are referencing the private ips.  Since this is in OpenStack, I am accessing the console from my browser via the node's public IP.  I don't know if that is causing any issues or not.  I configured the cluster in the ansible hosts file all with the private IPs.

[master-config.yaml.txt](https://git

[2017-03-08 20:06] ashcrow commented on #3583
@vishpat After more review ```u'error: error when creating "/tmp/nuage-CulDI``` is coming back from OpenShift. Generally there is more data given back provided back from the server. For instance, noting that the user can not make a new secret. Can you verify the temporary file it created is valid (just in case)?

The following will produce more debug output for your instance:

[code]

@kwoodson an

[2017-03-08 20:56] sjenning opened #3603 "TASK [openshift_excluder : Install docker excluder] failed"
Trying to do RPM install against fresh CentOS7 cloud instance (having already run `yum update -y`)

[code]

My theory is that the origin repo isn't being added before the step is executed.  The package is here:
http://mirror.centos.org/centos/7/paas/x86_64/openshift-origin/

@sdodson

[2017-03-08 21:38] askstack commented on #3587
I was able to followed this guide,  http://www.projectatomic.io/blog/2016/12/part1-install-origin-on-f25-atomic-host/ .

It worked on
openshift-ansible-3.5.3-1-566-g237cdc5
http://mirror.centos.org/centos/7/paas/x86_64/openshift-origin/common/ansible-2.2.1.0-2.el7.noarch.rpm
Fedora Atomic Host, Fedora release 25 (Twenty Five) , atomic --version 1.15.1
openshift_release=v1.4.1

[2017-03-08 21:38] #3587 closed

[2017-03-08 22:01] Delmonte3161 commented on #3603
I am having this issue as we speak.  The ansible script worked yesterday but fails today (running against fresh infrastructure).  Did something change?

`No package matching 'origin-docker-excluder' found available, installed or updated`

[2017-03-09 01:44] #3603 closed

[2017-03-09 01:59] vishpat commented on #3583
@ashcrow Have attached the log file with debug set to True

[ansible.log.txt](https://github.com/openshift/openshift-ansible/files/829521/ansible.log.txt)

[2017-03-09 02:19] vishpat commented on #3583
I think the issue is the failure

"Post https://dns.nuageopenshift.com:8443/api/v1/namespaces/default/serviceaccounts: EOF"

I reverted creating the service account the old way, and I am hitting the above error.

[2017-03-09 14:53] ashcrow commented on #3583
@vishpat I agree. Just to verify, when you say 'the old way' you mean using the nuage ansible code from before the change to ``oc_serviceaccount``, correct?

Can you provide the the log from ```atomic-openshift-master-api.service```? @kwoodson had the idea the error may be more descriptive there since it does look API side.

[2017-03-09 15:17] php-coder opened #3609 "openshift_ca role: readme is outdated"
When I'm reading https://github.com/openshift/openshift-ansible/tree/master/roles/openshift_ca I see that it mostly out-of-date. Couple examples:

- Many role variables are now unused: `openshift_ca_cert`, `openshift_ca_serial`, `openshift_ca_key`, `openshift_version`
- Dependencies section doesn't list `openshift_named_certificates` role

[2017-03-09 15:39] vishpat commented on #3583
@ashcrow @abutcher I think I know what the issue is.

The nuage components are being brought up before the openshift api server is ready. I think with change d113f03968476c4bf899e20317bfa644ee539560 the order in which things are brought up has changed. I am trying out a fix where we bring the nuage components up after the API server is ready.

[2017-03-09 15:49] Delmonte3161 commented on #3591
I re-installed from scratch, this time using the stable 1.4 release and also configuring my public master url to match the public ip of one of my master nodes (I don't have a load balancer in front of these public ips yet).  This enabled me to launch the console and reach the login prompt.  However, I do not seem to be able to log in with anything.  The page just hangs presumably authenticating th

[2017-03-09 16:08] ashcrow commented on #3583
@vishpat interesting. Keep us posted!

If you are on Freenode feel free to reach out to us there.

[2017-03-09 16:28] #3591 closed

[2017-03-09 17:03] detiber opened #3612 "Add tox task to generate man pages"
See: https://github.com/openshift/openshift-ansible/pull/3569#discussion_r104617154

This task should not run in travis.

[2017-03-09 18:41] vishpat commented on #3583
@ashcrow Unfortunately IRC is blocked at my workplace.

btw the change in the order is indeed the cause of the issue. I tried moving the nuage component install in playbooks/common/openshift-cluster/additional_config.yml However the issue is, in case of HA configuration the nuage components get installed only on one of the master nodes, instead of all of the master nodes.

My changes in additional

[2017-03-09 18:47] vishpat commented on #3583
I think I need to use "oo_masters_to_config" as the hosts in my case

[2017-03-09 19:37] ashcrow commented on #3583
@vishpat I spoke @abutcher and it sounds like we can pull the nuage related items from https://github.com/openshift/openshift-ansible/commit/d113f03968476c4bf899e20317bfa644ee539560#diff-385d17203ec610a738ee3ec5938ce287R136 back to the playbook level. I'll put a PR together for that. Would you mind testing once it's ready?

[2017-03-09 19:50] ashcrow commented on #3583
@vishpat see https://github.com/openshift/openshift-ansible/pull/3615

[2017-03-09 20:38] vishpat commented on #3583
@ashcrow I will test this out and let you know. Many thanks for this.

[2017-03-09 20:40] ashcrow commented on #3583
@vishpat my pleasure! :smile:

[2017-03-09 21:16] rb1whitney commented on #2709
For those running into this issue, you may be running into a common symlink problem with Windows. Non-administrator Window user accounts can't create symlinks and as such those symlinks are removed when you download this repo on to your Windows machine. You either need to download/use these playbooks with a windows administrator account or go about enabling it in Windows for non-administrator acco

[2017-03-09 23:49] vishpat commented on #3583
@ashcrow the install failed but it is not because of your changes. I know what the issue is, I need to run the service account commands on only one master node. I will make those changes and re-run your PR.

[ansible.log.txt](https://github.com/openshift/openshift-ansible/files/832580/ansible.log.txt)

[2017-03-10 02:55] vishpat commented on #3583
@ashcrow The fix works !!! I need to make some changes to the nuage roles, I will create for it once you merge these changes in. Really appreciate your help with this.

[2017-03-10 03:20] smarterclayton opened #3617 "Are we still using openshift/vswitch now that we have openvswitch in the node image?"

[2017-03-10 04:13] xiangpengzhao commented on #2709
Thanks @rb1whitney and @dindinw and other folks for help on solving this issue. But I would say I'm so sorry for not confirming the cause because I didn't have the opportunity to construct a new env then.

I close this issue. Feel free to reopen or reply if other one hits the same issue due to none of the causes mentioned in above comments.

Thanks!

[2017-03-10 04:13] #2709 closed

[2017-03-10 14:38] sdodson commented on #3617
yes, we could change the entrypoint on the node image and just use that, but i think your pr is a better solution. https://github.com/openshift/origin/pull/12967

[2017-03-10 14:38] #3617 closed

[2017-03-10 14:52] ashcrow commented on #3583
Great! I'll update the PR for merging.

Kudos to @kwoodson and @abutcher for debugging and brainstorming!

[2017-03-10 20:28] #3583 closed

[2017-03-10 20:29] ashcrow commented on #3583
@vishpat PR merged.

[2017-03-13 15:45] zonArt commented on #3544
Looks like on oracle-linux and on centos, package name is inverted (dbus-python instead of python-dbus). Could be an idea to think about alternative distros as well. Thanks

[2017-03-14 15:31] kkurpanik opened #3652 "configure OpenShift console/api on an another port"
Is there any way to change the default API port 8443 to another one?

I have tried so far the following two options but without success:
openshift_master_console_port=6443
openshift_master_api_port=6443

installation playbook is failing on Veritfy API Server step with error:

fatal: [master]: FAILED! => {
    "attempts": 120,
    "changed": false,
    "cmd": [
        "curl",
        "--silent",

[2017-03-14 17:50] jcantrill commented on #3496
We are still defaulting to 0-2 but this #3647 would allow the user to modify.  Possibly we should be starting at 0 and advising the users how and when to modify this value.  cc @lukas-vlcek

[2017-03-14 18:10] dustymabe commented on #3495
i've been running `v1.5.0-rc.0` fine. this can be closed I think.

[2017-03-14 19:33] dustymabe opened #3655 "pulling image fails on 2nd run of openshift-ansible on FAH"
#### Description
Targeting a 3 node fedora atomic host cluster:

If I run openshift ansible twice I get an error when trying to pull images. To be clear, it ran the first time and installed everything fine. On the 2nd run (in which nothing should happen) it fails because it can't pull an image. It works fine on the first run:

[code]

2nd runs fails:

[code]

It is trying to pull the wrong image.

[2017-03-14 22:58] jberkus commented on #3495
Thanks, I'll retest shortly.

[2017-03-15 03:27] portante commented on #3496
If we have a simple Small, Medium, Large model for ES configurations, we can just drop this entirely, since those models would contain the prescription for the replication count.

[2017-03-15 10:23] chmouel opened #3661 "Installing Origin fail on "Evaluate node groups" task"
#### Description

Trying to install OpenShift ansible latest (4c6d052e) and I am getting an error like this :

[code]

My host file :

http://paste.openstack.org/raw/GRAncys1kE2lzGbyB6Gr/

##### Version

[code]

##### Steps To Reproduce
1. Use the hosts file from http://paste.openstack.org/raw/GRAncys1kE2lzGbyB6Gr/
2. Launch it like this :
    ansible-playbook -v playbooks/byo/config.yml -e 'ansib

[2017-03-15 11:13] sbadakhc opened #3662 "Links to Openshift Enterprise and Origin are broken."
README_libvirt.md has broken links with respect the Openshift Enterprise and Origin documentation links.  They should point to:

Enterprise
https://docs.openshift.com/container-platform/latest/welcome/index.html

Origin
https://docs.openshift.org/latest/install_config/index.html

[2017-03-15 11:19] robertgmoss commented on #3213
I'm hitting this issue

[code]

[2017-03-15 16:53] nirtal opened #3668 "Using a non-root account as ansible_ssh_user failes when root doesn't have permission to write to home"
#### Description

When running openshift-ansible playbook with other ansible_ssh_user then root, the root user tries to create files in the ansible_ssh_user home folder.
This breaks the playbook run when the root user doesn't have permissions to write in the users home folders, as an example when the the users home folder is on a nfs share.

##### Version

[code]

##### Steps To Reproduce
1. Creat

[2017-03-15 17:31] jcantrill commented on #3496
I am going to leave this open as the source for making the 'calculated' changes.  Based on email thread:

* Small / Experimental  (1 ES pod (master w/ data), 1 shard, 0 replicas)
* Medium (3 ES pods (3 masters w/ data, each in separate failure
domains), 3 shards, 2 replicas)
* Large (3 ES master pods (no data), 3+ client nodes, N data nodes
across three or more failure domains, M shards, 2 replica

[2017-03-15 19:05] jcantrill commented on #3496
#3672 sets value to default which is false.

[2017-03-16 19:59] liveaverage commented on #2338
I also hit this exact problem -- internal OSP8/OSP9 stack, API cert signed by internal CA, and failed playbook execution (for 1.4/3.4) when attempting to access the cloud provider. Is a fix scheduled for a future release? I'm attempting a 1.5/3.5 deployment now to see if it's addressed.

The same workaround works for me (-v /etc/pki/ca-trust:/etc/pki/ca-trust). Is it best to simply add this modifi

[2017-03-16 20:40] DarkBlaez opened #3690 "Ansible - Centos 7 script fails"
OS: Centos 7
Ansible: 2.2.2.0 rc2

Command: ansible-playbook openshift-ansible/playbooks/byo/config.yml --inventory <some hosts>

Result:
ERROR! The requested action was not found in configured module paths. Additionally, core modules are missing. If this is a checkout, run 'git submodule update --init --recursive' to correct this problem.

The error appears to have been in '/root/openshift-ansibl

[2017-03-16 21:36] andreas-kowasch commented on #2994
+1

[2017-03-17 16:11] DarkBlaez commented on #3690
This issue is fixed with ansible 2.4.0 on Centos 7

[2017-03-17 16:11] #3690 closed

[2017-03-17 17:53] rhcarvalho commented on #3280
I'm noticing that since we merged the tests for root and utils into one tox config (excellent thing), we're reinstalling some dependencies apparently all the time.

[code]

That makes the output a bit more messier, and the process a bit more slow to running single / a fraction of tests.

Installing once is great, re-installing all the time is the problem.

Not sure how this would affect code under

[2017-03-17 22:51] carljmosca opened #3704 "upgrading v1.2.0 to v1.3.0"
#### Description

On a multi master upgrade, the upgrade fails with this message:

failed: [hostname] => {"failed": true}
msg: Docker 1.9.1 is available, but 1.10 or greater is required

openshift v1.2.0
kubernetes v1.2.0-36-g4a3f9c5
etcd 2.2.5

ansible 1.9.6

Having tried multiple branches/tags, this is the current attempt:

openshift-ansible-3.2.5-1

running from playbooks

Provide any additiona

[2017-03-18 01:03] DarkBlaez opened #3705 "No package matching 'origin-docker-excluder'"
OS: Centos 7
Ansible: 2.4.0

I set up 2 masters, 2 etcd, 1 lb, 4 nodes. Playbook stops with:
No package matching 'origin-docker-excluder' found available, installed or updated across all masters and all nodes.

I saw other issues similar and thought this fix was checked in. However, this persist on current git pull

What is the resolution?

Thanks
DB

[2017-03-18 15:51] wicksy commented on #3705
+1

[2017-03-19 17:32] glenfordwilliams commented on #3705
im also having this issue

[2017-03-20 09:56] J0hnson opened #3706 "Switching from openshift-ovs-multitenant to flannel"
oc v1.4.1
kubernetes v1.4.0+776c994

I am using openshift-ovs-multitenant in openshift, is it possible to change to flannel without reinstall?

Thanks

[2017-03-20 11:53] sdodson commented on #3706
No, I don't believe it is possible in general and I know we don't automate that in the installer.

[2017-03-20 11:53] #3706 closed

[2017-03-20 11:54] sdodson commented on #3706
@vishpat may have some guidance on how to move an existing environment to sdn

[2017-03-20 12:13] sdodson commented on #3705
You should be able to work around this by setting enable_excluders=false in your inventory. This is happening due to a bug in the excluder packages themselves where origin-excluder excludes origin-docker-excluder so as soon as that package is installed the other is excluded from yum.

I guess the proper way forward is for us to disable this functionality unless they're running Origin 1.5 GA (yet t

[2017-03-20 13:08] jkupferer commented on #2800
In case it is useful here, I have created ansible roles for implementing
these hostmounts after cluster installation:

https://github.com/jkupferer/ansible-role-openshift-logging-elasticsearch-hostmount
https://github.com/jkupferer/ansible-role-openshift-metrics-cassandra-hostmount

What these roles do is use the existing node selector to get the list of
available nodes and then iterates over that

[2017-03-20 14:15] DarkBlaez commented on #3705
Using current 3.6 release and/or including current git pull, putting enable_excluders=false in the inventory yields another error

[OSEv3:vars]
ansible_ssh_user=root
deployment_type=origin
openshift_release=v1.4
osn_storage_plugin_deps=['glusterfs']
openshift_node_kubelet_args={'max-pods': ['40'], 'image-gc-high-threshold': ['90'], 'image-gc-low-threshold': ['80']}
enable_excluders=false

[...]

E

[2017-03-20 15:02] DarkBlaez commented on #3705
enable_docker_excluder=false instead of enable_excluders=false allowed the playbook to run and complete without errors. Not sure why the first method did not work and what the impact will be. I assume this will be all fixed per prior mention once Origin 1.5GA is release

[2017-03-20 20:03] vishal-biyani commented on #1082
@abutcher Would this also work with self-generated certificates?

[2017-03-20 20:15] abutcher commented on #1082
@vishal-biyani Yes, but named certificates are only for serving custom (+self signed) certificates for api/console traffic. https://docs.openshift.com/container-platform/3.4/install_config/certificate_customization.html#configuring-custom-certificates

[2017-03-20 22:40] vishal-biyani commented on #1082
Thanks @abutcher That helped with the issue I had.

[2017-03-21 10:44] juanluisvaladas opened #3717 "if openshift_hosted_metrics_public_url is defined should always be populated"
When ```openshift_hosted_metrics_deploy``` is set to ```false```, ```assetConfig.metricsPublicURL``` is not populated in master-config.yaml even if ```openshift_hosted_metrics_public_url``` is defined explicitly.

I consider wanting to deploy the metrics manually but having the config playbook filling correctly the ```metricsPublicURL``` is a valid use case. Specially considering that if the ```me

[2017-03-21 12:24] chmouel commented on #3661
My bad! My sudo_user didn't have the auto generated ssh key :-\

[2017-03-21 12:24] #3661 closed

[2017-03-21 13:43] sdodson commented on #3705
Master should be fixed now as far as only needing `enable_excluders=false` I'll work on disabling this by default in origin today until centos paas sig repo has fixed excluder packages.

[2017-03-21 14:08] gbaufake opened #3719 "Ansible Origin Playbook with YAML Syntax Error"
YAML Syntax Error
[code]

##### Steps To Reproduce
1. Clone this Repository
2. Install Ansible
3. Run ``ansible-playbook openshift-ansible/inventory/byo/hosts.origin.example``

##### Expected Results
[code]

##### Additional Information

* RHEL 7.2

[2017-03-21 14:23] sdodson commented on #3719
You need to pass the inventory with the -i flag, it's treating your inventory as the playbook. You should run it more like this.

`ansible-playbook -i openshift-ansible/inventory/byo/hosts.origin.example playbooks/byo/config.yml`

[2017-03-21 14:43] naveenkumartangallapally commented on #1878
hi, i am getting below error ,can any one help me on these.
[root@master ~]# oc get pods
NAME                        READY     STATUS    RESTARTS   AGE
docker-registry-2-deploy    0/1       Error     0          5d
registry-console-1-deploy   0/1       Error     0          5d
router-1-deploy             0/1       Error     0          5d

[2017-03-21 14:51] pweil- commented on #1878
@naveenkumartangallapally this comment doesn't have enough iinfo to let us troubleshoot anything and this issue has been closed for quite some time.  Please open a new issue with logs/events that show the errors you are seeing so we can help out.  Thanks!

[2017-03-21 14:55] naveenkumartangallapally commented on #1878
[root@master ~]# oc logs docker-registry-2-deploy
error: couldn't get deployment docker-registry-2: Get https://172.30.0.1:443/api/v1/namespaces/default/replicationcontrollers/docker-registry-2: dial tcp 172.30.0.1:443: getsockopt: connection refused
[root@master ~]#

i got the same error for all the pods

[2017-03-21 15:35] #3719 closed

[2017-03-21 17:36] jdeglopper commented on #3111
For Fedora 25, ansible 2.2.2.0 is available in Fedora Rawhide as **ansible-2.2.2.0-0.1.rc1.fc26.noarch.rpm** , which appears to correctly run the playbook.

[2017-03-21 17:40] sdodson commented on #3111
Yes, as soon as 2.2.2.0 is available we can put this whole mess behind us. Unfortunately that's happened slower than expected.

[2017-03-22 14:27] elasti-ronenc opened #3732 "Getting stuck at: TASK: [setup]"
Trying to add nodes into openshift, add the relevant nodes as [new_nodes]
and run
ansible-playbook -K -i File.erb ../../ansible/playbooks/byo/openshift-node/scaleup.yml

and it stuck at task :
TASK: [setup]
anyone can assist ?

[2017-03-22 15:26] sdodson commented on #3027
This should no longer an issue

[2017-03-22 15:26] #3027 closed

[2017-03-22 15:30] abutcher commented on #3732
Hey @elasti-ronenc, which versions of ansible/openshift-ansible are you using and how many nodes are you adding? Also, is it hanging at the first `[setup]` task encountered?

[2017-03-22 19:58] tbielawa commented on #1444
@dustymabe @cooktheryan @simon3z can any of you please try to reproduce this error again and let us know the results. I'd like to close this issue out, but only as long as we can't reproduce this anymore.

[2017-03-22 20:37] simon3z commented on #1444
@tbielawa I haven't seen this since I reported it (at that time it was 100% reproducible with my env and VM images). I'll let you know if I'll run into it again.

[2017-03-22 21:49] dustymabe commented on #1444
I say we close this.

[2017-03-23 07:14] elasti-ronenc commented on #3732
Hi @abutcher , it was SSH issues...
i reboot the master and it worked
thanks
i will update with results

[2017-03-23 13:24] rhcarvalho opened #3751 "Deployment type / openshift.common.service_type documentation"
There is some documentation about the available deployment types in https://github.com/openshift/openshift-ansible/blob/master/DEPLOYMENT_TYPES.md, however this information has not been updated since it's introduction in Aug 26, 2015.

We're relying on the value of `openshift.common.service_type` in health checks, would be good to have up-to-date documentation to rely on.

[2017-03-23 13:25] rhcarvalho commented on #3751
@sdodson if you could provide some information to update that table, or point me to someone who would know, I can go ahead and create a PR to update the docs.

Thanks!

[2017-03-23 15:16] tbielawa commented on #1444
Two yea's. I'm closing this.

[2017-03-23 15:16] #1444 closed

[2017-03-23 17:06] abutcher commented on #3732
Cool, thanks @elasti-ronenc

[2017-03-23 18:38] askstack opened #3755 "hawkular-cassandra "--truststore_node_authorities value is not specified. Aborting""
Pod "hawkular-cassandra" failed to start, given this error "The --truststore_node_authorities value is not specified. Aborting"
Version

openshift v1.5.0-rc.0+49a4a7a
kubernetes v1.5.2+43a9be4
Steps To Reproduce

    provision a new cluster with openshift-ansible
    openshift_release=v1.5.0-rc.0
    openshift_image_tag=v1.5.0-rc.0

Current Result

Pod "hawkular-cassandra" failed to start, given t

[2017-03-23 20:53] jfillman commented on #3705
I'm running into the same issue while trying to build origin in AWS. Sorry for my ignorance as i'm just getting familiar with ansible but WRT to the inventory config in the openshift-ansible-contrib git repo, where exactly do i add the 'enable-excluders=false' directive?

I don't see a typical inventory file with an [OSEv3:vars] section.

[2017-03-24 13:55] sdodson opened #3765 "Flake - merge was run before aos-ci-test completed"
This happens whenever you run merge before aos-ci-test has completed or if any of aos-ci-test required tests fail. The procedure should be to wait until aos-ci-test is green before performing a merge but that's broken process in general and we should fix this in the future by making [merge] and [test] the only bot interaction other than travis.

For now, we'll leave this flake out here so that peo

[2017-03-24 13:59] sosiouxme commented on #3751
https://github.com/openshift/openshift-ansible/blob/8e26f8cf9594693702fd1e545b47116cbbff34f0/roles/openshift_repos/vars/main.yml should be current for specifying `deployment_type` which feeds into `openshift.common.service_type`.

[2017-03-24 19:45] DarkBlaez opened #3772 "Router Error-After initial install of OpenShift Origin"
OS: Centos 7
Ansible: 2.4.0

Since I was able to get past the install of the release 3.6.4-1 (prior open issue work-around). When I deploy an app I get the following when I issue "oc status"

http://app-test.router.default.svc.cluster.local to pod port 8080-tcp (svc/app)
  dc/app deploys istag/app:latest <-
    bc/app source builds https://github.com/openshift/nodejs-ex.git#master on openshift/nod

[2017-03-24 19:53] ewolinetz opened #3773 "oc_scale module has change conflicts sometimes"
Using the oc_scale module uses `oc replace` and at times can have change conflicts.

My relevant tasks:
[code]

And I'll see the following failure in my play:
[code]

[2017-03-24 21:44] ewolinetz commented on #3773
fyi @kwoodson

[2017-03-25 13:24] m4ri01 opened #3774 "FAILED - RETRYING: TASK: openshift_master : Start and enable master (1 retries left)"
always get this error when i installing ansible playbook, heres my error

FAILED - RETRYING: TASK: openshift_master : Start and enable master (1 retries left).
fatal: [10.70.70.123]: FAILED! => {"attempts": 1, "changed": false, "failed": true, "msg": "Unable to start service origin-master: Job for origin-master.service failed because the control process exited with error code. See \"systemctl stat

[2017-03-25 15:44] carljmosca opened #3775 "failed installation - kernel: vxlan: Cannot bind port 4789, err=-97"
#### Description

After attempting a multi-master installation, nodes will not start.
##### Version

Please put the following version information in the code block
indicated below.

ansible 2.2.0.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides

openshift-ansible-3.6.9-1

master branch

installing via playbooks
##### Steps To Reproduce

ansible-pla

[2017-03-25 15:52] #3704 closed

[2017-03-27 08:58] kevin-youtechgrp commented on #3705
For openshift-ansible-contrib, can add `enable_excluders=false` to the ansible-playbook command extra-vars list to apply the workaround

[2017-03-27 13:07] sdodson commented on #3774
@m4ri01 Can you gather the master logs with `--no-pager` flag so that it gets the entire line, all of your log entries were truncated unfortunately.

[2017-03-27 13:07] #3451 closed

[2017-03-27 13:08] jkhelil commented on #3451
it was related to ssh settings

[2017-03-27 15:03] mangirdaz commented on #1772
Bumpt this one too. We still waiting :)

[2017-03-27 15:24] askstack commented on #3755
Not a bug, resolved with
https://github.com/openshift/origin/issues/13532

[2017-03-27 15:24] #3755 closed

[2017-03-27 16:23] ianmiell commented on #1772
Note, the chef scripts now support adding and removing etcd nodes:

See docs in this section:

https://github.com/IshentRas/cookbook-openshift3#environment

[2017-03-27 20:40] greg-mckeon commented on #3213
@robertgmoss we're seeing the same issue, did you find a resolution?

[2017-03-27 22:43] mkungla commented on #3111
For Fedora 25 had to go for rawhide too which solved the issue.
[code]

[2017-03-28 00:16] sdodson commented on #3111
Ansible 2.2.2.0 has been released, it should be available in F25 and EPEL shortly. OCP channels will be updated after we've validated this version.

[2017-03-28 14:45] naveenkumartangallapally commented on #1878
hi Neonell,i am also facing the same issue.

can u plz solev my issue

[2017-03-28 15:52] travisrogers05 commented on #3017
Is there a workaround for this issue?

[2017-03-28 17:15] rahul334481 opened #3784 "x509: certificate signed by unknown authority"
Hi Team,

Trying to implement OpenShift on 3 masters/2 nodes/3 etcds/1 LB

Ansible Script looks like below:

[code]
*note: tbielawa edited above block to use code styling*

ansible --version
ansible 2.2.1.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides

Error while running ansible:

[code]

* Your operating system and version, ie: RHEL 7.2, Fedora

[2017-03-28 18:57] sdodson commented on #3017
I have not tested this, so please verify this before rolling it out to your environment.

In /etc/origin/node/node-config.yaml set these two variables, the second list of nameservers to use for recursion is important because /etc/resolv.conf will be pointing at dnsmasq so you need to break the loop, otherwise the node's dns server will attempt to use dnsmasq too. see https://github.com/openshift/o

[2017-03-28 19:20] abutcher commented on #3784
Hey @rahul334481, could you check the current master serving certificate to ensure that it was signed by the current CA? Also I'm curious if there were any issues encountered with install that would have resulted in these getting out of sync with one another OR if this issue is reproducible starting with fresh VMs?

[code]

[code]

[2017-03-28 19:38] rahul334481 commented on #3784
Hi @abutcher Thanks for the update. I checked and looks good:

[code]

Thanks,
Rahul

[2017-03-28 19:57] abutcher commented on #3784
Hmmm. Let's check the kubeconfig then. Here are some ugly one liners we can use to compare the md5sums.

`/root/.kube/config` (default for cli operations) and `/etc/origin/master/admin.kubeconfig` should match.

[code]

Or to just examine the CA data in the kubeconfig, which we could then compare with the current bundle:

[code]

[2017-03-28 20:04] rahul334481 commented on #3784
Hi @abutcher

There are diff in ```/root/.kube/config``` and ```/etc/origin/master/admin.kubeconfig```
[code]

Please find output of next 3 commands:
[code]

Besides, do we need to enter this in ansible file?
```openshift_master_default_subdomain=apps.oc-master.domain.com```

Thanks,
Rahul

[2017-03-28 20:12] abutcher commented on #3784
Okay, all of the CA data in the kubeconfigs match and we also know that the master's serving certificate was signed by that CA. We could also ensure that the cert being served by the master checks out:

[code]

What happens if we specify the admin kubeconfig rather than using the default, since the root kubeconfig is pointing to an IP address. I doubt this will work since the installer operation w

[2017-03-28 20:14] rahul334481 commented on #3784
unsuccessful:
[code]

[2017-03-28 20:24] rahul334481 commented on #3784
Please disregard last output. Getting new one

[2017-03-28 20:28] rahul334481 commented on #3784
This command took time and once i hit enter, got prompt with ```400 Bad Requestclosed```

[code]

[2017-03-28 20:38] rahul334481 commented on #3784
So if I wait for 300s (timeout), below is what i get:

[code]

[2017-03-28 21:09] abutcher commented on #3784
We would expect `Verify return code: 0 (ok)` from the previous section. Compare the issuer of the CA certificate with the issuer of the certificate returned from `s_client`. Is it `issuer= /CN=openshift-signer@1490641060`?

[code]

We should also verify that the CAs match on each master and that the master serving certificate per master can be verified with the CA as we checked before with `openss

[2017-03-28 21:59] gbaufake opened #3789 "Failed Openshift Metrics"
#### Error on Openshift Metrics Playbook

##### Version

`ansible 2.2.1.0`
 `openshift-ansible-3.6.10-1-14-gd77a9a6`

##### Steps To Reproduce
`ansible-playbook -i hosts.ose35 openshift-ansible/playbooks/byo/config.yml`

[code]

* RHEL 7.3

[2017-03-28 22:06] sdodson commented on #3789
All of the lines from the last 'TASK' to the end of the output are necessary to debug this, ideally all the way back to the last PLAY line but that can often be lengthy.

This looks similar to https://bugzilla.redhat.com/show_bug.cgi?id=1436106 however

[2017-03-28 22:31] ewolinetz commented on #3789
I believe the issue is stemming from setting the image facts, instead of pulling in the default values from the loaded `vars` file its using `""`. I'm able to recreate this and will see if fixing the image facts will resolve this locally

[2017-03-28 22:46] gbaufake commented on #3789
@sdodson This is similar https://bugzilla.redhat.com/show_bug.cgi?id=1436106.

I had the same problem!

[2017-03-28 23:06] etsauer opened #3790 "Unable to add OpenStack Cloud provider post-install"
#### Description

I'm trying to add an OpenStack cloud provider to an existing healthy cluster. I run the initial install using `playbooks/byo/config.yml`, all nodes come up successfully, and then add the following to my hosts file:

[code]

After re-running the playbook, my nodes are marked as NotReady:

[code]

Here's an excerpt of the startup log for a node:

[code]

##### Version

[code]
[code

[2017-03-28 23:36] etsauer commented on #3790
cc: @sdodson

fwiw, if I run a clean install WITH the cloud provider defined as above, everything works as expected.

[2017-03-29 00:34] gbaufake commented on #3789
@ewolinetz I have the made the modification #3792 locally on my file.

Now I Have:
[code]

[2017-03-29 04:45] rahul334481 commented on #3784
Hi @abutcher,

Please find details as below:

[code]

Verification:
[code]

[2017-03-29 04:59] samjaninf opened #3794 "openshift-ansible upgrade playbooks uncertainties"
#### Description
I cannot for the life of me utilize the upgrade playbooks to upgrade openshift origin to 1.5. I am probably just doing it incorrectly but any help or advice would be appreciated.

##### Version
ansible 2.2.1.0
If you're operating from a **git clone**:
yes
* The output of `git describe`
openshift-ansible-3.6.10-1-18-g1579cfe

If you're running from playbooks installed via RPM or
RP

[2017-03-29 11:06] bahho commented on #1919
Still the same. With atomic-openshift-utils.noarch : 3.4.67 : 1.git.0.14a0b4d.el7 the ip of the internal registry is not added to NO_PROXY in the docker config.
It would be great if the ip was added to ADD_REGISTRY and INSECURE_REGISTRY options automatically, as well.

[2017-03-29 11:24] Neonell commented on #1878
Hi @naveenkumartangallapally,

I don't think you are facing the same problem as mine, I had a conflict into the SDN network configuration. You can check and make sure that your openshift network configuration doesn't overlap your network configuration in order to avoid the same issue as mine. But here as I can see you are facing a connection problem with your registry.

I'm sorry but I can't help

[2017-03-29 12:59] naveenkumartangallapally opened #3795 "oc pods are in error state"
i have setup openshift environment with one master and one node with the given official URL:https://docs.openshift.com/container-platform/3.4/install_config/install/quick_install.html
i used quick installation method to build openshift envoronment.
after installation completed all pods are falling error state.

[code]

and this is my hosts file:

[code]

and this is my insttler-config.yaml file:

[2017-03-29 13:27] ewolinetz commented on #3789
@gbaufake It seems that your play is calling the `openshift_hosted_metrics` role which is incorrect for 3.5+
We moved away from using a deployer pod for installing logging|metrics.

Can you please confirm which version you are using?

[2017-03-29 14:27] rahul334481 commented on #3784
Hi @abutcher / Team,

Any insight is appreciated.

Thanks,
Rahul

[2017-03-29 14:32] gbaufake commented on #3789
I am using 3.5

[2017-03-29 15:06] rahul334481 commented on #3784
Hi @abutcher,

Current error once I ran ansible again:

[code]

[2017-03-29 15:15] akamalov opened #3800 "OpenShift-Ansible - 3.6.11-1 Failing to Deploy Correctly"
**Environment:**

[code]

OpenShift-Ansible Version:

[code]

**Problems:**

1. Can't deploy successfully openshift-ansible (3.6.11-1)
2. Port :9000 on HAProxy doesn't seem to be exposed
3. Cannot login to OpenShift console using password string provided in ```/etc/ansible/hosts```

**Re-Creation Steps**

Downloaded OpenShift-Ansible tarball (didn't git clone the original, due to a bug in openshif

[2017-03-29 15:44] tbielawa commented on #3794
@samjaninf I do not believe that Origin 3.5 has had a General Availability release yet.

[2017-03-29 15:47] abutcher commented on #3784
Hey @rahul334481, based on the CNs of those CA certificates it looks like there is a different CA certificate on each master. If this is the case then each master's serving certificate may have been signed by each individual master's CA certificate, meaning that none of the masters can talk to one another. I'm really curious how this could have occurred.

The CA certificate on each master is ident

[2017-03-29 17:11] abutcher commented on #3800
Hey @akamalov, what happens when you curl and specify thecacert bundle from `node237`.

[code]

[2017-03-29 17:46] rahul334481 commented on #3784
Hi @abutcher ,

I am using ```ansible 2.2.1.0` version

Which channel are you in IRC?

Thanks,
Rahul

[2017-03-29 18:03] akamalov commented on #3800
Hey @abutcher ,

So, the server I was deploying (nfs01.localnet.net) openshift-ansible from, didn't have it's  directory populated - /etc/origin/... I had to 'scp' the entire directory /etc/origin from the master node and run 'curl':

[code]
Question is, why wouldn't it get certs populated from the server I am deploying it from? Do these certs get re-generated at each installation? How can I make

[2017-03-29 18:18] rahul334481 commented on #3784
Hi @abutcher

Thanks for the steps. I uninstalled and installed back again. Everything worked except one error as below:

[code]

Do you want me to run uninstall.yml, install java package on all nodes (lb, 3 masters, 2 nodes and 3 etcds) and run config.yml again?

Thanks,
Rahul

[2017-03-29 18:21] rahul334481 commented on #3784
Besides, current NFS PVs are as below. If I modify storage from NFS side, how will it reflect changes on host?

[code]

[2017-03-29 19:02] abutcher commented on #3800
The `/etc/origin/master` directory will only be populated on master hosts and since the failure above was from `node237` -> master API, we should verify that we can curl the API from that host. There could be a DNS, ACL, certificate or other sort of issue keeping the master from being able to reach the API endpoint securely.

The host ansible is ran from should be ephemeral with respect to the clu

[2017-03-29 19:07] akamalov commented on #3800
Thanks for quick response @abutcher. Really appreciated. Quick question: If ```/etc/origin/master``` gets deployed only on master nodes, then the errors at the very end of the deployment (from a deploy host) are expected, correct?

[code]

[2017-03-29 19:12] abutcher commented on #3800
The curl command there is running on the master `node237.localnet.net`.

[2017-03-29 19:47] jcantrill opened #3803 "openshift_logging 'oc_apply' does not properly recognize failure and should bail"
[code]

[2017-03-29 19:55] ewolinetz commented on #3803
do you have the object definition? it looks like its trying to use an incorrect volume name

[2017-03-29 20:12] jcantrill commented on #3803
The issue was self-inflicted by I specified 'system.admin-ca' for the volume name which does not pass validation when posting resource to the server.

[2017-03-29 20:17] rahul334481 commented on #3784
[code]

[2017-03-29 20:34] abutcher commented on #3784
Noting that the metrics and logging issues encountered are addressed by https://github.com/openshift/openshift-ansible/pull/3770 and https://github.com/openshift/openshift-ansible/pull/3792.

[2017-03-29 20:36] ewolinetz commented on #3803
This should be resolved when splitting up the logging components since we do not use this 'oc apply' method but rather create the object using a module. It should correctly fail then

[2017-03-30 00:03] akamalov commented on #3800
Thanks @abutcher. Does it mean I have to do the following : 1) cleanup 2) Run deployment command from deployment server 3) Login to node237 and wait for errors on deployment server to appear 4) Re-run failing command on node237 ?

Thanks!!

[2017-03-30 00:45] rahul334481 commented on #3784
Hi @abutcher
As per verification steps, running below command from master1 node but it gives error:

[code]

[2017-03-30 10:20] jberkus commented on #3111
Looking forward to it.  When it's available, we can close this.

[2017-03-30 14:18] zhwenh opened #3805 "calico network failed to "SetupNetwork""
@djosborne
calico network failed to "SetupNetwork"

origin v1.5.0-rc.0 Version + Calico + cni

this is my inventory

openshift_use_openshift_sdn=false
openshift_node_proxy_mode=iptables
openshift_use_calico=true
os_sdn_network_plugin_name=cni

kubectl get pods --namespace=kube-system
NAME READY STATUS RESTARTS AGE
calico-policy-controller-442588368-2k3hh 1/1 Running 0 1d

f8c226ee26b5 calico/node:

[2017-03-30 14:28] akamalov commented on #3800
I think the problem is the entry in /etc/resolv.conf. I'll update once I am done investigating. Thanks @abutcher!

[2017-03-30 15:30] abutcher commented on #3784
Hey @rahul334481, you'll need to install the `etcd` package on the master to provide `etcdctl`.

[2017-03-30 15:49] rahul334481 commented on #3784
Thanks @abutcher

That worked.

Besides, as per documentation, if I install multiple masters (which I did) using HAProxy as Load balancer, i need to browse ```http://<lb_hostname>:9000``` and check HAProxy's status but for some reason browser page times out.

[2017-03-30 16:39] akamalov commented on #3800
Yep, that was it. NetworkManager was overwriting DNS entries and resulting in problems. Once I set NM_CONTROLLER="no" per interface, things worked out well. However, still cannot login to OpenShift console with the userid and pass specified in ``` /etc/ansible/hosts````

[2017-03-30 16:47] djosborne commented on #3805
Hmm, seems suspect that it mentions `openshift-sdn/cni-server.sock`. Did you set `openshift_use_openshift_sdn=False`? What's your inventory.ini file look like?

[2017-03-30 17:10] akamalov commented on #3800
Openshift Origin has been installed, using openshift-origin. I used one of the branch tarballs to successfully deploy it. However, can’t seem to login. I had my entries in /etc/ansible/hosts for two specific users, but I can’t seem to login either with ‘oc login’ or using web console. Using ‘oc login’ I get error 500:

[code]

[2017-03-30 18:17] akamalov commented on #3800
Fixed the command-line login. By default, KUBECONFIG env variable was pointing to a non-existant file. I had to re-export it:

```export KUBECONFIG=/etc/origin/master/admin.kubeconfig```

Then I was able to login - ```oc login```.

However, still cannot login to web console

[2017-03-30 18:45] sdodson commented on #3302
This should be fixed now via #3499

[2017-03-30 18:45] #3302 closed

[2017-03-30 19:11] etsauer opened #3810 "openshift_logging fails with ansible 2.3.0 (& 2.2.2.0)"
#### Description

`byo/config.yml` fails with during `openshift_logging` role:

[code]

##### Version

[code]

##### Steps To Reproduce
1. add `openshift_hosted_logging_deploy=true` to inventory.
2. run `playbooks/byo/config.yml`

##### Additional Info

Ran using a `group_vars/OSEv3.yml` file:

[code]

cc: @sdodson @ewolinetz

[2017-03-30 20:09] ericsgagnon opened #3812 "filedescriptor out of range in select()"
#### Description

Provide a brief description of your issue here. For example:

##### Version

Please put the following version information in the code block
indicated below.

[code]

##### Steps To Reproduce
with given configuration, this happens every time I try to run the byo playbook.

##### Expected Results
openshift-ansible to complete setting up cluster without error.

[code]

##### Observe

[2017-03-30 22:11] bahho opened #3815 "Preflight check for inventory file"
#### Description

Ther should be pre-flight check for the syntax of the inventory file.

##### Steps To Reproduce
1. Produce a syntax error in the inventory file
2. Run one of the installation playbooks

##### Expected Results
A warning that there is a syntax error in the inventory file and the installation is halted.

##### Observed Results
Installation starts goes until the erroneous part comes

[2017-03-30 23:56] #3213 closed

[2017-03-31 01:40] zhwenh commented on #3805
this is my inventory

openshift_use_openshift_sdn=false
openshift_node_proxy_mode=iptables
openshift_use_calico=true
os_sdn_network_plugin_name=cni

[2017-03-31 05:43] gregswift commented on #3082
That find doesn't work well if you've done the whole device-mapper thing with your docker config.
[code]

So i did the cleanup you had, then rebooted the boxes, and then
[code]

[2017-03-31 06:12] bahho commented on #3815
Not only syntax but also other checks would be extremely useful.
For instance, when you would like to install a HA cluster and forget to mention the cluster method, it takes a while until the user figures out that his/her config was not correct.

[2017-03-31 12:57] sdodson commented on #3815
Agreed, any suggestions for how best to validate everything?

[2017-03-31 13:28] rahul334481 commented on #3784
Hi @abutcher

Good Morning,

For some reason, Metrics URL is not working:
```https://hawkular-metrics.apps.oc-master.domain.com/hawkular/metrics```

Error:
503 Service Unavailable

No server is available to handle this request.

[2017-03-31 14:57] rahul334481 commented on #3784
[code]

[2017-03-31 15:00] rahul334481 commented on #3784
[code]

[2017-03-31 15:05] rahul334481 commented on #3784
[code]

[2017-03-31 15:09] rahul334481 commented on #3784
[code]

[2017-03-31 15:18] rahul334481 commented on #3784
[code]

[2017-03-31 17:40] akamalov commented on #3800
Solved the problem. Passwords set for users in /etc/ansible/hosts file where not CRYPT compliant. All works now.

[2017-03-31 17:40] #3800 closed

[2017-03-31 19:08] #3544 closed

[2017-03-31 20:08] rahul334481 commented on #3784
[code]

[2017-04-02 02:31] andrewklau opened #3828 "Adding custom schedulers"
I couldn't seem to find any docs to see if it's possible to customise the scheduler with openshift-ansible. Is it currently an option?

[2017-04-02 02:34] andrewklau commented on #3828
Particularly interested in just adding `MatchInterPodAffinity` as required by https://docs.openshift.org/latest/admin_guide/manage_nodes.html#pod-anti-affinity

[2017-04-02 09:09] mykaul opened #3829 "Install yum deps as part of the Ansible playbooks"
Why is there a need (mentioned @ https://docs.openshift.com/container-platform/latest/install_config/install/host_preparation.html#installing-base-packages ) to install:
yum install wget git net-tools bind-utils iptables-services bridge-utils bash-completion

Can't it be done in a playbook? See https://github.com/machacekondra/ovirt-ansible-roles/blob/master/playbooks/openshift.yml for example

[2017-04-03 18:57] AlexBloor commented on #2871
@mtnbikenc Were you able to find any further information about the cause of the REJECT rules under Chain KUBE-SERVICES? I'm experiencing this same issue.

[2017-04-03 19:24] abutcher commented on #3784
Closing since we were able to work around the original issue. Let's create new ones for specific problems if any are encountered. Thanks!

[2017-04-03 19:24] #3784 closed

[2017-04-03 23:13] smarterclayton opened #3843 "Latest openshift-ansible fails the origin-gce build"
Sometime after march 22nd, the origin-gce job started failing https://ci.openshift.redhat.com/jenkins/job/zz_origin_gce_image/205/ due to:

[code]

The last image we pushed has no such problems, so it's likely a change in openshift-ansible.  The RPMs we are using are:

https://storage.googleapis.com/origin-ci-test/branch-logs/origin/master/builds/147/artifacts/rpms/origin-3.6.0-0.alpha.0.58.40bcfe

[2017-04-04 05:00] rahul334481 commented on #3784
Thanks @abutcher for all support. I will update you with configuring my host with LDAP as I tried multiple efforts still getting x509 Certificate Signed by unknown authority.

Thanks,
Rahul

[2017-04-04 12:15] AlbertoPeon opened #3844 "Cannot install openshift_metrics with main playbook with storage=emptydir"
#### Description

When installing a cluster using the main byo playbook (`/playbooks/byo/config.yml`)

The automated installation of the cluster metrics fails with an error when using emptydir as storage.

[code]

##### Version

[code]

Our inventory file contains:
[code]
leaving `openshift_hosted_metrics_storage_kind` unset to use EmptyDir as storage backend. This should be supported as stated in

[2017-04-04 12:16] sdodson commented on #3843
For some reason the `deployment_type=origin` but `openshift_deployment_type=openshift-enterprise` so it's looking for enterprise package names, finding none and setting the version to `0.0`.

@sosiouxme may have a clue

[2017-04-04 13:48] sdodson opened #3845 "Need to add ROUTER_METRICS_TYPE during router upgrades"
@jhadvig has discovered that after upgrading to latest origin e2e tests fail because the router does not export metrics when upgraded from 3.5 to current origin/master. This was a change that was introduced in https://github.com/openshift/origin/pull/13337 and we need to make sure to apply that change during upgrades.

e2e test failure post upgrade https://ci.openshift.redhat.com/jenkins/view/All/

[2017-04-04 13:52] sdodson commented on #3845
https://github.com/openshift/openshift-docs/pull/3779 potential source for other additional changes during upgrade

[2017-04-04 13:55] zhwenh commented on #3805
@djosborne
this is my inventory

openshift_use_openshift_sdn=false
openshift_node_proxy_mode=iptables
openshift_use_calico=true
os_sdn_network_plugin_name=cni

kubectl get pods --namespace=kube-system
NAME READY STATUS RESTARTS AGE
calico-policy-controller-442588368-2k3hh 1/1 Running 0 1d

f8c226ee26b5 calico/node:v1.1.0 "start_runit" 2 days ago Up 2 days calico-node

"router-1-deploy_default “ po

[2017-04-04 14:03] stevekuznetsov commented on #3845
Seems like @smarterclayton should have made this change as part of his patchset

[2017-04-04 14:57] naveenkumartangallapally commented on #3795
can any one look into issue plz

[2017-04-04 17:52] smarterclayton commented on #3845
Um... why is router upgrade not rerunning oadm router and merging?

[2017-04-04 17:58] codificat opened #3847 "Several YAML files do not adhere to the style guide"
There are several Ansible YAML files in the repo that do not follow the guidance from the [style guide](../blob/master/docs/style_guide.adoc) and use a `.yaml` extension instead of `.yml`:

[code]

Some YAML files in the repo could be non-Ansible and have a *legitimate* `.yaml` extension (e.g. OpenShift resource definitions typically use `.yaml`, like the ones in `roles/openshift_{examples,hosted_

[2017-04-04 18:06] smarterclayton commented on #3845
So if the upgrader is just setting the latest image, there are quite a few things that are missing.  In which case we probably need to start doing more to actually upgrade users, but it's not inconsistent with our current behavior.  My understanding is that online was actually doing something much more, and I assumed that as part of the merge of the ops code we pulled that in.

[2017-04-04 18:15] sdodson commented on #3845
I don't believe they were doing anything beyond what we're doing now, @mwoodson can you verify?

@smarterclayton can you show us how you'd re-generate and merge?

[2017-04-04 18:17] smarterclayton commented on #3845
Thomas had described to me before, but that may have been manual.  Even
though we try really hard to be backwards compat, router and registry may
deserve to be periodically upgraded (but, we'd have to be sure users wanted
that, a la reconcile).

On Tue, Apr 4, 2017 at 8:15 PM, Scott Dodson <notifications@github.com>
wrote:

[2017-04-04 18:27] sdodson commented on #3847
👍 I think we should take this on as a change to be completed for 3.6 and we should make sure all docs.openshift.com content is updated at the same time. We would not merge these changes back into 3.5.

[2017-04-04 19:28] abutcher commented on #3795
Hey @naveenkumartangallapally , it appears that the deployment pods are unable to communicate with the master API. Are you able to `curl -L https://172.30.0.1:443//healthz/ready` from `node1.example.com`?

[2017-04-04 20:52] mtnbikenc commented on #2871
@AlexBloor I don't have any further information on this issue.  I did a quick search and ran across this current issue which could possibly be related.  https://bugzilla.redhat.com/show_bug.cgi?id=1417234

[2017-04-05 13:23] sosiouxme commented on #3843
Yeah, I see what's happening. This was just after my `openshift_sanitize_inventory` role went in, and it's working. With both `deployment_type=origin` and `openshift_deployment_type=openshift-enterprise` set, `openshift_deployment_type` now wins, where before it would not have overridden `deployment_type`. It didn't occur to me someone might set both and to different values.

So `openshift-enterpr

[2017-04-05 13:43] sdodson commented on #3843
I'd hope they're not actually set to different values in the inventory, @smarterclayton can you point @sosiouxme at the variables set for this install?

[2017-04-05 13:51] stevekuznetsov commented on #3843
`deployment_type` is set [here](https://github.com/openshift/release/blob/master/cluster/test-deploy/data/vars.yaml#L3)

@sosiouxme do you expect us to migrate from `deployment_type` to `openshift_deployment_type`? (in general, not for this specific case)

[2017-04-05 14:21] akamalov opened #3854 "Are there any examples of deploying Openshift-Ansible with Nuage Networks?"
This is a question, not an issue or bug report.

Are there any examples of deploying Openshift-Ansible with Nuage Networks?

We have an existing Nuage Networks ecosystem. I'd like to deploy using OpenShift-Ansible and integrate it with an existing Nuage ecosystem, so when pods/containers deploy, they'd deploy on Nuage SDN. Is it possible do it ?

Thanks,

Alex

[2017-04-05 15:14] sdodson commented on #3854
@vishpat can you help?

[2017-04-05 15:18] vishpat commented on #3854
@sdodson @akamalov I have forwarded your request to our support team. They should be able to answer this.

[2017-04-05 15:38] magick93 opened #3855 "The conditional check 'persistent_volumes | length > 0 or persistent_volume_claims | length > 0' failed."
#### Description

Am getting the following error when trying to install OpenShift using openshift-ansible.
I tried the workaround mentioned on https://github.com/openshift/openshift-ansible/issues/2553#issuecomment-256351225 but it did not work.

[code]

##### Version

**openshift-ansible Version**
openshift-ansible-3.6.16-1

**Ansible Version**
ansible 2.2.0.0

**Config**

[code]

##### Expected

[2017-04-05 15:45] sdodson commented on #3855
@abutcher didn't you figure this out in the past?

[2017-04-05 15:59] tbielawa opened #3856 "The Included Cert Expiry Playbooks should allow for ENV var overrides"
This idea was spawned from a discussion in https://github.com/openshift/openshift-ansible/pull/3822

[tbielawa](https://github.com/openshift/openshift-ansible/pull/3822#discussion_r109742183):

[codificat](https://github.com/openshift/openshift-ansible/pull/3822#discussion_r109881318):

[2017-04-05 17:04] jhadvig opened #3858 "Upgrade playbook should unexclude the origin-excluder"
At the start of the upgrade.yml playbook (any version) the plytbook itself should unexclude the origin-excluder so the new one could be upgraded to the newest version, as well as other pckags that the play is upgrading. The issue is the newset version could not be downloaded.
[code]

Not sure what should be the best solution, cause I saw the  [comment](https://github.com/openshift/openshift-ansibl

[2017-04-05 19:21] stevekuznetsov commented on #3858
This is a blocker for the Install/Upgrade job

[2017-04-05 20:58] smarterclayton commented on #3843
Isn't that breaking for old scripts?

On Wed, Apr 5, 2017 at 3:51 PM, Steve Kuznetsov <notifications@github.com>
wrote:

[2017-04-05 21:06] sdodson commented on #3843
It passed both aos-ci-test and the merge job which both use `deployment_type` rather than `openshift_deployment_type` so one would hope, but something is obviously amiss.

[2017-04-05 21:33] mbarreca commented on #3843
I'm having the same issue when I'm trying to install this on a few GCE instances.

Weirdly masters 2,3, loadbalancer 1 and the node works fine but master 1 can't handle it. I wiped it and remade the master to no avail

[code]

[code]

[2017-04-05 21:40] poltorres7 commented on #3800
HI, how did you set: NM_CONTROLLER="no"? I mean in wich config file

[2017-04-05 21:51] akamalov commented on #3800
/etc/sysconfig/network-scripts/ifcfg-XXXX interface name.

[2017-04-05 22:06] poltorres7 commented on #3800
I am trying to install openshift enterprise 3.2 with atomic, but it fail.
`RUNNING HANDLER [openshift_master : restart master controllers] ****************
skipping: [10.20.10.204]

RUNNING HANDLER [openshift_master : Verify API Server] *************************
FAILED - RETRYING: HANDLER: openshift_master : Verify API Server (120 retries left).
....
FAILED - RETRYING: HANDLER: openshift_master :

[2017-04-05 23:43] sosiouxme commented on #3843
In general, yes, but both should work until we decide we don't want that.

I say both are getting set because that's what I see in the debug output
from the run... they are set to something different until
openshift_sanitize_inventory sets them the same. I don't see in the
inventory how they're getting set differently to begin with, though.

[2017-04-06 07:13] ingvagabund commented on #3858
@jhadvig can you more elaborate on what is going on here? The excluder install task [1] is trying to install any 3.6 docker-excluder (the version given by ``openshift_pkg_version`` variable). What is the reason the ``origin-docker-excluder-3.6.0-0.alpha.0.165.801b564*`` is not found? Is it because there is no repository providing that rpm? Or is it because there is an excluder that excludes any ``

[2017-04-06 09:18] magick93 opened #3864 "No package matching 'origin-docker-excluder-1.5.0*"
## Description

Trying to install OpenShift Origin v1.5.0-rc.0 on a single node.

### Version

Please put the following version information in the code block
indicated below.

 `ansible --version` is ansible 2.2.0.0

 `git describe` is openshift-ansible-3.6.16-1-2-gb930b55

### Expected Results
Expect that I can install OpenShift Origin using openshift-ansible.

### Observed Results
Fails with err

[2017-04-06 10:58] akamalov commented on #3854
@vishpat , no response from support team yet?

[2017-04-06 12:51] stevekuznetsov commented on #3858
@ingvagabund it's the latter -- the excluder we need was built and is available, but a previous exclude step is excluding it

[2017-04-06 12:55] ingvagabund commented on #3858
@stevekuznetsov thanks, we had a chat with @jhadvig confirming the same.

[2017-04-06 13:31] akdj opened #3869 "install openshift v1.2.1"
Hi,
I want to install the version 1.2.1 of openshift.

I specified the version in the host file, and I used the openshift-ansible-3.2.54-1.tar.gz package to install.
But :
fatal: [178.33.25.175]: FAILED! => {"changed": false, "failed": true, "msg": "Detected OpenShift version 1.4.1 does not match requested openshift_release 1.2.1. You may need to adjust your yum repositories, inventory, or run the

[2017-04-06 13:47] akdj commented on #3869
my host file :

# Create an OSEv3 group that contains the masters and nodes groups
[OSEv3:children]
masters
nodes
#Set variales commons for all OSEv3 hosts
[OSEv3:vars]
# containerized=true
# SSH user, this user should allow ssh based auth without requiring a password
ansible_ssh_user=root
ansible_ssh_pass=xxxxxxx
osm_default_subdomain=xxxxx.xxxxxxx.xxxx
# If ansible_ssh_user is not root, ansible_

[2017-04-06 14:09] sosiouxme commented on #3864
Had this problem myself this morning. I noticed that in /etc/yum.conf origin-docker-excluder was itself excluded. Looks like origin-excluder is getting installed first and preventing the installation of origin-docker-excluder.

[2017-04-06 14:12] ObviusOwl opened #3870 "re-run byo playbook fails on task: Create registry certificates"
#### Description
Since I busted the metrics deployment I decided to re-run the playbook, which fails on the task *Create registry certificates* (see below).

With grep I found the file: `openshift-ansible/roles/lib_openshift/library/oc_adm_ca_server_cert.py` Where I added a `.decode()` method call to x509output (line 1507), which fixed it for me.

The problem is probably a incorrect use of `subpro

[2017-04-06 14:32] sosiouxme commented on #3869
Unfortunately the installer does not adjust the yum config at all according to the `openshift_release` you indicate. Since Origin puts all current versions of the RPMs in one repository, yum won't install anything but the latest unless specifically directed to, or if newer versions are excluded.

The easiest path is probably to configure the excludes in `/etc/yum.conf` yourself, like so:

    excl

[2017-04-06 14:33] akdj commented on #3869
I found out that i have in my machine the version 1.4.1 of origin : with yum info origin,   but I can't remove it with yum remove origin

[2017-04-06 15:06] sosiouxme commented on #3843
@stevekuznetsov technically https://github.com/openshift/release/blob/master/cluster/test-deploy/data/vars.yaml is just being added to whatever vars are set in the inventory or elsewhere. *Something* is setting `openshift_deployment_type` to `openshift-enterprise`.

From [this run](https://ci.openshift.redhat.com/jenkins/job/zz_origin_gce_image/206/consoleFull), looks like it's this:

[code]
Which

[2017-04-06 15:30] stevekuznetsov commented on #3843
Yeah, that file at [`origin-gce/playbooks/roles/cluster-variables/vars/main.yaml`](https://github.com/openshift/origin-gce/blob/master/playbooks/roles/cluster-variables/vars/main.yaml#L20) looks wrong. Not sure why that exists. If you do make a change to migrate `deployment_type` please let us know and we'll update as necessary. For now I'll change that var.

[2017-04-06 15:33] kwoodson commented on #3870
@ObviusOwl, Thanks for reporting this.  I'll test a few scenarios with the supported versions of python and hopefully have a PR soon.

[2017-04-06 15:58] magick93 commented on #3864
Ok.

Is there a workaround for this issue?

[2017-04-06 16:23] #3858 closed

[2017-04-06 16:48] mtnbikenc commented on #3864
See https://github.com/openshift/openshift-ansible/pull/3863

[2017-04-06 19:25] fgiloux opened #3874 "RFE: Proxy settings specific to docker"
### Proxy settings specific to docker

It would be advantageous to have a set of parameters for proxy settings specific to docker.

#### Description

Today there is a single set of parameters to configure proxy settings during the installation:
#openshift_http_proxy=http://USER:PASSWORD@IPADDR:PORT
#openshift_https_proxy=https://USER:PASSWORD@IPADDR:PORT
#openshift_no_proxy='.hosts.example.com,som

[2017-04-06 23:10] djosborne commented on #3805
@zhwenh  It sounds like the kubelet is not using Calico as its CNI plugin. Can you answer some of the following questions for me?

- Can you check that `/opt/cni/bin/calico` and `/opt/cni/bin/calico-ipam` exist?
- Can you check that  `/etc/cni/net.d/10-calico.conf` exists?
- Are there any other configuration files in `/etc/cni/net.d`?
- Those directories are the default CNI directories. Is it poss

[2017-04-07 07:36] #3869 closed

[2017-04-07 07:36] akdj commented on #3869
done

[2017-04-07 08:34] magick93 commented on #3864
Ive tried pulling the latest master and running again, but am still getting the same error.

[2017-04-07 08:50] magick93 commented on #3864
I managed to work around this issue by using advice from https://github.com/openshift/openshift-ansible/issues/3705#issuecomment-287742402

[2017-04-07 08:52] magick93 commented on #3855
Am still getting this error on `openshift-ansible-3.6.17-1-12-g3584659`.

[2017-04-07 09:30] lannyMa commented on #2271
sorry i cannnot unterstand

[2017-04-07 14:22] abutcher commented on #3855
Hey @magick93, no `[nfs]` group or `openshift_hosted_metrics_storage_host=nfs.example.com` has been defined in the inventory so this is an expected error message. You should be able to specify an `nfs` group with a single host or point to an external nfs server where an `/exports/metrics` volume exists.

[2017-04-07 15:41] smarterclayton commented on #3843
I think we should probably return an error if they are different (from the fact setup), if it's an invalid setup.

[2017-04-07 15:46] sosiouxme commented on #3843
That could be done easily enough. Having them set differently is probably a
mistake and is now interpreted differently than before.

On Fri, Apr 7, 2017 at 11:41 AM, Clayton Coleman <notifications@github.com>
wrote:

[2017-04-07 17:58] enj opened #3883 "Object validator issues"
- [ ]  Add `kubernetes[-*]` as reserved
- [ ]  Make it configurable so only certain checks can be run

cc @sdodson @liggitt @deads2k

[2017-04-10 07:47] zhwenh commented on #3805
HI @djosborne , the Openshift origin v1.5.0-rc.0 Version + Calico 2.1+ cni
I  add "-v /opt/cni/bin:/opt/cni/bin -v /etc/cni/net.d:/etc/cni/net.d"   to /etc/systemd/system/docker.service.wants/origin-node.service . and calico-node pod is Running !

[2017-04-10 13:11] sdodson commented on #3805
@zhwenh nice find, we can fix this.

[2017-04-10 14:23] kwoodson commented on #3870
https://github.com/openshift/openshift-ansible/pull/3894

[2017-04-10 15:35] jupierce opened #3896 "Openshift logging facts not collecting PVs and not reusing"
#### Description

After an upgrade to our dev-preview-stg cluster (3.4->3.5), logging did not correctly initialize and it did not reuse the existing PVs. In addition, though logging was configured for a scale of 2, 3 PVCs were created.

https://atomic-e2e-jenkins.rhev-ci-vms.eng.rdu2.redhat.com/job/aos-cd/job/cluster%252Foperation/72/

##### Version

OpenShift v3.5.5.3
OpenShift Ansible: v3.5.52

[2017-04-10 15:36] jupierce commented on #3896
@ewolinetz

[2017-04-10 17:40] billyfoss opened #3901 "Invalid Release 3.4.67-1"
#### Description

When pulling an older tag openshift-ansible03.4.67-1, we find code for 3.6.17.

##### Version

https://github.com/openshift/openshift-ansible/blob/openshift-ansible-3.4.67-1/openshift-ansible.spec
contains change history for 3.6.17.

[2017-04-10 18:44] jlk opened #3903 "YAML Syntax Error parsing inventory file"
When attempting to run one of the ansible playbooks, I receive an error related to YAML parsing

I seem to have similar issues with OSEv3:children, so it's possible I'm doing something really wrong. But pretty sure I'm following https://docs.openshift.org/latest/install_config/install/advanced_install.html correctly.

##### Version

[code]

##### Steps To Reproduce
1. Create inventory file with co

[2017-04-10 19:22] ewolinetz commented on #3896
Looking through the module that collects the list of PVCs that contain the label `logging-infra=support`.

While that would work for PVCs created by the deployer or this role, it would not address the extra PVCs being created nor cover scenarios where a PVC was created externally and then the ES dc was patched afterwards to use it

[2017-04-10 20:53] jlk commented on #3903
Looks like this is related to not having master/node hosts defined in inventory. I'm moving from using bin/cluster to the byo playbook, hadn't realized the nodes weren't being discovered dynamically.

Really, really dislike the error messages in most YAML parsers out there today.

[2017-04-10 20:53] #3903 closed

[2017-04-11 03:02] #3805 closed

[2017-04-11 11:25] rhcarvalho commented on #3901
@sdodson FYI

[2017-04-11 11:33] rhcarvalho commented on #3829
@sdodson I've also always wondered about this. Is there a technical limitation preventing us from doing it?

[2017-04-11 11:35] rhcarvalho commented on #3864
@magick93 | @sosiouxme | @mtnbikenc | @sdodson is it fair to close this issue as a duplicate of #3705?

[2017-04-11 11:42] magick93 commented on #3864
is it fair to close this issue as a duplicate of #3705

Yes

[2017-04-11 11:53] #3864 closed

[2017-04-11 13:17] sdodson commented on #3829
@rhcarvalho no, we need to put together a pre-requisites playbook for many reasons, we've just never gotten to it.

[2017-04-11 17:43] lpshikhar opened #3908 "GCE install fails when adding cloudprovider in the hosts file"
#### Description

I am trying to install an openshift cluster on GCE with the openshift-ansible playbook. My primary installation is:
1 node - Master/Infra
3 nodes - Application nodes

##### Version

[code]

##### Steps To Reproduce
1. Run the ansible installer using the hosts file given below:

[code]

2. [step 2]

The cluster should start but it fails with the error code:
[code]

Full detailed s

[2017-04-11 21:21] jlk commented on #3397
This also happens on release-1.4 (commit 1edad2c24)

[2017-04-12 07:43] fgiloux commented on #3874
A workaround for my customers may be to set:
openshift_builddefaults_http_proxy=""
openshift_builddefaults_https_proxy=""
openshift_builddefaults_no_proxy=""
openshift_builddefaults_git_http_proxy=""
openshift_builddefaults_git_https_proxy=""

but the proxy settings get also injected for the master and node services and the approach may not be intuitive either when the proxy is only required for d

[2017-04-12 11:21] inlandsee commented on #3795
I'm suddenly seeing similar behavior with openshift-ansible release-1.5 and origin release-1.5.

[code]
Yet when I get nodes the master is listed as 'adams.local' instead of 'master.adams.local':
[code]
Enabling scheduling on 'adams.local' is all it takes to break the logjam but that hasn't been necessary in the past.  Recent change in origin?

[code]

[2017-04-12 13:50] #3751 closed

[2017-04-12 15:47] enj commented on #3883
cc @jupierce

[2017-04-12 16:43] rikkuness opened #3912 "Long DN string with spaces can cause incorrect YAML to be generated in master-config"
#### Description
I have a configuration file where my settings for an LDAP identity provider has a long string containing spaces, when this is converted to YAML, line feeds are inserted on some of the longer DN/LDAP filter strings, this results in the master API service failing to start due to invalid config.

Modifying the following `yaml.dump()` to include `width=1000` for example results in a w

[2017-04-12 16:59] rikkuness commented on #3912
If the lines should never wrap the surefire fix would probably be a `yaml.dump(idp, width=float("inf"))`

[2017-04-12 17:04] tbielawa commented on #3912
I can reproduce this and verify your suggested solution would work for the general case of not-wrapping long lines (that is desirable).

[code]

Which produces

[code]

Works with the `width=float("inf")` kwarg added too

[code]

Which produces the same

[code]

[2017-04-12 17:08] rikkuness commented on #3912
Should I submit a PR or you got this? :)

(thanks for the quick response)

[2017-04-12 17:18] akamalov opened #3913 "openshift_node_kubelet_args - pods-per-core is not a valid flag"
**Environment**

```OS: Atomic Host 7.3```

**Problem:**

Cloned current repository (04/12/2017) of openshift-ansible. Trying to deploy, however, nodes are failing to register with master. Looked at container logs and I see that it is complaining at value ```pods-per-core``` as invalid:

See below:

[code]

My Ansible inventory has a vanilla string which used to work without a problem before:

[co

[2017-04-12 17:27] tbielawa commented on #3912
oooooooooo boy. There are a lot of instances of `yaml.dump` in our repo

[code]

But about 55 of those are in the generated `lib_openshift` files which include two code fragments from `roles/lib_utils/src/class/yedit.py` and `roles/lib_openshift/src/lib/base.py`

[code]

Updating the `yedit.py` and `base.py` files will require regenerating all of the `lib_openshift/library/` modules and that can g

[2017-04-12 17:44] rikkuness commented on #3912
PR submitted, I'll leave the rest in your capable hands! :) Thanks.

[2017-04-13 04:23] #3828 closed

[2017-04-13 13:23] #3594 closed

[2017-04-13 15:00] mwoodson opened #3921 "openshift_metrics fails when htpasswd is not found."
### <HTPASSWD_AUTH>

We are aware of the current issues related to htpasswd_auth failures
Please downgrade to ansible 2.2.0.0 until a fix is released.
You can track the status of the bug fix in this issue:
https://github.com/openshift/openshift-ansible/issues/3111
Please erase this <HTPASSWD_AUTH> section if it does not apply to you.

Thanks - 2017-01-31

### </HTPASSWD_AUTH>

#### Description

op

[2017-04-13 16:15] ewolinetz commented on #3921
per our IRC discussion, the issue seems to be that `openshift_metrics` is expecting `htpasswd` to be available on the control host. There does not appear to be a clear need to run `htpasswd` on the control, it should be possible to accomplish the same on the target.

[2017-04-13 17:08] sdodson commented on #3921
I think for now I'd press for the workaround of just intalling http-tools on the control host, if our RPM packages were installed rather than vendoring this would be the case.

[2017-04-13 17:11] ewolinetz commented on #3921
@sdodson but there isn't a need to generate the files locally as they are then immediately copied to the remote host. it seems like an extra, unnecessary step/hop

[2017-04-13 17:18] bbeaudoin commented on #3082
Ran into issues on cleanup after upgrade/downgrade. Similar issues, did not scrub as cleanly as myllynen. Noticed iptables had stale rules from previous installations as well. If /etc/sysconfig/iptables is missing the installation won't run but it appears to work fine if that file is empty or truncated.

[2017-04-13 18:37] sdodson commented on #3901
I'm having a hard time figuring out what's happened there. The more recent tags on that branch all look fine.

[2017-04-13 19:07] akamalov commented on #3913
Problem was my inventory file typo. Fixed.

[2017-04-13 19:07] #3913 closed

[2017-04-13 21:19] ldojo commented on #3397
I'm getting the same exact error, running the gce target like so ```bin/cluster create gce [name]``` on both the release-1.4 and release-1.3 branches
It worked fine several months ago, back in 2016.

[2017-04-14 12:47] etsauer opened #3931 "openshift_logging and openshift_metrics roles pulling the wrong image tags for 3.5"
#### Description

When installing OCP 3.5, the openshift_logging and openshift_metrics roles attempt to pull the tag `:3.5` for the images, resulting in `ImagePullBackoff` and `Error` states in all of the pods.

It looks like the intended tag to pull is either `3.5.0` or `v3.5`:

[code]

Some sample error messages:

[code]

##### Version
[code]

##### Steps To Reproduce
1. Add the following to ans

[2017-04-14 12:55] etsauer commented on #3931
so it looks like the intention here is to pull the tag as specified in `openshift_release`, and then default to `3.5.0`..

[code]

But somehow it's pulling `3.5` as the value of `openshift_release` instead of `v3.5`?

[2017-04-14 13:48] sdodson commented on #3931
This was fixed on release-1.5 yesterday. Not sure if the master PR merged
yet.

On Apr 14, 2017 8:55 AM, "Eric Sauer" <notifications@github.com> wrote:

so it looks like the intention here is to pull the tag as specified in
openshift_release, and then default to 3.5.0..

$ cat roles/openshift_logging/vars/openshift-enterprise.yml
---
__openshift_logging_image_prefix: "{{
openshift_hosted_logging_d

[2017-04-15 15:54] x1957 commented on #3111
same problem with ansible 2.2.2.0

[code]

[2017-04-15 17:05] dustymabe opened #3933 "v1.5.0-rc.0 release fails openshift_sanitize_inventory check"
When I specify an `rc` or non-standard release (like `openshift_release='v1.5.0-rc.0'` I get a `release is invalid` failure on openshift-ansible @ 90f6a70.

Also interesting is what I saw in the past where parsing the "special release" version worked fine on the first run of openshift-ansible, but not on the 2nd run: https://github.com/openshift/openshift-ansible/issues/3655

Here is a snippet of

[2017-04-16 14:23] sudhirpandey opened #3934 "Upgrade of cluster fails fails possibly due to type mismatch ."
#### Description
I have tried upgrading the cluster using latest master repo
with this on workstation, but the upgrade fails , I am by no means an ansible expert but is possibly due to type mismatch as from error it looks like we are getting string instead of list,

though its said its fixed in ansible 2.0.x i think i am hitting the same issue here
https://github.com/ansible/ansible/issues/10098

[2017-04-16 14:55] x1957 opened #3935 "filedescriptor out of range in select()"
#### Description
Install multiple masters openshift cluster with ansible playbooks.
[code]

##### Version
* Your ansible version per `ansible --version`
[code]

If you're operating from a **git clone**:

* The output of `git describe`
[code]

##### Steps To Reproduce
hosts
[code]
run
[code]

##### Observed Results
Describe what is actually happening.

[code]

For long output or logs, consider usin

[2017-04-18 12:11] akamalov opened #3942 "Error from server (Forbidden): User "system:anonymous" cannot create templates in project "openshift""
**Environment:**
[code]
OpenShift-Ansible Version:

[code]

**Problem:**

I configured openshift-ansible environment to integrated with Active Directory right off the bet. Integration is working. However, tried to re-deploy using custom iptables script, but the attempt to re-deploy failed with the following error:

[code]

What could be going on?

Any feedback appreciated.

Alex

[2017-04-18 14:21] sdodson commented on #3901
We've found that for some reason a branch was created with the same name as the tag. I've just deleted that branch and now the reference above is correct again.

[2017-04-18 14:21] #3901 closed

[2017-04-18 14:48] sosiouxme commented on #3815
We created a [card for doing this on our private board](https://trello.com/c/jAW7IXcR/106-pre-flight-check-for-inventory-file). I think we could put something in the `openshift_sanitize_inventory` role to do more sanity checking on the inventory. For instance, check that fields which are supposed to be JSON actually parse, perhaps even their structure matches if known. Check that certain combinati

[2017-04-18 19:27] sdodson commented on #3908
Can you get us the master logs untruncated? `journalctl --no-pager -u atomic-openshift-master`

It's complaining about gce provider here but it's truncated
`Apr 11 17:31:51 master-infra docker[32268]: F0411 17:31:51.885984       1 start_master.go:108] could not init cloud provider "gce": unexpected response li...ermissions`

[2017-04-18 21:01] sosiouxme commented on #3276
After much reflection I think as long as the health checks are mutating state in the same way as an install would (which they should as the same roles are invoked), it is acceptable. We have at least two scenarios for checks to run.

- running the checks against hosts that they haven't installed yet as preparation for installing them; in which case, the hosts are not in production yet and making c

[2017-04-19 13:17] sdodson commented on #3111
@x1957 Can you please open a new issue for that, that doesn't look like any of the other errors in this issue and it'd be helpful to gather the output with -vvvv option and include the tasks leading up to this failure.

[2017-04-19 13:17] #3111 closed

[2017-04-19 13:18] sdodson commented on #3111
Closing this because Ansible 2.2.2.0 is widely available, if you find any new issues please open a new unique issue and include the output with -vvv and the task.

[2017-04-19 13:30] dgoodwin opened #3952 "RepresenterError on deny_all with Ansible 2.2.1.0-2.el7.noarch,"
#### Description

Similar to #3111 we encountered a RepresenterError in openshift-ansible code using Ansible 2.2.1.0-2.el7.noarch.

##### Version

[code]

##### Steps To Reproduce

Unfortunately not entirely sure, lost my reproducer as this was a shared system that had to be immediately downgraded.

##### Observed Results
The output I have saved:

[code]

I was unable to find a stack trace in my l

[2017-04-19 13:35] sdodson commented on #3952
@abutcher PTAL

[2017-04-19 14:56] dgoodwin commented on #3952
Mistake in my report, at this point it would have been running vendored version of openshift-ansible-3.4.40, not 3.5.

[2017-04-19 15:11] dgoodwin commented on #3952
Confirmed with @abutcher this is caused because that version of 3.4 did not have the yaml fix. Re-vendoring newer 3.4 builds should fix if they upgrade ansible again. Thanks for looking into it guys.

[2017-04-19 15:11] #3952 closed

[2017-04-19 17:24] akamalov commented on #3942
I re-deployed ecosystem and it error went away. Not sure why. The only thing I did was to add 'htpasswd' type authenticate (prior MS AD-only) to the picture.

[2017-04-19 17:24] #3942 closed

[2017-04-19 17:26] ericlake opened #3956 "Playbook fails because g_etcd_hosts is not set."
#### Description

Running the origin_metrics or openshift_logging playbooks fails with the error:

`fatal: [localhost]: FAILED! => {"changed": false, "failed": true, "msg": "This playbook requires g_etcd_hosts to be set"}`

##### Version

Please put the following version information in the code block
indicated below.

* Your ansible version per `ansible --version`

If you're operating from a **git

[2017-04-19 17:33] abutcher commented on #3956
Hey @ericlake,

The entry point for the metrics playbook is `playbooks/byo/openshift-cluster/openshift-metrics.yml` rather than the `../common/..` playbook. The playbook within `byo` sets up groups such as `g_etcd_hosts` which the `common` playbook does not.

[code]

[2017-04-19 17:41] ericlake commented on #3956
@abutcher,

OK cool. I was going off of the https://docs.openshift.org/latest/install_config/cluster_metrics.html doc for that path. Now I am getting:

[code]

It seems that it is creating the files as root and so my local user can not read them for the copy operation.

[code]

[2017-04-19 17:51] abutcher commented on #3956
@ericlake Thanks for pointing the doc out, I'll look into getting that updated. I'll need to investigate the ownership issue a bit.

[2017-04-19 17:59] sdodson commented on #3956
@abutcher BTW, playbooks/byo/openshift-cluster/openshift-metrics.yml is brand new on master and release-1.5

https://github.com/openshift/openshift-ansible/pull/3953 and #3948

[2017-04-19 18:03] ericlake commented on #3956
Is there a different set of instructions for getting metrics set up for 1.4? Right now we are running into:
[code]

[2017-04-19 18:08] abutcher commented on #3956
@jcantrill ^

[2017-04-19 18:13] abutcher commented on #3956
I wouldn't expect running a playbook from `playbooks/common/` as an entry point to work but the problem may be that the common playbook does work on its own but not from the master branch of this repo -- maybe an earlier tag.

[2017-04-19 18:17] ericlake commented on #3956
Looking in both release-1.5 and release-1.4 the `openshift-ansible/playbooks/byo/openshift-cluster/openshift-metrics.yml` does not exist.

[2017-04-19 18:40] ewolinetz commented on #3956
@ericlake the `byo/openshift-cluster/openshift-metrics.yml` playbook was just merged into release-1.5 with https://github.com/openshift/openshift-ansible/pull/3953

[2017-04-19 19:29] ericlake commented on #3956
Aah .. I see it now. Had to git pull in the branch.

[2017-04-19 19:35] ericlake commented on #3956
Running out of the updated release-1.5 branch I now get this error:

[code]

[2017-04-19 20:08] ewolinetz commented on #3956
@ericlake can you rerun your playbook with `-vv` to see a line number?

[2017-04-19 20:21] ericlake commented on #3956
@ewolinetz,

[code]

[2017-04-19 20:38] ewolinetz commented on #3956
Thanks @ericlake, I'm not sure why you don't have that pkcs12 file in your temp directory, it should be created at an earlier point in the playbook. Can you paste the full output of your play (with `-vv`) in a gist/pastebin and share it?

[2017-04-19 20:57] ericlake commented on #3956
https://gist.github.com/ericlake/7e46cd34e381a3f4467fb4eed8660a77

[2017-04-19 21:07] ewolinetz commented on #3956
@ericlake what does your inventory file look like? It looks like its just failing to fetch from the remote temp dir to the local temp dir..

[2017-04-19 21:13] ericlake commented on #3956
https://gist.github.com/ericlake/41e36d1eb2429e89fee7d06ecf778e01

This inventory file worked for the install originally so it seemed pretty good.

[2017-04-19 22:10] ewolinetz commented on #3956
I'm not sure if it'll work with your configuration, but can you try to add this to your `OSEv3:vars` section?
`ansible_ssh_user=root`

[2017-04-20 18:15] lpshikhar commented on #3908
@sdodson Sorry for the late reply. I am trying to move to 1.5 now. If you want I can still give the error logs for 1.4.1
Do you think this issue would be resolved in 1.5 ?

[2017-04-20 18:48] sdodson commented on #3908
@lpshikhar If it's a problem with what the installer is configuring then I doubt anything has changed. If it's a problem in origin itself then maybe it's fixed but I still doubt it.

Untruncated logs from whichever environment you can reproduce the problem in will help.

[2017-04-20 20:04] lpshikhar commented on #3908
@sdodson So, I ran with cloud provider GCE with origin 1.4 and it is still not able to start the service.
I tried running with no pager for atomic-openshift-installer, but it gave no entries.
So I ran with origin-master.service and it gave a long file. I think the problem starts here. Let me know if you need the whole file. Pasting the issue lines

`18733 Apr 20 19:53:46 masteros docker[28536]: I0

[2017-04-20 20:09] lpshikhar commented on #3908
Running "systemctl status --no-pager origin-master.service" gave the following error:

`● origin-master.service
   Loaded: loaded (/etc/systemd/system/origin-master.service; enabled; vendor preset: disabled)
   Active: activating (start-post) (Result: exit-code) since Thu 2017-04-20 20:07:18 UTC; 5s ago
  Process: 21291 ExecStop=/usr/bin/docker stop origin-master (code=exited, status=1/FAILURE)

[2017-04-20 21:24] poltorres7 commented on #2271
Hello I have the same error "Verify API server"
I have installed the NetworkManager but it still failing.

Does any body have found a solution?

[2017-04-20 21:28] portante opened #3965 "The logs from any fluentd instance should not be sent to the same destination as the logs it handles"
#### Description

The fluentd pods emit logs for their operation.  Those logs should not be sent to the same destination as logs handled by fluentd itself.  This can have an amplification effect if fluentd emits more logs from its operation that it receives.  See also https://github.com/openshift/openshift-ansible/pull/3777 for the feedback loop problem with Elasticsearch itself.

##### Version

[

[2017-04-20 21:45] sdodson commented on #3908
@sjenning i don't actually see where we're providing any sort of gce credentials for gce.conf or the master, how do we ensure that the master has proper permissions? is that a service account assigned to the instance or something? I'm completely unfamiliar with gce and openshift interaction.

[2017-04-20 21:55] poltorres7 commented on #1662
@zmhassan where did you specify the IP address for the openshift_hostname???

[2017-04-21 13:20] zmhassan commented on #1662
I was using the ansible script to install https://docs.openshift.org/latest/install_config/install/advanced_install.html#configuring-host-variables

[2017-04-21 13:22] knobunc commented on #3775
@carljmosca What was the resolution here?

[2017-04-22 01:13] andrewklau opened #3977 "Inconsistent metrics documentation"
#### Description

Metrics installation in the docs seem to state the use of variables like:

[code]

However example host files are suggesting:

[code]

[2017-04-22 03:09] smarterclayton opened #3978 "Failure in Origin-gce"
[code]

Have not changed the config, not sure what is failing

[2017-04-22 03:10] smarterclayton commented on #3978
https://ci.openshift.redhat.com/jenkins/job/zz_origin_gce_image/215/console

[2017-04-22 05:20] debianmaster commented on #3855
seeing same issue, any workarounds?

[2017-04-22 14:46] jmazzitelli opened #3979 "Failed to install Origin Metrics into running OpenShift"
#### Description

I have OpenShift running (via "openshift start" from a dev build I built on my box from origin master). I try to use openshift-ansible (again, using a local git clone of master) to install origin-metrics and it gets a long way but then fails with this error:

[code]

I can run everything successfully if I just use "oc cluster up --metrics" so I know it is possible for this to run

[2017-04-22 22:21] smarterclayton commented on #3978
We have been setting:

[code]

in the unshift release setup.

[2017-04-22 22:28] smarterclayton commented on #3978
Ansible 2.2.1

[2017-04-24 07:53] thechile opened #3980 "openshift-origin yum repo still with 1.4.1 packages ?"
Hi

Does anyone have news about when [http://mirror.centos.org/centos/7/paas/x86_64/openshift-origin/](http://mirror.centos.org/centos/7/paas/x86_64/openshift-origin/) will be updated with 1.5.0 rpms ?

thank you.

[2017-04-24 12:09] jaryn opened #3981 "router cert is invalid for the openshift_master_default_subdomain"
#### Description
The router cert is created with
[code]
This means it is invalid for any reasonable use. I would expect it to have

##### Version
[code]

##### Steps To Reproduce

##### Expected Results
I would expect the cert to be generated for
[code]

##### Additional Information
* Your inventory file (especially any non-standard configuration parameters)

[code]

[2017-04-24 15:15] rafaleon15 commented on #3775
Please @carljmosca, comment here. I am also blocked with this.

[2017-04-24 15:41] knobunc commented on #3775
It may be that you are hitting a kernel bug where it failed when IPv6 was disabled.  It was trying to bind to both IPv4 and v6 and failing if either failed.

[2017-04-24 16:39] ashcrow commented on #3978
After looking further this looks an awful like https://github.com/ansible/ansible/issues/20885.

[2017-04-24 17:31] sdodson commented on #3978
rpm -q ansible ? ansible-2.2.1.0-2.el7 has patches for the problems in previous comment, we should make sure we're using the patched version

[2017-04-24 17:49] smarterclayton commented on #3978
I was able to work around this by adding a `| to_json | from_json` hack.  I'm installing the latest package available from CentOS.

[2017-04-24 20:20] carljmosca commented on #3775
I will try to piece together what was done to get past this.  I do recall upgrading and downgrading a combination of the kernel, docker, and ansible (running on RHEL 7).  I created this and at least one other issue and it seemed there was little to no interest/activity here.

[2017-04-24 20:34] smarterclayton commented on #3978
Still broken (but I was able to work around it for now in another way that I don't want to maintain)

[2017-04-24 21:42] poltorres7 commented on #3775
@carljmosca @rafaleon15 Does someone get any solution. I am stuck in the same issue. please share your knowledge.

[2017-04-24 21:53] carljmosca commented on #3775
I will try to work back through the steps:

@poltorres7 What version of origin-sdn-ovs do you have?  I am running origin-sdn-ovs-1.4.1-1.el7.x86_64.

I believe a downgrade was required.

[2017-04-24 22:03] poltorres7 commented on #3775
I have the same version

[2017-04-24 22:04] carljmosca commented on #3775
Assuming you're using the master branch, try moving back to release-1.2

[2017-04-24 22:17] ewolinetz commented on #3977
Which docs are you referring to specifically?

There is a page for installing metrics as part of the advanced installation [1] and for installing it afterwards [2].
Those are two different playbook entry points and to maintain backwards compatibility with parameter names, the advanced install still uses the pre 3.5 variable names.

[1] https://docs.openshift.org/latest/install_config/install/advan

[2017-04-24 22:40] ewolinetz opened #3991 "openshift_logging displays error text when checking replicas"
When doing a fresh install with openshift_logging we check for the current replica count of `Kibana` and `Curator`. If their corresponding DCs don't yet exist, we ignore the error however it still shows up in the playbook logs in red which can be confusing for users watching the logs.

The play still completes successfully and deploys correctly, it is just causing confusion.

[2017-04-25 00:41] thechile commented on #3980
[https://buildlogs.centos.org/centos/7/paas/x86_64/openshift-origin/](https://buildlogs.centos.org/centos/7/paas/x86_64/openshift-origin/) has the 1.5.0 rpm files already. But main in [openshift-ansible-centos-paas-sig.repo](https://raw.githubusercontent.com/openshift/openshift-ansible/master/roles/openshift_repos/files/origin/repos/openshift-ansible-centos-paas-sig.repo) uses the mirror repo whic

[2017-04-25 00:44] thechile commented on #3980
.. there is also [https://buildlogs.centos.org/centos/7/paas/x86_64/openshift-origin15/](https://buildlogs.centos.org/centos/7/paas/x86_64/openshift-origin15/) but i can't see how this ties in with openshift-ansible, so i can use its packages during rpm install.

[2017-04-25 01:23] andrewklau commented on #3977
Oh, ok thanks! It wasn't obvious they were two different playbooks.

[2017-04-25 01:23] #3977 closed

[2017-04-25 08:24] andrewklau opened #3993 "Upgrade should respect the install parameters"
#### Description

Upgrade should respect the install configs:

ie. for a few clusters, I choose not to let ansible manage the router/registry/install examples because of the other customisation that are managed externally.

They are not installed when running the install playbooks, so the upgrade shouldn't touch it.

eg.
When `openshift_install_examples=false` the upgrade process still installs th

[2017-04-25 14:16] dgoodwin opened #3997 "New Metrics/Logging Roles Do Not Restart HA Services"
#### Description

The new metrics/logging role update_master_config.yml tasks have a restart handler only for single master deployments, in an HA deployment calling the role will not restart any services.

If this is intentional, we need some kind of contract defined such that the caller can identify whether or not a restart is necessary. Right now we have to blindly restart as the roles do not ex

[2017-04-25 15:13] lhuard1A opened #4000 "master branch of openshift-ansible fails to deploy the OpenShift registry on OSE 3.2"
#### Description

`openshift-ansible` should be able to deploy any major version of OpenShift since the major version of OpenShift is selected by the channel which is subscribed to.

However, deploying an OSE 3.2 cluster with the current `master` version of openshift-ansible fails.

##### Version

* OSE 3.2
* openshift-ansible master

##### Steps To Reproduce

1. Subscribe the machines to rhel-7-s

[2017-04-25 15:50] andrewklau opened #4001 "Router certificate redeploy fails when using custom router name"
#### Description

When redeploying the certificate on the router that has a custom name, it will fail because it is hard coded to look up for the "router" deploymentconfig.

The upgrade process does not have this hardcoded limitation

##### Version

release-1.5

[2017-04-25 16:02] sdodson commented on #4000
@lhuard1A For quite some time we've only supported the current development (3.6) and released (3.5) versions of openshift from the master branch. We've discussed moving back to a model where we support more versions from master branch but that would not be retroactive once we decide to do that it'd just be forward looking, ie: master would support 3.5, 3.6, and 3.7 where as you'd still need to use

[2017-04-25 16:07] rhcarvalho commented on #3276
Perhaps I originally focused on the wrong point.

We now know that some checks may require external deps, so we can't avoid having those installed.

In retrospect, probably my pain point was that `openshift_facts` takes a considerable time to run, while for most if not all checks all we use are some variables that either come from the inventory or are derived from other variables from the inventor

[2017-04-25 16:07] #3276 closed

[2017-04-25 16:19] mwoodson opened #4002 "openshift_logging node selector needed for pods to deploy; openshift_logging should allow us to add label to the "logging" project"
#### Description

* [BUG] openshift_logging role fails to deploy certain pods when the logging project does not have a node selector installed.

* [FEATURE] openshift_logging role would be nice to be able to add a label to the "logging" project (or whatever project it creates)

We have noticed when using the openshift_logging role, we need to apply a node selector to the the project in order for p

[2017-04-25 16:37] lhuard1A commented on #4000
Thanks @sdodson for your prompt answer!
I had a deeper look at this precise issue and figured out that the only problem was that openshift-ansible tried to pass to `oc adm registry` a flag which was not known.
As the default value of this parameter in oc 3.5 is false and as the value that is passed by openshift-ansible by default is false, it should be safe to not pass that flag when the default i

[2017-04-25 17:59] sdodson commented on #4000
We (Red Hat) definitely make no effort to test master on releases older than 3.5. We have and will remove some amount of conditional logic if it makes the code cleaner and easier to maintain going forward. Also, I think the current logging and metrics playbooks likely don't work on anything older than 3.4.

I'm fine with accepting fixes so long as it doesn't needlessly complicate the codebase but

[2017-04-25 18:54] sdodson commented on #3980
@thechile Centos PaaS SIG is moving towards providing a repo per release, they have their meeting tomorrow and I'll try to check on the status of that.

You could use openshift_additional_repos variable to add http://cbs.centos.org/repos/paas7-openshift-origin15-testing/x86_64/os/Packages/ as a repo for the time being. See inventory/byo/hosts.origin.example for more details on that variable.

[2017-04-25 19:58] lpshikhar commented on #3908
@sjenning @sdodson In the official documentation is it mentioned that AWS can be provisioned using:

[Configure AWS on Openshift](https://docs.openshift.org/latest/install_config/configuring_aws.html)
For GCE there is no such configuration that can be added to the inventory file. That's probably the reason why the installer is breaking.

[2017-04-25 21:03] sdodson commented on #3908
Apparently there are additional keys in /etc/origin/cloudprovider/gce.conf that we should be setting but we aren't. Can you try setting these to correct values per your GCE config and restarting the master then node services?

[code]

[2017-04-25 21:03] sdodson commented on #3908
reference https://github.com/openshift/origin-gce/blob/master/playbooks/roles/gce-cloudconfig/tasks/main.yaml

[2017-04-25 21:25] sdodson opened #4007 "when mux is not used we're still checking for output?"
[code]

@jupierce reports this from their CI jobs.

[2017-04-26 01:39] lpshikhar commented on #3908
@sdodson Thanks, Scott. We are good with project-id, multizone parameters. We have 4 VMs (1 master and 3 nodes) on GCE
Is there is a need to provide secrets/keys as part of gce.conf?

In addition, can you describe other parameters -

**network-name** - Is this the network name under the Google project? I believe it's set to default
**node-tags** - Is there a way to get a list of node tags? Is this

[2017-04-26 03:17] thechile commented on #3980
ok thank you. It's confusing that when i switch to use the 1.5 branch that the yum repo file points to `http://mirror.centos.org/centos/7/paas/x86_64/openshift-origin/` which only has the 1.4.1 packages.

If i understood you, `http://mirror.centos.org/centos/7/paas/x86_64/` should be updated to also have the `openshift-origin15` repository and  `openshift-ansible-centos-paas-sig.repo` should be up

[2017-04-26 03:19] sdodson commented on #3980
I believe that's the intention but it's taking a while for all the pieces to fall into place. I'll check on the status in tomorrow's meeting.

[2017-04-26 09:12] aacube opened #4008 "Unable to start service origin-node => vxlan mod problem in redhat 7.3 kernel"
#### Description

Hi.
I don't know if i have to post here or directly on openshift-origin github.

While running ansible,  I get an error and ansible stop : **can't start origin-node**

We have 3 masters, 2 nodes and 1 haproxy VMs running RedHat 7.3

##### Version

* Your ansible version per `ansible --version`
`ansible 2.2.0.0`

[code]

* openvswitch version
[code]

##### Steps To Reproduce
1. Ru

[2017-04-26 10:07] rafaleon15 commented on #3775
@poltorres7 did it work?

[2017-04-26 13:32] mwoodson commented on #4002
Adding more information here.

By default, we have this in our master-config.yml:
[code]

If we do not put the node selector on the project, it will use this node selector.  Things won't land anywhere but compute nodes.  When we specify a different node selector for the pods that don't match, they won't land anywhere.

Adding a blank project selector to the project "logging" will override this def

[2017-04-26 13:56] jkaurredhat opened #4010 "Installer installs obsolete packages of cockpit"
Installer installs obsolete packages of cockpit and gives below error :
[code]
This is observed in 3.5 with below packages :
[code]

[2017-04-26 15:15] poltorres7 commented on #3775
@rafaleon15  unfortunately it didn't work for me, I try my installation in a new host and I've progress with other issues. I've consult a redhat expert, and he told me that there was a problen with the SDN service in the master. I tried to restart the atomic-openshift-master.service but it didn't work :( . I'm new in this, I hope I've help you.

[2017-04-26 15:20] akamalov opened #4014 "OpenShift-Ansible - Custom IPtable Ruleset (Master and Worker)"
**Environment:**

[code]

**OpenShift-Ansible Version:**

```3.6.11-1```

**Question:**

I tried to ask this question in Stackoverflow, however unfortunately didn't get any answers, so I am trying out my luck here.

- Can someone provide examples of creating custom iptable ruleset in OpenShift-Ansible:

       - For controller nodes
       - For worker nodes

- Am I to modify:

        - Master no

[2017-04-26 15:42] gbaufake opened #4016 "Error on TASK [docker : Install Docker]"
#### Description

Error on Task Docker ->  FAILED! => {"changed": false, "failed": true, "msg": "No package matching 'docker' found available, installed or updated", "rc": 126, "results": ["No package matching 'docker' found available, installed or updated"]}

Docker is installed and running:

docker.service - Docker Application Container Engine
   Loaded: loaded (/usr/lib/systemd/system/docker.se

[2017-04-26 16:48] ewolinetz commented on #4007
Testing this with `ansible 2.2.1.0` I see this task is correctly skipped, reported that CI is using `2.2.0` however I'm having trouble downgrading my version. We should be able to resolve this by adding another `when` to check that the attribute is defined

[2017-04-27 07:14] andrewklau opened #4021 "Redeploy metrics/logging certificates"
#### Description

Redeploying metrics and logging certificates will probably need to be added as part of the redeploy certificate playbooks

[2017-04-27 11:23] davivcgarcia opened #4022 "openshift-ansible fails to run on Fedora Atomic 25 nodes"
#### Description

The installer fails with error message 'module failure' on cluster composed by a single master and two nodes (byo). Setup based on Fedora Atomic 25.

#### Versions

ansible version from installer node:
[code]
openshift-ansible code version:
[code]
fedora atomic nodes version:
[code]

#### Problem

Running the ansible-playbook with:
[code]
This error occurs for all nodes listed in

[2017-04-27 13:46] ewolinetz commented on #4021
Just as a note, for 3.6 it is planned that Metrics no longer generates its certificates as part of the installation but instead uses the OCP cert generation service.

[2017-04-27 13:48] andrewklau commented on #4021
Ah great, so we could probably close this then

[2017-04-27 13:50] ewolinetz commented on #4021
Well, it might be worth keeping for now; Logging is not yet able to fully
utilize that service

On Thu, Apr 27, 2017 at 8:48 AM, Andrew Lau <notifications@github.com>
wrote:

--
Eric Wolinetz

Red Hat Engineering | OpenShift
ewolinet@redhat.com
IRC: ewolinetz
C: (847) 641-0143

[2017-04-27 14:01] ingvagabund opened #4023 "Check available docker images and rpms versions"
During the containerized deployment the docker images version and rpm versions can be out of sync. We should check both versions and stop the deployment if they are not the same at the very beginning of the installation.

[2017-04-27 14:56] jberkus commented on #4022
I can verify this.  The problem seems to be an incompatibility with ansible 2.3.0.0, although installation doesn't complete with 2.2.1.0 either.

[2017-04-27 15:12] sdodson commented on #4008
@openshift/networking can you guys take a quick look at this?

[2017-04-27 15:16] jberkus opened #4025 "String failure in latest in "Remove swap entries""
#### Description

Provide a brief description of your issue here. For example:

Platform:

Fedora 25
O-A HEAD from April 25
Ansible 2.2.1.0

Running O-A against Fedora Atomic Host 25, I get a fatal error in this module:

[code]

[2017-04-27 15:17] jberkus commented on #4025
Note that, if I try Ansible 2.3.3.0, I get this issue: #4022

[2017-04-27 15:21] smarterclayton commented on #4025
We disable swap because Kubernetes can't make effective decisions about memory if the OS lies to it.  Kubernetes is managing overcommit, not the OS.  See long discussions in mailing lists and OpenShift docs on this.

[2017-04-27 15:40] jberkus commented on #4025
@smarterclayton ah, this explains some of the capacity issues I'm having on the microcluster.  Given that I have a stack of boards with only 2GB ram each but with SSDs, I'd rather have the swap.  But I'm  a very special case, so I'll make my own modifications.

[2017-04-27 15:42] rafaleon15 commented on #3775
Ok guys, I made it work, thanks to @carljmosca advices. I copied some versions from a working installation of a colleague.
For me the keys were:
1. The kernel. I used CentOS Linux release 7.2.1511 (Core), had to downgrade to kernel 3.10.0-229.14.1.el7.x86_64
2. Ansible version. Had to downgrade to 2.2.0.0-1.el7 to by pass some 'htpasswd' error
3. My installation is dockerized, so containerized=tru

[2017-04-27 15:46] sdodson commented on #4025
https://github.com/openshift/openshift-ansible/pull/4017 will allow you to leave swap on once it's merged

[2017-04-27 15:58] mtnbikenc commented on #4025
This appears to be a Python 3 compatibility issue fixed in Ansible 2.3. https://github.com/ansible/ansible/issues/20326

[2017-04-27 16:15] jberkus commented on #4025
OK, closing this in favor of #4022

[2017-04-27 16:15] #4025 closed

[2017-04-27 16:54] jberkus commented on #4022
@abutcher I'll be camped out on #openshift-dev all day if you want me to trace or test fixes.

[2017-04-27 18:49] jberkus commented on #4022
@abutcher: currently I'm testing commit 90f6a70 with ansible 2.2.2.0, which is the last known good combination for Fedora-Atomic.  It's already gotten past the spots where we hit earlier bugs, but isn't complete yet.  Will report back.

[2017-04-27 19:07] jberkus commented on #4022
Also, one contributing factor: it's common for the ansible node to be running ansible-python2, but we need to use python3 on each Atomic node.  I'm wondering if having two different python versions involved is contributing to the breakage?  If you think so @abutcher, I can test with ansible-python3 on the ansible node.

[2017-04-27 19:09] sdodson commented on #4022
Does setting the following variable improve the situation?
`ansible_python_interpreter=/usr/bin/python3`

[2017-04-27 19:19] sdodson commented on #4023
Is this a general problem or just a problem that the CI jobs were having earlier today?

The CD team builds RPMS, creates a private yum repo, then builds images from that repo. Once that's done they push those images to their final destination and publish the yum repo at roughly the same time.

The CI jobs earlier today were failing because we were pulling directly from the repo where they build t

[2017-04-27 19:29] sdodson commented on #4016
So docker is pre-installed? `rpm -qa \*docker\*` please

[2017-04-27 19:49] jberkus commented on #4022
That's already set.  It has to be for Fedora-atomic, which doesn't ship with python2.

[2017-04-27 19:53] jberkus commented on #4022
Confirmed that this combination works:

* Ansible 2.2.2.0
* O-A commit 90f6a70
* Origin 1.5.0
* Fedora Atomic 25 4/26.

There may be other things which don't work perfectly out of the box (I'll test registry, S2I, etc. today), but it looks like the breakage is due to changes after that commit and/or due to Ansible 2.3.

[2017-04-27 19:58] abutcher commented on #4022
@jberkus cool, glad you've got a working set up for now -- I'll continue putting together fixes for this issue wrt ansible-2.3.

[2017-04-27 20:06] jberkus commented on #4022
@abutcher let me know when you have something to test, since I rebuild FAO clusters all the time.

[2017-04-27 21:09] dav1x opened #4029 "Allow pre-req RPMs to be installed after rhel_subscribe runs."
#### Description

Provide a brief description of your issue here. For example:

On the rhel_subscribe role, it would be nice to reposition some of the OpenShift fact gathering pre-reqs so that the registration can succeed without having the dependency packages. This way once registered the packages could simply be installed.

iproute
python-dbus
yum-utils
python-six
PyYAML

##### Version

Please p

[2017-04-27 22:00] davivcgarcia commented on #4022
@jberkus which commit/version of Fedora Atomic is working for you? I didn't find the changelog to determine what is the version you mentioned.

[2017-04-28 07:54] ingvagabund commented on #4023
AFAIK, CI problem only. The purpose of the issue is to just report the OCP version of the docker images and the excluder rpm. So we can see if they are different or not. Followed by a pretty message that says what is really going on instead of excluders not being available. Checking the flow it is not a trivial problem to check the version at the beginning if the deployment is containerized. So I

[2017-04-28 14:42] ceagan opened #4036 "Upgrade from OpenShift Origin v1.4.1 to v1.5.0 Fails"
#### Description

I did a clean install of v1.4.1 in our lab and then tried to perform an upgrade by changing the version in `/etc/ansible/hosts` file and running `~/openshift-ansible/playbooks/byo/openshift-cluster/upgrades/v3_5/upgrade.yml` from the `release-1.5` branch.

##### Version

[code]

##### Steps To Reproduce (Attempt 1 of 2)
1. Perform a clean installation of v1.4.1 using the ansible

[2017-04-28 15:49] ceagan commented on #4036
After digging into the scripts, it looks like a possible workaround to this is to specify the `openshift_version` variable explicitly in addition to the `openshift_release`. The scripts appear to try and detect the explicit version, but fail because there is no `v1.5` Docker image tag.

I was able to perform an upgrade in my test environment using the following settings. Note that the use of the `

[2017-04-28 16:27] carljmosca commented on #3775
Given that this seems to have some attention now and I don't think we can articulate a complete solution, I am reopening this issue.

[2017-04-28 17:07] sdodson commented on #4008
Dupe of #3775

[2017-04-28 17:07] #4008 closed

[2017-04-28 17:09] sdodson commented on #3775
What version of openvswitch RPM is everyone using?

[2017-04-28 17:51] carljmosca commented on #3775
openvswitch-2.4.0-2.el7.x86_64

[2017-04-28 17:59] sdodson commented on #3775
That's the version we've shipped in OCP 3.0 through 3.4 and we've never seen problems with 7.2 or 7.3 kernels there.

3.10.0-229.14.1.el7.x86_64 is a 7.1.z kernel, I'm out of ideas and will have to let the networking team take this from here.

[2017-04-28 18:00] carljmosca commented on #3775
OK...in the meantime is there a particular release you can recommend?

[2017-04-28 18:02] sdodson commented on #3775
You can try the package from the Origin 1.5 repos, but I'm still not certain this is related to the OpenvSwitch version.

http://cbs.centos.org/repos/paas7-openshift-origin15-release/x86_64/os/Packages/openvswitch-2.6.1-3.git20161206.el7.x86_64.rpm

[2017-04-28 18:03] carljmosca commented on #3775
Thanks...will give it a try.

[2017-04-28 18:07] sdodson commented on #3775
You have checked to make sure that nothing else is bound to port 4789, correct?
`lsof -i UDP:4789`

[2017-04-28 18:08] carljmosca commented on #3775
Yes, but thank you for asking...always amazed how I miss the easy obvious stuff when knee deep in issues. :)

[2017-04-28 18:10] carljmosca commented on #3775
I am trying the openvswitch above but when I asked about releases, I was wondering if I should be using a branch besides master, such as release-x.y.  I have tried  more than one. :)

[2017-04-28 18:22] sdodson commented on #3775
For openshift-ansible master is tested against the current development release and the current latest GA, so 3.6 and 1.5. The release branches are updated less frequently and generally only with bugfixes so they should be more stable, the branch name corresponds to the origin release version they support.

[2017-04-28 18:28] #4000 closed

[2017-04-28 21:11] ewolinetz commented on #4007
Closing since #4018 was merged into master

[2017-04-28 21:11] #4007 closed

[2017-04-29 22:00] jberkus commented on #4022
Looks like 3.6.24-1, per commit link above.

https://github.com/openshift/openshift-ansible/commit/90f6a70bc7cdc128e0fb5809bb8ddeb37a0f8b89

[2017-04-29 22:11] jberkus commented on #3495
1.5.0 final is confirmed to work.  Closing issue.

[2017-04-29 22:11] #3495 closed

[2017-04-30 19:14] cooktheryan commented on #4029
seems that this is the same as #3277
@tbielawa we feel your pain

[2017-05-01 06:31] DanyC97 commented on #3856
My 0.002$ : in a prod env, 30 days notice might be a short window, ideally will be nice if the warning had say 3 levels or something where will catch 3 data points: 90/60/30 days (light, medium, high warning type of style).

[2017-05-01 12:31] tbielawa commented on #3856
I like that idea, @DanyC97. I will work on including that too in a future update.

[2017-05-01 14:18] mwoodson opened #4046 "Metrics installation fails when docker volume dir is immutable"
#### Description

When deploying metrics on an Online cluster, we are unable to create the htpasswd.  The cod that is being executed is here:

https://github.com/openshift/openshift-ansible/blob/release-1.5/roles/openshift_metrics/tasks/generate_hawkular_certificates.yaml#L43-L48

The problem comes from Online clusters having an immutable /var/lib/docker/volumes.  This is because we do NOT want On

[2017-05-01 14:47] akamalov commented on #4014
wow..no one ? No one has any idea?

[2017-05-01 14:50] ericlake commented on #3956
Adding `ansible_ssh_user=root` did not help. I know that the instructions are deprecated but I am going to try installing per https://github.com/openshift/origin-metrics/blob/master/docs/deployer_installation.adoc.

[2017-05-01 14:51] dgoodwin opened #4048 "RFE: Support for modifying rootLogger in logging-elasticsearch config map on 3.5"
#### Description

On 3.5 the logging-elasticsearch config map contains the following relevant properties:

[code]

However this logging.yml property is a multi-line string with a lot more content, making it difficult to programatically edit the yaml.

In 3.6 version of the role this property appears configurable via a variable.

Requesting a backport of just this small change for release-1.5 branc

[2017-05-01 15:11] sdodson commented on #4014
We have no support for this today. I think we should add a variable to define custom allow and custom deny rules and then apply those within the master and node roles. We'd probably want it to be different based on master or node.

Feel free to submit a PR and we'll review.

[2017-05-01 15:26] ewolinetz commented on #4048
Backport of this commit: https://github.com/openshift/openshift-ansible/commit/a222702ed4316f99eac497ac755c5349804c66d2

[2017-05-01 18:27] tbielawa opened #4056 "Should we update our default NFS mount options?"
Per the [upstream documentation](https://docs.openshift.com/container-platform/3.5/install_config/persistent_storage/persistent_storage_nfs.html#nfs-export-settings) NFS exports should use the `rw,root_squash,no_wdelay` mount options.

Our [current defaults](https://github.com/openshift/openshift-ansible/blob/master/roles/openshift_storage_nfs_lvm/defaults/main.yml#L3) do not set the `no_wdelay` p

[2017-05-01 18:33] ewolinetz commented on #4046
@mwoodson this should now be resolved with #4054 being merged

[2017-05-01 18:40] sdodson commented on #4056
Yes, we should. Though I think all of our solutions (cassandra, elasticsearch) are poorly suited for NFS use unfortunately. So the ultimate endstate should be to use CNS, but that's something for another day.

[2017-05-01 20:00] akamalov commented on #4014
Thanks @sdodson.  Closing the ticket due to unsupported configuration.

[2017-05-01 20:00] #4014 closed

[2017-05-01 20:31] ewolinetz commented on #4046
The issue still exists, it is stemming from the image having a `Volume` definition within it. We should be able to switch to using the `htpasswd` module provided by Ansible

[2017-05-01 20:32] abutcher commented on #4022
Opened referenced PR with some fixes that get things going for me. I also ran into https://github.com/ansible/ansible/issues/23731 while testing.

[2017-05-01 20:48] #1418 closed

[2017-05-01 21:04] ewolinetz commented on #4046
re addressing in https://github.com/openshift/openshift-ansible/pull/4063

[2017-05-02 01:18] thechile commented on #3980
I'm seeing 1.5 package appear in the `openshift-origin` repo now so i'll try redeploy and check.

[2017-05-02 10:53] harobed commented on #2723
Fixed by: https://github.com/openshift/openshift-ansible/blob/master/playbooks/byo/openshift-cluster/openshift-metrics.yml

[2017-05-02 10:53] #2723 closed

[2017-05-02 13:51] jaryn commented on #1709
I have this problem with `iptables 1.4.21-17.el7` on `rhel-guest-image-7.4-62.x86_64.qcow2` when using OA to deploy OSP 3.5. It wants to install `1.4.21-18.el7`.

[2017-05-02 14:32] sdodson commented on #1709
So your image has 7.4 version of iptables installed but do you have 7.4 repos enabled? I assume not, enable 7.4 repos and I imagine this will go away.

[2017-05-02 15:44] laurafitzgerald commented on #3119
I also saw this error when running the 3.4 patch upgrade from v3.4.0.40.

The error produced is
[code]

And when checking the oc version on the node the output is:
[code]

[2017-05-02 15:51] laurafitzgerald opened #4069 "Upgrade playbook outputting jinja2 warnings"
#### Description

Provide a brief description of your issue here. For example:

On a multi node upgrade from v3.4.0.40 using the automatic ansible installer, seeing the following error (example)

[code]
in multiple locations (listed below).

Play 3/59 (Populate config host groups)
Play 10/59 (Set openshift_no_proxy_internal_hostnames)
Play 22/59 (Populate config host groups)
Play 44/59 (Set OpenSh

[2017-05-02 17:21] sdodson commented on #4069
We need to backport https://github.com/openshift/openshift-ansible/pull/4061 to release-1.4 and release-1.3 but we're not yet ready to verify them on ansible 2.3.

release-1.5 and master should be fixed already

[2017-05-02 18:32] mtnbikenc commented on #3119
@tbielawa Do you have a card that this could be added to so we can ensure that it gets addressed?

[2017-05-02 19:07] akamalov opened #4072 "Error from server: User cannot list all nodes in the cluster"
**Environment:**
[code]
Ansible Version:

```2.3.0.0```

Openshift-Ansible Version:

```openshift-ansible-3.6.50-1```

**Question:**

The environment is integrated with Active Directory. I can login and it gets authenticated. I can also assign privileges. However, for some reason I cannot execute privilege-level commands.

**Example:**

[code]

Hugh? Strange. Let me re-assign privileges:

[code]

[2017-05-02 19:38] ewolinetz commented on #4048
Closing due to #4055 being merged in

[2017-05-02 19:38] #4048 closed

[2017-05-02 19:51] #4029 closed

[2017-05-03 08:23] cjsrinivas commented on #3775
Having the same issue as well (install fails, cannot bind to port 4789). Previously, I did get OpenShift 3.5 to work on a AWS RHEL 7.3 machine that was running the 3.10.0-514.10.2.el7.x86_64 kernel. However, now I am running a RHEL 7.3 VM with a 3.10.0-514.16.1.el7.x86_64 kernel, which is where the failed VMs landed after a 7.2 to a 7.3 upgrade.

[2017-05-03 09:00] ioggstream commented on #3478
I patched the files that way:

[code]

And modified the os_firewall settings.

[2017-05-03 10:13] carljmosca commented on #3775
I had to use kernel 3.10.0-229.14.1.el7.x86_64

[2017-05-03 11:08] jaryn commented on #1709
### In short

I don't think this is any problem with the repos. I think ansible has some bug in the package module.

### In long

We have
[code]

This is with the new image:
[code]
That says to me that we didn't had to upgrade the `iptables` as it is from "repo" `installed` which means it was on the image. The need to ugrade of the `iptables` was the problem. `yum install iptables iptables-service

[2017-05-03 11:22] rhcarvalho opened #4078 "Document redhat-ci jobs"
From https://github.com/openshift/openshift-ansible/pull/4011#issuecomment-298195898

Document the files and tests / test environment / CI jobs related to redhat-ci.
See:

https://github.com/openshift/openshift-ansible/blob/master/docs/repo_structure.md
https://github.com/openshift/openshift-ansible/blob/master/docs/pull_requests.md and perhaps other docs

[2017-05-03 13:50] alosadagrande opened #4081 "Origin update from 1.3.1 to 1.4.1 updates packages to 1.5.0 using ansible update"
#### Description

I've just updated our openshift Origin cluster from 1.3.1 to 1.4.1, however I see that the rpm installed are 1.5.0. See nodes origin packages:

[code]

And master as well:

[code]

I used the upgrade playbook to 3.4 / 1.4 on branch release-1.4. Also I set the following variables in the host inventory:

[code]

I can see in the official repo (http://mirror.centos.org/centos/7/paas

[2017-05-03 14:29] wenskys opened #4082 "upgrade 1.4.1 to 1.5.0 error (Check for invalid namespaces and SDN errors)"
Hi,
I have a problem when i upgrage openshift.It looks like UnicodeDecodeError bug?
[code]
![error-1](https://cloud.githubusercontent.com/assets/12937669/25665454/3ba2c58e-3050-11e7-8f31-5ad62b0683b5.png)

such as this：https://access.redhat.com/solutions/3020271
thanks.

[2017-05-03 14:36] harobed opened #4083 "es_number_of_shards and es_number_of_replicas aren't used in roles/openshift_logging/templates/es.j2 template"
In `roles/openshift_logging/tasks/set_es_storage.yaml`:

* [es_number_of_shards](https://github.com/openshift/openshift-ansible/blob/master/roles/openshift_logging/tasks/set_es_storage.yaml#L79)
* and [es_number_of_replicas](https://github.com/openshift/openshift-ansible/blob/master/roles/openshift_logging/tasks/set_es_storage.yaml#L80)

aren't used in [roles/openshift_logging/templates/es.j2](htt

[2017-05-03 14:46] akostadinov commented on #1709
@jaryn I also think that there is something fishy in the ansible behavior. Perhaps file an issue in the ansible project.

[2017-05-03 14:48] ewolinetz commented on #4083
It is a mistake -- that should be set for the configmap template.
That must have been overlooked on the change to introduce the ability to configure shard counts.
Thank you for pointing that out!

[2017-05-03 15:04] sdodson commented on #1709
The @ prefix to the repo name  here incidates that the repo which installed this package is no longer enabled. So, when verifying that iptables-services is installed I think it causes a problem.

What happens on this host if you run `yum install iptables-services` ?

[2017-05-03 15:08] harobed commented on #4083
Do you prefer a pull request for `release-1.5` branch and `master` or you can do that today (I need to install it)?

[2017-05-03 16:01] ewolinetz commented on #4083
@harobed #4084 is the 1.5 fix, i will also cherry pick it for master afterwards. Which version is a higher priority for you?

[2017-05-03 16:19] ewolinetz commented on #4083
#4085 is the cherry pick pr

[2017-05-03 17:23] ewolinetz opened #4086 "oc_service is unable to create with label"
Using `oc_service` with a `labels` parameter is unable to correctly process the values provided

Using the following all result with "argument labels is of type <type 'list'> and we were unable to convert to dict"
[code]

[code]

[code]

[code]

[2017-05-03 17:23] ewolinetz commented on #4086
@kwoodson

[2017-05-03 19:09] richm commented on #4086
Have you tried
[code]
?

[2017-05-03 19:36] Bak3y opened #4088 "99-origin-dns.sh and /etc/resolv.conf"
#### Description

When using the Advanced Installer for OSCP 3.5, if you don't make NetworkManager aware of your DNS settings, the script 99-origin-dns.sh ends up leaving your system in a state where you don't have working DNS, even though you had valid entires in /etc/resolv.conf prior to the install.

##### Version

[code]

##### Steps To Reproduce
1. Install base OS and configure network settin

[2017-05-03 19:37] Bak3y commented on #4088
I also have an RFE opened with RedHat to have this become aware of /etc/resolv.conf and not just use Network Manager alone for DNS settings.  CASE 01842852

[2017-05-03 21:46] ewolinetz opened #4090 "oc_service is unable to take externalIPs"
Per [1] we should be able to create a service with an external IP however the module does not have a parameter to specify one.

This is required for the openshift_logging_mux role being worked on currently

[1] https://kubernetes.io/docs/concepts/services-networking/service/#external-ips

[2017-05-03 21:46] ewolinetz commented on #4090
@kwoodson

[2017-05-04 00:02] jshearer commented on #2676
Any news on this? I'm having the same issue still...

[2017-05-04 09:03] myonlyzzy opened #4092 "use ansible install cluster have a No OpenShift version available Error!"
#### Description

use  ansible  install cluster   have a  No OpenShift version available  Error!
##### Version

ansible --version
ansible 2.3.0.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides
  python version = 2.7.12 (default, Nov 19 2016, 06:48:10) [GCC 5.4.0 20160609]

 git describe
openshift-ansible-3.6.51-1-14-g0a195fb

os  centos7.3
TASK [op

[2017-05-04 09:27] rafaleon15 commented on #3775
Hi, my last problem was that one of the routers could not start, it said it could not fit in any node.
Now it is working. I downgraded NetworkManager to version NetworkManager.x86_64 1:1.0.0-16.git20150121.b4ea599c.el7_1 just because my colleague installation was using that version, but I think that what made it work is that I set the master as schedulable.
I added the master to be also a node (a