[2017-07-26 06:40] j00p34 commented on #4609
This happens also in Ansible 2.2.* I think it's the same as #4121 fixed by #4687

[2017-07-26 08:02] ingvagabund commented on #4609
https://github.com/openshift/openshift-ansible/pull/4687 merged, please reopen it the issue still persists.

[2017-07-26 08:02] #4609 closed

[2017-07-26 08:02] ingvagabund commented on #4121
https://github.com/openshift/openshift-ansible/pull/4687 merged, please reopen it the issue still persists.

[2017-07-26 08:02] #4121 closed

[2017-07-26 14:09] andrewklau opened #4873 "oreg_url not set for system containers"
#### Description

The `oreg_url` seems to imply it would set the container images used by things like masters and nodes (ie. openshift/origin and openshift/node)

However it ends up just using the values hardcoded in `openshift_facts.py`

##### Version

release-1.5

[2017-07-26 16:28] giuseppe commented on #4873
@sdodson can we drop affects_3.5 since there is no system container support there?

[2017-07-26 18:44] sdodson commented on #4873
Sure, not sure why I didn't realize that.

[2017-07-26 18:45] sdodson commented on #4873
https://github.com/openshift/openshift-ansible/issues/4415 is related

[2017-07-26 20:26] #4734 closed

[2017-07-26 20:40] jcpowermac commented on #4745
Looks like this the task with the issue.

From the docs `openshift_storage_glusterfs_heketi_wipe` is supposed to be false by default but not seeing where that is defined.

https://github.com/openshift/openshift-ansible/blob/master/roles/openshift_storage_glusterfs/tasks/glusterfs_common.yml#L20

[2017-07-26 21:15] enj opened #4880 "openshift-ansible must not use {cluster}policy{binding} objects"
[code]

@openshift/security

@sdodson the `oc` CLI wrappers need to be updated to use `{cluster}role{bindings}`

This blocks openshift/origin/pull/15021 which needs to get into origin ASAP

[2017-07-27 02:17] smarterclayton opened #4883 "openshift_manageiq failing in OpenShift pull request testing on release-3.6"
https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_conformance_gce/4854/consoleFull#-63476801158b6e51eb7608a5981914356

[code]

Started failing a few hours ago.  I would not expect management-infra to be created by default unless we are setting up manageiq.  Is this a default config change?  I couldn't find out how this was enabled by looking at the commits.  This is for

[2017-07-27 02:29] sdodson commented on #4880
@kwoodson and @enj can you two look at this together tomorrow?

[2017-07-27 02:38] sdodson commented on #4745
Looks like the defaulting happens in https://github.com/openshift/openshift-ansible/blob/master/roles/openshift_storage_glusterfs/tasks/glusterfs_config.yml#L11 which pulls its default from https://github.com/openshift/openshift-ansible/blob/master/roles/openshift_storage_glusterfs/defaults/main.yml#L10 not sure why that's falling down.

[2017-07-27 07:23] p17n opened #4886 "Post installation of openshift_logging does not pick up pre-provisioned PVCs"
#### Description

We are trying to do a post install of ```playbooks/byo/openshift-cluster/openshift-logging.yml``` with pre-provisioned PVCs, but the playbook never picks them up.

[code]

As I read "Persistent Elasticsearch Storage" in https://docs.openshift.org/1.5/install_config/aggregate_logging.html#aggregated-elasticsearch,
this should suffice.

I have also tried using labels on the PVs tog

[2017-07-27 10:48] jhcook commented on #4023
Hi there. Why does this fail a check if this is a CI issue only? I've downgraded the excluder and rerun the pre_upgrade before upgrade. The excluder is upgraded during the pre_upgrade and the checks fail all over again.

The automated documentation states this is a dry run. I am trying to go from 3.4.1.7 to 3.4.1.44 with zero success. The excluder is being updated to the latest RPM which supersede

[2017-07-27 10:51] ingvagabund commented on #4023
Hi, which pre_upgrade playbook did you run?

[2017-07-27 10:53] jhcook commented on #4023
openshift-ansible/playbooks/byo/openshift-cluster/upgrades/v3_4/upgrade.yml

[2017-07-27 11:22] tdudgeon opened #4889 "sso71-postgresql-persistent template fails as postgres won't start"
#### Description

The [sso71-postgresql-persistent template](https://github.com/openshift/openshift-ansible/blob/master/roles/openshift_examples/files/examples/v3.6/xpaas-templates/sso71-postgresql-persistent.json) doesn't currently work as the postgres pod fails to start with this error:

`mkdir: cannot create directory '/var/lib/pgsql/data': Permission denied`

##### Version
Git Checkout: opensh

[2017-07-27 12:16] sdodson commented on #4889
@rcernich Does your team own SSO? can you take a look at this?

[2017-07-27 12:25] ingvagabund opened #4892 "[RFE] when running the ansible playbooks report openshift-ansible version"
So we don't have to ask for the openshift-ansible rpm version each time we get ansible logs, the rpm version should be hardcoded. E.g. generate `openshift_ansible_rpm_version.yml` each time an rpm is built (by default the file will have no-op task). Can be then part of `playbooks/common/openshift-cluster/std_include.yml`.

[2017-07-27 12:25] zgalor opened #4893 "oc_pvc errors with 'access_modes' variable"
#### Description

oc_pvc module returns errors when passed a parameter or when it attempts to use default parameter for access_modes

##### Version

[code]

##### Steps To Reproduce
Run this task:
[code]

##### Expected Results
The pvc should be created

##### Observed Results

[code]

##### Additional Information

Also if running without `access_modes` parameter the default value fails
Task:
[cod

[2017-07-27 12:26] zgalor commented on #4893
cc @kwoodson

[2017-07-27 12:38] jcpowermac commented on #4745
Thanks @sdodson missed that.
Also weird that the `glusterfs_name` is defaulted so shouldn't have ran into this.

https://github.com/openshift/openshift-ansible/blob/master/roles/openshift_storage_glusterfs/tasks/glusterfs_config.yml#L6

https://github.com/openshift/openshift-ansible/blob/master/roles/openshift_storage_glusterfs/defaults/main.yml#L5

[2017-07-27 12:40] sdodson commented on #4892
Yes we need this. https://trello.com/c/9PZ6LZRb/441-2-never-have-to-ask-for-more-information-to-debug

[2017-07-27 13:32] kwoodson commented on #4893
@zgalor, @jcantrill is working on this PR to fix the access modes as well as add the storageclass and selector attributes.  https://github.com/openshift/openshift-ansible/pull/4879

[2017-07-27 13:55] portante opened #4895 "Extend Kibana timeouts from 30 seconds to 5 minutes by default"
#### Description

There are certain operations that can be compute intensive when working with Kibana and Elasticsearch.  For example, if one were to refresh the mappings for a configured index as a operator for the `.all` index pattern, it can take up to 3 minutes to fetch all mappings from every index in Elasticsearch.

Having a long timeout involves two changes:

 1. Annotating the logging-kiba

[2017-07-27 13:57] portante opened #4896 "Consider moving the kibana.yml file from only being in the image to a configmap"
#### Description

Consider moving the kibana.yml file from only being in the image to a configmap.

##### Version

1.7

[2017-07-27 16:35] smarterclayton opened #4903 "3.6 upgrade should set maxInFlight to 9k if cluster above a certain size"
Before doing an update to 3.6, we should increase the max in flight to 9k if there are more than X namespaces (x probably 500 namespaces or more).

We then have to restart the api servers *before* the upgrade.

Set `servingInfo.maxRequestsInFlight` to `9000` in the core master config (not asset).

[2017-07-27 16:36] smarterclayton commented on #4903
@sdodson for 3.6

[2017-07-27 17:05] jarrpa commented on #4745
Looks like (this task)[https://github.com/openshift/openshift-ansible/blob/master/roles/openshift_storage_glusterfs/tasks/glusterfs_config.yml#L2] is getting skipped, thus the variable is never being defined... but since ansible needs to compute every loop of a task before skipping them, it's trying to expand glusterfs_name in the loop parameters. A default statement should fix this. On it.

[2017-07-27 17:14] ewolinetz commented on #4886
@hemmop what are the labels on your PVCs you created? If they are `logging-infra=support` the installer should be able to pick those up and use those.

We may want to update the documentation to state that too...

[2017-07-27 17:46] svanschalkwyk commented on #4771
I'm experiencing the same issue. I can greate instances using "gce:" in Ansible, but when I try to tag instances with "gce_tag" or create firewall rules "gce_net", I get "Missing GCE connection parameters in libcloud secrets file."
I can create firewall rules with gcloud without problem.

[2017-07-27 17:53] svanschalkwyk commented on #4771
Are you passing these explicitly in the task:
       project_id: "{{ project_id }}"
       credentials_file: "{{ credentials_file }}"
       service_account_email: "{{ service_account_email }}"

[2017-07-27 19:26] sdodson commented on #4903
What's the harm of setting it to 9000 regardless of namespace count?

[2017-07-27 20:17] sosiouxme commented on #4639
You can also work around this by adding the "openshift-future" repo which does have pre-release RPMs.

    openshift_additional_repos=[{"id": "centos-future", "baseurl": "https://buildlogs.centos.org/centos/7/paas/x86_64/openshift-future/", "enabled": 1, "gpgcheck": 0}]

Since no one else seems terribly concerned about this I'm going to close the issue.

[2017-07-27 20:17] #4639 closed

[2017-07-27 20:40] hemmop commented on #4886
@ewolinetz I used ```logging-infra=elasticsearch``` for the labels. AFAICT, when [gathering the facts](https://github.com/openshift/openshift-ansible/blob/release-1.5/roles/openshift_logging/library/openshift_logging_facts.py#L153) only the presence of the label is checked, not the actual value.

[2017-07-28 07:40] AgainstWind opened #4921 "can i config the kubernetes version when installing the openshift origin by ansible?"
i want to use newer kubernetes component in the openshift.

[2017-07-28 09:08] hemmop commented on #4886
@ewolinetz I re-run the playbook with the labels you recommended, but I still get ```EmptyDir``` as storage.

[code]

I have also pulled the last commits from the release-1.5 branch:

[code]

Here are some selected output from the playbook run:

[code]

And the resulting dc's:

[code]

[2017-07-28 12:25] rcernich commented on #4889
It sounds like an issue with the volume being used.  Maybe it wasn't cleaned out or maybe the permissions on the directory are incorrect.

[2017-07-28 13:02] sdodson commented on #4921
No, openshift does not currently install on top of kubernetes. Instead it includes kubernetes code in itself.

[2017-07-28 13:02] #4921 closed

[2017-07-28 13:52] ewolinetz commented on #4886
@hemmop yeah, looking through the code it seems that the shift went from using the PVCs with that label to reusing ones that the PVC had already bound. We should be using a PVC from that list if it is not already bound, however it may require further restructuring to check if its already mounted for a DC.

Given that we can now provide a PV label for our PVCs to mount to, it may be that we should

[2017-07-28 13:54] jarrpa commented on #4745
@jcpowermac Can you see if the above helps fix your issue?

[2017-07-28 14:04] jcpowermac commented on #4745
@ozdanborne can you fetch this [PR](https://github.com/openshift/openshift-ansible/pull/4909) and test?

[2017-07-28 14:43] tdudgeon commented on #4889
OK, seems like that might be the case. I tried again with a new setup and its working fine.
Don't really understand what could have been different, but clearly the template is woking.

[2017-07-28 14:43] #4889 closed

[2017-07-28 15:19] hemmop commented on #4886
@ewolinetz  I tried removing the PVCs, and instead label the PVs with ```logging-infra```, but I never got past the [when statement](https://github.com/openshift/openshift-ansible/blob/release-1.5/roles/openshift_logging/tasks/set_es_storage.yaml#L62) guarding the PVC-creation.

[2017-07-28 16:16] djdevin opened #4934 "AttributeError: 'str' object has no attribute 'decode'"
#### Description

When attempting to redeploy a new CA I get an error.

The initial ansible cluster installation went fine.

[code]

##### Version

[code]

[code]

##### Steps To Reproduce
1. `ansible-playbook -i hosts openshift-ansible/playbooks/byo/openshift-cluster/redeploy-openshift-ca.yml`  on an existing cluster

##### Additional Information

Bastion is CentOS7 (python2)

Cluster members are

[2017-07-28 17:00] ozdanborne commented on #4745
I know @kprabhak successfully installed Calico using this PR. I'll run it myself today.

[2017-07-28 18:14] ilackarms commented on #4567
simpler way of 'disabling' nfs is to specify no `[nfs]` nodes in the hosts file.

running the cfme role without any nfs nodes causes it to quickly error looking for
`openshift_cfme_nfs_server: "{{ groups.nfs.0 }}"`: https://github.com/openshift/openshift-ansible/blob/master/roles/openshift_cfme/defaults/main.yml#L30

[2017-07-28 18:16] ozdanborne commented on #4745
Still hitting an error. Commented on the PR. Retrying with the fix.

[2017-07-28 18:22] dustymabe opened #4935 "improper dnsmasq config - pods don't have dns to outside world"
When using `ansible-2.3.1.0-1.fc25.noarch` to run openshift-ansible @ a095a16 (with `openshift_release=v1.5.1`) against a set of Fedora 26 Atomic Host's in DigitalOcean I don't get a proper dns set up (running pods within openshift can't get dns). DigitalOcean uses a static networking configuration (not from DHCP) and the network-scripts files that get populated don't have dns information in them,

[2017-07-28 18:59] sdodson commented on #4935
My plan is to if /etc/resolv.conf doesn't have our watermark and NM isn't instructing us as to the correct nameservers then we'll just copy the nameservers from /etc/resolv.conf into /etc/dnsmasq.d/origin-upstream-dns.conf and then reset /etc/resolv.conf to point at dnsmasq.

[2017-07-28 19:08] hemmop commented on #4886
@ewolinetz ```es_pvc_size``` would be the default ([empty string](https://github.com/openshift/openshift-ansible/blob/release-1.5/roles/openshift_logging/defaults/main.yml#L88)), because we had not defined ```openshift_hosted_logging_elasticsearch_pvc_size``` (or should it be ```openshift_logging_es_pvc_size``` as the documentation claims) in the inventory (because we wanted to use the existing PV

[2017-07-28 19:11] dustymabe commented on #4935
Will that be part of the NM dispatcher that runs when NM starts or will that just happen once when openshift-ansible is executed?

[2017-07-28 19:12] ewolinetz commented on #4886
@hemmop ack, that should be the problem there then... if you're using the `playbooks/byo/openshift-cluster/openshift-logging.yml` playbook, I would suggest using `openshift_logging_es_pvc_size`.

[2017-07-28 19:16] sdodson commented on #4935
It'd be part of the dispatcher script for now. Longer term I'd like to transition this out of NM dispatcher script and something that's part of the node and owned by the networking team rather than the installer.

[2017-07-29 04:34] enj commented on #4880
Fixed by #4933

[2017-07-29 04:34] #4880 closed

[2017-07-29 16:08] ilackarms opened #4945 "CFME manageiq pod does not start, never passes health check"
#### Description

I ran the following playbook:

[code]

In `openshift-ansible/playbooks/byo/`

Where it ran and finished successfully (no failure messages). Output here: https://gist.github.com/ilackarms/df4345d0d4bfcd8adc3b4497e8081f13

The hosts file I used:

[code]

After `ansible-playbook` finished successfully, I `ssh`ed to the master to confirm everything works:

[code]

These commands all

[2017-07-29 16:23] ilackarms commented on #4945
The manageiq pod *can* directly connect to the memcached service; the problem must be dns resolution:

[code]

[2017-07-31 01:11] AgainstWind opened #4946 "how to change the kubernetes's version?"
.

[2017-07-31 12:18] cello86 opened #4948 "RHEL 7 : cannot stat /proc/sys/kernel/exec-shield: No such file or directory"
#### Description
We tried to install Openshift Origin 1.4.0 on a 3 nodes cluster shipped with RHEL 7.3, but during the installation we received this error:

The parameter has been moved out from /proc as reported into this note https://access.redhat.com/solutions/974563.

##### Version
# ansible --version
ansible 2.3.0.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = De

[2017-07-31 12:34] sdodson commented on #4948
@cello86 I don't think it's the cause of your problems, but please be aware that you should be using the `release-1.4` branch of this repo in order to install Origin 1.4. I imagine that this the result of a broken /etc/sysctl.conf prior to running our installer and that needs to be addressed first. Prior to running our installer can you run `systectl -p /etc/sysctl.conf` and see if you get the sam

[2017-07-31 13:04] #4946 closed

[2017-07-31 13:19] phoracek opened #4950 "Local VMs deployment fails with "NetworkManager must be installed and enabled prior to installation""
#### Description

Local VMs deployment fails with "NetworkManager must be installed and enabled prior to installation" even though NetworkManager is running on the host machine.

##### Version

[code]

##### Steps To Reproduce
1. Install dependencies, clone openshift-ansible repo.
2. Run `bin/cluster create libvirt lenaic`

##### Expected Results

Successfully deployed OpenShift.

##### Observed R

[2017-07-31 20:06] braun1928 commented on #4394
Hey @jarrpa, I got back to test this, and it all worked with the latest commit. Thanks for all the help!

[2017-07-31 20:06] #4394 closed

[2017-08-01 01:16] enj opened #4956 "Service catalog roles must not use policy objects"
@ewolinetz see #4880 for details.

cc @pmorie @sdodson

[2017-08-01 11:15] sbadakhc commented on #2105
@brennv Thanks I will take a look and feedback.

[2017-08-01 13:16] ewolinetz commented on #4956
Is there much work to be done with this? We are using the the policy modules but the underlying `policy` objects used have been transitioned to `role`

[2017-08-01 13:17] sdodson commented on #4956
#4933 may be a better reference for suggested implementation

[2017-08-01 14:11] lmello opened #4959 "Submit lib_openshift to ansible upstream or ansible galaxy"
#### Description
lib_openshift makes it possible for anyone to create ansible playbooks to deploy services in an openshift cluster.

Currently it is used internally in this playbook to deploy logging and metrics on an existing openshift cluster.

It would be really useful to have it available in ansible upstream or at least available as an ansible galaxy module.

This would allow anyone to deploy

[2017-08-01 14:16] sdodson commented on #4956
I think these are the problem lines that we need to figure out. @enj can you reach out and hack this out with @ewolinetz ?

[code]

[2017-08-01 14:57] brenton commented on #4883
This was likely a flake caused by a completely unrelated problem. You can see just before the failure that the namespace was created.  This code hasn't changed since OCP 3.1.  However, it does expose the fact that it needs to be deprecated.  OCP 3.6 has a new way to deploy CFME on top of OpenShift.  The card tracking that work is here:

https://trello.com/c/jeXsLUwi/494-we-should-only-have-one-way

[2017-08-01 16:15] harobed opened #4965 "Error: unknown command "drain" for "oc" in « Drain Node for Kubelet upgrade » action"
« [Drain Node for Kubelet upgrade](https://github.com/openshift/openshift-ansible/blob/release-3.6/playbooks/common/openshift-cluster/upgrades/upgrade_nodes.yml#L27) » action execute: `oadm drain ...` but this command don't exists:

[code]

with this version:

[code]

To fix it, I need to add `adm` like this `oadm adm drain ...`

[code]

[2017-08-01 16:58] ozdanborne commented on #4745
@jcpowermac #4909 works. Can we merge?

[2017-08-01 18:00] sdodson commented on #4965
Is your oadm binary in a weird state? compare `oc version` with `oadm version` ?

[2017-08-01 18:28] smarterclayton opened #4967 "Can't run openshift-ansible against a 3.7.0 origin tag"
https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_conformance_gce/5209

is failing (contains the v3.7.0-alpha.0 tag) because we haven't added code to ansible to tolerate 3.7.

Need someone to fix this and other places where we require a recognized version.

[2017-08-01 18:28] smarterclayton commented on #4967
@sdodson @jupierce @stevekuznetsov blocks merging the 3.7.0 tag into master.

[2017-08-01 18:30] stevekuznetsov commented on #4967
[code]

[2017-08-01 18:30] smarterclayton commented on #4967
Tag is in https://github.com/openshift/origin/pull/15591

[2017-08-01 18:30] smarterclayton commented on #4967
I suspect there are others, since we have several case statements for versions

[2017-08-01 18:44] sosiouxme commented on #4967
I'll whip something up for that specific one, can't vouch for anywhere else.

[2017-08-02 08:10] saurabhdevops opened #4972 "Openshift Origin Minor Version Upgarde 1.5.0 -> 1.5.1 failing"
#### Description

We have openshift origin 1.5.0 cluster. We need to upgrade this to 1.5.1 without losing all the current work that we did in 1.5.0.

##### Version

Ansible Version - ansible 2.3.1.0
Git branch - release-1.5

##### Steps To Reproduce
- Install Openshift Origin 1.5.0 using ansible.
- Try to upgrade it to 1.5.1

##### Expected Results
Cluster Upgraded

##### Observed Results
Cluster

[2017-08-02 08:39] harobed commented on #4965
[code]

[code]

[2017-08-02 08:40] harobed commented on #4965
[code]

[2017-08-02 12:46] sdodson commented on #4972
Do you get an error? Can you post logs somewhere with -vvv option?

[2017-08-02 15:37] sosiouxme commented on #4967
aos-ci-test

[2017-08-02 17:19] smarterclayton opened #4979 "3.7.0 upgrade - remove support for old leader election mode and openshift-master.service"
https://github.com/openshift/openshift-ansible/pull/4832 removed support for two old modes of installation:

1. running etcd inside of the openshift master
2. running single process openshift master (instead of split api and controllers for HA)
3. using etcd leader election (instead of using the new config map mutation mode)

The first two only apply to single master setups.

The first item will r

[2017-08-02 22:38] smarterclayton commented on #4967
We're still broken:

[code]

is the new one

[2017-08-03 01:26] ilackarms commented on #4567
there are two possible routes for supporting Amazon PVs (backed by AWS EBS Volumes):
1 - Static Provisioning
2 - Dynamic Provisioning

Using the static provisioning route, users will specify EBS volumes by id that are created prior to running the cfme playbook

The Dynamic Provisioning route is more complex. It will require a StorageClass to be created (see https://github.com/openshift/openshift-a

[2017-08-03 07:17] j00p34 commented on #4567
default StorageClass is actually automatically created in the latest setup. I have just run the unmodified miq-template.yml from  https://github.com/ManageIQ/manageiq-pods/blob/master/templates/miq-template.yaml without nfs and without creating PV's and it works out of the box on Amazon with dynamic provisioning of ebs storage.

my setup:
OpenShift Master:
v3.6.0-rc.0+8ef052d-472
Kubernetes Master

[2017-08-03 11:41] mrsiano opened #4985 "openshift_hosted_facts task failed merge two dicts"
#### Description
when using config playbook, ansible-playbook -i inventory/byo/hosts playbooks/byo/config.yml

I've got the following error:

##### Version
ansible 2.3.1.0

* The output of `git describe`
openshift-ansible-3.7.1-1-76-g1765ce2

Place the output between the code block below:

task path: /root/openshift-ansible/roles/openshift_hosted_facts/tasks/main.yml:9
Thursday 03 August 2017  07:

[2017-08-03 11:55] mrsiano commented on #4985
seems like the problem related to oo_merge_hostvars, the last change was by commit 'f0c412a9ab50a9030d51f83c459a66451a7c344a'
@smarterclayton could your review this

[2017-08-03 12:05] cello86 commented on #4948
@sdodson  I confirm that a puppet module apply this change before the installation. We have fixed it and the installation works fine.

Thanks a lot,
Marcello

[2017-08-03 12:24] #4948 closed

[2017-08-03 12:26] sdodson commented on #4985
@mrsiano can you please provide your inventory?

[2017-08-03 13:24] mrsiano commented on #4985
@sdodson sure thing

[OSEv3:children]
masters
nodes

[OSEv3:vars]
ansible_ssh_user=root
ansible_become=false
qe_openshift_kerberos_user=emarcian@redhat.com
qe_openshift_token=somehashkey
aos_repo=someprivaterepo
debug_level=2
deployment_type=openshift-enterprise
openshift_install_examples=true
oreg_url=registry.ops.openshift.com/openshift3/ose-${component}:${version}
openshift_master_identity_prov

[2017-08-03 14:42] ilackarms commented on #4567
@j00p34 so volumes matching persistent volume claims will automatically be provisioned? Can we remove all the manual NFS-provisioning code, and allow storage volumes to be provisioned dynamically from NFS storage class?

[2017-08-03 15:09] stevekuznetsov commented on #4967
@detiber @mtnbikenc @giuseppe you have all touched `roles/openshift_master_facts/lookup_plugins/openshift_master_facts_default_predicates.py` can one of you please fix the above

[2017-08-03 20:30] jsuchenia opened #4994 "K8S DNS does't work after simple deployment"
#### Description
After simple installation of Origin DNS inside a kubernetes cluster doesn't work.
I can't ping *kubernetes.default.svc.cluster.local* address neither from a node (any) or from a pod - DNS timeout

##### Version
[code]

##### Steps To Reproduce
1. Install 5 Centos 7 (7.3.1611) machines (sttaic IP, but provided by DHCP)
2. yum install -y NetworkManager
3. systemctl restart NetworkMa

[2017-08-03 20:40] jsuchenia commented on #4994
After installation generated resolv.conf looks like below:

[code]

and dnsmasq configuration:
[code]

[2017-08-03 20:42] jsuchenia commented on #4994
There is a dnsmasq listening on an external IP:
[code]

No other DNS listening on 127.0.0.1

[2017-08-03 20:48] smarterclayton commented on #4967
This now fails because it installs prometheus by default (why?) and that causes the e2e tests to fail:

https://ci.openshift.redhat.com/jenkins/job/zz_origin_gce_image/348/testReport/junit/(root)/Extended/BeforeSuite/

Prometheus should not be installed by default

[2017-08-03 20:49] smarterclayton commented on #4967
Maybe not - this could be a new interaction with tests.  Investigating.

[2017-08-03 21:10] joelddiaz commented on #4782
@tbielawa i was able to remove the imagestreams and just point to the docker hub container images directly.

I deleted the imagestream objects, and also had to update the deploymentconfig to remove the imagestream pieces out of the triggers section:

[root@jdiaztest-master-d13dd ~]# oc get dc postgresql -o yaml | grep -A2 trigger
  triggers:
  - type: ConfigChange

The dc now just pulls directly f

[2017-08-03 21:12] joelddiaz commented on #4822
@simon3z I put this comment in #4782 , but i'll put it here as well.

i was able to remove the imagestreams and just point to the docker hub container images directly.

I deleted the imagestream objects, and also had to update the deploymentconfig to remove the imagestream pieces out of the triggers section:

[root@jdiaztest-master-d13dd ~]# oc get dc postgresql -o yaml | grep -A2 trigger
triggers

[2017-08-03 21:19] fbladilo commented on #4822
@simon3z @joelddiaz See this one, opened this week :

https://github.com/ManageIQ/manageiq-pods/issues/191

Needs discussion, I've seen the parameter bumped on other OpenShift clusters before. Repos can potentially have more than 5 tags/images, we have also some homework in our side to do.

[2017-08-04 01:23] stevekuznetsov commented on #4967
So to be clear, this is a blocker issue for pushing the new 3.7 tags into the Origin repo. Pushing those tags is now a blocker for our CI working (but we may have a workaround). @smarterclayton have you gotten anywhere in your investigation?

[2017-08-04 01:50] smarterclayton commented on #4967
It was a transient, looks like a real bug in prometheus but not consistent.

Next failure in ansible

[code]

[2017-08-04 01:51] smarterclayton commented on #4967
I might suggest someone use the GCE process to test this, rather than us continuing to take multiple hours to iterate via failures.

https://github.com/openshift/release/blob/master/cluster/test-deploy/README.md

Set OPENSHIFT_ANSIBLE_REPO to the absolute path to your ansible dir and it will be mounted into the image when you run the playbook.

[2017-08-04 02:18] stevekuznetsov commented on #4967
The completely illegible error above is

[code]

[2017-08-04 02:19] stevekuznetsov commented on #4967
@sdodson looks like the templates for 3.7 did not get correctly updated

[2017-08-04 02:20] stevekuznetsov commented on #4967
We also need to determine a better process for release cuts. Ideally, we would test the cut long before we need to actually do it to ensure that day of there are no surprises.

[2017-08-04 02:55] warmchang opened #4995 "Create libvirt cluster returns error (the VMs can't get IP)"
#### Description
Run "./bin/cluster create libvirt lenaic", return error that the VMs can't get IP.

#### Version

The master branch of openshift-ansible repo.

[code]

#### Observed Results
[code]

[2017-08-04 10:28] edseymour commented on #4965
I got this too, it causes the origin v1.5.1 -> v3.6.0 upgrade to fail.

After I  got the failure (which I think occurs after the oc client is updated), I noticed that oadm and oc link to the same /usr/local/openshift binary - hence the issue. So it's not clear if this is an issue with the 1.5 install, or a change in feature that's not made it through to openshift installer. (I think a better appro

[2017-08-04 13:06] sdodson commented on #4965
That shouldn't be a problem. openshift inspects $0 and acts accordingly.

@fabianofranz Think this may be a CLI bug where it's not properly picking up $0?

[2017-08-04 13:50] sdodson commented on #4967
#5002 added v3.7 hosted templates, i'll try to spawn a 3.7 gce environment.

[2017-08-04 13:51] stevekuznetsov commented on #4967
@sdodson there is a job that gives you a cluster now ... https://github.com/openshift/aos-cd-jobs/pull/518

[2017-08-04 15:35] #4567 closed

[2017-08-04 15:52] sdodson commented on #4994
What version of openshift do you have installed?
`openshift version`

I imagine you got 1.5 installed whereas the changes in master and release-3.6 depend on features added in 3.6. If you set openshift_repos_enable_testing=true it will enable the centos testing repo which is the only repo which has 3.6 at the moment.

Alternatively I think just running `yum-config-manager --enable centos-openshift

[2017-08-04 16:35] jsuchenia commented on #4994
@sdodson Thanks for suggestions, yes - this script is looking for latest RPM version available, which is 1.5.1 currently (and that doesn't work)

Using a setting that you mention enable testing repository and now with 3.6 it's working fine

Thanks for help

[2017-08-04 16:35] #4994 closed

[2017-08-04 17:24] sdodson commented on #4967
Master branch installs using these two variables
[code]

[2017-08-04 18:06] tbielawa commented on #4934
Update for you, we are working on merging a likely fix for this error now

[2017-08-04 19:55] rushabh268 commented on #2271
@abutcher Seeing the same issue on Atomic cluster where NetworkManager is installed on the master node

[2017-08-04 20:10] #4934 closed

[2017-08-06 00:53] kwoodson opened #5008 "ensure python-passlib is installed in health checks"
#### Description

Check that python-passlib is installed upfront before running the openshift_metrics installer.

[code]

##### Version

latest master

##### Steps To Reproduce
1. Run the metrics installer
2. Verify that it fails without python-passlib

##### Expected Results

I would expect that the upfront health checks would verify that python-passlib is installed on the installer host.

#####

[2017-08-06 19:05] mrsiano opened #5010 "deployment over multiple nics confilict"
#### Description
Iv'e tried to deploy my cluster for certain IP address, but it always assign nodes to the default NIC address.

I have two bare-metal hosts with multiple NICs, 2 of them are active and have an ip.
somehow, my deployment always assign nodes to default ip even If i setup otherwise.

those NICs are accessible internal only, but AFIK it is fair enough for ansible deployment.
I've also

[2017-08-06 19:06] mrsiano commented on #5010
@abutcher

[2017-08-06 20:45] smarterclayton commented on #4967
Failing in https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_templates/86 with

[code]

[2017-08-07 08:25] hemmop commented on #4886
@ewolinetz Re-run the playbook with the following changes:

[code]

This time, the playbook do create PVCs, but unfortunately this doesn't play well with our cluster because we are using [NetApp Trident](https://github.com/NetApp/trident) as the default storage provisioner.

The PVCs created look like:

[code]

but

1. Trident refuse to provision PVCs with label selectors (`"Kubernetes frontend ig

[2017-08-07 10:34] hemmop commented on #4886
I would which the code in [`master`](https://github.com/openshift/openshift-ansible/blob/master/roles/openshift_logging_elasticsearch/tasks/main.yaml#L195-L209) also existed in `release-1.5`.

[2017-08-07 13:02] sdodson commented on #4967
@stevekuznetsov I can't figure out what commit openshift-ansible is in that job. Why are we tito tagging openshift-ansible? Can we not simply `tito build --test` ?

[2017-08-07 13:35] stevekuznetsov commented on #4967
@sdodson AFAICT it was d7bfee0 -- I can't remember why but the `tito build --test` wasn't working for us maybe in Feb.

[2017-08-07 13:36] sdodson commented on #4967
I think that's a local commit created via `tito tag` I can't find it in the repo.

[2017-08-07 13:40] stevekuznetsov commented on #4967
Yeah, looks like it was.

[2017-08-07 14:17] sdodson commented on #4967
@smarterclayton I'm not going to worry about that failure, it looks like there's been several jobs against master branch since and many have passed?

[2017-08-07 15:05] abutcher commented on #4985
@mrsiano I wasn't able to reproduce with this inventory so it might have something to do with the scrubbed variables. Could you send the full inventory excluding tokens to my RH mail?

`openshift_ip` is set globally and should be set at the host var level.

[code]

[2017-08-07 15:44] ilackarms commented on #4557
@simon3z I was able to set `openshift_cfme_container_image` in my hosts file:
[code]

After running `openshift-cfme` playbook, I can see that manageiq pods are deployed using the configured image:

[code]

Am I missing something that isn't using the user-configured value for `openshift_cfme_application_img_name` ?

[2017-08-07 15:52] bennysan commented on #4541
I'm having the same issue for a fresh install using a fresh git clone.

I tried to apply the fix from #4651 but it doesn't works.

[code]

Here my config file:

[code]

The temporary yaml file:

[code]

And the persistant volume:

[code]

[2017-08-07 16:06] ewolinetz commented on #4541
https://github.com/openshift/openshift-ansible/pull/5005 and https://github.com/openshift/openshift-ansible/pull/5004 should address this

[2017-08-07 16:07] ewolinetz commented on #4541
It seems there is an issue with idempotently managing an already bound PVC, also we shouldn't be creating it if it already existed

[2017-08-07 16:08] poltorres7 commented on #2271
Hi @samvarankashyap & @rushabh268 I've solve it.  The problem was that I had a proxy configurated and openshift was going out in that route, when I disable it, the request was resolved it.

[2017-08-07 17:25] marekjelen opened #5015 "Containerised fails because of RPM version"
#### Description

Installing Origin v3.6.0 fails because it seems latest RPM release version is v1.5.1.

Based on Google searches this "feature" has been merged because some CI/CD was failing.

##### Version

[code]

##### Steps To Reproduce

[code]

##### Expected Results
Ansible should not be failing, as the v3.6.0 containers are released and when using containerised I do not care what RPMs are

[2017-08-07 17:31] ilackarms opened #5016 "Kube DNS names not resolving from within pods"
#### Description

DNS names for kubernetes services are not resolving after `byo` deploy.

##### Version

If you're operating from a **git clone**:

[code]

##### Steps To Reproduce
1. Create 3 fresh centos7 vms.
2. Using inventory file: https://pastebin.com/dM8epAAX
3. `ansible-playbook ~/workspace/openshift-ansible/playbooks/byo/config.yml -i hosts-file`
4. `ssh root@master-ip`
5. `oc exec -ti d

[2017-08-07 17:44] marekjelen commented on #5015
Adding

[code]

seems to fix this, but should not be required.

[2017-08-07 17:54] #4745 closed

[2017-08-07 18:35] marekjelen opened #5018 "Master image pull fails"
#### Description

When using

[code]

Ansible fails on `/roles/openshift_master/tasks/system_container.yml` saying that `system_images_registry` is not available in a dict.

Will try to provide more info once I try running with that configuration again.

[2017-08-07 18:44] marekjelen opened #5019 "Calico `calico_etcd_ca_cert_file` var is not present"
#### Description

Ansible fails on checking if Calico certs are present.

##### Version

[code]

##### Steps To Reproduce

[code]

##### Expected Results

Ansible should not fail.

##### Observed Results

[code]

[2017-08-07 18:47] sdodson commented on #5019
@marekjelen One common item from your other issues is that you're running ansible 2.2.0.0 but we require 2.2.2.0 or greater. I doubt that's the cause of this or the other issues you've raised but lets make sure you update to 2.2.2.0 or later.

[2017-08-07 19:01] marekjelen commented on #5019
Interesting, did not fail when rerun with

[code]

[2017-08-07 19:07] marekjelen commented on #5019
As it seems that #3111 is not going to affect when using the newer versions, it should be OK to just default to the new version :)

[2017-08-07 19:31] ilackarms commented on #4556
@tbielawa I tried running `playbooks/byo/openshift-cfme/config.yml` with the workaround you suggested: explicitly adding `[nfs]` to my hosts file. Everything worked nice and happy.

Then I tried running without that section. This reproduced the failure @simon3z had.

I tried replacing `groups.nfs.0` with `groups.oo_nfs_to_config.0` in `roles/openshift_cfme/defaults/main.yml`. Re-running (without `

[2017-08-07 19:33] sdodson opened #5021 "Run `oadm migrate authorization` pre 3.6 to 3.7 upgrades"
Prior to upgrading from 3.6 to 3.7 we must run
`oadm migrate authorization` with no parameters, if the command fails the upgrade should abort. The command may fail in a loaded cluster and should be retried every 15 seconds for up to one minute?

CC: @enj

[2017-08-07 19:34] tbielawa commented on #4556
@ilackarms are you using NFS storage? I think you are correct in that we should be using `oo_nfs_to_config` instead of the `groups.nfs.0` parameter we use now.

[2017-08-07 20:04] ilackarms commented on #4556
@tbielawa yes I am. I tried removing `[nfs]` section from my hosts file and re-running (even though nfs is already configured). I believe `oo_nfs_to_config` is not set unless the `[nfs]` section is present in hosts file.

[2017-08-07 20:24] tbielawa commented on #4556
Hm. I figured our group initializers would at least default it to an empty
set. I'll have to take a closer look at that later.

On Mon, Aug 7, 2017 at 4:04 PM, Scott Weiss <notifications@github.com>
wrote:

--
Tim Bielawa, Sr. Software Engineer [ED-C137]
1BA0 4FAB 4C13 FBA0 A036  4958 AD05 E75E 0333 AE37

[2017-08-07 20:25] marekjelen commented on #5019
Worked for a clean run as well. Feel free to close this issue @sdodson and thanks for the pointer on the Ansible version :)

[2017-08-07 20:32] enj commented on #5021
@deads2k any comments on this?

[2017-08-07 20:49] richm opened #5022 "logging - validate mux parameters"
#### Description

Since the openshift ansible run takes a long time, please add a check before the ansible installation that validates the logging mux parameters.

After a very very long run the ansible failed with this error:
[code]

##### Version

[code]

##### Steps To Reproduce
1. in vars.yaml, specify
[code]
2. do logging install with `openshift_logging_use_mux=True`

##### Expected Results

[2017-08-08 01:30] sdodson commented on #5019
Cool, thanks for getting back to us.

[2017-08-08 01:30] #5019 closed

[2017-08-08 09:57] bmduffy commented on #4836
Hi @ewolinetz,

I reran and see the issue again. Any manual configuration done to logging is wiped out. I should point out that I have `openshift_hosted_logging_deploy=true` set in my hostfile.

The `hostPath` is set but the necessary config patches to access that `hostPath` are overwritten.

If I set this to `openshift_hosted_logging_deploy=false` logging is ignored. But what if I want to reconfi

[2017-08-08 12:38] milad-soufastai commented on #3498
I have had the same error running on Mac OSX with the latest version of Ansible. I ended up running the playbook on a VM and it ran fine.

[2017-08-08 17:30] abutcher commented on #4985
@mrsiano were you able to work around? I wasn't able to reproduce with the full inventory.

[2017-08-08 21:41] sdodson commented on #4967
Both install and upgrade verified to work locally.

[2017-08-08 21:44] smarterclayton opened #5034 "OpenShift deployment failed on latest master due to syntax error while resolving openshift.common.is_atomic"
[code]

https://ci.openshift.redhat.com/jenkins/job/zz_origin_gce_image/360/consoleText

[2017-08-08 22:07] sdodson commented on #5034
origin-gce needs to add playbooks/common/openshift-cluster/std_include.yml somewhere. @kwoodson can you take a look at https://github.com/openshift/origin-gce/blob/master/playbooks/configure.yaml and help @smarterclayton out?

[2017-08-08 22:09] sdodson commented on #5034
We probably need to verify that the ref-arches aren't totally wrecked now too. CC: @cooktheryan

[2017-08-08 22:10] cooktheryan commented on #5034
@sdodson yikes. yes thanks for the heads up

[2017-08-09 04:08] slaterx opened #5038 "Only the first identity provider is configured when you declare multiple providers"
#### Description

On a single master multiple nodes install, openshift-ansible installs only the first provider defined in the fact openshift_master_identity_providers.

##### Version

[code]

##### Steps To Reproduce
1. Create your hosts file and declare your identity providers:
openshift_master_identity_providers=[{'name': 'htpasswd_auth', 'login': 'true', 'challenge': 'true', 'mappingMethod': '

[2017-08-09 04:20] pmorie opened #5039 "service-catalog installer should use the same template used by oc cluster up"
The installer and `oc cluster up` currently use different templates.  We should deduplicate to the greatest possible degree, preferably making the installer use the exact same templates as `oc cluster up`.

[2017-08-09 04:20] pmorie commented on #5039
@jpeeler this one is for you.

[2017-08-09 07:16] jkaurredhat commented on #5018
Try adding as below in inventory file like :

system_images_registry="docker.io" or system_images_registry="registry.access.redhat.com" depending on your platform.

[2017-08-09 07:22] jkaurredhat commented on #5015
It is actually required because the condition checks if openshift_pkg_version or openshift_image_tag is defined, it gives a permission the rpm and docker image versions can differ else it throws the error you are seeing

[2017-08-09 11:21] mrsiano commented on #4985
@abutcher yep, I just comment out those lines.
I'll try to refresh and pull again the project, will let you know next..

[2017-08-09 11:32] ingvagabund commented on #4023
If the rpm version and docker image version differs, you can set the following variables explicitly:
[code]

The `openshift_pkg_version` corresponds to available rpm version and `openshift_version` to the docker one.

[2017-08-09 12:28] besser82 opened #5040 "[GlusterFS] Failure when loading Heketi topology"
When setting up GLusterFS-strorage on a containerized install of OpenShift 3.6, Ansible fails with:

[code]

I'm running this from a git checkout of openshift-anisble, commit: 6ea975cb10d2e987d0fb7d2c01c3a95f9d87bac1

[2017-08-09 12:43] sdodson commented on #5034
Basically if you're calling directly into a role that depended on openshift_facts you're probably going to have a bad time. If you're only calling playbooks/byo/* you should be fine.

For this particular problem we can likely just get rid of anything openshift_facts related in os_firewall.

[2017-08-09 16:28] marekjelen commented on #5015
If it is really that conditional check, then the message has pretty weird wording.

Anyway, up until switching to `release-3.6`, it was enough to have

[code]

which makes sense, as the Ansible script can easily push the into into the correct variable, based on whether containerized is True or False (or other switches) and frees the user from figuring that out.

[2017-08-09 17:14] jarrpa commented on #5040
Let's start with more information:

 * Output of `oc get po` in the namespace of the GlusterFS and heketi pods
 * `oc describe` output of any pods not yet `Running`.
 * Output of `oc rsh --namespace=glusterfs deploy-heketi-storage-1-lwq3h heketi-cli -s http://localhost:8080 --user admin --secret SECRET cluster list`
 * Output of `oc rsh --namespace=glusterfs deploy-heketi-storage-1-lwq3h heketi-cl

[2017-08-09 21:54] joelddiaz opened #5049 "openshift_cfme default namespace name"
The default namespace for the openshift_cfme role is set in defaults/main.yml to
[code]
We should be using the reserved namespace prefix 'openshift-'.

[2017-08-10 00:34] DenverJ opened #5050 "Hangs at: TASK: [os_firewall | Start and enable iptables service] when installing from a master"
#### Description
When installing a multi-master cluster using one of the masters to run the play, it hangs at TASK: [os_firewall | Start and enable iptables service]. Note this is the same/similar as #434 and #747 and we have set ansible_connection=local.

The problem here is attempting to run the task on master2 (when master1 is running the play). It is the starting of iptables on master1 that br

[2017-08-10 08:11] aizuddin85 commented on #5010
@mrsiano have you tried to put those IP in /etc/hosts and assign a name to it?

[2017-08-10 08:14] aizuddin85 commented on #4833
@davivcgarcia try to use openshift_hosted_metrics_deployer_version=v1.5.1 on the inventory file.

[2017-08-10 09:24] aizuddin85 commented on #4950
@phoracek what was the output of ```systemctl show NetworkManager``` on the failed node?

This is the part where it fails from the playbook(openshift-ansible/playbooks/byo/roles/openshift_node_dnsmasq/tasks/main.yml):
[code]

[2017-08-10 12:28] AlbertoPeon opened #5052 "Upgrade to 3.6 playbook fails with `etcd_peer` is undefined"
#### Description

An error happens halfway whe running the upgrade playbook from 3.5 to 3.6 (ref. /openshift-ansible/playbooks/byo/openshift-cluster/upgrades/v3_6/upgrade.yml) in our multi-master, multi-node cluster. The error seems to be a bug in the  `etcd_upgrade` as `etcd_peer` is empty. See below for the actual error message.

##### Version

[code]

##### Steps To Reproduce
1. `ansible-playbo

[2017-08-10 12:40] sdodson commented on #5052
@AlbertoPeon Can you please try with ansible-2.2.3.0? We know there are problems with 2.2.0.0.

[2017-08-10 13:31] AlbertoPeon commented on #5052
@sdodson Right! Re-run the script with ansible-2.3.1 and worked as expected. Thanks for the suggestion!

[2017-08-10 13:31] #5052 closed

[2017-08-10 15:43] smarterclayton commented on #5034
Fixed in openshift/origin-gce#41, until such a time as os_firewall is updated.  Lowering priority and assigning to myself to go fix.

[2017-08-10 15:53] smarterclayton commented on #4979
Second part is implemented in the original PR.  First part scott is doing.  Third part I'll do.

[2017-08-10 16:30] deads2k opened #5056 "Need to enable the aggregator by default."
In 3.7, the aggregator is on by default. The front proxy keys and certs used to enable it should be on by default in 3.7

[2017-08-10 21:25] jraubswitch opened #5059 "rpm install for origin 3.6.0 missing rpms?"
http://mirror.centos.org/centos/7/paas/x86_64/openshift-origin/ does not contain the origin-3.6.0 rpms

[2017-08-11 05:19] andrewklau commented on #4965
If you get stuck in the upgrade where it seems to retry 60 times, you should have enough time to overwrite the adm alias with a little bash script so you don't have to restart the upgrade script:

[code]

[2017-08-11 05:32] #3993 closed

[2017-08-11 05:33] andrewklau opened #5061 "openshift_install_examples not respected in upgrades"
#### Description

When `openshift_install_examples=false` the upgrade should also not import all the imagestreams and templates. This is rather annoying as it can end up triggering a lot of builds (or overwriting wrong imagestreams) plus import undesired templates.

[2017-08-11 06:18] SweetOps commented on #5040
I get an error on the same step, I'm using master branch and containerized install of OpenShift 3.6

[code]
output of `oc get po` in the namespace of the GlusterFS and heketi pods:
[code]

output of `oc logs deploy-heketi-storage-1-0jj3k -n glusterfs` :
[code]
output of `oc rsh --namespace=glusterfs deploy-heketi-storage-1-0jj3k heketi-cli -s http://localhost:8080 --user admin --secret 60lHxTS5vBu

[2017-08-11 09:02] TimoL commented on #5059
+1, stuck at
[code]

[2017-08-11 09:07] TimoL commented on #5059
This seems to be a duplicate of #5015

[2017-08-11 12:18] jaryn opened #5062 "Metrics won't start. It is missing --truststore_authorities param"
#### Description

Start of the metrics pods fails:

[cloud-user@ose3-master ~]$ oc -n openshift-infra log hawkular-metrics-mhg6p
2017-08-11 12:10:12 Starting Hawkular Metrics
The --truststore_authorities value is not specified. Aborting

I am not sure whose problem is it.

##### Version
[code]

##### Steps To Reproduce
1. Deploy using openshift-ansible

##### Expected Results
Deployed with hawkula

[2017-08-11 13:03] sdodson commented on #5061
https://trello.com/c/zLaSgxig/436-2-customers-need-a-way-to-opt-out-of-openshift-ansible-template-and-imagestream-mangement

[2017-08-11 13:41] jarrpa commented on #5040
You topology file is badly formatted.

[code]

should be:

[code]

[2017-08-11 13:54] tremble opened #5065 "Scale-up play doesn't check nodes for 'Ready' state before completion"
#### Description

When running the 'scaleup' playbook ansible doesn't check that the new nodes report 'Ready' before completion

##### Version
[code]

##### Steps To Reproduce
1. Install cluster
2. Scale-Up node with 'bad' configuration (in our case accidentally including OpenShift 3.6 RPMs with 3.5 masters)

##### Expected Results

[code]

##### Observed Results

[code]

##### Additional Informat

[2017-08-11 13:55] tremble commented on #5065
Comments from @sdodson on IRC

[2017-08-11 14:53] dmytroleonenko opened #5068 "Drain command fails on upgrade"
https://github.com/openshift/openshift-ansible/blob/d25db0f66934ef08c802090be6f433a7035d3fd5/playbooks/common/openshift-cluster/upgrades/upgrade_nodes.yml#L29

It looks like *drain* should be rather *adm drain*
Before fixing it was always timing out for me

[2017-08-11 15:02] sdodson commented on #5068
Dupe of #4965

[2017-08-11 15:02] #5068 closed

[2017-08-11 15:10] SweetOps commented on #5040
yes, I know it, but topology.json created by ansible so I think it bug  or I'm should to open the new issue?

[code]

[code]

I have tried to install from various environment, but same result
[code]

[code]

[2017-08-11 15:14] dmytroleonenko commented on #4965
Seems like no one tried an upgrade path before the release :) Otherwise the upgrade would have failed

[2017-08-11 15:19] jarrpa commented on #5040
@SweetOps Hmm.... can you edit your `topology.json` the way I mentioned, then run the following:
[code]
and see if that succeeds?

[2017-08-11 15:22] jarrpa commented on #5040
@SweetOps Also, I just realized your issue is different from the OP's. Can you start a new Issue with the information thus far?

[2017-08-11 15:26] sosiouxme opened #5069 "[logging] The requested handler 'restart master' was not found"
#### Description

While running a logging install from the master branch of o-a I was blocked by an error, both running via `openshift-logging.yml` and `byo/config.yml`.

` ERROR! The requested handler 'restart master' was not found in either the main handlers list nor in the listening handlers list`

##### Version

[code]

##### Observed Results

https://gist.github.com/sosiouxme/0714f0cfc896eb5d

[2017-08-11 15:28] tbielawa commented on #5069
End part of the larger log

[code]

[2017-08-11 15:57] malagant commented on #4800
Same happens here with Centos 7.3-1611. Any comments?

[2017-08-11 17:38] sudhirpandey opened #5070 "Failed to pull image "openshift/origin-efs-provisioner:v1.0.0""
#### Description
While trying out external provisioner for efs .
as documented here in aws

the ansible deployment itsef is  sucessfull.. how ever the efs pod cannot come alive.
I guess its because of the missing image.

Provide a brief description of your issue here. For example:

Followed this document to get external provisioner up .
https://docs.openshift.org/latest/install_config/provisioners

[2017-08-11 17:39] SweetOps opened #5071 "Load heketi topology: Unable to parse config file"
I'm using master branch and containerized install of OpenShift 3.6 and get an error on the same step

[code]
output of `oc get po` in the namespace of the GlusterFS and heketi pods:
[code]

output of `oc logs deploy-heketi-storage-1-0jj3k -n glusterfs` :
[code]
output of `oc rsh --namespace=glusterfs deploy-heketi-storage-1-0jj3k heketi-cli -s http://localhost:8080 --user admin --secret 60lHxTS5vB

[2017-08-11 17:46] sdodson commented on #5070
@wongma7 @childsb do we need to update where we pull the efs provision or will it soon exist at openshift/origin-efs-provisioner?

[2017-08-11 17:48] childsb commented on #5070
No we didn't plan to move it to an openshift repo.

[2017-08-11 18:07] #5069 closed

[2017-08-11 18:43] SweetOps commented on #5071
I've edited topology.json and run command manualy:

[code]

[code]

the 8080 is not listening on localhost:
[code]

heketi listening only on 172.30.67.227:8080
[code]
so I've tried with http://172.30.67.227:8080, but no luck
[code]

[2017-08-11 18:54] SweetOps commented on #5040
@jarrpa, I've opened new issue https://github.com/openshift/openshift-ansible/issues/5071

[2017-08-11 20:01] sdodson commented on #4965
Dug into this a bit, the problem is that we're copying the oc binary out of the container and placing it in /usr/local/bin/openshift

I was only able to reproduce this on atomic host, it doesn't seem to happen on a rhel host using a containerized install.

[2017-08-11 21:28] sdodson commented on #5021
@enj when we say prior to we mean while still running 3.6? I remember we discussed this but I should've recorded when it needs to be run.

[2017-08-11 21:36] jarrpa commented on #5040
@SweetOps Thanks. :)

@besser82 Still waiting for more information.

[2017-08-11 21:41] jarrpa commented on #5071
Did you miss the opening curly brace in your copy or is it missing in the file?

[2017-08-11 22:02] SweetOps commented on #5071
@jarrpa, sorry I missed it when made a copy

[code]

[2017-08-11 22:08] jarrpa commented on #5071
Try removing the spaces in '[ "/dev/xvdb" ]'?

[2017-08-11 22:14] jraubswitch commented on #5059
#5015 has containerized=true I was installing the rpm version. (implicitly not setting containerized or setting containerized=false)

[2017-08-11 23:01] SweetOps commented on #5071
same result
[code]
[code]
[code]

[2017-08-11 23:03] jarrpa commented on #5071
Hmm... I'll see if I can replicate it locally tomorrow.

[2017-08-11 23:31] SweetOps commented on #5071
I've deleted namespace with glusterfs and rerun playbook. Now I get error like in issue https://github.com/openshift/openshift-ansible/issues/5040 .

[code]

And also I've tried run command with manually edited topology.json
[code]
[code]

[2017-08-12 11:45] besser82 commented on #5040
@jarrpa Here you go:

[code]

[code]

[code]

[code]

[2017-08-12 15:00] jarrpa commented on #5071
@SweetOps Are you sure you're editing the file inside the container? `/tmp/openshift-glusterfs-ansible-uyGejL/topology.json` exists both on the host and in the container, but since the heketi-cli command is also run within the container that file gets used.

[2017-08-12 21:07] jarrpa commented on #5040
@besser82 Is `172.30.0.1` the IP of your Kube API? can you verify that it's accessible from within the heketi pod? If not, something might be wrong with your networking. This thread might help: https://github.com/gluster/gluster-kubernetes/issues/215

[2017-08-13 05:30] rppf commented on #4207
Sorry for the late response. I already solved it. Thanks. I just misconfigured my ip address in my VM.

[2017-08-13 05:30] #4207 closed

[2017-08-13 06:41] rppf opened #5076 "Unable to restart service origin-master-api"
I'm trying to install Openshift Origin using Openshift Ansible on my server but I encountered an error.

[code]
### Details as follows:

###### Ansible Version
[code]
###### Server
[code]
###### My inventory.erb
[code]
###### This is the result when I run systemctl status origin-master-api.service
[code]
###### This is the result when I run journalctl -xe
[code]

Any possible solutions are deeply

[2017-08-13 12:57] portante commented on #4581
Do you agree that error handling is the majority of software engineering?  And do you also agree that making interfaces usable is also a big part of what we offer to users?

We offer playbooks that deploy logging, right?  Do we clearly tell the users that the playbook is not guaranteed to result in logging running successfully, only that all components are properly defined?

If we are not willing

[2017-08-13 13:23] ilackarms commented on #5016
I can no longer reproduce this problem. To the best of my understanding it may have been caused by underlying OS / newtorking issues although I am not sure. Closing for now, but I will update / reopen if I encounter it in the future.

[2017-08-13 13:23] #5016 closed

[2017-08-13 13:41] ilackarms opened #5077 "Default values for CFME container images are invalid"
#### Description

Deploying CFME from current master fails with the same error repeated for each of the 3 container images used by the CFME role:

[code]

##### Version

[code]

##### Steps To Reproduce
1. Deploy Origin using `playbooks/byo/config.yml` ([inventory template](https://github.com/ilackarms/ocp-ansible-jenkins/blob/master/inventory-template.ini) used)
2. Deploy CFME using `playbooks/by

[2017-08-13 13:48] ilackarms commented on #4945
closing this as #5016 describes the same problem in more detail

[2017-08-13 13:48] #4945 closed

[2017-08-13 19:16] SweetOps commented on #5071
@jarrpa , after the file was edited inside the container - everything ok, but it doesn't resolve issue with template `topology.json.j2`

[2017-08-13 19:20] jarrpa commented on #5071
@SweetOps You are correct, but I wanted to eliminate that potential issue first. :)

Can you show me your inventory file?

[2017-08-13 19:25] SweetOps commented on #5071
[code]

[2017-08-13 19:35] jarrpa commented on #5071
`glusterfs_devices` can not be a plain string, it must be a string representation of a valid JSON array, e.g. `'[ "/dev/xvdb" ]'`

Also, this does not follow our guidelines. You should not have a global `glusterfs_devices` var on all hosts. You would need to remove that line and update the `[glusterfs]` group as follows:
[code]

[2017-08-13 19:51] SweetOps commented on #5071
@jarrpa, I've tried to install with different variants of  `'[ "/dev/xvdb" ]'` and all time same result.

-  `'[ "/dev/xvdb" ]'`
-  `[ "/dev/xvdb" ]`
- `"[ '/dev/xvdb' ]"`
- `/dev/xvdb`
Why I can't have the `glusterfs_devices` var on all hosts? I've the same device on all hosts so I think it is not a mistake. And of course I've tried with:

[code]

[2017-08-13 20:19] jarrpa commented on #5071
...hm, all right, I suppose technically you can. ;P

This is bizarre... here's my environment:
[code]
So we're on the same versions of ansible and python, and I can still run the deployment successfully...

Let's try one more stupid thing. Set `glusterfs_devices=[ "/dev/xvdb", ]` and see what happens. Does glusterfs_devices still get parsed as a string?

[2017-08-13 20:51] jarrpa commented on #5071
Just for kicks, does your ansible config file have any settings not defaulted that might seem relevant?

[2017-08-14 07:11] hbhargav commented on #4579
@hangtwenty
Take a look at https://github.com/openshift/openshift-ansible/issues/3397

I had managed to resolve this issue by including "std_include.yml" in "/playbooks/aws/openshift-cluster/config.yml"

include: ../../common/openshift-cluster/std_include.yml
tags:
always

This way initialize_openshift_version.yml is included which sets up the openshift_pkg_version

Looks like the fix was contribu

[2017-08-14 07:25] jkaurredhat commented on #5076
It looks like you have a single master in that case the service that needs to be started is  :

atomic-openshift-master

instead of atomic-openshift-master-api or atomic-openshift-master-controllers as these services are for Highly available masters.

[2017-08-14 09:28] WangHouLing commented on #4281
Excuse me,is there any way that I could get metrics not be limited by tenant?

@mwringe @ewolinetz @jcantrill

[2017-08-14 09:33] SweetOps commented on #5071
@jarrpa, in my `ansible.cfg` added  only `host_key_checking = False`
[code]

I runed playbook yesterday with:

[code]
and got fine `topology.json`, but when I put `glusterfs_devices='[ "/dev/xvdb" ]'` globally I got the wrong `topology.json` - that's very funny and make me crazy. Why ansible parse the same variable on the different levels with different result?   Globally it's string, but on the h

[2017-08-14 09:39] SweetOps commented on #5071
I think need to try install with
[code]

[2017-08-14 10:07] mrsiano commented on #5010
yep, and it worked, just forgot to update

[2017-08-14 10:07] #5010 closed

[2017-08-14 11:37] rppf commented on #5076
@jkaurredhat What should I do or edit so that atomic-openshift-master is the one will be restarted?

[2017-08-14 11:45] jkaurredhat commented on #5076
Run :

systemctl restart atomic-openshift-master

[2017-08-14 11:47] rppf commented on #5076
@jkaurredhat  After that, Is it ok now to restart the installation?

[2017-08-14 11:53] jkaurredhat commented on #5076
yes please go ahead !!

[2017-08-14 12:38] jarrpa commented on #5071
@SweetOps Does it work for you? Note I don't think you need the extra curly braces.

[2017-08-14 12:53] sdodson commented on #5077
Closed via #5078

[2017-08-14 12:53] #5077 closed

[2017-08-14 12:53] rppf commented on #5076
@jkaurredhat I tried to run systemctl restart atomic-openshift-master this is the result
[code]

[2017-08-14 15:10] SweetOps commented on #5071
Unfortunately it doesn't work :(
[code]
I think need to add description of this issue to the README like a limitation.

@jarrpa, I've a a question doesn't related to this issue, but how I can change  type of volume from Replicated to  Distributed Replicated (https://access.redhat.com/documentation/en-US/Red_Hat_Storage/2.1/html/Administration_Guide/sect-User_Guide-Setting_Volumes-Distributed_Repli

[2017-08-14 15:19] sosiouxme commented on #4581
The current state of things is definitely not too user-friendly. I think we want (customers want) as much as possible to have everything automated in a single consistent way, not a long list of things you have to do after you run "an install". So in describing the status quo, let me not advocate for the status quo. It needs improvement.

One complication is that there can be a lot of wait time in

[2017-08-14 15:29] jarrpa commented on #5071
I'll work to add a note in the README. :)

You can't change the default heketi DB volume, but you can configure a StorageClass to set specific GlusterFS options: http://www.humblec.com/glusterfs-dynamic-provisioner-set-glusterfs-volume-options-via-storageclass-parameter/

Does that help?

[2017-08-14 15:32] sdodson commented on #5021
@mtnbikenc do you mind looking at this one? Not urgent but we need to get it done by the end of the current sprint before we attempt to deploy 3.7 to any environment.

[2017-08-14 16:44] jkaurredhat commented on #5062
Can you please ensure which images are being used. Make sure for version 3.5 you are not using latest as it will pull 3.6 images hence please ensure you are using for 3.5.

[2017-08-14 17:28] andjelx opened #5083 "add-nodes not working properly on AWS cluster"
#### Description
On aws cluster adding new host not working properly

##### Version

Please put the following version information in the code block
indicated below.

* Your ansible version per `ansible --version`

ansible 2.3.1.0
  config file = /root/openshift-ansible/ansible.cfg
  configured module search path = Default w/o overrides
  python version = 2.7.5 (default, Nov  6 2016, 00:28:07) [GCC

[2017-08-14 18:29] djdevin commented on #4965
Reproduced on F26 atomic. @andrewklau's suggestion got us past the step.

[2017-08-14 18:34] jsandova commented on #5062
@jkaurredhat I am getting the same error using OpenShift origin version 1.5 and 3.6. I don't see a branch listed for version 3.5.

[2017-08-14 18:39] jsandova commented on #5062
@jkaurredhat I see now that you are referring to the OCP version not the origin version. I am using Ansible, do you know what variable that would be where I set the OCP version? I want to make sure I am setting the correct variable.

[2017-08-14 20:24] jsandova commented on #4525
What did you update them to?

[2017-08-14 20:34] sdodson commented on #4967
This is now fixed.

[2017-08-14 20:34] #4967 closed

[2017-08-14 20:50] sdodson commented on #4965
@ashcrow Long term we need to fix why /usr/local/bin/openshift is actually the oc binary, but short term we can simply update all of the drain commands to be `oc adm drain` instead. I had started to look at https://github.com/sdodson/openshift-ansible/commit/2ea7c0d02d7bc10b3bb6313b13c3bbf37ca4a67c to understand where we ended up copying the wrong binary but I didn't get to the bottom of it.

[2017-08-15 02:22] rppf commented on #5076
What should I do then @abutcher. I'm still confused on how to resolve the issue.

[2017-08-15 03:04] wanghaoran1988 commented on #4979
Do we have an plan to split scheduler process out?

[2017-08-15 05:55] jkaurredhat commented on #5062
Have you set :
openshift_hosted_metrics_deployer_prefix=docker.io/openshift/origin-
or
openshift_hosted_metrics_deployer_prefix=registry.example.com:8888/openshift3/

and
openshift_hosted_metrics_deployer_version=3.5.0

[2017-08-15 07:30] mschelln commented on #4525
Changed from "https://kubernetes.default.svc.cluster.local" to "https://kubernetes.default.svc:443" (see bug report linked above).

To avoid manually changes of rc's I used
`openshift_metrics_master_url=https://kubernetes.default.svc:443`
for metrics and
`openshift_logging_master_url=https://kubernetes.default.svc:443`
for logging in my inventory file for installation.

Worked for me with openshif

[2017-08-15 10:04] tdudgeon opened #5088 "Provide info on failed nodes after install"
#### Description

As discussed on the mailing list (https://lists.openshift.redhat.com/openshift-archives/users/2017-August/msg00007.html) when a node fails to be provisioned there should be notification of this at the end of the process.

##### Version

Ansible version 22.3.1.0

Git checkout:
[code]

##### Steps To Reproduce

Run installer with simple 1 master, 1 node setup. Installer completes,

[2017-08-15 14:01] tbielawa commented on #5088
My response, copied from openshift-users mailing list,

Can you please provide more information? You full inventory would be very useful right now for debugging. Feel free to mask your hostnames if you wish. What I need to see to debug this further are all the parameters you're setting in the `[OSEv3]` section and applying to each host in `[masters]` and `[nodes]`.

As for those two stalls you men

[2017-08-15 14:06] SweetOps commented on #5071
@jarrpa, I can use only variables from the table https://gluster.readthedocs.io/en/latest/Administrator%20Guide/Managing%20Volumes/#tuning-options that's doesn't same what I want.

[2017-08-15 14:22] jarrpa commented on #5071
Oh... I just reread what you said.

All volumes created by heketi are Distributed-Replica by default. "replica" is the heketi "durability type", while Distributed-Replica is the GlusterFS term for how that type is implemented. https://github.com/heketi/heketi/wiki/Create-a-volume#heketi-cli-usage

...yeah, real straightforward, I know. :)

[2017-08-15 14:57] #4525 closed

[2017-08-15 15:03] ashcrow commented on #4965
If it's **only** happening on Atomic Host then I have a feeling it is likely in ``_sync_atomic``. I'll take a look.

[2017-08-15 15:18] ashcrow commented on #4965
@sdodson I did a quick look and @giuseppe's commit you were looking at isn't part of 3.6 (looking at released-3.6 tag). It looks like the last time the sync binaries code was updated was on 2016-11-28. That being said, there is no ``_sync_atomic`` there. Will update as I continue looking.

[2017-08-15 15:42] ashcrow commented on #4965
For the heck of it I double checked the containers to rule out funny business there and they look fine:

[code]

[2017-08-15 15:48] abdelhegazi opened #5094 "installing an openID connect identity provider via ansible without manual edit for master-config.yaml"
#### Description
We are running okta as our main identity provider which uses OpenID Connect running over oAuth. I am able to do this process manually by adding `master-config.yaml` but this is a bit of old school way for us, I need to automate this via ansible installation as well by adding whatever variables to my inventory file, is it possible?

##### Version
This is openshift version
[code]
An

[2017-08-15 15:57] abutcher commented on #5094
@abdelhegazi It should be possible via `openshift_master_identity_providers`. Check out this example https://github.com/openshift/openshift-ansible/blob/master/inventory/byo/hosts.ose.example#L198-L210

[2017-08-15 16:03] #5049 closed

[2017-08-15 18:34] ashcrow commented on #4965
More info ....

## Base

Installed 1.5/3.5 on Fedora AH.

[code]

## Upgrade

### Command
[code]

After the sync

[code]

Before drain attempt (notice openshift size)

[code]

[2017-08-15 20:31] ozdanborne opened #5097 "glusterfs: conditional check 'g' failed"
#### Description

Basic OpenShift-ansible install using current tip of master fails with glusterfs error. Smells a lot like #4745 ...

This commit from four days ago seems suspect: https://github.com/openshift/openshift-ansible/commit/6ff354437718584783589c3403cefe9d1b75ee52

EDIT: Confirmed - reverting the above commit clears up the problem.

cc: @kwoodson

[code]

##### Version

* Your ansible v

[2017-08-15 21:20] ashcrow commented on #4965
Just running binary sync provides positive results. ``oc`` and ``openshift`` are both what they should be:

[code]

I believe we have been over thinking this and the symlink checking isn't work as expected. After doing a number of tests (both in isolation and 1.5->3.6 upgrades) the actual python code is copying properly. The problem seems to be the shell equivalent of this:

[code]

[2017-08-15 21:31] ashcrow commented on #4965
With the following patch I didn't encounter the error:

[code]

[code]

Before I PR this I want to do a little more testing with a fresh 1.5->3.6 upgrade.

[2017-08-15 22:10] ashcrow commented on #4965
I did a fresh 1.5 install, upgraded it to 3.6 with my patch and the issue no longer popped up.

[2017-08-16 00:42] rppf commented on #5076
I solve this issue by changing ```openshift_release=v1.5.0``` to ```3.6``` and ```openshift_image_tag=v1.5.0``` to ```3.6.0```

[2017-08-16 00:43] #5076 closed

[2017-08-16 01:46] #1711 closed

[2017-08-16 08:45] TimoL commented on #5059
3.6.0 rpms are available now. This issue should be closed.

[2017-08-16 08:51] ilackarms commented on #4556
@joelddiaz did you ever encounter this issue? can you try running the cfme role without `nfs` groups defined and see if you can reproduce?

[2017-08-16 12:39] tbielawa commented on #4883
1. We figured out that this does not need to be deprecated. That role is what allows MIQ to manage Open Shift clusters
2. @smarterclayton is this still a problem?

[2017-08-16 12:46] sdodson commented on #5059
@TimoL thanks for following up, sorry for the delay it's not something that the openshift-ansible team has direct control over but we're pushing for improving rpm delivery.

[2017-08-16 12:46] #5059 closed

[2017-08-16 13:24] brenton commented on #4883
I looked at all the failures in the jenkins history on https://ci.openshift.redhat.com/jenkins/job/test_pull_request_origin_extended_conformance_gce/ and did not see it happening.  While this only shows about 48 hours of builds it's the best way I know to check if this is still a problem.  There have been plenty successful runs so at best this was an intermittent problem.

@enoodle, Can you think

[2017-08-16 13:37] enoodle commented on #4883
@brenton My only guess is that some thing caused the "management-infra" namespace not to be created and this caused those failures.

[2017-08-16 14:01] brenton commented on #4883
@enoodle, Sorry I wasn't more clear.  That was our suspicion too.  Unfortunately we no longer have the logs but when I checked the them they indicated that the namespace creation was successful.  I'm guessing you haven't seen this problem.

[2017-08-16 14:04] enoodle commented on #4883
@brenton No. This is a pretty straight forward role, creating a namespace, then creating SAs and cluster roles, then assigning roles.
In our team we are using it almost daily and haven't encountered this problem yet.

[2017-08-16 14:05] brenton commented on #4883
OK, I honestly think we should close this issue for now then.  Thanks.

[2017-08-16 14:05] #4883 closed

[2017-08-16 14:06] tiran opened #5104 "jinja2 templating warning in libvirt playbook"
#### cluster create with libvirt prints a jinja2 templating warning

[code]

##### Version

[code]

##### Steps To Reproduce
1. Run ``bin/cluster create libvirt lenaic``

The task is defined in ``playbooks/libvirt/openshift-cluster/tasks/launch_instances.yml``

[code]

[2017-08-16 14:16] mtnbikenc commented on #5104
FYI, these unsupported playbooks will be moving to openshift-ansible-contrib.  See https://github.com/openshift/openshift-ansible/pull/5095

[2017-08-16 14:20] joelddiaz commented on #4556
@ilackarms I have no nfs setup/variables/etc defined in my inventory file. 'grep nfs' on my inventory file shows no results. The last time I tried running the openshift-cfme playbook, it ran without running into any nfs-related issues.

[2017-08-16 14:28] jpkrohling opened #5105 "Origin Metrics playbook outdated -- `the field 'args' has an invalid value`"
When setting up a Origin Metrics using the BYO playbooks on an existing cluster (`oc cluster up --version=latest`), the process fails with the following message:

[code]
(script used for this: https://paste.fedoraproject.org/paste/oE669j5mlIZYrodc5Bklew/ )

Using a `oc` built from a recent revision (e2c9b75f1e61b5c8fae7ebc50eb905150bbd7303, Tue Aug 15 21:42:03 2017 -0700) to setup a cluster with m

[2017-08-16 14:41] sdodson commented on #5105
@csrwng which playbooks does this call?

[2017-08-16 14:45] kwoodson commented on #5105
@csrwng @sdodson, this is an artifact of not running through std_include.yml.  When a variable like openshift is undefined it means that std_include.yml (specifically initialize_facts.yml) was not run.

[2017-08-16 14:48] kwoodson commented on #5105
@sdodson, we need to call std_include.yml.  I'll open a PR.

[2017-08-16 14:48] tiran commented on #5104
Thanks @mtnbikenc

I'm closing this ticket in favor of https://github.com/openshift/openshift-ansible-contrib/issues/652

[2017-08-16 14:48] #5104 closed

[2017-08-16 14:57] kwoodson commented on #5105
I think this is what is needed. We had already fixed the openshift-logging.yml.  https://github.com/openshift/openshift-ansible/pull/5106

[2017-08-16 15:01] csrwng commented on #5105
@sdodson @kwoodson cluster up uses the playbooks/byo/openshift-cluster/openshift-metrics.yml playbook. But actually this is @jcantrill 's domain

[2017-08-16 16:24] besser82 commented on #5040
Well in fact it was some hard to debug network problem…

[2017-08-16 16:24] #5040 closed

[2017-08-16 17:08] SweetOps opened #5108 "Glusterfs: unable install if docker storage driver is overlay2"
I know how to fix it manually, but I don't want to use device-mapper, I think no one want :)

OS:
`Fedora Atomic 26`

ansible:
[code]
inventory:
[code]

error what I got:
[code]

[2017-08-16 17:15] SweetOps commented on #5071
@jarrpa, thanks for help 👍

[2017-08-16 17:45] jarrpa commented on #5071
@SweetOps No problem! Please close the issue if you feel it is resolved. :)

[2017-08-16 18:08] #5071 closed

[2017-08-16 18:21] sdodson commented on #5108
Lets say you did want it... what's the solution? :-)  I assume install device-mapper packages.

I imagine the glusterfs solution requires it even if you're using overlayfs for container.

[2017-08-16 18:29] SweetOps commented on #5108
but if I didn't write:

Next reply would be " install device-mapper packages" or "change docker storage driver to device-mapper" :)

[2017-08-16 18:46] sdodson commented on #5097
you're actually running playbooks/byo/config.yml or another playbook?

[2017-08-16 18:53] jarrpa commented on #5108
@SweetOps I don't know enough about this to be able to come up with a proper solution or workaround. Would it be sufficient for now to document this and then put in a check for device-mapper that would output a more useful error message and fail if it isn't found?

[2017-08-16 20:00] ozdanborne commented on #5097
Yes, running `playbooks/byo/config.yml`

[2017-08-16 23:31] #4965 closed

[2017-08-17 07:43] #3935 closed

[2017-08-17 14:41] #2415 closed

[2017-08-17 14:41] #2997 closed

[2017-08-17 15:11] jorgefromhell opened #5118 "Gluster/Heketi pv bound, but fails to be mounted during the deployment"
#### Description

I've been using the openshift-ansible and have 1.5.0 and 1.5.1 clusters fully working with the glusterfs/heketi dynamic provisioning perfectly, but after updating (tried with a new installation as well) to v3.6.0, glusterfs volumes cannot be mounted during the deployment. The only thing that changed was the openshift cluster really (v3.6.0), the gluster/heketi cluster is the same

[2017-08-17 15:26] #5105 closed

[2017-08-17 19:35] SweetOps commented on #5108
@jarrpa, yes it will be good

[2017-08-18 01:53] vanloswang opened #5127 "wrong content of callback_facts.yaml, interupt the installation"
#### Description

##### Version

[code]

##### Steps To Reproduce
1. install and uninstall many times, not successed
2. then install again

##### Expected Results
install will process and success.

##### Observed Results

[code]

The wrong yaml content is as following:
[code]

As above content, '_6: true' is invalid. It may be different content with different host.

[2017-08-18 05:32] jpkrohling opened #5130 "`oc cluster up --version=latest --metrics` fails with `lookupip.stdout not in ansible_all_ipv4_addresses`"
The latest version of OpenShift Origin (Docker image: `c42a8b7581bf`) fails to setup Origin Metrics with `oc cluster up --version=latest --metrics`. The following can be seen on the logs for a pod of type `openshift-ansible-metrics-job-xxx` in `Error` state :

[code]

Full logs: https://paste.fedoraproject.org/paste/1YmLuIhqk1MM6FMDVNtW8g

[2017-08-18 07:34] vanloswang opened #5131 "/etc/origin/node/resolv.conf: no such file or directory"
#### Description

##### Version

[code]

##### Steps To Reproduce
1. add 'openshift_disable_check=disk_availability,memory_availability,docker_image_availability,docker_storage' to ansible playbooks
2. execute the installation

##### Expected Results
No error is reported and complete the installation.

##### Observed Results
Install failed and the log is as following:
[code]

##### Additional Info

[2017-08-18 10:08] xavierbaude opened #5134 "User can not view their metrics"
#### Description

Confere this Bug in the openshift enterprise release, an ordinary user can not view their metrics, admin can.
https://bugzilla.redhat.com/show_bug.cgi?id=1477223

bug reproduced in v3.6.0 origin openshift install

##### Version
Ansible 2.3.1
Centos 7.3
Origin 3.6.0 in containerized mod
docker image release : v3.6.0 from the docker hub.

##### Steps To Reproduce
In a running clust

[2017-08-18 10:16] #5134 closed

[2017-08-18 10:17] xavierbaude commented on #5134
opened in https://github.com/openshift/origin/issues/15851

[2017-08-18 15:10] lajchon opened #5139 "openshift-enterprise BYO glusterfs 'native' not compatible when using osm_default_node_selector"
#### Description

Provide a brief description of your issue here.

##### Version

Please put the following version information in the code block
indicated below.

* Your ansible version per `ansible --version`
[code]

* The output of `git describe`

If you're running from playbooks installed via RPM or
`atomic-openshift-utils`

* The output of `rpm -q atomic-openshift-utils openshift-ansible`

Pla

[2017-08-18 18:45] jpeeler commented on #5039
I've looked into this, but I'm unsure what the best approach is for keeping all the files in sync. Both sides are using templates, ansible with jinja and origin with the openshift format (oc process). I believe that oc cluster up should be copying what ansible is doing since that will be the method customers use to install. Does a script need to be made to verify or should a comment be left in ori

[2017-08-18 19:56] ephillipe opened #5144 "Error trying install Origin 3.6"
#### Description

Trying run first installation.

##### Version

[erick@openshift-master-1 openshift]$ ansible --version
WARNING: yacc table file version is out of date
ansible 2.3.2.0
  config file =
  configured module search path = Default w/o overrides
  python version = 2.7.5 (default, Nov  6 2016, 00:28:07) [GCC 4.8.5 20150623 (Red Hat 4.8.5-11)]

[erick@openshift-master-1 openshift-ansible]

[2017-08-18 23:58] debianmaster opened #5146 "AnsibleUndefinedVariable: 'dict object' has no attribute 'dns_ip'"
#### Description
Openshift origin install failed with ```AnsibleUndefinedVariable: 'dict object' has no attribute 'dns_ip'```

##### Version
[code]

[code]

If you're running from playbooks installed via RPM or
`atomic-openshift-utils`

##### Steps To Reproduce
```ansible-playbook -i ../.config/openshift/hosts ./playbooks/byo/config.yml```

##### Expected Results
Install should succeed

[code]

##

[2017-08-19 07:35] jsuchenia commented on #5146
I had exactly the same. Looks like it's related to commit f391268ca0f07eddf98836abaeb03d6579365028

[2017-08-20 10:24] liornabat commented on #5146
same here :(

[2017-08-21 08:27] j00p34 commented on #4567
@ilackarms sorry for the late response. I went on vacation right before your post. I did not test this with nfs but I guess it works if you have your storage class properly configured. You probably found that out yourself by now :)

[2017-08-21 10:43] ilackarms commented on #4567
@j00p34 i think there's no provisioner for nfs storage that is
1 - available OOB with openshift
2 - configured by Openshift-Ansible

I saw that https://github.com/kubernetes-incubator/nfs-provisioner is (was) a thing; so I think you can add such a provisioner to Openshift, but it's not available OOB.

[2017-08-21 20:54] #5050 closed

[2017-08-22 07:23] adsri opened #5154 "Openshift-ansible pod creation fails with error: network: open /etc/origin/calico/calico.etcd-client.crt: no such file or directory"
Installed Openshift-ansible with calico.

Installation succeeds, but all pods are in pending state.

[openshift@openshift-master ~]$ oc get pods
NAME                        READY     STATUS    RESTARTS   AGE
alpine                      0/1       Pending   0          30m
docker-registry-1-deploy    0/1       Pending   0          15h
registry-console-1-deploy   0/1       Pending   0          15h
rou

[2017-08-22 08:27] mjudeikis opened #5155 "reencrypt certs path is not resolved to env variables"
If we use environment variables in our inventory files (and from what I seen we do this everywhere where We deploy OCP) our fact engine ignores env variables so if my path looks like
[code]
the result is: `/../files/certs/RoSLocalRootCA.crt`

We need to fix our fact set in a long run to read Ansible variables. And it was done in the same way with router certificates already.

[2017-08-22 08:29] mangirdaz commented on #5155
https://github.com/openshift/openshift-ansible/pull/5156

[2017-08-22 11:32] tiran commented on #5146
@sdodson ``ci/openshift-jenkins/extended_conformance_install_update`` is still broken on OpenShift master, see https://github.com/openshift/origin/pull/15896#issuecomment-323996186

[2017-08-22 12:20] simo5 commented on #5146
@sdodson this is breaking Origin's CI looks like a P0 to me.

[2017-08-22 13:19] sdodson commented on #5146
This is already fixed. CI jobs are just picking a version of the installer that doesn't have this fix. Working with the CI/CD team to address that. I'll leave this open until we can verify that.

[2017-08-22 13:31] sdodson commented on #5154
@srampal can you take a look please?

[2017-08-22 13:45] sdodson commented on #5146
https://github.com/openshift/aos-cd-jobs/pull/578 should've fixed CI jobs

[2017-08-22 14:17] srampal commented on #5154
@sdodson I worked on Contiv support which is a different plugin. In this case the issue is with Calico so that team needs to look. cc @ozdanborne  from the Calico team ... please take a look.

[2017-08-22 14:17] sdodson commented on #5154
@srampal sorry, thanks for the redirection.

[2017-08-22 14:55] aerialls opened #5160 "Custom router certificate is not copied even if it's specified"
#### Description

Hello,

I think #4693 broke the behavior when you have a custom certificate declared for the hosted router.

In my ansible configuration, I've the following configuration for my internal certificate.

[code]

In the execution, the copy task is skipped.

[code]

After some digging in this repo, The PR #4693 changed the default value for `openshift_hosted_router_create_certificate`

[2017-08-22 15:18] aerialls commented on #5160
I tried to open a PR to fix this issue with my understanding. 😄

[2017-08-22 17:10] sdodson commented on #5146
confirmed, closing

[2017-08-22 17:10] #5146 closed

[2017-08-22 21:34] gevorg15 opened #5166 "Setting Kubernetes API args"
#### Description

There is an option to pass in kubelet arguments via the "openshift_node_kubelet_args" flag but I don't see any way of passing in args to the kuberenets API server.  Am I missing something or is it not possible at this time?

I'm looking to basically be able to set "--kubelet-preferred-address-types" based on the docs here: https://kubernetes.io/docs/admin/kube-apiserver/

##### V

[2017-08-22 21:41] sdodson commented on #5166
https://github.com/openshift/openshift-ansible/blob/master/inventory/byo/hosts.ose.example#L305-L306 controls kubernetesMasterConfig.apiServerArguments

[2017-08-22 23:00] gevorg15 commented on #5166
Yep. Thank you!

[2017-08-22 23:01] #5166 closed

[2017-08-23 04:35] zhwenh commented on #5131
I also found the same problem，So  Unable to restart service origin-node！

[2017-08-23 06:08] adsri commented on #5154
@ozdanborne can you please see this issue once.

[2017-08-23 07:28] flyer8 commented on #5131
The same issue. Is there any ideas?

[2017-08-23 09:02] #4557 closed

[2017-08-23 12:09] ksemaev opened #5169 "Advanced installer failed with default configuration"
Advanced installer failed with default configuration

##### Version
release-1.5

##### Steps To Reproduce
1. create  Single Master and Multiple Nodes Inventory File (https://docs.openshift.org/latest/install_config/install/advanced_install.html#single-master )
2. ansible-playbook ~/openshift-ansible/playbooks/byo/config.yml

##### Current Result
All nodes and masters:
TASK [set_fact]
fatal: [opsma

[2017-08-23 12:12] ksemaev commented on #5169
TASK [set_fact] *************************************************************************************************************************************
fatal: [secretnet.test]: FAILED! => {
    "failed": true
}

MSG:

the field 'args' has an invalid value, which appears to include a variable that is undefined. The error was: 'deployment_type' is undefined

The error appears to have been in '/root/op

[2017-08-23 12:24] ksemaev commented on #5169
Running with extra options helps:
`ansible-playbook ~/openshift-ansible/playbooks/byo/config.yml -e deployment_type=origin`

[2017-08-23 12:29] tdudgeon commented on #5088
Full details are here: https://github.com/OpenRiskNet/home/blob/master/openshift/simple-ansible.md

[2017-08-23 13:45] nmasse-itix opened #5174 "Metrics fail to install when the control host runs on Mac OS X"
#### Description

When installing the metrics component as explained [here](https://docs.openshift.com/container-platform/3.6/install_config/cluster_metrics.html), if the control host runs on Mac OS X and Ansible has been installed using brew, **the installation fails**.

##### Version

[code]

##### Steps To Reproduce
[code]

##### Expected Results

Playbook completes successfully

##### Observed

[2017-08-23 14:46] cooktheryan commented on #2338
@sdodson and @jwhonce do we have any update on this?

[2017-08-23 15:13] sdodson commented on #2338
This was fixed in release-1.4 via ea29fe1b4753a8c7ab08ec8a1f49f8293eba0e19 release-1.5 via a9ece184eeea7de99a947f799bb902524250b6ab and release-3.6 via 8132949a5f55320e01e7f95765092eb1b2633fcc where we mount the entire /etc/pki into the container

[2017-08-23 15:13] #2338 closed

[2017-08-23 15:14] jwhonce commented on #2338
@cooktheryan It should come in via a bind mount. Like /usr/share/rhel does today.

[2017-08-23 16:12] ozdanborne commented on #5154
@adsri that is bizarre. Can you dump the output of the following:
[code]

Which commit of openshift-ansible is this using?

[2017-08-23 16:57] dustymabe commented on #5108
I'd like to know what libraries are missing? Fedora 26 atomic host has:

[code]

[2017-08-23 17:04] tomassedovic opened #5177 "Pushing a built image to the registry fails the certificate check"
#### Description

Provide a brief description of your issue here. For example:

Installing Openshift Origin with the default options for the registry and certificates, the last part of an image build (pushing the image) fails with an HTTPS certificate error.

##### Version

Please put the following version information in the code block
indicated below.

* Your ansible version per `ansible --versio

[2017-08-23 17:18] sdodson commented on #5177
Thanks for pinpointing the change that broke things.

[2017-08-23 17:21] sdodson commented on #5177
@dustymabe

[2017-08-23 17:33] dustymabe commented on #5177
@sdodson - looks like it

[2017-08-23 17:49] sdodson commented on #5131
#5145 should fix this

[2017-08-23 17:59] jarrpa commented on #5108
@SweetOps Similarly, what would be a good thing to check for? We'd need something that works both on Atomic and non-Atomic hosts, so can't just check packages. Any file or command we can verify?

[2017-08-23 18:06] dustymabe commented on #5108
Why not? rpm commands work on atomic host

[2017-08-23 18:14] jarrpa commented on #5108
@dustymabe My bad, I just assumed it'd be containerized. I have no experience with Atomic as of yet. :) Sure, if I can check for or install a specific RPM that's easy.

[2017-08-23 18:50] dustymabe commented on #5108
no worries. If you ever have a question about atomic host feel free to ask me (dustymabe on freenode).

once we find out what is missing from atomic host we can see about getting it added. With atomic host you can "check" to see if an rpm is installed with no problem. Installing an rpm is a different story. Typically the atomic host has not allowed installing rpms but there is support for that now

[2017-08-23 19:21] abutcher commented on #5169
We're unfortunately requiring `deployment_type` to be set as things are written now which doesn't line up with the default inventory in the documentation.

https://github.com/openshift/openshift-ansible/blob/release-1.5/playbooks/common/openshift-cluster/initialize_facts.yml#L19
https://github.com/openshift/openshift-ansible/blob/release-1.5/roles/openshift_facts/tasks/main.yml#L77

[2017-08-23 19:33] dougbtv opened #5187 "GlusterFS play failing with undefined variable, r_openshift_storage_glusterfs_firewall_enabled"
#### Description

During a run of the BYO inventory method of running the OpenShift-Ansible playbooks, the playbook fails noting that the variable `r_openshift_storage_glusterfs_firewall_enabled` is undefined, and specifically failing with:

[code]

[This appears to be the line with an undefined variable](https://github.com/openshift/openshift-ansible/blob/master/roles/openshift_storage_glusterfs/

[2017-08-23 21:23] kwoodson commented on #5187
Thanks for reporting this.  This should be fixed with this PR https://github.com/openshift/openshift-ansible/pull/5168.

[2017-08-24 00:07] rushabh268 commented on #3795
@sdodson @naveenkumartangallapally I am seeing this issue on my openshift setup. Not able to figure out what's going wrong. I am not able to deploy hello-openshift service or docker-registry pods.
[code]
I have even removed the default deny rule from the iptables

[2017-08-24 00:28] sdodson commented on #3795
@rushabh268 Can you work through the networking troubleshooting guide?

[2017-08-24 01:04] #4935 closed

[2017-08-24 01:04] #5131 closed

[2017-08-24 07:11] adsri commented on #5154
@ozdanborne, Please see the output below:
[root@openshift-master openshift]# ls /etc/origin/calico/
calico.etcd-ca.crt  calico.etcd-client.crt  calico.etcd-client.csr  calico.etcd-client.key
[root@openshift-master openshift]# stat /etc/origin/calico/
  File: ‘/etc/origin/calico/’
  Size: 122       	Blocks: 0          IO Block: 4096   directory
Device: 806h/2054d	Inode: 34083354    Links: 2
Access:

[2017-08-24 09:16] jmencak opened #5192 "openshift_image_tag check doesn't allow tags like v3.7.0-0.104.0"
#### Description

Provide a brief description of your issue here. For example:

openshift_image_tag check doesn't allow tags like v3.7.0-0.104.0

##### Version

$ ansible --version
ansible 2.3.1.0
  config file = /root/.ansible.cfg
  configured module search path = Default w/o overrides
  python version = 2.7.5 (default, May  3 2017, 07:55:04) [GCC 4.8.5 20150623 (Red Hat 4.8.5-14)]

$ git describ

[2017-08-24 09:18] ksemaev commented on #5169
@abutcher Should I create issue for documentation repo, that they should add `-e deployment_type=origin` option to pass to installer?

[2017-08-24 09:43] ksemaev opened #5193 "Installer changes docker's log driver"
#### Description

Ansible installer changes docker's log driver, which prevents OS from cretaing log symlinks.

##### Version
ansible 2.3.1.0
openshift-ansible-3.5.119-1
oc v3.6.0

##### Steps To Reproduce
1. set default docker log driver in /etc/sysconfig/docker:
`OPTIONS=' --selinux-enabled  --log-driver=json-file'`
2. run standard installation with master and several nodes
3. check /etc/sysconf

[2017-08-24 09:46] ksemaev opened #5194 "Openshift installer from branch release-1.5 installs oc v3.6.0 instead of 1.5.x"
#### Description
ansible 2.3.1.0
openshift-ansible-3.5.119-1
oc v3.6.0+c4dd4cf
kubernetes v1.6.1+5115d708d7

##### Steps To Reproduce
1. git clone -b release-1.5 https://github.com/openshift/openshift-ansible
2. ansible-playbook ~/openshift-ansible/playbooks/byo/config.yml
3. oc --version

##### Expected Results
[code]

##### Observed Results
[code]

[2017-08-24 12:30] sdodson commented on #5193
Yeah, we overwrite whatever is there with the default encoded in the installer, you can override this by setting `openshift_docker_options="--log-driver=json-file"

[2017-08-24 12:31] mtnbikenc commented on #5021
@sdodson this one slipped by me.  I'm working on it now.

[2017-08-24 12:32] sdodson commented on #5192
They've changed the pre-release tagging format so we need to accommodate this.

[2017-08-24 12:52] SweetOps commented on #5108
@jarrpa, I've found the workaround for this issue here https://github.com/gluster/gluster-kubernetes/issues/19 , but didn't test it yet.

[2017-08-24 13:15] SweetOps opened #5197 "Glusterfs: could not open log file for pod: pod_name"
I can create pvc and can't mount it to pod. When I create pod with pvc I get error:

[code]

I have tried:
* disable selinux
* run on all hosts `setsebool virt_use_fusefs on`
* setup with `openshift_docker_selinux_enabled=False` and disable selinux

but without luck.

And of course I've checked:
* glusterfs-client installed on all hosts
* /var/log/glusterfs is writable  (logs without errors)
* fir

[2017-08-24 13:20] ksemaev commented on #5193
@sdodson can please show manual or some link of how you take logs from journald? json-files in /var/log/containers/ are very handy, there must be a reason why you're resetting it to journald, is it more convenient?

[2017-08-24 13:37] mtnbikenc commented on #5021
@enj I want to make sure I'm capturing correct success and faliure states.  Are there return codes we should look for in execution of this command, such as if we get rc=0 then we are good?  Or should we look for something in the returned CLI text, shuch as `errors=0`?  I just ran this command on a test cluster and received this result:
[code]
Here is an Ansible task output:
[code]

[2017-08-24 13:40] sdodson commented on #5193
I'm not familiar with the reasoning why. @richm and @portante may be able to answer that quesiton.

[2017-08-24 13:40] ashcrow commented on #5192
@sdodson I can take care of updating the regex

[2017-08-24 13:44] jarrpa commented on #5197
What is `gitlab-106655731-ndlm4`?

[2017-08-24 13:45] SweetOps commented on #5197
It is name of pod

[2017-08-24 13:51] nevenr commented on #4541
Also it is a question why it creates PVC logging-es-0.
Is PVC counting zero based (PVC count = 3, PVC names [logging-es-0,logging-es-1,logging-es-2]) or starting from one (PVC count = 3, PVC names [logging-es-1,logging-es-2,logging-es-3])?

[2017-08-24 13:55] jarrpa commented on #5197
Does it show up anywhere in `/var/log/glusterfs` ont he node that tried running the pod?

[2017-08-24 14:03] SweetOps commented on #5197
No, it doesn't. I see some records only when create the pvc.

[2017-08-24 14:06] jarrpa commented on #5197
Can you manually mount the gluster volume on the node that tried to run the pod?

[2017-08-24 14:08] dustymabe commented on #5108
so the solution is to run `modprobe dm_thin_pool` ? this makes sense, but is not really something that can be done from inside the container I don't think (maybe I'm wrong). If i'm right then that would explain why you are getting the error.

You don't see an issue on hosts that are using the devicemapper storage backend because they already have that kernel module loaded because they are already

[2017-08-24 14:08] ksemaev commented on #5194
Maybe there's an ansible variable that can specify oc version to install ?

[2017-08-24 14:10] SweetOps commented on #5197
Should I run it inside gluster pod or on the node?

[2017-08-24 14:13] jarrpa commented on #5108
@dustymabe Well, currently the only thing I can really think of is to force the installation of the necessary devicemapper RPMs, whatever those may be. Otherwise I could probably use http://docs.ansible.com/ansible/latest/modprobe_module.html to load the necessary kernel modules directly.

[2017-08-24 14:19] jcantrill commented on #4541
@nevenr What is the issue with it being zero based versus one based?  Ultimately, we will or intend to be aligned with the pattern that statefulsets will provide.

[2017-08-24 14:23] jarrpa commented on #5197
No, on the node.

[2017-08-24 14:24] dustymabe commented on #5108
The rpms should already be installed. So that is not your problem.

This is the real solution I believe.

[2017-08-24 14:35] nevenr commented on #4541
Simply because compatibility with previous versions and facts that has been stated in documentation.
https://docs.openshift.com/container-platform/3.4/install_config/aggregate_logging.html#aggregated-elasticsearch
"... The PVCs must be named based on the es-pvc-prefix setting, which defaults to logging-es-; each PVC name will have a sequence number added to it, so logging-es-1, logging-es-2, and s

[2017-08-24 15:41] enj commented on #5021
@mtnbikenc the RC is enough to determine success and failure (if rc == 0 then errors == 0).

If you want to be super specific, the success case is (anything else being a failure):

`summary (dry run): total=AAA errors=0 ignored=0 unchanged=AAA migrated=0` where AAA is some number > 0 AND rc == 0

The output from the error case should be easy for the user to see as they will want to give that infor

[2017-08-24 15:43] SweetOps commented on #5197
I have mounted on all nodes:

[code]
then tried to redeploy the pod and got same error:

[code]

[2017-08-24 15:49] jarrpa commented on #5197
Hmm... still uncertain. Pulling in some extra help.

@humblec PTAL?

[2017-08-24 15:56] mtnbikenc commented on #4146
@jarrpa Is this still happening?  I expect it is not but just wanted to confirm.

[2017-08-24 16:17] jarrpa commented on #4146
Nope. :)

[2017-08-24 16:17] #4146 closed

[2017-08-24 17:28] SweetOps commented on #5197
I've tried to update api server and same result...

[code]
@jarrpa, could you say on which openshift version and OS you've luck with glusterfs?

[2017-08-24 17:41] jarrpa commented on #5197
OCP 3.6 and CentOS/RHEL 7.3

[2017-08-24 17:49] SweetOps commented on #5197
@jarrpa, containerized?

[2017-08-24 17:55] jarrpa commented on #5197
Containerized GlusterFS + heketi, yes.

[2017-08-24 19:12] richm commented on #5193
The journal logs have much, much more metadata than what is available from the json-file logs.  This is really useful for doing deep inspection of problems, identifying long term trends, advanced correlations, etc.

origin-aggregated-logging uses fluentd with the fluent-plugin-systemd to read logs from the journal.  When docker is configured with `--log-driver=journald`, docker/kubernetes will add

[2017-08-24 19:32] jorgefromhell commented on #5197
Hi @SweetOps, @jarrpa, that is the exact same problem I'm having here .. https://github.com/openshift/openshift-ansible/issues/5118

[2017-08-24 20:14] brenton commented on #4088
Gently bumping this...

@dcbw

[2017-08-24 20:26] jarrpa commented on #5197
@SweetOps @jorgefromhell Are the apps allowed to mount PVs of type glusterfs? E.g. are they part of an SCC that allows:
[code]

[2017-08-24 20:53] #5193 closed

[2017-08-24 21:02] jorgefromhell commented on #5197
@jarrpa, it doesn't, but I checked the other cluster that I have which is working (1.5.1) and I haven't found any SCC with glusterfs in it.

1.5.1:
`[root@app-dc-hom-osmaster01 ~]# oc get scc
NAME               PRIV      CAPS      SELINUX     RUNASUSER          FSGROUP     SUPGROUP    PRIORITY   READONLYROOTFS   VOLUMES
anyuid             false     []        MustRunAs   RunAsAny           RunAsAny

[2017-08-24 21:17] rushabh268 commented on #3795
@sdodson Figured out the issue. An iptables rule was causing it. Thanks for the advice!

[2017-08-24 21:21] jarrpa opened #5203 "GlusterFS deploy broken in master"
##### Version

When trying to deploy GlusterFS using https://github.com/openshift/openshift-ansible/tree/002203bceb20c8fdc741b37adebac2ae7986e61e the recent firewall changes appear to be failing:

[code]
##### Version
[code]
##### Additional Information
[code]

[2017-08-24 21:24] sdodson commented on #5203
https://github.com/openshift/openshift-ansible/pull/5168 maybe?

[2017-08-24 21:25] rushabh268 opened #5204 "Nuage CNI fails to setup network for any pod with Openshift Enterprise on Atomic"
#### Description

Nuage CNI fails to setup network for any pod with Openshift Enterprise on Atomic

##### Version

Please put the following version information in the code block
indicated below.

* Your ansible version per `ansible --version`

If you're operating from a **git clone**:

* The output of `git describe`

If you're running from playbooks installed via RPM or
`atomic-openshift-utils`

*

[2017-08-24 21:26] jarrpa commented on #5197
@jorgefromhell Right, that wouldn't matter... nevermind. :(

[2017-08-24 21:27] jarrpa commented on #5203
Looks like! :)

[2017-08-24 21:30] sdodson commented on #5204
Can you test this PR? https://github.com/openshift/openshift-ansible/pull/4991

[2017-08-24 21:34] rushabh268 commented on #5204
@sdodson That PR won't handle adding ```-v /opt/cni/bin:/opt/cni/bin -v /etc/cni/net.d:/etc/cni/net.d``` to the node.service file. I have tested that PR using the above workaround that I mentioned in the bug, @rparulek & @vareti are aware about this issue.

[2017-08-24 21:45] rparulek commented on #5204
@sdodson We did try using our 4991 PR on atomic hosts but it fails at CNI pod resolution with the following error:

**Error syncing pod, skipping: failed to "SetupNetwork" for "router-3-deploy_default" with SetupNetworkError: "Failed to setup network for pod "router-3-deploy_default(799d976f-1502-11e7-b3c1-fa163e10ef43)" using network plugins "cni": failed to send CNI request: Post http://dummy/:

[2017-08-24 22:52] rparulek commented on #5204
@sdodson If we want to achieve the mounting we want on atomic nodes to get Nuage CNI working on Atomic hosts; is there a way if we can pass additional Nuage needed docker mounts using  "$DOCKER_ADDTL_BIND_MOUNTS" parameter somehow via openshift-ansible in line https://github.com/openshift/openshift-ansible/blob/master/roles/openshift_node/templates/openshift.docker.node.service#L24. Will that be p

[2017-08-24 22:54] richm opened #5206 "logging es-ops install broken - no cpu limit"
@ewolinetz @jcantrill tl;dr logging CI is broken

#### Description

doing a logging install with the ops cluster - get this error when trying to create the es-ops dc:
[code]
Of course, the error message is almost totally unhelpful 👎 . . .
Fortunately, I was able to tell by visual inspection of `tmp/openshift-logging-ansible-q5PRfK/templates/logging-es-dc.yml`:
[code]
This commit broke it: https://

[2017-08-25 12:48] jcantrill commented on #5206
A quick search of the code there does not appear to be any specific logic tied to this value other then in the template.  I think the error is just an unfortunate side effect to the changes.  The intention is: "exclude cpu from template gen when value is not provided" but I vaguely recall we had issues with using the default of 'none' and wanting it to be parsed as python None vs the string 'none'

[2017-08-25 13:17] jorgefromhell commented on #5197
@jarrpa reading through the openshift/origin issues, https://github.com/openshift/origin/issues/15950 caught my attention. Do you think it might be related?

[2017-08-25 13:38] #5021 closed

[2017-08-25 15:00] #5206 closed

[2017-08-25 15:12] jarrpa commented on #5197
@jorgefromhell Hmm... not impossible. Though I'm not sure why we haven't run into this before.

[2017-08-25 15:23] abdelhegazi commented on #5094
Thanks @abutcher

problem solved, thanks to that link you provided, I don't know who maintains this but as you are working for redhat, there is a little bug and I guess needs some fixing within the template that parse it

basically this was my original inventory value
[code]
and that produced error when restarting master service to pickup the new changes
[code]
os I had to dig into it, and the fix

[2017-08-25 17:10] #5192 closed

[2017-08-25 17:31] rparulek commented on #5204
@sdodson @rushabh268 I have created an upstream PR https://github.com/openshift/openshift-ansible/pull/5220 to handle the adding of the custom Nuage docker mounts to atomic-openshift-node service during the Nuage installation time itself.

[2017-08-25 19:20] #5177 closed

[2017-08-25 22:08] gevorg15 opened #5232 "Rerun to update configuration fails on "Set heketi-cli command""
#### Description

Building the cluster initially works fine but if you want to make configuration changes and re-run the ansible playbook it fails when setting up heketi for glusters

##### Version
[code]

##### Steps To Reproduce
1. Run playbook with native cluster
2. Run the same playbook and inventory file again

##### Expected Results

[code]

##### Observed Results

[code]

[2017-08-25 22:54] gevorg15 opened #5233 "Setting a default storage class"
#### Description

Is there a way to set the default storage class in the ansible playbook? i'm using native glusterfs as my persistent storage.  The problem is that it is the only storage class available and is not defined as the default storage class.  When logging and metrics attempt to start up, they fail because persistent volume are trying to be created with no storage class assigned.  They j

[2017-08-26 07:41] #5169 closed

[2017-08-27 03:21] dustymabe commented on #5108
One thing we'd need to be sure of is that this modprobe module would actually make it so that the kernel module also got loaded on every boot. It wouldn't be ideal to have to run the play after every reboot.

[2017-08-27 12:09] jarrpa commented on #5108
Doesn't look like it does, so we'll need to drop something in modprobe.d

[2017-08-27 14:02] prasenforu opened #5235 "Router and registry in syncing pod & Pod sandbox changed error"
#### Description
After successful Installation Registry & Router are on ```container creation``` state, when checking ```oc describe router``` getting following error.

[code]

##### Version
CentOS 3.7
OC 3.6
Ansible 2.3
docker 12.0

##### Ansible hostfile

[code]

[2017-08-27 19:23] besser82 commented on #5197
@jarrpa Seeing the same problem over here on fresh install of v3.6 + GlusterFS + Heketi, all containerized on Fedora 26 Atomic.

[2017-08-27 21:20] tasdikrahman opened #5236 "Check if NetworkManager is enabled/unmasked."
#### Description

When trying to execute the playbook

[code]

##### Version

[code]

[code]

##### Steps To Reproduce
1.

[code]
2.

[code]
3.
[code]

Steps followed from [https://github.com/ViaQ/Main/blob/master/README-install.md](https://github.com/ViaQ/Main/blob/master/README-install.md)

##### Expected Results

Playbook should have a check if `NetworkManager` is not masked or not? If masked,

[2017-08-28 02:14] adsri commented on #5154
@ozdanborne Any update on the issue?

[2017-08-28 12:43] ksemaev opened #5242 "What is the variable for setting release version?"
#### Description

Is it "openshift_release", for examle `openshift_release`=v3.5 ?
What should I pass to playbook to get the version I need?

[2017-08-28 12:43] dougbtv opened #5243 "Service catalog playbook failures on subsequent runs with: spec.clusterIP: Invalid value: "": field is immutable"
#### Description

After having successful runs of the openshift-ansible playbook, then running the `./playbooks/byo/openshift-cluster/service-catalog.yml` play -- upon multiple runs of this play it fails on the "Set Service Catalog API Server service" play (found [at this line](https://github.com/openshift/openshift-ansible/blob/master/roles/openshift_service_catalog/tasks/install.yml#L175)).

It

[2017-08-28 13:28] sdodson commented on #5236
It's a deliberate choice not to enable NetworkManager if it's not previously enabled because of the risk of reconfiguring the network.

[2017-08-28 13:28] #5236 closed

[2017-08-28 15:48] ewolinetz commented on #5243
@fabianvf do you have an idea what is going on with the ASB validation part?

@dougbtv There is a slight issue with how our module handles the creation/updating of service objects.
I can see if we can make it behave correctly... In the mean time, you can `oc delete` the service and then rerun the playbook to get past that error.

[2017-08-28 20:09] dougbtv commented on #5243
Much appreciated on that tip regarding the creation/update of service objects -- indeed, if I first find the `apiserver` service that's giving that play some trouble, and then delete it, I can re-run the playbook without it failing at that step, specifically:

[code]

[2017-08-28 20:26] fabianvf commented on #5243
@dougbtv this definitely could be clearer, but upstream the broker will default to using dockerhub as a registry: https://github.com/openshift/openshift-ansible/blob/master/roles/ansible_service_broker/vars/default_images.yml#L10

Because you aren't able to access the dockerhub search API unless you are logged in, we need valid dockerhub login credentials in order to find any serviceclasses that a

[2017-08-28 21:04] ozdanborne commented on #5154
@adsri sorry for the delay. I'm working on a repro for this, hit a few unrelated snags so taking longer than expected.

My hunch is that Calico doesn't work with `containerized=true` out of the box. I'd like to repro myself before I say that for sure. But it basically comes down to volume mounting all the necessary files (certs, plugins) into the origin container.

Calico could certainly work in t

[2017-08-28 22:35] ozdanborne commented on #5154
@adsri Can you rerun all the commands from my previous comment, but preceeding them with `docker exec origin-node ...`?

I've mostly repro'd the problem, and my above comment seems to be the problem. Though I'm surprised to see that your nodes entered a Ready state at all. I would have expected that since the CNI plugin was not mounted into the `origin-node` container, the node would never become

[2017-08-28 22:38] ozdanborne commented on #5235
I think this issue differs from #5154 as this one is not deploying containerized openshift.

@prasenforu can you dump output of the following commands:

[code]

[2017-08-28 23:33] dougbtv commented on #5243
Thanks, @fabianvf appreciate that clarification. Now with [this inventory](http://pasteall.org/533033) in place, I can complete an openshift-ansible run without error.

Relevant lines:

[code]

This probably closes out the issue unless @ewolinetz thinks this is relevant for tracking under the linked PR.

(and likely unrelated) I still see the `asb-xx` pod crashlooping, but [the docs do warn of a s

[2017-08-29 01:44] sozercan opened #5249 "Could not resolve host: github.com; Unknown error"
#### Description

Using Origin BYO playbook, I am getting this issue when trying to start a new build that clones a repo:

[code]

Looks like same issue as this: https://github.com/openshift/origin/issues/10139

##### Version

Please put the following version information in the code block
indicated below.

[code]

[2017-08-29 04:01] prasenforu commented on #5235
#### Calico status for all hosts
[code]
### oc get nodes output
[code]
### oc get pods --all-namespaces output
[code]
### oc describe po/router-2-deploy output
[code]
### Deployment not completed, as per above issue.  oc logs po/router-2-deploy output
[code]

[2017-08-29 07:30] davistran86 opened #5250 "Cannot login using user created by htpasswd on Openshift running HA multi master"
Hi guys,

I'm using multi master with native load balancing. when I created user using htpasswd on master1, i cannot login with user and password I created. After checking htpasswd file in other master I think that the password is not sync, so when login in if the lb is pointing to master2, there is no user there, so the login failed.

If i copy htpasswd file to master 2, master 3, I can login, bu

[2017-08-29 10:42] mangirdaz commented on #4507
Yes. But I think it will be fixed in 3.6

[2017-08-29 13:55] jantzen05 commented on #4423
Just had the same issue during upgrade from 3.5 to 3.6.
`openshift_logging_install_logging="true"
openshift_logging_image_prefix="x.x.x.x/openshift/origin-"
openshift_logging_image_version="v3.6.0"
openshift_logging_namespace="logging"
openshift_logging_use_ops="true"
openshift_logging_master_url="https://kubernetes.default.svc.cluster.local"
openshift_logging_public_master_url="https://paas-api-t

[2017-08-29 15:14] fabianvf commented on #5243
@dougbtv hmm, although the crashloop is expected, I think this is actually crashing for a different reason. It looks like your config is invalid, if I had to guess it's because the broker has changed and is expecting a different config file format. The broker config is actually a mounted configmap, could you do `oc describe configmaps` and paste the result so I can have a look?

[2017-08-29 15:49] sdodson commented on #5250
In addition to setting the provider you either need to provide a list of usernames and hashes so that openshift-ansible can create the file for you or you need to provide the path to an existing htpasswd file on the host where you're running ansible.

See https://github.com/openshift/openshift-ansible/blob/master/inventory/byo/hosts.ose.example#L185-L190

[2017-08-29 15:49] #5250 closed

[2017-08-29 16:42] dougbtv commented on #5243
Thanks @fabianvf -- here's the configmap...

[code]

[2017-08-29 17:26] ozdanborne commented on #5235
I don't see anything from Calico indicating an issue. Just that one message from Kubernetes saying `Pod sandbox changed, it will be killed and re-created.`.

Can you dump kubelet logs (origin-node) around the time it calls Calico to network the pod?

[2017-08-30 00:03] prasenforu commented on #5235
Are you looking for system logs from node?

[2017-08-30 04:05] ozdanborne commented on #5235
@prasenforu system logs from `origin-node`. I believe that'd be `journalctl -u origin-node > node.log`

[2017-08-30 04:13] prasenforu commented on #5235
Thanks for pointing right direction.

I am able to resolve the issue.

Due to firewall issue ```node``` not able to communicate ```master etcd```

Thanks ALL for addressing.

[2017-08-30 04:13] prasenforu commented on #5235
Closing :)

[2017-08-30 06:59] aaryabhatt opened #5263 "Node scale up not working"
#### Description
I am trying to add more node servers in my 3 node cluster setup, one for master, one for infra and one for node.

when I run this scale up file
ansible-playbook playbooks/byo/openshift-node/scaleup.yml it gives the below error

it is a single master and multiple node setup.

##### Version

* Your ansible version per `ansible --version`
ansible-2.3.1.0-1.el7.noarch

If you're opera

[2017-08-30 12:11] mtnbikenc commented on #4082
It appears this issue has been resolved.  Please let us know if you are still having problems.

[2017-08-30 12:11] #4082 closed

[2017-08-30 12:30] sdodson commented on #5263
Can you try https://github.com/openshift/openshift-ansible/pull/5257 ?

[2017-08-30 12:31] sdodson commented on #5263
We've merged that pr can you try the latest from master?

[2017-08-30 14:24] codrinbucur commented on #1915
I am running into this as well. Any reason to keep it hardcoded?

[2017-08-30 14:37] mtnbikenc commented on #5263
I was seeing the same error as mentioned above which prompted me to (attempt to) fix the scaleup playbooks with #5257.  Please let me know if you are still seeing problems, or find new ones.  There has been quite a bit of refactoring that needs to be vetted through different code paths.

[2017-08-30 15:21] #5263 closed

[2017-08-30 16:11] rparulek commented on #5204
@sdodson The PR I had created above did not seem to fix the issue wherein we like to add our custom Nuage docker mounts for the CNI plugin to be functional. It is because there is another openshift dep service file which sets the $DOCKER_ADDTL_BIND_MOUNTS environment variable as here : https://github.com/openshift/openshift-ansible/blob/4338dce09dbe5497f2a3700992eb4c5afeb4e6f6/roles/openshift_node

[2017-08-30 22:21] enj opened #5275 "Migrate modules to use RBAC"
The `{cluster}role{binding}.authorization.openshift.io` resources are considered legacy as of 3.7.  Thus our modules should be migrated to use the newer resources (they have a nicer, more explicit API).  The legacy APIs will eventually be removed.

There are some differences in fields which can be observed by changing the `oc` commands:

`oc get clusterrole` `->` `oc get clusterrole.rbac.authoriza

[2017-08-31 10:15] ksemaev commented on #5242
Yep, experiments showed that the variable is openshift_release=v3.6
Opened https://github.com/openshift/openshift-docs/issues/5066

[2017-08-31 10:15] #5242 closed

[2017-08-31 10:15] ksemaev commented on #5194
Yep, experiments showed that the variable is openshift_release=v3.6
Opened openshift/openshift-docs#5066

[2017-08-31 10:15] #5194 closed

[2017-08-31 10:59] aaryabhatt commented on #5263
thanks guys, It solved the issue.

[2017-08-31 13:56] ewolinetz commented on #5243
@dougbtv the installer side of things should now be resolved so you wouldn't need to delete the svc between reruns

[2017-08-31 15:44] gk529 opened #5278 "Ansible scripts are unable to restart openshift_node : restart node"
#### Description

Provide a brief description of your issue here. For example:

##### Version

Please put the following version information in the code block
indicated below.

* Your ansible version per `ansible --version`

If you're operating from a **git clone**:

* The output of `git describe`

If you're running from playbooks installed via RPM or
`atomic-openshift-utils`

* The output of `rpm

[2017-08-31 15:57] gk529 opened #5280 "Ansible scripts are unable to restart openshift_node : restart node"
#### Description

Initially i have installed setup (oc  v1.5.1) cluster using ansible and uninstalled same using ansible scripts.
Now on same machines i am trying to freshly install cluster (oc version 3.6), while doing it Handler openshift_node : restart node is failing on all nodes. please check below outputs and help me on whats going wrong

ansible_version: ansible 2.3.1.0
Os: CentOS Linux rel

[2017-08-31 18:11] sozercan commented on #5249
Looks like a name server issue. If I add `--server 8.8.8.8` as upstream dns to dnsmasq.service, it works externally.
But when it is trying to deploy to docker registry I get
[code]

Interestingly, if I deploy busybox container I can use nslookup locally fine.
[code]

[2017-08-31 20:59] #5278 closed

[2017-08-31 20:59] gk529 commented on #5278
Wrong info

[2017-09-01 06:58] prasenforu commented on #5235
Sorry !! Reopening conversation.

@ozdanborne

Rouer pod running fine, but not serving route.

Getting following error.

``` CNI failed to retrieve network namespace path ```

[2017-09-01 10:21] ksemaev opened #5286 "Openshift automated upgrade options question"
#### Description

According to https://docs.openshift.org/latest/install_config/upgrading/automated_upgrades.html#install-config-upgrading-automated-upgrades I can use this method with "the inventory file that was used"

But in my inventory file I have options like:
[code]

Should I change them to 3.6 to make autimated upgrade?

[2017-09-01 10:23] ksemaev commented on #5280
Please provide  **"journalctl -xe" for details** after the failed restart attempt

[2017-09-01 15:30] prasenforu commented on #5235
Reopening, looks like issue is related openshift/kubernetes.

[2017-09-01 20:33] ashcrow opened #5290 "Atomic Host Golden Images"
#### Description

Great work has been done by @kwoodson to create "golden image" Openshift images to simplify deployment. However, Atomic Host images are not currently covered in the unit of work. Atomic Host is a direct fit for this work based on it's description...

##### Version

master branch

##### Expected Results

Golden images should be available for:

- RHEL Atomic Host
- CentOS Atomic Ho

[2017-09-01 21:48] ozdanborne commented on #5097
@sdodson Any update on this? I'm still hitting this in tip of master today.

[2017-09-02 01:24] jarrpa commented on #5197
Okay, so this seems to be an issue on Atomic. To be fair, I have not had any chance to test the openshift-ansible playbooks on Atomic. I'll need to figure out a way to set up an environment quickly on my test system.

@jorgefromhell @besser82 Could you verify that the `glusterfs-fuse` package is installed? Could someone also quickly replicate the problem and then inspect the logs in `/var/log/glus

[2017-09-02 01:30] SweetOps commented on #5197
@jarrpa, looks like issue in iptables rules - I've luck only with enabled  firewalld on Centos/RHEL. Sorry, I hadn't time for fully investigation...

[2017-09-02 01:40] jarrpa commented on #5197
@SweetOps Ah! Good to know. :)

[2017-09-02 01:47] SweetOps commented on #5197
@jarrpa, but still need resolve issue with Atomic :(

[2017-09-02 01:50] jarrpa commented on #5197
@SweetOps If you just had firewall issues, the others might still be missing `mount.glusterfs`. At least these are more tangible problems for me. ;)

[2017-09-02 08:28] SweetOps commented on #5197
@jarrpa, that's just a guess  :)

[2017-09-02 08:59] jsuchenia opened #5291 "Inconsistent fallback hostname on OpenStack"
During investigation of an issue https://github.com/openshift/origin/issues/15910 I found that kubelet code is updating a `nodeName` from an OpenStack metadata service while Ansible scripts are validating it and leaving only IP address. It's creating a problems for Openshift SDN code where it's using original nodeName (not updated from cloud provider)

To avoid this issue I propose to sync behavio

[2017-09-02 13:50] vanloswang opened #5292 "Can not visit web console after lb_master crashed"
#### Description

##### Version

[code]

##### Steps To Reproduce
1. following https://docs.openshift.org/latest/install_config/install/advanced_install.html#multiple-masters to setup 'MULTIPLE MASTERS WITH MASTER AND ETCD ON THE SAME HOST' with tree master and one lb_master.
2. visit the web console, now visit ok.
3. poweroff the lb_master, then visit the web console, now visit failed.
4. change

[2017-09-02 17:12] magick93 opened #5293 "htpasswd' is unavailable. Please install httpd-tools on the control node"
#### Description

Playbook fails at:

[code]

 On a single master install.

##### Version

Please put the following version information in the code block
indicated below.

**ansible --version**
ansible 2.3.0.0
python version = 2.7.13 (default, Jan 19 2017, 14:48:08) [GCC 6.3.0 20170118]

##### Steps To Reproduce
1. Run `ansible-playbook -i inventory.erb ./openshift-ansible/playbooks/byo/config.yml

[2017-09-03 07:08] rhcarvalho commented on #3829
@sosiouxme FYI

[2017-09-04 10:51] ksemaev commented on #5286
Changed versions in inventory before upgrade - it worked out

[2017-09-04 10:51] #5286 closed

[2017-09-04 11:01] ksemaev opened #5294 "Default metrics installation does not insert host's name into certificate in v3.6.0"
After running installer playbook the metrics are not shown, Staus code: -1

##### Version
oc v3.6.0+c4dd4cf
kubernetes v1.6.1+5115d708d7
features: Basic-Auth GSSAPI Kerberos SPNEGO

##### Steps To Reproduce
1. Install opensift from rpms
2. Setup DNS name
3. Run ansible-playbook openshift-ansible/playbooks/byo/openshift-cluster/openshift-metrics.yml -e openshift_metrics_install_metrics=True **-e op

[2017-09-04 11:01] ksemaev commented on #5294
curl --insecure -v https://metrics.elpass 2>&1 | awk 'BEGIN { cert=0 } /^\* SSL connection/ { cert=1 } /^\*/ { if (cert) print }'
[code]

[2017-09-04 11:13] ksemaev commented on #5294
The only difference with the previous version as I see it now is in role openshift_metrics, tasks generate_certificates.yaml ans setup_certificate.yaml:
1.5.1:    {{ openshift.common.admin_binary }} ca create-server-cert
3.6.0:    {{ openshift.common.client_binary }} adm ca create-server-cert

Maybe this binari does not insert hostname when creating certificates?

[2017-09-04 12:14] hemmop commented on #4488
As the PR is merged, I'll close this issue.

[2017-09-04 12:14] #4488 closed

[2017-09-04 21:08] jorgefromhell commented on #5197
@jarrpa I'm not using atomic here ..
`[root@app-dc-prd-osmaster01 ~]# uname -a
Linux app-dc-prd-osmaster01.XXX 3.10.0-514.26.2.el7.x86_64 #1 SMP Tue Jul 4 15:04:05 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
[root@app-dc-prd-osmaster01 ~]# cat /etc/centos-release
CentOS Linux release 7.3.1611 (Core)
`
I do have glusterfs-fuse and firewalld installed on all nodes ..
`[jorge.junior@dot197nb Openshift-YA

[2017-09-05 01:34] smarterclayton opened #5295 "Docker on nodes aren't configured to trust service signing CA"
Docker should be configured to have `service-signer.crt` as a trusted CA root on each node, which allows docker on the node to trust the registry when it is signed by the service signing CA.  This is required for to move from passthrough config to reencrypt.

This is when the registry is configured externally.  Also, we should switch to using reencrypt by default.

[2017-09-05 01:37] smarterclayton commented on #5295
It might just be on the masters where this configuration hasn't been configured - I was seeing it work at least part of the time.

[2017-09-05 02:11] jarrpa commented on #5197
@jorgefromhell You need to open several ports. Please refer [here](https://github.com/gluster/gluster-kubernetes/blob/master/docs/setup-guide.md) for more details.

[2017-09-05 03:53] smarterclayton commented on #5295
@kargakis @stevekuznetsov this is why we saw failed pushes - some of the nodes weren't authorized.

[2017-09-05 13:02] ewolinetz commented on #5293
Do you have `httpd-tools` installed on the machine you're running your playbook from? That's what the error is saying you need to have configured.

[2017-09-05 14:43] tbielawa commented on #5293
@ewolinetz @magick93 I'm surprised we don't have that documented in our README

https://github.com/openshift/openshift-ansible#setup

[code]

[2017-09-05 15:59] SweetOps commented on #5197
@jarrpa , small update: I've luck only with `RHEL 7 ` :(  on all other OS's same issue. Have you luck with the reproducing?

@jorgefromhell , on each CentOS\RHEL 7 server I've installed additional packages:

[code]

and also additional variables in inventory:

[code]

[2017-09-05 16:01] jarrpa commented on #5197
@SweetOps Does that include CentOS 7, or specifically RHEL?

[2017-09-05 16:05] SweetOps commented on #5197
@jarrpa What do you mean? If you mean inventory and packages - yes, for CentOS and RHEL

[2017-09-05 16:09] SweetOps commented on #5197
@jarrpa Could you write more about you environment (`OS`, version of `glusterfs` packages on hosts, `inventory` ) ?

[2017-09-05 16:22] jarrpa commented on #5197
@SweetOps My environment is non-Atomic CentOS/RHEL 7, using the [latest gluster/gluster-centos image](https://hub.docker.com/r/gluster/gluster-centos/), with the following inventory:
[code]

[2017-09-05 18:00] sdodson commented on #5292
That's correct, the load balancer itself is not hightly available, it's intended just for proof of concept purposes. We don't provide a solution for that because in most environments customers tend to have a preferred solution for load balancing already. If it's a cloud environment that's something like an AWS ELB or on premises something like an F5 device or other highly available load balancing

[2017-09-05 18:00] #5292 closed

[2017-09-05 20:30] sdodson commented on #5243
This can be closed then?

[2017-09-06 04:40] vanloswang commented on #5292
@sdodson Could I deploy lb and lb ipfailover with keepalived  along with the three master?

[2017-09-06 06:20] prasenforu commented on #5235
@ozdanborne

May be it will help you.

## POD to Service no response

[code]
#### Able to connect from router pod to Kubernetes, router & docker registry (which is running in same host)
[code]
#### But not able to connect from router pod to mongo or myemp (which is running in different host)
[code]

[2017-09-06 08:19] virtusademo commented on #3810
Hi All,

i am trying to the downgrade the ansible version , Current ansible version is

[root@ip-172-31-25-0 ~]# ansible --version
ansible 2.2.3.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides
[root@ip-172-31-25-0 ~]#

I want downgrade the ansible-2.2.0.0-1.el7.noarchor ansible 2.2.2.0 .

Whenever i am trying downgrade ansible , i got the followin

[2017-09-06 08:19] virtusademo commented on #3810
Hi All,

i am trying to the downgrade the ansible version , Current ansible version is

[root@ip-172-31-25-0 ~]# ansible --version
ansible 2.2.3.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = Default w/o overrides
[root@ip-172-31-25-0 ~]#

I want downgrade the ansible-2.2.0.0-1.el7.noarchor ansible 2.2.2.0 .

Whenever i am trying downgrade ansible , i got the followin

[2017-09-06 09:07] Asgoret opened #5308 "Docker registry on Glusterfs storage error"
#### Description

Can`t deploy docker registry on glusterfs storage.

##### Version
[code]
##### Steps To Reproduce
1. Edit /etc/ansible/inventory
[code]
2. From /etc/ansible run:
[code]

##### Expected Results

Error:
[code]

Additional information:
Host:openshift-gluster1-6
Command: gluster volume list
Result:
[code]
Host: openshift-gluster1-3 (Registry)
Command: gluster peer status
[code]
Host:

[2017-09-06 12:50] sdodson commented on #5308
Can you please provide `oc describe pod/registry-pod` which should show why the registry is failing to deploy?

[2017-09-06 12:56] sdodson commented on #3810
@virtusademo you shouldn't have to downgrade the current branch should work fine with ansible 2.2.3.0 or 2.3.x too.

[2017-09-06 12:59] sdodson commented on #5292
Yes you could do that too.

[2017-09-06 13:21] ewolinetz commented on #5056
@deads2k is this simply a flipping the default from `false` to `true` for installing? Or do we also need to split up the installation of the aggregator, api server, and service brokers as part of this (and only set up the aggregator as part of a normal install)?

[2017-09-06 13:39] deads2k commented on #5056
You should separate the enablement of the aggregator (its certs and keys) and have it unconditionally on for 3.7.

[2017-09-06 13:48] Asgoret commented on #5308
@sdodson Hi, sure.
Host: openshift-master
Command: oc describe pod/registry-pod
Result:
Error from server (NotFound): pods "registry-pod" not found

Coomand: oc get all
Result:
[code]

[2017-09-06 13:50] sdodson commented on #5308
So, `oc describe po/docker-registry-1-8jbz7` `oc describe po/docker-registry-1-hpnkh` `oc describe po/docker-registry-1-pqx1v` ? it looks like it's going but just very slowly? IT may have had to pull images.

[2017-09-06 13:51] sdodson commented on #5308
Also, `oc logs po/docker-registry-1-deploy`

[2017-09-06 13:53] Asgoret commented on #5308
[code]

[code]

[2017-09-06 14:00] Asgoret commented on #5308
@sdodson It`s three different nodes, like says in documentation /dev/sdb/ haven`t got any partitions,LVM\PVc.

[2017-09-06 14:25] sosiouxme opened #5311 "Health check callback plugin causes warning on unhashable value"
#### Description

Traceback when there was a random failure in logging:

[code]

This is from the failure de-duplication code in the callback plugin. The result came back with a dict for a value and it won't hash.

##### Version

master

##### Observed Results

[code]

##### Additional Information
This isn't the cause of whatever failed, it's just adding to the confusion with a warning at the end.

[2017-09-06 14:31] rhcarvalho commented on #5311
@sosiouxme, ack. I've hit this when implementing the dedup logic. We could capture the error and abort the dedup -- print the regular output.

Do you have the other part of the log to show what was the value of `failure`?

[2017-09-06 14:42] jarrpa commented on #5308
@asgoret Please retry the deployment, make sure the pods exist, then do an `oc describe po/<POD_NAME>`. You should be getting back output if the pods still exist.

[2017-09-06 14:47] jarrpa commented on #5308
@Asgoret Also, I believe you'll need to provide `glusterfs_ip` for all your GlusterFS nodes in your inventory file. See here:

https://github.com/openshift/openshift-ansible/blob/master/inventory/byo/hosts.byo.glusterfs.external.example

[2017-09-06 15:26] Asgoret commented on #5308
@jarrpa
State of installing:
[code]
Host: openshift-master
Command: oc get all
Result:
[code]

Command:oc logs po/docker-registry-1-deploy
Result:
[code]

[2017-09-06 15:28] Asgoret commented on #5308
@jarrpa
[code]

[2017-09-06 15:43] abessifi commented on #3167
Hi folks,
Does this issue persist ?

[2017-09-06 16:06] Asgoret commented on #5308
@jarrpa
Command:oc describe po/docker-registry-1-3cwbs

[code]

[2017-09-06 16:28] conatus commented on #4541
@ewolinetz

Is there a work around for this issue? I'm on the `release-3.6` branch and this seems to still be the case despite your merges.

[2017-09-06 16:31] jarrpa commented on #5308
Hmm... looks like the registry volume doesn't exist. You're using external GlusterFS nodes... can you check your ansible output and see if the registry volume creation (in the GlusterFS section) succeeded?

[2017-09-06 16:53] Asgoret commented on #5308
@jarrpa
What section or task i need find?

[2017-09-06 16:58] jarrpa commented on #5308
"Create GlusterFS registry volume"

[2017-09-06 16:59] jarrpa commented on #5308
Also check the output of "gluster volume status" from one of the GlusterFS nodes to see if the volume is there.

[2017-09-06 17:04] Asgoret commented on #5308
@jarrpa
[code]

[2017-09-06 17:21] #4809 closed

[2017-09-06 17:26] Asgoret commented on #5308
[code]
It`s strange, because
Command: oc get storageclass
[code]
But on GlusterFS nodes
Command: gluster volume status
[code]
Same on GlusterFS registry nodes.

[2017-09-06 17:37] dougbtv commented on #5243
Indeed, that does address the issue at hand.

I've discovered a couple other things that might be awry, but, I'll file a more specific issue.

Thanks everyone, much appreciated.

[2017-09-06 17:37] #5243 closed

[2017-09-06 17:53] jarrpa commented on #5308
Well, the SC doesn't matter. The registry volume is statically provisioned. But the volume not being present explains why the registry pods won't start. Can you delete the registry dc, rerun the installer with "-vvv", and see what the output of the GlusterFS registry volume creation says?

[2017-09-06 19:46] jorgefromhell commented on #5197
uninstalled and deployed a couple more times and still not working. For me what's happening is that the pvc, even the dynamic endpoint gets created just fine, but when the deploy starts and the pv has to be mounted, I'm seeing this on the logs from the assigned node (endlessly, like 30-40 times per second, same message):

[code]

Also, @jarrpa , I got the names and types of installation mixed up,

[2017-09-06 19:56] jarrpa commented on #5197
@jorgefromhell I have no experience using `containerized=true`, but I thought that was only if you were running on Atomic. @sdodson, can you clarify what it does and when it's used?

[2017-09-06 19:58] jarrpa commented on #5197
@SweetOps I just noticed that you list your GlusterFS variables in a `glusterfs:vars` section, which I don't officially support. I've had other users run into problems doing this that resolved when they brought them into the general `OSEv3:vars` section. Not saying that this is happening here, just FYI. :)

[2017-09-06 20:01] jarrpa commented on #5197
Actually, this is getting absurdly long.

@jorgefromhell, let's continue discussing your problem in #5118.

@SweetOps, if you feel your original issue has been resolved please close this one and open a new Issue with whatever problems you're still finding. :)

[2017-09-06 20:02] jarrpa commented on #5118
Will be continuing the discussion from #5197 here.

[2017-09-06 20:23] JayKayy opened #5323 "Permissions denied for .jks ES files with non root user"
#### Description

config.yml installer fails on copying the *.jks files when the ansible playbook is not running as root but as a passwordles sudo user. The files are generated via sudo and given root ownership so when the task is run as local sudo is not used and permission denied error occurs.

##### Version

[code]

##### Steps To Reproduce
Set 1-3 in the inventory file.
1. Set `ansible_ssh_use

[2017-09-06 20:51] SweetOps commented on #5197
@jarrpa , doesn't matter where that variables placed

@jarrpa , sorry, but have luck only with `RHEL 7.3` with all other OS (`Centos` or any `Atomic`) problem (volumes doesn't mount to pods) is exist, so I don't issue is resolved.

[2017-09-06 20:53] rassie opened #5324 "Upgrading from 1.4 to 1.5 (as a step to 3.6) fails on docker-excluder"
#### Description

When upgrading from 1.4 to 1.5, with either `release-1.5` branch or `master`, Ansible fails with `Available origin-docker-excluder version 3.6.0 is higher than the upgrade target version`, because it only extracts the newest version from the repos, which currently contain 3.6.0 as the newest version.

##### Version

[code]

##### Steps To Reproduce
1. Have an existing cluster wit

[2017-09-06 23:05] bacek commented on #4950
I'm expiriencing exactly same failure. openshift-origin, release-3.6 branch, deploying on CentOS 7.3.

This is output on freshly created node.

[code]
Full output - https://gist.github.com/bacek/fd8a4e141e124b51c75802a77ceac02d

[2017-09-06 23:21] jarrpa commented on #5197
@SweetOps Huh... are the errors you're getting in CentOS and the Atomic flavors the same? If so, could I ask you to either paste the errors again or link to a comment in this thread where you pasted them? I'm having a difficult time keeping track of all the data, sorry. :(

[2017-09-07 01:15] ozdanborne opened #5326 "Hosted installs of CNI network plugins aren't supported as CNI plugin dirs and bin dirs on the host don't have`svirt_sandbox_file_t`"
#### Description

Hosted installs of CNI network plugins aren't supported as CNI plugin dirs and bin dirs on the host don't have`svirt_sandbox_file_t`.

##### Steps To Reproduce

1. Run a priviliged pod with `hostPath` volume mounts for `/etc/cni/net.d/` & `/opt/cni/bin/`
2.  `touch /etc/cni/net.d/this`

##### Expected Results

Expect write access to aformentioned directories

##### Observed Resul

[2017-09-07 02:04] dustymabe commented on #2614
I think this can be closed now? https://docs.openshift.org/latest/install_config/install/advanced_install.html#advanced-install-glusterfs-persistent-storage

[2017-09-07 02:04] dustymabe commented on #5187
seemed to work for me FYI

[2017-09-07 02:06] dustymabe commented on #5118
i'm having this problem with origin 3.6.0 and fedora 26 atomic host.

[2017-09-07 04:58] kprabhak commented on #5326
Not sure if this helps. http://www.projectatomic.io/blog/2016/03/dwalsh_selinux_containers/

[2017-09-07 04:59] kprabhak commented on #5326
Not sure if this helps: http://www.projectatomic.io/blog/2016/03/dwalsh_selinux_containers/

[2017-09-07 05:02] kprabhak commented on #5326
Not sure if this helps: http://www.projectatomic.io/blog/2016/03/dwalsh_selinux_containers/

Also cc'ing @rhatdan in case he has other suggested approaches for self-hosted cni plugins in kubernetes that need to write to /etc/cni and /opt/cni

[2017-09-07 05:38] SweetOps commented on #5197
@jarrpa, Yes, the errors are same.

[code]

[2017-09-07 08:55] rhatdan commented on #5326
If you got this error, this means that your pod was not privileged from an SELinux point of view.
What avc's did you get

On the host execute:

ausearch -m avc -ts recent

I believe the pod is running with a confined label rather then spc_t.

[2017-09-07 10:20] Asgoret commented on #5308
@jarrpa
Is there some requiments for gluster? I install gluster 3.10.

[2017-09-07 12:12] #5160 closed

[2017-09-07 12:14] sosiouxme commented on #5311
I have the full log but I'm not sure what you mean. Nothing shows exactly what the dedup code was looking at. I'm guessing the result that got sent off to the failure handler included an element with some of the result shown above. I don't see anything else that's of interest. I'll attach the log though...

[ansible.20170906.1.txt](https://github.com/openshift/openshift-ansible/files/1284589/ansib

[2017-09-07 12:29] jarrpa commented on #5197
So this leaves us to ask what is different between your RHEL installations and your CentOS/Atomic installations... can you verify the following:
[code]

[2017-09-07 12:29] rhcarvalho commented on #5311
Just to be sure, are you observing this issue on the master branch?

[2017-09-07 12:34] rhcarvalho commented on #5311
This code here is responsible for transforming a failure into a `dict` such that all *keys* are strings and all *values* should be hashable.

https://github.com/openshift/openshift-ansible/blob/aad4ccce7ce6641d3c720507568f6da779a66995/roles/openshift_health_checker/callback_plugins/zz_failure_summary.py#L101-L120

`host`, `play`, `task`, and `msg` should all be strings. For `checks` we should have

[2017-09-07 12:35] rhcarvalho commented on #5311
I can slowly type a PR to make it more robust

[2017-09-07 13:00] jarrpa commented on #5308
@Asgoret No, 3.10 should be fine.

[2017-09-07 13:05] sosiouxme commented on #5311
On Thu, Sep 7, 2017 at 8:34 AM, Rodolfo Carvalho <notifications@github.com>
wrote:

Yeah, but this wasn't a check failure, it was a regular task failing. And I
can't tell for sure but I think its `msg` was a hash.

This was... pretty close to master branch, if not on it (was testing an
unrelated PR at the time).

[2017-09-07 13:09] rhcarvalho commented on #5311
yes, the most likely in having a `dict` as the message... hmm, so yeah, will try to make it more robust

[2017-09-07 13:50] Petrox opened #5327 "Commit makes doc / variables out of sync"
#### Description

Ansible module parameter and documentation conflict warning in a commit. (Outsider eyes looking at the commit diff.)

@abutcher and @hzgraham might be interested in this.

1. Original issue: https://github.com/openshift/openshift-ansible/issues/2435
2. Commit that _should_ solve the issue: https://github.com/openshift/openshift-ansible/commit/d1730f70c9330edc55798c94d4c0fe183bd61

[2017-09-07 17:42] jsuchenia commented on #5291
I found an issue with my script - internal X.590 certs were generated for full names and IP, not internal short names:

[code]

[2017-09-07 17:54] ozdanborne commented on #5326
@rhatdan I'm very unfamiliar with SELinux, so pardon my green-ness.

[here's my output for ausearch output](https://github.com/openshift/openshift-ansible/files/1285648/avc.txt).

I also wanted to mention that I'm trying to launch this pod during the openshift-ansible provisioning, so I was hoping to be able to proactively give it the needed SELinux permissions (instead of reactively checking for

[2017-09-07 18:08] rikkuness opened #5330 "Disconnected install fails check for docker image locations"
#### Description
 In disconnected install where `osm_etd_image` is being defined to set the location of the etcd image, checks fail as location is hardcoded https://github.com/openshift/openshift-ansible/blob/master/roles/openshift_health_checker/openshift_checks/docker_image_availability.py#L124-L125

##### Version
Ansible: 2.2.3.0
openshift-ansible: v3.6.173.0.21-2.git.0.44a4038

##### Steps To

[2017-09-07 18:52] sosiouxme commented on #5330
This is a result of there being [a lot of different variables involved in determining where to get the various images](https://github.com/openshift/openshift-ansible/issues/4415).

I guess for the limited set of images we're looking for, we need to track them all down and either include them in this check's logic or stop looking for them at all.

@rikkuness thanks, good to hear from someone who's

[2017-09-07 18:54] sosiouxme commented on #5330
Related: https://bugzilla.redhat.com/show_bug.cgi?id=1480195

[2017-09-07 19:01] rikkuness commented on #5330
There was a couple but those were because I postfix a string onto the tag as part of a CI process, in my `oreg_url` I can add the postfix there and there's no problems except for some images where I have to again override with variables such as `osn_image` and there was one for the openvswitch image which seems to be again a different format and location to `oreg_url`, I guess most of these issues

[2017-09-07 19:06] magick93 commented on #4800
Also experiencing this same error.

Does anyone know how to resolve this?

[2017-09-07 20:14] paralin opened #5331 "Installation against CentOS 7 overrwrites /dev/null"
I'm running the Ansible setup against 3 CentOS 7 servers, on master, commit dc0e3d21

The installer breaks with unreachable errors, because for whatever reason it seems like it's overwriting /dev/null with a regular file. This literally breaks SSH access to the server, with the error "Couldn't open /dev/null, permission denied".

The step that causes this is the haproxy setup step. The host affect

[2017-09-07 20:19] paralin commented on #5331
To resolve the issue:

[code]

Running the installer again broke it again in the same way.

[2017-09-07 20:31] sosiouxme commented on #3829
For prerequisites on the host running Ansible, it seems like they could just be included in the requires for atomic-openshift-utils.

I wonder if this list comes from the use case where people are installing ansible separately and running from a git clone of openshift-ansible.

[2017-09-07 20:41] paralin opened #5333 "Wrong etcd node hostname in master config"
On master commit dc0e3d218

The etcd hosts are configured with the `openshift_ip` correctly:

[code]

But the master config is wrong, using the public URLs instead:

[code]

cc @smarterclayton

[2017-09-08 07:16] Asgoret commented on #5308
@jarrpa
[code]

[2017-09-08 08:01] Asgoret commented on #5308
@jarrpa
Hmmm....i find some isseu.
[code]
Issue in IP. It`s IP of gluster storage cluster, not gluster registry cluster.

[2017-09-08 10:29] magick93 opened #5335 "Import Centos Image streams fails"
#### Description

Trying to install OpenShift Origin but fails with

[code]

##### Version

Please put the following version information in the code block
indicated below.

**Versions**
- ansible 2.3.0.0
- Branch release-1.5

[code]

##### Steps To Reproduce
1. Run the following inventory file:
[code]
Using `ansible-playbook -i inventory.erb ./openshift-ansible/playbooks/byo/config.yml `

##### Ex

[2017-09-08 11:59] TimoL commented on #5197
I'm facing the exact same issue as @SweetOps.

Env:
- OpenShift Origin 3.6, containerized install
- CentOS Linux release 7.3.1611 (Core)
- OpenShift-Ansible (latest release-3.6 branch)
- Inventory: basically the same as @SweetOps

@jarrpa I have verified the glusterfs node setup according to your checklist.

**firewall rules**: ok
[code]

**kernel modules**: not ok (`dm_snapshot` and `dm_mirror` m

[2017-09-08 12:27] jarrpa commented on #5308
Hmm... but the command succeeded. Is there still no volume created? Can you check the heketi logs `kubectl logs <HEKETI_POD>` to see if something went wrong?

[2017-09-08 12:30] jarrpa commented on #5197
@TimoL Did adjusting the kernel modules fix it?

[2017-09-08 12:45] sdodson commented on #5197
Sorry I missed this question. You can install containerized on normal RHEL/Centos/Fedora but it defaults to RPM based installs so you need to set `containerized=true` to get a containerized install on non atomic hosts. On atomic, containerized is the only possibility so we automatically do it there.

[2017-09-08 13:00] TimoL commented on #5197
@jarrpa Got sidetracked by high-prio issue, will try asap and report back.

[2017-09-08 13:02] sdodson commented on #5335
It's attempting to contact openshift.domain.com but that name doesn't resolve, do you expect that it should resolve?

[2017-09-08 13:06] jarrpa commented on #5118
@jorgefromhell @dustymabe Can either of you try to see if there are any log files under `/var/lib/kubelet` that end with `-glusterfs.log`? ...or anywhere on the nodes with the failing pods, really? ;)

[2017-09-08 13:09] sdodson commented on #5118
If logs aren't there they're probably in the journal for the node service on the host where the pod is attempting to run.
`journalctl --no-pager -u origin-node`

[2017-09-08 13:47] Asgoret commented on #5308
@jarrpa
No, volume in gluster registry isn`t create.
[code]
I will rerun instal and try "kubectl" command. Are there any additional instal-setting for heketi?
[code]

[2017-09-08 13:53] jarrpa commented on #5308
@Asgoret No no, `kubectl` was a typo, I meants `oc`, sorry. :) I want to see the heketi logs, so do `oc logs <HEKETI_POD>`.

To use heketi-cli, you need to do `heketi-cli -s http://<HEKETI_ROUTE> --user admin --secret <HEKETI_SECRET>`. `HEKETI_ROUTE` is the router address fo rheketi, which I think you can find with something like `oc get route heketi-storage-route`. `HEKETI_SECRET` is the heketi a

[2017-09-08 14:20] sdodson commented on #5333
I agreed we should switch to ips, but this doesn't actually break anything does it?

[2017-09-08 14:24] sdodson commented on #5331
Can you confirm that /dev/null exists prior to install? I can't fathom why it wouldn't but who knows. Do you have logs that indicate at which task it fails and the previous tasks that presumably nuked /dev/null ?

[2017-09-08 14:57] paralin commented on #5331
Yes it exists, you can't ssh without it, and the openshift load balancer install step for haproxy breaks it. I was lucky to have physical access to the server.

[2017-09-08 15:51] ewolinetz commented on #4541
@conatus can you please verify that you have the latest from that branch?

[2017-09-08 15:54] magick93 commented on #5335
Yes it show resolve. But I founds this - https://github.com/openshift/openshift-ansible/issues/2412#issuecomment-245180190 - and while the IPv4 resolves, the IPv6 doesnt.

[2017-09-08 16:01] conatus commented on #4541
I'll check. Thanks @ewolinetz

[2017-09-08 16:05] #5187 closed

[2017-09-08 16:05] #2614 closed

[2017-09-08 16:13] ewolinetz commented on #4956
@enj What is the 3.7 equivalent for `oc create policybinding kube-system -n kube-system` ?

I'm able to see this issue when testing locally:
[code]

[2017-09-08 16:19] naveenkumartangallapally opened #5337 "how to integrate jenkins(CI/CD) with existing project in openshift"
Hi,
I was setup my openshift environment and it is working fine.
Now i want to integrate my existing project which was created earlier in my openshift environment with jenkins(CI/CD).

can any one help me how to integrate to CI/CD.

[2017-09-08 16:31] enj commented on #4956
@ewolinetz I do not know what you intent was with that command.  I expect you just need to directly create and delete any role bindings as necessary.

[2017-09-08 16:37] gabemontero commented on #5337
hey @naveenkumartangallapally

The OpenShift portfolio has a series of integration points with Jenkins.  Specifically:

- we provide a set of "openshift jenkins" images out of https://github.com/openshift/jenkins; these images are intended to be run from an OpenShift pod; The openshift/jenkins-2-centos7 image is hosted on dockerhub; the openshift3/jenkins-2-rhel7 is hosted on registry.access.redha

[2017-09-08 16:43] magick93 commented on #5335
Ok, both IPv4 and IPv6 resolve. But now I am stuck on:

`The hostname "openshift.domain.com" for "openshift.domain.com" doesn't resolve to an ip address owned by this host. Please set openshift_hostname variable to a hostname that when resolved on the host in question resolves to an IP address matching an interface on this host. This host will fail liveness checks for pods utilizing hostPorts, pre

[2017-09-08 16:59] #5337 closed

[2017-09-08 17:04] magick93 commented on #5335
Both
`dig +short -s openshift.domain.com`
and
`host openshift.domain.com`
show the correct IP address.

[2017-09-08 17:20] sdodson commented on #5335
When you say the correct ip address, you mean an ip address that's actually bound to an interface on the host? This is a check that's intended to prevent health checks from utilizing a host's public ip address in scenarios where a host has both a public and private ip like AWS, OpenStack, etc.

If you'd like to bypass this check you can set `openshift_override_hostname_check=true`

[2017-09-08 17:33] magick93 commented on #5335
Ok thanks. Will try that.

[2017-09-08 17:53] conatus commented on #4541
@ewolinetz

It appears to work. Thanks a lot.

Sadly though, Kibana itself fails to come back up, which may well be another issue underlying this. Trying again to ensure it is not user error in my hosts file.

[2017-09-08 18:00] magick93 commented on #5335
Now it fails on:

[code]

And when I try that url with curl I get:

`curl: (7) Failed to connect to openshift.domain.com port 8443: Connection refused`

[2017-09-08 18:16] magick93 commented on #5335
Even with `openshift_override_hostname_check=true` I still get the below warning:

[code]

[2017-09-08 18:20] magick93 commented on #5335
Also, I had to ssh to the master and run `openshift start`. Openshift did not start automatically after completing the playbook.

Also, on the master, when I ran `oc login -u system:admin` I was prompted to login. This is a first.

[2017-09-08 19:06] ewolinetz commented on #4541
Thanks @conatus

Closing this as the original issue is resolved now.

[2017-09-08 19:06] #4541 closed

[2017-09-08 19:40] detiber opened #5341 "Package version conflicts when adding an additional host to cluster"
#### Description

Adding an additional node to my inventory and re-running playbooks/byo/openshift-cluster/config.yml results in a failed playbook run with package conflicts.

##### Version

Please put the following version information in the code block
indicated below.

[code]

##### Steps To Reproduce
1. Install a cluster
2. Wait for a newer version of openshift is released
3. Add an additional

[2017-09-08 19:41] detiber commented on #5341
@sdodson This also appears to be related to https://github.com/openshift/openshift-ansible/pull/5208

[2017-09-08 20:24] michaelgugino commented on #5341
@detiber can you post an example inventory and more output?  I don't see why a conflicting (eg newer) package version would already be installed.

[2017-09-08 21:47] michaelgugino commented on #5341
I think I have this sorted out.

PR Submitted:  https://github.com/openshift/openshift-ansible/pull/5344

Synopsis: atomic-openshift package is installed on all hosts by openshift_version role without first setting the value of openshift_pkg_version.

[2017-09-09 01:15] sdodson commented on #5341
Makes sense, none of our CI testing will test this. @detiber is this something you can test?

[2017-09-09 01:38] magick93 commented on #5335
As the previous error said connection refused, I sshed to master, and noticed OpenShift wasnt running, so ran `openshift start`. Then on running the playbook again, it fails at the same place, but with different error details.

[code]

[2017-09-09 02:46] detiber commented on #5341
@sdodson @michaelgugino I did a run through with #5344 and was able to get a successful run through with the proper versions installed. Thanks!

[2017-09-09 19:12] paralin commented on #5333
Yes. This breaks everything. Those URLs resolve to a completely different IP which Etcd is not bound to.

[2017-09-09 19:20] paralin commented on #5232
Broken for me too.

[2017-09-09 19:20] paralin commented on #5232
To be honest there's not a whole lot that's NOT broken with this setup...

[2017-09-10 05:45] tianhao opened #5347 "How to add nfs mountpoint ? I use [nfs] group for cluster"
I use [nfs] group in cluster,  openshift-ansible config and setup default mountpoint like `/exports/logging`.

/etc/ansible/hosts

[code]

Now I need add other pv for my app, I added ```/exports/test-mount   *``` to the `/etc/exports.d/openshift-ansible.exports`,and reload, but the new mountpoint can not mount

[code]

A few minutes later and can be mounted, so it will automatically load from time

[2017-09-10 08:04] besser82 commented on #5197
@jarrpa

I did a fresh installation (Fedora 26 Atomic, containerized, registry storage on gluster).  The created GlusterFS volume(s) for the registry are mounted properly; GlusterFS volumes from custom created projects do not…  So gluster-fuse must be properly present on the nodes running the GlusterFS pods.

There must be some other problem going on…

[2017-09-10 11:51] patlachance opened #5348 "Enterprise installation fails behind web proxy"
#### Description
To ensure ingress and egress network flows will be traced by specific network appliances (proxy and reverse proxy), we need  to deploy Openshift behind a secured internet access point.

Since [Proxy Settings](https://github.com/openshift/openshift-ansible/issues/528) were added to the project, I thought that it would be straightforward but it fails.

Installation process triggered

[2017-09-10 15:42] jarrpa commented on #5197
@besser82 So if I understand you correctly, the installation successfully created the GlusterFS volume for the hosted registry, and that volume's PVC is mounted just fine by the registry pods. Is that right?

What do you mean by "GlusterFS volumes from custom-created projects"? Are you talking about trying to dynamically provision GlusterFS volumes? If so, you're still running into the `could not

[2017-09-11 00:03] bacek commented on #4950
"NetworkManager must be installed" is coming directly from https://github.com/openshift/openshift-ansible/blob/master/roles/openshift_node_dnsmasq/tasks/no-network-manager.yml

[2017-09-11 00:33] bacek opened #5349 "Start of origin-node failed if there is no NetworkManager controlled interfaces"
#### Description

Installing Openshit Origin on node without NetworkManager controlled interfaces failed.

```/etc/origin/node/resolv.conf``` generated by ```/etc/NetworkManager/dispatcher.d/99-dnsmasq-origin-dns.sh```. Which is not invoked at all when there is no NM controlled NICs. Then ```systemctl start origin-node``` failed with

[code]

##### Version

[code]

##### Steps To Reproduce
1. Crea

[2017-09-11 01:21] dustymabe commented on #5232
i'm seeing this as well on fedora 26 atomic host.

[2017-09-11 12:33] jmencak opened #5351 "Tuned profile setup broken in openshift_node role"
#### Description
Tuned profile setup broke between commits  f1d98352736169d51a3ea838b8feea4c07d8cccc and 521b65b2a3c911c926974bd70309434d97e6fd0.

openshift_node role no longer includes tasks/tuned.yaml as introduced in PR5089.

##### Version

commit 29f8833107ce2a350fa4cac3c796de359d005565 fails (openshift-ansible-3.7.0-0.112.0)
commit 521b65b2a3c911c926974bd70309434d97e6fd0d fails (openshift-ans

[2017-09-11 12:45] jmencak commented on #5351
Linking RH BZ: https://bugzilla.redhat.com/show_bug.cgi?id=1477518

[2017-09-11 13:06] Asgoret commented on #5308
@jarrpa
Hmmm...I`m not sure i did all right
[code]
About cluster:
[code]
I think it`s wrong or don`t complete heketi configure...Service create cluster, get ID for nodes but don`t know how to get to device on this nodes...
Are there any additional instal-setting for heketi? I use only install command to install heketi\heketi-client\heketi-templates from epel repository.

[2017-09-11 14:00] jorgefromhell commented on #5118
@jarrpa @sdodson nothing different from the logs I've posted before. When my deploy starts, I start a tail on the origin-node logs and the only thing I get is this message, repeatedly:

[code]

I'm only getting this error using the `containerized=true` on my inventory. As a workaround for now, I'm using the rpm version.

Thanks!

[2017-09-11 15:48] ewolinetz commented on #4956
@deads2k I believe we had talked about something similar on IRC last week... but for this we can resolve this simply by removing the lines in question that Scott had mentioned above?

[2017-09-11 16:46] ozdanborne commented on #5326
ping @rhatdan any other advice?

[2017-09-11 18:27] jcpowermac opened #5362 "GlusterFS deployment - failure with set heketi-cli command"
**Version**: openshift v3.6.173.0.21

**Issue**: Initial deployment of gluster failed with timeout of deployment of DaemonSet (slow machine).  Added longer timeout value and rerun.  Now consistent error with task: [Set heketi-cli command](https://github.com/openshift/openshift-ansible/blob/f95e3c4133e8d8e4878b1e37398c5b2288f81905/roles/openshift_storage_glusterfs/tasks/glusterfs_common.yml#L192)
[

[2017-09-11 19:33] #5341 closed

[2017-09-11 20:33] sdodson commented on #5351
Looks like your changes to merge the node boostrapping lost the call to tuned.yml but maybe you were refactoring this in some other way?

[2017-09-11 21:12] jarrpa commented on #5362
Is this a greenfield deployment? Are you destroying the cluster or at least the GlusterFS resources between reruns?

[2017-09-11 22:22] jarrpa commented on #5308
Are you not using openshift-ansible to deploy heketi?

How are you running `heketi-cli` without specifying the server or admin secret?

[2017-09-11 22:31] jarrpa commented on #5308
...OH WAIT. I forgot you are using an external GlusterFS cluster and heketi!! Sorry about that!

Okay, let's step back to [here](https://github.com/openshift/openshift-ansible/issues/5308#issuecomment-328031605).

It looks like you have one heketi instance for both clusters, is that right? Can you do `heketi cluster info <ID>` for each of your two clusters?

Can you paste your latest inventory fil

[2017-09-11 22:45] jarrpa commented on #5118
@jorgefromhell All right, I'm not too familiar with the GlusterFS provisioner in Kube. I'll need some time to pull in others or go diving myself. :) Note that currently I'm traveling out at a conference. Ping me in a week or so if I don't reply before then.

[2017-09-12 05:26] humblec commented on #5118
I am yet to read both the threads in details, however if I summarize, the PVC is created successfully in all the cases, however the mount is failing.  The application pods are running on either Fedora 26 or CentOS 7.3 ( with contenarized installation) where we see the mount failure. RHEL works perfectly, is RHEL too contenarized ?  Also, any one got a chance to try "rpm" based CentOS or Fedora ins

[2017-09-12 05:50] aizuddin85 commented on #5348
You also need to configure docker to use proxy to reach external registry. My inventory file for proxy:
[code]

[2017-09-12 07:10] Asgoret commented on #5308
@jarrpa
[code]
From this information i can propose, that first ID is storage cluster and second if registry.

And inventory:
[code]

[2017-09-12 08:47] yu2003w opened #5369 "Installation hangs when running in background"
#### Description
When installing OpenShift Origin 3.6 using openshift-ansible in background, it hangs on the stage as below,
TASK [openshift_master : pause] ***************************************************************************************************************
Pausing for 15 seconds
(ctrl+C then 'C' = continue early, ctrl+C then 'A' = abort)

##### Version

[code]

##### Steps To Reproduce

[2017-09-12 10:55] jmencak commented on #5351
Fixed by #5370.  Tested both on RHEL Atomic 7.4 and RHEL 7.4.

[2017-09-12 12:48] deads2k commented on #4956
If these clusters were never supported, then removing the lines in question is fine.

@ewolinetz @sdodson If you like the structure for the TSB, I would suggest that you push on the service catalog team to provide the same structure for you to consume and that should get you out of the business of trying to sort this out.

[2017-09-12 13:07] ttindell2 commented on #5362
I have experienced the same issue. This happens to me when rerunning ansible after glusterFS has already been deployed. The workaround I found was to delete the GlusterFS cluster (or Project if containerized) and rerun ansible. This is not a good workaround... The GlusterFS ansible script should be idempotent.

[2017-09-12 13:19] ttindell2 commented on #5369
I have also had this issue. +1

[2017-09-12 13:21] ttindell2 commented on #5232
+1. Same issue here. Had to remove GlusterFS completely and rerun to get it to work.

[2017-09-12 13:24] jcpowermac commented on #5362
@jarrpa yeah its green.  And nope I didn't destroy the cluster or the gluster resources.
@ttindell2 thanks I will try deleting the project.

[2017-09-12 13:54] ewolinetz commented on #4956
https://github.com/openshift/openshift-ansible/pull/5226 contains this fix

[2017-09-12 14:03] linzhaoming opened #5372 "The install script for the DNS failed to setting the search section"
#### Description

The install script for the DNS failed to setting the search section, and when setting it manually, it will be aoto reseted by the script.

See the Issue of https://github.com/openshift/origin/issues/16097

I have faced the same problem in my environment of V3.6
Installed by openshift_ansible project, the way is rpm.

I found the cause is 99-origin-dns.sh of networkmanager.

I fix

[2017-09-12 14:35] ingvagabund opened #5374 "etcd like issues and ideas towards more modular roles"
Do the following once all `etcd_*` like roles are consolidated into one action base `etcd` role:

* [ ] move `openshift_etcd_facts` out of all etcd roles: https://github.com/openshift/openshift-ansible/pull/5371/files#r138348952
* [ ] remove all `openshift_etcd_*` wrappers of etcd roles
* [ ] unify all etcd role variables and generate role variables table automatically

**PRs**:
* [x] https://gith

[2017-09-12 15:57] jcpowermac commented on #5362
@jarrpa my install is past the glusterfs so I think its looking good.  I did run into another issue - https://github.com/gluster/gluster-kubernetes/issues/19
which I lazily created a playbook to just run modprobe.

I also added to the inventory:
[code]

[2017-09-12 16:26] adelton commented on #3012
Potentially related: https://github.com/openshift/openshift-ansible/issues/2513

[2017-09-12 17:06] michaelgugino commented on #2513
Hello,

  Thank you for reporting this issue.  Unfortunately, a malformed variable can affect things in surprising ways.  It is not practical to check each variable for 100% correctness before utilization.

The correct usage of openshift_master_identity_providers is documented here:  https://docs.openshift.org/latest/install_config/configuring_authentication.html#identity-providers-ansible

I am c

[2017-09-12 17:06] #2513 closed

[2017-09-12 17:10] jarrpa commented on #5118
@humblec Currently the issue comes in when Openshift is deployed "containerized", that is the Openshift components are in containers rather than RPMs. Containerized mode can be used on RPM-based distros as well as Atomic. This and another thread have verified that non-containerized installation works just fine, so we're looking at scenarios where `containerized=true` is set.

We were also wonderin

[2017-09-12 18:09] dustymabe commented on #5362
so I think we have debugged a bit and found the problem.

There are quite a few tasks that set/register the `heketi_pod` variable. The problem is that when a task is skipped a variable that was to get registered by it does get set even though the task was skipped. For example, we added a debug statement right before the `Set heketi-cli command` task and you can see that the `Wait for deploy-heketi

[2017-09-12 18:36] jarrpa commented on #5362
@ttindell2 @jcpowermac @dustymabe You are all correct. :)

@ttindell2 Yes, the playbook should be more idempotent. However, this is currently not implemented and at present not possible. Officially, we currently only support greenfield deployments without idempotence. If something goes wrong the only solution is to destroy the entire set of Gluster and heketi resources, wipe all affected storage d

[2017-09-12 19:10] michaelgugino commented on #481
This code path has been removed.

Closing as this bug no longer applies.

[2017-09-12 19:10] #481 closed

[2017-09-12 19:12] michaelgugino commented on #549
The linked bugzilla document shows that issue closed and fixed in recent firefox versions.

If this is still affecting you, please file a new issue.

[2017-09-12 19:12] #549 closed

[2017-09-12 19:16] michaelgugino commented on #682
This codepath has been removed in master.

Closing as this bug is no longer valid.

[2017-09-12 19:16] #682 closed

[2017-09-12 19:34] naveenkumartangallapally opened #5383 "not able to login jenkins in openshift"
Hi,

I deployed jenkins in openshift environment and its working fine.

but i am not able to login jenkins and where i can find jenkins credentials in openshift.

i was tried also to set sudo access by
oadm policy add-scc-to-user anyuid -z default

but its not working.can any one help me to resolve the issue

[2017-09-12 19:46] michaelgugino commented on #1195
The affected code path has been removed.

Closing as this bug is no longer valid.

[2017-09-12 19:46] #1195 closed

[2017-09-12 19:48] jorgefromhell commented on #5118
@jarrpa , yes, mounting a GlusterFS volume on the host itself works just fine.

[2017-09-12 19:50] michaelgugino commented on #1339
The affected code path has been removed.

Closing this bug as it is no longer valid.

[2017-09-12 19:50] #1339 closed

[2017-09-12 19:53] michaelgugino commented on #1401
The affected code path has been removed.

Closing this bug as it is no longer valid.

[2017-09-12 19:53] #1401 closed

[2017-09-12 19:59] michaelgugino commented on #1431
It looks like this matter has been solved by answering a question.

Closing this issue as it is resolved.

[2017-09-12 19:59] #1431 closed

[2017-09-12 20:02] jarrpa commented on #5118
Thanks @jorgefromhell. @humblec, any insights on what the error in https://github.com/openshift/openshift-ansible/issues/5118#issuecomment-328538148 could mean?

[2017-09-12 20:03] michaelgugino commented on #1437
Docker version is now 1.12 in Centos Extras repo.

Closing this issue as it is no longer valid.

[2017-09-12 20:03] #1437 closed

[2017-09-12 20:08] michaelgugino commented on #1448
This issue is no longer valid.

[2017-09-12 20:08] #1448 closed

[2017-09-12 20:11] michaelgugino commented on #1453
Closing due to inactivity.

If you would still like to see this feature added, please file a new issue.

[2017-09-12 20:11] #1453 closed

[2017-09-12 20:24] michaelgugino commented on #1459
The affected code path has been removed.

Closing this bug as it is no longer valid.

[2017-09-12 20:24] #1459 closed

[2017-09-12 20:39] #5311 closed

[2017-09-12 20:41] michaelgugino commented on #1512
The affected code path has been removed.  Additionally, it looks like this issue was solved by external documentation.

Closing this issue as it is no longer valid and/or solved.

[2017-09-12 20:41] #1512 closed

[2017-09-12 20:41] jarrpa commented on #5308
@Asgoret Okay. Try deleting the existing volume, run the following:
[code]
Then re-run the openshift-ansible installer.

[2017-09-12 20:52] michaelgugino commented on #1573
Current docker version available is much newer than problem version.

Closing this issue as it is no longer valid.

[2017-09-12 20:52] #1573 closed

[2017-09-12 21:09] michaelgugino commented on #1580
The affected code path has been removed.

Closing this issue as it is no longer valid.

[2017-09-12 21:09] #1580 closed

[2017-09-12 21:09] michaelgugino commented on #1581
The affected code path has been removed.

Closing this issue as it is no longer valid.

[2017-09-12 21:09] #1581 closed

[2017-09-12 21:13] michaelgugino commented on #1587
This issue appears to have been resolved by #1592
If this is still affecting you, please consider opening a new issue.

[2017-09-12 21:13] #1587 closed

[2017-09-12 21:14] michaelgugino commented on #1591
This issue appears to have been solved in the other bug #1138.
If this issue is still affecting you, please consider opening a new issue.

[2017-09-12 21:14] #1591 closed

[2017-09-12 21:16] michaelgugino commented on #1595
This issue appears to have been resolved by answering a question.

If this issue is still affecting you, please consider reopening this issue.

[2017-09-12 21:16] #1595 closed

[2017-09-12 21:22] michaelgugino commented on #1694
This issue appears to have been solved.

Please consider filing a new issue if the problem persists.

[2017-09-12 21:22] #1694 closed

[2017-09-12 21:23] michaelgugino commented on #1706
The affected code path has been removed.

Closing this issue because it is no longer valid.

[2017-09-12 21:23] #1706 closed

[2017-09-12 21:25] michaelgugino commented on #1712
This issue appears to have been solved.  Docker is now installed on masters, nodes, and etcd hosts when containerized.

Closing this issue because it is solved.

[2017-09-12 21:25] #1712 closed

[2017-09-12 21:29] michaelgugino commented on #1727
@sdodson this looks to be completed, or are we planning on backporting this?

[2017-09-12 21:30] michaelgugino commented on #1730
The affected code path has been removed.

Closing this issue because it is no longer valid.

[2017-09-12 21:30] #1730 closed

[2017-09-12 21:34] michaelgugino commented on #1772
This issue appears to have been solved by adding the etcd scaleup playbooks.

Closing this issue because it is resolved.

[2017-09-12 21:34] #1772 closed

[2017-09-12 21:41] michaelgugino commented on #1970
The affected code path has been removed.

Closing this issue as it is no longer valid.

[2017-09-12 21:41] #1970 closed

[2017-09-12 21:43] michaelgugino commented on #1999
The affected code path has been removed.

Closing this issue as it is no longer valid.

[2017-09-12 21:43] #1999 closed

[2017-09-12 21:43] michaelgugino commented on #2000
The affected code path has been removed.  Additionally, information on how to deploy these services using existing plays has been provided.

Closing this issue as it is no longer valid.

[2017-09-12 21:43] #2000 closed

[2017-09-12 21:46] michaelgugino commented on #2027
This issue appears to have been solved.

Closing this issue.

[2017-09-12 21:46] #2027 closed

[2017-09-12 21:48] michaelgugino commented on #2047
This issue appears to have been solved by answering the question.

Closing this issue.  If you are still affected by this issue, please consider opening a new issue.

[2017-09-12 21:48] #2047 closed

[2017-09-12 21:53] michaelgugino commented on #2180
This issue appears to have been solved by answering the question.

Closing this issue because it is solved.

[2017-09-12 21:53] #2180 closed

[2017-09-12 21:56] michaelgugino commented on #2676
The affected code path has been removed.

Closing this issue because it is now invalid.

[2017-09-12 21:56] #2676 closed

[2017-09-12 22:00] michaelgugino commented on #2716
This issue appears to have been resolved in recent branches.

Closing this issue as it is resolved.  Please considering filing a new issue if you are still affected by this bug.

[2017-09-12 22:00] #2716 closed

[2017-09-12 22:01] michaelgugino commented on #2935
The affected code path has been removed.

Closing because this issue is no longer valid.

[2017-09-12 22:01] #2935 closed

[2017-09-12 22:03] michaelgugino commented on #3012
The affected code path has been removed.

Closing this issue because it is no longer valid.

[2017-09-12 22:03] #3012 closed

[2017-09-12 22:07] michaelgugino commented on #3245
The affected code path has been removed.

Closing this issue because it is no longer valid.

[2017-09-12 22:07] #3245 closed

[2017-09-13 03:27] aizuddin85 commented on #4950
@bacek in your case, you need to set the NetworkManager to active.

[code]

The task for NM was returned False when your NM is inactive or disabled.

[2017-09-13 03:29] bacek commented on #4950
@aizuddin85 I did it as "workaround". But my expectations are that openshift-ansible will install and enable NM if needed.

[2017-09-13 03:33] aizuddin85 commented on #4950
@bacek, looking back at default CentOS 7 or RHEL 7 fresh installation, NetworkManager and firewalld are on and enabled by default.

Enabling firewalld and NM without knowing underlying configuration can cause configuration conflict. I think it is best to keep the playbook simple without having extensive checks.

[2017-09-13 07:31] speedfl opened #5388 "Installation problem with openshift-ansible-3.6.173.0.32-1"
#### Description

I am getting several issues when trying to install Openshift 3 with ansible. All the errors are differents at each installation but they always rely on a pair of node

##### Version

Please put the following version information in the code block
indicated below.

`git describe: openshift-ansible-3.6.173.0.32-1`

`ansible:  2.3.0.0`

##### Steps To Reproduce
- Take two nodes and o

[2017-09-13 08:48] adelton commented on #2454
The https://github.com/openshift/openshift-ansible/pull/5350 was merged but it probably is not the right change.

I've now tested

[code]

where that `"true"` has replaced with various strings. Here's what gets stored in `/etc/origin/master/master-config.yaml` for the individual inputs.

With the original code:

[code]

With the patch from https://github.com/openshift/openshift-ansible/pull/5350 t

[2017-09-13 08:54] adelton commented on #2454
Alternatively we can go with just `"true"` and `"yes"` being taken as `'true'`. everything else being single-quoted `'false'`:

[code]

[2017-09-13 09:01] adelton commented on #2454
For the record, if we remove the whole block

[code]

altogether, we get

[code]

[2017-09-13 10:49] arthfl opened #5390 "Wrong error message when openshift_portal_net is missing during upgrade"
#### Description
Wanted to upgrade our 3.4 cluster to 3.5.
Ansible failed with this message:
[code]
But when setting _openshift_portal_net_ to the suggested value, ansible fails again with this message:
[code]

_openshift_portal_net_ seems to expect a network definition like _172.30.0.0/16_ (which seems to be the default) and not a single digit like from _hostSubnetLength_.

##### Version
[code]

[2017-09-13 14:07] ashcrow commented on #2454
I don't think they should be tbh.

An alternate way of tackling this would be to allow the code to go back to it's simple boolean logic and have the template itself write the ``"true"`` or ``"false"`` string. It would avoid any new imports in the code and always provide a usable result.

With this idea ``"jezek"`` would be ``"false"`` as it isn't ``ansible_boolean`` ``True``.

@adelton @sdodson @m

[2017-09-13 15:07] sdodson commented on #2454
Based on https://bugzilla.redhat.com/show_bug.cgi?id=1488505#c6 we should just treat it as a string variable that we're passing through. We should not attempt to turn this into a boolean.

[2017-09-13 15:47] ashcrow commented on #2454
@sdodson I think we have to do something as ansible will transform the string on it's own. Example: https://github.com/openshift/openshift-ansible/pull/5350#issuecomment-328654412

[2017-09-13 16:04] michaelgugino commented on #5388
Hello,

  Giving the same host two different names inside the inventory is likely to have undesired effects.  In this case, you're assigning competing values for the variable 'openshift_node_labels'.

  In this case, it's possible there is a race condition to get a lock on the rpm database.

If your goal is to run the registry and router on the 'default' zone (ie, the nodes), consider using the fo

[2017-09-13 16:52] speedfl commented on #5388
It was totally a problem of concurency.

Maybe the doc must be updated.

I created 4 nodes.
2 for application nodes
2 for infra and I don' t have the issue anymore

Thanks a lot

Regards

[2017-09-13 16:55] jarrpa commented on #5197
So a statically provisioned GlusterFS volume is mounting into a pod successfully, but dynamically provisioned volumes are not...

Can you manually mount the dynamically provisioned GlusterFS volumes onto the host? Do you have all three of the required kernel modules installed?

[2017-09-13 19:28] spadgett opened #5403 "Installer should not set `pod_presets: true` for web console extension in 3.7"
See https://github.com/openshift/origin/issues/16313

When enabling service catalog in 3.7, the installer should no longer set `pod_presets = true`.

https://github.com/openshift/openshift-ansible/blob/9c2d56757c87a6de184605f23090a987ada44952/roles/openshift_service_catalog/files/openshift-ansible-catalog-console.js#L2

Pod presets are not supported in 3.7.

cc @ewolinetz @sdodson

[2017-09-13 19:36] spadgett commented on #5403
@bparees Is template service broker enabled by default now?

If so, we should add....

[code]

[2017-09-13 19:56] bparees commented on #5403
not exactly, no.  in any case without the service catalog that the console would be broken with that set to true, right?

[2017-09-13 19:59] spadgett commented on #5403
Yeah, I guess I was asking if the template broker is always enabled when the service catalog is enabled. In which case, we'd want that set to true.

[2017-09-13 20:03] bparees commented on #5403
ah.  I don't know (@ewolinetz would) but i agree if that's how we've tied the installer behavior together, it makes sense to also set that additional value.

Certainly we tied them all together in oc cluster up.

[2017-09-13 20:28] ewolinetz commented on #5403
@spadgett @bparees I haven't heard otherwise yet that we are enabling TSB by default through Ansible, but it should be configurable.

@sdodson Have you heard anything on this yet?

However, it does remind me that as part of the TSB role we should make sure we are setting that value to true [1]

[1] https://github.com/openshift/openshift-ansible/pull/5226

[2017-09-13 20:28] gamkiller77 opened #5404 "Can no longer install older versions of OpenShift Origins as RPM have moved"
#### Description

Provide a brief description of your issue here. For example:

While trying to run the ansible-playbook to install v1.5.1 it keeps giving a warning that there are not packagages for `origin-docker-excluder-1.5.1*`.

When I go and look at the repo that was install by ansible I see in the repo only release 3.6 with no other release any more.  Last week they where there.

Looking in

[2017-09-13 20:41] bparees commented on #5403
I think the discussion really need to be, "are we enabling the TSB when we enable the SC"?

and i think the answer should be no, for the ansible installer i'd expect those to be independent choices (but enabling the TSB w/o the SC is silly.  Enabling the SC w/o the TSB is less silly)

[2017-09-13 20:53] ewolinetz commented on #5403
@bparees I think that makes sense... so if we are setting up the service catalog we can then check if we're setting up the TSB.

Can the TSB and ASB both be deployed side-by-side and play nice? Or should the decision be -- "we're setting up the service catalog, do you want ASB or TSB?"

[2017-09-13 20:59] bparees commented on #5403
as far as i know that should be fine.  There's some concern about them both offering up similar looking/sounding entries in the service catalog, but there's no actual technical limitation and there are valid reasons to want both.

[2017-09-13 21:21] ashcrow commented on #5390
@arthfl thanks for the report. I'm looking into this.

[2017-09-13 21:28] ashcrow commented on #5390
I think this is already fixed in 4554f0e01e0c2a48b301a158631403b447158c90. The updated wording is

[code]

This points ``openshift_portal_net`` to ``serviceNetworkCIDR`` which in ``master.yaml`` is listed as such:
[code]

@arthfl does this resolve resolve your issue?

[2017-09-13 21:38] #5403 closed

[2017-09-14 02:21] sdodson commented on #5108
https://access.redhat.com/documentation/en-US/Red_Hat_Enterprise_Linux/7/html/System_Administrators_Guide/sec-Persistent_Module_Loading.html says we should craft an /etc/modules-load.d/openshift-cns.conf file that lists the file and systemd-modules-load.service will load it.

[2017-09-14 05:46] arthfl commented on #5390
Can't test it right now, but this seems to fix it :-)

[2017-09-14 08:23] davistran86 opened #5408 "Add new infra-nodes to openshift cluster ?"
Hi guys,

Can someone help me about adding new infra node to openshift ?
Currently I have successfully added new infra node to my openshift cluster. Using "oc get node" I can see it:

[code]
But on new infra node I did not see any docker container running ?
Do I have to do anything to get it work ? any command ?

I'm using Advanced Install to install openshift.
I added new node by modify /etc/ansi

[2017-09-14 09:38] mazzy89 opened #5409 "Install Helm"
There is a proposal to add an Helm role to install the tiller in the cluster?

[2017-09-14 10:52] ibotty opened #5412 "firewall: Allow specifying zone for opened ports"
#### Description

I am speaking about firewalld now, for iptables, it is not as straightforward, but  I guess one should be able to specify the chain to add to.

This is a feature request to open ports not for everyone (public zone), but for a different zone.

It does not make sense to open cluster-specific ports (vxlan, cluster-dns, metrics, kubelet, gluster, ceph) for the whole internet. I propo

[2017-09-14 11:53] arthfl commented on #5390
Actually had to upgrade another cluster today, can confirm the message is correct and helpful now :-)

[2017-09-14 13:36] carbonin commented on #4822
Is this resolved as of https://github.com/ManageIQ/manageiq-pods/pull/205 ?

[2017-09-14 13:42] ashcrow commented on #5390
Thanks @arthfl. Sorry about the confusion!

[2017-09-14 13:42] #5390 closed

[2017-09-14 13:54] tbielawa commented on #4822
@carbonin yes. That will not be a problem in the upcoming 4.6 release.

[2017-09-14 14:40] ttindell2 commented on #5362
Created a pull request. I added the ability for the GlusterFS script to be run more than once. You can now update the topology of an already running Gluster Cluster

[2017-09-14 15:14] besser82 commented on #5197
@jarrpa I can manually mount all volumes without problems on all hosts…  Kernel modules are all present.

[2017-09-14 17:20] prasenforu commented on #5235
Issue resolved. Issue was in iptables.

[2017-09-14 17:20] #5235 closed

[2017-09-14 19:43] jarrpa commented on #5197
@besser82 So you're still getting something like the following error in the pod events:
`MountVolume.SetUp failed for volume "kubernetes.io/glusterfs/f297b47a-88c9-11e7-9976-0ab88d9eb221-pvc-d2362fbb-88c9-11e7-a6ad-0a862c7c70b3" (spec.Name: "pvc-d2362fbb-88c9-11e7-a6ad-0a862c7c70b3") pod "f297b47a-88c9-11e7-9976-0ab88d9eb221" (UID: "f297b47a-88c9-11e7-9976-0ab88d9eb221") with: glusterfs: mount fai

[2017-09-14 19:45] sdodson commented on #5409
No, we've not yet had any requests for that. There's some question as to how Helm and templates interact with each other from my understanding.

[2017-09-14 19:47] besser82 commented on #5197
@jarrpa I'm getting these errors in the events of the pod, as well as the messages in journal from #5118.

Statically provisioned volumes are working fine tho…

[2017-09-14 19:51] sdodson commented on #5408
@davistran86 you probably need to scale up your registry deployment config. `oc scale dc/router --replicas=2`

[2017-09-14 20:00] jarrpa commented on #5197
@besser82 So you've statically provisioned additional GlusterFS volumes and they mount to pods just fine??

I'm so baffled... can you confirm that dynamically provisioned volumes mount to pods when you deploy openshift with "containerized" not True?

[2017-09-14 20:04] besser82 commented on #5197
@jarrpa Even that I can confirm.  If I'm installing 'rpm-style' all stuff works fine.

[2017-09-14 20:10] besser82 commented on #5197
@jarrpa Thank you very much  =)

[2017-09-14 20:16] sdodson commented on #1727
No, looks like this is in 3.2 and newer assuming you use the scaleup playbooks.

[2017-09-14 20:16] #1727 closed

[2017-09-14 20:17] jarrpa commented on #5197
@besser82 Ah! One more thing: can you paste the exact commands and YAML you're running for both dynamic and static provisioning? That will help debug this much faster, as I'm currently making a number of assumptions. Include the YAML for things like endpoints too.

[2017-09-14 20:18] besser82 commented on #5197
@jarrpa Will do so during tomorrow

[2017-09-14 20:30] gabemontero commented on #5383
Hi @naveenkumartangallapally - going to need a few more specifics in order to help you.

1) How did you instantiate jenkins into openshift?  Did you use our template(s)?

2) Please provide the contents of the jenkins pod log

3) Please provide a screen shot of your browser window when things do not work

4) run `oc get sa <jenkins service account name> -o yaml` and provide the output

[2017-09-14 21:51] jarrpa commented on #4452
@sdodson @ashcrow Can this issue be closed now?

[2017-09-14 21:59] jarrpa commented on #5232
Best I know, officially, complete idempotence is not guaranteed across all openshift-ansible playbooks. As the GlusterFS-related playbooks are still relatively new, we currently only recommend them for greenfield deployments and not for config updates or brownfield deployments.

That said, https://github.com/openshift/openshift-ansible/pull/5415 should be a step to alleviate this issue. :)

[2017-09-14 22:13] sdodson commented on #4452
Yes I believe so.

[2017-09-14 22:13] #4452 closed

[2017-09-14 23:46] xqianwang opened #5422 "Wait for Node Registration failed due to DNS"
#### Description

 could not start DNS, unable to read config file: open /etc/origin/node/resolv.conf: no such file or directory

##### Version

Openshift origin v3.6

* Your ansible version per `ansible --version`
Openshift origin v3.6
If you're operating from a **git clone**:

* The output of `git describe`

If you're running from playbooks installed via RPM or
`atomic-openshift-utils`

* The ou

[2017-09-15 04:07] humblec commented on #5118
@jorgefromhell this means mostly `bind mount` to the container goes wrong when you we are `contenarized=true` mode. To make sure thats what happening at time of using pvc  when it try to bring up app pod, can you watch host and see there is a proper glusterfs mount ?

[2017-09-15 04:08] humblec commented on #5118
@jarrpa thats not an error, its just a information message. I believe some thing goes wrong in bind mount due to mount propagation.

[2017-09-15 08:50] davistran86 commented on #5408
Hi, just one more question, I got error with pushing image on this new infra node:

Checking docker info I also get this warning: (router1 does not get this warning)

[2017-09-15 11:52] adelton commented on #2454
In that case, all that would be needed, really, is removing the whole block, to get results as shown in https://github.com/openshift/openshift-ansible/issues/2454#issuecomment-329104742. @detiber, the code was introduced back in 2015 via 3cbe7df8461e5514773e416d137980ce9bedf33d -- would you remember the reason behind conversion to boolean?

@sdodson, could you please reopen this issue?

[2017-09-15 12:00] Asgoret commented on #5308
@jarrpa
I apologize for the long reaction
[code]

Can this be because install process trying to deploy docker-registry on node, where i haven`t got docker? I mean in my inventory
[code]
So when i runing installing process ansinble trying to deploy docker-registry on storage nodes, not on registry nodes.

[2017-09-15 13:18] Asgoret commented on #5308
@jarrpa
Ok, i revert VM, and re-run.
This is describe of docker-registry witch created ansible install:
[code]

This describe of docker-regisrty witch i create:
[code]

I must re-run install or use retry command from log?
So command will look so:
[code]
Correct?

[2017-09-15 13:30] ashcrow commented on #2454
@adelton issue reopened. I'll open a PR to remove the block after morning meetings.

[2017-09-15 13:30] xqianwang commented on #5422
I was using release-1.5 on azure, there was no issue. However when  I switch to release-3.6, this error happened while installation. So I am pretty sure its a bug.

[2017-09-15 13:37] adelton commented on #2454
I've filed https://github.com/openshift/openshift-ansible/pull/5427 with the block removal now.

[2017-09-15 15:23] lucastheisen opened #5428 "python-dbus not found,"
#### Description

The standard run `ansible-playbook openshift-ansible/playbooks/byo/config.yml` hangs when trying to install `python-dbus`.  The only rpm i can find is `dbus-python`.  Also the python package name appears to be [dbus-python](https://pypi.python.org/pypi/dbus-python/).  This patch got me past this issue:
[code]
Though I am not sure it is a general solution because the deb package d

[2017-09-15 15:57] Numblesix commented on #5348
I have the same issue with a plain origin install proxy are also set in the docker daemon

[2017-09-15 15:58] #2454 closed

[2017-09-15 17:58] jarrpa commented on #5308
I think I messed up slightly, sorry. Our goal is to manually create the volume on the cluster that corresponds to the glusterfs-registry cluster. So run `heketi-cli cluster info` to determine which cluster has the IP addresses of the glusterfs-registry nodes, then run the `volume create` comand using the clusterID of that cluster. THEN rerun the playbook. Your command should be right.

[2017-09-15 18:11] mazzy89 commented on #5409
Got it. thanks for the answer

[2017-09-15 18:14] mazzy89 opened #5432 "Distribute app nodes equally in different AZs"
Are there any parameters available to distribute nodes equally in the available AZs? In my cluster I've two app nodes and these two reside in the same AZs which is wrong. Any way to customize it? I didn't find anything around.

[2017-09-15 19:29] jarrpa commented on #5118
@jorgefromhell @dustymabe I have a potential workaround. After you dynamically provision a GlusterFS volume, can you try deleting the dynamically created endpoints then manually creating an endpoints with the IP addresses of your GlusterFS nodes and see if the pods will come up?

[2017-09-15 19:30] jarrpa commented on #5197
@SweetOps @TimoL @besser82 I have a potential workaround. After you dynamically provision a GlusterFS volume, can you try deleting the dynamically created endpoints then manually creating an endpoints with the IP addresses of your GlusterFS nodes and see if the pods will come up?

[2017-09-15 20:49] smarterclayton commented on #5409
There will be a blog post on how to install Helm, but it won't be directly supported since it can easily be installed per namespace and doesn't do multi-tenancy yet.

[2017-09-15 20:50] #5409 closed

[2017-09-15 20:51] mazzy89 commented on #5409
I succeed to install it in kube-system namespace with cluster-admin role

[2017-09-15 20:55] smarterclayton commented on #5409
I'd definitely be happy to take a template for installing helm to examples/helm in the openshift origin repository, but it would still be optional.

[2017-09-15 21:00] sdodson commented on #5408
Do you have dnsIP set in /etc/origin/node/node-config.yaml ? there was a bug at one time in openshift-ansible that prevented that from being set but has since been fixed. That should be set to the ip address of the host.

[2017-09-16 10:21] davistran86 commented on #5408
Hi @sdodson yes, after I deleted docker-registry pod and service and rollout it again then the problem has been fixed. Thanks :).

[2017-09-16 11:17] davistran86 opened #5434 "Failed to push image: blob upload unknown"
Hi guys,
Please help, I'm having the following error whenever I deploy a new deployment (this happen after I added a new infra node, but not sure if it's related :( )

I used python in catalog as a demo, it failed to build because of:

[code]

My cluster info:
[root@openshift-master3 ~]# oc get all
[code]
oc status
[code]

[2017-09-17 01:51] smarterclayton opened #5435 "NodePorts should be on by default"
We've supported node ports for a long time - we should start enabling them by default in new installs.

Change is to default `openshift_node_port_range` to `30000-32000` in the playbooks, but still allow it to be turned off (by clearing the range, possibly).

[2017-09-17 06:03] jkaurredhat commented on #5434
You might see more information in the docker registry logs.