[2017-09-17 20:30] mazzy89 opened #5436 "Metrics don't run in release-3.6"
#### Description

Metrics are not running. `hawkular-metrics` doesn't run.

##### Version
[code]

##### Steps To Reproduce
1. Install openshift-origin from the branch `release-3.6`
2. Check `hawkular-metrics`.

##### Expected Results
It should run `hawkular-metrics` and see the metrics of the services

##### Observed Results

[code]

[2017-09-18 09:32] dmesser opened #5437 "docker-registry on GlusterFS - endpoints not found"
#### Description

Provide a brief description of your issue here. For example:

On an installation with the docker-registry provided by GlusterFS it seems the `openshift_storage_glusterfs_registry_name` setting is not taken into account. I have the following inventory:

[code]

Notice how I set `openshift_storage_glusterfs_registry_name=infra-storage`

The deployment fails when waiting for the reg

[2017-09-18 11:21] Asgoret commented on #5308
@jarrpa
[code]
In file "output.txt" contents output log.
[output.txt](https://github.com/openshift/openshift-ansible/files/1310476/output.txt)

[code]

[2017-09-18 11:44] jarrpa commented on #5308
Try it again without the limit.

[2017-09-18 11:46] jarrpa commented on #5308
@Asgoret Also run the following commands:
[code]

[2017-09-18 12:05] arthfl opened #5440 "Upgrade from 1.5 to 3.6 fails at "Verify containers are available for upgrade""
#### Description

When trying to upgrade an openshift cluster from 1.5 to 3.6, i run into following error:
[code]

It seems that ansible tries to pull _openshift/origin:v_, which doesn't exist.
##### Version
[code]
##### Steps To Reproduce
1. Have openshift 1.5 running
2. apply this workaround: https://github.com/openshift/origin/issues/16346#issuecomment-330185954
Otherwise you don't even get to

[2017-09-18 12:32] krzysiekneo commented on #5440
Workaround: modify for appropriate version (in this case 3.6.0) file:
`playbooks/common/openshift-cluster/upgrades/pre/verify_inventory_vars.yml`
is:
`when: openshift_release is defined and openshift_release[0] == 'v'`
replace with:
`when: openshift_release is defined and openshift_release[0] == 'v3.6.0'`

[2017-09-18 12:38] simon3z commented on #4822
@tbielawa @sdodson  are you sure you want to close this even if the issue is still present in master? See [roles/openshift_cfme/defaults/main.yml#L29](https://github.com/openshift/openshift-ansible/blob/b124c678a9ac8c723f3576a03276de7cfd051931/roles/openshift_cfme/defaults/main.yml#L29)

I'd keep this open until it's really resolved to make sure it's properly addressed.

[2017-09-18 13:22] sdodson commented on #4822
@tbielawa why'd you say this wouldn't be a problem in 4.6? If this is being closed by a future PR lets leave it open until that PR is merged.

[2017-09-18 13:39] tbielawa commented on #4822
I was under the understanding that the proof of concept role in the `release-3.6` branch is frozen.

I also understood that we were just going to focus on the [4.6 version I'm working on now](https://github.com/openshift/openshift-ansible/pull/5336).

@simon3z the reason you still see that in the master branch is because the pull request (linked above) is still in progress and hasn't been complete

[2017-09-18 13:40] tbielawa commented on #4822
@sdodson

Same reason as my last comment. The [PR for cfme 4.6](https://github.com/openshift/openshift-ansible/pull/5336) removes that parameter once and for all.

[2017-09-18 14:06] sdodson commented on #4822
Ok, so then this issue should stay open until that PR merges. Please add "Fixes #" to the description of the PR so that this automatically closes when that merges.

[2017-09-18 14:22] sdodson commented on #5437
/assign jarrpa

[2017-09-18 14:56] cameronbraid commented on #5324
I'm likely to run into the same issue.

Do you know of a workaround?

[2017-09-18 15:20] Asgoret commented on #5308
@jarrpa
Before install
[code]
It`s doesn`t work :(
[code]

Log from  output:
[code]

[2017-09-18 15:21] sdodson commented on #5436
/assign jcantrill

On Sun, Sep 17, 2017 at 4:30 PM, Salvatore Mazzarino <
notifications@github.com> wrote:

[2017-09-18 15:21] sdodson commented on #5435
/assign kwoodson

[2017-09-18 15:24] jarrpa commented on #5437
@dmesser What's the output of `oc get ep,po,pvc -o wide`?

[2017-09-18 15:30] jarrpa commented on #5308
@Asgoret Yes, it should be skipped since you manually created the volume. What's the status of the PV and PVC for the registry volume?

[2017-09-18 15:50] rassie commented on #5324
Unfortunately no. I've tried hacking around it, mostly by setting intermediate versions directly in playbooks. I've managed to finish the 1.5 upgrade playook successfully, however I ended up with a couple of nodes upgraded to 3.6 software, so I basically ended up upgrading to 3.6 without proper 1.5. Afterwards, I had to remove all nodes so they'd auto-register and that was it.

[2017-09-18 16:02] Asgoret commented on #5308
@jarrpa
It`s wrong deploy for "docker-registry".
[code]

BUT, openshift-gluster4-6 is persistent storage, not docker-registry-storage.

So, i delete docker-registry-storage from wrong cluster, re-create it on right cluster and re-run install.

Describe of docker-registry-deploy:
[code]
Hmmm...maybe i wrong configure glusterfs-registry cluster?

[2017-09-18 16:34] Asgoret commented on #5308
@jarrpa
In your [example](https://github.com/openshift/openshift-ansible/blob/master/inventory/byo/hosts.byo.glusterfs.storage-and-registry.example) docker-storage is native for node0-2. In my configuration persistent storage and docker-registry is external.
First gluster-cluster is glusterfs persistent storage.
Second gluster-cluster is glusterfs-registry.

Can i configure external docker-registr

[2017-09-18 16:41] jarrpa commented on #5308
@Asgoret You're starting to lose me a bit, please be more consistent with your terminology. :)

First, make sure you created the volume on the cluster that had the node IP addresses of the glusterfs_registry cluster. Second, make sure the glusterfs-registry-endpoints Endpoints have those same IP addresses listed.

[2017-09-18 16:44] spadgett opened #5447 "Installer should not set `service_catalog_landing_page: true` for web console extension in 3.7"
See https://github.com/openshift/origin-web-console/pull/2078

The new experience is now the default, and the old tech preview flag will be ignored if set.

https://github.com/openshift/openshift-ansible/blob/master/roles/openshift_service_catalog/files/openshift-ansible-catalog-console.js

cc @ewolinetz @sdodson

[2017-09-18 16:52] Asgoret commented on #5308
@jarrpa
Ok)
All is correct.

[code]

[2017-09-18 16:56] jarrpa commented on #5308
@Asgoret And you have a PVC bound to the PV of the GlusterFS volume?

[2017-09-18 17:01] Asgoret commented on #5308
@jarrpa

I little confused...on what node i need to saw this information? And what command you mean?

[2017-09-18 17:16] jarrpa commented on #5308
@Asgoret For a GlusterFS volume to be mounted by a pod, normally it needs to be represented by a PersistentVolume which is then bound to a PersistentVolumeClaim. it's that PVC that the registry pods are trying to mount. So there should be some entry with the work `glusterfs` in the output of both `oc get pv` and `oc get pvc --all-namespaces`. These should have been automatically created by the ope

[2017-09-18 17:28] Asgoret commented on #5308
@jarrpa
[code]

And describes:
[code]

[2017-09-18 17:29] Asgoret commented on #5308
@jarrpa
You are an amazing person, thank you for your patience!

[2017-09-18 17:49] jarrpa commented on #5308
@Asgoret No problem! My apologies that I haven't been able to help sort this out faster. :)

Hmm... try running `mount -t glusterfs  -o log-level=DEBUG,backup-volfile-servers=10.5.135.169:10.5.135.170:10.5.135.171 10.5.135.169:glusterfs-registry-volume /mnt` on one of the nodes designated for the registry pods. if it fails, check the log files in `/var/log/glusterfs` for any signs of trying to mou

[2017-09-18 18:14] jorgefromhell commented on #5118
Hi @jarrpa, tried that too, same error.

[2017-09-18 18:16] jarrpa commented on #5118
@jorgefromhell Damn, back to the thinktank...

[2017-09-18 18:18] jarrpa commented on #5118
@jorgefromhell Can you try @humblec's suggestion? When a pod that's trying to use a GlusterFS volume is coming up, see if there is a GlusterFs volume being mounted on the host. Something like `watch -n1 "mount | grep gluster"` on the node running the pod should suffice.

[2017-09-18 18:24] jorgefromhell commented on #5118
@jarrpa tried that too, didn't use the "watch" on my line but I monitored it while that informational message was being displayed, I didn't catch nothing different happening. If you think there's something to it, I'll deploy another containerized cluster, currently I'm using the rpm version for our apps here.

[2017-09-18 18:27] jarrpa commented on #5118
@jorgefromhell Thanks.

@humblec Looks like it's not even mounting on the host. Any further ideas?

[2017-09-18 19:25] dmesser commented on #5437
@jarrpa I don't have the setup running anymore - but from top of my mind - the endpoints where created but with the name supplied in `openshift_storage_glusterfs_registry_name`. The pods were in `ContainerCreating` state but looping because of their unavailability to mount the PVC. The PVC was there and had the correct name.

[2017-09-18 19:31] jarrpa commented on #5437
@dmesser Oh, you were running `containerized=True`. Okay, that look slike you've hit on another issue we're currently investigating, so I'll drop that. :)

The `glusterfs-registry-endpoints` Endpoints and Service are not part of the GlusterFS cluster, and hence would not share the custom name. They are specifically for the registry, and there should not be more than one set of these, hence the nam

[2017-09-18 19:34] dmesser commented on #5437
@jarrpa Not sure. The config allows you to change that setting. So the expectation would be that either the endpoint name remains generic (which it is not at the moment) or the pod pick up a customer endpoint name.

[2017-09-18 19:55] jarrpa commented on #5437
@dmesser The endpoint name IS generic in that it only describe what it is with no other attribution as to where it points to. It will always be `glusterfs-registry-endpoints` because it is the Endpoints for the GlusterFS volume backing a hosted registry, irrespective of which cluster its using or what you call your cluster. Note that this will also keep the same name if you back your registry onto

[2017-09-18 20:42] cooktheryan opened #5448 "openshift_sanitize_inventory : assert causing failure in AMI creation"
#### Description

Provide a brief description of your issue here. For example:

During AMI creation openshift_sanitize_inventory fails during AMI creation

##### Version

Please put the following version information in the code block
indicated below.

* Your ansible version per `ansible --version`
ansible 2.3.0.0

If you're operating from a **git clone**:

* The output of `git describe`

Place the

[2017-09-18 20:42] cooktheryan commented on #5448
@kwoodson heads up

[2017-09-19 09:19] dmesser commented on #5437
@jarrpa in my case the endpoint name was not generated as `glusterfs-registry-endpoints` - hence the failure.

[2017-09-19 09:55] pschiffe commented on #5408
Hi @sdodson , is it possible with ansible installer to automatically scale up router and registry after adding nodes? With some variable or a plabook? Thanks.

[2017-09-19 09:55] ekuric opened #5452 "openshift-ansible fails to setup cns cluster during advanced ocp install"
#### Description
openshift-ansbile will fail to setup heketi/cns cluster

Provide a brief description of your issue here. For example:
playbook has
[OSEv3:children]
masters
nodes
etcd
glusterfs
<rest of playbook>
[glusterfs]
glusternode1 glusterfs_devices='[ "/dev/xvdf" ]'
glusternode2 glusterfs_devices='[ "/dev/xvdf" ]'
glusternode3 glusterfs_devices='[ "/dev/xvdf" ]'

and during install it will

[2017-09-19 10:00] ekuric commented on #5452
heketi-client-5.0.0-11.el7rhgs.x86_64
packages
[code]

[2017-09-19 10:56] Asgoret commented on #5308
@jarrpa It's okay, I understand that my architecture is non-standard.

[code]

From log /var/log/glusterfs/mnt.log:
[code]
Full log:
[mnt.txt](https://github.com/openshift/openshift-ansible/files/1313801/mnt.txt)

[2017-09-19 11:21] dmesser opened #5454 "openshift-ansible fails sometimes with byo/openshift-glusterfs/config.yml"
#### Description

1 master, 3 infra, 3 app nodes. Inventory see below.

Initially the byo/config.yml is run just with `glusterfs_registry` groups and `openshift_hosted_registry_storage_kind=glusterfs`.

It deploys the CNS cluster for the registry and the registry itself with the CNS PVC just fine.

Then byo/openshift-glusterfs/config.yml is run with `glusterfs` groups and hosts defined in the inve

[2017-09-19 11:21] dmesser commented on #5454
@jarrpa ^^

[2017-09-19 11:43] feld-ims opened #5455 "imageConfig Required value error on cluster upgrade"
Moved from https://github.com/openshift/origin/issues/16388

When upgrading origin cluster from 1.5.1 to 3.6.0 using the ansible installer, some of the nodes have missing values in the node-config.yaml for imageConfig.format, so the origin-node service fails to start. Ensuring these values ARE present before running the upgrade, it continues to happen on random nodes without any real pattern. Inst

[2017-09-19 13:23] sdodson commented on #5455
If you can replicate this can you run ansible-playbook with the -vvv option and capture the log? That will illustrate why the value is being reset. Also what's your oreg_url value?

[2017-09-19 13:29] sdodson commented on #5454
/assign jarrpa

On Tue, Sep 19, 2017 at 7:21 AM, Daniel Messer <notifications@github.com>
wrote:

[2017-09-19 13:32] sdodson commented on #5452
/assign jarrpa

On Tue, Sep 19, 2017 at 6:00 AM, Elvir Kuric <notifications@github.com>
wrote:

[2017-09-19 13:33] sdodson commented on #5408
No, not today. I'm not sure how valuable adding this to openshift-ansible
would be when it's just one invocation of `oc scale`. What do you think?

On Tue, Sep 19, 2017 at 5:55 AM, Peter Schiffer <notifications@github.com>
wrote:

[2017-09-19 13:35] feld-ims commented on #5455
I never explicitly defined oreg_url. Also replicating will be difficult as this cluster is being actively used. I'll see if a can replicate on a test cluster.

[2017-09-19 13:48] dmesser commented on #5454
adding some more information that might help debugging this. I added the following statements preceeding the failing ansible task in `usr/share/ansible/openshift-ansible/roles/openshift_storage_glusterfs/tasks/glusterfs_common.yml`

[code]

This is the output:

[code]

Hope this helps.

[2017-09-19 14:16] pschiffe commented on #5408
@sdodson well, it depends. In our reference architectures [1] we are using `openshift_hosted_` roles to deploy registry and router automatically during the deployment, so user doesn't have to deal with that. And once we added option to scale up nodes (which is easy as update `config.yaml` file with new number of nodes and run `./ocp-on-gcp.sh --scaleup` (for GCP)) as a user I would expect that the

[2017-09-19 15:31] jfchevrette commented on #5455
I just had the same issue. imageConfig.format is set to ''

oreg_url defaults to '' in roles/openshift_node/defaults/main.yml
oreg_url_node is undefined

I captured a log with -vvv but there is private data in there that I can't post publicly. Let me know if there are specitic parts of the log I can extract and anonymize.

[2017-09-19 15:39] jfchevrette commented on #5455
The only reference to 'oreg' I found in the log is:

[code]

[2017-09-19 15:41] jcantrill commented on #5436
@mwringe old images? something else?

[2017-09-19 15:45] mwringe commented on #5436
Can you please provide the full hawkular metrics logs as an attachment (pasting it in the issue removed all its formatting) and the output of 'oc get pods -o yaml -n openshift-infra'

[2017-09-19 15:53] mazzy89 commented on #5436
[code]

[2017-09-19 15:56] mazzy89 commented on #5436
https://gist.github.com/mazzy89/818a4f1f4c6c7d0a9e9e2a842217476a @mwringe

[2017-09-19 17:15] jarrpa commented on #5454
@dmesser This is currently not supported... yet. :) Haven't had time to fully work through and develop this scenario. https://github.com/openshift/openshift-ansible/pull/5415 should help alleviate some or all of this issue, however.

[2017-09-19 19:59] jarrpa commented on #5437
@dmesser ...oh! Sorry, I didn't catch that. So it's coming out differently but the StorageClass isn't reflecting that?

[2017-09-19 20:02] jarrpa commented on #5308
@Asgoret What's the output of `gluster volume info` on `10.5.135.169`?

[2017-09-19 20:08] jarrpa commented on #5452
@ekuric The latest downstream images do not work using openshift-ansible. Please use only upstream images with openshift-ansible for now. We'll be working to fix this as the upstream images are updated.

[2017-09-19 20:26] dmesser commented on #5437
@jarrpa For glusterfs_registry scenario there is no StorageClass. The endpoints are named differently according to the name setting in the inventory file but the docker-registry deploymentconfig still looks for the static name glusterfs-registry-endpoints.

[2017-09-19 20:31] jarrpa commented on #5437
@dmesser Sorry, I meant the PV. I seem to be rather out of it today. :) I don't think the DC itself mentions any endpoint, just the PVC.

Okay, should be a simple enough fix. Could it ever be the case that someone would want to have multiple registries running? Is that something we support?

[2017-09-19 20:37] dmesser commented on #5437
@jarrpa Not that I am authoritative on that - I think there are cases where someone would want to do that (in a highly regulated environment with stringent tenant data separation) but eventually this might be as well something that is achieved post-install. No need to cover every corner case in automated installation :)

[2017-09-19 21:08] ringmaster217 opened #5466 "resolv.conf not updated configured properly"
#### Description

##### Version

[code]

##### Steps To Reproduce
1. Clean install of RHEL 7.4
2. Install Docker and configure storage
3. ansible-playbook -i hosts openshift-ansible/playbooks/byo/config.yml

##### Expected Results
Installing OpenShift places a script (99-origin-dns.sh) in /etc/NetworkManager/dispatcher.d that should update /etc/resolv.conf with the appropriate values whenever the

[2017-09-19 22:38] edsonmarquezani opened #5467 "Checking Master API from outside the master instance"
#### Description

On Azure, setup will fail when setting `openshift_master_cluster_hostname` to a Load Balancer's address, because Azure drops requests to a balancer whose the VM is part of its backend pool. (VM is a master node, behind a balancer, checking API via balancer).

So, the installation stucks at API availability check.

##### Version
[code]

This is a particular scenario for Azure, but

[2017-09-20 07:22] mjudeikis opened #5468 "external GlusterFS as registry backend is not supported"
I want to use external gluster to back my registry images. Current ansible does not support this option as it only assumes that gluster is running inside the same cluster where is my registry running.

I would like to provide details like:
`openshift_hosted_registry_glusterfs_endpoints=['192.168.0.1','192.168.0.2']` or
`openshift_hosted_registry_glusterfs_endpoints_dns=storage.gluster.org.local`
`

[2017-09-20 07:40] Asgoret commented on #5308
@jarrpa
[code]

[2017-09-20 08:52] tremble commented on #5455
@sdodson We hit this too,

I suspect it's been introduced by
[code]

What I've seen is that the upgrade playbooks check for undefined *NOT* empty string
[code]

[2017-09-20 09:39] ekuric commented on #5452
@jarrpa ack, thank you!

[2017-09-20 10:17] adelton opened #5469 "Multihost advanced installation fails on Fedora 26"
#### Description

On Fedora 26, with two hosts in the cluster, running `python3 /usr/bin/ansible-playbook -e ansible_python_interpreter=/usr/bin/python3` fails.

##### Version

Please put the following version information in the code block
indicated below.

* Your ansible version per `ansible --version`

[code]

If you're operating from a **git clone**:

* The output of `git describe`

[code]

###

[2017-09-20 10:28] davistran86 commented on #5434
@jkaurredhat thanks, it's related to the persistent volume I add to registry, after I deleted the volume and claim, it's still error like that :(. anyway, I rollback the whole cluster with snapshot.

[2017-09-20 12:14] jkhelil commented on #4496
+1

[2017-09-20 13:10] besser82 commented on #5197
@jarrpa Thank you, that works, tho it isn't a feasable solution in all use-cases…

[2017-09-20 13:19] jarrpa commented on #5468
@mangirdaz At the moment, are you not able to get this to work even if you specify a `[glusterfs]` or `[glusterfs_registry]` group with the external node information? You should just be able to make entries like:
[code]
Then if you specify `openshift_storage_glusterfs_is_native=False` and `openshift_storage_glusterfs_heketi_topology_load=False` the openshift-ansible installer should correctly conf

[2017-09-20 13:24] jarrpa commented on #5308
@Asgoret Okay, so the volume doesn't exist. Can you run `gluster volume info` from one of the nodes on the other cluster? If the volume is there, then we haven't created the volume on the right cluster yet.

Do `heketi-cli topology info` to find the correct clusterID (double-check that this is the one with the reigstry-hosting nodes!!) then do:
[code]

[2017-09-20 13:29] jarrpa commented on #5197
@besser82 Certainly not! But unblocking at least one user is better than holding everyone up for a proper solution. :) Also this helps me in figuring out the actual symptom. Now if only I could find the root cause...

[2017-09-20 13:31] jarrpa commented on #5197
@besser82 Actually, if you're up for some more investigation, could you see if you can still reproduce the problem, capture the `oc get -o yaml` output of the "bad" Endpoints, then capture the same output of the "good" Endpoints after you recreate it?

[2017-09-20 13:37] Asgoret commented on #5308
@jarrpa
Gluster storage cluster:
[code]
I can`t create volume twice.
[code]
BUT:
[code]

Re-create glusterfs-registry-volume?

[2017-09-20 13:38] dustymabe commented on #5448
i'm seeing this too

[2017-09-20 13:49] cooktheryan commented on #5448
@dustymabe worked around this with

[code]

But still can't do the AMI creation

[2017-09-20 13:57] jarrpa commented on #5308
@Asgoret ...if the volume is showing up in heketi CLI but not in the gluster CLI, something is wrong... yes, delete the existing volume and recreate it.

[2017-09-20 14:06] Asgoret commented on #5308
@jarrpa
[code]
But cluster volume on gluster clusters is empty:
[code]
Second cluster:
[code]

[2017-09-20 14:16] mangirdaz commented on #5468
@jarrpa  If I set those too like this it tries to install heketi and fails as there is no subs available.
If I set `openshift_storage_glusterfs_heketi_is_native=True` it tries to deploy heketi, when heketi is already running somewhere else...

[2017-09-20 14:21] jarrpa commented on #5308
@Asgoret Something is definitely wrong... I also just noticed that your other cluster has no nodes defined.

We should start over with your GlusterFS setup. Are you able to destroy the current nodes and recreate one using heketi only for one cluster?

[2017-09-20 14:23] jarrpa commented on #5468
@mangirdaz While I agree it should be split out, I'm not sure I want to duplicate any functionality outside the role. What do you mean that it tries to install heketi, do you have logs of where it fails?

[2017-09-20 14:37] mangirdaz commented on #5468
If I set `heketi_native=False` it tries this:
[code]
and If I set `heketi_native=True` it tries to deploy pod version of heketi... again not what I want.

So this is where  I think we cant avoid duplication as per cluster setup this is just standard cluster trying to consume external gluster. So In theory it should not even touch gluster role.

One of the options could be to split `EP,SVC` creatio

[2017-09-20 14:38] ewolinetz commented on #5447
Low priority but will make part of https://github.com/openshift/openshift-ansible/pull/5226

[2017-09-20 14:41] Asgoret commented on #5308
@jarrpa
Yes. It`s all VM with base snapshot with install requirement components.

[2017-09-20 14:50] Asgoret commented on #5308
@jarrpa
Looks loke i found issue.
Ansible palybook doesn`t modify heketi.json?

[2017-09-20 15:13] sdodson commented on #5448
We're going to refactor the scale up playbook so that we can remove those assertions, what problem did you get when you set those variables and it still failed?

/assign abutcher

[2017-09-20 15:17] jarrpa commented on #5468
@mangirdaz I specifically designed the GlusterFS role to cover all use cases, including the use of a pre-existing, external cluster. ...I just haven't been able to exhaustively test it all. :(

This seems like it would call for a new variable, something like `openshift_storage_glusterfs_setup` that, when set to false, would skip a lot of these things that don't need to be done when the GlusterFS c

[2017-09-20 15:24] jarrpa commented on #5308
@Asgoret Hmm... I think you're right, that heketi.json is not being modified. Can you be more specific about what you think the issue is?

[2017-09-20 15:55] cooktheryan commented on #5448
@sdodson and @abutcher I made it passed the error above with the vars but then hit this

[code]

Full error log in a pastebin. Ping me in IRC if you need it

[2017-09-20 15:58] dustymabe commented on #5448
FTR with the following vars and  HEAd at af580f8 I was able to get a successful run on Fedora 26 Atomic Host:

[code]

[2017-09-20 16:24] mangirdaz commented on #5468
@jarrpa
Lets try to do setup variable. Just question how it should be. I would bet on false, just because all existing inventories existed for a long time now and this means that all existing deployment would need to default it to "false" as it might starting messing configuration if used wrongly.

Additionally, there is few other bits and bobs I was thinking to add as the current role is not idem

[2017-09-20 17:14] jarrpa commented on #5468
@mangirdaz That should do it.

I would argue that we don't want to change the current default behavior, so the setup variable should default to true. In combination with pre-flight checks, this could be dynamically set if the user leaves it undefined.

For pre/post-flight checks, the tricky part would be detecting not only the existence of a configured heketi/GlusterFS setup but also if it's only

[2017-09-20 17:20] sdodson commented on #5455
/assign michaelgugino

[2017-09-20 18:23] qiancai commented on #5108
If docker is using overlay driver, there is no need to install those device-mapper packages and load dm_thin_pool module. IMO, we should remove this module check in the installer accordingly.

[2017-09-20 18:37] sdodson commented on #5108
@openshift/sig-storage anyone able to provide additional feedback on how to proceed here? The way I'm reading the issue CNS requires a device mapper module be loaded but now there's suggestion that if overlayfs is used that's not necessary, however I'm not sure if that's related or not.

[2017-09-20 18:50] SweetOps commented on #5108
That error output from heketi, so I think loading modules are required

[2017-09-20 18:53] qiancai commented on #5108
If that error came from heketi, it need to fix heketi then. There is no technical reason I can think of need that module for overlay driver.

[2017-09-20 19:04] jarrpa commented on #5108
@sdodson @SweetOps @qiancai At present, this is a strict requirement from heketi. heketi uses LVM to create/manage the filesystems used as bricks for GlusterFS volume. I believe it uses thin-provisioning which in turn would require the presence of dm_thin_pool.

I have it in my TODO list to update the playbooks with checks for the required kernel modules, I'm just also currently dealing with the d

[2017-09-20 19:09] sdodson commented on #5467
Whick specific task is failing? All the places I see that we're verifying the API we should be checking against a specific host.

[2017-09-20 19:27] qiancai commented on #5108
OK, it looks like could just load that module in heketi then and not depends on docker to load it for you.

[2017-09-20 19:29] jarrpa commented on #5108
@qiancai Right, my plan is to check for and load any required kernel modules in the ansible script. :)

[2017-09-20 20:42] michaelgugino commented on #5455
@tremble I think you are correct.  I have submitted a patch to fix this issue.  Once it merges in master, we will get the backports for the other branches ASAP.

[2017-09-21 04:29] #5056 closed

[2017-09-21 07:04] Asgoret commented on #5308
@jarrpa
When you install heketi like a package of your system you use _yum_ or _apt_. So heketi service create an heketi.json in /etc/heketi. "heketi.json" is a configuration file of heketi service. Like inventory for ansible.

When ansible install components of openshift it`s used ssh with root login, Heketi work same way. When we create gluster-docker-volume it`s created on master, where heketi

[2017-09-21 07:42] hbhargav commented on #5349
I'm facing the same issue as well.
Any inputs on workaround ?

[2017-09-21 07:46] hbhargav commented on #5280
@ksemaev
"journalctl -xe" reports
could not start DNS, unable to read config file: open /etc/origin/node/resolv.conf: no such file or directory

I think this is related to #5349

[2017-09-21 08:22] Asgoret commented on #5308
@jarrpa
If install only heketi-client error is:
[code]

[2017-09-21 08:32] Asgoret commented on #5308
@jarrpa
I find task that set fact for glusterfs_storage, but can`t find same task for docker-storage.
[code]

[2017-09-21 08:43] mangirdaz commented on #5468
@jarrpa

Make sense. Lets try and see :)

This might be tricky. as hekeli-client is only distributed via gluster subs channels. So you cant just install it on the box. The only way to acquire it is from the container or subscribed host...  So we might need to do something like "copy binary from container" same as openshift does with oc and containerized install

[2017-09-21 08:43] mangirdaz commented on #5468
@IshentRas ping. Issues you facing too.

[2017-09-21 10:52] ultimatemanu opened #5482 "Cloud Provider Configuration for Any S3 service (Minio, ExoScale, ...) example needed"
Hello,

I am trying to setup an Openshift-Origin 3.6 cluster with the ansible playbook on ExoScale which provides s3 compatible storage buckets.
In the https://github.com/openshift/openshift-ansible/blob/master/inventory/byo/hosts.ose.example there is an example for setting the registry in such a case:
[code]
For the Cloud Provider Configuration I cannot find such an information. There is only the

[2017-09-21 12:39] simon3z opened #5484 "Add deployed OpenShift Cluster to existing ManageIQ instance"
#### Description

Now that the ManageIQ Ansible module is available here:

https://github.com/ansible/ansible/tree/devel/lib/ansible/modules/remote_management/manageiq

I think would be easy to provide openshift-ansible inventory options to automatically register the newly deployed cluster to an existing ManageIQ instance.

cc @zgalor @yaacov @sdodson @joelddiaz @ilackarms @bazulay

[2017-09-21 12:42] simon3z commented on #5484
@tbielawa I suppose this can also be reused at the end of the CFME deployment.

[2017-09-21 12:46] sdodson commented on #5484
/assign tbielawa

On Thu, Sep 21, 2017 at 8:42 AM, Federico Simoncelli <
notifications@github.com> wrote:

[2017-09-21 13:39] jarrpa commented on #5308
@Asgoret You're losing me a little bit in the details, I think our English isn't quite the same, but I'll try my best. :)

It looks like you're jumping around a bit, so I'll try to keep up:

* Since you're using an external heketi, you need to provide your own heketi.json configuration. You need to make sure the SSH parameters are correct, in particular that you're using an SSH private key that wi

[2017-09-21 14:36] jarrpa commented on #5468
@mangirdaz

Oh! That would be easy if allowable, yes. :D Does openshift actually copy the oc binary itself out of the container and store it somewhere on the host, then?

[2017-09-21 14:48] mangirdaz commented on #5468
@jarrpa ,yes. For containerized install, they need to find out which version is latest. So they do :
1. docker pull ose:latest
2. copy binary from image to /usr/local/bin/oc
3. execute oc version and read version tag and set it as image version to pull all other images....

Magic. k. Tomorrow will try to look to glusterfs role in more closer view. Finishing with client work today and might have so

[2017-09-21 15:05] IshentRas commented on #5468
+1

[2017-09-21 17:26] michaelgugino commented on #5455
This issue was filed against 3.6.  Reopening until the backport for 3.6 merges.

[2017-09-21 17:26] #5455 closed

[2017-09-21 19:29] rhefner opened #5497 "Fresh install or upgrade of logging stack to v3.6.0 === Unknown Discovery type [kubernetes]"
#### Description
Attempting to upgrade our logging stack from v1.5.1 => v3.6.0 succeeds running through Ansible, but the ES containers do not deploy successfully.

I thought it might be a corruption, so I tried after wiping the storage for the ES containers which didn't make a diff.  I then tried to install fresh and same problem occurs.  v1.5.1 works fine, but would like to keep the logging align

[2017-09-21 20:29] michaelgugino commented on #5469
@adelton Thank you for the filing this issue.  I will get a patch submitted shortly.

[2017-09-21 20:34] ewolinetz commented on #5497
@rhefner Can you provide the output from `oc get configmap/logging-elasticsearch -o yaml` ?

cc @portante @richm

[2017-09-21 21:10] rhefner commented on #5497
@ewolinetz:  Yes, sir.  Here you go:

[code]

[2017-09-21 21:16] rhefner commented on #5497
By the way, once it crashes for a while, the pods output this:

[code]

[2017-09-21 21:44] ttindell2 commented on #5497
Having the same issue here. From what I know the elasticsearch.yml
 discovery.type: kubernetes

should be:

discovery.zen.hosts_provider: kubernetes

I believe this is from a change in the kubernetes plugin

After changing this, I got farther, but has searchguard issues saying it was not initialized.

[2017-09-21 22:06] rhefner commented on #5497
@ttindell2:  Good call, changing the discovery type to `zen.hosts_provider` got me further as well.  Now, ES is just timing out for me:

[code]

[2017-09-21 22:22] ttindell2 commented on #5497
A very useful log is on the pod at /elasticsearch/${CLUSTER_NAME}/logs/

There are a few logs in there, but only one will have info. could you see what that log says?

[2017-09-22 00:32] pradeepnss commented on #5484
It is too early to ask this question, just wanted to know in which release this feature might go in ?

[2017-09-22 00:49] rhefner commented on #5497
@ttindell2  Seems like some searchguard issues, not sure if it's the same as yours..?

[code]

[2017-09-22 01:00] ttindell2 commented on #5497
@rhefner
yep same exact issue here. I havent found any solution to it yet. Rolling back to v1.5.1 didnt help either.

[2017-09-22 02:32] richm commented on #5497
@wozniakjan any ideas?

[2017-09-22 07:28] wozniakjan commented on #5497
You have an updated opneshift-ansible but old ES image. If you are getting the ES image from https://hub.docker.com/r/openshift/origin-logging-elasticsearch/tags/, it looks like only `latest` has been updated. I recommend not changing anything in the ES config map and pull the `latest` ES image.

In September, we introduced a new type of master discovery algorithm in ES images - by label and port,

[2017-09-22 09:18] TimoL commented on #5197
With a new OpenShift deployment I can not reproduce the issue any more. Currently it just works.
The new setup has seen tweaks in configuration, but I'm still using containerized install on CentOS 7.

Here's my diff of the old and new setup:

- CentOS was updated from 7.3.1611 to 7.4.1708
- now using multi-master with loadbalancer (single master before)
- iptables package was preinstalled on hosts

[2017-09-22 12:09] ttindell2 commented on #5497
Reverted elasticsearch.yml back to what it was and pulled latest ES container. Cluster is now in yellow state. Cluster may be ok now. Other issue with Kibana. Getting this:
{"error":"invalid_request","error_description":"The request is missing a required parameter, includes an invalid parameter value, includes a parameter more than once, or is otherwise malformed."}

when going to its route

[2017-09-22 15:33] SpeedBlack opened #5505 "Images Streams update with ansible inventorie (change "Redhat" registry)"
Hi,

We have a functional OCP plaform v3.5.
We need to change the "Redhat" registry (registry.access.redhat.com) with a personal external registry.

I tried to use options with ansible inventories :
[code]

If i check "/usr/share/openshift/examples/image-streams/image-streams-rhel7.json" or "/usr/share/openshift/examples/xpaas-streams/jboss-image-streams.json" files,  my external registry is corre

[2017-09-22 17:51] tbielawa commented on #5484
X-Ref: https://github.com/openshift/openshift-ansible/pull/5336

[2017-09-22 20:39] #5469 closed

[2017-09-22 20:51] srirammageswaran8 opened #5512 "Openshift Service Catalog issue"
I face the below error message when running deployment.

TASK [openshift_service_catalog : wait for api server to be ready] *******************************************************************
FAILED - RETRYING: wait for api server to be ready (120 retries left).
FAILED - RETRYING: wait for api server to be ready (119 retries left).
FAILED - RETRYING: wait for api server to be ready (118 retries le

[2017-09-22 21:27] ewolinetz commented on #5512
@srirammageswaran8 if you log into your cluster and run `oc get pods -n kube-service-catalog` what do you get back?

[2017-09-22 21:34] ewolinetz commented on #5497
@rhefner does the suggested above resolve the issue you are seeing as well?

[2017-09-22 21:45] srirammageswaran8 commented on #5512
Hi @ewolinetz ,

Please Find the output below :

oc get pods -n kube-service-catalog
NAME                       READY     STATUS              RESTARTS   AGE
apiserver-qhmj6            0/1       MatchNodeSelector   0          0s
controller-manager-74sqb   0/1       MatchNodeSelector   0          0s

Thanks,
Sriram

[2017-09-23 14:33] michaelgugino commented on #5428
@lucastheisen Can you submit your patch as a PR?  We would be happy to merge that, It appears python-dbus is just a reference to dbus-python.

[2017-09-23 14:40] michaelgugino commented on #5404
Thank you for reporting this issue, the information you provided is very helpful.  I will take a look at this and see about implementing a fix.

[2017-09-23 14:42] michaelgugino commented on #5388
This issue has been resolved by adjusting the inventory file.

[2017-09-23 14:42] #5388 closed

[2017-09-23 16:13] lucastheisen commented on #5428
@michaelgugino , submitted #5513

[2017-09-23 20:34] rhefner commented on #5497
@ewolinetz Yes, it looks like it did, indeed.

[2017-09-24 23:04] smarterclayton opened #5514 "origin-gce broken: htpasswd is unavailable"
Started in the last few days.  I'm not installing openshift_metrics, I wouldn't expect a failure in a metrics task about it.

https://ci.openshift.redhat.com/jenkins/job/zz_origin_gce_image/448/console

[code]

[2017-09-25 00:05] sdodson commented on #5514
There was a regression on Friday that led to metrics and logging being
installed by default. That was fixed late Friday, are you current?

On Sep 24, 2017 7:05 PM, "Clayton Coleman" <notifications@github.com> wrote:

[2017-09-25 06:15] lixwlixw opened #5515 "cloudforms pod running , app start Failure"
[root@master1 cloudforms]# oc get pod
NAME                 READY     STATUS    RESTARTS   AGE
cloudforms-0         0/1       Running   0          1m
memcached-1-1rmqg    1/1       Running   0          22m
postgresql-3-1mjvw   1/1       Running   0          5m
[root@master1 cloudforms]# oc logs -f cloudforms-0

cloudforms app not start , no log .

[root@master1 cloudforms]# oc describe pod cloudfor

[2017-09-25 06:37] magick93 opened #5516 "Follow this release pattern and you can't go wrong"
#### Description

I'm wanting to take OpenShift v3.7.0-alpha.1 for a spin.

On the openshift-ansible readme it says:

But there is no branch called `release-3.x`

Which branch should I use?

Thanks

[2017-09-25 07:23] adelton opened #5517 "Installation on Fedora 26 fails."
#### Description

Provide a brief description of your issue here. For example:

On a Fedora 26 machine, all-on-one installation fails with

[code]

##### Version

Please put the following version information in the code block
indicated below.

* Your ansible version per `ansible --version`

[code]
If you're operating from a **git clone**:

* The output of `git describe`

[code]

##### Steps To Rep

[2017-09-25 07:29] adelton commented on #5517
Things have been passing until 2017-09-21, then on 2017-09-22 I've seen error

[code]

and starting 2017-09-23 I get the `No package origin-clients available.` failure.

[2017-09-25 09:49] #5428 closed

[2017-09-25 13:06] sdodson commented on #5516
It means if you're using 3.6 you'd use `release-3.6` branch.

[2017-09-25 13:58] ewolinetz commented on #5497
Closing due to pulling from latest resolved the issue

[2017-09-25 13:58] #5497 closed

[2017-09-25 14:14] ashcrow commented on #5290
Hey guys, just want to make sure this doesn't fall off.

[2017-09-25 15:35] ashcrow opened #5524 "3.5->3.6 Upgrade Fails on etcd migration"
#### Description

Upgrade from 3.5->3.6 fails on etcd migration.

##### Version

Please put the following version information in the code block
indicated below.

* Your ansible version per `ansible --version`
[code]
* The output of `git describe`

``openshift-ansible-3.6.173.0.5-5-213-g9957b5110``

##### Steps To Reproduce
1. Install an ose 3.5 cluster
2. Upgrade control plane with ```ansible-play

[2017-09-25 15:36] ashcrow commented on #5524
HEAD at the time of testing was openshift_image_tag=v3.6.173.0.21-17

[2017-09-25 15:41] zgalor opened #5525 "openshift_hosted_logging[ops]_storage_volume_size should have default value"
#### Description

`openshift_hosted_loggingops_storage_volume_size`
and
`openshift_hosted_loggingops_storage_volume_size`
are now required params for 'openshift_hosted_logging[ops]_storage_kind=nfs'

##### Version

[code]

##### Steps To Reproduce
1. run playbooks/byo/config.yml with inventory file with :
[code]
and/or

[code]

##### Expected Results
cluster should create a 10Gi internal nfs pv.

[2017-09-25 15:41] zgalor commented on #5525
@ewolinetz

[2017-09-25 20:40] #5516 closed

[2017-09-26 04:32] magick93 opened #5534 "Unable to restart service origin-master-controllers: Job for origin-master-controllers.service failed because the control process exited with error code."
#### Description

Unable to deploy v3.7.0-alpha.1 using openshift-ansible master branch.
This is a single master+node install.

##### Version

- ansible 2.3.0.0
- config file = /etc/ansible/ansible.cfg
- configured module search path = Default w/o overrides
- python version

**git describe**

- openshift-ansible-3.7.0-0.127.0-69-gc16d16d08

##### Steps To Reproduce
1. Using the following inventory

[2017-09-26 05:14] aizuddin85 commented on #5534
@magick93 not enough information, What will the `journalctl -u origin-master` shows?

[2017-09-26 05:17] aizuddin85 commented on #5515
@lixwlixw `oc get dc -n cloudforms` and `oc describe dc/<dc> -n cloudforms' also 'oc status -v -n cloudforms' please.

[2017-09-26 05:24] aizuddin85 commented on #5505
@SpeedBlack  try follow this, note that you need to restart docker after made the changes.

http://playbooks-rhtconsulting.rhcloud.com/playbooks/continuous_delivery/external-docker-registry-integration.html

[2017-09-26 05:33] lixwlixw commented on #5515
<pre><code>[root@master1 ~]# oc get dc -n cloudforms
NAME         REVISION   DESIRED   CURRENT   TRIGGERED BY
memcached    1          1         1         config,image(cfme-openshift-memcached:latest)
postgresql   5          1         1         config,image(cfme-openshift-postgresql:latest)
</code></pre>

<pre><code>[root@master1 ~]# oc describe dc memcached
Name:		memcached
Namespace:	cloudforms
C

[2017-09-26 06:42] magick93 commented on #5534
`journalctl -u origin-master` shows:

[code]

[2017-09-26 07:27] aizuddin85 commented on #5515
@lixwlixw somehow the cloudfrom dc is not exists for your deployment. This is on my test environment:

[code]

Note: Desired is 0 since its deploying.

[2017-09-26 07:33] lixwlixw commented on #5515
What I'm referring to is :   <https://github.com/openshift/openshift-ansible/tree/master/roles/openshift_examples/files/examples/v1.5/cfme-templates/>

Where did your deployment file come from?

[2017-09-26 08:04] aizuddin85 commented on #5515
@lixwlixw https://access.redhat.com/documentation/en-us/red_hat_cloudforms/4.2/html/installing_red_hat_cloudforms_on_openshift_container_platform/

https://github.com/openshift/openshift-ansible/tree/master/roles/openshift_examples/files/examples/v1.4/cfme-templates

[2017-09-26 08:35] lixwlixw commented on #5515
I sent you an email（aizuddin.zali@gmail.com）。

[2017-09-26 09:40] SpeedBlack commented on #5505
Hello @aizuddin85 ,

Thank you very much for your answer.

I have already been following this documentation.
Docker configuration it's ok (certificate in /etc/docker/certs.d and /etc/sysconfig/docker file).
I added "external-registry" secret in openshift project and on all nodes I run docker login and then copy $HOME/.docker/config.json to /var/lib/origin (https://github.com/openshift/origin/issue

[2017-09-26 09:54] aizuddin85 commented on #5534
Do you have full output of  ansible-playbook command with -vvv flag?

[2017-09-26 12:01] magick93 commented on #5534
Yes, here is the very verbose output from the ansible-playbook:

[code]

[2017-09-26 12:55] sdodson commented on #5534
We now split master into two services. Can you check the logs for `origin-master-controllers` ?

[2017-09-26 12:56] ultimatemanu commented on #5482
For the moment we have decided to go on with nfs, which works really well. Anyway, if someone has some info about how to set Openshift for working with S3 compatible services please don't hesitate ;)

Emmanuel

[2017-09-26 13:01] git001 commented on #5372
I would suggest do use a sed in #5372, just in case that a search is already defined in the resolv.conf.

[code]

[2017-09-26 13:12] ingvagabund commented on #5524
I am able to reproduce it. Though, just with python3. Upgrade with Python2 works as expected.

[2017-09-26 13:19] ashcrow commented on #5524
@ingvagabund that makes sense. I believe Fedora requires Python 3 to install/upgrade for at least 3.6 on. I'm happy to run my tests when a fix is available.

[2017-09-26 13:20] sdodson commented on #5482
Not being familiar with those myself, what happens if you do set `openshift_cloudprovider_aws_access_key` and `openshift_cloudprovider_aws_secret_key` does that not work?

[2017-09-26 13:29] sdodson commented on #5505
It looks like it's limited to the xpaas (java) image streams. Can you try re-creating them? `oc replace -n openshift -f /usr/share/openshift/examples/xpaas-streams/jboss-image-streams.json` ?

[2017-09-26 13:31] sdodson commented on #5515
/assign tbielawa
We don't need to fix this in current code but we do need to make sure this is addressed in your 4.6 work

[2017-09-26 13:40] ultimatemanu commented on #5482
Hi @sdodson

No unfortunately this does not work. The keys are not recognized. I my case I  deploy OpensShift with the Ansible script on Exoscale. The Ansible script went through fine (without errors) but trying to create persistent volumes using the S3 service and using them by PVC fails. (Invalid keys error).
I can imagine that we would need a kind of endpoint setting there for telling OpenShift

[2017-09-26 13:44] sdodson commented on #5482
If you can find a reference for how to configure this in kubernetes we can help add it to openshift installer.

[2017-09-26 14:12] ingvagabund commented on #5524
Duplicate of https://github.com/openshift/openshift-ansible/issues/3934

[2017-09-26 14:12] #5524 closed

[2017-09-26 15:24] SpeedBlack commented on #5505
Hello @sdodson,

I tried oc replace -n openshift -f /usr/share/openshift/examples/xpaas-streams/jboss-image-streams.json.
It's doesn't work because error certificate :
[code]

My external registry use self signed (internal PKI).

After, I tried oc replace -n openshift -f /usr/share/openshift/examples/xpaas-streams/jboss-image-streams.json --insecure-skip-tls-verify. It's doesn't work.

I also trie

[2017-09-26 15:41] rjhowe commented on #5372
If creating a PR I would instead suggest using the  IP4_DOMAINS in this script as this pulls the search domains from NetworkManager then append the search with the following values {{ openshift.common.dns_domain }}  and svc.{{ openshift.common.dns_domain }}

[2017-09-26 16:56] ultimatemanu commented on #5482
Hi @sdodson
I will try to find it out and let you know.

[2017-09-26 18:20] michaelgugino commented on #5404
@gamkiller77 We have already merged a fix for each release branch, master branch fix is in progress.

[2017-09-26 19:35] rezie commented on #5466
Also seem to be running into this issue after running the `openshift-ansible-3.6.173.0.41-1` playbooks to scale up a number of nodes. Restarting the NetworkManager service temporarily fixes the problem, but resolv.conf gets overwritten after a while, or on reboot of the machine.

[2017-09-26 19:51] magick93 commented on #5534
Output from `systemctl status origin-master-controllers -l`:

[code]

[2017-09-26 20:00] sdodson commented on #5534
@liggitt BZ his on https://bugzilla.redhat.com/show_bug.cgi?id=1473523 for the same `etcdserver: mvcc: required revision has been compacted` but I don't think this is related to that bug, any idea what would be causing this API server error?

[2017-09-26 20:03] liggitt commented on #5534
That’s not really an error, that’s expected. I don’t see any other messages in the log explaining the exit

[2017-09-26 20:06] sdodson commented on #5534
@magick93 can you gather a more complete log? `journalctl --no-pager -u atomic-openshift-master-api -u atomic-openshift-master-controllers`

[2017-09-26 20:07] sdodson commented on #5534
`journalctl --no-pager -u origint-master-api -u origin-aster-controllers` rather

[2017-09-26 20:17] magick93 commented on #5534
[code]

[2017-09-26 21:10] fabiomartinelli commented on #5118
Same issue here, I run 6 CentOS Atomic host, 3 run GlusterFs ; I can provide logs and confs if needed.

[2017-09-26 21:41] dak1n1 opened #5545 "RFE: support for etcd upgrades"
The OpenShift Ops team ran into an issue that we would like the openshift-ansible team to review. There may be a use case here for an etcd upgrade functionality to be added to the openshift-ansible tooling.

Issue:

On two of our Starter tier clusters, we were performing the RHEL 7.4 upgrade, and it just happened that etcd version 3.2.5 was released that day (or thereabouts) and accidentally insta

[2017-09-26 21:42] michaelgugino commented on #5534
I saw a similar issue due to out of disk space condition.  Failed in exactly the same place with exactly the same output.  Please check available disk space on your system.

[2017-09-26 21:57] magick93 commented on #5534
There should be about 600Gigs of space.

[2017-09-26 22:13] ewolinetz commented on #5525
https://github.com/openshift/openshift-ansible/pull/5546

[2017-09-27 02:26] #3934 closed

[2017-09-27 03:24] aizuddin85 commented on #5534
@magick93  I think it worth a try to unmask the unit and restart `systemctl unmask origin-master-controllers`.

[2017-09-27 04:06] magick93 commented on #5534
I have had to rebuild the server and install v3.6.0.

Will try again with v3.7x in a few weeks.

[2017-09-27 04:46] magick93 commented on #4800
Am getting this with v3.6.0 using branch `release-3.6`.

Did anyone find a solution to this?

[2017-09-27 09:04] davistran86 commented on #5362
Hi guys, I'm still facing this error. I already deployed an openshift cluster before, and now I want to add GlusterFS support to my cluster but it's failed at Set heketi-cli command with same error as above:

[code]
I added glusterfs by adding below to my inventory:

[code]

[2017-09-27 09:04] SpeedBlack commented on #5505
Hello,

After many failed attempts, I found this issue (https://github.com/openshift/origin/issues/1753).
It seems to be my problem.
@schweikert writes on May 10 :

Does this solution still work ? Is there risk ?
Otherwise, can you confirm the procedure below ?

On all nodes :
[code]

on masters :
[code]

Thanks
Best regards

[2017-09-27 09:09] marekjelen opened #5547 "Service catalog: Creating First Master Aggregator signer certs fails"
#### Description

When trying to deploy Service Catalog, the deployment fails on creation on new certificates

##### Version

[code]

##### Steps To Reproduce

[code]

##### Expected Results

Ansible not failing

##### Observed Results

The process fails

[code]

[code]

##### Additional Information

N/A

[2017-09-27 09:59] miminar opened #5548 "Failed to deploy GlusterFS with OCP3.6 due to undefined `openshift` attribute"
## Description
The following error appears when trying to deploy GlusterFS with OCP:

[code]

The mentioned task looks like this:

[code]

## Version
`openshift-ansible-3.6.173.0.5-3.git.0.522a92a.el7`

## Hosts file

[code]

[2017-09-27 12:02] ashcrow commented on #5290
@kwoodson Tagging in @dustymabe as well. Maybe there is something that Platform Infra can do to help out.

[2017-09-27 13:01] ttindell2 opened #5550 "Heketi Deployment creates a job with Image that cannot be changed."
#### Description

When attempting to install gluster in an environment where Docker Hub is unavailable, one would set these 4 variables to point gluster containers to a local registry:

openshift_storage_glusterfs_image="<LOCAL REGISTRY>/gluster"
openshift_storage_glusterfs_version="latest"

openshift_storage_glusterfs_heketi_image="<LOCAL REGISTRY>/heketi"
openshift_storage_glusterfs_heketi_versi

[2017-09-27 13:02] cgwalters commented on #5290
Broadly speaking anything that applies to a non-Atomic Host could apply equally well to AH.  Presumably this is basically running an Ansible playbook and snapshotting the result?

Are there plans to also do inplace incremental updates?

[2017-09-27 13:17] jtligon commented on #5290
I don't think there is a plan to do inplace upgrades, but any future work towards it would be greatly helped by running on Atomic Host.

[2017-09-27 14:38] jarrpa commented on #5362
@davistran86 This is a different problem, the error message is different. Please open a separate Issue.

[2017-09-27 14:38] jarrpa commented on #5362
@jcpowermac Can you see if the merged PR resolves your issue?

[2017-09-27 15:31] detiber opened #5557 "docker registry configuration issues"
It looks like there is some fallout from #5205

When trying to install OCP 3.6 from openshift-ansible master, the resulting /etc/containers/registries.conf does not contain `registry.access.redhat.com`, which causes docker to default only to docker.io for images that do not contain a registry url.

Additionally, it looks like comments telling users about the move from /etc/sysconfig/docker to /etc

[2017-09-27 15:32] detiber commented on #5557
@michaelgugino created this issue to track any additional issues I encounter related to the default registry configuration.

[2017-09-27 17:00] sdodson commented on #5290
What would we want to bake into the atomic host image? Would that just be the container runtime and node container images pre-pulled and configured for bootstrapping? Could we not just make the node image ready for bootstrapping?

[2017-09-27 17:03] sdodson commented on #5548
/assign jarrpa

On Wed, Sep 27, 2017 at 5:59 AM, Michal Minář <notifications@github.com>
wrote:

[2017-09-27 17:04] sdodson commented on #5547
/assign abutcher

On Wed, Sep 27, 2017 at 5:09 AM, Marek Jelen <notifications@github.com>
wrote:

[2017-09-27 17:52] ashcrow commented on #5290
@sdodson I'd say we'd want to have images already installed in the same way rpms are already installed in the rpm version of RHEL.

[2017-09-27 18:16] sdodson commented on #5545
We do provide an etcd playbook that performs the etcd upgrade in isolation of all other tasks but it does not currently have 3.2 included in the upgrade path so we need to add that. It also doesn't include upgrading to a specific version it will simply upgrade to the latest of whichever 2.1, 2.2, 2.3, 3.0, and 3.1 version is enabled in your repos. That playbook is `playbooks/byo/openshift-cluster/

[2017-09-27 19:00] sdodson commented on #5505
Does the version of the installer you're using not have 2d780c406038a6f0b3cc4c7a2326853c09a3caa0 ? That should've mounted /etc/pki into the master containers.

[2017-09-27 19:02] abutcher commented on #5547
Tried reproducing with `openshift-ansible-3.6.173.0.43-1` containerized/noncontainerized and I didn't hit the issue. @marekjelen could you try the latest in the `release-3.6` branch?

[2017-09-27 19:49] mrguitar commented on #5290
@smarterclayton @kwoodson Atomic is on the roadmap for online. Where are we at for getting support for golden images? This seems like low hanging fruit.

[2017-09-28 00:29] rezie commented on #5466
update#3
I fixed the issue in our environment that was overwriting the resolv.conf file, but it looks like something else continues to override the file. Strangely enough, I'm noticing that after a certain amount of time, the resolv.conf file seems to contain the output of the `99-origin-dns.sh` changes. However, this would still be unacceptable as the nodes are not in a usable state after a reboo

[2017-09-28 00:34] z0x010 opened #5567 "openshift-ansible/roles/openshift_logging_elasticsearch/tasks/main.yaml has syntax problem"
[code]

Dose anyone has the same problem?

[2017-09-28 01:51] ringmaster217 commented on #5466
@rezie As you mentioned, Red Hat published a solution for making permanent changes to `/etc/resolv.conf` that involves making the file immutable. I have been using this as a workaround, and it's been working well.

[2017-09-28 02:41] #5404 closed

[2017-09-28 10:13] adbaldi commented on #5324
I'm having the same issue while trying to add nodes to an existing cluster.  The origin cluster is 1.5.1 running on RHEL 7.4.

yum search --showduplicates origin lists the origin-1.5.1-1.el7.x86_64 package, it just doesn't find it when you search for it.  Possibly an alias issue or something with the CentOS repo?

[2017-09-28 10:21] ibotty opened #5570 "Feature request: registry-console should use openshift service certificates"
I have a proof of concept with following changes to the deployment and service:

## Generation of the service certificates

Add annotation to service registry-console:
[code]

## Actually use the service certificates

Because of cockpit-project/cockpit#7763, a init container is needed to get them into the right format for cockpit. So I added the following init container to dc/registry-console.

[c

[2017-09-28 11:06] rabem00 commented on #5118
Had the same issue on a newly installed 12 machine atomic cluster. PVC was created, but mount failed. I upgraded te atomic hosts to version

# atomic host status
State: idle
Deployments:
● rhel-atomic-host-ostree:rhel-atomic-host/7/x86_64/standard
                Version: 7.4.1 (2017-08-30 19:29:56)
                 Commit: e83c16780259c5272684221e2a6007300d94bbfdc5432f9ab6025300f447145b

  rhel-a

[2017-09-28 11:17] adbaldi commented on #5324
I ran into a similar issue while trying to add a node to the cluster.  It looks like each openshift version (1.4, 1.5, 3.6, ...) has been broken out into separate yum repos. The openshift-ansible git repo appears to have been updated for this change a week ago.

I was using a clone of the repo from when we tested the playbook against our dev cluster a few weeks ago.  A quick fix for me was to chan

[2017-09-28 12:25] simon3z opened #5572 "Enable Prometheus by Default"
#### Description

Can we enable by default the Prometheus metrics service in 3.7 and during upgrades of 3.6 (to 3.7)?

cc @zgalor @sdodson @tbielawa

[2017-09-28 13:19] marekjelen commented on #5547
@abutcher tested with `openshift-ansible-3.6.173.0.43-1` and exactly the same result.

The two test for `front-proxy` certs pass even though the certs do not exist.

[2017-09-28 13:38] sdodson commented on #5572
I'd defer to you and @smarterclayton to determine the default enablement state. I imagine we'd definitely do that if they've enabled CFME but not sure if they haven't.

[2017-09-28 13:48] jcpowermac commented on #5362
@jarrpa well my cluster has running projects on it now so I would rather not have to rebuild it again.

[2017-09-28 14:36] ibotty commented on #5570
In spite of the documentation, cockpit already supports using tls.key and tls.crt. The init container is not even needed. Where is the upstream template, so I can write a pull request? Or should I just change the templates in openshift-ansible, and if so, which version s?

[2017-09-28 14:50] jarrpa commented on #5362
@jcpowermac All right, if you don't think you'll revisit this I'm closing the Issue. Feel free to reopen it if you revisit this and encounter the problem again.

[2017-09-28 14:50] #5362 closed

[2017-09-28 15:06] #5061 closed

[2017-09-28 15:12] abutcher commented on #5547
@marekjelen Alright I'll take a closer look

[2017-09-28 15:51] yaxinlx commented on #5118
Out 3.6 cluster also encountered this problem. It happens that the version of the glusterfs client packages  installed on some cluster nodes are 3.8.4, some are 3.10.5. Mounts only fail on the nodes with 3.10.5 installed.

[2017-09-28 15:55] jarrpa commented on #5118
@yaxinlx Can you provide more environment informaiton? Were you also running containerized?

[2017-09-28 17:22] jstuever commented on #5233
I'm curious if this is related to #5236. I'm experiencing a similar issue when using openstack cloud provider integration. This bug was introduced in 3.6; the exact same settings worked fine in 3.5.

[2017-09-28 18:17] #5557 closed

[2017-09-28 18:34] ewolinetz opened #5579 "Update inventory deprecations to use a callback"
Currently, there is a debug statement that will print out any variable deprecations that are found.
This should be updated to use a callback plugin instead to produce cleaner code and cleaner output.

[2017-09-28 20:58] michaelgugino opened #5582 "provisioning issue tracker"
Creating this issue to make a list of running issues with provisioning.

openshift_aws_elb_name:  Uses cluster-name, cluster-name must be sanity checked; can only contain 'letters, numbers, and dashes'

[2017-09-28 21:09] michaelgugino commented on #5582
openshift_aws : Create ELB mgugino-dev-testing-external

Fails: Secure Listeners need to specify a SSLCertificateId

[2017-09-28 21:51] michaelgugino commented on #5582
'upload certificates to AWS IAM'

This needs an adjustment for the failed_when condition.

[2017-09-28 22:36] kmurthy1 commented on #5422
I hit the same issue too. atomic-openshift-node.service does not come up without resolv.conf. Once I manually configured /etc/origin/node/resolv.conf and restarted atomic-openshift-node.service, things were fine.

[code]

[2017-09-28 23:38] kmurthy1 commented on #5349
I am facing the same issue as well.
[code]

[2017-09-29 05:23] yaxinlx commented on #5118
Yes, containerized cluster. Redhat 7.2 and Heketi 4.0.
The version of glusterfs servers is 3.10.5.

[2017-09-29 07:57] SpeedBlack commented on #5505
Hello @sdodson,

I apologise for the delay.

How to know version of the installer ?

Currently, about ansible on my system :
[code]

[code]

Thanks,
Best regards,

[2017-09-29 10:29] Sandvich opened #5586 "include is deprecated"
#### Description

I'm sure someone has noticed this, but I didn't see it in the issues so...

`[DEPRECATION WARNING]: 'include' for playbook includes. You should use 'import_playbook' instead. This feature will be removed in version 2.8.`

##### Version
ansible version: 2.4.0.0
Running from git clone, on branch release-3.6

[2017-09-29 12:41] sdodson commented on #5586
/assign mtnbikenc

[2017-09-29 13:32] sdodson commented on #5505
Thanks, you're using 3.5 version of the installer but it should have /etc/pki bind mounted because that change was backported in a9ece184eeea7de99a947f799bb902524250b6ab so I think the only thing that should be necessary is for you to ensure that your registry's CA is added to /etc/pki/ca-trust/extracted/externalregistry on each node.

@abutcher we have a generic way to add arbitrary CAs to the tr

[2017-09-29 13:35] mtnbikenc commented on #5586
Yep, I've been working on this and have a branch updated, including tox tests!

[2017-09-29 13:37] mtnbikenc commented on #5586
Linking the Trello card: https://trello.com/c/ZTyZu3UM

[2017-09-29 13:54] jarrpa commented on #5118
@yaxinlx So the versions of glusterfs-fuse on the mounting nodes varied between 3.8.4 and 3.10.5, but all the glusterfs pods were 3.10.5? Can you verify that if you downgrade the client nodes running 3.10 to 3.8 that they start being able to mount?

[2017-09-29 13:59] SpeedBlack commented on #5505
Ok, great ! Thanks !

I will try !

[2017-09-29 14:30] yaxinlx commented on #5118
no, glusterfs servers are standalone, not containerized. But their versions are 3.10.5 for sure.

My last comment mean openshift cluster is containerized (in fact, maybe my impression is wrong for this).

We verified it is true.

[2017-09-29 17:10] jarrpa commented on #5118
@jorgefromhell @fabiomartinelli @rabem00 Does anyone have the ability to test and see if a 3.8 version of the glusterfs FUSE client resolves the issue?

[2017-09-29 17:11] jarrpa commented on #5118
@dustymabe As well

[2017-09-29 17:13] jarrpa commented on #5197
As the OP has not responded in some time, I am closing this issue. If anyone is experiencing this exact or a similar problem, please open a new Issue.

[2017-09-29 17:13] #5197 closed

[2017-09-29 17:33] guhcampos opened #5602 "/var/lib/etcd is owned by root, etcd won't start"
#### Description

I have recently deployed a 3 host cluster from scratch with `openshift-ansible` and noticed it was consistently failing because `etcd` could not be started. Looking at `journalctl` reviews `etcd` does not have permissions on `/var/lib/etcd` after deployment. On a fresh install, `/var/lib/etcd` is owned by `root`.

Just running `chown -R etcd /var/lib/etcd` on each host has fixed

[2017-09-29 19:24] ewolinetz commented on #5512
Sorry for the delay on this @srirammageswaran8 . Per chance, are you setting `osm_default_node_selector` at all in your host file?

[2017-09-29 19:46] michaelgugino commented on #5582
provisioned instances lack a name tag, that is a problem in our env.

[2017-09-29 20:05] jarrpa commented on #5548
@miminar Sorry for the delayed response!

....this is very strange. Are you able to edit the openshift-ansible files directly to insert the following right before the failing task and then re-run the playbooks?
[code]

[2017-09-29 20:07] michaelgugino commented on #5582
autoscale group hosts don't have enough disk space on /var

[2017-09-29 20:24] Sandvich commented on #5586
Great :)
I assumed someone was aware of this, but figured it was worth mentioning anyway!

[2017-09-29 22:04] sdodson commented on #5570
Yeah, unlike most other templates in this repo we're the upstream for registry-console which is in the openshift_hosted_templates directory. I think it'd make sense to move that template into the cockpit-ui role now that there no other "hosted" templates and get rid of that role.

[2017-09-29 22:05] sdodson commented on #5570
Also, in general we do want to move towards using service signing certs.

[2017-09-30 10:31] yaxinlx commented on #5118
@jarrpa
I'm soory, some info I provided above is not accurate.
The openshift cluster is installed on centos 7.2.
Now there is no problem to mount glusterfs volume in this cluster.

But volumes still fail to mount on another redhat 7.2 openshift cluster.

[2017-09-30 11:02] jarrpa commented on #5118
@yaxinlx A few questions:

* Can you verify whether your systems have the `fuse` kernel module loaded?
* Does the RHEL cluster still fail to mount even with 3.8?
* You're running containerized, but are you running Atomic or non-atomic OSes on the nodes?

[2017-09-30 11:17] jarrpa commented on #5232
Fixed by #5415.

[2017-09-30 11:17] #5232 closed

[2017-09-30 11:19] jarrpa commented on #5454
#5415 has been merged. Please test to see if this helps.

[2017-09-30 11:21] jarrpa commented on #5452
@ekuric Newer builds of the downstream containers fixed the issue, and openshift-ansible can once again successfully install latest downstream builds. Closing this issue, feel free to reopen if the problem persists.

[2017-09-30 11:21] #5452 closed

[2017-09-30 11:27] yaxinlx commented on #5118
Good news again.

We just found the glusterfs client version on the redhat cluster is a little different from the version on the centos cluster. I reinstalled the glusterfs client on redhat cluster to make them consistent with the contos cluster, then bang!, volumes also mount in the redhat cluster. :)

The detailed rpm files we use now are:
[code]

The version which does not work:
[code]

[2017-09-30 11:29] yaxinlx commented on #5118
btw, we run non-atomic OSes

[2017-09-30 11:35] jarrpa commented on #5118
@yaxinlx Awesome! Hopefully this means we're getting closer to a solution. :) Can you report exactly which RPM versions of GlusterFS 3.10 were failing as well?

[2017-09-30 11:39] jarrpa commented on #5118
@yaxinlx Also, I have no experience setting up containerized OpenShift. Would you be willing to help me troubleshoot this further? I'd like to see if downgrading GlusterFS on @jorgefromhell's setup (CentOS 7.3.1611) resolves the issue. For that I'd need either you to do it or you to show me how to configure openshift-ansible to install containerized openshift. I've tried before, but just setting `

[2017-09-30 11:50] yaxinlx commented on #5118
We can't find the exact version of old 3.10.5 client now.
We install them with yum from the official repo.

I will get some scripts on install containerized openshift from my colleagues and email to you after a while.

[2017-09-30 12:07] yaxinlx commented on #5118
@jarrpa
my colleagues think the script is so simple that it can be pasted here.

The file `host`:
[code]

[code]

[2017-09-30 12:14] jarrpa commented on #5118
@yaxinlx Thanks!

[2017-10-01 04:06] sjenning opened #5610 "docker_image_availability check fails, repo url divided into single character urls"
#### Description

Looks to be a tokenizing error in the `docker_image_availability` check
[code]

##### Version

[code]

##### Steps To Reproduce
1. run playbook/byo/config.yml
2. playbook fails with above error

##### Expected Results
Installation check succeeds and each character of the `openshift_docker_additional_registries` is not treated as an individual repo url.

@sdodson

[2017-10-01 04:30] sjenning commented on #5610
I believe the error was introduced here
https://github.com/openshift/openshift-ansible/pull/5559/files#diff-f6d4c415edd5332159aa1c77eb72b757R156

[2017-10-02 08:09] SpeedBlack commented on #5505
Hello @sdodson,

About CA, it works ! Thank you very much !

I have a last problem during the build. An authentication problem.

If I tried to deploy a new nodejs application (with git repository), I have the following error :

`error: build error: unable to get myregistry.example.com:5000/rhscl/nodejs-4-rhel7@sha256:29b1732f719f4d577827662a8faeea211908657de345ddef4534e3a1eabe1621 `

logs of the r

[2017-10-02 09:12] miminar commented on #5548
Apparently, there was an unreachable gluster node. When replaced with another node, the playbook went through.

[2017-10-02 11:35] srirammageswaran8 commented on #5512
Hi @ewolinetz ,

Yes I set that to the below value in the inventory file.

osm_default_node_selector="role=app"

Thanks ,
Sriram Mageswaran.

[2017-10-02 12:09] jarrpa commented on #5548
@miminar Ah. Is the problem resolved then? Or is there still a reproducable problem you'd like addressed?

[2017-10-02 12:11] bortek opened #5612 "redeploy-certificates.yml breaks master-config.yaml as well as does not drain nodes during service restarts"
#### Description
Hi guys

I am running /usr/share/ansible/openshift-ansible/playbooks/byo/openshift-cluster/redeploy-certificates.yml playbook to update my certificates as they are about to expire soon.

When playbok is almost complete and it goes on to restart master nodes it fails since restart of the master api service fails.

[code]
Here is the error from /var/log/messages file when it fails t

[2017-10-02 12:37] sdodson commented on #5612
/assign abutcher

On Mon, Oct 2, 2017 at 8:11 AM, Bortek <notifications@github.com> wrote:

[2017-10-02 13:08] miminar commented on #5548
The problem is that the error message is super confusing.

[2017-10-02 13:10] jarrpa commented on #5548
@miminar I'm not sure there's much we can do about that here. It should be something that's done at a higher playbook level, not in the GlusterFS one, but even so I'm not sure how to make sure we allow for any use cases where not having those variables defined is fine. If that's the only problem, please close this Issue and open another one if you feel it should be addressed.

[2017-10-02 13:11] sdodson commented on #5505
I'm sorry I don't know how to share a secret across all projects. I'd suggest posting to the users list and see if someone there can provide an answer. https://lists.openshift.redhat.com/openshiftmm/listinfo/users

[2017-10-02 13:11] #5505 closed

[2017-10-02 13:19] ingvagabund commented on #5612
@sdodson what about to run the certificates re-deployment as part of the `ci/openshift-jenkins/install` CI right after the deployment is done but before the conformance tests are run? It will add additional 10 minutes but still will finish before the `ci/openshift-jenkins/upgrade`.

[2017-10-02 13:19] SpeedBlack commented on #5505
Ok, no problem !
Thank you very much for your help !

Best regards,

[2017-10-02 13:32] adelton opened #5615 "openshift_router_selector and openshift_registry_selector seem to be ignored now"
#### Description

On a all-on-one installation via `ansible-playbook -i ansible-inventory openshift-ansible/playbooks/byo/config.yml` which uses `openshift_router_selector`, `openshift_registry_selector` and `openshift_node_labels` , `dc/router` and `dc/docker-registry` remain stuck in `Pending` state, presumably because their `Node-Selector` is `region=infra` and there is no such node in the setu

[2017-10-02 13:36] sdodson commented on #5615
Sounds like something @smarterclayton had mentioned to me.
/assign michaelgugino

[2017-10-02 13:36] adelton commented on #5615
Now that I look at the output, the problem might be that I'm using master of `openshift-ansible` but the deploying images are `v3.6.0` ... is it possible that latest `openshift-ansible` is not compatible with that version.

Thing worked with the same `ansible-inventory` file until 2017-09-26 and started to fail in deterministic fashion on 2017-09-27. Unfortunately, I don't know what image version

[2017-10-02 13:43] sdodson commented on #5615
Master branchs hould work fine for v3.6.0. I'm pretty sure we're just not respecting the selectors due to a code refactor.

[2017-10-02 13:44] bortek commented on #5612
Another finding. I manually removed the newline from master-config yaml file to complete the process and it went on but then what happened was that playbook started to restart docker on all nodes, one by one, going from one node to the next one *without draining pods*! So all pods went down and they never had time to start on another node. Luckily this was in the sandbox cluster. Would it have hap

[2017-10-02 13:48] sdodson commented on #5612
Yeah, Andrew and I discussed that we need to add the cert redeploy to CI. I'm hesitant to keep lumping things into install but I also don't want to fan out to 100 different jobs either. Maybe after conformance tests pass, run cert re-deploy, then run a very targeted test that would ensure that certs were replaced and that a build and deploy works correctly?

[2017-10-02 14:22] ingvagabund commented on #5612
In reality, we should re-run all the conformance tests again after the re-deployment so it would make sense to run the redeployment right after the installation. However, if we have a certificate tests that we can run and make sure everything works as expected, I am fine with that.

[2017-10-02 14:52] sdodson commented on #5610
/assign mtnbikenc

[2017-10-02 14:53] ewolinetz commented on #5512
Thanks for that information, this looks to be the same issue as a Bugzilla [1] that has been opened.
I'm going to close this issue so we can just track it there.

[1] https://bugzilla.redhat.com/show_bug.cgi?id=1497047

[2017-10-02 14:53] #5512 closed

[2017-10-02 16:19] cooktheryan opened #5620 "ETCD scaleup failure"
#### Description

Provide a brief description of your issue here. For example:
Attempting to scale up from 3 etcd nodes to 5. ETCD has been installed but it appears to be breaking when adding the nodes. When I restart a health node I do not see any issues with leader election and designation.

##### Version

Please put the following version information in the code block
indicated below.

* Your an

[2017-10-02 19:53] mtnbikenc commented on #5610
@michaelgugino You did some work around this var recently and it looks like this is related.  Can you give some background?

[2017-10-02 20:11] michaelgugino commented on #5610
@mtnbikenc

Previously, openshift_facts was transforming user-provided strings into lists.

This logic has been moved inside of the docker role.  If any other sections of the code assume a list, those sections will have to reimplement the CSV string to list conversion.

I recommend we deprecate providing additional/blocked/insecure as CSV strings and enforce lists.

[2017-10-02 20:33] michaelgugino commented on #5610
@mtnbikenc

You'll also need to add the enterprise registry like we're here: https://github.com/openshift/openshift-ansible/pull/5559/files#diff-9dc9c16f5365d2528dd6e1525beebd73R53

[2017-10-02 20:35] mtnbikenc commented on #5610
@sdodson, should this be a docs update and add a check to make sure this var is provided as a list or implement more code for CSV list creation?
Reference: https://github.com/openshift/openshift-ansible/pull/5165/files#diff-1b06f2ffbea00508e375a7c7ec2d3051

@sjenning Is this problem resolved if you specify the inventory var as a list?
[code]

[2017-10-02 20:42] abutcher commented on #5547
@marekjelen It's weird that the client binary wouldn't be there at this point in the install which makes me think that maybe something failed earlier in the run or I'm not hitting an env/pathing problem with the binary. There was an update to this task in `master` to reference the first master's determined `oc` path. We might need to backport that change to 3.6. Still diggin'

[2017-10-02 20:47] mtnbikenc commented on #5610
Looks like @ashcrow already has a PR on this. https://github.com/openshift/openshift-ansible/pull/5619

[2017-10-02 20:54] ashcrow commented on #5610
😸

[2017-10-02 21:05] cooktheryan opened #5631 "ca.txt should be on all masters"
#### Description

Provide a brief description of your issue here. For example:
If a master is selected during an add node and it is not considered the first master the node will not correctly run the add node playbook. Note this is mainly with dynamic inventories and possibly will be an issue depending on where we go with 3.7.

##### Version

Please put the following version information in the cod

[2017-10-02 21:06] cooktheryan commented on #5631
based on our conversation earlier @abutcher

cc @e-minguez

[2017-10-02 21:54] marekjelen commented on #5547
The tool is there, the only possibility would be, if the command was run as root without absolute path to `oc`, as for root, the tool is not on path.

Though, it seemed to be that the problem was in the ca certs missing, because before that task that files, there are 2 checks, that pass as if the files are there, but the files are actually missing.

[2017-10-02 22:38] jarrpa commented on #5550
PR #5562 resolves this issue and is merged.

[2017-10-02 22:38] #5550 closed

[2017-10-03 03:53] #5610 closed

[2017-10-03 06:42] e-minguez commented on #5631
In Azure ref. arch. paper we provide a [workaround](https://github.com/openshift/openshift-ansible-contrib/blob/master/reference-architecture/azure-ansible/3.6/bastion.sh#L726-L728) in post-installation.
Also, related [Bugzilla](https://bugzilla.redhat.com/show_bug.cgi?id=1469358) & [PR](https://github.com/openshift/openshift-ansible/pull/5085)

[2017-10-03 08:58] bortek commented on #5612
Guys I was looking further on this in my environment and I wonder if the playbook is reading contents of the SSL certificate from the Web Gui URL specified in

openshift_master_cluster_hostname
openshift_master_cluster_public_hostname

variables and using the entries from the cert somehow? Thing is I discovered that the "Subject Alternative Names" in the cert contains two entries one of them like

[2017-10-03 09:03] miminar commented on #5548
@jarrpa can this be re-assigned instead of closing? The playbook level is still contained in this repository if I'm not mistaken.

[2017-10-03 12:00] Asgoret commented on #5308
@jarrpa
I apologize for my bad english and for the long response :(
I have good news. Part of error was in incorrect configuration of heketi server. Now heketi create registry-volumes on right glusterfs nodes, but docker-registry don`t start.

[code]

[2017-10-03 12:14] dockerdemofci opened #5635 "OpenShift Origin - Failed to fetch the file: [Errno 13] Permission denied For ETCD Certificartes"
#### Description
I am trying to install OpenShift Origin with 3 master and 3 external etcd using the ansible playbook but getting ***Failed to fetch the file: [Errno 13] Permission denied: '/tmp/etcd_certificates*** issue.
I have cloned this Ansible playbook repo and `git checkout release-3.6`.

##### Version

*  `ansible --version`
[code]

* `oc version` on Master:
[code]

##### Steps To Reproduc

[2017-10-03 13:42] Asgoret commented on #5308
@jarrpa
[code]

[2017-10-03 14:09] #5620 closed

[2017-10-03 14:13] jarrpa commented on #5548
@miminar I'm just not sure it makes sense to have the check in the GlusterFS role. If a node which is supposed to be an openshift node is unreachable, this is a higher-level problem not one specific to the role.

[2017-10-03 14:16] jarrpa commented on #5548
@miminar Specifically, I want you to open a new Issue on this same repo but as a new thread that focuses on the actual core issue you're having rather than the symptom you faced.

[2017-10-03 14:38] abutcher commented on #5547
The stat checks will always succeed even if the path does not exist and the failing command is ran when `front-proxy-ca.{crt,key}` are missing. `oc adm ca create-signer-cert` is generating the `--cert` and `--key` arguments so it seems to be related to the path.

[2017-10-03 15:13] jarrpa commented on #5308
@Asgoret PROGRESS!! :D What's the output of `oc get -o yaml` for the registry claim, the registry volume, and the endpoints used by the volume?

[2017-10-03 17:23] jim-minter opened #5642 "journald still rate limits when openshift is upgraded"
#3753 enables setting journald parameters to make log suppression less probable.  However this does not appear to be applied on upgrades.  This means that we can lose relevant messages on test_pull_request_origin_extended_conformance_install_update CI jobs.

@soltysh @smarterclayton @stevekuznetsov @gabemontero

[2017-10-04 05:14] #5615 closed

[2017-10-04 09:11] Asgoret commented on #5308
@jarrpa
[code]

[2017-10-04 13:14] jarrpa commented on #5308
@Asgoret Okay. Can you verify that all your kube nodes can reach (e.g. ping) your gluster nodes? And have you opened the required ports on the glusterfs ports (24007, etc.)?

[2017-10-04 14:13] Asgoret commented on #5308
@jarrpa
All kube can teach each other.
About port 24007.
On gluster node  1-3 firewalld masked. On gluster node 4-6 :
[code]
Other chains is empty and have 'ACCEPT' defolt policy

[2017-10-04 14:51] jarrpa commented on #5308
@Asgoret But can the openshift nodes reach the gluster nodes? e.g. can you ping or ssh into the gluster nodes from the openshift cluster?

[2017-10-04 14:54] tomassedovic opened #5657 "Jinja extrapolation for `openshift_hosted_...` vars doesn't work"
#### Description

The `openshift_hosted_*` variables need to be hard coded even when declared in `group_vars/OSEv3.yml` which normally allows Jinja templating.

See below for more details, but it seems the `openshift_facts` role is doing something really weird with the way it processes the `openshift_hosted_*` vars. I tried to look into it, but got lost so even an explanation how it all works migh

[2017-10-04 18:02] dgoodwin opened #5662 "lib_openshift oc_process module does not support templates in other namespaces"
#### Description

oc process supports a syntax for processing a template that lives in another namespace (which you can view), but you wish to process in the current namespace.

This looks like the following:

`$ oc process openshift//mysql-persistent`

This syntax currently breaks with oc_process.

##### Version

* Your ansible version per `ansible --version`

ansible 2.4.0.0

If you're operating

[2017-10-04 18:10] sdodson commented on #5662
/assign kwoodson

On Wed, Oct 4, 2017 at 2:02 PM, Devan Goodwin <notifications@github.com>
wrote:

[2017-10-04 22:50] oybed opened #5666 "openshift-ansible should allow for a storageclass definition"
#### Description
When choosing to use dynamic storage with logging and metrics, it won't successfully bring up these services until a storageclass has been defined to allow for the dynamic provisioning of the backend storage. Hence, there should be an inventory variable that allows for setting up a storageclass as part of openshift-ansible / provisioning of the cluster.

##### Version

[code]

###

[2017-10-05 03:44] williamcaban opened #5668 "openshift_storage_glusterfs should allow to set as storageclass default"
#### Description

When using OpenShift storageclass of AWS or GCE, openshift-ansible automatically designate that storageclass as default. (https://github.com/openshift/openshift-ansible/blob/master/roles/openshift_default_storage_class/defaults/main.yml)

When deploying openshift_storage_glusterfs, the resulting storageclass is not set as the default and there is no option to specify it as the de

[2017-10-05 05:19] adelton commented on #5615
Thanks, I confirm that I see it fixed in my automation.

[2017-10-05 06:56] Asgoret commented on #5308
@jarrpa
Ansible can open ssh with all nodes.
Master can open ssh to all gluster nodes.
Slave nodes can`t open ssh to any node.
Gluster nodes can`t open ssh to any node, but command `gluster peer status` show other peers in cluster like connected.

[2017-10-05 08:14] boyanEst commented on #3174
@vishal-biyani
Thank you for sharing your solution. I have got the same problem with 3.6.0 after removing etcd now the problem is gone.
Regards

[2017-10-05 13:32] Asgoret commented on #5308
@jarrpa master must have less-ssh acces to al nodes, like ansible?

[2017-10-05 14:20] dgoodwin opened #5671 "Failures with configuring docker-registry passthrough route"
#### Description

Today for some reason, seeing repeat failures on the task: TASK [openshift_hosted : Configure a passthrough route for docker-registry]

##### Version

* ansible 2.4.0.0
* openshift-ansible-3.7.0-0.125.0

##### Steps To Reproduce
1. Run installer normally as part of an Online team devenv setup.

##### Observed Results

Has happened multiple times today:

[code]

##### Additional I

[2017-10-05 15:16] jarrpa commented on #5308
@Asgoret The actual SSH access doesn't matter, I just care that they have network access to each other, i.e. whether they can send packets to each other. ping would also suffice. What I want to know is if every OpenShift node has network access to every GlusterFS node. For any pod to use a GlusterFS volume, the hosting node has to be able to mount the volume.

Actually, that's a good enough test:

[2017-10-05 16:56] dgoodwin opened #5674 "openshift_hosted failure adding secret to registry's pod service accounts"
#### Description

Failure on installation:

[code]

##### Version

[code]

##### Steps To Reproduce
1. Occurring often (at least today) for Online team devenv playbooks, which call out to openshift-ansible config.yml for cluster setup. Can provide more details if needed.

##### Additional Information

[code]

[2017-10-05 17:09] sosiouxme opened #5675 "installer status callback plugin should be scoped to installer playbooks"
#### Description

##### Version

origin master

##### Steps To Reproduce
1. `ansible-playbook -i hosts playbooks/byo/openshift-checks/pre-install.yml`

##### Observed Results
Describe what is actually happening.

[code]

[2017-10-05 17:20] sdodson commented on #5675
/assign mtnbikenc

On Thu, Oct 5, 2017 at 1:09 PM, Luke Meyer <notifications@github.com> wrote:

[2017-10-05 17:37] sdodson commented on #5671
/assign kwoodson

On Thu, Oct 5, 2017 at 10:20 AM, Devan Goodwin <notifications@github.com>
wrote:

[2017-10-05 20:06] mffiedler commented on #5674
Also see https://bugzilla.redhat.com/show_bug.cgi?id=1498934 for AWS install issue starting master controllers.

[2017-10-05 21:42] karthikrmit opened #5681 "Ansible fails to add-registry registry.access.redhat.com on Atomic Host"
#### Description

Trying to install Openshift 3.6 using tag openshift-ansible-3.7.0-0.129.0 where the slaves are Atomic Hosts.
Ansible fails to add the default registry --add-registry registry.access.redhat.com to docker runtime on Atomic hosts due to which docker pull openshift3/node:v3.6.173.0.5 fails on the Atomic hosts. But the same passes on RHEL Server node.

I have tried the same with tags

[2017-10-06 06:43] rabem00 commented on #5118
@jarrpa - I was on vacation, so i didn't see your request you made 7 days ago. Did you find what the problem is for this issue? Do you need me to test something? Let me know.

[2017-10-06 09:54] Asgoret commented on #5308
@jarrpa
I have good news! Ansible end installation of openshift without any errors.
[code]

And

[code]

[2017-10-06 10:03] Asgoret commented on #5308
@jarrpa
And maybe i find bug in ansible work...

All nodes in cluster have manual disabled and stopped firewalld. When ansible works it install iptables.service to nodes which contents in [nodes] group like master,slave etc.

So, in some task ansible must open port 24007 on gluster nodes, but does not do that on backup glusterfs nodes. So, when heketi try to mount docker-registry-volume it faile b

[2017-10-06 10:27] aizuddin85 commented on #5602
@guhcampos can you provide the inventory file?

[2017-10-06 10:29] aizuddin85 commented on #5567
@z0x010 appreciate if you could provide the steps taken to clone the repo.

[2017-10-06 12:27] jarrpa commented on #5118
@rabem00 No problem! Can you see if going @yaxinlx's route resolves the problem yo were having? He downgraded to an earlier glusterfs-fuse package version on all OpenShift nodes, from CentOS specifically.

[2017-10-06 12:34] jarrpa commented on #5308
@Asgoret HUZZAH!!

I'm not sure I understand the problem, though. What did you do to allow the GlusterFS deployment to succeed, and why aren't the GlusterFS ports being opened in the firewall?

[2017-10-06 12:42] Asgoret commented on #5308
@jarrpa
Well...
I correct configure heketi.service on master node, make less ssh from master node to gluster nodes. It`s make pvc on gluster nodes succes.

Then i look at log files on fluster nodes. There was error, when gluster node 3 try to connect gluster node 1 by 24007 port. It was error, becouse "can`t route to host".

Then i go checking firewalld.service and found out that there was iptable

[2017-10-06 12:48] jarrpa commented on #5308
@Asgoret Hmm... this sounds like it may be slightly beyond my current understanding. The ansible script should take care of opening the firewall ports. Do you have any other problems with the firewall? Do you know why the ports on node 3 would have been open but not the other two?

[2017-10-06 12:49] Asgoret commented on #5308
@jarrpa
UPD#2: I can write what configuration i have and write some sort of instruction. If we can add it to this part of repository: https://github.com/openshift/openshift-ansible/tree/master/inventory/byo

[2017-10-06 12:51] jarrpa commented on #5308
@Asgoret Sure, let's see what you've got.

[2017-10-06 12:54] Asgoret commented on #5308
@jarrpa
It`s my fault) I`m sorry for that (((

No. All nodes was one base configuration script, all updates was in one time and where created from one iso-file, ansible use 'root' from ansible node, heketi user 'root' from master node.

[2017-10-06 12:57] Asgoret commented on #5308
@jarrpa

Ok. I copy ansible what i use now, and re-download last version.

Writing instruction take some time.

[2017-10-06 13:53] guhcampos commented on #5602
I won't have it in a couple weeks because I'm currently on vacation time and this was at the office, but I can try to reproduce at home.

Nevertheless, it was a fairly standard inventory I built just for this test, probably something like:

[code]

Where all 3 nodes are also `masters`, `etcd` and `lb`

I don recall the exact changes I did to the inventory config, but a possibly relevant detail is

[2017-10-06 14:34] dgoodwin commented on #5674
This persists today with atomic-openshift-3.7.0-0.142.0.git.0.f403cfa.el7.x86_64. Something has gone very wrong recently. I don't think it's in openshift-ansible either as we're using a pinned version and it hasn't changed.

[2017-10-06 14:45] akshaykumarkorukonda commented on #1878
all docker registry and routing always in pending what shall i do

[2017-10-06 14:57] pweil- commented on #1878
this issue has been closed for over a year.  In order for us to assist you better please open a new issue

[2017-10-06 14:57] jarrpa commented on #5468
@mangirdaz Any chance to have had a look at this?

[2017-10-06 15:57] raghavendra-talur opened #5685 "templates used for installation of heketi and gluster pods by openshift-ansible-installer must use tags"
#### Description

Provide a brief description of your issue here. For example:

The templates that are used by openshift-ansible-installer for glusterfs and heketi don't have any tag.
This leads to a problem that when node hosting gluster pods are restarted or when docker is restarted the latest image is pulled.

As gluster is a distributed software, we want all the pods to have same version, henc

[2017-10-06 17:55] dgoodwin commented on #5674
Failing task is: https://github.com/openshift/openshift-ansible/blob/master/roles/openshift_hosted/tasks/secure.yml#L81

Based on the stack trace the failing oc_serviceaccount_secret failure is coming from: https://github.com/openshift/openshift-ansible/blob/master/roles/lib_openshift/library/oc_serviceaccount_secret.py#L1560

This would appear to indicate the service account referenced doesn't ex

[2017-10-06 17:56] dgoodwin commented on #5674
p.s. thanks for the tip @mffiedler

[2017-10-06 19:00] #5674 closed

[2017-10-06 20:50] sallyom commented on #5671
@sdodson, @kwoodson @dgoodwin adding the 'kubernetes.io/cluster/anything: anything' tag in the aws-instances has solved this issue.

[2017-10-06 21:24] srirammageswarank opened #5691 "Cloud Provider AWS"
Hi Team,

I was trying to setup OCP in AWS and i run in to the below issue.

If i enables cloud-provider as aws the nodes get registered with the private dns name. In out case the private DNS is not resolvable. Is there any way we can override it.?

Setting openshift_hostname and openshift_public_hostname did not help.

[2017-10-06 21:29] srirammageswaran8 commented on #5512
@ewolinetz

Thanks.

[2017-10-06 21:39] apooniajjn opened #5692 "Openshift Origin Installation fails if cloud provider (AWS) used in inventory file"
#### Description

On openshift cluster if I use AWS as cloud provider. My installation fails while trying to start node service on each node. If I don't use any cloud provider it appears to be successful

##### Version

I am using RPM Installation
[code]

##### Steps To Reproduce
1. Use below mentioned inventory file and copy to /etc/ansible/hosts file
2. Run ansible-playbook -i /etc/ansible/hosts

[2017-10-07 06:10] patlachance commented on #5692
Same error here since end of August with RHEL7.4 + Openshift Enterprise on AWS.

Nodes are registered in the cluster with AWS DNS domain suffix (<az>.compute.internal) instead of the public_dns_domain we provide. Forcing it with hostname in inventory file using 'openshift_hostname' doesn't help.

Support request opened with Red Hat (case 01937377), still waiting for resolution.

[code]
Same for ne

[2017-10-07 06:13] patlachance commented on #5692
Seems related to #5691

[2017-10-08 12:36] rabem00 commented on #5118
@jarrpa Just installed a new cluster using the following specs:
1.
12 atomic hosts with the following version
rhel-atomic-host-ostree:rhel-atomic-host/7/x86_64/standard
Version: 7.4.1-2 (2017-10-03 16:59:58)
2.
The following inventory is used for installation (domain redacted for example.com) to install openshift v3.6.0:
[origin-issue-5118.txt](https://github.com/openshift/openshift-ansible/files/

[2017-10-08 13:20] rabem00 commented on #5118
@jarrpa I created a new pvc from the openshift web console and that one **get bound as long if use the storageclass i created**. If i trying to create one without a storageclass selected then i see in the event log the message: no persistent volumes available for this claim and no storage class is set (and request is pending). This is the same message i get with a fresh install (see previous post,

[2017-10-08 16:04] jarrpa commented on #5118
@rabem00 First, it sounds like the downgrade resolved the original Issue for you? Please confirm.

Second, if you are not using a StorageClass you need to manually create a GlusterFS volume using `heketi-cli` then also create a PersistentVolume in Kubernetes pointing to that GlusterFS volume. THEN you create a PVC with attributes matching the desired PV and it should bind to that PV.

[2017-10-08 16:09] jarrpa commented on #5118
@rabem00 Also, fixed your formatting. :)

[2017-10-08 18:00] rabem00 commented on #5118
@jarrpa Let's forget the Storageclass issue for now, otherwise we are mixing problems (although they could be related, I don't know).

I had to look up what you meant with

, because did **not** downgrade anything.
I don't use the setting that @yaxinlx is using. He's using **non**-atomic hosts, where they can change rpm versions, etc. We are using **atomic hosts** and **containerised installation*

[2017-10-08 18:26] jarrpa commented on #5118
@rabem00 Read what I said: If you are not using a StorageClass you need to manually provision your GlusterFS volumes BEFORE creating the PVCs. Further, using GlusterFS for logging and metrics is currently not supported.

At this point, I will ask you to open a new Issue. You are obviously not hitting the problem encountered in this Issue. If you can manage to replicate it and find a workaround, pl

[2017-10-08 18:51] rabem00 commented on #5118
@jarrpa as I said where hitting the same issue a couple of weeks ago (that's why i was in this thread). The message was the same as @jorgefromhell:
`glusterfs: could not open log file for pod`
But after the fresh install, this message can't be recreated with deployments. Will create a new issue for the storage class problem. Thx

[2017-10-08 18:53] srirammageswaran8 commented on #5692
Hi @patlachance ,

Please try using openshift_public_hostname. That helped for me.

Thanks ,
Sriram Mageswaran.

[2017-10-09 13:54] j00p34 commented on #5692
It seems to be a timing issue, I have similar error messages installing on aws. I was able to start the origin-node service on the machine after waiting several minutes when the installation failed. After that, running installation a second time seems to work.

[2017-10-09 14:37] ksemaev commented on #5362
Guys, is it possible to merge these changes to 3.6.x branch?

[2017-10-09 15:25] poonia0arun commented on #5692
@j00p34 ...I don't think in my setup I have timing issue ... I had tried manually restarting the node service on each machine after a while and it was throwing the same error ...

[2017-10-09 16:40] jarrpa commented on #5362
@ksemaev Re-running the GlusterFS role was not something that was supported in 3.6. A BZ on this would probably allow for it to be considered for a 3.6 backport, but I'm not sure if it would make sense to backport a fix for a feature we don't support.

[2017-10-09 20:58] cooktheryan commented on #5290
:+1:

@sdodson there are a couple of items based off of things I saw when doing the reference architecture work with atomic.

- Patch based on the installer docker version
- Modify user-data of the scripts @kwoodson created to specify a static user regardless if its Atomic or RHEL. (atomic uses cloud-user by default and rhel uses ec2-user)
- Like @ashcrow mentioned pre-pull images

[2017-10-09 21:00] cooktheryan commented on #5290
Also, one more item within the AMI code that we currently have we could use the containerized=true variable which would benefit the RHEL AMI as well if it does not already accept it and then Atomic would be able to utilize the same code.

[2017-10-10 05:22] patlachance commented on #5692
@j00p34 / @poonia0arun same for me. Restarting installation doesn't help.

[2017-10-10 05:42] j00p34 commented on #5692
@poonia0arun  Sorry to hear that. It would have been easy to workaround then. I must say that I am using the 3.7 alpha version of openshift I didn't try it with 3.6 yet. Another big difference I see from your config is that your specifying aws keys. I am using IAM roles for my instances so they have rights to the AWS API without specifying keys:
`# Create an OSEv3 group that contains the masters a

[2017-10-10 07:56] Asgoret commented on #5308
@jarrpa
Ok. I found the issue of does not openned ports on gluster nodes.
Base Centos works with firewalld.service, not with iptables.service.
But ansible masked firewalld.service and install iptables.service.
Rules for glusterfs connection in firewalld configuration files.

This happend only on docker-registry (infra node) nodes.

[2017-10-10 07:59] Asgoret commented on #5308
@jarrpa
About instruction. First version and picture of architecture which i try to create.
![image](https://user-images.githubusercontent.com/30697011/31375360-ee070dee-ada9-11e7-8309-654f15e61bce.png)
[Instruction.txt](https://github.com/openshift/openshift-ansible/files/1371016/Instruction.txt)

[2017-10-10 08:33] mjudeikis commented on #5468
@jarrpa, yes and I think we cant avoid duplicating code. We just need to split two main use cases here.
1. If inventory file/cluster contains cluster nodes (either native or not). So gluster configuration is dedicated to `openshift_storage_glusterfs` role
2. If inventory file does not contain any `gluster` or `gluster_registry` groups. But we want to integrate with external gluster. In this scenar

[2017-10-10 10:46] patlachance commented on #5692
@j00p34 Your wright, I'm trying to install Enterprise version, following instructions from the link you provided. Only difference is that I'm trying to deploy Openshift in a private VPC behind a custom proxy/reverse proxy instances.

[2017-10-10 11:04] j00p34 commented on #5692
@poonia0arun There's one thing I remember from a previous installation: When I provided openshift hostname my cluster couldn't start either. I can't remember exactly what the problem was but it had something to do with kubernetes resolving the hostname while the node names are different. Maybe you should try it without the ```openshift_hostname=osmaster01.bdteam.local``` stuff. You get aws names t

[2017-10-10 11:39] #5671 closed

[2017-10-10 14:19] Asgoret opened #5712 "External GlusterFS - error with heketi"
#### Description

External heketi service stopped on task "Verify heketi service" by Ansible.

##### Version
[code]

##### Steps To Reproduce
0. run heketi
1. run ansible install
2. See log.

##### Expected Results
Succesfull installation of openshift origin.

##### Observed Results
External heketi service stoped and ansible install failed on "Verify heketi service"

[code]
##### Additional Inform

[2017-10-10 14:29] jarrpa commented on #5308
Okay, this looks pretty straightforward. I'm not sure that belongs in this repo, however. The instructions should probably go somewhere in openshift-docs. We can take care of trying to add something in an appropriate place to cover this.

Thank you for your patience and dedication! If the situation has been sufficiently resolved, please go ahead and close this issue.

[2017-10-10 14:33] Asgoret commented on #5308
@jarrpa Thank you for you patience! Yes, this issue is closed)

[2017-10-10 14:34] Asgoret commented on #5308
@jarrpa Thank you for you patience! Yes, this issue is closed) I`m so sorry, but I find another error\issue(

When I sharpen the installation script, then I'll print it here.

[2017-10-10 14:34] #5308 closed

[2017-10-10 14:36] jarrpa commented on #5468
@mjudeikis I'll note that you can already specify several registry-specific GlusterFS variables: `openshift_hosted_registry_glusterfs_endpoints` and `openshift_hosted_registry_glusterfs_path`. Setting these will take care of statically creating the PV and PVC that will be used by the registry pods. Is this something that doesn't meet your needs?

[2017-10-10 15:43] mjudeikis commented on #5468
@jarrpa , We still need to create services and endpoints and configure registry DC to use those PV, and PVC. Im almost done with POC which is compatible witht glusterfs role. It will be changed to `openshift_hosted` role to create those endpoints. And if glusterfs is defined it will be skipped.

Tried to do it in glusterfs role but after 2 days result was a monster with 3 heads and not quite worki

[2017-10-10 16:30] jarrpa commented on #5118
@rabem00 Yeah, I'm not saying you weren't hitting this issue, you certainly had valid reason to chime in here. :) Looking forward to your new issue!

@jorgefromhell If you're still around, let us know if you want to continue experimenting with this or not. I'll close this issue after a week of inactivity.

[2017-10-10 16:38] jarrpa commented on #5548
As it's been a week of inactivity, I am closing this issue. As I believe there is nothing that is appropriate for the role specifically, so please continue this discussion in a new issue at a higher level.

[2017-10-10 16:38] #5548 closed

[2017-10-10 16:40] mjudeikis commented on #5468
And our doc is wrong. Its missing _storage_ part as fact settings script iterates via this key:
[code]

[2017-10-10 16:41] jarrpa commented on #5468
@mjudeikis Oh, good catch! I thought they looked funny when I looked at them again. Want to include the doc fix in you PoC PR? Otherwise I can just put up that fix.

Looking forward to your PR, either way!

[2017-10-10 16:44] mjudeikis commented on #5468
@jarrpa will test it few more times. as we need to apply fix for the client internally until Friday, When we will be happy with code, docs and openshift docs will follow :)

[2017-10-10 16:49] jarrpa commented on #5468
@mjudeikis All right, I'll just fix this small thing separately. ;)

[2017-10-10 16:55] poonia0arun commented on #5692
@j00p34 if I run my ansible playbook without openshift_hostname value... API on master doesn't restart because it tries to resolve to ip-10-30.1.248.bdteam.local hostname which is not a dns record on my dns server so API service on master fails ..

[code]

I am using ELB in front my HA pair of masters.

[2017-10-10 17:04] jarrpa commented on #5685
I don't think it makes sense to have specific tags upstream. It makes sense for stable, downstream products but we want to always be using the latest available container images when deploying upstream. I do agree with you that we want to make sure the pods are kept in version sync, but hardcoding it into the ansible doesn't feel like the right way forward.

I haven't read or understood it yet, but

[2017-10-10 17:16] jarrpa commented on #5685
@raghavendra-talur We could also, more broadly, look into image policy: https://kubernetes.io/docs/admin/admission-controllers/#imagepolicywebhook

[2017-10-10 17:17] jarrpa commented on #5685
@raghavendra-talur Here we go: https://docs.openshift.com/container-platform/3.6/admin_guide/image_policy.html

[2017-10-10 20:21] jsanda opened #5718 "Metrics playbook fails with multiple errors"
#### Description

Provide a brief description of your issue here. For example:

I am running OpenShift locally via,

[code]

I am trying to deploy metrics by running the playbooks/byo/openshift-cluster/openshift-metrics.yml playbook. I am using inventory/byo/hosts.example as my inventory file. I have encountered several, different errors and am unable to get metrics deployed. I am running on Fedor

[2017-10-10 21:02] sdodson commented on #4979
No immediate plans to do that.

[2017-10-11 05:38] j00p34 commented on #5692
I fixed my problem, seems unrelated after all. I am running 3.7 and I noticed origin-master-controllers.service was crash looping because in this version you need to set ClusterID when in aws. While running the playbook I added ```[Global]
KubernetesClusterTag=mytestcluster
KubernetesClusterID=mytestcluster
[code]

[2017-10-11 07:37] mjudeikis commented on #5468
@jarrpa , added this one now: https://github.com/openshift/openshift-ansible/pull/5723
still, need to do some tiding but I think it worth start checking by you.

[2017-10-11 14:05] michaelgugino commented on #5718
@jsanda The example inventories are not meant to be consumed directly.  They serve more as documentation of how inventory variables should be used.

You will need to populate a properly constructed inventory with the appropriate group names to utilize any of the plays in openshift-ansible.

[2017-10-11 14:26] jsanda commented on #5718
I had been using a different inventory file. Here it is:

[code]
I only recently added the ansible_python_interpreter when I tried to run the playbooks from master. With this inventory file I run into some of the same and additional errors.

[2017-10-11 14:28] mwringe commented on #5718
@ewolinetz can you also help us out here? We used to be able to get metrics deployed using our simple inventory files (which only contained metrics related parameters) but something has changed and we are no longer able to deploy metrics using the metrics playbook.

Do you have an example of a simple inventory file that we should now be using to deploy metrics in our environments? The last time I

[2017-10-11 16:53] ewolinetz commented on #5718
@mwringe I think this is due to the missing groups that openshift-ansible is looking for.
Can you try this inventory file? (assuming this is being run on the actual master)
[code]

[2017-10-11 16:59] apooniajjn commented on #5692
@j00p34 .. oh okay.. I can't find the right solution for this ... I am still waiting for a solution

[2017-10-11 18:01] mwringe commented on #5718
@ewolinetz awesome, that works :) [well, after getting around the Fedora Python 3 check]

@jsanda is there anything else which is needed here? or can we close this? It just looks like our inventory files were out of date and giving us really bad results.

[2017-10-12 13:46] jsanda commented on #5718
I got things working with the new inventory file. I still have to hack around the python3 validation check, but I can open a separate ticket for that if necessary. Thanks @ewolinetz!

[2017-10-12 13:46] #5718 closed

[2017-10-12 15:35] jstuever commented on #5668
This would be great, I currently have to run the following command post-install to achieve this.
[code]

It would be nice to see the storageclass template contain something like the following
[code]

[2017-10-12 17:36] rushabh268 commented on #5692
@abutcher @detiber any pointers for this issue?

[2017-10-12 19:24] michaelgugino commented on #1457
Closing due to inactivity.

[2017-10-12 19:24] #1457 closed

[2017-10-12 19:34] cooktheryan opened #5743 "openshift-etcd/scaleup.yml requires 'deployment_type=x' at run time"
#### Description

Provide a brief description of your issue here. For example:
/usr/share/ansible/openshift-ansible/playbooks/byo/openshift-etcd/scaleup.yml requires that the deployment_type be passed at run time. It does not seem like it gets read from the static inventory file.

##### Version

Please put the following version information in the code block
indicated below.

* Your ansible version

[2017-10-12 22:06] jarrpa commented on #5454
Closing this issue due to inactivity. Can be reopened if revisited.

[2017-10-12 22:06] #5454 closed

[2017-10-13 14:35] arnaud-deprez commented on #2352
+1
IMHO, proxy settings should not be keep in the final image after the build, if anyway an application needs to go the internet, this should be handled by the egress router, shouldn't ?

[2017-10-13 15:53] ksemaev opened #5750 "Installation of metrics fails on v.3.6.0"
#### Description
None of supported ways of installation is working for openshift 3.6.0 installed from packages on real hardware (no cloud providers)

##### Version
ansible 2.3.2.0
openshift-ansible-3.6.173.0.49-1-4-g28b1349
[code]

##### Steps To Reproduce
Trying to install openshift metrics with inventory:
`openshift_metrics_install_metrics=true
openshift_metrics_image_version=v3.6.0
openshift_ho

[2017-10-13 16:21] michaelgugino opened #5751 "Cleanup kube_admission_plugin_config"
The variable kube_admission_plugin_config and it's mutations need to be cleaned up.  They have been deprecated.

[2017-10-13 16:44] smarterclayton opened #5753 "docker-registry.default.svc should be on port 443 for https by default"
The service for the registry should be on port 443 and 5000 and new clusters should use 443.  No one should hardcode port 5000.  We don't have to upgrade the ports.

In general, the drift between oadm registry and the use cases supported in the ansible role is pretty large.  It's probably no longer productive to continue trying to keep the two in sync as they are.  We should instead consider:

1.

[2017-10-13 16:44] smarterclayton commented on #5753
@bparees

[2017-10-13 16:59] bparees commented on #5753
not sure i followed this, do you mean oadm registry should take the core registry config yaml (that needs to be created, I guess) and customize it, rather than what it is doing today (programmatically defining a config)?

[2017-10-13 17:21] portante opened #5755 "Logging project deploymentconfigs should not be using triggers by default"
As of the filing of this issue, the `deploymentconfigs` for the `logging` project  use triggers that cause a pod to be re-deployed as soon as a change is made to the configuration.

This can have bad effects if a user is not careful to avoid too many restarts of the Elasticsearch pods with multiple edits.

We recommend changing all `logging` deploymentconfigs to _NOT_ use triggers, and add proper

[2017-10-13 17:31] dlbewley opened #5756 "v3.6 cluster up openshift-ansible-metrics-job job fails"
#### Description

I may be filing this in the wrong place, but am not sure where the right place is.

- _registry.access.redhat.com/openshift3/ose-ansible:v3.6.173.0.21 is missing iproute package._

After oc login to a OCP v3.6.173.0.21 cluster, `oc cluster up --metrics` produces a job in the _openshift-infra_ fails to complete and instead runs over and over.

##### Version

Please put the followi

[2017-10-13 17:45] smarterclayton commented on #5753
or possibly not customize it, and just only do some small checks.  Basically dump the flags.

[2017-10-13 21:51] ewolinetz commented on #5755
What kind of overhead comes with ensuring ES would not perform unnecessary operations when going through a rolling restart? Would this be something that needs to be captured in the docs as well (an advanced guide perhaps -- updating ES DC configurations)

[2017-10-13 23:34] portante commented on #5755
If one continually has one or more ES pods start and stop inadvertently because of changes to the DC, you potentially place ES in a state where it has to figure out where it was in a previous restoration on a particular set of indices that had been cleanly updated.  There are sync points [1] in ES that help minimize the length of downtime for a restoration operation.  When you have hundreds of act

[2017-10-16 10:57] adelton commented on #5517
I no longer see this error but I now

[code]

even if `docker-1.13.1-22.gitb5e3294.fc26.x86_64` is installed.

[2017-10-16 11:35] abessifi opened #5767 "Error installing registry-console from private registry"
#### Description

Ansible cannot pull the cockpit image from a private registry based on the role parameters `openshift_cockpit_deployer_prefix` and `openshift_cockpit_deployer_version`.

##### Version

* Targeted OSs: CentOS 7.4
* Ansible version: 2.3.0.0
* Installation source type: cloned project
* Git branch: release-1.5
* Git HEAD commit: a4eaa37a33545c0fc373d93464873ac416ef6782
* The output o

[2017-10-16 13:37] Asgoret commented on #5308
@jarrpa  Hi, can you look at issue #5712?

[2017-10-16 13:50] bigl0af commented on #5324
+1 this issue - it's preventing me from being able to upgrade from 1.4.1 to 1.5.1 (as part of the move to v3.6).

[2017-10-16 14:02] ashcrow commented on #5290
@cooktheryan 👍

@smarterclayton / @kwoodson ping 😄

[2017-10-16 14:24] Asgoret commented on #5750
@ksemaev Hi, i have something same, but with GlusterFS. Check cassandra log for closed ports or check iptables rules.

In my case pvc for docker registry does not created because glusterfs node1 tried to connect to glusterfs node2 by port 24007 wich was closed.

[2017-10-16 15:23] jarrpa commented on #5308
@Asgoret Sure. Please don't double-tag me in the future. :)

[2017-10-16 15:29] jarrpa commented on #5712
@Asgoret Assuming I'm understanding you correctly, there's a PR waiting that would address this problem: https://github.com/openshift/openshift-ansible/pull/5723

[2017-10-16 15:34] Asgoret commented on #5712
@jarrpa  I think you are correct. I`l experimenting with inventory file configuration and can not understand what doing this part and is it necessary for external heketi?
[code]

[2017-10-16 15:43] jarrpa commented on #5712
@Asgoret For external heketi, `openshift_storage_glusterfs_is_native` must be `False`. When false, the variable indicates that heketi lies outside the OCP cluster and is not containerized within the cluster.

[2017-10-16 16:44] Asgoret commented on #5712
@jarrpa This error appears only with external heketi?

[2017-10-16 16:48] jarrpa commented on #5712
@Asgoret Thus far. Mind you, there has been no extensive testing done on supporting a fully external heketi/GlusterFS cluster with the openshift-ansible playbooks, so these are uncharted waters. :)

[2017-10-16 16:58] Asgoret commented on #5712
@jarrpa Well...if i can help with this - i will help :) This error surprise me. It is seemed like ansible tried to install another version heketi. So he stopped my hekety and tried to install another version but did not do that and failed.

[2017-10-16 17:06] Asgoret commented on #5712
@jarrpa hmmm...maybe i`m wrong...but why ansible tried get heketi admin secret across "oc"?
[code]
Then all task skipped, besides:
[code]
And
[code]
Then failed task:
[code]

[2017-10-16 17:23] jarrpa commented on #5712
@Asgoret .....ah, I think I'm seeing a pattern!

I don't have time to look into this deeply right now, so working off of memory...

The intended design was that you should be able to set `openshift_storage_glusterfs_is_native`, `openshift_storage_glusterfs_heketi_topology_load`, and `openshift_storage_glusterfs_heketi_admin_key` and then be able to use an external, pre-configured cluster. Can you

[2017-10-16 17:23] jarrpa commented on #5712
@Asgoret ....as I hit enter I thought of something: Set the admin key variable to `''` (empty string) if you have none configured on your external heketi.

[2017-10-16 17:32] Asgoret commented on #5712
@jarrpa Ooo...Key for less-shh can be admin-heketi key wich you need? I install heketi like says in this documentation:
https://access.redhat.com/documentation/en-us/red_hat_storage/3.1/html/administration_guide/ch06s02
Point 6.2.2

[2017-10-16 17:46] Asgoret commented on #5712
@jarrpa
UPD#2: If it matters i use user "root" now. Maybe add some check wich will test from wich user job start and skipped some task?

[2017-10-16 17:52] jarrpa commented on #5712
@Asgoret I assume you mean passwordless-ssh. ;)

And no, the heketi admin key and the ssk key are not the same. The former is just a string while the latter is a legit security mechanism. :)

What do you mean that you use root now? There should be no need for any SSH access from openshift to heketi, it's just heketi-cli calls to the API.

[2017-10-16 17:55] Asgoret commented on #5712
@jarrpa  Ok...so i need generat heketi-key, and set it in inventory in 'openshift_storage_glusterfs_heketi_admin_key'?

I mean in test i work under root user, In prod it will be some created user.

[2017-10-16 18:02] jarrpa commented on #5712
@Asgoret You don't need to generate a key. If you don't have one configured for heketi just set the variable in the inventory file to `''`.

[2017-10-17 08:36] Asgoret commented on #5712
@jarrpa
I added "openshift_storage_glusterfs_heketi_admin_key=''", but it did not help. Error on verify task. Heketi was stopped and disabled by some ansible actions...i will test today a non-repository version of heketi (from github) maybe it is solve the problem.

[2017-10-17 09:37] #1422 closed

[2017-10-17 10:12] ksemaev commented on #5750
@Asgoret thank you for advice! But how did you manage to specify which port you want to use for pvc?

[2017-10-17 12:17] jarrpa commented on #5712
@Asgoret Are you still getting `Error: Get http://10.5.135.185:8080/clusters: EOF`? What image of heketi are you using, just the default? And has it been stopped or has the pod crashed?

[2017-10-17 12:40] Asgoret commented on #5712
@jarrpa
Yes, i get `Error: Get http://10.5.135.185:8080/clusters: EOF`.
1)I use default version of heketi from epel repository (v.4.0.0).
2) Only heketi service stopped, nothing else.

[2017-10-17 13:00] jarrpa commented on #5712
@Asgoret Oh wait, heketi is not native, right... so yes, the service crashes is my guess. See if there are any logs left behind that might show what happens before the crash.

In my development I just use the `heketi/heketi:dev` container.

[2017-10-17 13:05] Asgoret commented on #5712
@jarrpa  I mean what version do you install inside container? Latest version is 5.0.0...

[2017-10-17 13:08] jarrpa commented on #5712
@Asgoret `heketi:dev` is an automatic build that follows the tip of the master branch on GitHub. So whatever the latest version of the code is. :)

[2017-10-17 13:13] Asgoret commented on #5712
@jarrpa hmm...another install failed. So...
[code]

[2017-10-17 13:14] Asgoret commented on #5712
@jarrpa  I revert VMs and try with last stable version from github

[2017-10-17 13:19] jarrpa commented on #5712
@Asgoret Before you run the install again: Try running `heketi-cli -s http://10.5.135.185:8080 --user admin  cluster list` manually and see if it succeeds?

[2017-10-17 13:20] Asgoret commented on #5712
@jarrpa Nope, I tried it...few hours ago. Service is stopped and system show 'connection refused'

[2017-10-17 13:29] jarrpa commented on #5712
@Asgoret I mean, try it after you have heketi running but before you run the install.

[2017-10-17 13:30] jarrpa commented on #5712
@Asgoret Also, if you run it again and it fails, can you provide a fuller ansible log? Probably as a gist. Just the `glusterfs` tasks would be sufficient.

[2017-10-17 13:38] Asgoret commented on #5712
@jarrpa
[code]

[2017-10-17 13:53] jarrpa commented on #5712
@Asgoret Hmm... whil ethe heketi service is running, does `heketi-cli -s http://10.5.135.185:8080 --user admin --secret '' cluster list` also succeed?

[2017-10-17 13:54] jarrpa commented on #5712
@Asgoret Also, are you running the manual `heketi-cli` commands from the first master (e.g. the machine executing the ansible)?

[2017-10-17 14:04] Asgoret commented on #5712
@jarrpa Before your last comment on master node)
I hope i found issue....heketi did't like revert. After it must be restared. And then commands work correct...I'm starting install..hope all will be fine)

[2017-10-17 14:35] Asgoret commented on #5712
@jarrpa and it's fail....do you need something before i revert VM?

[2017-10-17 14:42] jarrpa commented on #5712
@Asgoret Nope, please revert :)

[2017-10-17 15:14] smarterclayton opened #5779 "cloud-utils-growpart is not compatible with gce-disk-expand (the GCP equiv)"
openshift_node_ami_prep_packages references cloud-utils-growpart which fails when following the recommended GCP install which has gce-disk-expand.

It's likely that we need two sets of package includes for openshift_node, one for common and one that is cloud provider specific.

[code]

The GCP base images come with gce-disk-expand.

[2017-10-17 16:46] jarrpa commented on #5668
Sounds doable! Probably won't make it in for OCP 3.7, but I can put it on the list. :)

[2017-10-17 16:46] kispaljr commented on #4800
+1 here

[2017-10-17 18:49] Turbots commented on #3498
Is there any fix for this on Mac? I'm having the same issues!

[2017-10-17 23:21] apooniajjn commented on #5692
@sdodson  do you happen to have any pointer on this issue ?

[2017-10-18 08:46] Asgoret commented on #5712
@jarrpa I install latest version of heketi from github (v.5.0.0)
Server and client same version (v.5.0.0). It's not rpm install, binary was download from github release, extract and add to $PATH.
But i catch another bug in task 'Make sure heketi-client is installed'. Ansible thinks i haven't got 'heketi-cli tool'

[2017-10-18 10:48] Asgoret commented on #5712
@jarrpa
....what`s wrong with me?)))
Task error: `Wait for heketi pod`
Ansible version: ansible 2.3.2.0
Python: 2.7.5 (default, Aug  4 2017, 00:39:18) [GCC 4.8.5 20150623 (Red Hat 4.8.5-16)]
Git show: commit 0cf8cf65a89ad7cac8c1cef1f743426b610adae0
Git describe: openshift-ansible-3.7.0-0.159.0

Part of inventory:
[code]

Full log file:
[Wait_for_heketi_pod_output.txt](https://github.com/openshift/

[2017-10-18 12:12] f1gjam opened #5788 "GlusterFS just keeps failing."
#### Description

Anisble run seems to fail when creating a temp folder for gluser

Single Master (etcd on single master)
3 * App nodes (App nodes also run Gluster)

##### Version

I have tried from master and version 3.6 branch

* Your ansible version per `ansible --version`
ansible 2.3.1.0

If you're operating from a **git clone**:

* The output of `git describe`
openshift-ansible-3.7.0-0.158.0-

[2017-10-18 12:25] f1gjam commented on #5668
Not trying to hi-jack issue, however, I would like to see something similar for NFS.

[2017-10-18 12:56] jarrpa commented on #5712
@Asgoret It sounds like you're making progress, but you're not providing enough explanation so I'm having a hard time understanding what you're doing and what you're asking. :)

I thought you changed to heketi 5 and not 4? Also if heketi is native the container should be starting up the service automatically, if its not that's a container problem not an ansible problem. There are NO ansible tasks

[2017-10-18 12:59] jarrpa commented on #5668
@f1gjam If you really don't wanna hijack, open a new Issue instead. ;)

[2017-10-18 13:02] f1gjam opened #5790 "openshift NFS should be allowed to set as storageclass default"
#### Description

NFS is simple to setup and have available for a cluster. However trying to get its setup in Openshift as a default storageclass is a pain

It would be great to assign NFS to a cluster and have it be used for persistent storage etc.. This should be incorporated as part of the Ansible install

[2017-10-18 13:41] Asgoret commented on #5712
@jarrpa
I guess because I can not understand the reason for the error.

About heketi: RPM install version 4.0.0. In github release version is 5.0.0. So i download it from github and follow to instruction to install it. But heketi-cli check was failed and heketi server was stopped.

Can you check my inventory file? Maybe error is there or i use conflicting rules for deploing cloud.
[inventory.txt](

[2017-10-18 14:06] jarrpa commented on #5712
@Asgoret Why do you say you're installing RPMs when you set `openshift_storage_glusterfs_heketi_is_native=True`? This should only be True when heketi is containerized in OpenShift. If so, you should not need to do anything with heketi RPMs or binaries.

Similarly, if heketi is containerized there should be no need to install heketi-cli anywhere as it tries to use the heketi-cli binary from the hek

[2017-10-18 14:16] Asgoret commented on #5712
@jarrpa  I try to deploy with heketi in container.

`[gluster]` is nodes for persistent storage. `[gluster_registry]` is docker-registry nodes with gluster background. I understand correctly that in this configuration i need to use executor `kuberenetes` not ssh?

[2017-10-18 14:23] jarrpa commented on #5712
@Asgoret Both `[glusterfs]` and `[glusterfs_registry]` define GlusterFS clusters. Each cluster can be configured independently, though by default the registry group takes most of its values from the non-registry values. The registry group is used to define a cluster that is intended primarily to provide storage for a hosted OpenShift Container Registry. The non-registry cluster is intended primari

[2017-10-18 15:45] fraenkel opened #5795 "Calico is not installed properly when containerized"
#### Description
I am attempting to run openshift containerized with Calico. The openshift-node fails to start because multiple mounts are missing.

##### Version
3.7

##### Steps To Reproduce
1. Enable calico
2. Configure nodes to run containerized

##### Expected Results
A running cluster with calico enabled

##### Observed Results
Nodes are errors in the logs accessing cni.

##### Additional In

[2017-10-18 15:53] smarterclayton commented on #5514
It was fixed.

[2017-10-18 15:53] #5514 closed

[2017-10-18 16:12] bparees commented on #5642
@soltysh @sdodson can we get some attention on this? it's killing us on flakes+debugging flakes.

[2017-10-18 16:23] Asgoret commented on #5712
@jarrpa I openned issue at heketi repository. Seems problem in heketi.
What i Do:
1) Revert VM to base
2) Check heketi.service (active)
3)User ` heketi-cli -s http://10.5.135.185:8080 --user admin --secret '' cluster list`
4) Check heketi.service (killed)

Opened issue #882

I'm very grateful for your help! Thank you very much for your patience and help! :)

[2017-10-18 16:40] jarrpa commented on #5712
No problem! :) Let's hope we get this resolved. I'm also wondering why we're not seeing this crash elsewhere when using openshift-ansible...

[2017-10-18 18:39] sjenning opened #5802 "restart docker fails after ca trust update because docker is not installed yet"
Running at 5b838f112

[code]
This runs before the docker is installed on any non-master.

@frobware @sdodson

[2017-10-18 18:44] sdodson commented on #5802
All masters should be nodes for various networking related reasons. As a workaround just ensure your masters are also nodes.

[2017-10-18 18:44] sdodson commented on #5802
/assign abutcher michaelgugino

[2017-10-18 18:59] sdodson commented on #5802
Nevermind, I misunderstood the original report.

[2017-10-18 19:02] abutcher commented on #5802
Scott pointed out that we're probably testing with hosts that have docker installed already so this must have slipped through CI. I'm going to repro and probably check for docker before doing this restart. The handler will need to continue to restart docker for certificate redeployments but we should check first.

[2017-10-18 19:32] michaelgugino commented on #5802
I thought it was known you couldn't do an RPM-based install on a host without docker being present.  I never can.

[2017-10-18 19:33] michaelgugino commented on #5802
https://docs.openshift.org/latest/install_config/install/host_preparation.html

[2017-10-18 19:57] ilackarms opened #5803 "Openshift-Management role: httpd pod fails to start"
#### Description

After deploying manageiq pods using the `openshift-management` role, all pods start successfully except for httpd:

[code]

httpd shows no logs:
[code]

and `systemctl` commands do not work inside the container:
[code]

Failure happens as a result of failed readiness probe:
[code]

##### Version

[code]

##### Steps To Reproduce
1. Deploy fresh Openshift 3.6 cluster using openshi

[2017-10-18 20:59] pradeepnss commented on #5484
@simon3z @tbielawa I see that #5336 is merged where it looks like we added support of CFME 4.6 deployment during OCP 3.7 cluster creation but it does not perform automatic registration of OCP cluster as container provider to CFME/MIQ. What are the plans on adding deployed cluster to existing MIQ/CFME ?

[2017-10-18 21:05] tbielawa commented on #5484
@pradeepnss that support is coming in https://github.com/openshift/openshift-ansible/pull/5793

[2017-10-18 21:09] pradeepnss commented on #5484
@tbielawa Thank you

[2017-10-19 00:48] f1gjam commented on #5788
Seems to have got further, increasing masters to 3 nodes (etcd on same nodes) and having a dedicated load balancer.

The three master nodes run glusterFS instead of the app nodes

I believe the issue was to do with the labels, infra on the master node, Gluster will only be installed on nodes labelled infra and the single master did not have the extra disk etc..

So this time I am only using the ma

[2017-10-19 01:06] f1gjam commented on #5788
Error using -vvv flags

nfig", "content": null, "state": "present", "debug": false, "selector": null}}}\r\n', 'Shared connection to osmaster01.lab.unixcraft.lcl closed.\r\n')
fatal: [osmaster01.lab.unixcraft.lcl]: FAILED! => {
    "changed": false,
    "failed": true,
    "invocation": {
        "module_args": {
            "all_namespaces": null,
            "content": null,
            "debug":

[2017-10-19 07:46] bemnum commented on #5692
Hello,
I can confirm that the problem exists using OpenShift Origin v3.6 and openshift-ansible with git tag
openshift-ansible-3.6.173.0.9-1 using Amazon Web Services (AWS).
The problem exists when you have your custom host names or custom domain configured e.g. mymaster1.example.internal and so on.

The aws cloud provider works fine only when you use the hostname/domain in your ansible inventory *

[2017-10-19 13:52] ss75710541 opened #5812 "could not start DNS, unable to read config file: open /etc/origin/node/resolv.conf: no such file or directory"
#### Description

Uninstall openshift reinstall after installation

[code]

##### Version

[code]

##### ansible log

[code]

##### message log

[code]

#####  Temporary solution

1. Delete /etc/resolv.conf  includes 99-origin-dns  content

2.  Manually create /etc/origin/node/resolv.conf

[code]

##### Normal  ansible log

[code]

The origin-node starts normally

[2017-10-19 14:34] tbielawa commented on #5803
We've been discussing this on gitter this morning. https://gitter.im/ManageIQ/manageiq-pods?at=59e8aa26614889d475d4d746

[2017-10-19 16:06] soltysh commented on #5642
I'm planning to look into it more on Monday.

[2017-10-19 16:12] soltysh commented on #5642
Actually the linked PR might be fixing this problem, since my original PR was about freshly installed clusters, whereas this PR applies to cluster updates as well. I'll keep an eye and double check that on Monday.

[2017-10-19 16:13] f1gjam commented on #5788
latest error

[code]

[2017-10-19 16:30] Asgoret commented on #5712
Works are held in error https://github.com/heketi/heketi/issues/882.

[2017-10-19 19:28] pat2man opened #5824 "etcd-ca role failes while restarting masters when etcd certificates are expired"
#### Description

When both the etcd ca and etcd certs are expired, running playbooks/byo/openshift-cluster/redeploy-etcd-ca.yml failes while restarting masters since the etcd certs are expired.

##### Version

[code]

##### Steps To Reproduce
1. [Create an OpenShift cluster, wait for etcd certificates to expire]
2. [Run `ansible-playbook playbooks/byo/openshift-cluster/redeploy-etcd-ca.yml`]

###

[2017-10-20 09:36] f1gjam commented on #5788
So finally got the installation to work with the following setup

1 * Master
1 * infra
3 * App nodes

here is the inventory file:

[code]

[2017-10-20 09:36] #5788 closed

[2017-10-20 09:43] f1gjam opened #5827 "GlusterFS"
#### Description

Tried to create a persistent instance of a db it was hanging, so I then create a separate persistent volume and got the following error

[code]

##### Version

Please put the following version information in the code block
indicated below.
ansible 2.3.1.0

If you're operating from a **git clone**:

* The output of `git describe`
openshift-ansible-3.7.0-0.164.0

##### Steps To Rep

[2017-10-20 10:18] hemmop commented on #4417
This bug bit us as well today. Do you have any progress here @sdodson?

[2017-10-20 13:08] sdodson commented on #4417
/assign michaelgugino
Can you take a look at updating this IDP it's in the translate_idps function

[2017-10-20 16:26] #5824 closed

[2017-10-20 17:50] nccurry commented on #2410
Saw this same error in a recent install. Simply unmasking chronyd seemed to fix the problem. I left ntpd enabled and chronyd disabled, just unmasked.

[2017-10-20 18:00] ilackarms commented on #5803
this issue was fixed by updated oci-systemd-hook on each of my nodes

[2017-10-20 18:00] #5803 closed

[2017-10-20 19:13] #5802 closed

[2017-10-20 19:24] f1gjam commented on #5362
@jarrpa - I am happy to test any scenario you want. I have been playing around with install and so anything I can do to make it more solid I will gladly do.

[2017-10-20 20:12] jarrpa commented on #5362
@f1gjam Happy to hear! Just pick a feature you'd like to see working an open an Issue against this repo and we'll try to figure it out. :)

[2017-10-20 20:20] f1gjam commented on #5362
Well I do have my own issue :) https://github.com/openshift/openshift-ansible/issues/5827

[2017-10-20 20:25] jarrpa commented on #5827
What does your inventory file look like?

[2017-10-20 20:27] f1gjam commented on #5827
Currently it looks like this -

[code]

I have been through a few iterations, this is like my 20th install :)

[2017-10-20 20:32] ashcrow opened #5833 "Fresh install fails on Fedora: "No package docker available""
#### Description

When doing a fresh origin install on Fedora 26 using rpm packages or containers the install may fail noting:

```"msg": "No package docker available."```

However, the package does exist in Fedora, it's just being excluded via the docker excluder from the installer. I **think** this is caused when someone installs a master and node on the same host. However, I tried with a separa

[2017-10-20 20:32] ashcrow commented on #5833
/cc @ingvagabund

[2017-10-20 21:17] jarrpa commented on #5827
Can you try the following two things and see if they work?

- `curl -X http://heketi-storage-glusterfs.app.lab.unixcraft.lcl/hello` from each node and master to make sure it's accessible. If this doesn't work, try the IP address of the heketi service with port `8080`
- `oc rsh` into the heketi pod and run `heketi-cli -s http://heketi-storage-glusterfs.app.lab.unixcraft.lcl --user admin --key <ADMI

[2017-10-20 22:36] f1gjam commented on #5827
I ran this from the master node: curl -X GET http://heketi-storage-glusterfs.app.lab.unixcraft.lcl/hello
This was the output:
curl: (7) Failed connect to heketi-storage-glusterfs.app.lab.unixcraft.lcl:80; Connection refused

The second part, how do I get the admin secret? this was all done by ansible

[2017-10-20 22:51] f1gjam commented on #5827
ok found out: cat /etc/heketi/heketi.json

i tried running the command inside the heketi container and it failed. It seems like the master isn't running anything to connect to the cluster?

[2017-10-21 08:08] cmoulliard commented on #3655
I'm also getting the same error on the branch release-3.6, using openshift v3.6 on Fedora Atomic 26

[code]

[2017-10-22 09:02] jkroepke opened #5835 "Unable to create custom default storageclass"
#### Description

##### Version

Please put the following version information in the code block
indicated below.

* Your ansible version per `ansible --version`

If you're operating from a **git clone**:

* The output of `git describe`

If you're running from playbooks installed via RPM or
`atomic-openshift-utils`

* The output of `rpm -q atomic-openshift-utils openshift-ansible`

Place the output

[2017-10-23 08:52] balioune opened #5837 "device-mapper: ioctl: error adding target to table"
#### Description
Hi all,
I'm trying to install openshift v1.3.1 on centos7 using openshift-ansible.

The install finishes without any error but from the web console;  pods install are marked as pending and nodes NotReady.

Does someone have any suggestion to solve that issue ?

BR,

##### Version

* I'm using ansible 2.3.0

* openshift-ansible branch: 734b9ae199bd585d24c5131f3403345fe88fe5e6

####

[2017-10-23 10:13] msutter commented on #5362
HI, any way to make this working with 3.6 release ?

[2017-10-23 12:09] Asgoret commented on #5712
@jarrpa I try to change tactic and install heketi into cloud and catch error on deploing heketi.
Error:
[code]

Inventory file:
[code]

[2017-10-23 13:13] ksemaev opened #5842 "Undefined variables in openshift_metrics role"
#### Description
Undefined variables in openshift_metrics role in jinja template for pvc.
1) (**critical**) File _openshift-ansible\roles\openshift_metrics\templates\pvc.j2_ consists varaible _storage_class_name_;
which is defined in file _openshift-ansible\roles\openshift_metrics\tasks\install_cassandra.yaml_ for storage type **pv**, but not defined for storage type **dynamic**, which gives an er

[2017-10-23 13:37] ksemaev commented on #5294
@sdodson  any thoughts on who can help with this? Can you please contact me with those who are making role for metrics, so I could try to contribute to community

[2017-10-23 13:49] sdodson commented on #5294
/assign jcantrill

[2017-10-23 14:16] jarrpa commented on #5362
@msutter See my [previous comment](https://github.com/openshift/openshift-ansible/issues/5362#issuecomment-335213147) on the matter. :)

[2017-10-23 14:21] jarrpa commented on #5712
Not much info there. Need:
* Which cloud
* OS on the nodes
* Any heketi pod logs
* Any useful events from `oc describe` of heketi pod.

[2017-10-23 14:30] jcantrill commented on #5294
/assign @mwringe

[2017-10-23 15:53] Asgoret commented on #5712
@jarrpa

Cloud - origin
OC - CentOS 7 on all nodes
I can't find any pods. But  i find some warning on node, where heketi pod trying to deploy.
[code]

[2017-10-23 16:00] joelddiaz opened #5849 "setting password for CloudForms / ManageIQ"
#### Description

When running the full installer or just the playbook for installing CloudForms / ManageIQ, the pod comes up with default credentials. There should be a way to provide a non-default password that gets set up during installation.

##### Version
[code]

##### Steps To Reproduce
1. install CloudForms / ManageIQ: ansible-playbook -i ~/my-inventory ./git/openshift-ansible/playbooks/byo

[2017-10-23 16:14] jarrpa commented on #5712
...well, haven't seen that before. What was the output of the openshift_storage_glusterfs plays? Did the heketi DB volume get created?

[2017-10-23 16:54] Asgoret commented on #5712
@jarrpa One moment... i run install with wipe command...
In your work architecture glusterfs is external or native? If i use architecture with native glusterfs devices all work fine...

[2017-10-23 16:57] jarrpa commented on #5712
@Asgoret I've only had time to work with native GlusterFS and fully external GlusterFS (where heketi is outside the cluster). This is a use case I haven't had time to test.

[2017-10-23 17:27] Asgoret commented on #5712
@jarrpa Hmm...This part is correct?
[code]

[2017-10-23 17:33] jarrpa commented on #5712
@Asgoret Since your user is root, you don't need the sudo line. And in fact you are using the defaults for port and user so those don't need to be specified either.

I'm not sure this would explain why the heketi pod isn't coming up, though. I need to know if a deploy-heketi pod and a heketidbvolume volume were successfully created.

[2017-10-23 18:05] debianmaster commented on #5130
same issue in 3.7 alpha.

[2017-10-23 18:11] debianmaster commented on #5130
I could make playbook run  by removing `openshift_hostname`  check at this location
/usr/share/ansible/openshift-ansible/playbooks/common/openshift-cluster/std_include.yml

[2017-10-23 18:45] ashcrow commented on #5833
Since a number of things merged since Friday I'm trying again with HEAD as be7d536260d562e3fff6d6ebf762f6bc2e4e9879

[2017-10-23 18:52] ashcrow commented on #5833
Still fails:

[code]

On the host that failed (which is the node):

[code]

[2017-10-24 00:36] tbielawa commented on #5849
We have no way to control this through the installer currently. We have
raised this issue recently with that team in a meeting.

This should be directed to the github manageiq/manageiq-pods project.

On Oct 23, 2017 12:00 PM, "Joel Diaz" <notifications@github.com> wrote:

Description

When running the full installer or just the playbook for installing
CloudForms / ManageIQ, the pod comes up with d

[2017-10-24 09:37] ksemaev commented on #5842
@sdodson can you please connect me with developers of this openshift_metrics role, so we can discuss how to fix it?

[2017-10-24 09:39] #5642 closed

[2017-10-24 10:57] Asgoret commented on #5712
@jarrpa
[code]
And from gluster storage node:
[code]
Does workers need less-ssh to glusterfs nodes?

[2017-10-24 12:06] ashcrow commented on #5833
I'll run one more time and post the log. We need to get this fixed today.

[2017-10-24 12:17] 3r1co commented on #5349
Is there any update on this issue? I tried to run the playbook from tag openshift-ansible-3.6.173.0.58-1.
When I create the resolv.conf manually before installation it works without problems, could someone tell if I can use this cluster now or if there will be any consequences?
I checked [here](https://docs.openshift.org/latest/install_config/install/prerequisites.html#prereq-dns) where the follow

[2017-10-24 13:54] sdodson commented on #5842
/assign jcantrill

[2017-10-24 16:00] ashcrow commented on #5833
It works fine on RHEL. It looks like Fedora 26+ doesn't have a version of the docker package old enough to not be blacklisted by the excluder. @ingvagabund is checking as well.

[2017-10-24 16:20] ingvagabund commented on #5833
The f26 repos no longer provides docker-1.12. The lower NVR in the repos is docker-1.13 which is excluded from the installation as the docker-excluder is on.

[2017-10-24 16:22] ashcrow commented on #5833
I guess we need to do one of the following:

- Provide docker-1.12 to Fedora
- Allow the use of docker-1.13
- Only allow system containers for Fedora

[2017-10-24 16:22] ashcrow commented on #5833
@sdodson PTAL

[2017-10-24 16:26] djdevin opened #5862 "Deploying EFS provisioner from docs results in "skipping: no hosts matched""
#### Description

Trying to deploy the EFS provisioner, from the documentation at

https://docs.openshift.com/container-platform/3.6/install_config/provisioners.html#deploying-the-aws-efs-provisioner

This is a working 3.6 cluster, we use EFS for storage but it's mounted directly to pods via the DC so I know the mount points/SGs are correct.

##### Version

openshift-ansible-3.7.0-0.177.0-6-g1ddd8

[2017-10-24 16:54] sdodson commented on #5833
Remove origin-*excluder set openshift_enable_excluders=false in your inventory and try again?

[2017-10-24 16:56] sdodson commented on #5833
We need to remove docker-1.13 from the excluders, can you open a pr for that? https://github.com/openshift/origin/blob/master/origin.spec#L407

[2017-10-24 17:25] ashcrow commented on #5833
Will do.

[2017-10-24 18:33] ashcrow commented on #5833
@sdodson https://github.com/openshift/origin/pull/17026

[2017-10-24 18:35] ashcrow commented on #5833
Trying with ```openshift_enable_excluders=false``` on fresh VMs.

[2017-10-24 18:46] ashcrow commented on #5833
Yup that worked.

[2017-10-24 19:26] tmtw1 commented on #5177
so what is the workaround for this issue?
We have custom cert with many sub alt names.
when we switch from openshift signer ca to our custom cert we have same error.
is adding docker-registry.default.svc to our custom cert the best workaround?

[2017-10-24 19:28] mtoddw commented on #5177
so what is the workaround for this issue?
We have custom cert with many sub alt names.
when we switch from openshift signer ca to our custom cert we have same error.
is adding docker-registry.default.svc to our custom cert the best workaround?

[2017-10-24 19:42] fraenkel opened #5866 "Restart origin-master-api failed during a restart (wire-aggregation)"
#### Description
We are deploying 3.7.0-alpha.1 containerized

Running the byo playbook, we received an error:

[code]

What we see in the journalctl is:
[code]

It does successfully start but ansible failed on the first restart attempt.

[2017-10-25 01:53] dmsimard commented on #5812
I am also seeing this issue, see full Ansible run here:

https://logs.rdoproject.org/59/10259/3/check/rdo-registry-integration/Zecce4a275f1347aab39ae5b022f86631/ara/

This [task](https://logs.rdoproject.org/59/10259/3/check/rdo-registry-integration/Zecce4a275f1347aab39ae5b022f86631/ara/file/e0ef1b3c-7bcf-4844-9bc6-10335645a159/#line-24) fails to restart origin node [here](https://logs.rdoproject.o

[2017-10-25 03:23] dmsimard commented on #5812
Bringing back the discussion from the [pull request](https://github.com/openshift/openshift-ansible/pull/5868#issuecomment-339191202), I've investigated the issue a little bit.

Those are the suspicious things I found and I hope someone more knowledgeable than I can shed some light:
- I'm not sure what ``openshift_node_bootstrap`` is about but it seems it might inhibit NetworkManager from restarti

[2017-10-25 08:47] ksemaev commented on #5750
Running from master branch fixes the problem at the moment. We need to find out what to commit to release-3.6 and define strict rules on how the branches should be used

[2017-10-25 08:52] hqh546020152 commented on #4110
I also encountered the same problem, have a solution?

[2017-10-25 08:59] akdj commented on #4110
@hqh546020152
Try to sync time clock with ntp

[2017-10-25 09:07] hqh546020152 commented on #4110
![1](https://user-images.githubusercontent.com/33022391/31990197-fd70440e-b9a6-11e7-8c22-e1561d02b8fb.png)
![2](https://user-images.githubusercontent.com/33022391/31990199-fda02f2a-b9a6-11e7-9075-b6d7e5dae2e2.png)

[2017-10-25 09:08] hqh546020152 commented on #4110
Time has been synchronization

[2017-10-25 11:36] akdj commented on #4110
did you precise the path of the hosts file of ansible? @hqh546020152
for my issue, it is because I forget this path,  and I noticed that these messages appear also when the machines's time clocks are synchronized.

I haven't notice other cases for this issue, sorry

[2017-10-25 13:01] jcantrill commented on #5842
@mwringe Are you familiar with these variables?

[2017-10-25 13:49] pweil- commented on #4627
tracking upstream: https://trello.com/c/g2FOzhDl

[2017-10-25 13:49] #4627 closed

[2017-10-25 13:49] pweil- commented on #4625
tracking upstream: https://trello.com/c/g2FOzhDl

[2017-10-25 13:49] #4625 closed

[2017-10-25 14:18] mjudeikis opened #5876 "TimeZone sync across the containers"
As a platform administrator, I want all my openshift containers (and platform nodes) to pick up my Hosts timezone (same as fluentd is already doing it). So all logs (hosts, containers, external apps) would be in a same organizational timezone.

Currently, we cant do this directly by mounting `/etc/localtime` to container. But it requires privileged containers.

**Suggested solution:**
1. Create cu

[2017-10-25 14:19] mjudeikis commented on #5876
@jorgemoralespou I think you had something similar with Origin container?

[2017-10-25 15:21] joelddiaz commented on #5849
opened manageiq/manageiq-pods#237

[2017-10-25 15:22] tbielawa commented on #5849
@joelddiaz Thanks!

[2017-10-25 15:22] #5849 closed

[2017-10-25 15:23] djdevin opened #5881 "AWS EFS provisioner PV and PVC not cleaned up"
#### Description

From https://docs.openshift.com/container-platform/latest/install_config/provisioners.html#provisioners-cleanup

The cleanup does not remove the PV and PVC deployed by the provisioner deployment, so changing settings like the EFS path has no effect.

The doc says it will remove everything so it took me a while to figure out that when I reinstalled the EFS provisioner, there was a

[2017-10-25 16:07] djdevin commented on #5862
Just for testing I added an `[oo_first_master]` host group with my 1 master host and this worked. After applying #5281 the dynamic provisioning worked as well.

[2017-10-25 16:16] jarrpa commented on #5712
Sorry for the delay, yesterday was rather busy. Looks like the "ImageGCFailed" warning is benign, so is not itself indicative of any underlying problem.

Overall, I'm not sure moving heketi to openshift will solve your problem. Continue with heketi outside of OpenShift for now if you can. If indeed this is a security related issue I'd say you should first verify if all your GlusterFS nodes meet th

[2017-10-25 17:08] mtnbikenc commented on #5675
@sosiouxme Let me know if the changes in that PR address your concerns.

[2017-10-25 18:20] speedfl opened #5886 "Scale: 'dict object' has no attribute 'oo_first_master'"
#### Description

[code]

##### Version
[code]

##### Steps To Reproduce
1. Simple deployment:

[code]

2. Follow procedure:
https://docs.openshift.com/container-platform/3.3/install_config/adding_hosts_to_existing_cluster.html

[code]

##### Expected Results
Successfully added the node3

##### Observed Results

[code]

For long output or logs, consider using a [gist](https://gist.github.com/)

##

[2017-10-25 20:27] abutcher commented on #5886
Looks like the scale up inventory is missing the `masters` group? We'll need to run a few tasks on the master such as to generate certificates for the new node so we'll need a `masters` group.

Here's the first inventory with an added `new_nodes` host group.

[code]

[2017-10-25 21:01] #5833 closed

[2017-10-25 23:39] ghyde opened #5892 "oc_volume crashes when module_type is missing"
#### Description

The Ansible module [`oc_volume`](https://github.com/openshift/openshift-ansible/blob/305e4897dd6591ee8055414f80e43275696558d2/roles/lib_openshift/library/oc_volume.py) crashes when the parameter `module_type` is not provided.

##### Version

[code]
Also applies to `openshift-ansible-3.7.0-0.178.0-16-g305e4897d`.

##### Steps To Reproduce

Run a playbook with the following task:

[2017-10-25 23:41] jerrypeng opened #5893 "Getting Error: AnsibleUndefinedVariable: 'dict object' has no attribute 'etcd_hostname'"
#### Description

So when I follow the instructions and run the ansible playbook to setup the cluster I get an error:

'AnsibleUndefinedVariable: 'dict object' has no attribute 'etcd_hostname'

I saw this was a bug in the past, but i thought it was resolved.

This is the command I ran:

ansible-playbook -i /usr/share/ansible/openshift-ansible/inventory/inventory.yml /usr/share/ansible/openshift-an

[2017-10-25 23:45] jerrypeng commented on #5893
My inventory file:

# Create an OSEv3 group that contains the masters and nodes groups
[OSEv3:children]
masters
nodes
etcd
#lb
#nfs

# Set variables common for all OSEv3 hosts
[OSEv3:vars]
# Enable unsupported configurations, things that will yield a partially
# functioning cluster but would not be supported for production use
#openshift_enable_unsupported_configurations=false

# SSH user, this us

[2017-10-25 23:47] jerrypeng commented on #5893
my Inventory file:

    # Create an OSEv3 group that contains the masters and nodes groups
    [OSEv3:children]
    masters
    nodes
    etcd
    #lb
    #nfs

    # Set variables common for all OSEv3 hosts
    [OSEv3:vars]
    # Enable unsupported configurations, things that will yield a partially
    # functioning cluster but would not be supported for production use
    #openshift_enable_unsup

[2017-10-26 00:40] ghyde commented on #5892
This [code](https://github.com/openshift/openshift-ansible/blob/305e4897dd6591ee8055414f80e43275696558d2/roles/lib_openshift/src/lib/volume.py#L20) also affects the module [oc_adm_registry](https://github.com/openshift/openshift-ansible/blob/305e4897dd6591ee8055414f80e43275696558d2/roles/lib_openshift/library/oc_adm_registry.py#L2191).

[2017-10-26 07:25] speedfl commented on #5886
Thanks a lot. I will try this evening and let you know
I think I did not understand the tutorial. In fact from what I can see in your answer I just need to update my previous file with ```new_nodes```

Regards

[2017-10-26 08:42] mjudeikis commented on #5468
@jarrpa,
There is one more thing which bugs me on this :)
If you rerun glusterfs role it always restarts glusterfs pods

Idea would be to add some logic to prevent pods to be restarted if we have replica 3 deployed already and in running state. Would this be sufficient? We would still need to sort out lifecycle of this.

Main part where issue starts is here:
https://github.com/openshift/openshift-

[2017-10-26 12:58] jarrpa commented on #5468
@mjudeikis Agreed on all points! I've already been planning for that, it's just a matter of time. Those are for other Issues and PRs, both of which I'll happily receive. :)

[2017-10-26 13:08] Asgoret commented on #5712
@jarrpa
I will continue with external heketi service. And i have some new information and few new errors.
1) Heketi.service killed if it is started by systemd. If i start it manual service worked fine.
2) Error at deployng docker registry with external glusterfs storage and external glusterfs registry storage.

More information:
1) Don`t work at this error. Deadline is near)
2) If i read describe

[2017-10-26 14:17] jarrpa commented on #5712
I'm guessing this is because you didn't set a `heketi_url` for the registry cluster, so it defaulted to the URL of the non-registry cluster.

[2017-10-26 14:37] Asgoret commented on #5712
@jarrpa  END WITHOUT ERRORS!!!! Sorry for caps)))
Ok.
What i do:
1)Add iptables rule:
[code]
and Inventory file was edit:
[code]

[2017-10-26 14:40] Asgoret commented on #5788
@f1gjam If understand correct, you have same architecture like mine.  In my case works to delete `openshift_hosted_registry_storage_kind=glusterfs`. Maybe it would help in you case.
My inventory file:
[code]

[2017-10-26 14:44] Asgoret commented on #5712
@jarrpa
I delete `openshift_hosted_registry_storage_kind=glusterfs` and all ends without errors. How i must set `heketi_url` for `docker-registry`? I can't find this option in roles. I will try to sole problem with dead `heketi.service`.

[2017-10-26 14:46] jarrpa commented on #5712
...goodness! :) You shouldn't need that much open on your firewall, at least not for GlusterFS. [This](https://github.com/gluster/gluster-kubernetes/blob/master/deploy/gk-deploy#L527-L533) is all you need, and these should be being taken care of by openshift-ansible...

You need to set `openshift_storage_glusterfs_registry_heketi_url` to point to the heketi instance that manages your `gluster_regi

[2017-10-26 14:49] Asgoret commented on #5712
@jarrpa  So this part would be show like this:
[code]
But i have only one heketi. I mean can we change this part `openshift_hosted_registry_storage_kind=glusterfs` to `openshift_hosted_registry_storage_kind=glusterfs_registry`?

[2017-10-26 14:54] Asgoret commented on #5712
@jarrpa  Hmmm...maybe this is the solve of heketi.service issue. I mean two opposite clusters on one managet killed him.

[2017-10-26 15:00] jarrpa commented on #5712
@Asgoret You'd have to set them to use different config files, listen on different ports, and use different directories for storing their DB. :) systemd heketi would not support this.

[2017-10-26 15:03] Asgoret commented on #5712
@jarrpa You mean configure to different heketi services?
`openshift_storage_glusterfs_registry_heketi_url` support ports?

[2017-10-26 16:09] Asgoret commented on #5750
@ksemaev  I don't manage glusterfs ports at this moment and probably i don't need change something from default values in the future. GlusterFS is managed by heketi service and his ports i can manage in his conf file.

[2017-10-26 16:39] ksemaev commented on #5750
moved to https://github.com/openshift/openshift-ansible/issues/5842

[2017-10-26 16:39] #5750 closed

[2017-10-26 16:50] bbrouwer commented on #5038
I am trying to do the exact same thing. Did you ever find a workaround, or do I just need to configure each master post-installation?

[2017-10-26 17:05] abutcher commented on #5038
@bbrouwer Did you encounter the same problem with only one provider being configured in the master config?

[2017-10-26 17:14] speedfl commented on #5886
This solved my problem you can close this issue :)

Thanks a lot

[2017-10-26 17:18] #5886 closed

[2017-10-26 18:25] jarrpa commented on #5712
@Asgoret There's an `openshift_storage_glusterfs_registry_heketi_port` variable. Please read [the README](https://github.com/openshift/openshift-ansible/tree/master/roles/openshift_storage_glusterfs). :)

What do you mean you can create to different services?

I can't help you with configuring the registry, you'll have to read or figure that out elsewhere, sorry. :(

[2017-10-26 18:27] f1gjam commented on #5788
@Asgoret - thanks for this, and you are correct, using

[code]
with GlusterFS just causes too much pain. I think it would be better to use NFS.

I am currently working on getting a fully persistent setup running on vSphere

[2017-10-26 18:41] abutcher commented on #5038
Multiple identity providers is working in my testing with `master` (`openshift-ansible-3.7.0-0.166.0-96-g8c85dd660`) and `release-1.5` (`openshift-ansible-3.5.135-1-6-g6da4bbd70`) branches.

[code]

[2017-10-26 19:39] slaterx commented on #5038
@abutcher configuring only one provider - LDAP or htpasswd - works fine.

Declaring both in the fact (as the example in the first post) makes only the first one in the list to be deployed. I haven't tested with master and release-3.6. I will give it a go and let you guys know.

[2017-10-26 19:42] abutcher commented on #5038
@slaterx Roger that. I copy pasted the `openshift_master_identity_providers` from the OP so I think it may be working.

[2017-10-26 19:49] michaelgugino opened #5902 "Enable enviornment vars on all plays."
Enable enviornment vars on all plays.  This will allow users to specify proxies, etc.

[2017-10-26 22:13] mhutter commented on #5497
@ewolinetz will there be an updated tagged image? I'm not happy about running `latest` in production :(

[2017-10-26 22:28] slaterx commented on #5038
@abutcher I can confirm it is still reproducible on release-1.5 and not reproducible on release-3.6, using master.

I will update my openshift cluster to 3.6.

Thanks!

[2017-10-26 22:46] apooniajjn commented on #5692
One of my Colleague spent some time into this issue ...he suggested to create A record on Route53 as ip-X-X-X-X.local.domain and assign masters and nodes IP accordingly to each A record...In my setup, I am using ELB in-front of each masters so create a classic loadbalancer listening on port 8443 of each masters.

I made three changes to make it work on my current setup even though I can't use prop

[2017-10-27 08:22] Asgoret commented on #5712
@jarrpa I mean i cant create `hekete.service` with default port `8080` and `heketi-registry.sevice` with port `8081`. They will be use different configuration files, with different work directories.

And one question about values.
I understand correct that `glusterfs` in `openshift_storage_glusterfs_heketi_url` is indicating to `[glusterfs]` group?

[2017-10-27 08:34] Asgoret commented on #5712
@jarrpa  Well i create cluster. If you have time i can create another VM for testing and finding bugs in external glusterfs\external heketi arxhitecture.

*Information about bugs*
1) GlusterFS ports doesn't openned by ansible. For example port 24007
From log of installing:
[code]
And iptables from openshift-gluster1
[code]

2) Heketi service failed at task `TASK [openshift_storage_glusterfs : Veri

[2017-10-27 12:55] ss75710541 opened #5909 "After the latest version of openshift_ansible is installed online, you can't use the web login by default?"
#### Description

Unable to login  the web console after installation

Display API list

Not automatically jump to the console page

Manual access to page login prompts no permissions

page :
[code]

error:

[code]

##### Version

[code]

[code]

ansible hosts

[code]

install command

[code]

Ansible shows normal

[2017-10-27 14:27] jarrpa commented on #5712
@Asgoret THIS IS GREAT NEWS! :D I'm glad we at least managed to get SOMETHING working, even if not entirely ideal. ;)

Yes, please close this issue. I'll be happy to help with your two other issues, just @ me in them so I get a notification.

I'd love to see documentation for your setup. I'd say, when you get around to it, start an Issue about it and provide a link to a gist or something of your i

[2017-10-27 14:29] #5675 closed

[2017-10-27 14:51] ewolinetz commented on #5497
@mhutter yes, there will be. you will not be expected to run with the `latest` tag in production.

[2017-10-27 15:05] Asgoret commented on #5712
Issue clossed. Read my previous comment for more information.

[2017-10-27 15:05] #5712 closed

[2017-10-27 15:58] dmsimard commented on #5812
I found the problem with @jfchevrette (Thanks JF!).

The issue is that our environment configures eth0 in ``/etc/sysconfig/network-scripts/ifcfg-eth0`` to explicitely not use NetworkManager for that interface:
[code]

This means that the interface is not controlled by NetworkManager and therefore restarting NetworkManager does not bring that interface up and the dispatcher script does not run for

[2017-10-27 18:55] abisek9186 opened #5918 "Strange YAML syntax issue with openshift inventory file"
[code]

My inventory file is below

[code]

[2017-10-27 19:09] abutcher commented on #5918
@abisek9186 Looks like a missing `[OSEv3:vars]` tag above variables.

https://github.com/openshift/openshift-ansible/blob/master/inventory/byo/hosts.example#L12

[2017-10-27 19:25] abutcher commented on #5909
When `deployment_subtype=registry` (standalone registry) we disable `['Builder', 'S2IBuilder', 'WebConsole']` features in the master config. You could either set `osm_disabled_features=[]` in your inventory to no longer disable them or just edit the master config and restart services.

[2017-10-27 19:44] lucastheisen commented on #5517
I am also getting the _No package matching 'origin-clients' found available_ message:
[code]
This occurred today after pulling in the latest changes from master.  I am unclear as to why there is a role to exclude `origin-clients` (openshift_excluder), followed by a role to install them (openshift_cli).  This doesn't seem to make much sense...

[2017-10-28 02:00] abisek9186 commented on #5918
[k5user@master1 openshift-ansible]$  ansible-playbook /etc/ansible/inventory_to_install_openshift_logging playbooks/byo/openshift-cluster/openshift-logging.yml
ERROR! Syntax Error while loading YAML.

The error appears to have been in '/etc/ansible/inventory_to_install_openshift_logging': line 4, column 7, but may
be elsewhere in the file depending on the exact syntax problem.

The offending line

[2017-10-28 18:32] dmsimard commented on #5812
Interestingly enough, I found this playbook that seems to ensure that NM_CONTROLLED is set to yes: https://github.com/openshift/openshift-ansible/blob/a974791553efd8f2080cc6735c0c5ba9e5bfe941/playbooks/common/openshift-node/network_manager.yml

That playbook is included by: https://github.com/openshift/openshift-ansible/blob/298f1aafc42e5c34938e1071353d103ad8964725/playbooks/byo/openshift-node/net

[2017-10-28 18:52] lucastheisen commented on #5076
I am running into this as well.  I just updated some other config, and re-ran {{playbooks/byo/config.yml}} (still on version 3.6).  But now, the playbook gets to the point where it verifies the master api, and fails:

[code]

[2017-10-29 18:17] abisek9186 commented on #5918
Oh..gosh..my bad.
I was missing -i in ansible-playbook command.

[2017-10-29 18:17] #5918 closed

[2017-10-30 00:17] f1gjam commented on #5827
@jarrpa - sorry for not following up on this, I was away on holiday. However I rebuilt the entire setup again from scratch with a recent pull of the master (openshift-ansible-3.7.0-0.186.0) - Everything builds fine, however I still cannot get gluster to work.

Still getting the following error:

Failed to provision volume with StorageClass "glusterfs-storage": glusterfs: create volume err: error c

[2017-10-30 03:28] ss75710541 commented on #5909
@abutcher Thank you for your reply.  Is there any other option for deployment_subtype?

[2017-10-30 08:20] priyanka5 opened #5925 "elasticsearch external route query"
#### Description

Hi,  I have created a external route for my elasticsearch cluster using re encrypt route after providing the "admin-ca.crt" received from logging-elasticsearch secret as destination cert.

Now I want to use this route to query elastic search cluster. I know this can be done using username and authentication token, I have used cluster admin user for this, still if I try any PUT or

[2017-10-30 10:04] Asgoret commented on #5788
@f1gjam Why to much pain? You need only install glusterfs package and define device in openshift-ansible inventory.

[2017-10-30 11:55] SaravanaStorageNetwork opened #5926 "uninstall playbook for CNS(glusterfs) setup"
#### Description

To provide a uninstall playbook for dismantling CNS(glusterfs) setup.
It should bring down gluster, heketi pods and wipe off the storage devices.

[2017-10-30 11:57] ksemaev opened #5927 "Variable for not deploying registry"
Looked through manual, the repo and other code. Can't find any variable that will skip deploying the registry with advanced install method. Is there any variable for it?

[2017-10-30 12:02] ss75710541 commented on #5909
Add configuration reinstallation errors

[code]

[code]

[2017-10-30 12:25] jarrpa commented on #5827
@f1gjam Sorry for not responding the first time!

Find out the IP address of the heketi service, then re-run the `heketi-cli` command from the heketi pod using `http://<IP_ADDR>:8080` as the server address. Then also try `curl -X http://<IP_ADDR>:8080/hello` from the master node.

[2017-10-30 12:53] zonArt opened #5928 "Issue when trying to upgrade from origin 1.5 to 3.6"
#### Description

etcd package not available on my distribution (Centos 7.3) making the whole upgrade fail with this message:
`No package matching 'etcd-3.1*' found available, installed or updated`

I'm wondering why you absolutely want to update etcd when passing from 1.5 to 3.6 and how to avoid it if not wished ?

I don't really understand why this:

https://github.com/openshift/openshift-ansibl

[2017-10-30 13:26] #5108 closed

[2017-10-30 14:40] cello86 opened #5931 "Issue redeploy master certs Origin 3.6"
#### Description
We tried to update the master certificates with the ansible script "/playbooks/byo/openshift-cluster/redeploy-master-certificates.yml" but we received this error:

[code]

The full stack trace during the playbook execution is reported below:

[code]

##### Version

[code]
##### Steps To Reproduce
1. We create new master certificate from a custom installation and we'll configure th

[2017-10-30 14:55] f1gjam commented on #5827
this works from master node:

[code]

[2017-10-30 14:58] jarrpa commented on #5827
Try using that IP in the StorageClass and see if you can provision. If so, something is wrong with your DNS.

[2017-10-30 15:09] bbrouwer commented on #5038
We got this working correctly with 3.6.

When we changed the `openshift_master_identity_providers` string. We had configured the masters by hand and got it working. Then we exported that yaml, converted to JSON and tried to set that as the value. That didn't work. Once we modified it to look more like the original example, we got it to work.

[2017-10-30 15:36] f1gjam commented on #5827
@jarrpa

How do I update an existing storage class? It was all done via the installation (ansible).

Also in regards to DNS, I have the external DNS pointing to the master node with a *.apps.lab.unixcraft.lcl

All the hosts have their own records but the heketi pod is inside the cluster doesn’t that have its dns resolved internally by openshift?

[2017-10-30 15:46] jarrpa commented on #5827
@f1gjam I'm not completely certain. I think something like `oc edit storageclass <CLASS>` should do it? Otherwise modifying a YAML file of the StorageClass and then doing `oc apply -f <FILE>` should also work. You can also go the `oc patch` route like you showed at the beginning of this Issue. Note that you'll want to do `<IP>:8080`.

I'm unfortunately not intimately familiar with how DNS works in

[2017-10-30 16:11] f1gjam commented on #5827
@jarrpa

Its all working now. I did NOT update the storage class. You were right about the DNS. the issue I had was I was pointing *.app.lab.unixcraft.lcl to master node (192.168.10.52) - where as I should have changed it to point to the infra node 192.168.10.92.

In my testing of different combination of nodes etc.. I didn't realize that services run on infra node if it exist etc...

I will close

[2017-10-30 16:11] #5827 closed

[2017-10-30 18:15] dustymabe commented on #5118
ok so I can confirm it seems like an issue with the version of gluster on the system. I got this working fine with fedora 27 atomic host where fedora 26 atomic host was having the `glusterfs: mount failed: exit status 1 the following error information was pulled from the glusterfs log to help diagnose this issue: glusterfs: could not open log file for pod` issues.

Not working f26 versions:
[code]

[2017-10-30 18:22] dustymabe opened #5935 "dnsmasq not bound to public address - service starts too soon"
#### Description

On a simple 3 node cluster I end up with a system that doesn't have dns resolution after a reboot. This is because dnsmasq starts early enough where the system doesn't even have an IP on its external facing interfaces yet. In the past openshift-ansible would actually place `listen-address=x.x.x.x` into `/etc/dnsmasq.d/origin-dns.conf` so dnsmasq would fail to even start because i

[2017-10-30 18:31] sdodson commented on #5935
/assign michaelgugino
I think we regressed this in #5891

[2017-10-30 18:41] dustymabe commented on #5935
yeah. so to be clear I think we still had a problem before #5891 because I was also seeing issues there where dnsmasq wouldn't start cleanly because it was trying to bind to an address that didn't yet exist. The good thing about that is that i could clearly see dnsmasq didn't start clean and restart it once the interface was up.

we still need to solve the issue of: ***dnsmasq starts too early bef

[2017-10-30 18:42] dustymabe commented on #5935
Note there is a related bug on dnsmasq in Fedora: https://bugzilla.redhat.com/show_bug.cgi?id=1502081

[2017-10-30 19:29] abutcher commented on #5931
Hey @cello86, what is set for `openshift_master_named_certificates` within the inventory?

[2017-10-30 19:41] jarrpa commented on #5118
Hmm... same thing on CentOS but it was on 3.8 versions... ugh. All right, well, this thread has gotten long enough and the OP has gone missing. :) If you want to pursue this further please open a new Issue. This should probably be or end up being a [GlusterFS](https://github.com/gluster/glusterfs) issue or a [gluster-containers](https://github.com/gluster/gluster-containers) issue.

[2017-10-30 19:41] #5118 closed

[2017-10-30 19:41] michaelgugino commented on #5935
This looks like a simple enough fix: https://bugs.launchpad.net/ubuntu/+source/dnsmasq/+bug/1531184

Just need to add the following to the service unit:
[code]

[2017-10-30 19:42] abutcher commented on #5909
The default value for `deployment_subtype` is `"basic"` when the fact is unset.

Could you take a look in `/etc/ansible/facts.d/openshift.fact` on `master.dataman.com` and tell me what value if any is set for `{"openshift": {"hosted": {"logging": {"selector": "value"}}}}` or one of the other facts identified in that module failure.

[2017-10-30 19:48] abutcher commented on #5517
The `openshift_excluder` role should be removing excludes prior to installing packages and then re-excluding. Tasks ran by that role are dependent on an `r_openshift_excluder_action` fact which could be set to `enable` or `disable`.

[2017-10-30 19:52] abutcher commented on #5893
Looks like the playbooks should be able to continue by setting `openshift_disable_check=docker_storage` in the inventory. The health check role is failing since docker is using loopback storage.

[2017-10-30 19:59] dustymabe commented on #5935
i know @sdodson tried something similar on my machine, didn't seem to work. @michaelgugino it would be good if you could try to recreate the problem and verify it works.

[2017-10-30 20:41] michaelgugino commented on #5935
@dustymabe I will try do to do that.  Are the interfaces in question being configured via dhcp + NetworkManager?

[2017-10-30 20:44] dustymabe commented on #5935
In AWS, yes. I have a system in digital ocean that uses static networking config with NetworkManager that is also showing the problem so I don't think it is specific to DHCP vs no DHCP.

[2017-10-31 09:28] adelton commented on #5517
@abutcher, thank you for the analysis.

I'm pasting the whole `ansible-playbook` output -- would you be able to figure out where the enable/disable breaks down?

[code]

[2017-10-31 10:10] chinacoolhacker opened #5941 "Unable to start origin-master-api during installation of v1.5"
#### Unable to start origin-master-api during installation of  v1.5

[code]
My generated /etc/origin/master/master-config.yaml contains:
[code]

but `apis/settings.k8s.io/v1alpha1=false` looks unavailable at v1.5

[code]

##### Version
ansible --version

[code]

##### Steps To Reproduce
1. Try to install v1.5 OpenShift with openshift-ansible-3.7.0-0.188.0 release

##### Expected Results
OpenShift

[2017-10-31 12:49] dustymabe commented on #5935
please also see dnsmasq maintainers suggestion: https://bugzilla.redhat.com/show_bug.cgi?id=1502081#c3

unfortunately I think 'bind-dynamic' is a relatively new option so you might not be able to use it everywhere.

[2017-10-31 12:52] ss75710541 opened #5943 "failed to open logfile /var/log/glusterfs/tmp-openshift-glusterfs-registry-xFeH0r.log"
#### Description

After unloading the reload, the registry mount error is prompted, but registry status is normal

[code]

[code]

##### Version

[code]

[code]

ansible hosts

[code]

##### Additional Information
[code]

[2017-10-31 13:33] mostafaelsayyad commented on #1431
Solution worked for me when I realized that the machine(cent os) date time was not correct.
So, I corrected it and worked fine

[2017-10-31 13:51] gbaufake opened #5944 "Tuned Profiles Atomic Openshift Node is not being removed by uninstall playbook"
#### Description

I tried to install openshift 3.7, but because of https://github.com/openshift/origin/issues/17047, I  switched back to openshift 3.6. In order to remove the 3.7 packages, I used

`ansible-playbook -i ose37.inventory openshift-ansible/playbooks/adhoc/uninstall.yml. `

After that, I changed the version to openshift 3.6 and reinstalled the using byo playbook

`ansible-playbook -i os

[2017-10-31 15:17] wozniakjan commented on #5497
@mhutter you can now use v3.6.1 https://hub.docker.com/r/openshift/origin-logging-elasticsearch/tags/

[2017-10-31 15:22] michaelgugino opened #5947 "logging_ops variables need to be removed"
https://github.com/openshift/openshift-ansible/blame/master/roles/openshift_logging/README.md#L102

There is a lot of duplication of logic, and confusing to trace variables through these roles and tasks.

A better way to approach this is to add a file in the logging role(s) like var/ops.yml, and conditionally include that as a first task in the roles.  The variables in those files should be the sa

[2017-10-31 16:20] oybed opened #5950 "Port 1936 not opened in iptables for default router"
#### Description

Provide a brief description of your issue here. For example:

The default OpenShift router exposes port 1936 for statistics, but there's no way to automatically open the port in the firewall/iptables. Would be good to have an inventory option to allow for this port to be opened as part of `openshift-ansible`.

##### Version

Please put the following version information in the cod

[2017-10-31 16:21] oybed commented on #5950
BTW: there's also a documentation issue open related to this:
https://github.com/openshift/openshift-docs/issues/6054

[2017-10-31 17:19] tbielawa commented on #4555
This is fixed up in the new OCP 3.7 release. Please re-open if there is more you need to discuss.

[2017-10-31 17:20] tbielawa commented on #4556
Should also be resolved in the OCP 3.7 release fixes we made for this.

[2017-10-31 17:20] #4556 closed

[2017-10-31 17:21] tbielawa commented on #5484
Support for this feature has been merged in https://github.com/openshift/openshift-ansible/pull/5793 . Check out the `openshift_management` role README for instructions on adding OCP clusters as container providers.

[2017-10-31 17:21] #5484 closed

[2017-10-31 18:29] djdevin commented on #4163
I updated that line to `json.loads(out.decode())` but then I still get this:

[code]

ansible 2.4.0.0
python 2.7.5 (on bastion)
fedora 26 atomic (python 3 on those hosts)

[2017-10-31 18:30] michaelgugino commented on #5812
@dmsimard I think that code is dead, we don't use it as far as I know.

We have a fix out for this, which should work for everyone: https://github.com/openshift/openshift-ansible/pull/5953

[2017-10-31 18:46] cwilkers opened #5954 "Containerized load balancer does not publish additional ports properly"
#### Description

A load balancer set up with `openshift_loadbalancer_additional_frontends` and `openshift_loadbalancer_additional_backends` fails to publish those additional frontends when running containerized.

The additional `-p` parameters should be added to the [systemd template](https://github.com/openshift/openshift-ansible/blob/master/roles/openshift_loadbalancer/templates/haproxy.docker.

[2017-10-31 18:48] dmsimard commented on #5812
@michaelgugino as per discussed (writing here for posterity..) that pull request doesn't resolve the issue.

The root cause of the problem is that openshift-ansible will keep going even though the default network interface might have ``NM_CONTROLLED=no`` in it's configuration.
This is bound to fail because it means the resolv.conf will not be set-up in /etc/origin/node.

We need to either implemen

[2017-10-31 19:01] michaelgugino commented on #5812
@dmsimard my preference is the check.

[2017-10-31 19:34] sdodson commented on #5941
@chinacoolhacker Hi, thanks for the issue. Unfortunately at this point the master branch is not tested against v1.5.x so it's not a surprise that you're running into problems there and we'd prefer not adding more conditional logic to the master branch to make it work. Can you please use the release-1.5 branch and see if that works better for you?

https://github.com/openshift/openshift-ansible#get

[2017-10-31 19:59] ewolinetz commented on #5947
How would we be able to specify that an logging operations elasticsearch cluster be set up differently than a non-operations elasticsearch cluster if we do not have 'ops' variables?

[2017-10-31 20:08] michaelgugino commented on #5947
[code]
[code]

[code]

This is how I would do it.  Creating an entire second set of variables and then passing them around is pretty confusing.

[2017-10-31 20:21] f1gjam opened #5964 "Metrics failing on python-passlib"
#### Description

Trying to add Metrics to cluster it fails

##### Version

Please put the following version information in the code block
indicated below.

* Your ansible version per `ansible --version`
ansible 2.3.1.0

If you're operating from a **git clone**:

* The output of `git describe`
openshift-ansible-3.7.0-0.186.0

##### Steps To Reproduce
Add parameter to inventory
```openshift_hosted_

[2017-10-31 22:18] ewolinetz commented on #5947
I'm not sure I'm correctly expressing my concern with this... how does a user specify different from their inventory file? The variable names are the same in the above example so if you tried to provide a different replica count for ops, it would end up the same for both kinds of ES clusters... right? Or am I missing a way that users can say for ops use this value, for non ops use this value withi

[2017-10-31 22:23] ewolinetz commented on #5964
@f1gjam do you have `python-passlib`installed on the machine you are running the ansible playbook from?

[2017-10-31 22:25] f1gjam commented on #5964
Nope, I’m running from my Mac, I thought it needed to be installed on the machine the playbook was being executed on in this case the master node

I have installed both python-passlib and python2-passlib

[2017-10-31 22:29] ewolinetz commented on #5964
No, in this case its checking that its installed on the control host which is the machine you are running the playbook from.

[2017-10-31 23:04] f1gjam commented on #5964
installed:

pip2.7 install passlib
Requirement already satisfied: passlib in /usr/local/lib/python2.7/site-packages

TASK [openshift_metrics : Check that python-passlib is available on the control host] **********************************************************************************************************************************************************************
fatal: [osmaster01.lab.unixcra

[2017-10-31 23:10] michaelgugino commented on #5947
I see what's going on here now.  I didn't realize it was deploying a whole second logging cluster, I thought these were some pre-defined values that ops wanted coded in for some reason or another.

[2017-10-31 23:10] #5947 closed

[2017-11-01 03:24] ss75710541 commented on #5943
Test mount using the mount command， Make the same mistake
[code]

Try creating /var/log/glusterfs directory in registry host

[code]

It is normal to re-execute the hosted playbook

[code]

[2017-11-01 03:24] #5943 closed

[2017-11-01 05:55] chinacoolhacker commented on #5941
@sdodson Hi! Unfortunately, release-1.5 branch does not support glusterfs, so i cant use it. In PR  https://github.com/openshift/openshift-ansible/pull/5786 master branch was suggested for deploy version 1.5, so, here am i. Can i back-port v1.5 templates into release-3.6, or such big feature will be rejected too?

[2017-11-01 11:24] #5876 closed

[2017-11-01 11:25] mjudeikis commented on #4507
solved.

[2017-11-01 11:25] #4507 closed

[2017-11-01 11:26] #5155 closed

[2017-11-01 14:44] f1gjam commented on #5964
ok, ive fixed the issue.

Even when using ansible from homebrew, you need to create a symlink in /usr/local/bin

Since homebrew only creates python2 and python3 links because it doesn't want to mess around with the system python (/usr/bin/python). You cannot create a symlink to /usr/bin/python OSX doesn't let you.

So create a link /usr/local/bin/python2 -> /usr/local/bin/python

and ensure /usr/l

[2017-11-01 14:44] #5964 closed

[2017-11-01 15:14] tdudgeon commented on #5497
Just tried a new origin deployment switching to the v3.6.1 images and ES is failing to start.
This was done with the ansible installer with these definititions:
openshift_release=v3.6
openshift_hosted_logging_deployer_version=v3.6.1

This is what is seen in the logs of the logging-es-data-master pod

[2017-11-01 15:10:02,491][INFO ][container.run            ] Begin Elasticsearch startup script
--

[2017-11-01 15:57] wozniakjan commented on #5497
two details:
1) `openshift_hosted_logging_deployer_version` was deprecated in https://github.com/openshift/openshift-ansible/pull/5176, please try to use `openshift_logging_image_version=v3.6.1`
2) but unfortunately, our release engineers may have pushed 3.6.0 into 3.6.1 (they have the same sha256), so only usable remains the `latest`

[2017-11-01 18:18] michaelgugino commented on #5935
@dustymabe We decided on bind-dynamic, and that code is merged: https://github.com/openshift/openshift-ansible/pull/5953

Please let us know if that solves your issue, I believe it should.  That option appears to be available in both RHEL and CentOS 7 at this time.

[2017-11-01 18:31] dustymabe commented on #5935
i'll check

[2017-11-02 03:30] eliu opened #5985 "Unable to restart service origin-master with dialing tcp port 2379 failed"
#### Description

##### Version

Please put the following version information in the code block
indicated below.

* Your ansible version per `ansible --version`

[code]

If you're operating from a **git clone**:

* The output of `git describe`

[code]

##### Steps To Reproduce
1. run `ansible-playbook /usr/share/openshift-ansible/playbooks/byo/config.yml` and just wait for the result.

##### Expec

[2017-11-02 11:51] ultimatemanu commented on #5482
@sdodson I am closing this issue because I did not find anything that can help you on this. We are using nfs for persistent volumes and it is ok now. We will have also a look at glusterfs ...
Thanks again.
Emmanuel

[2017-11-02 11:52] #5482 closed

[2017-11-02 12:39] ultimatemanu opened #5987 "Openshift cluster recovering needs a very long time if first master goes down"
#### Description

Using a multi master installation with a host set as load-balancer, if the first master goes down it takes a very long time for recovering the whole cluster services (login on the management UI, listing the deployments, scaling up or down ...). Only after about 1 hour and 30 minutes the cluster is fully usable.

##### Version

[code]

##### Installation description:
We are settin

[2017-11-02 21:51] smarterclayton opened #5996 "3.7 upgrade didn't update packages that only differed by minor releases"
1. had a 3.7.0-alpha.1 cluster, no pkg_version set, ansbile assumed that means 3.7.0
2. did upgrade with a new additional_repos that has newer 3.7.0-rc.0 packages
3. openshift-ansible when it calls rpm_upgrade.yml uses state=present, which sees the alpha.1 packages and says "ok, those are installed"

We should be using state=latest I think (which would say "install the newest 3.7.0 packages you ca

[2017-11-03 00:06] f1gjam commented on #5827
I created a README here with the installation instructions:

https://github.com/f1gjam/unixcraft-openshift

[2017-11-03 00:06] f1gjam commented on #5788
Created instructions here on how to install:

https://github.com/f1gjam/unixcraft-openshift

[2017-11-03 10:52] disappear89 commented on #5324
Hi,
you need to delete all repos first:
`grep -r orig /etc/yum.repos.d/`

Than you have to specify the origin version in your inventory file:
[code]

This should fix your problem =)

[2017-11-03 13:42] dustymabe commented on #5935
#5953 seems to work for me

[2017-11-03 13:42] #5935 closed

[2017-11-03 15:09] mbruzek opened #6002 "One or more required container images are not available: registry.access.redhat.com/openshift3/registry-console"
#### Description

I ran the openshift-ansible/playbooks/byo/config.yml playbook and it failed with the following error:
[code]

##### Version

* Your ansible version per `ansible --version`
[code]

If you're operating from a **git clone**:

* The output of `git describe`

If you're running from playbooks installed via RPM or
`atomic-openshift-utils`

* The output of `rpm -q atomic-openshift-utils

[2017-11-03 15:58] dustymabe opened #6004 "gluster: temporary mountpoint gets left behind for registry"
#### Description

After doing an install where I have a registry backed by glusterfs I end up with a failing systemd mount unit on every reboot of my master node:

[code]

Looks like it is coming from https://github.com/openshift/openshift-ansible/blob/c99bfde17bca322e8a89ba3e9dc4e4fdc2776448/roles/openshift_hosted/tasks/storage/glusterfs.yml#L28-L39

Is this only a temporary mount that is needed

[2017-11-03 19:08] mbruzek commented on #6002
I ran this a second time and got a very similar error but on different nodes:
[code]
I think the script needs a retry on these image pulls.

[2017-11-03 20:57] lucastheisen commented on #2494
I ran into this as well, I think it is the same as this [RedHat issue|https://bugzilla.redhat.com/show_bug.cgi?id=1504464#c1].  Gonna try adding to `openshift_no_proxy`, but would be nice if this was documented in the advanced installation instructions...

[2017-11-04 08:45] eliu commented on #5985
### Any updates on this? No one's ever met this similar issue like me??

[2017-11-04 15:31] jarrpa commented on #5827
@f1gjam That's great! Glad you go it working. :)

A small note: In your README's last section on Persistent Storage, you could also just do an `oc edit` of the StorageClass, or even more directly do `oc patch storageclass generic -p '{"metadata": {"annotations":{"storageclass.kubernetes.io/is-default-class":"true"}}}'`.

Cheers!

[2017-11-04 16:01] smarterclayton opened #6011 "Service catalog should not be setting node labels, and should not wait for start"
Service catalog, as an add-on, shouldn't be setting node labels itself.  That's a property of the topology, and it should only be able to depend on them existing (for bootstrapping and for decoupling).

It should also be able to bypass waiting for start - there may be no capacity available at the start of the playbook because nodes haven't been bootstrapped yet.

Hit this while rolling out the GCP

[2017-11-04 16:02] smarterclayton commented on #6011
@derekwaynecarr @sdodson the first sorts of challenges and patterns we need to put in place to describe addons vs core platform.

[2017-11-04 16:04] smarterclayton opened #6012 "Configure playbook should be broken up into control plane setup and then either node setup or node bootstrapping"
In order to do bootstrapping, we should either be able to:

1. provision machines
2. run control plane
3. configure nodes
4. run openshift_hosted / addons

OR

1. provision master nodes as bootstrapping nodes
2. run control plane
3. bootstrap master nodes and add the auto-approver and auto-scaler
4. configure addons and let autoscaling create the nodes under us

I'm currently blocked between this

[2017-11-04 16:04] smarterclayton commented on #6012
@kwoodson @sdodson

[2017-11-04 16:28] kwoodson commented on #6012
@smarterclayton, this was my attempt to do this work for bootstrapping.

https://github.com/openshift/openshift-ansible/pull/5846

[2017-11-04 16:32] f1gjam commented on #5827
Thanks - I will update the readme.

I need to test out a few other things like logging. Ideally I want to test out the service catalog coming in 3.7

[2017-11-04 16:36] f1gjam commented on #5827
Actually just looking at the command, the generic class doesn't exist so you have to create it and point it to GFS

[2017-11-04 17:09] smarterclayton opened #6013 "rpm_upgrades should use state: latest"
During an upgrade we should use state latest to fetch newer microversion rpms for the current  openshift_pkg_version.  This is mostly for clusters that are updated between minor packages.

This broke the api.ci upgrade and will break any prerelease upgrade.  We want to be able to converge alpha clusters to GA continuously.

[2017-11-04 18:26] smarterclayton commented on #6011
[code]

Disabled service catalog for now in the origin GCE jobs

[2017-11-04 18:32] smarterclayton opened #6014 "The label service catalog is using on nodes does not follow our conventions"
It's currently defaulting to `openshift-infra: apiserver` which doesn't follow any of the core platform conventions for node labels.

It probably needs to be both namespaced and fit into Kubernetes conventions.

@sdodson this must be fixed prior to shipping 3.7 because once we release it we can't undo it.  @liggitt for opinions on whether we use the `role.node.kubernetes.io/<node>` convention for

[2017-11-04 18:39] liggitt commented on #6014
Also needs to coordinate with our default node selector that keeps user pods off apiservers, right?

[2017-11-04 18:41] smarterclayton commented on #6014
Yes.  We need to define a convention and stick there.  We'll have to continue to support label customization and the old labels, but new clusters should be using a convention that both the core cluster team and the lifecycle team should agree on.  This is going to be increasingly important because we're going to support a range of configurations:

- 1 master with the master also being an infra nod

[2017-11-04 19:16] smarterclayton commented on #6012
Great, will comment.  I'm starting to see a pattern - that we'll want to do control plane setup independently of everything else, and we want control plane to be as much of a black box as adding / updating a node group.

[2017-11-06 04:02] ublubu commented on #4579
Any updates on this? I tried release-1.4 and got as far as #3397, but then I get `TASK [openshift_version : fail]`...`fatal: [openshift-doot-master-b7055]: FAILED! => {"changed": false, "failed": true, "msg": "Package origin not found"}`

[code]

[2017-11-06 07:04] eliu commented on #5985
Problem resolved.
The root cause is that there's not enough memory allocated for master node, which led to kubernetes crashed down.

Links: https://github.com/kubernetes/kubernetes/issues/13382#issuecomment-154891888

[2017-11-06 07:04] #5985 closed

[2017-11-06 09:59] e-minguez opened #6018 "Origin containerized install requires etcd from registry.access.redhat.com"
#### Description
Origin containerized install pulls down an image from Red Hat's internal registry (registry.access.redhat.com)

##### Version

[code]

##### Steps To Reproduce
1. Deploy Origin containerized
2. Check etcd container repo

##### Expected Results
Pull etcd image from https://hub.docker.com/u/openshift/ as others pods instead the registry.access.redhat.com one.

##### Additional Infor

[2017-11-06 10:40] deuther commented on #6018
Same happens to me.

[2017-11-06 10:54] deuther commented on #6018
Looks like this [commit e760ccf93410c94f174a694f3d6bb02f5a5c82e9](https://github.com/openshift/openshift-ansible/pull/6010/commits/e760ccf93410c94f174a694f3d6bb02f5a5c82e9) is suspected.
But why the `openshift_enterprise.yaml` is used since we both use `deployment_type=origin`

[2017-11-06 13:46] deuther opened #6019 "Health check ignores openshift_disable_check=docker_storage option"
#### Description

Title says it all, I believe.

##### Version
[code]

The output of `git describe`:

[code]

##### Steps To Reproduce
1. Run the `byo/config.yml`

##### Expected Results
Health check directive applied, cluster successfully installed.

##### Observed Results

[code]

##### Additional Information

Inventory file:

[code]

[2017-11-06 14:02] #5582 closed

[2017-11-06 14:38] sdodson commented on #6018
We can use registry.fedoraproject.org/f26/etcd as the default for origin installs but we cannot ensure stepwise upgrades so we need to modify the etcd upgrade playbooks to simply update to the latest version of the image. Otherwise this is just changing the default image in the openshift_facts module.