[2018-01-17 23:18] lucastheisen commented on #4496
This is also a blocker when using `become`...

[2018-01-18 02:18] mazzystr opened #6766 "[AWS Provisioning] master-internal elb being deployed with scheme: internet-facing"
#### Description

master-internal elb being deployed with scheme: internet-facing

##### Version

* Your ansible version per `ansible --version`
[code]

##### Steps To Reproduce
1. ansible-playbook playbooks/aws/openshift-cluster/provision_install.yml -e @playbooks/aws/openshift-cluster/provisioning_vars.yml

##### Expected Results
I expect the \<clusterid\>-master-internal elb to have to be deplo

[2018-01-18 02:37] taneem-ibrahim commented on #6572
I am running into the same issue installing with v3.7.14. I have a separate node for infra and single master and etcd are co-located.

[2018-01-18 05:06] sjenning commented on #6645
This is still a legit issue.  I just installed 3.9 and the web-console deployment is set up to pull from `registry.access.redhat.com/openshift3/ose-web-console:v3.9`, not honoring `oreg_url`

[2018-01-18 05:23] sjenning commented on #6645
I think `oreg_url` needs to be considered here
https://github.com/openshift/openshift-ansible/blob/master/roles/openshift_web_console/tasks/install.yml#L11

[2018-01-18 08:47] vrutkovs commented on #6761
Which openshift-ansible branch/commit are you using?

Could you paste the description for failed pods - `oc get pods -n default` and `oc describe pod <pod name> -n default` for each pod?

[2018-01-18 08:58] marekjelen commented on #6761
As mentioned

[code]

and as well as mentioned, nothing fails on the OpenShift side, all pods run, Service Catalog shows templates, etc. Just the installer fails.

[2018-01-18 09:47] vrutkovs commented on #6761
Hmm, interesting. The master machine should be able to reach `apiserver.openshift-template-service-broker.svc:443` locally.

[2018-01-18 09:52] marekjelen commented on #6761
Well, based on the playbook expectations it probably should ... but it does not.
Tried running today and failed again :)

[2018-01-18 10:01] marekjelen commented on #6761
This was failing in a VM locally ... testing now on DO, if it fails there, can share access to the VM.

[2018-01-18 11:03] marekjelen commented on #6761
Failed as well.

[2018-01-18 12:02] holgerreif commented on #6625
[code]

We run into the very same problem.

Root cause was: we had configured a proxy but forgot to set a `no_proxy` entry for 169.254.169.254.
Once we had this ip excluded, ansible could gather the required information from instance metadata and correctly set this fact.

[2018-01-18 12:38] sosiouxme commented on #6758
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-ansible/6757/test_pull_request_openshift_ansible_logging/4758/

[2018-01-18 13:14] marekjelen commented on #6761
Same failure in Vagrant.

[2018-01-18 13:45] marekjelen commented on #6761
It's probably my mistake ... if you check the inventory file, I have

[code]

TSB is deployed into a different project then SC … but both have `apiserver` component which confused me and I though it’s running, but was different `apiserver` ... the TSB one was failing on a image pull because the name was incorrect. Doing a clean run to check if that was the problem :)

[2018-01-18 13:51] vrutkovs commented on #6761
Oh, yeah, that'd make sense :) This is probably a bug though - either the check URL should include TSB namespace - or these components cannot be deployed to different namespaces and installer should warn about it.

Sounds like this issue can be closed?

[2018-01-18 14:06] sdodson commented on #6645
Yeah, we've done a poor job ensuring that value is parsed and used everywhere that it could be. Logging, metrics, etc all suffer the same fate. openshift_web_console_prefix='registry.example.com/openshift3/' will work around this. We plan to sweep all components and standardize on parsing oreg_url during 3.10 development so that should be the only value you need to set in the future.

[2018-01-18 14:07] sdodson commented on #6645
Also, #6774 will change this a bit.

[2018-01-18 14:08] amej commented on #6300
@sosiouxme  ..  A sequestered cluster (proxy required)  is readily available in my case.
File: /etc/profile.d
`export http_proxy=http://proxyserver.fqdn:8080`
works during upgrade from OSCP 3.6 to OSCP 3.7 using openshift-ansible release-3.7 branch.

[2018-01-18 15:08] spadgett opened #6778 "Should no longer check assetConfig for loggingPublicURL"
The following code checks for `loggingPublicURL` in master-config.yaml. This will no longer work in 3.9 since the `assetConfig` stanza is being removed.

https://github.com/openshift/openshift-ansible/blob/master/images/installer/root/usr/local/bin/generate#L304-L305

[code]

@sdodson

[2018-01-18 15:39] sosiouxme commented on #6756
`  when: not openshift_is_atomic | bool` is already set on the block.
For containerized, although you're not using RPMs for the components, you're still using RPMs for at least docker and its dependencies, and last I checked, had to set up the excluder RPMs to ensure the right docker for the OCP version. I'm not sure where that stands today; just saying there might still be a reason to keep this f

[2018-01-18 15:40] marekjelen opened #6781 "Invalid logging version"
When the inventory specifies logging version using

[code]

the playbooks try to deploy `oauth-proxy`

https://hub.docker.com/r/openshift/oauth-proxy/tags/

using the same version, which fails

[code]

[2018-01-18 16:17] marekjelen commented on #6761
The problem was the variable name. Thanks for help, though.

[2018-01-18 16:17] #6761 closed

[2018-01-18 16:41] vrutkovs commented on #6781
Seems `openshift_logging_elasticsearch_proxy_image_version` should not use `openshift_logging_image_version` and use a separate var for that

[2018-01-18 21:31] leifmadsen commented on #6639
I'm working through a deployment that results in this same issue. My deployment is a little different, where I've instantiated 3 virtual machines on KVM, one openshift-master, and 2 nodes.

I've run `oc get pods --all-namespaces`, and all the pods seem healthy

[code]

Here is some additional information (looks like I might be a bit behind):

[code]

[code]

[code]

[2018-01-19 04:51] davistran86 opened #6787 "Missing roles, rolebinding, serviceaccount for every new project after upgrading from 3.6 to 3.7"
I'm using multi master cluster with origin 3.6
I upgraded to 3.7 using command

[code]

After sucess upgrading it to 3.7 I got errors and cannot deploy new project because of missing role binding. Every new project created is missing rolebinding, roles, default serviceaccount

[code]

![image](https://user-images.githubusercontent.com/23651625/35204480-f54d8d5e-ff60-11e7-8ad8-0fad97a502e7.png)

I

[2018-01-19 09:00] MansM opened #6788 "lack of 3.7.1 rpm's blocks containarized upgrade"
#### Description

Currently the v3.7.1 rpm's are not available on the centos mirros. These are used to verify of the 3.7.1 version. But as I dont used the rpm's but a containerized install this should imo not be a reason to prevent upgrading

##### Version
3.7.0-3.7.1
ansible 2.4.2.0

[2018-01-19 18:51] jcantrill commented on #6758
This is a benign error and should not kill the build.  Regardless it was fixed here: https://github.com/openshift/origin-aggregated-logging/pull/899.  Do we need to backport?

[2018-01-19 20:10] sosiouxme commented on #6758
I think backport would be good, so that other backport PRs don't flake. Otherwise, consider it closed if builds aren't failing any more.

[2018-01-19 22:00] ewolinetz commented on #6740
@elad661 Can you please test with the latest for release-3.7? This should be resolved now

[2018-01-19 22:47] mjudeikis opened #6801 "Gluster Block missing deployment steps"
#### Description

When installing gluster-block with the CNS some of the steps is missing and needs to be "automated".

if these are set:
[code]

We expect glusterfs to de deployed with the gluster block functionality.

The result is that we have:
1. gluster block provisioner is deployed.
2. gluster is with a glusterblock enabled.

To have working solution we missing a few configuration details:
1

[2018-01-19 23:13] jarrpa commented on #6801
Going point by point:

0. glusterblock deployment is on by default, as such those variables should not be required
1. Can easily be done, just need to copy similar steps for the GlusterFS version
2. Same as 1
3. Yup, easily done in the role defaults like the other ports
4. Not sure how best to tackle this one, but SHOULD be doable
5. These can't be part of the image as they need to have access to

[2018-01-20 07:05] DanyC97 commented on #6300
@sosiouxme  just more info in case you still need it:

env: centos 7.4 / origin 3.7 (latest 3.7.23-1 ansible tag)

1) no vars in ansbile => it fails
2) define `http(s)_proxy` in `/etc/profile.d/` dir it works
3) define `http(s)_proxy` in `/etc/environment` => tbc

[2018-01-20 10:22] mjudeikis commented on #6801
Thanks,

WIll kick something out next week. Can you point me to glusterfs image code itself please?

[2018-01-20 17:39] jarrpa commented on #6801
Do you mean the container image Dockerfile? If so, there does not currently exist an official upstream container that can run gluster-block. For the time being the closest I got is a WIP container I'm maintaining here: https://github.com/jarrpa/gluster-containers/tree/fedora-update-block/Fedora

As for downstream, I'll need to track that down. :) If you just want the images themselves you can find

[2018-01-20 17:41] jarrpa commented on #6801
Note that in both cases, if you're using RHEL the hosts must be RHEL 7.4. The latest CentOS and Fedora will also work just fine.

[2018-01-20 22:17] lucastheisen opened #6803 "Settiing openshift_master_named_certificates causes master restart to fail"
#### Description

I completed a full `ansible-playbook playbooks/deploy_cluster.yml` successfully without configuring certificates.  Then, after receiving my certs, I added:
[code]
And ran:
[code]
Which appears to deploy the certs and add the expected config (on my master node):
[code]
However, the master fails to restart:

##### Version

[code]

##### Steps To Reproduce
1. Run `ansible-playbook p

[2018-01-20 22:34] smarterclayton opened #6804 "Split deploy_cluster.yml up into two pieces, call those from cloud provision"
Currently GCP and AWS are having to copy contents out of deploy_cluster.yml because they have to accept nodes before running hosted components.  The easiest short term split is to break deploy_cluster into two pieces:

1. control_plane.yml - everything up to and including openshift-node (master nodes have to be configured)
2. components.yml - everything after openshift-node that relates to configu

[2018-01-20 22:47] lucastheisen commented on #6803
I found [this gist](https://gist.github.com/abutcher/2e13e963a6c241cc5e90) which makes it sound like i am doing the right thing... Just not working.  When i comment out the cert line but leave the named certs line set to `True`:
[code]
It does clear out the certificates:
[code]
And the master starts back up (with some freshly generated self signed certs)...

[2018-01-20 23:02] smarterclayton opened #6805 "OpenShift web console install is not using openshift_hosted_infra_selector correctly"
When `openshift_hosted_infra_selector` is set to `role=infra`, web-console is being installed to `region=infra`.  Webconsole should default to this value.

@spadgett @sdodson

[2018-01-20 23:04] lucastheisen commented on #6803
Just noticed this in the logs on my master:
[code]
We are using an internal certificate authority (corporate), but i installed those certificates at the OS layer using `update-ca-certificates` before running the `ansible-playbook playbooks/deploy_cluster.yml`

[2018-01-20 23:19] lucastheisen commented on #6803
Looks like it could be related to [Issue with named certificates](https://github.com/openshift/openshift-ansible/issues/1082)

[2018-01-20 23:34] lucastheisen commented on #6803
@abutcher , I noticed you answered [Issue with named certificates](https://github.com/openshift/openshift-ansible/issues/1082#issuecomment-165306453) by stating:

Correct me if I am wrong, but it sounds like you are saying the master _must_ be resolvable by 2 separate DNS names?  All of the examples in the documentation seem to show the same hostname for both.  Also, it is unclear to me how `opens

[2018-01-21 06:47] smarterclayton commented on #6805
Simplest fix I could see was changing defaults.yml to

[code]

[2018-01-21 07:09] cynepco3hahue commented on #6756
@sosiouxme You absolutely right about `docker-excluder` package, it the reason why I added `enable_excluders=false`.
But from my perspective, it can be useful to deploy `latest` openshift build without the need to clone `OpenShift` repository and make `latest` rpms from it.
Maybe skip this check in case of `containerized` deployment does not the good solution, but at least we can skip it when `ope

[2018-01-21 12:33] spadgett commented on #6805
/kind bug
/assign

[2018-01-21 13:13] elad661 commented on #6740
@ewolinetz thanks, it works now 👍

[2018-01-21 13:13] #6740 closed

[2018-01-21 14:50] mlbiam commented on #6625
took me a while to get back to this, turns out the issue was because i was trying to use the new M5 instances and openshift doesn't work well with them.  Even after hard coding the regions to get past this issue mounting EBS didn't work either.  rebuilt as M4s and everything worked great.

[2018-01-21 14:50] #6625 closed

[2018-01-21 15:58] smarterclayton opened #6809 "Why aren't prerequisites installed as part of main playbooks?"
The addition of prerequisites.yml as a playbook (https://github.com/openshift/openshift-ansible/pull/6530) complicates other flows, like golden images.  If everyone has to run both, we should only need one.  If the core reason for the gap is the openshift_facts module (and its inability to run without pyyaml present) we should fix that in the main code.

@sdodson @michaelgugino this broke the GCP

[2018-01-21 17:53] DanyC97 commented on #6680
@nodefourtytwo in 3.7 it states clearly that embedded etcd is no longer supported and for prod should be on its own nodes. Before 3.7 yes i was doing the same thing with etcd and masters.

Regarding LB i have never put it on same nodes with the masters, not in prod anyway.
Saying that maybe this issue should be open against the docs to make it more clear that LB should be on separated nodes (same

[2018-01-21 21:56] jkroepke commented on #5174
Any news about this issue?

[2018-01-22 01:16] smarterclayton commented on #6804
https://github.com/openshift/openshift-ansible/pull/6541/commits/75a4f91a87762a22271dba5021309bae194289cd is one way about it - I'm not that opinionated though as long as we can completely split "below control plane" and "above control plane" (that's going to be a very strongly enforced boundary, and we'll be pulling things out of the lower part to keep it smaller)

[2018-01-22 02:31] #6805 closed

[2018-01-22 08:18] nodefourtytwo commented on #6680
@DanyC97 Thanks for the heads up about etcd in 3.7, I'll look into that before upgrading.

I will open an issue against the docs, thanks again.

[2018-01-22 14:10] michaelgugino commented on #6809
In 3.7, users had to manually install docker and a handful of other packages before running the installer.  prerequisites.yml now does this.

Additionally, we used to instruct users to setup docker storage on their own.  We do this now in prerequisites.yml if they desire.  We don't want to run this code multiple times.

[2018-01-22 14:23] michaelgugino commented on #6804
@smarterclayton we consider the 'control-plane' to be masters and etcd hosts during upgrades.

I don't know what you mean by this statement:

[2018-01-22 14:26] sdodson commented on #6809
The PyYAML dep we need to fix. https://github.com/openshift/openshift-ansible/pull/6708 was my hasty attempt at that, @michaelgugino do you mind taking another look at fixing that problem?

If there's a way we can fix the UX to get back to a single playbook execution that'd be my preference but I don't think we're going to sort that out before 3.9.

[2018-01-22 14:55] michaelgugino commented on #6809
I contend that there was never a 'single' playbook experience due to the fact that users had to manually install and configure items before running the installer.  However, I think with the recent changes to openshift_version and cleaning up some of the items in init/main.yml, I can copy the pattern we have for the scaleup plays in 3.10.

[2018-01-22 15:33] kwoodson commented on #6766
@mazzystr, thanks for reporting and fixing.

[2018-01-22 15:43] kwoodson commented on #6092
@mbarnes @omphe,

Thanks for your concerns here.  I've had a few other people bring this up to me as something they discovered during provisioning.  The question that I have is, what do we do as the default case?  I'd like provisioning to work out of the box with sane defaults.  I'm definitely open for suggestions.

The option that I went with was to default to a location and perform the install w

[2018-01-22 15:50] kwoodson commented on #6612
This was fixed by @michaelgugino .

[2018-01-22 15:50] #6612 closed

[2018-01-22 16:16] davidaah commented on #6521
@kareiva @jarrpa @sdodson is the fact that this feature isn't tested/supported documented anywhere? i'm fine to close this if this is already doc'd somewhere or if it is planned to be?

[2018-01-22 16:23] sdodson commented on #6521
I have to defer to @jarrpa for this. I can't speak to the priority of CNS/CRS features and when they'll be finished.

[2018-01-22 16:24] #6680 closed

[2018-01-22 17:14] jarrpa commented on #6521
@davidaah Nope. In general I would say there is no precedent for documenting extraneous features as unsupported as lack of support seems to be implicit until documented otherwise. That said, "supported" just means Red Hat has verified the feature and is willing to commit support time to them. This Issue is still valid regardless of whether RH supports it or not as long as I say I want to fix it. W

[2018-01-22 19:02] DanyC97 opened #6818 "Sysctl ipv4.ip_forward gets overwritten"
#### Description

In 3.7 the following [task](https://github.com/openshift/openshift-ansible/blob/release-3.7/roles/openshift_node/tasks/main.yml#L63-L67) was added and that is causing problems with `net.ipv4.ip_forward` value which gets overwritten to `0`

Because of that the `origin-node` service fails to start

See below

[code]
output of `99-openshift.conf`
[code]

output of `99-sysctl.conf`
[

[2018-01-22 19:23] davidaah commented on #6521
Sounds good, do you want me to leave this open then? Not sure exactly how issues are being split between here and bugzilla

[2018-01-22 19:30] lvlie commented on #6788
+1

[2018-01-22 20:09] davidaah commented on #6566
it seems the installer makes hardcoded assumptions that the package will be called `docker` (see docker_sanity.yml) which is being called by package_docker.yml

per https://github.com/openshift/openshift-ansible/issues/4016 does not seem upstream packages are supported (at least by the installer)

[2018-01-22 20:25] scorputty commented on #6788
+1

[2018-01-22 21:16] DanyC97 commented on #6818
not needed

[2018-01-22 21:16] #6818 closed

[2018-01-23 05:55] #6300 closed

[2018-01-23 07:37] hufon commented on #6788
+1

[2018-01-23 07:43] PaulVanStaden opened #6824 "NFS Directory with Spaces"
#### Description

When running the script with an external NFS server, and the directory requires spaces (e.g. `openshift_hosted_registry_storage_nfs_directory=/some Corporate Path With Spaces/openshift/Dev` the spaces causes issues with the `/etc/exports.d/openshift-ansible.exports` file. The spaces are not correctly escaped causing the 'systemctl daemon-reload' command to fail.

##### Version

*

[2018-01-23 10:38] slaterx commented on #5497
Reproducible on v3.7:

[code]

Elasticsearch config map was not showing latest discovery algorithm _(cloud:(kubernetes: (service: ${SERVICE_DNS}, namespace: ${NAMESPACE})) )_

After manually updating config map, container had the following logs:
[code]

[2018-01-23 14:17] ctron commented on #6424
A working image might be:

[code]

[2018-01-23 14:23] SaravanaStorageNetwork opened #6828 "Documentation needs to reflect refactoring done"
#### Description

Documentation still refers to playbooks/byo/config.yml.
But, it is removed and it seems playbooks/deploy_cluster.yml should be used for setting up cluster.

Please update documentation to reflect this.

git commit a77205f5b49cc06b18c2d881512f9ec25e347a75

[2018-01-23 14:24] kwoodson commented on #6828
Due to recent refactoring our documentation is still pointing users at `/playbooks/byo/config.yml`.  We need to update this to `/playbooks/deploy_cluster.yml`.

[2018-01-23 15:08] mbruzek opened #6829 "OpenShift ansible should allow more than 251 addresses"
#### Description

We are using the OpenStack version of the openshift-ansible installer and found that the cidr range of `\24` is hardcoded in the heat stack configuration. This only allows 251 (254-3) addresses in the range and our scaling goals are larger than 251.

The code that handles this appears to be here:
https://github.com/openshift/openshift-ansible/blob/master/roles/openshift_openstack

[2018-01-23 15:28] miminar opened #6832 "GlusterFS playbook refers to nodes by internal hostname"
#### Description

Trying to deploy OCP 3.7 on amazon with glusterfs as a storage backend. I hit the following error:

[code]

As you can see in the inventory file below, I'm referring to the nodes with public name (e.g. `ec2-54-237-234-66.compute-1.amazonaws.com`). However, the glusterfs installation refers to them by the internal hostname which fails of course.

##### Version

[code]

##### Steps

[2018-01-23 17:54] lucastheisen commented on #6803
Indeed,

solved this problem...  I'll close the ticket, but if you feel like answering the questions, i'd love to know the difference between the `openshift_public_hostname` and `openshift_master_cluster_public_hostname`.

[2018-01-23 17:54] #6803 closed

[2018-01-23 20:30] michaelgugino commented on #6347
Fixed in master.  Docker or other container runtime is now installed via prerequisites.yml.

[2018-01-23 20:30] #6347 closed

[2018-01-23 20:38] michaelgugino commented on #6824
@PaulVanStaden have you tried escaping the paths?
eg:
[code]

[2018-01-23 20:45] michaelgugino commented on #6756
openshift_rpm_version has been removed in master.

[2018-01-23 23:03] DanyC97 commented on #6625
@mlbiam are you using any out of the box AMI or just a standard centos/ rhel ami ? just curious if there is already a ready to use AMI with most dependencies required by Openshift - ie - docker version 1.12, ip_forward =1 etc etc

[2018-01-24 01:48] kwoodson commented on #6828
I believe this is being addressed here: https://github.com/openshift/openshift-docs/pull/7274

[2018-01-24 05:22] PaulVanStaden commented on #6824
@michaelgugino I have tried escaping as follow

#### Option 1
`openshift_hosted_registry_storage_nfs_directory=/ifs/Group\ Technology\ Services/OpenShift/Dev`
#### Option 2
`openshift_hosted_registry_storage_nfs_directory=/ifs/"Group Technology Services"/OpenShift/Dev`

#### Option 1
This causes the NFS server to timeout at 'systemctl daemon-reload'

#### Option 2
This causes the registry to not b

[2018-01-24 06:32] AjeyHiremath opened #6844 "unable to start master and node with modified master-config.yaml and node-config.yaml"
#### Description
unable to start master and node with modified master-config.yaml and node-config.yaml
I am trying to use CNI Plugin
##### Expected Results
Expected to run smoothly without erro

**Example command and output or error messages**
**Example command** :
$ openshift start --master-config=/etc/origin/master/master-config.yaml --node-config=/etc/origin/node/node-config.yaml
and
**output o

[2018-01-24 07:51] cynepco3hahue commented on #6756
@michaelgugino A lot of thanks, now `containerized` deployment works fine.

[2018-01-24 10:31] hardbone12 commented on #5743
[code]

It can work around with `-e` flag

ansible 2.4.2.0
openshift-ansible-3.7.16-1

[2018-01-24 11:24] tomassedovic commented on #6829
Thanks for the bug report!

This is quite reasonable and switching to CIDR would have been my suggestion as well.

[2018-01-24 12:50] mbarnes commented on #6092
What repeatedly bit me in working with these playbooks were not so much the defaults, but the hidden side-effects of *changing* one of the defaults.

I think that's best addressed by iteratively improving the docs in `provisioning_vars.yml.example` and adding more pre-flight sanity checks to the provisioning variables -- especially when there's implicit linkage between variables -- based on user f

[2018-01-24 14:16] miminar commented on #6832
Not sure what was the error. But restarting the installation worked.
Using the internal hostname is not a problem apparently.

If I can reproduce again, I'll reopen.

[2018-01-24 14:16] #6832 closed

[2018-01-24 14:31] michaelgugino commented on #6824
@PaulVanStaden thank you for the update.  I think we should merge that patch then.

[2018-01-24 15:58] jarrpa commented on #6801
@mjudeikis Just so you know, this is a fairly critical issue. I'll start work on my own implementation as well if I don't see something early next week.

[2018-01-24 16:02] mjudeikis commented on #6801
ok. point taken, WIll let you know whats happens in next few days. Busy with clients :/

[2018-01-24 18:36] smarterclayton commented on #6804
Resolved, the PR split the two sub parts into includable private snippets

[2018-01-24 18:36] #6804 closed

[2018-01-24 22:20] #6766 closed

[2018-01-24 22:43] #6824 closed

[2018-01-24 23:35] edsonmarquezani opened #6861 "Tag v3.7 not found in repository docker.io/openshift/oauth-proxy"
Logging deployment fails in Origin 3.7, because `logging-es-data-master` Pod uses an image/tag which doesn't exist.

![image](https://user-images.githubusercontent.com/11199127/35362695-883023c8-014d-11e8-9b51-ce34b415b066.png)

Playbook version: 3.7.25-1

Ansible inventory:
[code]

[2018-01-25 00:41] fraenkel commented on #6861
you need to set the proxy version, openshift_logging_elasticsearch_proxy_image_version
The default values don't quite work as you start setting user defined ones.

https://github.com/openshift/openshift-ansible/blob/master/roles/openshift_logging_elasticsearch/tasks/main.yaml#L29

[2018-01-25 02:25] chenqifeng28 commented on #6639
I think this is the domainname:https://apiserver.kube-service-catalog.svc/healthz cannot be resolved，because the log :curl: (7) Failed connect to apiserver.kube-service-catalog.svc:443; Connection refused
how can i resolve this problem,thx.

[2018-01-25 02:44] kprabhak commented on #6336
@srirammageswaran8 FYI, having tested atomic host with Openshift 3.7 + calico a bit more, I can confirm that the commit I link to in the comment above works.
Let me know if you have any issues with your deployment. There are a few things you need to configure in your Atomic Host (unrelated to Calico) to ensure that your OpenShift deployment doesn't implode.

[2018-01-25 02:50] kprabhak commented on #5795
@fraenkel Please also take a look at this commit (which hasn't been merged upstream yet).  While the commit should allow Calico installation with OpenShift on Atomic, a couple of lines in it should address the issue you're raising.

[2018-01-25 03:09] fraenkel commented on #5795
@kprabhak which commit?

[2018-01-25 04:16] smarterclayton opened #6864 "prerequisites.yml can't transition from device mapper to overlay2"
If docker is already installed on the base image, the GCP (and AWS, I'm assuming) installers don't properly configure overlay:

https://ci.openshift.redhat.com/jenkins/job/test_branch_origin_extended_conformance_gce/2286/

If you look at the logs we call "configuring for overlay2" in the node bootstrap setup when we bake the image, but later on the instance is still on device mapper.

Looking at t

[2018-01-25 04:16] smarterclayton commented on #6864
@kwoodson who is doing the overlay setup?

[2018-01-25 04:18] smarterclayton commented on #6864
Basically, what is the correct docker-storage-setup in order to have docker configured on the existing device.

[2018-01-25 04:35] smarterclayton commented on #6864
Also, if our setup is assuming we're going to configure docker-storage-setup for overlay to have a unique block device, that is not a correct assumption.

[2018-01-25 05:22] smarterclayton commented on #6864
No, not user error - https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-ansible/6626/test_pull_request_openshift_ansible_extended_conformance_gce/61/ failed and this is using the latest checked in code.  So I think this is a mismatch between what the image needs and what is in the prerequisites code.

[2018-01-25 05:28] smarterclayton commented on #6864
I think the configuration we want for overlay on GCP is "do nothing, but set the correct docker storage driver".

[2018-01-25 12:40] miminar opened #6866 "GlusterFS wants router which is setup afterwards"
#### Description

Using the following inventory on AWS cluster deploying glusterfs:

<details><p>

[code]

</p></details>

##### Version

ansible version: `openshift-ansible-3.7.22-1-9-g56970a0`

[code]

##### Steps To Reproduce

##### Expected Results
Describe what you expected to happen.

[code]

##### Observed Results

[code]

##### Additional Information

[2018-01-25 12:55] miminar commented on #6866
Rerunning the playbook with all the gluster-related settings commented out - which deployed the router successfully, I could run it once again with gluster enabled.

[2018-01-25 13:36] mazzystr opened #6867 "AWS SG inbound rule, ELB listener port, ELB instance port and OpenShift API ports are misaligned"
#### Description

AWS SG inbound port, ELB listener port, ELB instance port and OpenShift API ports are misaligned

##### Version

* Your ansible version per `ansible --version`
[code]

##### Steps To Reproduce
1. ansible-playbook playbooks/aws/openshift-cluster/provision_install.yml -e @playbooks/aws/openshift-cluster/provisioning_vars.yml

##### Expected Results
I expect the AWS SecurityGroup in

[2018-01-25 14:50] kwoodson commented on #6864
@smarterclayton,

The history here is that inside of openshift-ansible there was never a path that calls docker-storage-setup.  The expectation was that a user would pre-setup their storage before arriving to the install.  This protected openshift-ansible from wiping docker drives during install or update.

Having said this, we now are in a place where we are providing provisioning and need to pro

[2018-01-25 15:15] edsonmarquezani commented on #6861
@fraenkel Ok. Thanks.

[2018-01-25 15:31] smarterclayton commented on #6864
container_runtime_docker_storage_setup_device: /dev/xvdb is incorrect for GCP because we aren't going to use a device at all.

I think there are two undercovered cases:

1. I don't want to do any storage setup, but I do want to "reset" back to overlay (users coming from dev mapper to overlay on upgrades, images that had docker on them)
2. I do want to use docker-storage-setup, but I don't want to

[2018-01-25 15:32] smarterclayton commented on #6864
Destructive would work for 2 and 1, but it might be a foot shooting thing

[2018-01-25 15:45] andrewdobbie commented on #6085
Router0 origin-node[1939]: Invalid NodeConfig /etc/origin/node/node-config.yaml
Router0 origin-node[1939]: masterKubeConfig: Invalid value: "/etc/origin/node/system:node:Router0.kubeconfig": could not read file: stat /etc/origin/node/system:node:Router0.kubeconfig: no such file or directory
Router0 systemd[1]: Failed to start OpenShift Node.

I believe this might be what @kameshsampath is seeing.

[2018-01-25 16:08] DanyC97 commented on #6809
fair point @michaelgugino , i'll give it a try with branch 3.9 and see if it works ( i know in the past this wasn't the case -ie openshift-ansible branch should have match the origin one)

[2018-01-25 16:21] DanyC97 commented on #6866
i  didn't get the same output
[code]

[2018-01-25 16:39] bparees opened #6872 "sync imagestreams from origin"
A number of imagestreams have been added/updated in origin, we need them in the ansible installer so our extended tests can reference them.

Can we get a sync done asap?

Thanks

[2018-01-25 17:26] elad661 opened #6873 "openshift_management CFME support is commented out (always installs ManageIQ)"
cc @sdodson

openshift_management only installs ManageIQ at the moment, even if you ask it to install CFME.
This is relevant for the current beta CFME release, and soon for GA.

Relevant lines:
https://github.com/openshift/openshift-ansible/blob/master/roles/openshift_management/vars/main.yml#L33-L40

[2018-01-25 18:11] smarterclayton commented on #6864
I removed docker from the base image.  At this point, I need a way to tell prerequisites not to use docker storage setup to configure a device (I just want to use the root filesystem), but to correctly configure overlay2.

Arguably, the following should do that:

[code]

which is: "use overlay2, don't configure a device".  If we want to have a different second variable I'm fine, or to make device

[2018-01-25 18:51] #6333 closed

[2018-01-25 21:38] sosiouxme commented on #6720
Sorry, I meant https://github.com/openshift/openshift-ansible/issues/5330

I opened https://bugzilla.redhat.com/show_bug.cgi?id=1538806

[2018-01-25 21:42] sosiouxme commented on #5330
I'm moving this to bug https://bugzilla.redhat.com/show_bug.cgi?id=1538806

[2018-01-25 21:42] #5330 closed

[2018-01-26 00:19] enj commented on #6787
/close

Handled in https://github.com/openshift/origin/issues/18206

[2018-01-26 00:19] #6787 closed

[2018-01-26 01:02] kprabhak commented on #5795
Apologies, for got to include a link. This one: https://github.com/kprabhak/openshift-ansible/commit/011a22b48ae1aa4ca9fab5ee83727eeea23c3540

[2018-01-26 02:04] kwoodson commented on #6864
@smarterclayton,  can you try with this PR? https://github.com/openshift/openshift-ansible/pull/6888

[2018-01-26 02:18] kprabhak commented on #5795
yeah, agreed - something for the openshift folks to determine.

I think they had also submitted a pr to have kubelet use a configurable set of directories to search for plugins, but not able to find that at the moment.

[2018-01-26 02:21] fraenkel commented on #5795
If its what I am thinking of, it doesn't work since calico is driven after the node is already set up so there is no way for calico to add directories to the kubelet service which is how I would have liked it to work.

[2018-01-26 04:21] #6872 closed

[2018-01-26 13:30] glennswest commented on #6639
Did you create persistent volumes for the broker?
https://docs.openshift.com/container-platform/3.7/install_config/install/advanced_install.html#enabling-service-catalog

It will restart till this is done.

[2018-01-26 14:43] spagop commented on #6025
same problem here. any solution to fix this problem?

[2018-01-26 15:59] mlbiam commented on #6625
@DanyC97 i'm using the standard centos7 ami from the aws marketplace

[2018-01-26 16:28] mazzystr commented on #6355
I get to this point in the installer as well but my problem comes from these parameters in the inventory file...
[code]

The nodes never get labelled properly therefore there's no nodes to deploy the router pods therefore webconsole deployment fails.  I'll be triggering another issue on the root problem.

[2018-01-26 18:03] mazzystr opened #6897 "Installer fails when trying to label nodes"
#### Description

Installer fails when trying to label nodes

##### Version
[code]

Link to Bugzilla is [here](https://bugzilla.redhat.com/show_bug.cgi?id=1542099)
##### Steps To Reproduce
1. ansible-playbook playbooks/aws/openshift-cluster/provision_install.yml -e @playbooks/aws/provisioning_vars.yml

##### Expected Results
Installer should complete successfully.  Nodes should be labelled correct

[2018-01-26 18:43] dougbtv opened #6899 "Playbooks fail with containerized=true for version > 3.7 when looking for RPMs"
#### Description

When trying to run the playbooks to deploy a cluster on CentOS machines using a BYO inventory (running the `deploy_cluster.yml` playbook), if one sets `containerized=true` and `openshift_release=3.9` (for example), the playbooks fail when it goes to run the `openshift_version` roles. Resulting in a failure stating: "Package origin not found".

My observation is that RPMs are not

[2018-01-26 21:06] allen13 opened #6904 "Prometheus Alerts Proxy"
#### Description

The prometheus alerts-proxy container points to the alert buffer. It seems like it would make for sense for it to point to the alert manager instead.

I always change the alerts proxy from 9099 to 9093 once the pod has been deployed so I can easily access the alert manager ui.
https://github.com/openshift/openshift-ansible/blob/master/roles/openshift_prometheus/templates/promethe

[2018-01-27 12:06] vrutkovs commented on #6899
See https://github.com/openshift/openshift-ansible/pull/6755#issuecomment-358653089

[2018-01-27 22:29] leventyalcin opened #6911 "openshift_logging_elasticsearch fails with No such file or directory"
#### Description

I wasn't using any version constraint for the installation of openshift-ansible-playbooks RPM package. Earlier this week, the version of the RPM package was 3.7.14-1.git.0.4b35b2d.el7. Since the package upgraded to 3.7.23-1.git.0.bc406aa.el7 installation of the cluster is failing

##### Version
[code]

##### Steps To Reproduce
1. `yum install openshift-ansible-3.7.23-1.git.0.bc40

[2018-01-27 23:58] michaelcourcy opened #6912 "TASK [openshift_web_console : Verify that the web console is running] Failed"
#### Description

I install a cluster with one master and 2 nodes.
Install failed at TASK [openshift_web_console : Verify that the web console is running].

##### Version

* Ansible version : 2.4.2.0
* git describe : openshift-ansible-3.9.0-0.31.0-4-gc099618
* git branch : origin/release-3.7

##### Steps To Reproduce
ansible-playbook -i inventory openshift-ansible/playbooks/openshift-web-console/c

[2018-01-28 00:00] michaelcourcy commented on #6912
I finally try to add this line in my inventory in the vars section and it solved the problem :

[code]
The console deploy in node1
I close the issue.

[2018-01-28 00:00] #6912 closed

[2018-01-28 00:04] dougbtv commented on #6899
@vrutkovs thanks for the pointer, so in theory it should work given that
PR? Any idea what I'm missing in my playbook or my workflow that might be
causing it to fail?

On Sat, Jan 27, 2018, 7:06 AM Vadim Rutkovsky <notifications@github.com>
wrote:

[2018-01-28 02:09] sferich888 commented on #4111
I hit this https://github.com/openshift/openshift-ansible/issues/4111#issuecomment-304843311 on a 3.6 Origin install, when trying to add metrics.
[code]

As it does not look like I have an option to downgrade, the issue seems unresolved.

[2018-01-28 02:21] sferich888 commented on #4111
If I manually delete the package, and pull https://centos.pkgs.org/7/centos-extras-x86_64/python-passlib-1.6.5-2.el7.noarch.rpm.html and install just this package (not sure why yum can't see this), I also can work around this.

[2018-01-28 04:57] spookiej opened #6914 "openshift_web_console/tasks/install.yml: pointing to static domain"
#### Description

There is a bug in the master branch to verify if the console is working, it is always going to fail as it is pointing to some other domain, and not your own.

This is the task in questions
[code]
I'm not exactly sure what var needs to go in here, but I presume it is your console FQDN and the Port it is listening on. I edited the local file to the below in order to get past this s

[2018-01-28 08:31] #6914 closed

[2018-01-28 10:24] spookiej commented on #6914
Closed issue, after doing some more reading I don't believe it is an issue.

Stemmed from a proxy issue, I believe.

[2018-01-28 10:47] vrutkovs commented on #6899
The containerized installation on non-Atomic OSes is not currently supported, as containerized install expects an Atomic system, which already has some packages pre-installed - `yum-utils, PyYAML` etc.

You should be able to install containerized version of 3.9 on CentOS Atomic though:
[code]

[2018-01-28 21:34] gbaufake commented on #6572
I didn't face this issue with `oc v3.7.27` after removing  some additional_packages from my inventory.

[2018-01-29 04:17] smarterclayton commented on #6864
Looks resolved.

[2018-01-29 04:17] #6864 closed

[2018-01-29 05:28] missnebun commented on #6914
Well this is not a proxy issue ... there is a variable on the openshift_web_console_nodeselector: {"node-role.kubernetes.io/master":"true"} but if you have dedicated masters Scheduling is Disabled so the web-console will never get online.

[2018-01-29 06:49] spookiej commented on #6914
Ok great, thanks for the help I'll try with openshift_schedulable=true for the master node.

[2018-01-29 10:47] mjudeikis commented on #6801
@ckyriakidou already started on this.
 https://github.com/ckyriakidou/openshift-ansible/tree/issue-%236801
My customer wants this done this week so got official "green light to work on this during customer hours" today tomorrow :)

Will raise PR for follow up and review as we go.

[2018-01-29 11:25] rblaine95 opened #6917 "SELinux blocks pods on CentOS 7.4 on AMD EPYC (but not on Intel)"
#### Description
* OpenShift pods deployed on nodes with SELinux set to enforcing with Intel CPUs deploy with no SELinux related errors (for example: GlusterFS)
* OpenShift pods will not deploy on nodes with SELinux set to enforcing with AMD EPYC CPUs (for example: GlusterFS)

##### Version
Please put the following version information in the code block
indicated below.

* Your ansible version per

[2018-01-29 13:59] nodefourtytwo commented on #6025
Not really a solution but switching to containerized hosts worked.
[code]
I use etcd from the fedora registry since I dont have access to the redhat one.

[2018-01-29 14:27] sdodson commented on #4111
@sferich888 That's an ansible bug, are you running ansible 2.3.2 or 2.4.0 and newer?

[2018-01-29 16:57] allen13 opened #6921 "openshift_master_extension_scripts value being overridden"
#### Description
The wire_aggregator task has a yedit that overrides assetConfig.extensionScripts instead of appending. This makes the openshift_master_extension_scripts variable useless. This is currently affecting multiple versions of the playbook.

https://github.com/openshift/openshift-ansible/blob/2ec70a36f50f670887f2f257d348db6332de5d26/playbooks/openshift-master/private/tasks/wire_aggregato

[2018-01-29 18:07] mjudeikis commented on #6801
POC: https://github.com/openshift/openshift-ansible/pull/6922

[2018-01-29 19:50] dougbtv commented on #6899
Ah ha, thanks @vrutkovs . If that's the case, is it true that releases past v3.7 can only use an Atomic OS? With what you've said, plus that I noticed there aren't RPMs past v3.7 would that be the case? Thanks!

[2018-01-30 04:46] sjenning opened #6930 "origin-web-console nodeSelector makes it unschedulable by default"
https://github.com/openshift/openshift-ansible/pull/6882 set the web-console nodeSelector to `node-role.kubernetes.io/master: true`.  The master is cordoned by default.  Thus the web-console fails to schedule unless the default `openshift_web_console_nodeselector` is overridden or the master is manually uncordoned.

https://github.com/openshift/openshift-ansible/pull/6882#commitcomment-27173327
ht

[2018-01-30 07:31] cameronbraid opened #6931 "question - recommended way to upgrade from 3.7.0 to 3.7.1"
What is the recommended way to upgrade from 3.7.0 to 3.7.1 ?

Is it safe to re-run the playbooks/byo/config.yml playbook after changing inventory openshift_release to 3.7.1, or should an upgrade playbook be used ?

[2018-01-30 09:30] openqt commented on #6166
Same issue, as versions:

[code]

[2018-01-30 12:24] varac opened #6936 "Feature req: Add "oc new-app" handler"
#### Description

It would be nice if lib_openshift would ship a handler for installing apps, like you would do with `oc new-app`.
I found a reference how this is done in `roles/cockpit-ui/tasks/main.yml` by executing a command on the server:

[code]

It would be nicer to have a dedicated handler for that.

[2018-01-30 14:20] spadgett commented on #6930
I'll defer to @smarterclayton on the why, but the intent is for the master to be schedulable for components like the web console. There was a bug where it wasn't happening for new installs, only upgrades.

See #6932 and #6849
https://bugzilla.redhat.com/show_bug.cgi?id=1535673

/assign @vrutkovs

[2018-01-30 14:21] vrutkovs commented on #6930
This should be resolved by https://github.com/openshift/openshift-ansible/pull/6932

[2018-01-30 14:35] stzilli opened #6941 "Update to 3.7 fails with client authentication error on validator task"
#### Description

Running the update script from 3.6 to 3.7 fails on `Confirm OpenShift authorization objects are in sync` task with client authentication error. This seems due to the fact the step is not using the `admin.kubeconfig` file compared to the other `oc adm` commands used in other parts of the code.

##### Version

* Your ansible version per `ansible --version`

[code]

* The output of

[2018-01-30 16:20] elad661 commented on #6873
This might've been solved by https://github.com/openshift/openshift-ansible/commit/53ed4ededbbac3ca0095051885aecd0674fbf867 but I haven't had the chance to test yet.

[2018-01-30 17:37] sdodson commented on #6873
Yeah this should've been fixed via #6925

[2018-01-30 17:37] #6873 closed

[2018-01-30 19:22] flaper87 opened #6946 "Kuryr tasks misconfigures the origin-node sysconfig file"
#### Description

Provide a brief description of your issue here. For example:

On a multi node install with kuryr enabled, the origin node fails to be restarted after the `sysconfig` file is modified to disable the proxy service. The current node tasks do the following:

[code]

after the above task is execute, it is no longer possible to restart the `origin-node` service. Output below:

##### Ve

[2018-01-30 19:23] flaper87 commented on #6946
@celebdor @luis5tb FYI

[2018-01-31 10:58] pradeep-gdit opened #6950 "ec2_instance_facts taking long time to get the private_ip_address"
I am trying to get the ec2_instance_facts of my ec2 instances immedialy after creating the instances. But always it takes aroung 15 to 30 min to get the factors such private_ip_address.
I am using below ansible version

Here is the error I am getting

    fatal: [10.247.129.147]: FAILED! => {"msg": "The task includes an option with an undefined
    variable. The error was: 'dict object' has no att

[2018-01-31 15:00] mazzystr commented on #6867
This issue is now fixed.

[2018-01-31 15:00] #6867 closed

[2018-01-31 16:28] dougbtv commented on #6899
Thanks a bunch for that clarification @vrutkovs -- given that is the case then this can be closed on out. Appreciated your input on it.

[2018-01-31 16:28] #6899 closed

[2018-01-31 20:00] cooktheryan commented on #6296
@fabianvf and @sdodson sorry to bring this back from the dead but are there any plans to proceed with emptyDir if a default storageclass is not available at  install time?

[2018-01-31 21:28] sdodson commented on #6296
@cooktheryan I'd have to leave that up to ASB team to decide. Long term they're looking at removing the need to have an etcd instance but I don't think that's going to happen soon.

[2018-02-01 05:01] itewk commented on #5293
I just ran into this when trying to upgrade metrics on a cluster that was just upgraded from v3.6 to v3.7

[2018-02-01 09:13] varac opened #6965 "Publish lib_openshift module documentation"
#### Description

Maybe there's a public documentation already, and I haven't found it.
Please publish the lib_openshift module docs from `openshift-ansible/roles/lib_openshift/src/doc/`.
It would be very useful to have them in a good layout online soemwhere for reference.

[2018-02-01 09:48] adelton opened #6968 "On Fedora 26 and 27, Ensure openshift-ansible installer package deps are installed fail on node"
#### Description

On a setup with one master and one node on Fedora 26 and Fedora 27, the openshift-ansible/playbooks/prerequisites.yml fails.

##### Version

Please put the following version information in the code block
indicated below.

* Your ansible version per `ansible --version`

[code]

If you're operating from a **git clone**:

* The output of `git describe`

[code]

If you're running fro

[2018-02-01 10:05] vrutkovs commented on #6968
Several notes on the install procedure:
 * Not sure why is `python3 /usr/bin/ansible-playbook` used, is the result the same with `/usr/bin/ansible-playbook-3`? It seems py2 is used to run py2 code for playbook?
 * In 3.9 masters should also be included in nodes and marked schedulable (to run web console pods)
 * `openshift_repos_enable_testing` doesn't do anything on Fedora hosts

Could you put th

[2018-02-01 12:51] ikke-t opened #6971 "Master public and private cluster hostname should differ in example"
#### Description

Customer had run into problems following the example here. The sample has variables:

#openshift_master_cluster_hostname=openshift-ansible.test.example.com
#openshift_master_cluster_public_hostname=openshift-ansible.test.example.com

which point to same hostname. If you do that, you will run into troubles. Please change the public hostname to something different in sample, e.g.

[2018-02-01 14:15] juanwolf opened #6973 "openshift_ca role does not work on containerized installation"
#### Description

I was trying to scale up my cluster, adding a new master. The playbooks failed on this tasks:

[code]

##### Version

Please put the following version information in the code block
indicated below.

* Your ansible version per `ansible --version`

If you're operating from a **git clone**:

* The output of `git describe`

If you're running from playbooks installed via RPM or
`atomi

[2018-02-01 14:38] juanwolf commented on #6973
I ran the playbook and this fixed the actual issue. The playbook still failed but that will be for another issue. I'll make a PR in a sec

[2018-02-01 15:07] vrutkovs commented on #6973
Should be fixed by #6937

[2018-02-01 16:00] vrutkovs opened #6978 "Consolidate hosted services playbooks"
All these playbooks seem to do the same thing:
 * Create a namespace (optionally)
 * Create a template
 * Process it and create dcs/configmaps etc.
 * Wait for deployment to complete

There should be a unified way of doing that - with a better error reporting, e.g. pod status dumping, latest events etc.

[2018-02-01 16:01] dmesser commented on #6801
I also noticed that the _blockvol_create and _blockvol_size options don't do anything - even with the missing prerequisites manually configured.

[2018-02-01 16:06] jarrpa commented on #6801
...oh! Good catch. I'll work on that.

[2018-02-01 16:12] jarrpa commented on #6801
@dmesser Hmm... I think this should be sufficient to make use of then, yes?

https://github.com/openshift/openshift-ansible/blob/master/roles/openshift_storage_glusterfs/templates/v3.9/heketi.json.j2

[2018-02-01 17:25] mate201 opened #6986 "Installation fails on origin-master-api restarting attempt"
#### Description

Installation fails on origin-master-api restarting attempt.

##### Version

Ansible

[code]

`openshift-ansible-3.9.0-0.35.0-8-g1a58f7fc7`

##### Steps To Reproduce
1. ansible-playbook -i os-hosts openshift-ansible/playbooks/prerequisites.yml
2. ansible-playbook -i os-hosts openshift-ansible/playbooks/deploy_cluster.yml

[code]

Inventory file

[code]

prerequisites.log
[gist](ht

[2018-02-01 17:59] vrutkovs commented on #6986
Could you also attach the output of `journalctl -b -el --unit=origin-master-api.service` from the master?

[2018-02-01 18:52] aizikil commented on #6986
Here you go !

[gist](https://gist.github.com/aizikil/08b9ac53337482cb5a34585bebca7e35)

[2018-02-01 19:06] vrutkovs commented on #6986
Hmm, interesting.

So master fails to start as it can't connect to etcd:
```F0201 21:39:38.430245 1030 start_api.go:67] [could not reach etcd(v2): client: etcd cluster is unavailable or misconfigured; error #0: dial tcp 127.0.0.1:2379: getsockopt: connection refused```

etcd service seems to be running, but I've noticed firewalld has opened 2380 instead of 2379.

Could you try rerunning this with

[2018-02-01 19:07] ewolinetz commented on #5293
@itewk can you confirm whether or not you have `httpd-tools` installed on the system you are running ansible from?

[2018-02-01 20:18] adelton commented on #6968
Thank you for your comments.

[code]

So my understanding is that it's exactly equivalent.

Can the master not being among nodes be the reason for the `prerequisites.yml` step failure, or would that only matter with `deploy_cluster.yml`, later on?

Dtto -- I use the same inventory file on all OSes so if it doesn't do anything, it shouldn't harm either, right?

Will get back with the output once th

[2018-02-01 20:54] juanwolf commented on #6973
I can see the fix has been applied to the release3.7 branch. I am closing this issue. Thanks again for the quick support.

[2018-02-01 20:54] #6973 closed

[2018-02-01 21:34] vrutkovs commented on #6968
`deploy_cluster.yml` would complain later on, yes

Ah, yes, definitely, just a note to cleanup inventory file, its fine to keep it though.

Both options are fine, ping me tomorrow when you'll have time

[2018-02-01 21:36] adelton commented on #6968
Here's the `ansible-playbook-3 -vvv` output: https://gist.github.com/adelton/34acc4827b4e48e1579ff217b0627a73

[2018-02-01 21:41] #6971 closed

[2018-02-01 22:01] itewk commented on #5293
@ewolinetz i didn't have that or the java package that turned out to be required, as @tbielawa mentioned this should added to the doc, or better yet, just install it as part of the playbook if it is required, it has to be installed anyways, may as well have the play book do it so I don't have any manual steps.

[2018-02-01 23:01] ewolinetz commented on #5293
I think it makes the most sense to update the docs. We likely don't want our playbooks modifying the control hosts.

[2018-02-02 00:05] itewk commented on #5293
But if these are required for the playbook then why not just install them? Like, what is the use case for not installing them?

[2018-02-02 07:43] aizikil commented on #6986
Vadim, thank you for the fast response. Where should I inject this line ? In deploy-cluster.yml ?

[2018-02-02 08:03] vrutkovs commented on #6986
In the inventory file, in `[OSEv3]` group

[2018-02-02 08:18] vrutkovs commented on #6968
Right, its has failed on `preequisites.yml` again - which failed to complete to the init and so `deploy_cluster.yml` failed later on. Must be something related to `omit` behavior in ansible.

[2018-02-02 09:54] CelsoSantos commented on #6464
I too faced this issue while installing on Azure based on the MS repo (https://github.com/Microsoft/openshift-container-platform) and the installation failed trying to verify that TSB was running, having to set `template_service_broker_selector={"type": "infra"}` value on the inventory file, otherwise the process would fail.

I noticed that nodes are getting labeled with `type` but not with `regio

[2018-02-02 10:05] vrutkovs commented on #6464
Default TSB (and any hosted services) selector is `region: infra`, which is recommended in `hosts.example`. It seems Microsoft/openshift-container-platform uses `type: infra` instead (https://github.com/Microsoft/openshift-container-platform/blob/6244574eeab4e02602c38fe7813f6ffa629eea39/scripts/infraAdd.sh#L21) thus the failures

[2018-02-02 10:25] yves-vogl commented on #4617
I running into this issue on macOS 10.13.2 (17C205) with

[code]
…on branch release-3.7

pyOpenSSL 0.13.1 comes preinstalled with macOS.

The line in my inventory goes like this:

[code]

[2018-02-02 12:59] #6930 closed

[2018-02-02 14:47] ewolinetz commented on #5293
We would be modifying a machine that wouldn't be in the list of hosts (which would be unexpected) and we can't assume that the user has root access on the control node (localhost).

[2018-02-02 15:09] aizikil commented on #6986
I've included it in [OSEv3:vars] group and have done that like this: `os_firewall_enabled=false`, because I use ini format in the hosts file. I've tried to create a separate group [OSEv3] and included this setting there, but it haven't work out as well.

I'll try to create fresh base image and test installation on it. I think there are some problems at base vagrant image.

[2018-02-02 15:37] itewk commented on #5293
Maybe I am just a weird user, I would rather have a playbook that works without me having to do anything then have 10 manual steps I have to follow before I can use the automation :). Maybe its just me, it just seems silly to have manual prerequisite steps before an otherwise automated process.

At least getting the doc updated would be good. Then maybe providing a playbook, or a flag, that can be

[2018-02-02 16:02] vrutkovs commented on #5293
`httpd-tools` is optional and required only when `openshift_master_identity_providers` has `htpasswd_auth`, this is why its not listed in requirements.

Control node packages cannot be verified via a playbook, as control node may not have root access

[2018-02-02 16:25] aizikil commented on #6986
@vrutkovs which branch is stable ? Could I use for example origin/release-3.7 ?

[2018-02-02 16:35] aizikil commented on #6986
I think that one is related. Will try to test that too.

https://github.com/openshift/openshift-ansible/issues/6087

[2018-02-02 17:41] tzumainn commented on #6829
@mbruzek @tomassedovic Would this PR fit your needs?

https://github.com/openshift/openshift-ansible/pull/7002

[2018-02-02 17:42] tzumainn commented on #6829
@mbruzek Oh, whoops, didn't realize you had your own PR ready! Quick question: can the subnet prefix be different for these added parameters?

[2018-02-02 17:44] itewk commented on #5293
@vrutkovs my `openshift_master_identity_providers` is `idm` and I still hit it saying that `httpd-tools` was required....

[2018-02-02 18:53] vrutkovs commented on #6986
All `release-*` branches are considered stable, `master` would install 3.9, which is not yet released though.

[2018-02-02 19:23] #6968 closed

[2018-02-02 20:19] mbruzek commented on #6829
@tzumainn As we discussed in #shiftstack for CIDRs less than 24 the prefix is different and this causes a problem with the current implementation. For example: 192.168.99.0/20 covers a range of 192.168.96.0 - 192.168.111.255 so the prefix method is not valid.

[2018-02-02 21:05] jcantrill opened #7006 "cluster_facts is broken when deploying from containerized installer and ansible_connection=local"
#### Description

While trying to use `oc cluster up --metrics|--logging` deployment fails with:

TASK [Gather Cluster facts] ***************************************************************************************************************************************************************************************
task path: /usr/share/ansible/openshift-ansible/playbooks/init/cluster_facts.yml:9
Friday

[2018-02-02 21:06] jcantrill commented on #7006
This blocks the fix required for: https://github.com/openshift/origin/issues/18291

[2018-02-02 21:17] jcantrill commented on #7006
Is  https://github.com/openshift/origin/issues/18200 a similiar issue?

[2018-02-02 21:22] jcantrill commented on #7006
closing as a dup to #17237

[2018-02-03 05:14] sabre1041 opened #7008 "e"
#### Description

Provide a brief description of your issue here. For example:

##### Version

Please put the following version information in the code block
indicated below.

* Your ansible version per `ansible --version`

If you're operating from a **git clone**:

* The output of `git describe`

If you're running from playbooks installed via RPM or
`atomic-openshift-utils`

* The output of `rpm

[2018-02-03 12:51] donnydavis commented on #5008
This was supposed to be fixed with https://github.com/openshift/openshift-ansible/pull/4285
However I get the same failure using centos 7 and origin 3.7

I just commented that check out, i know passlib is installed...

[2018-02-03 13:07] donnydavis commented on #5293
This is a frustrating role, maybe a install_deps playbook could optionally be run to automate the setup of the control node. I don't install openshift from an openshift node or master, i use a bastion host as a utility sever for this cluster.

[2018-02-03 14:45] pweil- commented on #4496
Ran in to this as well on a 3.7 install

[code]

[documentation](https://docs.openshift.com/container-platform/3.7/install_config/install/advanced_install.html) indicates it will default but it doesn't appear to.

[code]

[2018-02-05 03:06] jkroepke opened #7009 "Hardcoded namespace default in lib_openshift/oc_adm_router"
#### Description

Provide a brief description of your issue here. For example:

##### Version

[code]

##### Steps To Reproduce
1. Configure `openshift_hosted_routers` with namespace != default
2. Run config.yml playbook

##### Expected Results
Router successfully deployed in custom namespace

##### Observed Results
Router successfully deployed in default namespace

Maybe, because the Namespace de

[2018-02-05 06:58] fretboarder opened #7010 "Inconsistent instructions for advanced installation"
#### Description

There are no clear instructions on how to configure the advanced installation with regards to which branch of this repo shall be used.

The README of this repo says:

The OpenShift Origin documentation at https://docs.openshift.org/latest/install_config/install/host_preparation.html says:

From a logical perspective, using the release branch seems to make perfect sense, why would

[2018-02-05 10:11] aizikil commented on #6986
I found the issue yesterday. Official vagrant CentOS box contains this line in /etc/hosts

`127.0.0.1	node2.dom	node2.dom # You should rename this line when you change a hostname, normally.
`

It should be removed or commented. If CentOS is installed from scratch, there is no that line, so installation works good.

[2018-02-05 19:37] mjudeikis commented on #6801
Are we still waiting for QA?

[2018-02-05 22:53] powo commented on #6459
This issue seems to be fixed in 3.8 (commit https://github.com/openshift/openshift-ansible/commit/42d3824ba0d5a1e2cff3dc3a179cf02e735bc5da).

Quckfix for using release-3.7:
[code]

[2018-02-06 09:51] mjudeikis opened #7019 "Sat6 as Docker registry for offline install"
working on project, who wants to use a Sattelite6 as docker registry for openshift... Sattelite 6 does not have a concept of the namespace when it comes to docker registry. so the only way was to use `oreg_url` to change the ref... `oreg_url=example.com/openshift3/ose-${component}:${version}` but our ansible code has this piece of code
[code]

which implies we NEED to have `/` in the image format

[2018-02-06 10:19] mjudeikis commented on #7019
[code]
as advised by @IshentRas
testing...

[2018-02-06 10:25] IshentRas commented on #7019
openshift_cockpit_deployer_prefix=sat6.example.com:5000/myorgurl-test-cv_openshift-rhocpinstreg-openshift3_
openshift_metrics_image_prefix=sat6.example.com:5000/myorgurl-test-cv_openshift-rhocpinstreg-openshift3_
openshift_logging_image_prefix=sat6.example.com:5000/myorgurl-test-cv_openshift-rhocpinstreg-openshift3_
openshift_service_catalog_image_prefix=sat6.example.com:5000/myorgurl-test-cv_open

[2018-02-06 12:53] tremble commented on #1940
@sdodson This is actually worse than I previously suspected (especially for anyone making heavy use of the scale-up playbooks.

If you scale-up your cluster and then run playbooks/byo/config.yaml you will trigger a restart of docker *SIMULTANEOUSLY* on all hosts on the cluster.  The current docker code here is *very* dangerous for production systems.

[2018-02-06 14:40] mjudeikis commented on #7019
It still fails due other playbooks error. When trying to get openshift version if `openshift_release` is set:
[code]

this is playbook issue, as this particular step is ignoring `oreg_url` in p `vars['openshift']['common']['cli_image']`

[2018-02-06 14:41] jmontleon opened #7024 "stuck at TASK [wait for broker to come up]"
#### Description
Starting with openshift-ansible-3.9.0-0.38.0.git.0.57e1184.el7.noarch today openshift-ansible is getting stuck trying to determine the broker is up.

[code]
However, the broker is up and able to deploy APB's

[code]

##### Version

[code]

##### Steps To Reproduce
Install openshift 3.9 with catalog/ASB using openshift-ansible-3.9.0-0.38.0.git.0.57e1184.el7.noarch

##### Expected R

[2018-02-06 15:53] jmontleon commented on #7024
This seems only to happen with openshift_use_crio: true

When I went back to using docker this did not happen.

[code]

[2018-02-06 16:13] bparees opened #7027 "3.7, 3.8 imagestreams are not aligned with ose"
our ose repo has
https://github.com/openshift/ose/blob/enterprise-3.7/examples/image-streams/image-streams-rhel7.json#L849

the ansible repo has:
https://github.com/openshift/openshift-ansible/blob/master/roles/openshift_examples/files/examples/v3.7/image-streams/image-streams-rhel7.json#L849

This is also an issue for v3.8.

I guess the sync script doesn't handle the OSE repo?

[2018-02-06 16:16] jmontleon commented on #7024
`setenforce 0` before running the install stopped the error from occurring.

[2018-02-06 16:33] jarrpa commented on #6801
Yup.

[2018-02-06 16:36] mjudeikis commented on #6801
https://github.com/openshift/openshift-ansible/pull/7028

[2018-02-06 18:42] jsanda commented on #6632
@ewolinetz can you review this? Based on previous comment, it looks like I need to back port this as well. Can you tell me what branches? Then I will go ahead and open separate PRs.

[2018-02-06 20:29] sdodson commented on #7027
The release-3.7 branch was sync'd with ose/enterprise-3.7 branch here https://github.com/openshift/openshift-ansible/pull/6703/files#diff-4bf52617deb12314308787d8490d3fceR849 and that's what we ship to customers.
I'll update all the v3.7 content from release-3.7 branch so that master branch is in sync in case anyone is installing 3.7 using a master branch checkout.

After we'd spoke last I wasn't

[2018-02-06 20:34] bparees commented on #7027
Ah, ok, so at least the 3.7 errata we've shipped should be correct, that's good.

The 3.8 branch is still wrong though:
https://github.com/openshift/openshift-ansible/blob/release-3.8/roles/openshift_examples/files/examples/v3.8/image-streams/image-streams-rhel7.json#L866

(should be v3.8 i guess)

[2018-02-06 20:35] bparees commented on #7027
(looks like ose 3.8 is actually wrong (points to latest):
https://github.com/openshift/ose/blob/enterprise-3.8/examples/image-streams/image-streams-rhel7.json#L866)

i guess i'll go do a PR for that.

[2018-02-06 20:38] bparees commented on #7027
updating ose-3.8 here:
https://github.com/openshift/ose/pull/1047

[2018-02-06 20:54] bparees commented on #5383
closing due to lack of feedback needed to debug.
/close

[2018-02-06 20:54] #5383 closed

[2018-02-06 21:09] bparees commented on #7027
@sdodson updating origin/release-3.8 here to try to make your life easier: https://github.com/openshift/origin/pull/18485

[2018-02-06 22:02] allen13 opened #7036 "[openshift_storage_glusterfs] heketi setup-openshift-heketi-storage not setting image"
#### Issue Location

https://github.com/openshift/openshift-ansible/blob/master/roles/openshift_storage_glusterfs/tasks/heketi_deploy_part2.yml#L3

#### Description

The setup-openshift-heketi-storage command creates a job/pod resource without specifying an image. It then uses the heketi/heketi:dev image that is hardcoded into the binary:

https://github.com/heketi/heketi/blob/master/client/cli/go

[2018-02-07 09:28] #6632 closed

[2018-02-07 15:01] bparees commented on #7027
ok, the jenkins imagestream should be correct in both origin/release-3.8 and ose/enterprise-3.8 now.  (As well as origin/master and ose/master)

[2018-02-07 15:36] jmontleon commented on #7024
It seems to be performing properly with updates today, and I don't think it's directly related to openshift-ansible, so closing.

[2018-02-07 15:36] #7024 closed

[2018-02-07 21:17] jtcressy opened #7059 "Upgrade from 3.6 -> 3.7 fails at pulling docker images"
#### Description

Either the upgrade playbook for 3.7 needs to accept "openshift_release=v3.7.0" or the docker tag for "openshift/origin:v3.7" needs to be created. The upgrade playbook always fails, even if I remove the "openshift_release" variable from my inventory.

The playbook fails with at least one of my master nodes giving exit code 0 on the docker pull, with the interesting bits being: ``m

[2018-02-07 22:22] jpeeler commented on #6572
Glad to hear it. Pretty sure this issue was fixed by https://github.com/openshift/openshift-ansible/pull/6721 and was in 3.7.24.

[2018-02-07 22:24] #6572 closed

[2018-02-07 22:26] jtcressy commented on #7059
SOLVED:

I didn't know that "openshift_image_tag" was a variable I could set.
Upgrade completes successfully with ```
openshift_release=v3.7
openshift_image_tag=v3.7.0
[code]

[2018-02-07 22:26] #7059 closed

[2018-02-08 08:29] dexterac commented on #5335
did this get resolved?
I have recently tried installing Origin 3.7 and get the same error

TASK [openshift_hosted_templates : Create or update hosted templates] **************************************************************************************************************************************
fatal: [master1.example.com]: FAILED! => {"changed": false, "cmd": ["oc", "create", "-f", "/usr/share/op

[2018-02-08 08:30] dexterac commented on #5335
openshift seems to be installed however

will prompt for password and fails

[2018-02-08 08:49] dexterac opened #7065 "unable to login system:admin"
#### Description

Installed 3 master 1 etcd and total 7 nodes cluster.

[code]

[code]

##### Version

Please put the following version information in the code block
indicated below.

ansible 2.4.2.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/home/atul_chaudhari/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location =

[2018-02-08 13:45] flaper87 commented on #6946
I did some extra investigation on this and turns out this happens only with origin `3.7`. There's a fix for the node container to process the CLI arguments properly but we also need to change some things in `openshift-ansible`. For instance, I believe the parameters should follow the form `--disable=proxy` rather than `--disable proxy`

[2018-02-08 13:58] feld-ims commented on #7059
is:
`openshift_image_tag=v3.7.0`

the same as:
`openshift_version=3.7.0`

?

[2018-02-08 14:02] jtcressy commented on #7059
I left openshift_version undefined, but I believe it sets the package version for the rpm's. I think it auto-sets itself to ``openshift_version=-3.7.0`` after the playbook runs.

[2018-02-08 19:12] jkroepke opened #7075 "Errors, if `openshift_master_generated_config_dir` is not local."
#### Description

Getting errors on the installation, if `openshift_master_generated_config_dir` is not local. Because hard links work only on the same device.

See here: https://github.com/openshift/openshift-ansible/blob/dffd34a1b4088d32ccbf69ce58ab930575146e8f/roles/openshift_master_certificates/tasks/main.yml#L105

##### Version

[code]

##### Steps To Reproduce
1. Mount a device or fs under `

[2018-02-09 17:09] adgud commented on #6560
I had the same exact problem, I solved it by running `playbooks/prerequisites.yml` playbook first - this should be mentioned in docs.

[2018-02-09 17:40] michaelgugino commented on #6897
@kwoodson could you take a look at this for the AWS provisioning part?  I am unable to duplicate this issue and we aren't seeing it in CI or from QE.  Perhaps it's something specific to AWS plays.

[2018-02-10 10:34] vrutkovs opened #7098 "3.7 upgrade using master branch: "lib_utils_oo_select_keys failed expects first param is a list""
Upgrading 3.7 containerized cluster on Fedora Atomic to 3.7.1 using openshift-ansible-3.9.0-0.42.0:

[code]

Full log: https://gist.github.com/75230ad7db4c74215f87f387af0da248

[2018-02-10 10:45] vrutkovs commented on #7098
I was using a weird inventory, where `g_etcd` var was listing hosts there. This apparently is not supported.

The task passed when correct `etcd` was created

[2018-02-10 10:45] #7098 closed

[2018-02-10 18:16] gun1x commented on #6606
I was able to successfuly run ./playbooks/prerequisites.yml, however i still got this error on all servers.

[code]

Here is my inventory file:
[code]

[2018-02-10 18:29] gun1x commented on #6899
I followed the documentation and I didn't see any notification that releases past v3.7 will only work on Atomic hosts. Did I miss it? Is this mentioned in the documentation?

Does this mean that Atomic hosts is required for all node types (master, infra, compute, gluster)?

[2018-02-11 11:17] DanyC97 commented on #5926
this can be closed as duplicate https://github.com/openshift/openshift-ansible/issues/6116

[2018-02-11 11:20] DanyC97 commented on #6247
can this be closed please since it was fixed in what @jarrpa mentioned ?

[2018-02-11 11:34] DanyC97 commented on #6116
@michaelgugino  @jarrpa  am i right to believe this work can be done by just stripping all the tasks out with the condition `openshift_storage_glusterfs_wipe` and then as you said improve it such that less `set_facts` are used ?

[2018-02-11 11:36] DanyC97 commented on #6661
@smossber can you try with a newer openshift-ansible tag version ?

I tried with latest `openshift-ansible-3.7.29-1` and no longer have that error _however_ i have a new one

[code]

for which i'll open a new issue.

[2018-02-11 11:43] rhinoceros commented on #6574
I have the same issue!

[2018-02-11 11:57] dwimsey commented on #6897
I'm seeing this error when doing a bare metal install as well, just for reference.  Installation is being done via Ansible AWX 1.0.3.

TASK [openshift_node : file] ***************************************************06:38:33
Sunday 11 February 2018  11:38:33 +0000 (0:00:00.711)       0:18:59.812 *******
fatal: [master-02.origin.cary.shackspacehosting.com]: FAILED! => {"msg": "The conditional check

[2018-02-11 11:59] allen13 commented on #7036
This issue was fixed in the master branch by reverting a previous commit: https://github.com/openshift/openshift-ansible/commit/f2ea513cde9dad1fb83bd10baa40c69da70a0bfe

Now the same needs to be done for the release-3.7 branch by reverting this commit
https://github.com/openshift/openshift-ansible/commit/3d3853836d71c37a9c81aea8e606c94052439789

Once this is complete this issue can be resolved. Th

[2018-02-11 16:09] kwoodson commented on #6897
@mazzystr, I ran into the same issue when my openshift_node_labels was a string.  I believe it needs to be a dict/hash.
Try replacing:
[code]
with
[code]
The error message here: `'unicode' object has no attribute 'items'` means that the incoming object is not a dictionary but a unicode object.

Can you please attempt with a dictionary instead of a string?

[2018-02-11 16:53] #6247 closed

[2018-02-11 16:55] jarrpa commented on #5926
This is not a duplicate issue. One is a code cleanup the other is implementing new functionality.

[2018-02-11 18:01] kwoodson commented on #6897
I believe the issue is here: https://github.com/openshift/openshift-ansible/blob/master/roles/openshift_node/defaults/main.yml#L30
[code]
The node labels used to come in as a string.  This code expects them to be a dictionary.  When the `lib_utils_oo_dict_to_keqv_list` filter (https://github.com/openshift/openshift-ansible/blob/master/roles/lib_utils/filter_plugins/oo_filters.py#L242) attempts to

[2018-02-11 18:01] DanyC97 commented on #5926
well  both can be squash into the same feature/ request etc.
up to you if you want to keep them open / different - i see no difference...

[2018-02-11 18:04] DanyC97 commented on #7036
@jarrpa  are you the right person to do the cherry-pick ? thanks

[2018-02-11 18:06] jarrpa commented on #5926
Definitely a difference in terms of the work covered, especially since one can be done without the other. :)

[2018-02-11 18:07] jarrpa commented on #7036
I'm a reasonable person to do it, sure. Can't guarantee when I'd get to it, however. It'd probably be part of a larger bundle of backports once QE on 3.9 is done.

[2018-02-12 02:05] packagewjx opened #7101 "TASK [openshift_service_catalog : wait for api server to be ready] failed after 120 attempts"
#### Description

I am trying to run playbooks/byo/config.yml from release 3.7 branch to install openshift on my all-in-one server. It can't pass the TASK [openshift_service_catalog : wait for api server to be ready].

##### Version

* Your ansible version per `ansible --version`

[code]

* The output of `git describe`

[code]

##### Steps To Reproduce
1. `ansible-playbook openshift-ansible/playbo

[2018-02-12 12:58] siamaksade opened #7104 "Add Jenkins v3.7 tag to the RHEL7 image streams"
The `latest` tag for Jenkins image in Red Hat container catalogue does not point to the latest Jenkins version anymore and points indefinitely to the version shipped with OpenShift 3.6. The RHEL 7 image streams json file (`image-streams-rhel7.json`) only imports the Jenkins `latest` tags which means it would deploy older versions of Jenkins on OpenShift 3.7+ by default.

The Jenkins 3.7 tag should

[2018-02-12 12:58] siamaksade commented on #7104
@bparees

[2018-02-12 13:54] sdodson commented on #7036
/assign jarrpa

[2018-02-12 14:16] michaelgugino commented on #6116
@DanyC97 I'm unsure about the openshift_storage_glusterfs_wipe variable, but if you want to cut a patch that limits the usage of set_fact, I'll gladly take a look.  Just @' me in that PR.

[2018-02-12 14:22] michaelgugino commented on #6897
@kwoodson I'm not sure that's the issue.  I use string type for openshift_node_labels exactly as shown in the examples.  Here's the inventory I tested with: https://github.com/michaelgugino/openshift-stuff/blob/master/centos/inv-centos.txt

This also matches what we're doing in CI.

I think the most proper fix if this is indeed the problem is to issue a try/except json.loads() if the data is a str

[2018-02-12 14:31] kwoodson commented on #6897
I'd be curious to see if ansible is converting that value to a dictionary or continuing to be a string. The unicode object error is coming from the filter plugin as data has no items because it is a string.

[2018-02-12 14:55] bparees commented on #7104
dupe of https://github.com/openshift/openshift-ansible/issues/7027

[2018-02-12 14:55] #7104 closed

[2018-02-12 15:04] jarrpa commented on #6116
@michaelgugino @DanyC97 I ask that this not be done until master forks for 3.10 at the very least.

[2018-02-12 15:41] michaelgugino commented on #6897
@kwoodson I believe ansible already converts the json string to a dictionary by default.  However, I am unable to duplicate the issue raised here; if you can duplicate the issue and try to perform a try/except json.loads() on data == string type, that might fix the issue.

[2018-02-12 16:18] mrsiano opened #7109 "processing template failed"
#### Description
the following error occurred when processing a template

An exception occurred during task execution. To see the full traceback, use -vvv. The error was: __main__.OpenShiftCLIError: Something went wrong. {'cmd': '/usr/bin/oc get template /tmp/grafana.yaml -o json -n grafana', 'returncode': 1, 'results': [{}], 'stderr': u"error: there is no need to specify a resource type as a sepa

[2018-02-12 16:20] mrsiano commented on #7109
@sdodson @mbruzek
/cc @jeremyeder

[2018-02-12 17:01] ashcrow commented on #5290
- https://github.com/openshift/openshift-ansible/pull/7057
- https://github.com/openshift/openshift-ansible/pull/7111

[2018-02-12 19:31] fdmontero opened #7118 "Router is continuously being restarted due to probe in port 80"
I have installed Openshift Origin using ansible and rpm based. I have a router a registry and a registry-console. The router is recreating the pod every 30 seconds. Some kind of health check on port 80 is exiting with no success and the pod is being restarted.

I0212 19:11:59.673136       1 template.go:254] Starting template router (v3.7.0+7ed6862)
I0212 19:11:59.674646       1 metrics.go:148] Rou

[2018-02-12 19:36] michaelgugino commented on #7010
@fretboarder you should be able to set

openshift_release='v3.7.1'

to get the desired version.  I recommend using the 3.7 release branch for this case.

Thanks for pointing out the doc problem, we'll have to get that patched.

[2018-02-12 19:51] michaelgugino commented on #6931
@cameronbraid I believe we recommend using the upgrade playbook.

[2018-02-12 23:08] jkupferer commented on #3498
You can work around this issue by setting COPYFILE_DISABLE=1 in the environment of the tasks that copy over files with tar. In particular I have found `roles/openshift_hosted_templates/tasks/main.yml` and `roles/openshift_examples/tasks/main.yml`. You will need to add the environment bit in both of these:

[code]

[2018-02-13 06:06] fretboarder commented on #7010
@michaelgugino

Obviously, this doesn't work for the RPM install, here's the Ansible failure message:

``
TASK [openshift_version : For an RPM install, abort when the release requested does not match the available version.] ***
fatal: [oo-master-0]: FAILED! => {
    "assertion": "openshift_version.startswith(openshift_release) | bool",
    "changed": false,
    "evaluated_to": false,
    "msg": "Y

[2018-02-13 08:43] oleio commented on #6788
+1

how to resolve this problem ?

[2018-02-13 09:07] vrutkovs commented on #6899
Releases past 3.7 will work on Fedora / CentOS / RHEL hosts as well as Atomic hosts

No.

This issue is about a configuration where a classic Fedora / CentOS / RHEL hosts is used with containerized = true - this config is not supported as Atomic hosts have necessary packages installed

[2018-02-13 09:14] vrutkovs commented on #6788
I've updated my containerized install on Fedora Atomic using `master` branch. This should work for CentOS containerized installs - and for `release-3.7` branch.

What's the error message?

[2018-02-13 09:17] vrutkovs commented on #6986
Sounds like a vagrant-specific issue, not related to openshift-ansible.

This repo can't detect whether its an install in Vagrant - or any lines in `/etc/hosts` should be removed

[2018-02-13 09:37] gun1x commented on #6899
Is it specified in the documentation that "containerized = true" will only work on atomic hosts?

[2018-02-13 10:09] DanyC97 commented on #6116
okay @jarrpa  then will hold off. _i'd love if i could see what big changes are coming in 3.10_  ;)

[2018-02-13 10:11] DanyC97 commented on #6574
@rhinoceros same question i've asked before applies to you: _where have you seen that openshift docker version supported is 17.x_ ?

[2018-02-13 10:14] DanyC97 commented on #6788
@vrutkovs the OP raised this issue due to

Looking [here](http://mirror.centos.org/centos/7/paas/x86_64/openshift-origin/) i don't see the 3.7.1 rpms, am i missing s'thing ?

[2018-02-13 13:52] jarrpa commented on #6116
@DanyC97 It's not that big changes are coming, it's that I want to keep the branch as stable as possible until 3.9 forks. Don't introduce any changes that aren't strictly required for the release. In addition we need to backport a lot of fixes to 3.7 and 3.6, and a playbook cleanup is not something that is at all crucial to have backported quickly.

[2018-02-13 14:11] sosiouxme opened #7128 "[k8s.io] InitContainer should not start app containers and fail the pod if init containers fail on a RestartNever pod [Suite:openshift/conformance/parallel] [Suite:k8s]"
[code]

https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-ansible/7110/test_pull_request_openshift_ansible_extended_conformance_install/5085/

[2018-02-13 14:13] sosiouxme commented on #7128
Sorry; wrong repo

[2018-02-13 14:13] #7128 closed

[2018-02-13 14:24] php-coder commented on #7008
@sabre1041 I see that this issue was created by mistake. Could you close it or modify title/body to describe what issue do you have? Thanks!

[2018-02-13 15:10] nickkeyzer opened #7129 "TASK [openshift_examples : Import Centos Image streams] Fails"
#### TASK [openshift_examples : Import Centos Image streams] Fails

Testing cluster upgrades using the Vagrant file included in the `openshift-ansible-contrib` project. Openshift Origin 3.6 deploys successfully but running the Openshift 3.7 upgrade fails.

##### Version

[code]

##### Steps To Reproduce
1. Deploy Openshift 3.6 (`openshift-ansible-3.6.173.0.44-1`) cluster using Vagrantfile from `op

[2018-02-13 15:39] michaelgugino commented on #7010
@fretboarder that message indicates your system did not detect 3.7.1 rpms.

I only see 3.7.0 here: http://mirror.centos.org/centos/7/paas/x86_64/openshift-origin37/

Origin may have released 3.7.1, but that doesn't necessarily mean that each distro has provided packages for that new release.

It's easier to stay closer to origin's release cycle if you switch to containerized deployments.  The imag

[2018-02-13 16:05] siamaksade commented on #7027
I'm a bit confused where this is supposed to be corrected. This how it looks like now:

release-3.7 /v3.7/: corrected
https://github.com/openshift/openshift-ansible/blob/release-3.7/roles/openshift_examples/files/examples/v3.7/image-streams/image-streams-rhel7.json#L849

master /v3.7/: not corrected
https://github.com/openshift/openshift-ansible/blob/master/roles/openshift_examples/files/examples/

[2018-02-13 16:06] ashcrow commented on #5290
/cc @dgoodwin

[2018-02-13 16:07] ivar1234 commented on #4111
I got this fatal error upon running ansible roles using vault info on ansible 2.2.1.

fatal: [x.x.x.x]: FAILED! => {"ansible_facts": {}, "changed": false, "failed": true, "message": "Decryption failed on creds.yml"}

Going thru this above notes, I did tried putting passlib & upgrading ansible to 2.2.3 and getting the same result :(  Cant find any other possible fix to this error.  I can edit the v

[2018-02-13 16:16] bparees commented on #7027
ideally master /v3.7 and master /v3.8 would be corrected though I believe @sdodson explained to me that that is not strictly necessary because they aren't actually used (since master is effectively v3.9)

release-3.8 /v3.8 needs to be corrected unless we skip updating imagestreams during the 3.8 install/upgrade.

[2018-02-13 16:48] jeffwji opened #7131 "How to name ETCD's bundle IP?"
#### Description

##### Version

* ansible 2.6.0 (devel c3523cdd60) last updated 2018/02/09 13:17:05 (GMT -400)
* openshift: orgin 3.7.0

##### Steps To Reproduce
1. ansible/bin/ansible-playbook openshift-ansible/playbooks/prerequisites.yml
2. ansible/bin/ansible-playbook openshift-ansible/playbooks/deploy_cluster.yml

##### Observed Results

[code]

Output of origin-master-api :
[code]

##### Add

[2018-02-13 16:57] fretboarder commented on #7010
@michaelgugino

Using the containerized installation on CentOS doesn't work either. Yes, I'm using the release-3.7 branch.

In my inventory file I have
[code]

The installer fails with:
[code]

By the way: According to https://docs.openshift.org/latest/install_config/install/rpm_vs_containerized.html
the default installation method on CentOS is RPM based.

The configuration that works for v3.7.0 i

[2018-02-13 18:34] jeffwji commented on #7131
It has been fixed by putting `openshift_ip` and `openshift_public_ip` to master node

[2018-02-13 19:02] ozdanborne opened #7134 "Ensure CA certificate exists on etcd_ca_host fails"
#### Description

Ansible provision is failing with the following output:

[code]

Here's what the permissions of the files in question look like on that host. Some files are owned by root, others by etcd:

[code]

##### Version

Please put the following version information in the code block
indicated below.

* Your ansible version per `ansible --version`

`ansible 2.4.3.0`

If you're operating fr

[2018-02-13 19:14] ozdanborne commented on #7134
I'm not getting this with the `release-3.8` branch.

[2018-02-13 20:31] michaelgugino opened #7136 "atomic-openshift-clients not in exlcuders"
On RHEL 7, if 3.9 repos are enabled, 3.7 install will pull in 3.9 packages.

This seems to be due to atomic-openshift-clients not being in excluders.

[2018-02-13 23:05] DanyC97 commented on #6116
fair point @jarrpa

[2018-02-14 11:50] #7109 closed

[2018-02-14 11:52] mrsiano commented on #7109
solved.
oc_process templates cannot have path to file it requires template name that already sotred in etcd:

- name: Create grafana template
  oc_obj:
    namespace: grafana
    kind: template
    name: grafana
    state: present
    files:
    - "/tmp/grafana.yaml"

- name: Process the grafana file
  oc_process:
    namespace: grafana
    template_name: grafana
    create: True

[2018-02-14 12:59] piyushkv1 opened #7144 "[Atomic-Install] single master install, service catalog FAILED"
#### Description

Creating cluster via 'atomic-openshift-installer install' but step service catalog has failed. Error is not shown to user.

##### Version
* Your ansible version per
[code]

If you're operating from a **git clone**:

* The output of `git describe`

If you're running from playbooks installed via RPM or
`atomic-openshift-utils`

* The output of `rpm -q atomic-openshift-utils openshi

[2018-02-14 14:28] mahsa-frj opened #7146 "set ssl on console"
##### Description
Hi everybody, I installed openshift on
3 master
[code]

1 infra
[code]

1 node and
[code]
1 loadbalancer
[code]

firstly I run ansible and everything is fine BUT when I set below variables in inventory file for setting certificate, I get error.
openshift_master_cluster_hostname and openshift_master_cluster_public_hostname are different and cname record of lb.example.com.
[code]

[2018-02-14 15:35] juanwolf opened #7151 "Logging installation fails on containerized installation"
#### Description

I tried to install the logging platform into openshift using the `playbooks/byo/openshift-cluster/openshift-logging.yml` playbook, but it failed with this error:
[code]

##### Version

[code]

##### Steps To Reproduce
1. Setup a master "containerized"
2. Run the `playbooks/byo/openshift-cluster/openshift-logging.yml` playbook

##### Expected Results
Describe what you expected to

[2018-02-14 16:20] vrutkovs commented on #7151
Seems it would be fixed by #7081

[2018-02-14 16:58] juanwolf commented on #7151
I

[2018-02-14 16:58] #7151 closed

[2018-02-14 19:02] DanyC97 opened #7156 "GlusterFS - why heketi needs to go over OpenShift Router"
Any reason why fro the native deployment `heketi` needs a openshift router (ingress) as a requirement

I see the route is being created [here](https://github.com/openshift/openshift-ansible/blob/release-3.7/roles/openshift_storage_glusterfs/files/v3.7/heketi-template.yml#L28-L38)  but i was hopping this can be done using the internal dns `svc.cluster.local` ?

@jarrpa i'm sure you are the person w

[2018-02-14 20:02] jarrpa commented on #7156
Hey, no better recourse means it's the perfect place. :)

The Route is specifically to allow for instances of heketi-cli that are installed outside the OpenShift cluster. There are many users that want that functionality for a variety of reasons.

If you're asking why the Route is used in the generated StorageClass, truth is that design pattern was present before I came along and I just haven't bo

[2018-02-14 20:40] ewolinetz opened #7157 "For 3.9 any updates under master-config.yaml assetConfig.* is no longer used"
Per conversation with @deads2k and @jcantrill
The logging and metrics roles no longer are required to update the master-config file for masters. In fact, for 3.9 anything under `assetConfig` in the config file is dead.

The logging and metrics roles should be updated accordingly so that there is no longer a need to restart master when doing installs with these roles.

[2018-02-14 20:50] christianh814 opened #7158 ""Verify that TSB is running" fails when it's actually running."
#### Description

Provide a brief description of your issue here. For example:

During an install, TSB check returns...

[code]
...and eventually fails.

Looking at the playbook...looks it's checking with a simple curl

[code]
My TSB is up and running

[code]

Wouldn't it make more sense, since if you're at this point the `oc` binary should be install, to get the route first...

[code]

And use th

[2018-02-14 20:55] christianh814 commented on #7158
First attempt with #7159

[2018-02-14 21:00] allen13 commented on #7156
If we could at least have an option to override the route in the StorageClass with an internal service using a group var I would be happy. Using a router introduces another point of failure. In my organization our routers are connected to external load balancers, which means one more additional hop is added further reducing reliability/response times. I don't see the glusterfs storage class ever n

[2018-02-14 21:07] jarrpa commented on #7156
Okay, I can see that. :) At the moment I don't see any of us getting around to this any time soon, but if you or someone else feels up to it I'll review a PR to make it happen. I'll assign myself to this Issue just to keep tabs on it, at least.

[2018-02-14 21:10] DanyC97 commented on #7156
@jarrpa thx for the quick response

will try to see if it works first w/o the ingress because i came across this [K8 issue](https://github.com/kubernetes/kubernetes/issues/42306)

[2018-02-14 23:26] DanyC97 opened #7162 "GlusterFS - fails on "Verify heketi service" task"
Running latest 3.7 `openshift-ansible` tag branch, i get on a greenfield gluster native deployment the below error

The Origin 3.7.0 deployment is being done using the `byo/config.yml` playbook.

[code]

[2018-02-14 23:27] DanyC97 commented on #7162
has anyone seen this before?

Note that i even tried the `glusterfs` namespace hoping this will reset the situation, no luck

[2018-02-14 23:30] DanyC97 commented on #7162
@jarrpa  or @allen13 i believe you haven't seen it ?

[2018-02-14 23:57] allen13 commented on #7162
I believe it’s leaving behind a token/private key from a previous failed run. I had to delete the whole project and every host path folder that the pods mounted. Can’t confirm which host path folder it is since I lacked the patience to eliminate them systematically. This could also be a separate issue. Please post back if you figure it out!

[2018-02-15 07:48] DanyC97 commented on #7162
@allen13 i've deleted the whole project/ namespace too but no luck. I shall try to chase the hostPath and see where i get too.

[2018-02-15 07:51] cynepco3hahue commented on #6756
@michaelgugino Hi, I again encounter the same problem with `containerized` I believe it because of
https://github.com/openshift/openshift-ansible/pull/7124.

[2018-02-15 09:16] vrutkovs commented on #7158
It checking that TSB is running using internal DNS server. If `.svc` URL is not accessible from one of the masters then DNS resolution is broken and other things might go wrong - e.g. pulling/pushing from internal registry

[2018-02-15 09:25] Klaas- commented on #5466
I have a similar issue with openshift-enterprise 3.7, but it doesn't seem to affect my master, only the nodes. I see in logs that /etc/NetworkManager/dispatcher.d/99-origin-dns.sh is being executed and it seems to work but something else is overwriting the resolv.conf afterwards. If I insert sleep 1 into /etc/NetworkManager/dispatcher.d/99-origin-dns.sh it works :)

Greetings
Klaas

[2018-02-15 12:02] jaenswart commented on #5756
still getting this issue: Is there any known workarounds

minishift v1.11.0+d7f374a
CDK v3.3.0-1
OSCP v3.7.14

[2018-02-15 15:26] michaelgugino commented on #6756
@cynepco3hahue Are you setting openshift_release in your inventory?

I believe you will encounter this error if you have openshift_pkg_version set, have multiple openshift repos enabled, and don't specify openshift_release.

[2018-02-15 15:41] aizikil commented on #6986
I believe that simple check could be easily added to the playbook. It will save a lot of time and headache for the people who use vagrant to test various stuff. By the way, this line exists in Debian and if I'm not mistaken in SLES too. Of course you don't use this distros for know. But who can predict the future ?

[2018-02-15 15:57] siamaksade commented on #7027
@sdodson I just installed OCP v3.7.23 and the jenkins imagestream tags are like before. Will it be fixed on OCP 3.7?

[2018-02-15 16:35] DanyC97 commented on #7162
@allen13 @jarrpa just made some progress on this and here is my conclusion:

Steps to reproduce

1) for a running cluster, set the `openshift_storage_glusterfs_wipe=True` in inventory file so we can wipe everything off
2) you will see it pass Verify heketi service" task however it fail at next task [1] (i'll open a new issue for that)
3) re-run the `playbooks/byo/openshift-glusterfs/config.yml -vv

[2018-02-15 17:34] christianh814 commented on #7158
It may be an issue with a disconnected install. The environment works fine. I rerun the playbook with my changes and everything finishes fine and the env works from what I can tell.

Any reason why not use the URI of the svc instead of the shorthand

[2018-02-15 17:41] jarrpa commented on #7162
I'll note that the `openshift_storage_glusterfs` role:
1. Is not yet designed to be idempotent
2. Is not supported to be rerun more than once without removing all elements of any previous installation
3. Has not had the `glusterfs_wipe` functionality extensively tested

That said, your issue is still interesting. Are you saying that on a subsequent run the heketi server is still using the admin se

[2018-02-15 18:32] sinnykumari commented on #4593
This happened with me as I was using 172.30.0.0/16 as subnet. Later I changed it to 10.0.0.0/16 and it worked!

[2018-02-15 18:58] Tirke opened #7167 "GlusterFS Hosted Registry - Deploy PersistentVolumeClaim definitions failure"
#### Description

[code]

This is on a fresh install of openshift-ansible-3.9.0-0.45.0

Edit : lowercase none should fix it ?

[2018-02-15 19:54] DanyC97 commented on #7162
Yes, indeed . That is reinforced by looking at the

[code]

I suspect this is happening because

[code]

but then we have this [condition](https://github.com/openshift/openshift-ansible/blob/master/roles/openshift_storage_glusterfs/tasks/glusterfs_common.yml#L218) which will always skip

[code]
have i got it right ?

[2018-02-15 20:18] allen13 commented on #7162
I can confirm the same behavior. If the glusterfs deployment fails for any reason during the deploy phase it doesn't keep old keys or update to new ones which creates a mismatch.

It should be noted that when loading the disk topology there is a really high chance of failure since it involves disks and partitioning. Admins are going to have to rerun this portion of the playbook multiple times whil

[2018-02-15 20:23] jarrpa commented on #7162
Ah, yeah. Like I said, the role is not yet designed for running multiple times. If something fails and you want to start over you the only supported method is to remove all artifacts of the previous installation before retrying. Yes, this also means wiping the contents of the target storage devices. `glusterfs_wipe` may help most of this, but it is not verified and likely incomplete.

[2018-02-15 20:58] d-malko opened #7168 "can't access to http with error ERR_INVALID_HTTP_RESPONSE (  )"
#### Description

Good day!
I am new in OpenShift and want to try OpenShift tools, but  I've got an error.
Sorry, if I right in wrong repository.
I'll be gratefull for any advice.

##### Version
[code]

##### Steps To Reproduce
1.downloaded and untar package from repository to PATH dir
2. oc cluster up

[code]

docker ps

##### Expected Results
Want to access via browser

##### Observed Results
Wh

[2018-02-15 21:30] rgordill commented on #5756
That is my workaround:

from a RHEL VM, create a fixed container with following dockefile:

[code]
do a docker save on this host, and then a docker load on the minishift VM

Then, you have 2 choices.

1) Recreate the openshift-ansible-metrics and openshift-ansible-logging job.
2) Use image caching mechanism, do a minishift image export + minishift image config-view add, so this new image is cache.

[2018-02-15 22:48] Shelnutt2 opened #7173 "lib_utils_oo_random_word is not defined on release-3.7"
#### Description

On branch release-3.7, lib_utils_oo_random_word is not defined and leads to logging task failing during installation.

##### Version

[code]

##### Steps To Reproduce
1. git clone release-3.7
2. ansible-playbook playbooks/byo/openshift-cluster/openshift-logging.yml

##### Expected Results
No errors :)

##### Observed Results
Describe what is actually happening.

A call to lib_uti

[2018-02-15 23:16] Tirke opened #7175 "GlusterFS Openshift hosted playbook failure"
#### Description

openshift hosted playbook is failing on master.

This is the error I get :

[code]

I think that #6969 is causing this issue because if I use a tag before this PR (eg openshift-ansible-3.9.0-0.32), i can deploy successfully.

##### Version

* Your ansible version per `ansible --version`
[code]

* `git describe`
openshift-ansible-3.9.0-0.45.0-5-g9ef2f7e

My inventory file is prett

[2018-02-16 02:23] sjenning opened #7177 "Can't pull cri-o system container image from authenticated registry"
https://github.com/openshift/openshift-ansible/blob/master/roles/container_runtime/tasks/systemcontainer_crio.yml#L46

The `atomic pull` command has a flag `--src-creds <username>:<password>` which allows pulls from authenticated registries.

@sdodson anyway we could plumb the existing `oreg_auth_user` and `oreg_auth_password` in there?

@mrunalp @runcom

[2018-02-16 06:17] runcom commented on #7177
@giuseppe PTAL as well

[2018-02-16 08:16] giuseppe commented on #7177
the new version of atomic/Skopeo can deal with a registry that requires an authentication.  We are tracking it here:

https://bugzilla.redhat.com/show_bug.cgi?id=1510148

What version of Skopeo are you using?

[2018-02-16 11:42] vrutkovs commented on #7168
The issues against clusters deployed using `oc cluster up` should go to https://github.com/openshift/origin.

The resolution for this is simple though - `8443` is an alternative port for SSL, so `https` should be used in curl.

[2018-02-16 11:42] #7168 closed

[2018-02-16 11:46] vrutkovs commented on #7129
That sounds like a temporary issue when images are being pulled. Does this occur every time?

[2018-02-16 12:47] Asgoret commented on #7162
@DanyC97 Hi. I have some troubles with glusterfs+heketi.
1) While you installing cluster, heketi must be started by user (it may be root), but not as service. I don't know why, but if heketi started like a daemon it crashed while cluster installing (i openned issue, you may look there for more details)
2) Heketi server can handle only one extend glusterfs cluster. So if you have two extend gluster

[2018-02-16 15:38] yrjo commented on #7167
same issue here, with NFS backed PV/PVC,

openshift version:
openshift v3.7.0+7ed6862
kubernetes v1.7.6+a08f5eeb62
etcd 3.2.8

[2018-02-16 15:40] sjenning commented on #7177
[code]

[2018-02-16 15:44] DanyC97 commented on #7162
@Asgoret can you point me to issue # 1  ?

Regarding issue # 2 i'm a bit lucky ;) cause i'm not using it for docker registry, but thanks very much for the heads up.

[2018-02-16 16:07] yrjo commented on #7167
and agreed with Tirke,
{% if claim.storageclass is not None %}
->
{% if claim.storageclass is not none %}

in openshift-ansible/roles/openshift_persistent_volumes/templates/persistent-volume-claim.yml.j2

helped.

[2018-02-16 16:41] giuseppe commented on #7177
that should be good to go.  Could you please also check the version of `atomic`?

`0.1.28-dev` uses the Docker credentials set via `oreg_auth_user` and `oreg_auth_password` when copying to the ostree storage.  Is the registry accessible with `skopeo inspect docker://....` at the moment of the failure?

[2018-02-16 17:18] sjenning commented on #7177
Huh.  I try it today and it works on a cluster that I already installed with docker, not cri-o.  I wonder if it is just that the ~/.docker/config.json file is not created in the prereqs playbook before the cri-o system container pull is attempted.  Either that or skopeo was updated in the repos between my attempts.

[code]

[2018-02-16 17:29] giuseppe commented on #7177
I've opened a PR to ensure we are logged in before we attempt to pull the image:

https://github.com/openshift/openshift-ansible/pull/7185

[2018-02-16 21:21] sjenning commented on #7177
Not sure what happened the first time I ran this, but the original issue isn't happening anymore.  I don't think this fix is required.  Sorry for the noise :-/

[2018-02-16 21:21] #7177 closed

[2018-02-16 21:45] Shelnutt2 commented on #7173
Fixed in #7174

[2018-02-16 21:45] #7173 closed

[2018-02-17 16:03] datarace opened #7194 "GlusterFS PVs lost on reboot - mountPath /etc/target missing from glusterfs-template.yml"
#### Description

##### Version

3.7.23.1
Issue also looks to be in 3.9

[code]

#####
Steps To Reproduce
1. Install openshift & gluster playbooks.
2. Run manual steps identified in Issue #6801
3. Create Glusterblock pv using pvc
4. Reboot all nodes
5. PV is 'lost'

##### Expected Results
PV whould be present after reboot

##### Observed Results
Describe what is actually happening.

[code]

#####

[2018-02-17 16:04] datarace commented on #7194
Cause of the issue has been identified in Support Case 02029417 (missing /etc/target mount on underlying node)

[2018-02-17 16:35] jarrpa commented on #7162
@Asgoret

1. heketi is able to handle more than one GlusterFS cluster, that one of the main reasons it was created. You can specify multiple clusters per host group by just specifying the desired cluster ID (just whatever string you want) for each node. We do still recommend using two heketi instances for apps and infra to prevent errors on one affecting the other and to keep them logically separa

[2018-02-17 19:27] mjudeikis commented on #7194
@jarrpa ping. One more for gluster block. Are you fine with suggested change?

[2018-02-17 23:55] jarrpa commented on #7194
@mjudeikis I don't see the suggested change so I couldn't tell you. :)

[2018-02-18 07:11] cynepco3hahue commented on #6756
@michaelgugino Thanks for the fast answer, I run deployment with the inventory from https://github.com/openshift/openshift-ansible/issues/6756#issue-289315765
I think the problem that I set container versions to latest `openshift_image_tag=latest` but CentOS repository has only 3.7 packages.
We need OpenShift deployment for testing purposes under our CI environment, but the only way to get latest

[2018-02-18 07:24] mjudeikis commented on #7194
@datarace can you raise PR for this as you already have fix in your codebase?

[2018-02-18 10:25] mrsiano opened #7195 "Tetmplatize the remote files for openshift-grafana"
Currently the grafana role fetches json and yaml files from a remote github location (openshift-origin/examples/grafana)
In future when the grafana role settles into a production use case we will want to templatize the json files.

Objectives:
- templateize the remote files and do not pull them.
- join monitoring templates to the version and allow a template to receive updated monitoring via varia

[2018-02-19 07:32] Asgoret commented on #7162
@jarrpa
2. In my case glusterfs servers is only glusterfs nodes. They doesn't labeled like infra nodes or work nodes...It's place where cluster must store all information.

[2018-02-19 07:50] Asgoret commented on #7162
@DanyC97 Here it is https://github.com/openshift/openshift-ansible/issues/5712

[2018-02-19 07:54] datarace commented on #7194
Had a support call this morning for Support Case 02029417 with support & CNS Engineer.
CNS Engineer will be arranging conf call with @jarrpa to discuss with the intention of CNS team implementing the PR ASAP.

[2018-02-19 14:11] jarrpa commented on #7162
@Asgoret ...oh! In this case I think you mean "external" instead of "extend". :) What makes you say you can't have more than one external cluster per heketi instance?

[2018-02-19 15:03] Asgoret commented on #7162
@jarrpa Sorry, you are correct. I miss my mistake.

You say so in my issues...somewhere there) Maybe i did't quite correctly understand what you say about count of glusterfs clusters which heketi can handle. If it can handle more than one cluster it's great...

[2018-02-19 15:32] michaelgugino commented on #6756
@cynepco3hahue If you don't want to pull down rpms and only want to access the latest containers, you can deploy on atomic host.  This might be a better option for you.

I don't recommend using openshift_image_tag=latest because the 3.9 images that are currently out have not been released and are still in development.  That is unless you want a development version.

[2018-02-19 16:25] mjudeikis commented on #6801
https://github.com/openshift/openshift-ansible/pull/7198 got merged
let me know when QA done with master. We need to cherry-pick tone of changes :/

[2018-02-19 16:35] jarrpa commented on #6801
@mjudeikis Can you go ahead and to the backport to 3.9? That'll get it through QA faster.

[2018-02-19 16:51] mjudeikis commented on #6801
@jarrpa I was thinking 3.9 is master? O_o as there is no release-3.9 branch

[2018-02-19 16:54] #7019 closed

[2018-02-19 17:01] jarrpa commented on #6801
...oh! Sorry. I was confused by the 3.10 templates :P

[2018-02-19 17:08] mjudeikis commented on #6801
me too when I was doing this :D "Living on the edge" :D

[2018-02-19 21:43] #7167 closed

[2018-02-20 06:46] DanyC97 commented on #7194
@datarace isn't this covered by https://github.com/openshift/openshift-ansible/pull/7198 ?

[2018-02-20 07:44] SaravanaStorageNetwork commented on #7194
Yes this is covered by the above PR.

[2018-02-20 08:13] mjudeikis commented on #6801
Summary of this issue:
PR #7190 Add target mount for gluster block  (backport pending)
PR #7028 kernel module loading fix  (backport pending)
PR #6996 check forrestart on atomic host (backport pending)
PR #6922 Glusterfs block storage ansible support (backported to 3.7 by PR #6966 cherry-pick to 3.7 gluster block)

[2018-02-20 09:05] DanyC97 commented on #6111
can we close this one then ?

[2018-02-20 09:06] DanyC97 commented on #6339
@jarrpa can you close this issue?

[2018-02-20 09:08] DanyC97 commented on #6083
@slaterx @dsutherland1492 any chance you can re-test with the comment made by @vrutkovs ?

[2018-02-20 09:17] DanyC97 commented on #6801
@mjudeikis have you already created PRs for backporting to 3.7 branch ?

Happy to help expedite this as i urgently need the above be merged asap. Let me know and i'll jump on it

[2018-02-20 09:24] DanyC97 commented on #7194
then can this issue be closed? (i don't have permission to do so)

[2018-02-20 09:26] mjudeikis commented on #6801
@DanyC97 we are waiting for QA confirmation for 3.9 (master) branch and as soon as we get green light we will do cherry-pick.
@jarrpa needs to give me green light :)
I will prepare PR for this now in advance.

[2018-02-20 09:28] DanyC97 commented on #6801
@mjudeikis much thanks for doing it in advance. if anything i can help with shout and i'll step in

[2018-02-20 09:31] marekjelen opened #7210 "Rolling tags"
#### Description

So far the safest way to install seemed to be spell out as many tags (I always default to containerised) to get correct version, e.g.

[code]

but when testing with `v3.7`, Ansible complains that

[code]

and so I do commented out all the versions, except `openshift_release` which gives me an error

[code]

to actually get through the checks, it seems necessary to explicitly stat

[2018-02-20 09:57] mjudeikis commented on #6801
Cherry-pick prepared https://github.com/openshift/openshift-ansible/pull/7213

[2018-02-20 10:18] #6339 closed

[2018-02-20 14:10] yrjo opened #7215 "openshift_http_proxy not used during pulling router and registry pods"
#### Description

Seems like "openshift_http_proxy" & co. are not used during pulling the pods right after deployment of basics of openshift cluster.

multimaster environment - deployment from the scratch,
3x master nodes (etcd on it)
3x dedicated infra nodes
3x nodes for app workload

##### Version

cat /etc/redhat-release
Red Hat Enterprise Linux Server release 7.4 (Maipo)

openshift (origin) ve

[2018-02-20 14:18] yrjo commented on #7215
should be the way to set it automatically with ansible to have in docker environment variables something like:
[code]

bcs right now docker is going without it?

[code]
or at least if kube_docker_client.go is using that enviro variables?

`kube_docker_client.go:328] Pulling image "openshift/origin-pod:v3.7.0": ...`

[2018-02-20 14:26] jarrpa commented on #7194
Waiting a bit for @datarace to respond. :)

[2018-02-20 14:57] datarace commented on #7194
Happy to close :) @jarrpa

[2018-02-20 14:57] #7194 closed

[2018-02-20 14:57] datarace commented on #7194
Happy to close :) @jarrpa

[2018-02-20 15:28] cynepco3hahue commented on #6756
@michaelgugino We run a vagrant machine with the CentOS7 image for k8s and also for OC deployment, I do not sure that we want to use another image with atomic only for OC case.
Some things fixed only under k8s 1.9 so that the reason why we run testing via OC 3.9.
IMHO it looks strange that OC has latest images under docker hub, but you can not install it because of RPM's limitations

[2018-02-20 16:36] michaelgugino commented on #6756
@cynepco3hahue I agree, the images being available for 3.9 is somewhat misleading.  But those images are currently in-development, they're not intended for general consumption yet (It was a recent change to start doing this, it may have been announced on the dev or user list).

Since the software isn't officially released yet, there aren't any packages being built by the various distros.  You can

[2018-02-20 16:48] vrutkovs commented on #6756
It should be possible to install a containerized Origin in system containers on a plain CentOS image

[2018-02-20 17:14] cynepco3hahue commented on #6756
@vrutkovs Can you please clarify your proposal? What do you mean by `in system containers`?

[2018-02-20 18:02] grb19 commented on #6986
Hi,
same problem here on centos 7.
it seems like etcd is configured to listen only on a specific interface.
wouldn't it be easiest to just listen on all interfaces, as it is done for the other services.
this could be done by setting the url to listen to 0.0.0.0?

[2018-02-20 18:07] DanyC97 commented on #7215
@yrjo  it certainly does cause i've been using it since origin 1.4 up to 3.7.

[2018-02-20 22:58] sdodson commented on #4111
@ivar1234 I don't think we've ever tried to run openshift-ansible on a RHEL 6 control host. Our most commonly used platform would be RHEL/Centos 7 and current Fedora releases. Is it possible to run ansible on one of those?

[2018-02-21 09:37] yrjo commented on #7215
fixed by workaround - added lines HTTP_PROXY, HTTPS_PROXY and NO_PROXY with lineinfile ansible module to file /etc/sysconfig/docker for all nodes, restart docker service afterwards.
i am not creating any PR as that is really dirty workaround, i guess that should be done by more system way, or?

[2018-02-21 10:15] mahsa-frj commented on #3415
@cameron-scrace hi, how you solved the problem? I have this problem.

[2018-02-21 13:42] DanyC97 commented on #7215
well what i was trying to say @yrjo is that you don't need to do anything since with those parameters it worked w/o any issue - and i've done tons of origin deployments in a locked/ proxy env since 1.4 and it worked every single time

[2018-02-21 13:57] yrjo commented on #7215
@DanyC97 then there is obviously something bad between my keyboard and chair ;) if there is nobody else having problem like that, i am closing the issue

[2018-02-21 13:57] #7215 closed

[2018-02-21 14:03] Asgoret opened #7230 "GlusterFS persistent storage - error deploying"
#### Description

Provide a brief description of your issue here. For example:

Deploy of openshift origin failed at task "TASK [openshift_storage_glusterfs : Wait for GlusterFS pods]"

##### Version

[code]
OpenShift Origin version:
[code]

##### Steps To Reproduce
1. Run ansible
2. Wait for task `[openshift_storage_glusterfs : Wait for GlusterFS pods]`
3. See error.

##### Expected Results
Clust

[2018-02-21 14:03] Asgoret commented on #7230
@jarrpa Hi. can you help with this error?

[2018-02-21 14:17] sumitshatwara commented on #6086
I also faced same issue around service catalog. I disabled below parameters as mentioned by @rberlind in host inventory file:

openshift_enable_service_catalog=false
template_service_broker_install=false

And the deployment of OpenShift Origin 3.7 was successful:

INSTALLER STATUS **********************************************************************************************************************

[2018-02-21 14:46] jarrpa commented on #7230
Hmm... I haven't seen this before. Check `/var/log/glusterfs/glusterd.log` on one of the nodes for any error messages.

[2018-02-21 14:51] Asgoret commented on #7230
@jarrpa I found this...
https://bugzilla.redhat.com/show_bug.cgi?id=1525715
It's error in package. I try to install new package and close issue.

[2018-02-21 14:52] Asgoret commented on #7230
@jarrpa
[code]

[2018-02-21 19:57] mtnbikenc commented on #6897
It appears that Ansible behaves differently based on where the variable is defined.  If the variable is defined on the host line, it will perform some type conversion.  If there variable is defined in a vars group, it will not.  The filter (lib_utils_oo_dict_to_keqv_list) expects a `dict` so some type checking/conversion will need to be done before passing in the `data`.

I'll follow up with Ansib

[2018-02-21 20:27] mtnbikenc commented on #6897
I've opened a new Ansible issue, https://github.com/ansible/ansible/issues/36544.

[2018-02-21 20:31] jjbeber commented on #5335
@dexterac any update about this? I'm facing the same issue.

[2018-02-21 20:45] mtnbikenc commented on #6897
Related: https://github.com/openshift/openshift-ansible/issues/6555

[2018-02-21 21:35] dexterac commented on #5335
@jjbeber Not yet. I tried all possible solutions and none seem to work.

[2018-02-22 02:37] jjbeber commented on #5335
@dexterac are you using the one of the release branchs?

[2018-02-22 07:17] DanyC97 commented on #7230
@Asgoret i get lots of spam too in `/var/log/glusterfs/glusterd.log` and indeed the BZ claims is fixed however i couldn't the rpm `oci-umount-2.3.2-1.git3025b19.el7` in centOS repo. I guess you are running RHEL ?

[2018-02-22 07:37] Asgoret commented on #7230
@DanyC97
I deploy cluster on centos 7, minimal installation. I install this [rpm](https://rpmfind.net/linux/RPM/fedora/updates/26/x86_64/Packages/o/oci-umount-2.3.3-1.gite3c9055.fc26.x86_64.html). Installation is on way, so i write something later)

[2018-02-22 08:43] Asgoret commented on #7230
@DanyC97 failed...

[2018-02-22 08:46] Asgoret commented on #7230
@jarrpa I install new oci-umount, but it doesn't help.
Descrive of pod:
[code]
Docker output from node:
[code]
Any ideas?

[2018-02-22 09:39] vrutkovs commented on #6756
@cynepco3hahue I haven't tried this for a long time, but it should work:

* Install bare CentOS/Fedora/RHEL
* in openshift-ansible inventory set:
  - `openshift_use_system_containers=True`
* Run installation

This would setup a few additional utils to run [system containers](https://www.projectatomic.io/blog/2016/09/intro-to-system-containers/) and would not require openshift RPM, as it would use

[2018-02-22 09:53] cynepco3hahue commented on #6756
@vrutkovs Thanks, will check it and will update the issue with results.

[2018-02-22 12:12] Asgoret commented on #7230
It's strange, because i can't deploy glusterfs as backend as persistenst storage or docker registry...is there some requiments for docker?

[2018-02-22 13:31] jarrpa commented on #7230
@Asgoret Please stop spamming multiple messages in a row. Either take some time and finish your thoughts or edit your previous comments. :)

Hmm... unfortunately I have no real idea as to what's going on. Can you verify if you have all the requisite kernel modules loaded?

https://github.com/openshift/openshift-ansible/blob/master/roles/openshift_storage_glusterfs/templates/glusterfs.conf.j2

The

[2018-02-22 15:09] jjbeber opened #7247 "Failed Deploy: User "system:anonymous" cannot create imagestreams"
#### Description

Fail  to deploy cluster, receiving message of `Error from server (Forbidden): User "system:anonymous" cannot create imagestreams in the namespace "openshift": User "system:anonymous" cannot create imagestreams in project "openshift" (post imagestreams)"`

##### Version

[code]

##### Steps To Reproduce
1. Using this inventory:
[code]

2. Running this command: `ansible-playbook -i

[2018-02-22 16:20] cmoulliard opened #7248 "Installation pre-req for all-in-one"
The contrib guide shows how to install a all-in-one openshift cluster
but when I execute this command using ansible 2.4

[code]
Remark : branch used -> master

then I get this error on MacOS

[code]

Question: What is the prereq to install the all in one cluster on MacOS ?

[2018-02-22 19:42] fabianvf commented on #6089
should have been fixed by #6277

[2018-02-22 19:42] #6089 closed

[2018-02-22 21:33] dyasny opened #7252 "curl: (35) You are attempting to import a cert with the same issuer/serial as an existing cert, but that is not the same cert."
#### Description

Trying to install 3.9.0.0.42, I am receiving the error in $subj:
[code]

##### Version

[code]

##### Steps To Reproduce
1. Provision 1 master and 3 nodes with CentOS7, updated to latest versions
2. git clone openshift-ansible && git checkout openshift-ansible-3.9.0-0.42.0

##### Expected Results
Complete and working deployment. This worked for me just last week, so something mus

[2018-02-22 21:54] jjbeber commented on #7065
Ping!

I'm facing the same issue :(

[2018-02-22 22:59] sdodson commented on #7027
It's fixed in openshift-ansible-3.7.24-1 and later 3.7 builds, unfortunately they haven't shipped yet but should soon.

[2018-02-23 07:24] dexterac commented on #7065
Hi @jjbeber today I was able to install openshift origin in our environment.
We had to configure F5 load balancer with TLS passthrough @liggitt pointed this based on the logs I shared with him on slack. I am planning to reinstall the cluster soon after a few more changes required on the VM's in our environment. I shall share the details later.

[2018-02-23 09:48] cxj110 opened #7261 "Deploy Openshift_persistent_volumes task failed with GlusterFS"
#### Description

[code]

##### Version

[code]

##### Steps To Reproduce
1.  Here is my Host file. would you please help on this? thank you.
[code]

[2018-02-23 13:53] jjbeber commented on #7065
Nice, @dexterac, can you inform the logs to find the problem? I'm using aws load balancers.

[2018-02-23 14:44] #7027 closed

[2018-02-23 14:47] sdodson commented on #7027
Ok v3.9, v3.8, v3.7 content should be fully in sync on master. We have no intention of maintaining the release-3.8 branch going forward, it's dead at this point. While master github branch *should* work to install all the way back to 3.7 the installer we actually ship comes from the release-3.7 branch.

[2018-02-23 16:33] #6897 closed

[2018-02-23 16:50] sbadakhc commented on #6897
Hi,

This still failing for me:

[code]

Same error as before:
[code]

[2018-02-23 17:24] michaelgugino commented on #6897
@sbadakhc the error message was cut off at the end.

Could you share your inventory?

[2018-02-23 17:34] spadgett commented on #6725
cc @bparees @jim-minter @jwmatthews

[2018-02-23 18:12] sbadakhc commented on #3433
I'm seeing this at the moment. Can you elaborate on how this was fixed?

[2018-02-23 18:40] dexterac commented on #7065
I am not aware how the AWS load balancers work. Can you raise a ticket with AWS for TLS passthrough and check?

[2018-02-23 18:41] #7065 closed

[2018-02-23 20:06] bparees commented on #6725
Seems like this needs to start with @pmorie to understand why the service catalog removed the catalog entries.  @idefav is your template service broker still running?  anything interesting in its logs?

@Neikius we need a lot more detail to help with your issue.  How are you trying to install it?  what errors are you getting?  Are you getting far enough to have logs in the template service broker

[2018-02-23 22:12] abutcher commented on #7252
The serial of the serving cert matches the serial of the CA cert.
https://github.com/openshift/origin/pull/18713

[2018-02-25 05:23] rhinoceros commented on #6574
@DanyC97
In this document, I didn't see anything about docker version. (so I thought all docker version is supported).  it's confused me.
https://docs.openshift.org/3.6/install_config/install/prerequisites.html#install-config-install-prerequisites
-------------------------
now I searched 'docker version' and found 'yum install docker-1.12.6'  in this document
https://docs.openshift.org/3.6/install

[2018-02-26 00:02] sbadakhc opened #7282 "GlusterFS task fails. Issue with CNI config."
Environment:
[code]
Error:
[code]
Logs:
[code]
Extra Information:
[code]

[2018-02-26 08:43] cxj110 commented on #7261
coursed by this parameter. openshift_hosted_registry_storage_glusterfs_swap=true

[2018-02-26 08:43] #7261 closed

[2018-02-26 09:14] cynepco3hahue commented on #6756
@vrutkovs I tried to run deployment on `openshift-ansible` master with inventory
[code]
but I still have the same issue with RPM's
[code]

[2018-02-26 10:19] DanyC97 commented on #7282
can you please share your inventory file ?

[2018-02-26 10:21] DanyC97 opened #7284 "GlusterFS - heketi-storage job image is hardcoded to "dev""
@jarrpa i believe you are aware of https://github.com/heketi/heketi/issues/950 ?

Is a bit shame to see that although we moved to use `latest` tag we still have to get the `dev`  image/ tag

What is your thought?

[2018-02-26 10:23] vrutkovs commented on #6756
Sounds like you need `openshift_version=3.9`

[2018-02-26 10:23] DanyC97 opened #7285 "GlusterFS - bump heketi image tag to v6"
@jarrpa happy to send a PR, you good with it or you still want to wait first for 3.9 QA to finish their round?

[2018-02-26 11:20] sbadakhc commented on #7282
Sure

[code]

[2018-02-26 11:48] cynepco3hahue commented on #6756
@vrutkovs Yep it the exact reason why I opened this issue, OpenShift does not have repository with latest RPM's that can be used from different Linux distributives(Fedora, CentOS, RHEL), so in case if you will need to deploy latest openshift for some reason, you can do it without clone OpenShift repository and make RPM's by yourself. I wanted to avoid it with `containerized` deployment, but `conta

[2018-02-26 12:07] sbadakhc commented on #7282
Hi,

I pulled the latest source and ran the playbook again. It seems as though the services node services are not starting and I saw this issue which may be related.

https://github.com/openshift/openshift-ansible/issues/3408

[2018-02-26 12:18] gtema commented on #1444
With Fedora27 Atomic without passing -e 'ansible_python_interpreter=/usr/bin/python3' the problem still exist

[2018-02-26 12:39] sbadakhc commented on #7282
Hi,

It looks like the connection is failing from the master to gluster node. I going to check the ssh keys and connectivity between those hosts:

[code]

[2018-02-26 12:59] sbadakhc commented on #7282
Some more information.

https://bugzilla.redhat.com/show_bug.cgi?id=1449357

[2018-02-26 13:29] jarrpa commented on #7284
I am not aware of that, I don't track heketi too closely. The setup-heketi-openshift-storage command does take a `--image` tag for you to specify any desired heketi image, though. Is that not sufficient?

[2018-02-26 13:30] jarrpa commented on #7285
Wait on this one. Also, where would the change be?

[2018-02-26 13:58] allen13 commented on #7036
Looks like the revert has made it's way to the release-3.7 branch. https://github.com/openshift/openshift-ansible/commit/8f7a40c55fba33ab44fb1565bb7d8e46286a6458

Thanks!

[2018-02-26 13:58] #7036 closed

[2018-02-26 14:06] allen13 commented on #7284
This issue was recently resolved. https://github.com/openshift/openshift-ansible/issues/7036

[2018-02-26 14:29] riy commented on #6639
Did @glennswest's comment solve the issue for anyone? I tried creating a persistent storage for the OAB as per [this section](https://docs.openshift.com/container-platform/3.7/install_config/install/advanced_install.html#configuring-oab-storage), but it didn't help. Symptoms are the same as for @leifmadsen, with healthy pods but a failing `curl` against https://apiserver.kube-service-catalog.svc/h

[2018-02-26 14:34] bojleros commented on #1444
`TASK [Run variable sanity checks] ***********************************************************************************************************************************************************************
Monday 26 February 2018  15:27:40 +0100 (0:00:00.044)       0:00:05.335 *******
fatal: [192.168.122.201]: FAILED! => {"msg": "last_checked_host: 192.168.122.201, last_checked_var: ansible_python;op

[2018-02-26 15:02] jmferrer opened #7289 "install.openshift.com has been hacked"
#### Description

Clicking in http://install.openshift.com redirects to the most amazing internet page ( http://www.themostamazingwebsiteontheinternet.com/ ). :-D

[2018-02-26 15:51] DanyC97 commented on #7289
not for me, not now (time of writing) anyway ...

[2018-02-26 15:52] DanyC97 commented on #7285
@jarrpa just [here](https://github.com/openshift/openshift-ansible/blob/master/roles/openshift_storage_glusterfs/defaults/main.yml#L35) ;)

[2018-02-26 15:55] jarrpa commented on #7285
...latest doesn't point to 6? If not then that's a problem for the heketi container maintainers and you should raise an Issue against heketi.

[2018-02-26 15:55] DanyC97 commented on #7284
@allen13 great !! didn't check master, only my poor 3.7 branch.

should i close this one @jarrpa and trust on your note that the above fix will be backported to 3.7?

[2018-02-26 15:57] DanyC97 commented on #7036
thanks for heads up @allen13 !!

[2018-02-26 15:58] DanyC97 commented on #7284
closing as the fix made it to 3.7 branch, thanks for heads up @allen13  !!

[2018-02-26 15:58] #7284 closed

[2018-02-26 17:19] patlachance commented on #4454
This is the redirect URL used to authenticate the user accessing the Kibana UI.

[2018-02-26 18:01] #7285 closed

[2018-02-26 19:57] srirammageswaran8 commented on #6336
@kprabhak , Thanks for the fix. I am yet to test it on one of our env. I will update you soon.

[2018-02-26 20:19] DanyC97 commented on #4415
although is too late to comment, i think what was proposed by @sdodson in https://github.com/openshift/openshift-ansible/issues/4415#issue-235312986 was very clear. How it is today (26/02/2018) hasn't changed at all, same old ... and confusing

[2018-02-26 20:30] sdodson commented on #4415
Not too late to comment and it's something that we'd like to fix in 3.10.

[2018-02-26 21:54] srirammageswaran8 commented on #6336
Hi @kprabhak ,

Is there a PR open on this...?

Thanks ,
Sriram Mageswaran.

[2018-02-27 10:45] giannisalinetti opened #7299 "Role openshift_logging_elasticsearch breaks compatibility with ansible 2.3"
#### Description

During advanced installation the logging configuration fails if Ansible 2.4 is not installed on the bastion host.
This is only related to the introduction in the **openshift_logging_elasticsearch** role of new keywords related to version 2.4 and unkown to version 2.3 like **include_tasks**.

##### Version
[code]

[code]

##### Steps To Reproduce
1. Install ansible 2.3.2 on bastio

[2018-02-27 12:52] randy280872 opened #7304 "Unable to restart service origin-master-api"
#### Description

During the installation of Openshift Origin I am getting the error below;

fatal: [dae-openshift-dev.digitaldev.local]: FAILED! => {
    "changed": false,
    "invocation": {
        "module_args": {
            "daemon_reload": false,
            "enabled": null,
            "masked": null,
            "name": "origin-master-api",
            "no_block": false,
            "stat

[2018-02-27 13:01] sbadakhc commented on #4617
Seeing this also:

[code]

[2018-02-27 13:29] dharmit opened #7305 "How to disable Openshift Ansible Service Broker?"
#### Description
By default, OpenShift Ansible Service Broker is enabled for 3.7 installation. [Docs Link](https://docs.openshift.org/latest/install_config/install/advanced_install.html#configuring-openshift-ansible-broker).

I don't need OpenShift Ansible Service Broker to be enabled by default. It tries to claim the PV that I'm trying to attach to Jenkins (with persistent storage).

##### Versio

[2018-02-27 13:32] sbadakhc commented on #4617
OK so this was caused because we ran the ansible scripts from a management server. The assumption here is that your running ansible from a host in the cluster which is probably not a good thing given that a Bastion host is included in the reference architecture. This assumption also causes api tests to fail. In short the assumption should be that ansible is executed from a host outside of the OCP

[2018-02-27 14:05] dustymabe commented on #1444
Yes. This is expected. Rather than include the python2 and python3 version of every library that is required we only include the python3 version. You need to use python3.

^^ this error message is helpful

[2018-02-27 14:09] allen13 commented on #7305
Add this to your group_vars:
    openshift_enable_service_catalog: false

[2018-02-27 14:12] dharmit commented on #7305
Would that disable only the `openshift-ansible-service-broker` project from being created by default or the entire service catalog (the new UI, if I understand correctly) from coming up?

[2018-02-27 15:20] jarrpa commented on #7230
Ugh... frustrating. Not sure what's going on. The orphan messages might just be an unrelated (and harmless?) bug in docker. What does the output of `journalctl -xe glusterd` say? And do you see any errors in `/var/log/glusterfs/glusterd.log` that might help?

[2018-02-27 16:30] dharmit opened #7311 "Not so obvious error reporting when hosts file contains an invalid key-value mapping"
#### Description
Title could surely be better. Sorry about that.

When `openshift_enable_service_catalog: false` is used in the inventory file instead of `openshift_enable_service_catalog=false` (`:` vs. `=`), playbook execution fails with an error about lack of `etcd` hostgroup in [this](https://gist.github.com/dharmit/886d293a00fe32c8b57b344847ffa633#file-hosts-37) hosts file. `etcd` hostgroup a

[2018-02-27 17:30] vrutkovs commented on #7311
This is an ansible <2.4 issue - an incorrect inventory would be ignored without an error thrown.

This is fixed in master by requiring ansible 2.4 and setting `unparsed_is_failed=true` in ansible.cfg

[2018-02-27 17:52] vrutkovs commented on #7311
Oh, I've noted you're running release 3.7 branch with ansible 2.4, while only 2.3 is supported there. It would throw a correct error about an invalid inventory.

@sdodson it seems ansible 2.4 has hit centos repos, do we want to backport `unparsed_is_failed=true` in release-3.7? I tested it quickly and doesn't seem to throw errors on 2.3.2.0

[2018-02-27 18:36] jnach commented on #4088
This is still an open issue affecting a project currently, root cause is 99-origin script does not handle existing search domains in /etc/resolv. It will instead overwrite all search domain values with 'search cluster.local' only.

[2018-02-27 20:42] vrutkovs commented on #4088
@jnach is it still happening after https://github.com/openshift/openshift-ansible/pull/7103 is merged? Which search domains were removed?

[2018-02-27 22:56] mbruzek opened #7316 "task: "Create the htpasswd file if needed" fails with AnsibleUndefinedVariable: 'list object' has no attribute 'items'"
#### Description

Provide a brief description of your issue here. For example:

[code]

Looking in the log it seems to be an ansible object problem:
`AnsibleUndefinedVariable: 'list object' has no attribute 'items'`

##### Version

Please put the following version information in the code block
indicated below.

            "ansible 2.4.2.0",
            "  config file = /etc/ansible/ansible.cfg",

[2018-02-28 06:19] rgodishela commented on #6606
Yes I too faced this error "Package origin not found", like @dougbtv i too missed to run ./playbooks/prerequisites.yml playbook first so ran prerequisites.yml  first then relevant individual yml, it went well. Thanks @dougbtv.

[2018-02-28 08:53] dharmit commented on #7305
I tried this and it prevents few things (CI/CD and Databases tabs on "Browse Catalog") from being installed by default. `openshift-ansible-service-broker` being one of those. However, I do need Jenkins (CI/CD tab on the "Browse Catalog" page) available. Anyway, it shouldn't be much of a pain to deploy Jenkins but OOTB integration with jenkins-kubernetes plugin is something I'm kind of interested i

[2018-02-28 08:53] #7305 closed

[2018-02-28 09:20] Raptus1 opened #7318 ""Package 'origin-3.7*' not found"
#### Description

On a newly created fedora vbox I ran the pre-req check and it went ok, but the deploy cluster failed on the next step after get available origin version.

##### Version
ansible 2.4.3.0

If you're operating from a **git clone**:
openshift-ansible-3.9.0-0.53.0.59-gced2275b2

##### Steps To Reproduce
1. start fresh fedora 27 install in vbox
2. install the required software as mentio

[2018-02-28 10:38] Asgoret commented on #7230
@jarrpa Ufff...i don`t know where error was, but i find sollution. I install 'glusterfs-fuse' from base repository. Version of packages 3.8. Install was succesfull, but i can't create persistent storage. Provision failed because
[code]
OR
[code]

[2018-02-28 11:59] dougbtv commented on #6606
I think the issue is that you have

[code]

Which is a package that is unavailable, use 3.7.0 (or earlier). For later
versions, you'll need to do a containerized install.

On Wed, Feb 28, 2018, 1:19 AM Ramesh Godishela <notifications@github.com>
wrote:

[2018-02-28 12:16] gun1x commented on #6606
Please ignore my previous post. My issue was that I had [glusterfs] and [glusterfs_registry] on the same nodes.

[2018-02-28 15:53] leifmadsen opened #7324 "[GlusterFS] ansible-service-broker can't start when using Atomic"
#### Description

Working on installing OpenShift Origin 3.9 onto a CentOS Atomic host, and it looks like there might be some missing functionality missing that results in an inability to properly start OpenShift Ansible Broker (OAB). My understanding is that OAB requires persistent storage and that the only method for storage with OAB is to back it with NFS.

For example, the hosted registry stor

[2018-02-28 17:44] johnsimcall opened #7327 "Undocumented variable openshift_storage_glusterfs_heketi_deploy_is_missing"
#### Description

New variable (openshift_storage_glusterfs_heketi_deploy_is_missing) is undocumented at https://github.com/openshift/openshift-ansible/blob/master/roles/openshift_storage_glusterfs/README.md

[2018-02-28 18:23] jarrpa commented on #7230
For the first two, it seems you may have something misconfigured in your DNS. Did a route actually get deployed with that name?

For the third one, that seems unrelated as we don't do anything with the service broker or etcd.

For the fourth one, check if there's a ClusterRoleBinding for the `system:serviceaccount:glusterfs:glusterblock-storage-provisioner` ServiceAccount to the `glusterblock-prov

[2018-02-28 19:06] ghaskins commented on #6574
@DanyC97 I didn't.  I have since learned that kubernetes in general has trouble with the non-semver based releases of docker.  However, supported/not-supported in openshift or supported/not-supported in upstream kubernetes is not generally the criteria for _reporting_ an issue.  It's perhaps the criteria for _fixing_ the issue.  But it is hard to fix issues that are not reported/known.  Would you

[2018-02-28 21:51] sbadakhc commented on #6053
Hi,
I'm seeing this also. Adding the ip's didn't help.

[2018-03-01 07:19] #5280 closed

[2018-03-01 09:40] kzila commented on #6424
Hi, same issue here, Can insall hawkular-agent via openshift-ansible scripts because of this.

[2018-03-01 10:22] riy commented on #6639
A quick update: things seem to work fine with the above steps, no issues there.

The only issue I have, but this may be unrelated to all of the above, is that pushing a Docker image from my local machine to the OpenShift internal Docker registry performs an upload, but running `docker images` on the server won't show it. It's as if it gets lost, as if the push goes through but the image fails to s

[2018-03-01 13:31] sbadakhc commented on #7282
OK so I managed to progress this but still seeing errors:
[code]

[2018-03-01 13:50] sbadakhc commented on #7318
Seeing this also. Had to install manually.

[2018-03-01 16:28] gtema commented on #4163
I do also have the issue trying to enable logging in origin 3.7 on Fedora 27 Atomic (python3 enforced)

[2018-03-01 17:38] clcollins opened #7345 "Default storageClass hard-coded if cloud provider set"
#### Description

The default storageClass is automatically set to the cloud provider if the cloud provider is specified in the inventory (see: roles/openshift_default_storage_class/defaults/main.yml)

This is not always desired.  For example, cheaper, more shareable NFS storage or some other storageClass may be desired before attaching dedicated disks so data can be shared between pods, reserving

[2018-03-01 18:37] #1881 closed

[2018-03-01 21:04] lbrigman124 opened #7351 "oc_image missing name parameter error when image has / in image_name"
##### Description:
Trying to use the oc_image module from openshift ansible to make my application deployment
more idempotent.  Using a image_name: that has a / in the name get an error from
the oc command.  The normal case for this is to use a meta name that can be associated
to the dc.

##### Version

[code]

##### Steps To Reproduce
1.  Using the task below with references to the openshift-ansi

[2018-03-01 22:28] smarterclayton opened #7353 "libcloud package regressed to 2.0.0 in upstream instead of 2.2.0"
https://openshift-gce-devel.appspot.com/build/origin-ci-test/pr-logs/pull/openshift_openshift-ansible/6916/test_pull_request_openshift_ansible_extended_conformance_gce/1384/

We are dependent on libcloud 2.2+, but suddenly we're getting 2.0.0

Blocks GCP

[2018-03-01 22:29] smarterclayton commented on #7353
Was coming from EPEL testing, looks like it got reverted.

[2018-03-01 22:30] smarterclayton commented on #7353
@sdodson @smunilla we probably need to get python2-libcloud 2.2.0 into some repo we own.  It didn't occur to me that we epel testing wouldn't pull it in.

[2018-03-01 22:31] smarterclayton commented on #7353
Rawhide has the right version.

[2018-03-01 23:23] lanliu99 opened #7354 "Failed to add a new host into existing OCP cluster"
#### Description
I have installed ocp cluster and it runs with no issue, I tried to add a new node into this cluster, but failed with the message of "Unable to restart service atomic-openshift-node: Job for atomic-openshift-node.service failed because the control process exited with error code. See \"systemctl status atomic-openshift-node.service\" and \"journalctl -xe\" for details.\n"}"

##### V

[2018-03-02 01:47] jpeeler opened #7355 "Upgrade to 3.9 doesn't remove NoVolumeNodeConflict from scheduler predicates"
#### Description

atomic-openshift-master-controllers.service failed with this error:
Invalid configuration: Predicate type not found for NoVolumeNodeConflict

##### Version

I was using git checkouts of the 3.7 and 3.9 release branches.

#### Necessary fix

I removed the NoVolumeNodeConflict manually from /etc/origin/master/scheduler.json and was able to start the service successfully.

[2018-03-02 01:48] jpeeler commented on #7355
This might be related to https://github.com/openshift/openshift-ansible/pull/7089/

[2018-03-02 03:25] smarterclayton commented on #7353
I'm going to work around this for now

[2018-03-02 05:59] #7353 closed

[2018-03-02 12:45] andanicolae opened #7359 "Error response from daemon: No such container: origin-node when Deploying OpenShift Origin v3.7.0 on CentOS 7"
Hi all,

I have a CentOS 7 server and I have created 2 virtual machines (VMS) on this server. CentOS 7 is also the OS that runs on the VMs.
I am trying to deploy OpenShift Origin v3.7.0 on these 2 VMs (1st VM is the master and the 2nd VM is the node). My deployment fails with the error:
Error response from daemon: No such container: origin-node when Deploying OpenShift Origin v3.7.0 on CentOS 7

O

[2018-03-02 13:27] sdodson commented on #7353
https://bodhi.fedoraproject.org/updates/?search=libcloud interesting that they produced a new build yesterday and that removed the older 2.2 build from epel testing before the new build landed there.

[2018-03-02 14:51] sdodson commented on #7355
Tracked here https://bugzilla.redhat.com/show_bug.cgi?id=1549971

[2018-03-02 14:51] #7355 closed

[2018-03-02 15:08] sdodson commented on #7355
https://github.com/openshift/openshift-ansible/pull/7333 fixed this

[2018-03-02 15:14] sbadakhc commented on #7282
Closing this and creating a new issue for the failing GlusterFS Labels.

[2018-03-02 15:14] #7282 closed

[2018-03-02 15:16] sbadakhc opened #7363 "Label GlusterFS nodes task failing."
Linux mgt01ewd01 3.10.0-693.17.1.el7.x86_64 #1 SMP Thu Jan 25 20:13:58 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

CentOS Linux release 7.4.1708 (Core)

ansible 2.4.2.0
  config file = /etc/ansible/ansible.cfg
  configured module search path = [u'/home/cloud-user/.ansible/plugins/modules', u'/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python2.7/site-packages/ansib

[2018-03-02 19:45] rootfs opened #7365 "default multipath config causes disk without multipath managed by multipathd"
#### Description

Provide a brief description of your issue here. For example:
Default multipath config causes disk without multipath managed by multipathd
https://bugzilla.redhat.com/show_bug.cgi?id=1550271

##### Version
openshift 3.9

Please put the following version information in the code block
indicated below.

* Your ansible version per `ansible --version`

If you're operating from a **git

[2018-03-02 20:08] jnach commented on #4088
@vrutkovs I was wrong - after patching this file to scrape search domains, I discovered it actually runs many times, and the real root cause is NM creates a duplicate interface every time you try to configure a search domain, after restarting the NM service. This is repoducible out of the box, in my case, on Azure with a vanilla 7.4 instance. The only reliable way I've found to solve this is to co

[2018-03-04 13:25] maximmold commented on #7101
I am seeing the same error. Any ideas?

[2018-03-04 14:52] packagewjx commented on #7101
@maximmold I successfully installed the service catalog. I added these lines in the ansible hosts file.
[code]
It seems that the etcd used by service catalog can not get a persistent storage, so it failed to start.

[2018-03-04 14:53] packagewjx commented on #7101
Since I have solved this problem, I am going to close this issue.

[2018-03-04 14:53] #7101 closed

[2018-03-04 22:00] japhar81 opened #7375 "Deploying Grafana fails"
#### Description

On a multi master install, the grafana config.yml playbook fails with a missing filter;
[code]
##### Version

ansible 2.4.2.0
openshift-ansible-3.10.0-0.1.0-65-gf622e84

##### Steps To Reproduce
1. Deploy a cluster via playbooks/deploy_cluster.yml (3 controllers, 3 workers, etcd on the controllers)
1. Deploy prometheus via playbooks/openshift-prometheus/config.yml
2. Try to deplo

[2018-03-04 23:29] japhar81 commented on #7375
I should point out this may well be user-error, I wasn't able to find any docs around this so I wound up reading the playbook and inferring quite a bit. I'll submit a PR to the readme if I can figure out how to actually make it work.

[2018-03-05 08:34] malagant commented on #5233
This would make perfectly sense.

[2018-03-05 12:15] sbadakhc commented on #7363
This was due to the glusterfs nodes not being referenced in the inventory file.

[2018-03-05 12:15] #7363 closed

[2018-03-05 12:53] robdaems opened #7379 "Simple all-in-one localhost Installation fails with "Failed to start Atomic OpenShift Master API.""
#### Description

I'm trying to install openshift cluster on a single machine as described in the readme

##### Version

[code]

##### Steps To Reproduce
[code]

##### Observed Results
ansible job `sudo ansible-playbook -i inventory/hosts.localhost playbooks/deploy_cluster.yml` fails with: "Unable to restart service origin-master-api"

[code]

[code]

[2018-03-05 12:56] sbadakhc commented on #3662
Resolved.

[2018-03-05 12:56] #3662 closed

[2018-03-05 14:21] ashcrow commented on #7324
/cc @cgwalters and @jtligon for issue subscription

[2018-03-05 14:34] vrutkovs commented on #7379
Looks like master can't connect to etcd.

Is `etcd.service` running? Is there any firewall blocking the connection?

[2018-03-05 14:44] robdaems commented on #7379
[code]
I'm not aware of any firewall, since I started from a clean *.iso install.

[2018-03-05 14:48] vrutkovs commented on #7379
I'm guessing its `firewalld` is preventing etcd port from access. What OS are you using? Could you try restarting the master after stopping firewalld - `systemctl stop firewalld`?

[2018-03-05 14:49] sdodson commented on #7324
@leifmadsen If you have a dynamic volume provisioner then you can use that rather than NFS. I believe there have been recent fixes to atomic host that may allow NFS volumes to work there but we haven't gotten around to testing that recently. Also, ASB will soon switch to Custom Resource Definitions (CRD) via the API and drop the requirement for a local etcd so this is a pretty low priority for us.

[2018-03-05 14:50] robdaems commented on #7379
I just checked at the same time :-), but it's dead,
[code]

[2018-03-05 14:55] tomassedovic opened #7383 "Add Kuryr option to use public network instead of subnet"
#### Description

The Kuryr SDN requires the `kuryr_openstack_public_subnet_id` to be set. This is the OpenStack subnet that provides floating IP addresses.

In a lot of OpenStack deployments, the external/public subnet is not accessible to the users, only the public network. Kuryr now supports using either:

https://bugs.launchpad.net/kuryr-kubernetes/+bug/1749921

But the option to use networks

[2018-03-05 15:10] tomassedovic opened #7385 "Document OpenStack + Kuryr configuration"
#### Description

The Kuryr SDN introduces a lot of new configuration and potentially raises some questions. We need to provide a good documentation.

- [ ] There should be a Kuryr section in the advanced-config.md document and linked from README.md
- [ ] Document the Octavia requirement
- [ ] Document the `firewall_driver=openvswitch` requirement and how to set it up
- [ ] Document the Trunk port

[2018-03-05 15:17] tomassedovic opened #7387 "Document the OPENSHIFT_CLUSTER environment variable for OpenStack playbooks"
#### Description

The OpenStack playbooks have changed the way the Heat stack name is created. It is now decoupled from the Ansible vars. Instead, it's controlled by the `OPENSHIFT_CLUSTER` environment variable. The default value has changed to `openshift-cluster`.

This is not documented anywhere.

We should update the relevant sections of the existing advanced configuration as well as add a new

[2018-03-05 15:43] tomassedovic opened #7388 "Kuryr deployment results in an undeletable stack"
#### Description

Any attempt to delete the OpenStack Heat stack set up with Kuryr always ends up with a failure deleting a security group because some ports still use it.

We should figure out what exactly is the issue and resolve it. At best, this might just need an explicit `depends_on` somewhere. Worst case scenario, we should add the necessary clean up to the uninstall playbook:

https://gith

[2018-03-05 17:58] leifmadsen commented on #7324
@sdodson hrmmm... is there a way now to configure the etcd that is used for ASB to leverage that storage instead of NFS so that a working ASB could be started now, or is the CRD method effectively a blocker for this?

I'm working on some sample configurations that will allow OpenShift 3.9 to start on Atomic (virtual environment) with just GlusterFS and no NFS ideally.

[2018-03-05 20:34] sdodson commented on #7324
Just don't set `openshift_hosted_etcd_storage_kind` and it should work assuming there are volumes to fulfill the PVC defined here https://github.com/openshift/openshift-ansible/blob/master/roles/ansible_service_broker/tasks/install.yml#L207-L213

[2018-03-06 09:02] AllezWiggo opened #7403 "Install error in "Retrieve list of schedulable nodes matching selector" -- oc get node... --> Error: unknown flag: --field-selector"
#### Description

Provide a brief description of your issue here. For example:

Error during multinode, single master install

##### Version

Please put the following version information in the code block
indicated below.

Place the output between the code block below:

[code]

##### Steps To Reproduce
1. ansible-playbook -i openshift-ansible/inventory/hosts.ocpdemo.local openshift-ansible/playboo

[2018-03-06 09:16] AllezWiggo commented on #7403
Inventory file:

`[OSEv3:children]
masters
nodes
etcd

[OSEv3:vars]
# if your target hosts are Fedora uncomment this
#ansible_python_interpreter=/usr/bin/python3
ansible_user=centos
# If ansible_user is not root, ansible_become must be set to true and the
# user must be configured for passwordless sudo
ansible_become=yes
openshift_deployment_type=origin
openshift_release=3.7
osm_cluster_network_ci

[2018-03-06 09:21] zhxqgithub commented on #4016
why openshift-ansible was not support docker-ce  when using playbook to install openshift ???however ,I can not upgrade openshift cluster from 3.6 to 3.7 successfully by openshft-ansible playbook after  I upgrade docker from 1.12 to 17.03 manually in openshift cluster 3.6.  The origin-node-3.7 rpm need docker>1.12, but it was too too old.

[2018-03-06 09:37] vrutkovs commented on #7379
Are you using Vagrant for that? Sounds like #6986 - either something blocks an access to etcd or etcd is listening on a wrong interface

[2018-03-06 09:39] zhxqgithub commented on #6574
+1 ,I have the same problems, I hope the latest origin-node rpm package support docker-ce 17.x .

[2018-03-06 09:44] robdaems commented on #7379
No, I'm not using Vagrant.
I've to issue on a real PC and on a VM (via virtualbox) (but the started from the same [iso](http://isoredirect.centos.org/centos/7/isos/x86_64/CentOS-7-x86_64-DVD-1708.iso)  for installation)

[2018-03-06 10:47] slaterx commented on #6083
@DanyC97 not reproducible on centos 7 and 3.7 origin or red hat 7 and openshift-enterprise 3.7.23.

[2018-03-06 11:07] luis5tb opened #7404 "Adding wrong VM names to DNS"
#### Description

After merging https://github.com/openshift/openshift-ansible/pull/6319, the default stack name is 'openshift-cluster' and the VMs names are based on that too (e.g., master-0.openshift-clouster).

Before this, the name was obtained by concatenating `openshift_openstack_clusterid` and `openshift_openstack_public_dns_domain`, which had the default openshift.example.com

However, whe

[2018-03-06 12:42] yboaronn commented on #7383
Adding this comment to update that this issue assigned to me.
(as I'm not able yet to assign myself to openshift-ansible issues)

[2018-03-06 14:55] sdodson commented on #4016
where do you see that origin-node-3.7 requires docker > 1.12? It should require only >= 1.12 and 1.12 is in the centos extras repo.

[2018-03-06 16:08] masterkorp opened #7410 "Deploy Cluster fails on oc_label module"
#### Description

On a single master install the deploy_cluster fails, here is my hosts file:
[code]

##### Version

[code]

##### Steps To Reproduce

[code]

##### Expected Results
Playbook should rum clean

##### Observed Results
Describe what is actually happening.

[code]

##### Additional Information

Provide any additional information which may help us diagnose the
issue.

* The OS is CentOS

[2018-03-06 16:31] masterkorp commented on #7410
To add more information, here is an `oc status`:
[code]

oc get pods also works:
[code]

[2018-03-06 17:15] masterkorp commented on #7410
After some research it seems that the command that command uses the wrong name. Its trying to aplly a label apiserver to the master, but the master is not actually a node?

If I apply that label to one the nodes the service runs:
[code]

[code]

[2018-03-06 17:44] vrutkovs commented on #7410
Masters are required to run nodes, so that SDN (and web console) would work

[2018-03-06 18:01] masterkorp commented on #7410
@vrutkovs thank you. i've tried that a few minutes ago.
 Should I add the `openshift_schedulable=true` and the other variables to the host? I did not add anything based on the other examples.

[2018-03-06 19:19] DanyC97 commented on #6574
@rhinoceros @ghaskins i understand where you coming from but in RH defense (note i'm not RH employee hence i'm not biased) but is been known (maybe this is because i started with openshift origin 1.3 all the way up to 3.7) that:

- RH through https://github.com/projectatomic/docker maintain a docker fork + patches which were not accepted by docker upstream
- RH through their origin docs always men

[2018-03-06 20:27] clcollins commented on #7403
Receiving the same error with release-3.9, RHEL Atomic hosts, ansible 2.4.3.0:

[code]

Looks like it ties back to this Ansible module: https://github.com/openshift/openshift-ansible/blob/release-3.9/roles/lib_openshift/src/ansible/oc_obj.py

Manually running the `oc get nodes` command with the same flags produces the same result:

[code]

[2018-03-06 20:58] abutcher commented on #7403
The master branch's oc_obj module is using --field-selector which was introduced in the 3.9 client so using the master branch with other releases like 3.7 is not compatible. This isn't the only reason but it's the most recent incompatibility.

Using the release-3.7 branch with 3.7 is the recommended approach. We've also had a pretty big docs bug recommending use of the master branch which is now c

[2018-03-06 21:00] abutcher commented on #7403
Same goes for release-3.9 and any release that isn't 3.9. If you're using release-3.9 with 3.9 packages and getting this error then it's a definite bug.

[2018-03-06 21:03] clcollins commented on #7403
Well, that likely explains my issue.  Thanks for the heads up.

[2018-03-07 00:53] #7404 closed

[2018-03-07 01:37] zhxqgithub commented on #4016
sorry,my mistake ,it require only >=1.12. in origin-node-3.7*.rpm , but i don't want to use docker 1.12,I want to use docker-ce .

[2018-03-07 02:19] sdodson commented on #4016
@zhxqgithub sorry, we don't support that.

[2018-03-07 08:20] vrutkovs commented on #7410
There is no need to do that, as masters would be marked as schedulable during installation

[2018-03-07 09:45] karmab commented on #7118
might be an issue with your kernel if using fedora27

[2018-03-07 10:08] masterkorp opened #7416 "Deploy Cluster Fails on retriviing list of schedulables nodes"
#### Description

On a simple single master install the `deploy_cluster.yml` playbook fails.

[code]

##### Version
[code]

##### Steps To Reproduce

[code]

##### Expected Results

Should deploy

##### Observed Results

An oc command its being called with an option`--field-selector` that itss not being recgnized by `oc

[code]

##### Additional Information

- The OS is CentOS Linux release 7.4.17

[2018-03-07 10:11] masterkorp commented on #7416
The command being run by ansible is:
[code]

[2018-03-07 10:27] maximegy opened #7417 "Openshift ansible failed at openshift_node : Wait for master API on centos 7"
#### Description

Provide a brief description of your issue here. For example:

5 CentOS 7 VM:
- 3 Master
- 5 Nodes
1 DNS resolving thunder.io

Using openshift ansible v3.7.0

this is the inventory:
[code]

##### Version

Please put the following version information in the code block
indicated below.

* Your ansible version per `ansible --version`
[code]

##### Steps To Reproduce
Minimal install o

[2018-03-07 11:12] vrutkovs commented on #7416
`oc 3.7` doesn't have ` --field-selector`. Please use `release-3.7` branch to setup 3.7 cluster, see https://github.com/openshift/openshift-docs/pull/7963

[2018-03-07 11:12] #7416 closed

[2018-03-07 11:35] masterkorp commented on #7416
@vrutkovs the playbook `deploy_cluster`does not exist in `release-3.7` branch

[2018-03-07 11:40] masterkorp opened #7418 "Deploy cluster playbook does not exist in release3.7 branch"
Hello,

I was advidsed to use `release-3.7` branch on issue #7416 but the playbook ``deploy_cluster`` [does not exist](https://github.com/openshift/openshift-ansible/tree/release-3.7/playbooks)

How should I deploy a cluster?

Regards,
Alfredo Palhares

[2018-03-07 11:50] masterkorp commented on #7416
@vrutkovs Another question, is that, since I am using the master branch, why is `oc 3.7` being installed?

[2018-03-07 12:02] obaroikoh commented on #7417
Run `curl --tlsv1.2 --cacert origin/master/ca-bundle.crt https://console.thunder.io:8443/healthz/ready` with sudo and share the output.

[2018-03-07 12:08] obaroikoh commented on #7418
You won't find the deploy_cluster.yml in that release. To the best of my knowledge, `openshift-ansible/playbooks/byo/config.yml` does the same thing.

[2018-03-07 12:16] masterkorp commented on #7418
@obaroikoh thank you.

Honestly I just want the more up to date possible and release 3.7 does seems to be a bit outdated

[2018-03-07 12:21] obaroikoh commented on #7418
@masterkorp You're right. You can try the master branch which I suppose should be the most up to date. However, from the readme it works best with the newest origin release in development. What version of origin are you using?

[2018-03-07 12:25] masterkorp commented on #7418
@obaroikoh Oh, its my fault. I just noticed that i set up the varible `openshift_release=3.7` (which is the default value on the example file. I did overlook it.

How do I set it to use master?

[2018-03-07 12:39] obaroikoh commented on #7418
@masterkorp If you cloned openshift-ansible, it will be on the master branch by default. You can
`git checkout --track origin/release-3.7 ` to make your ansible installer correspond with the origin release you have specified. Unless you want to experiment I wouldn't advice you use the most recent release of origin.

I hope that answers your question.

[2018-03-07 13:02] masterkorp commented on #7418
@obaroikoh Actually that did not happen, branch master uses 3.7 by default, check [the hosts file](https://github.com/openshift/openshift-ansible/blob/master/inventory/hosts.localhost#L12)

[2018-03-07 13:16] obaroikoh commented on #7418
@masterkorp My bad. I thought you were using a custom hosts file. Why not talk me through what you want to do so I can have a better understanding and advise appropriately.

[2018-03-07 13:36] masterkorp commented on #7418
@obaroikoh Thank you, I will

Honestly for now, I just a simple single master and 3 nodes setup, so i can test deployments and such.

So far I have use the ``hosts.localhost` as base and modifiied it to this state:
[code]

So since I already used the 3.7 install that was set on that file, I gueess I shall checkout to the ``release-3.7```branch and run it from there?
I would use what is the "most r

[2018-03-07 13:42] maximegy commented on #7417
sudo curl --tlsv1.2 --cacert origin/master/ca-bundle.crt https://console.thunder.io:8443/healthz/ready
curl: (77) Problem with the SSL CA cert (path? access rights?)

[2018-03-07 13:56] vrutkovs commented on #7416
Right, its `playbooks/byo/config.yml`

You've specified `openshift_release=3.7` in the inventory - and 3.9 is not released yet, so there's probably no repo with 3.9 code publicly available

[2018-03-07 14:44] masterkorp opened #7420 "Cannot acesss the web interface"
#### Description

On a single master install, with 3 nodes, with the following hosts file:
[code]

##### Version
[code]

##### Steps To Reproduce

[code]

##### Expected Results

I should ( i thnk so) be able to go to http://10.0.14.90:8443/console and see the web console

##### Observed Results

Nothing appears, curls do give a blank like, visiting on the browser does give me this:
![openshit-api

[2018-03-07 14:47] masterkorp commented on #7418
I did a succesful config run, but now the web interface does not seem to be deployed #7420

[2018-03-07 15:15] masterkorp commented on #7418
@obaroikoh It does not, either I am going to the wrong url.

What is the default url?

How can I debug?

[2018-03-07 15:19] obaroikoh commented on #7418
@masterkorp the default url is host_ip:port, in you case,  https://10.0.14.90:8443

Please confirm you didn't omit the 's' in https

[2018-03-07 15:40] alonikomax commented on #6475
Having this problem also.

[2018-03-07 16:48] vrutkovs commented on #7420
Use
  https://10.0.14.90:8443/console
instead of
  http://10.0.14.90:8443/console

[2018-03-07 16:48] #7420 closed

[2018-03-08 00:37] jkroepke commented on #1919
Closed, since the registry is available via dns name by default.

[2018-03-08 00:37] #1919 closed

[2018-03-08 00:39] jkroepke commented on #2352
Retest it with openshift-ansible 3.7 branch. Works fine.

[2018-03-08 00:39] #2352 closed

[2018-03-08 05:05] AllezWiggo commented on #7403
I've commented "openshift_release" in inventory file and still getting the same error. If no version is specified does it use the latest? What value does openshift_release accept to install latest version? I also tried giving:

[code]
But still getting the same error:
[code]

[2018-03-08 08:19] vrutkovs commented on #7403
It would use the latest found in the repos. What's the output of `yum list origin`?

Neither 3.9 nor 3.10 are released and not available in CentOS repos

[2018-03-08 09:49] masterkorp commented on #7418
Thank you it works now. I am closing this ticket.

[2018-03-08 09:49] #7418 closed

[2018-03-08 09:52] AllezWiggo commented on #7403
Ah ok, was able to proceed with 3.8

[code]

[2018-03-08 09:55] vrutkovs commented on #7403
Right, in that case you should use `release-3.7` branch

[2018-03-08 09:55] #7403 closed

[2018-03-08 10:10] masterkorp opened #7440 "OpenShift Cluster upgrade fails: exluder package not found"
#### Description

Upgrade from 3.7 to 3.9 fails. Runing upgrade playbook.

##### Version

[code]

##### Steps To Reproduce

[code]

##### Expected Results

It should upgrade

##### Observed Results

The playbook is failing checking for openshift excluder
[code]

##### Additional Information

* CentOS Linux release 7.4.1708 (Core)

Regards,
Alfredo Palhares

[2018-03-08 10:18] chris-str-cst commented on #5466
@Klaas- Where did You inserted the sleep statement exactly?

[2018-03-08 10:18] masterkorp commented on #7410
I am closing this issue, to sum the problem. I misssed the to add the master to the node list.

[2018-03-08 10:18] #7410 closed

[2018-03-08 10:27] Klaas- commented on #5466
@chris-str-cst
/etc/NetworkManager/dispatcher.d/99-origin-dns.sh
start of the script, inserted line and comment why I changed it above "cd /etc/sysconfig/network-scripts"

[2018-03-08 10:42] chris-str-cst commented on #5466
@Klaas- Thanks mate! This fixes my network issues. I reinstalled the cluster fresh last week and the same problems are starting again. Thanks for providing a solution! How did You found that..?

[2018-03-08 10:46] mercer opened #7442 "Lost support for docker 1.12.x on 3.7.x branch"
#### Description

Playbook no longer works, with no change on our side, e.g. playbook tag, amazon ami, docker version. It worked fine a few days ago, started failing today.

##### Versions

[code]

[code]

[code]

##### Steps To Reproduce
1. Create aws hosts for master, slave
2. Install docker 1.12.x yourself
3. Run openshift-ansible-3.7.14-1 (older tag) or openshift-ansible-3.7.37-1 (latest tag t

[2018-03-08 11:09] Klaas- commented on #5466
well I noticed the resolv.conf was not being changed properly but you can see 99-origin-dns.sh was being executed in logs, so you know that there is some kind of race going, I didn't find the time to properly debug NetworkManager but as a quick fix waiting a second is good enough here - it's just a test environment ... :)

[2018-03-08 11:12] vrutkovs commented on #7440
Which repos do you have enabled? 3.9 is not yet released, so there are probably no repos with 3.9 excluder package

[2018-03-08 11:14] vrutkovs commented on #7442
`docker-1.13` has become available in rhel7 extras recently. PR #7347 should fix it

[2018-03-08 11:15] masterkorp commented on #7440
@vrutkovs I did not enable any kind of repositories, am I supossed to do that? I though that ansible would just enable the software repositories needed to upgrade, before upgrading.

Maybe I am missing something.

[2018-03-08 11:21] vrutkovs commented on #7440
In order to install 3.9 or upgrade from 3.7 to 3.9 you need to have a repo with 3.9 packages enabled.
There is no such repo yet as far as I know though.

Closing the issue as the failure is expected due to misconfiguration

[2018-03-08 11:21] #7440 closed

[2018-03-08 11:30] masterkorp commented on #7440
@vrutkovs well it may be misconfiguration, but its still an issue.

Can you explain to my **how** do I enable the repo with the 3.9 packages? Because that does not seem to be covered on the [Upgrade Configuration](https://docs.openshift.org/latest/upgrading/automated_upgrades.html).

Regards,
Alfredo Palhares

[2018-03-08 11:42] vrutkovs commented on #7440
The lack of 3.9 repos is certainly not an issue of `openshift-ansible` repo.

The packages can be built yourself - or you can wait until CentOS PaaS builds those and creates new repos

[2018-03-08 11:43] masterkorp commented on #7440
So its 3.7 the most recent version supported "out of the box" on CentOS?

[2018-03-08 11:45] vrutkovs commented on #7440
3.7 is the latest released version so far, yet.

Turns out I was wrong - there are pre-release versions of Origin - https://cbs.centos.org/repos/paas7-openshift-origin39-candidate/x86_64/os/

Would you mind trying those and see if that resolves the issue?

[2018-03-08 11:48] masterkorp commented on #7440
Honestly I rather just wait for it be production ready, at this moment I am not looking for any feature in particular.

Just one question, after the repository is ready, do I need to added that reposioty to ``/etc/yum.d/repos```or will ``openshift-ansible`` deal with that?

[2018-03-08 12:01] obaroikoh commented on #7417
HI @maximegy sorry for the late response. The path to crt file is usually /etc/origin/master/ca-bundle.crt . So run `sudo curl  --verbose --tlsv1.2 --cacert /etc/origin/master/ca-bundle.crt https://console.thunder.io:8443/healthz/ready`

[2018-03-08 12:03] vrutkovs commented on #7440
Both options are possible - either you manually leave just 3.9 repo enabled - or update `openshift_additional_repos` variable (https://github.com/openshift/openshift-ansible/blob/master/inventory/hosts.example#L230)

[2018-03-08 12:12] vrutkovs commented on #7318
Please don't use `openshift-ansible-3.9` to install 3.7 - this branch expects `oc` to be at least 3.9. Use `release-3.7` branch instead.

Origin 3.7 is sadly not yet available in Fedora repos, you might have to use CentOS / RHEL as a target. Another option is to use Fedora Atomic - it would install a containerized version of Origin (the base for these containers would be CentOS though)

[2018-03-08 12:12] #7318 closed

[2018-03-08 12:30] maximegy commented on #7417
`sudo curl --verbose --tlsv1.2 --cacert /etc/origin/master/ca-bundle.crt https://console.thunder.io:8443/healthz/ready
* About to connect() to console.thunder.io port 8443 (#0)
*   Trying 172.16.1.21...
* Connected to console.thunder.io (172.16.1.21) port 8443 (#0)
* Initializing NSS with certpath: sql:/etc/pki/nssdb
* Closing connection 0
curl: (77) Problem with the SSL CA cert (path? access righ

[2018-03-08 12:31] maximegy commented on #7417
Maybe is a cert problem between master and node and it can't connect with https ?

[2018-03-08 14:56] cmoulliard opened #7449 "Authentication or permission failure"
#### Description

During the execution of the byo playbook on Centos7

[code]
, this error is reported

[code]

More complete log

[code]
For a reason not yet identified, the playbook during its execution will change the permissions on the file system

[code]

##### Version

Please put the following version information in the code block
indicated below.

* Your ansible version per `ansible --versi

[2018-03-08 15:10] maximegy commented on #6351
hello did you solve your problem ?

[2018-03-08 15:41] maximegy commented on #7417
I've try to scp the content of master /etc/origin:
`examples  generated-configs  hosted  master  node  openvswitch  sdn`
to node /etc/origin

When I do:
[code]
And if I add -k options it works
[code]
But if I run the playbook again it don't work

[2018-03-08 15:58] obaroikoh commented on #7417
run `openssl x509 -in /etc/origin/master/ca-bundle.crt -text -noout` as it seems you are using a named certificate

[2018-03-08 16:02] #7375 closed

[2018-03-08 16:08] maximegy commented on #7417
Where ? on nodes or on master

[2018-03-08 16:11] obaroikoh commented on #7417
try it on both. In the meantime I am trying to see If I can reproduce the error.

[2018-03-08 16:13] maximegy commented on #7417
if i don't copy the master folder on nodes they are don't generated so there is the result on the master
[code]

[2018-03-08 16:14] maximegy commented on #7417
I find the ansible file with the command, so i add -k to see if it works

[2018-03-08 16:17] obaroikoh commented on #7417
Okay you can find it in /playbooks/common/openshift-master/tasks/wire_aggregator.yml

[2018-03-08 16:19] obaroikoh commented on #7417
From the output of  `openssl x509 -in /etc/origin/master/ca-bundle.crt -text -noout` you may have to get a certificate for console.thunder.io of you can generate a self-signed certificate, though not recommended. Let me know if it worked for you after adding tag -k tag to the playbook

[2018-03-08 16:24] maximegy commented on #7417
I Find it on openshift-ansible/roles/openshift_node/tasks/config.yml line 60

[2018-03-08 16:25] maximegy commented on #7417
behind console.thunder.io it's the master so I must create one for console? How can I do this ?

[2018-03-08 16:32] obaroikoh commented on #7417
The line I think you are looking for is on line 213. Now to answer your question. If you already have a certificate for console.thunder.io you can pass it a variable in ansible. See [docs](https://docs.openshift.com/container-platform/3.4/install_config/install/advanced_install.html#advanced-install-custom-certificates) for more

[2018-03-08 16:38] maximegy commented on #7417
it is a future problem "Verify API Server"
the file openshift-ansible/roles/openshift_node/tasks/config.yml at line 60 it's "Wait for master API to become available before proceeding"

[2018-03-08 16:40] maximegy commented on #7417
Verify API server Works fine, I wait to see if "Wait for master API to become available before proceeding" is working

[2018-03-08 16:42] maximegy commented on #7417
How can i create a cert for console ?

[2018-03-08 16:48] obaroikoh commented on #7417
my bad. I was looking at the wrong file.

Here's an easy way to get one `openssl req -x509 -nodes -days 365 -newkey rsa:2048 -keyout /path/to/new.key -out /path/to/new.crt`

[2018-03-08 16:48] maximegy commented on #7417
it block at openshift_manage_node : Wait for Node Registration

[2018-03-08 16:49] maximegy commented on #7417
[code]

[2018-03-08 16:52] maximegy commented on #7417
[code]

[2018-03-08 16:53] obaroikoh commented on #7417
Try again but this time with the -vvv tag. We need to know exactly what's wrong

[2018-03-08 16:54] maximegy commented on #7417
Could it be easier to create the OPC infra with only 3 Master 3Nodes and add the 2 nodes after ?

[2018-03-08 16:55] maximegy commented on #7417
`ansible-playbook -i ./ThunderInfra/inventory-glusterfs.ini openshift-ansible/playbooks/byo/config.yml -vvv`
?
Do I remove the -k i Add in the ansible file ?

[2018-03-08 16:59] obaroikoh commented on #7417
No don't remove it

[2018-03-08 17:01] obaroikoh commented on #7417
Honestly, I think the installation should work regardless of the number of nodes you are starting with. Removing nodes doesn't make it any easier. I may be wrong though

[2018-03-08 17:07] IronicBadger opened #7458 "Install fails on task: Copy client binaries/symlinks out of CLI image for use on the host"
#### Description

Provide a brief description of your issue here. For example:

When running the containerised 3.7 installer for Origin on Fedora Atomic 27 the install fails due to the following error

     Play:     Create OpenShift certificates for master hosts
     Task:     Copy client binaries/symlinks out of CLI image for use on the host
     Message:  Error copying file from docker containe

[2018-03-08 17:28] maximegy commented on #7417
I think about it because all the process on the 3 master/node work

[2018-03-08 17:47] obaroikoh commented on #7417
I just checked your hosts file again and I see that you don't have machines for nodes. Is there a reason for that?

[2018-03-08 17:48] maximegy commented on #7417
I use 5 VM, 3 Master/Node and 2 Node only

[2018-03-08 17:50] maximegy commented on #7417
I don't know if my inventory file is correct maybe there are missing options or there are poorly configured options

[2018-03-08 17:52] maximegy commented on #7417
because kubernetes can't be configured with only 2 master

[2018-03-08 17:57] obaroikoh commented on #7417
Though I am newbie like you, I think you don't need 3 masters for it to work. Let's try something out.

[code]

Look for the above in your host file and replace what you have with it. Then try again

[2018-03-08 20:06] rjhowe commented on #5204
Is this fixed now?

https://github.com/openshift/openshift-ansible/blob/release-3.7/roles/openshift_node/templates/openshift.docker.node.service#L38
https://github.com/openshift/openshift-ansible/blob/release-3.7/roles/nuage_node/vars/main.yaml#L27

Fixed via this commit?

https://github.com/openshift/openshift-ansible/commit/a468322fda65e49e0ef337d482945b6c5dd40270#diff-874c44ea72270336f5cdab25af

[2018-03-11 16:12] cmoulliard commented on #7449
Problem was that HD full and generated i/o error

[2018-03-11 16:12] #7449 closed

[2018-03-11 16:26] cmoulliard commented on #7379
I'm experimenting the same issue where the vm used to deploy ocp all in one contains 2 eth addresses

[code]

During creation, etcd is registered using the eth1 address -> `10.0.3.15:2379`

[code]
and of course the `origin-master-api` can't connect as `etcd` runs on the other address

[code]

Question:  Can we specify within the inventory the IP or hostname to be used by the origin-master-api to a

[2018-03-11 17:05] cmoulliard commented on #7131
I have also configured the parameters you suggested @jeffwji for an inventory used to install OCP 3.7 all in one on Centos7 where 2 NIC adapters have been created

[code]
Inventory
[code]

but then I get this certificate issue reported by the `master-api` as certificate is valid for 10.0.3.15, not 192.168.99.55

[code]

[2018-03-11 18:40] paidhi opened #7487 "minishift --metrics fails to start for v3.7.1"
#### Description

The option to enable metrics with `minishift` fails to deploy for OpenShift v3.7.1.

I reported this issue at https://github.com/minishift/minishift/issues/2110 but was asked to report it to OpenShift/origin instead. Since the problem seems to be a missing tag for `openshift/origin-ansible` on DockerHub I am guessing this is the correct place to report this problem.

##### Versio

[2018-03-11 19:03] cmoulliard opened #7488 "Task "Poll for OpenShift pod deployment success" fails"
When ansible playbook is executed on a Centos7 VM to install this all-on-config for OpenShift Origin 3.7

[code]

then this error occurs

[code]

Not sure what is the purpose of this task but pods, rc, dc, ... seems to be well created

[code]

[2018-03-12 08:46] AllezWiggo opened #7489 "ERROR! the role 'installer_checkpoint' was not found in ..."
#### Description

Provide a brief description of your issue here. For example:

Error while running script. Note that this machine does not have internet access.

##### Version

Please put the following version information in the code block
indicated below.

ansible 2.3.2.0
openshift-ansible 3.7

##### Steps To Reproduce
1. Exec script
[code]

##### Expected Results
[code]

##### Observed Results

[2018-03-12 10:07] vrutkovs commented on #7379
Yes, `openshift_ip` and `openshift_hostname` in the inventory should fix that

[2018-03-12 13:16] sbadakhc opened #7490 "Validate permissions on certificate files fails"
Description

[code]

Version Information

[code]

Error

[code]

Permissions
[code]

[2018-03-12 15:38] sbadakhc commented on #1591
Seeing this again here: https://github.com/openshift/openshift-ansible/issues/7490

[2018-03-12 15:38] sbadakhc commented on #1138
Looks like this is back? https://github.com/openshift/openshift-ansible/issues/7490

[2018-03-12 15:44] michaelgugino commented on #7490
@smarterclayton Perhaps your new patch broke this.

[2018-03-12 15:53] sbadakhc commented on #7490
Looks like the etcd package was not installed on the nominated hosts in the inventory.

etcd-3.2.15-1.el7.x86_64

[2018-03-12 15:54] karmab commented on #5668
supposedly , you can use the following variable to do the trick
openshift_storage_glusterfs_storageclass=true

[2018-03-12 15:56] michaelgugino commented on #7490
@sbadakhc master is broken ATM.  We are doing a lot of heavy refactoring.  If you need to actually deploy something with very recent code, please use the release-3.9 branch.

[2018-03-12 15:56] sbadakhc commented on #7490
OK thanks for the heads up.

[2018-03-12 18:01] jstuever commented on #5668
openshift_storage_glusterfs_storageclass_default=true

Was handled with #6182 after this issue was created.

[2018-03-12 19:06] jarrpa commented on #5668
Closing this issue, then. It can be reopened if someone still has a problem. :)

[2018-03-12 19:06] #5668 closed

[2018-03-12 22:10] mbruzek commented on #6471
I am also seeing this error, in my OpenShift cluster on OpenStack. It seems the install needs openshift_release to be "v3.9" but the openshift-node/scaleup.yml playbook failed with:
[code]

[2018-03-13 02:43] michaelgugino commented on #6471
@mbruzek
If you are attempting to pass openshift_release via extra_vars, it will fail if the 'v' is present.  We attempt to modify openshift_release during the playbook run, and extra_vars will not allow us to change values of variables defined there.

[2018-03-13 06:16] KiT106 opened #7503 "ERROR: Create local temp directory"
### Description

### Version
* Ansible version (`ansible --version`):
[code]

* `git describe`
[code]
* OS (`cat /etc/os-release`)
[code]
### Steps To Reproduce
Run bellow command:
[code]
### Observed Results
[code]
I found that error from this task, but why `local_action` require *sudo* password???
[code]

[2018-03-13 07:47] harcharanahuja commented on #7489
We were able to fix this by changing ansible.cfg to include "openshift-ansible-3.7/openshift-ansible/roles/" in roles_path.
Now we're getting syntax errors:
``

[2018-03-13 07:48] harcharanahuja commented on #7489
We were able to fix this by changing ansible.cfg to include "openshift-ansible-3.7/openshift-ansible/roles/" in roles_path.
Now we're getting syntax errors:

[2018-03-13 14:37] Loganmeraki commented on #3034
I am also receiving the same issue while trying to run the OCP 3.7 install. Has a cause been found  ?

[2018-03-13 16:41] mbruzek commented on #6471
@michaelgugino The hosts.example inventory file lists the openshift_release with a "v3.9" in the value. It has to be "v3.9" for install, and "3.9" for scale up. This is very confusing and I think we need to change the scaleup playbook to accept the install value.

https://github.com/openshift/openshift-ansible/blob/master/inventory/hosts.example#L54

[2018-03-13 17:34] michaelgugino commented on #6471
@mbruzek we don't make any changes to openshift_release during scaleup that would be different from normal install.

Please provide exact steps to reproduce, including everything entered on the command line.

[2018-03-13 20:47] mbruzek commented on #6471
@michaelgugino you are right we are using the 'extra_vars' option when running the scaleup.yml playbook.
[code]
The OSEv3.yml playbook is in the `inventory` directory, but at one point during my testing I thought the OSEv3 file was not getting picked up. I will try again without specifying `-e` option.

[2018-03-14 10:58] mfojtik opened #7518 "OpenShift Health Checks: Some required package(s) are available at a version that is higher than requested docker-1.13.1"
Seen here: https://openshift-gce-devel.appspot.com//build/origin-ci-test/pr-logs/pull/18954/test_pull_request_origin_extended_conformance_install/9058/

[code]

[2018-03-14 12:16] lostiniceland commented on #6639
I having the same issue. The firsts workaround seems to work but the TBS workaround isnt...since there is no route at all in my system for this.

Since I am using a openshift_master_default_subdomain=apps.mydomain I thought the playbook is not respecting this setting but the underlying problem seems to be that the internal DNS is not working (see [this comment](https://github.com/openshift/openshi

[2018-03-14 12:49] lostiniceland commented on #6639
I got TBS check passing by using the path provided in [this PR](https://github.com/openshift/openshift-ansible/issues/7158#issuecomment-365867366)

[2018-03-14 12:52] riy commented on #6639
Hmm... please elaborate... not sure what path you mean. Thanks, Marc!

[2018-03-14 12:55] lostiniceland commented on #6639
I meant patch :-)

[2018-03-14 12:57] riy commented on #6639
Aah, danke :-)

[2018-03-14 13:34] allen13 commented on #6921
This is still an issue in the latest master. Additionally, I've filed a bugzilla report directly to Red Hat a month ago. Would like to see this issue resolved as it is fairly simple to fix. Yedit just needs to use append as opposed to overriding the whole list.

[2018-03-14 14:52] sbadakhc opened #7525 "GlusterFS pods fail v3.7"
ENVIRONMENT GCE

[code]

ERROR
[code]
INVENTORY

[code]

[2018-03-14 14:56] stevekuznetsov commented on #7518
This affects release-3.7 branch.

[2018-03-14 14:58] stevekuznetsov commented on #7518
Do we want to address this with an excluder?

[2018-03-14 15:02] sbadakhc commented on #7525
Pod status:
[code]

[2018-03-14 15:05] sbadakhc commented on #7525
I have noticed that even though I have set the ports for the api I cannot connect to the console:

[code]
When I run the ansible config playbook it also overwrites the admin.kubeconfig file with the 8443 port.

[2018-03-14 15:08] sbadakhc commented on #7525
Here is the output from the diagnostic:

[code]

[2018-03-14 15:19] sbadakhc commented on #7304
This could be related: https://github.com/openshift/openshift-ansible/issues/7525

[2018-03-14 15:20] fraenkel opened #7527 "Rewriting journald.conf clobbers some of the lines"
The regex used when rewriting journald has an issue when there is no content after =.
For example, given the following partial initial journald.conf:

#SystemMaxUse=
#SystemKeepFree=

The regex will match SystemMaxUse but actually continue to the end of the next line.
This happens with at least 3 of the items in our case where we have lines with blanks after the =.
The end result is that certain c

[2018-03-14 15:20] fatherlinux commented on #7144
I just ran into this exact same problem with a three node (single master, two nodes) install on RHEL 7.4 and OCP 3.7. The cluster seems to  be up and running afterwards, but the installer stopped at Play 83.

One other strange thing I noticed was that there are two pods running for Registry and Router. I looked at another OCP 3.7 install and this doesn't seem normal.

[2018-03-14 15:25] #7385 closed

[2018-03-14 18:26] fatherlinux commented on #6377
Looks like #6377 could be the same as https://github.com/openshift/openshift-ansible/issues/7144

[2018-03-14 18:31] #7162 closed

[2018-03-14 20:04] tzumainn opened #7532 "OpenShift on OpenStack deployment fails on "Apply the SDN config" step"
#### Description

Deploying OpenShift on OpenStack off of master results in an error when running the "Apply the SDN config" step.

##### Version
[code]

openshift-ansible-3.10.0-0.4.0-117-g6589945

##### Steps To Reproduce
1. Setup environment as described in https://github.com/openshift/openshift-ansible/blob/master/playbooks/openstack/README.md
2. Run 'ansible-playbook --user openshift -i opens

[2018-03-14 23:53] mshahat commented on #7487
same here +1

[2018-03-15 08:11] naumannt commented on #7518
Have the same problem when trying to install a cluster using [openshift-ansible-contrib](https://github.com/openshift/openshift-ansible-contrib). Is there a way to work around this without disabling the version checks, or would that be safe?

[2018-03-15 10:06] mgrzybek opened #7534 "openshift_hosted_registry_storage_openstack_volumeID variable is not used by playbooks"
#### Description

According to the official documentation (https://docs.openshift.org/latest/install_config/install/advanced_install.html#advanced-install-registry-storage), the following variables can be set, for example:
[code]
Looking for their usage by the playbooks leads me to the conclusion that some of them are ignored. For example:
[code]
I can only find `openshift_hosted_registry_storage_

[2018-03-15 10:08] wenj1104 commented on #6740
@elad661 Can you please tell me the version that you tested?

[2018-03-15 10:10] kargakis commented on #4111
Seeing this issue when trying to install origin
[code]
[code]
[code]

[2018-03-15 13:51] mrsiano opened #7538 "verify-nodes-alt PR brakes the grafana node insurance task"
#### Description
Currently the grafana installation uses Enure has nodes to run task which use the lib_utils_oo_has_no_matching_selector
this lib_utils_oo_has_no_matching_selector code dropped by the following commit
https://github.com/openshift/openshift-ansible/commit/a016c8a6baa87536ae380664526fe59105df1d26

we can roll it back or use the same way as prometheus installation work
https://github.

[2018-03-15 13:51] mrsiano commented on #7538
@abutcher @mjudeikis

[2018-03-15 14:08] mrsiano commented on #7538
please ignore this one, I see it fixed already

[2018-03-15 14:08] #7538 closed

[2018-03-15 15:06] paddy235 opened #7541 "openshift_storage_glusterfs : Deploy deploy-heketi pod is Fail"
#### ENVIRONMENT GCE
[code]
#### INVENTORY

[code]
##  ERROR

[code]

[2018-03-15 15:40] paddy235 commented on #7541
[code]

[2018-03-15 15:41] paddy235 commented on #7541
## deploy-heketi-storage-AS5uUf

[code]

[2018-03-15 16:25] paddy235 commented on #7541
[code]

[2018-03-15 19:00] stevekuznetsov commented on #7518
Don't have a version of `docker` available that's higher than you need -- `yum` will install it instead of whatever you ask for.

[2018-03-15 21:37] liggitt opened #7544 "create safeguards after etcd migration to prevent reverting to v2 data store"
I would like to see us do something like this in the migration playbook, after migration, prior to starting the API servers:

1. ensure an etcd backup has been taken

2. remove v2 data after the migration completes and etcd is brought back up, **before any API servers are started** (it is possible this can timeout... not sure if it needs to be retried until successful or given a longer timeout wit

[2018-03-15 21:37] liggitt commented on #7544
@sdodson @blrm

[2018-03-16 02:37] sdodson commented on #7544
/assign vrutkovs

On Mar 15, 2018 5:37 PM, "Jordan Liggitt" <notifications@github.com> wrote:

[2018-03-16 09:47] dungdm93 opened #7548 "Metrics: CPU & MEMORY Usage not working..."
I'm install OpenShift on Google Cloud Platform.
It's success and everything look good:
[code]
However, metrics: CPU & MEMORY Usage not working...
![image](https://user-images.githubusercontent.com/6848311/37513944-0d155ee2-2939-11e8-80f8-a71582be8710.png)
My config:
[code]
I have try many time, but I got the same problem. Any idea???

[2018-03-16 16:48] saurabhtandon13 commented on #7548
Hello,

Can you please let me know what is the output when you open the metrics route from the browser.

[2018-03-16 17:56] mbruzek commented on #7316
I haven't seen this problem in a several deploys so closing this issue

[2018-03-16 17:56] #7316 closed

[2018-03-16 19:54] blrm commented on #7544
@sdodson @liggitt I think this change should be included in the updated playbook we'll be using for the etcd migrations next week. If that can't happen in time, are the steps above all that we need to manually do this after the cluster is migrated and is confirmed to be using etcdv3?

[2018-03-16 21:40] liggitt commented on #7544
For safety, those steps should be performed **prior** to any API server starting after a migration. Since the playbook does the migration and the apiserver restart, I think those steps need to be part of the playbook.

[2018-03-16 22:03] mkgin commented on #7417
I ran into something similar... first attempt deploying a test cluster with the scripts and rpm based install.
Will have another look on Monday....

[code]
1 master, 2 nodes
openshift-ansible v3.7.0
ansible 2.3.2.0
CentOS-7.4

[2018-03-17 00:16] michaelgugino commented on #7544
I like the systemd masking idea @eparis suggested instead of the fix suggested here.  Seems much easier to implement and roll back if needed;  We do allow for etcd migration failure.

[2018-03-17 00:18] liggitt commented on #7544
Without this, the apiserver is one mis-indented config file away from reverting to v2 mode. Once etcd migration *completes*, we should make it impossible start in v2 mode.

[2018-03-17 12:22] fenggolang opened #7564 "Can I specify the namespace of ImageStream and Template?"
Can I specify the namespace of ImageStream and Template, not the default openshift namespace?

[2018-03-18 07:10] DanyC97 commented on #7304
@randy280872 so what does the output of `systemctl status origin-master-api.service` & `journalctl -xe` show?

[2018-03-18 07:50] DanyC97 commented on #5692
@liggitt not sure if you got any notification since the [ref](https://github.com/kubernetes/kubernetes/issues/11543) issue is closed.

Any chance can you comment if what i've done [here](https://github.com/kubernetes/kubernetes/issues/11543#issuecomment-373979012) and that should be the expected fix for the current issue?

[2018-03-18 09:55] randy280872 commented on #7304
@DanyC97 , please see output below;
Mar 18 11:54:34 dae-opsmaster-2.digitaldev.local systemd[1]: Failed to start Atomic OpenShift Master Controllers.
-- Subject: Unit origin-master-controllers.service has failed
-- Defined-By: systemd
-- Support: http://lists.freedesktop.org/mailman/listinfo/systemd-devel
--
-- Unit origin-master-controllers.service has failed.
--
-- The result is failed.
Mar 18 1

[2018-03-18 14:37] liggitt commented on #5692
@DanyC97 the kubeletPreferredAddressTypes arg goes in master config under apiserver arguments

[2018-03-18 15:43] nrwahl2 commented on #7518
Found the following:

-  atomic-openshift-docker-excluder allows docker-1.13 on OpenShift 3.7 (https://bugzilla.redhat.com/show_bug.cgi?id=1554174)
- OpenShift 3.7 now has docker-1.13, or are failing to install/update as a result. (https://access.redhat.com/solutions/3376031)

[2018-03-19 05:41] dungdm93 commented on #7548
@saurabhtandon13
[code]
Or you could see full logs file here: [hawkular-metrics-m4rb8.log](https://github.com/openshift/openshift-ansible/files/1823815/hawkular-metrics-m4rb8.log)

[2018-03-19 05:48] dungdm93 commented on #7548
@saurabhtandon13
![image](https://user-images.githubusercontent.com/6848311/37579950-b6756e64-2b73-11e8-80a9-bb60a2d5d6fc.png)
Then it redirect to `hawkular/metrics/ui/index.html`
![image](https://user-images.githubusercontent.com/6848311/37579969-d329c3b6-2b73-11e8-91be-3726348479e6.png)

[2018-03-19 06:33] saurabhtandon13 commented on #7548
Hello,
Looks like the POD are up and running, on the other hand application doesn't come up. Kindly check the below POD logs

# oc logs -f  hawkular-metrics-s97df

# oc logs -f  hawkular-cassandra-1-lfz9z

if there is any java error or the error is related to the application not able to connect to DB. Kindly restart the metrics pods via below command.

# oc delete pod <hawkular-metrics-s97df> and

[2018-03-19 09:03] DanyC97 commented on #5692
thanks a bunch @liggitt , i'll give it a try and report back.

Initially i've done https://github.com/kubernetes/kubernetes/issues/11543#issuecomment-373978371 but not much luck.

[2018-03-19 09:09] vrutkovs commented on #7304
Before the master is setup the etcd cluster should be up.

Please run
[code]
instead of per-component playbooks

[2018-03-19 09:11] vrutkovs commented on #7564
Which imagestream is that? Is the the one openshift-ansible creates - or is it for your application on top of setup cluster?

[2018-03-19 13:04] geoand opened #7567 "Unable to create Openshift 3.7 from byo/config.yml due to mixed versions of RPMs"
#### Description

As of today (19/03) I am unable to create a non containerized Openshift Origin using the `byo/config.yml` playbook.
The playbook is run against a clean CentOS 7.4 VM.

The very high level explanation I can come up with is that with the advent of the `3.7.1` RPMs in http://mirror.centos.org/centos/7/paas/x86_64/openshift-origin37/ (which seem to have landed today), the playbook no

[2018-03-19 13:35] tdudgeon commented on #7567
I also hit exactly the same problem today.
Key things were:

1. need to add this property to get things moving:
openshift_pkg_version=-3.7.1

2. Once set hit the `Unknown short_version 3.10` error.

Seems something got badly broken.

This was using release-3.7 branch of openshift-ansible.

[2018-03-19 13:56] stevekuznetsov commented on #7518
/cc @sdodson sounds like an excluder bug

[2018-03-19 14:04] cmoulliard commented on #7567
2 remarks :

- Documentation should be improved in order to explain for `containerized ` and `non containerized ` environment how rpms packages are resolved and if not yet there, how they are downloaded (mirror server for centos, fedora, rhel)
- Version, package_version, release and image_tag should be better documented including also how the number should be passed. Some examples are required !

[2018-03-19 14:15] cmoulliard commented on #7567
Here is the detail

[code]

[2018-03-19 15:11] michaelgugino commented on #7567
Full debugging output would be helpful.  The role openshift_version is responsible for setting openshift_version among other version-related variables.  openshift.common.short_version is set by openshift_facts.

Also, can you post the value of openshift.common.short_version from the file /etc/ansible/facts/openshift.fact here?

[2018-03-19 15:23] flipkill1985 opened #7569 "New Install Openshift Origin 3.7 (No package matching)"
New Installation Centos 7 and i get this Error:

No package matching 'origin-clients-3.10.0' found available, installed or updated

Whats the Reason?

best regards Jan